[2020-04-14 21:43] cckozie opened #6847 "Problem detecting reset alignments in upgraded (migrated) projects"
2.2.0 (a9c8b0c)
Project at https://drive.google.com/open?id=1nkSWNnvqHw_QVDaU5dIzNf9GZetrEB4Y

This project came from the field in India. I'm not sure when it was started, but it did get migrated to 2.1.0 and then to 2.1.1 and to 2.2.
1. Unzip the project into the projects folder (Save the zipped file for later use)
2. Open the 3-dot menu and choose Upload to Door43
3. When presented with the alig

[2020-04-14 21:48] cckozie commented on #6802
Passed this problem to content team. Assuming it's their problem.

[2020-04-14 23:37] joeldruark commented on #6802
The snippet in Jonah 1:2 should be fixed now.

[2020-04-15 05:57] da1nerd commented on #6840
It should be noted somewhere that using a VPN may cause fetching the sources to fail. After a few failed attempts, I remembered to turn off my VPN and things started working again.

[2020-04-15 12:22] PhotoNomad0 commented on #6846
@cckozie - This failure is because we are in the process of merging sandbox-electronite into develop. We have the tools merged in, but got stuck merging in the main app in due to github actions being down much of the afternoon.

[2020-04-15 12:30] PhotoNomad0 commented on #6819
@elsylambert - Is this failure on Windows? Do you have a project I can use to reproduce this?

It looks like broken resources.

[2020-04-15 12:40] PhotoNomad0 commented on #6816
@cckozie - ~not seeing this.  Did USFM import of 1jn, 2jn, and 2pe.  Then went back and opened 1jn - no prompt.~ See this on translationCore 2.2.0 (46f316b), but not seen in development environment.

[2020-04-15 12:52] PhotoNomad0 opened #6848 "Invalid date on installed app"
## Story Explanation
### User Story

See problem with date of app after install.  Since it is so old, could this be the build date of the electron module?

![Screen Shot 2020-04-03 at 11 43 27 AM](https://user-images.githubusercontent.com/14238574/78379516-7c5e6680-75a0-11ea-941a-83bcc309b473.png)

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Addi

[2020-04-15 13:01] PhotoNomad0 commented on #6837
@elsylambert These two words are not exactly the same.  There is a different accent toward the end:

![Screen Shot 2020-04-15 at 8 58 05 AM](https://user-images.githubusercontent.com/14238574/79339861-8153dc00-7ef7-11ea-82b3-d54f4e8f0748.png)
![Screen Shot 2020-04-15 at 8 58 13 AM](https://user-images.githubusercontent.com/14238574/79339874-86b12680-7ef7-11ea-91ae-fa67e0b30276.png)

[2020-04-15 13:15] elsylambert commented on #6831
2.1.2 (44c92e9).
Seeing one content error in Windows and Mac build under the tN category of grammer-connect-time-simultaneous  in Ruth 3:8.
<img width="1792" alt="Screen Shot 2020-04-15 at 9 12 55 AM" src="https://user-images.githubusercontent.com/51806180/79341356-a8aba880-7ef9-11ea-9f4f-f0bb15538bfc.png">
For Review @cckozie

[2020-04-15 13:30] cckozie opened #6849 "Train QA on the details of how tN checks work"
QA personnel should have an understanding of how tN checks work so that they can make an initial determination of whether the problem with checks is a bug in tC or a content problem.
- Where the check data comes from
- Where the check data is stored
- How tC determines what to highlight
- How to validate the content
- What type of problems do we typically see in the content
- Is there a safe way t

[2020-04-15 13:37] #6806 closed, assigned to mannycolon

[2020-04-15 13:38] elsylambert commented on #6819
@PhotoNomad0 Here is the project:
[en_test_3jn_book.zip](https://github.com/unfoldingWord/translationCore/files/4481486/en_test_3jn_book.zip)

[2020-04-15 13:53] birchamp commented on #6822
DoD: all books export to CSV with alignments.

[2020-04-15 14:01] birchamp commented on #6824
@cckozie can you add a screenshot to this?

[2020-04-15 14:21] elsylambert opened #6850 "Duplicate check in tW"
2.1.2 (44c92e9).
Seeing duplicate checks in tW for Ruth 4:17 under the category "Sons" and not able to fix the invalidation.
![image](https://user-images.githubusercontent.com/51806180/79348599-34760280-7f03-11ea-89b9-23927d397d0c.png)
Here is the project:
https://git.door43.org/ElsyLambert/en_ult_rut_book

[2020-04-15 14:21] elsylambert commented on #6850
This was fixed in 2.1.1.

[2020-04-15 14:25] elsylambert commented on #5520
2.1.2 (44c92e9). Seeing the invalidations removed in wA when the invalidated verse is opened.

[2020-04-15 14:43] cckozie commented on #6824
This appears to have been fixed in 2.2.0 (5214923). (Possibly by the css issue?)
Need to do more testing.

[2020-04-15 16:02] cckozie commented on #6850
I verified that this was not a problem in 2.1.1 even with the latest resources.
After upgrading to 2.1.2, I am not seeing it in the upgraded project or in a newly imported one. Testing now with a clean install and a new usfm project. Not seeing the problem there either.
The duplicate checks did not show in 2.1.0, but they did in 2.1.1.

[2020-04-15 16:02] elsylambert commented on #5520
This was not part of 2.1.0 Release

[2020-04-15 16:02] #5520 closed, assigned to PhotoNomad0

[2020-04-15 18:36] PhotoNomad0 commented on #6822
@elsylambert @cckozie  - there is a broken selection entry in the titus project.  It looks like the project was one I used for testing (since it has my username in it).  Making the CSV export more robust and improving the logging.  It would surprise me if exporting this would work on older tC versions.

So far not having any problems exporting the rev project.  Will do a little more checking.

[2020-04-15 20:21] PhotoNomad0 commented on #6850
@elsylambert @cckozie @birchamp - looking at the project data in ~/translationCore/projects/en_ult_rut_book/.apps/translationCore/index/translationWords/rut/son.json it looks like contains duplicate entries for 4:17 son.  Not sure how that happened unless it was used to test a develop branch that had breakage (i.e. it is a broken project).

Anyway it looks like even though on project import we upd

[2020-04-15 21:24] #6805 closed, assigned to mannycolon

[2020-04-15 21:41] mannycolon commented on #6829
Verified on 92d4a69

[2020-04-16 01:03] da1nerd commented on #6840
If you encounter errors while downloading the source, check the errors in the console. You may need to remove a lock file from the git cache. Sometimes I'll delete the last cached repo it was working on as well just to be safe.
You'll also need to delete the electron-gn folder.

[2020-04-16 04:51] mannycolon commented on #6815
<img width="1275" alt="Screen Shot 2020-04-16 at 12 50 22 AM" src="https://user-images.githubusercontent.com/17072300/79415833-51025100-7f7c-11ea-9c43-4b2e289172db.png">

[2020-04-16 07:48] da1nerd commented on #6840
Putting together a release. https://github.com/unfoldingWord-dev/electronite/releases/tag/v7.2.1-graphite

Just waiting on the macOS build to finish.

[2020-04-16 07:50] da1nerd commented on #6843
that's because the build number is stored in an env file. The release process add this automatically, but if you just run it on your local machine it's blank.

[2020-04-16 10:44] PhotoNomad0 opened #6852 "Invalid check warning and then crash screen, but check is not invalid"
## Story Explanation
### User Story

When I opened a rev project in tN and selected check `Abstact Nouns` revelation 1:6, I see invalid check warning.  And when I click ignore I see a crash screen and get this error:
![Screen Shot 2020-04-16 at 6.28.06 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/ef646817-7216-408e-bdd7-9c772a8095ba)

This may be caused by a race condition

[2020-04-16 11:45] PhotoNomad0 commented on #6843
@neutrinog - I think you need to investigate further.  This is only an issue on LInux - Mac and Windows are fine.  The webpack configuration does copy the .env file.

[2020-04-16 13:49] PhotoNomad0 commented on #6852
It looks like resources are not being cleared from tN when project is changed.  Error message says for rev, but current project is mat.

![Screen Shot 2020-04-16 at 9 48 19 AM](https://user-images.githubusercontent.com/14238574/79464055-9b5cef80-7fc7-11ea-83e8-99b112313f22.png)

[2020-04-16 13:54] PhotoNomad0 commented on #6819
@elsylambert - Thanks for the project, but I am not seeing a problem in the latest build.

[2020-04-16 17:00] PhotoNomad0 commented on #6852
It looks like resources are not being cleared from tN when project is changed.  Error message says for rev, but current project is mat.

![Screen Shot 2020-04-16 at 9 48 19 AM](https://user-images.githubusercontent.com/14238574/79464055-9b5cef80-7fc7-11ea-83e8-99b112313f22.png)

[2020-04-16 18:13] PhotoNomad0 commented on #6830
This is in translationCore 2.2.0 (a352530), but not testable by QA.  Only testable running in develop mode.

[2020-04-16 18:16] PhotoNomad0 commented on #6822
verified in translationCore 2.2.0 (a352530)

[2020-04-16 18:18] PhotoNomad0 commented on #6815
verified in translationCore 2.2.0 (a352530)

[2020-04-16 20:22] cckozie opened #6856 "Latest Hindi IEV and IRV are not in the 2.1.2 build"
2.1.2 (44c92e9)
<img width="563" alt="hi_resources" src="https://user-images.githubusercontent.com/8171759/79503128-42588000-7ff6-11ea-8bea-96efba02ef87.png">

[2020-04-16 22:15] mannycolon commented on #6816
verified in translationCore 2.2.0 (a352530)

[2020-04-17 12:21] PhotoNomad0 commented on #6824
@cckozie - I see it in tN verse edit (a352530) as well as in SP.

[2020-04-17 14:37] mannycolon commented on #6723
Use https://github.com/neutrinog/react-app-electron-template

[2020-04-17 16:58] mannycolon commented on #6723
Current Work can be found in https://github.com/mannycolon/electronite-poc-app

[2020-04-17 17:09] PhotoNomad0 commented on #6852
Verified in translationCore 2.2.0 (02533e8)

[2020-04-20 12:59] cckozie commented on #6852
Also see #6739 when testing this.

[2020-04-20 15:52] cckozie opened #6857 "Multiple tN checks highlighted simultaneously"
2.1.2 (44c92e9)
[hi_tit.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4504628/hi_tit.usfm.zip)
[hi_hind_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4504631/hi_hind_tit_book.zip)

This is a newly imported Hindi USFM project using the latest resources. Note that multiple checks are highlighted, and that one of them shows an English note in the smurf bar ev

[2020-04-20 16:52] elsylambert commented on #6819
Not Seeing this issue with the project in 2.2.0 (02533e8)

[2020-04-20 16:56] elsylambert opened #6858 "Critical error screen in tN"
**IGNORE THIS TOP COMMENT. THIS ONE ERROR CASE WAS MOVED TO #6790**

2.2.0 (02533e8) .

Got critical error screen when traversing through the checks in tN. This project was opened and looked fine in 2.1.1 and 2.1.2.
<img width="1904" alt="Screen Shot 2020-04-06 at 9 36 28 AM" src="https://user-images.githubusercontent.com/51806180/79778171-55c15f00-8306-11ea-8284-54d8d518b6c3.png">

Here is the pr

[2020-04-20 17:19] elsylambert commented on #6857
Seeing the same problem in 2.1.1 Release build 2.1.1 (17b9e26). Found it in HIndi 3Jn too along with the Titus projects.

[2020-04-20 21:22] cckozie commented on #6036
Larry found this one in 2.1.1
![image](https://user-images.githubusercontent.com/8171759/79801121-240ac100-8323-11ea-84b5-ff68a8d0fc9d.png)

[2020-04-20 21:32] cckozie commented on #6812
Looks good in 2.2.0 (02533e8)

[2020-04-20 21:37] cckozie commented on #6820
Looks good in 2.2.0 (02533e8)

[2020-04-20 21:45] lrsallee commented on #6036
Above is in Acts 1:18.

[2020-04-20 21:46] cckozie opened #6860 "Critical errors screen when opening wA"
2.2.0 (02533e8)
[en_test_act_book (1).zip](https://github.com/unfoldingWord/translationCore/files/4506356/en_test_act_book.1.zip)
[en_ult_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4506358/en_ult_tit_book.zip)
Load the Acts project in wA
Then try to load the Titus project in wA
![image](https://user-images.githubusercontent.com/8171759/79802721-1c98e700-8326-11ea-81af-274

[2020-04-20 21:50] cckozie commented on #6790
Seeing the same console error and error screen in 2.2.0 (02533e8) using these 2 projects
1. [en_test_act_book (1).zip](https://github.com/unfoldingWord/translationCore/files/4506382/en_test_act_book.1.zip)
2. [en_ult_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4506384/en_ult_tit_book.zip)

[2020-04-20 21:51] cckozie commented on #6860
Dup. Same console error as in #6790

[2020-04-20 21:51] #6860 closed, assigned to nobody

[2020-04-20 21:58] cckozie commented on #6823
2.2.0 (02533e8)
I set the scripture pane to this arrangement:
![image](https://user-images.githubusercontent.com/8171759/79803631-f6744680-8327-11ea-8473-8cd79ec0eab8.png)
I closed and restarted tC. The scripture pane was rearranged to this:
![image](https://user-images.githubusercontent.com/8171759/79803721-258ab800-8328-11ea-9f01-eb40bcb84315.png)

[2020-04-20 22:03] cckozie commented on #6846
Not seeing the problem in 2.2.0 (02533e8). Assume Bruce is correct.

[2020-04-20 22:07] cckozie commented on #6815
Those links all work in 2.2.0 (02533e8)

[2020-04-20 23:44] elsylambert commented on #6812
2.2.0 (02533e8). tW tool has the icon showing up correctly.

[2020-04-20 23:46] elsylambert commented on #6820
Not seeing this issue in 2.2.0 (02533e8).

[2020-04-20 23:49] elsylambert commented on #6815
Looks good in 2.2.0 (02533e8).

[2020-04-21 00:21] PhotoNomad0 commented on #6823
@cckozie @birchamp  - I think this has always been the SP behavior : that target language is placed first and original language is second.  I do believe Spidel created an issue to allow complete customization of the order but we have never implemented it.

[2020-04-21 08:35] da1nerd commented on #6840
waiting to hear back from npm. I accidently published `electronite` without updating the types. Now it won't let me republish that same version.

[2020-04-21 10:12] PhotoNomad0 commented on #6857
@cckozie - following these steps -

- removed resources folder
- started 2.1.2
- upgraded Hindi resources
- open project
- start tn
- get warning that GL uses older Original Language than most recent (hi tN based on ugnt 0.8)
- click continue
- scroll down to `भाववाचक संज्ञा` (figs-abstractnouns) and select
- only see one entry:

![Screen Shot 2020-04-21 at 6 08 56 AM](https://user-images.githubus

[2020-04-21 10:29] PhotoNomad0 commented on #6857
@cckozie - following these steps -

- removed resources folder
- started 2.1.1
- upgraded Hindi, English, and Greek resources
- open project
- start tn

- scroll down to भाववाचक संज्ञा (figs-abstractnouns) and select
- see five entries (as in first screenshot in description - only 1st is Hindi, the next 4 are actually English checks.  This is the same list as in the original project.

[2020-04-21 10:40] PhotoNomad0 commented on #6857
@cckozie - when the hi resources are updated, it will update checks in the project when it is opened.

Will need the steps you followed to create this project before I know for sure, but I suspect that if we updated the hi resources to the latest in tC 2.1.2, this project would be corrected when opened and it would not be easy to recreate the corrupted checks in the project.

[2020-04-21 14:05] cckozie commented on #6823
The scripture resource locations are now as they were prior to 2.2. When reopening a project after a different project, or after a tC restart, the target language is forced to the leftmost pane and the original language is set next to it.
Maintaining the user's arrangement for the project will be handled by #3672.

[2020-04-21 14:06] cckozie commented on #6856
It was decided to not include this in the 2.1.2 release.

[2020-04-21 14:06] #6856 closed, assigned to nobody

[2020-04-21 16:10] cckozie commented on #6822
Exports succeed in 2.2.0 (02533e8) for attached projects and others at random.

[2020-04-21 16:29] cckozie commented on #6816
Not seeing the problem in 2.2.0 (02533e8)

[2020-04-21 16:40] cckozie commented on #6852
Not seeing the problem in 2.2.0 (02533e8). The steps outlined in #6739 do not create any invalid content alerts, and there are no related errors in the console.

[2020-04-21 17:29] cckozie commented on #6621
2.2.0 (02533e8)
The examples noted above (A,B, and C) are now displayed as links, but there are still some issues as noted below.
@birchamp - Please weigh in my color suggestion in the third image below, and on Problem B.
Problem A:
The link text color needs to be a color that has more contrast to the blue background. As is it is barely visible, and virtually invisible after the link has been clic

[2020-04-21 17:43] cckozie commented on #6351
Copied from comments on #6621
2.2.0 (02533e8)
The examples noted on #6621 (A,B, and C) are now displayed as links, but there are still some issues as noted below.
@birchamp - Please weigh in my color suggestion in the third image below, and on Problem B.

Problem A:
The link text color needs to be a color that has more contrast to the blue background. As is it is barely visible, and virtually invi

[2020-04-21 18:39] elsylambert commented on #6816
Not seeing this issue in 2.2.0 (02533e8).

[2020-04-21 19:09] birchamp commented on #6351
@cckozie @neutrinog yes the links should be #3FB7FA and stay that way even after they are clicked.

[2020-04-21 19:16] #6727 closed, assigned to PhotoNomad0

[2020-04-21 20:05] PhotoNomad0 commented on #6824
verified in translationCore 2.2.0 (5774fcc)

[2020-04-21 22:25] mannycolon commented on #6843
Verified on d8fd543

[2020-04-22 02:52] elsylambert commented on #6822
Verified in 2.2.0 (02533e8). Export to CSV is working fine for the attached projects and few other existing projects.

[2020-04-22 02:56] elsylambert commented on #6823
2.2.0 (02533e8). Seeing Target language to the leftmost column, Original language and then the additional resources added to the Scripture pane.

[2020-04-22 04:16] da1nerd commented on #6840
I have heard nothing from npm on republishing over a release. So I'm going to create a new tag on electronite and republish the package as `7.2.1-graphite` on npm. Because of how the packages `electronite-packager` and `electronite` are configured, the github tag will need to be named `v7.2.1-graphite-graphite`.

After these changes electronite can be used as usual. The only difference will be the

[2020-04-22 04:42] da1nerd commented on #6840
the release is complete.

[2020-04-22 04:43] da1nerd commented on #6661
I think this should be closed now. We are already on to 7.2.1

[2020-04-22 04:46] da1nerd opened #6863 "Document the electronite build process"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-22 04:46] da1nerd commented on #6840
I opened #6863 for writing up some nice documentation.

[2020-04-22 06:18] da1nerd commented on #6863
I put the documentation in the wiki https://github.com/unfoldingWord-dev/electronite/wiki.
I'm going to check how hard it will be to create a script for windows as well. That would simplify it a lot.

[2020-04-22 08:31] da1nerd commented on #6863
Creating a windows script was actually pretty simple. I'm testing it now on electron 7.2.3

[2020-04-22 08:58] da1nerd commented on #6351
@cckozie should `UST` be in the note in the first place? Should the actual note content be updated?

Also, I'm not certain if there is a way to display the "See also" all on one line for all languages. I could however prevent the link text from breaking across a line.

[2020-04-22 09:13] da1nerd commented on #6351
@cckozie where is that example with the broken link? The book is not shown in the screenshot.

[2020-04-22 09:59] da1nerd commented on #6351
I opened a [PR](https://github.com/unfoldingWord/tc-ui-toolkit/pull/258) that so far fixes the link colors and prevents the link words from wrapping.

![Peek 2020-04-22 16-39](https://user-images.githubusercontent.com/166412/79968561-7af6ce80-84ba-11ea-8bb9-1b97bafa985c.gif)

[2020-04-22 12:57] birchamp commented on #975
Proposed text for Archive only. This will need to be changed if we add restore:

"Archiving this project will remove the project from the project list, but it will continue to store the project on your computer. If you wish to continue, click Archive Project below."

[2020-04-22 13:12] birchamp commented on #6351
"UST" should continue to be displayed as it is in the content.

[2020-04-22 14:56] birchamp commented on #975
This mockup supersedes the one above![archive alert.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/af1c551f-e413-4831-a227-4c01a033fafe)

[2020-04-22 15:43] birchamp commented on #6634
@cckozie or @elsylambert can you look into Robert's question above: Is this just a display bug or actually in the project data?

[2020-04-22 15:47] birchamp commented on #6405
@cckozie can we put this is QA watch or close it?

[2020-04-22 16:01] #6689 closed, assigned to nobody

[2020-04-22 16:02] birchamp commented on #6689
Closing this issue as it is only happening for this specific project. If we see it happen again we will re-address it.

[2020-04-22 16:14] elsylambert commented on #6634
@birchamp Seems like a display bug in  2.2.0 (02533e8). I followed the below steps:
1. Edited a fully aligned verse by changing the word order of two words that were aligned to a single greek word.
2. The broken link appears but the word order does not change and the verse stays fully aligned.
3. I closed the project and re-opened it and found that the word order were changed as per the edit.

[2020-04-22 16:38] cckozie commented on #6351
@neutrinog I assume you're referring to Problem D as the broken link. All of the screenshots are from a Titus project. (sorry I didn't include that)

[2020-04-22 16:44] cckozie commented on #6405
@birchamp - Close it if you'd like. QA Watch List is primarily for watching for things that we think may be related to issues being worked on.

[2020-04-22 17:31] cckozie commented on #6824
Looks good in 2.2.0 (d8fd543)

[2020-04-22 18:38] birchamp commented on #6847
@cckozie is the issue of no invalidations shown only happening for this project above or for any project that is unzipped into the project folder?

[2020-04-22 18:43] birchamp commented on #6756
Need to discuss if this is high priority/ how often users will do this.

[2020-04-22 19:10] PhotoNomad0 opened #6864 "Downloading updated content is broken"
## Story Explanation
### User Story

Error downloading updated content in translationCore 2.2.0 (5774fcc) (latest develop)

Also see it in last sandbox build translationCore 2.2.0 (46f316b)

Looks like a dependency has changed.

![Screen Shot 2020-04-22 at 3.05.20 PM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/2011028d-9be0-4b27-86da-d43d59c2d867)

### Features / Specificati

[2020-04-22 19:11] birchamp commented on #6200
@mannycolon what's the effect/benefit of adding the quoteString field?

[2020-04-22 19:24] PhotoNomad0 commented on #6864
Note:

- after rolling back "tc-source-content-updater" to "0.6.17-build.2" (the version in tc v2.1.2) still see the error.  So now suspecting a dependency has changed, or due to electron being changed.
- on Google, it is looking like it's a common issue is axios, but we are using agentkeepalive.
- could be due to updating node to v12.x?
- or could be 'follow-redirects'?
- found an error in this c

[2020-04-22 19:52] birchamp commented on #3579
Please note: This issue isn't about the performance, but about indications to the user that there is a delay. A processing/loading cursor would let the user know that background processes are occurring.

[2020-04-22 19:58] birchamp commented on #6706
@PhotoNomad0 has this been addressed already or is it blocked by another issue?

[2020-04-22 20:10] elsylambert commented on #6824
Cursor location is at the end of the verse in 2.2.0 (d8fd543). Works fine.

[2020-04-22 20:13] cckozie commented on #6847
@birchamp I know it happens on the referenced project and does not happen on all projects unzipped into the projects folder.

[2020-04-22 20:22] elsylambert commented on #6858
Got a Critical error screen in tN for a Rev project. After the error appeared, not able to open tN again.
<img width="1904" alt="Screen Shot 2020-04-22 at 4 18 16 PM" src="https://user-images.githubusercontent.com/51806180/80029935-85fb3000-84b5-11ea-9bff-084170a79d2e.png">

[2020-04-22 20:26] elsylambert commented on #6852
Not seeing the error in the check "Abstract Noun" Rev 1:6, but got the critical error screen for another check , reported in #6858.
However, not seeing the Invalid content alert in the checks.

[2020-04-22 20:33] cckozie opened #6865 "wA card indicates 8 invalidations and 100% complete"
2.2.0 (d8fd543)
(This did not work correctly in 2.1.2 either)
https://git.door43.org/tc01/en_prct_tit_book
The verses listed with the Invalidated filter selected have all of the words aligned but the alignment complete switch is Off.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/cab6982f-71fe-4576-8952-f82216f7261d)

![image.png](https://images.zenhubusercontent.com/56

[2020-04-22 20:36] elsylambert commented on #6739
Not seeing this problem in 2.2.0 (d8fd543).

[2020-04-22 20:37] elsylambert commented on #6852
Not seeing the problem mentioned in #6739.

[2020-04-22 20:43] elsylambert commented on #6790
Got critical error screen in wA tool.
<img width="1904" alt="Screen Shot 2020-04-22 at 4 40 49 PM" src="https://user-images.githubusercontent.com/51806180/80031886-5568c580-84b8-11ea-9ba8-009753342481.png">
[en_prct_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4518929/en_prct_tit_book.zip)

[2020-04-22 20:54] elsylambert commented on #6837
Looked up the variation in the two greek words that look very similar in unicodelookup.com. They look exactly the same but has a very minute variation.
Closing this issue.

[2020-04-22 20:55] #6837 closed, assigned to elsylambert

[2020-04-22 22:33] cckozie commented on #6790
These are merged here from #6758
2.2.0 (7c41d6c)
SEE ALSO: #5960 and #6435
SCENARIO 1:
[projects.zip](https://github.com/unfoldingWord/translationCore/files/4325345/projects.zip)
1. Unzip the attached file into the projects folder
2. Select the Acts project and load it in wA
3. Navigate to verse 19:41
4. Return to the projects page
5. Select the Titus project and load it in wA
Note the critical er

[2020-04-22 22:33] cckozie commented on #6758
Moved these to #6790

[2020-04-22 22:33] #6758 closed, assigned to nobody

[2020-04-22 22:35] cckozie opened #6866 "Critical Errors screen when navigating to a check in tN"
2.2.0 (d8fd543)
[41-MAT.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4519319/41-MAT.usfm.zip)
[6866.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4519320/6866.mp4.zip)
1. Import the attached project
2. Load it in tW with English GL
3. Navigate to a different check
4. Return to the Tools page
5. Load it in wA
6. Navigate to a different verse
7. Return to the To

[2020-04-22 22:48] cckozie commented on #6858
2.2.0 (d8fd543)
[41-MAT.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4519319/41-MAT.usfm.zip)
[6866.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4519320/6866.mp4.zip)
1. Import the attached project
2. Load it in tW with English GL
3. Navigate to a different check
4. Return to the Tools page
5. Load it in wA
6. Navigate to a different verse
7. Return to the To

[2020-04-22 22:49] cckozie commented on #6866
Moved this error case to #6858

[2020-04-22 22:49] #6866 closed, assigned to nobody

[2020-04-22 22:53] cckozie commented on #6790
Moved here from #6858
2.2.0 (02533e8) .

Got critical error screen when traversing through the checks in tN. This project was opened and looked fine in 2.1.1 and 2.1.2.
<img width="1904" alt="Screen Shot 2020-04-06 at 9 36 28 AM" src="https://user-images.githubusercontent.com/51806180/79778171-55c15f00-8306-11ea-8284-54d8d518b6c3.png">

Here is the project:
[hi_test_tit_book.zip](https://github.co

[2020-04-22 23:08] cckozie commented on #6504
New performance measurements in 2.2.0 (d8fd543)
The verse being edited (Mat 6:13) is fully aligned and has one of the three tW checks completed and the only tN check completed.

Time to test for resets after edits in:
tW scripture pane: 17 seconds (10 seconds in 2.1.2)
tN scripture pane: 9 seconds (6 seconds in 2.1.2)
wA scripture pane: 14 seconds (8 seconds in 2.1.2)

[2020-04-23 01:54] da1nerd commented on #6351
@cckozie hm... I don't have 1:6 under Double negatives.

![image](https://user-images.githubusercontent.com/166412/80050507-fb134780-853f-11ea-9494-0ce6ead8cd39.png)

[2020-04-23 02:01] da1nerd commented on #6863
The windows script works!
The wiki page is finished, though it actually doesn't have a ton of documentation on it since I was able to write all the scripts. there's mostly caveats to keep an eye out for.

[2020-04-23 02:30] cckozie commented on #6351
@neutrinog - Do you have the latest resources?
![image](https://user-images.githubusercontent.com/8171759/80052504-6decd600-84e0-11ea-873c-05f76953ff46.png)

[2020-04-23 02:34] da1nerd commented on #6351
I get errors when trying to download the resources.
for example:
![image](https://user-images.githubusercontent.com/166412/80052709-8cd18380-8545-11ea-9a35-3b2826d847e7.png)

I'm running the latest code in `develop`.

[2020-04-23 02:38] da1nerd commented on #975
Where should the timestamp be stored?
We could put it in the file name. This would replace the need to put numeric values on the file name.

e.g.
[code]

Also, should we make the archive folder hidden? e.g. `.archive` to avoid people putting things in there manually? This would limit restoration to the tC application or tech assistance.

[2020-04-23 02:49] cckozie commented on #6351
Hmmm... Yes, I am seeing errors after "forcing" a download.
Latest resources are bundled with the builds. I'm using the one at https://github.com/unfoldingWord/translationCore/actions/runs/84165663

[2020-04-23 02:51] da1nerd commented on #6351
ok. I can just manually run the script then. However, the above might need to be opened as a bug.

[2020-04-23 02:54] cckozie opened #6867 "Unable to download resources"
2.2.0 (d8fd543)
This error appears almost immediately after clicking the Download button.

![image](https://user-images.githubusercontent.com/8171759/80053851-7db9e980-84e3-11ea-8e73-3732a822d065.png)

[2020-04-23 09:21] da1nerd commented on #975
I have a PR ready with archiving support.
https://github.com/unfoldingWord/translationCore/pull/6868

I implemented it with my suggestions in the comment above, but can adjust it without too much trouble.

[2020-04-23 09:36] da1nerd commented on #6351
@cckozie I got the latest resources. Turns out the last part of the link is invalid. It should be `figs-doublenegatives` not `doublenegatives`. So it's not able to locate the article and grab the title. It's an easy fix. Just update the translationNotes for that particular verse and note.

[2020-04-23 11:23] PhotoNomad0 commented on #6864
Note:
- have a solution: changing the webpack configuration (in craco) and declaring agentkeepalive as external.  Webpack was blocking access to node apis from electron render process (restricting to browser apis)

[2020-04-23 12:49] PhotoNomad0 commented on #6351
@neutrinog - Yes created an issue for that: https://github.com/unfoldingword/translationcore/issues/6864.  Looks like a webpack configuration problem.  SHould be fixed soon.

[2020-04-23 15:42] cckozie commented on #6817
This was not fixed by #6805

[2020-04-23 16:02] birchamp commented on #6817
Guess we need to see if #6832 fixes it.

[2020-04-23 18:24] birchamp commented on #6863
@neutrinog can you do a screencast of the process?

[2020-04-23 18:28] birchamp commented on #6863
@mannycolon in the screencast do you want @neutrinog to talk/walk through what the script is doing?

[2020-04-23 20:48] PhotoNomad0 commented on #6858
Notes:
- duplicated in this and another project, and it looks like there is a problem with this check: `translationNotes figs-abstractnouns mat 9:35`
- imported Mat usfm without alignments - crashed as soon as I clicked on this check.  Other checks in tN were fine.
- nothing obvious in the check itself that would indicate a problem.
- due to conversion to hooks?
- found component in tc-ui-toolkit:

[2020-04-24 03:51] da1nerd commented on #975
@birchamp could you or someone answer the questions in https://github.com/unfoldingWord/translationCore/issues/975#issuecomment-618142589? Thanks.

[2020-04-24 09:44] da1nerd commented on #6863
I'm putting together several videos for electronite here https://www.youtube.com/playlist?list=PLf7IRQ2kP73kmC8y8gLQoHs4I26LzrRrq

[2020-04-24 13:21] da1nerd commented on #6863
@birchamp I've finished adding videos that channel above. I embeded a link to that playlist on the electronite wiki page as well.

[2020-04-24 13:55] birchamp commented on #6833
[tC_2.1.2_release_notes.txt](https://github.com/unfoldingWord/translationCore/files/4529250/tC_2.1.2_release_notes.txt)

[2020-04-24 13:57] BincyJ commented on #6785
Setting medium priority since Functionality working but UI broken. Needs fixing.

[2020-04-24 13:58] BincyJ commented on #6743
Functionalitybworking but UI missing - medium priority

[2020-04-24 14:29] BincyJ commented on #6124
Blocked for now. To be reopened if issue arises post 2.2 release

[2020-04-24 14:32] da1nerd commented on #6858
@PhotoNomad0 I think we found that use case with the tooltip as well. Remember the TODO that I left in the code? figs-abstractnouns mat 9:35 is the example we needed. :smile:

I messaged you in zulip as well. Updating the line in the effect to `const anchors = phraseEl.current ? phraseEl.current.getElementsByTagName(a) : [];` fixes the crash. But we'll need to handle the tooltip case now that we h

[2020-04-24 14:44] birchamp commented on #4490
This issue needs to be re-considered and may need a new design.  Align to unexpected verse #3739 has been de-prioritized by the stakeholders.  Consider making a verse map of the imported USFM.

[2020-04-24 15:07] BincyJ commented on #5866
@birchamp to confirm if possibility of RCL handling versification approach

[2020-04-24 15:31] BincyJ commented on #5166
Birch to talk to Joel before priortizing

[2020-04-24 15:46] #3660 closed, assigned to nobody

[2020-04-24 16:01] birchamp commented on #6621
@cckozie this will be handled in #6351, correct?

[2020-04-24 16:36] cckozie commented on #6621
@birchamp Yes, this is now a dup as I added all of the error comments from this issue to #6351, except for the one Elsy added which was fixed by the content team. It can be closed.

[2020-04-24 16:51] #6621 closed, assigned to nobody

[2020-04-24 16:58] birchamp commented on #975
@neutrinog yes, the timestamp looks good. And yes a hidden folder is fine.

[2020-04-25 00:01] PhotoNomad0 commented on #6858
@neutrinog - thanks, can you take this issue then?

[2020-04-25 00:02] PhotoNomad0 commented on #6864
Fixing this in PR https://github.com/unfoldingWord/translationCore/pull/6869

[2020-04-25 00:09] PhotoNomad0 commented on #6864
Verified in translationCore 2.2.0 (d6e50a5)

Downloaded all resources - went quickly without any errors or retries.

[2020-04-25 11:06] PhotoNomad0 opened #6870 "Need way to debug tN and tW (and parts of wA)"
## Story Explanation
### User Story

Need way to debug tN and tW (and and parts of wA, e.g. tc-ui-toolkit).  Currently setting a breakpoint in checking-tool-wrapper and tc-ui-toolkit (presuming you can find the line you need) fails - instead it sets the breakpoint at the beginning of the module.  Need an easier way to troubleshoot/debug checking-tool-wrapper and tc-ui-toolkit without adding a huge

[2020-04-27 01:08] elsylambert commented on #6864
Works fine in 2.2.0 (d6e50a5). Not seeing the error in downloading the resources.

Downloaded all the resources by Select All option , but still one resource "te" remains in the list, even though the resources are downloaded already. Written up separately in #6871.

[2020-04-27 01:11] elsylambert opened #6871 "Resource found in the content update list after it is downloaded."
2.2.0 (d6e50a5).
- Downloaded the resources by "Select All" option.
- See that all the resources are found in the Resources Folder in tC folder.
- Go to Actions>Content Updates, Note that the resources "te" still is in the list and does not go away even when it is downloaded again.
<img width="1904" alt="Screen Shot 2020-04-26 at 9 05 22 PM" src="https://user-images.githubusercontent.com/51806180/

[2020-04-27 04:23] da1nerd commented on #6858
Ok I've fixed the bug and added support for rendering the link when there's also a tooltip.
https://github.com/unfoldingWord/tc-ui-toolkit/pull/260

[2020-04-27 13:02] elsylambert commented on #6871
This is the duplicate of #6801

[2020-04-27 13:02] #6871 closed, assigned to nobody

[2020-04-27 13:23] birchamp opened #6872 "Properly handle verse links in smurf bar for tN and tW"
## Story Explanation
### User Story

As a TN/TW checker, I want verse links to show me the verse so that I can take advantage of the full content of the check.

When the verse link is clicked, the expanded scripture pane should pop up.
 ![ex_scripture_pane.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/71d959e9-a1f2-483c-80f9-4b4df0a5ded3)

Use https://material-ui.com/component

[2020-04-27 13:41] birchamp commented on #6723
@mannycolon for starting to test the complex scripts. This website shows how to tell the difference:
https://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_fontdemo
and how to enable graphite in Firefox
https://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_firefox#f1c084f6

[2020-04-27 14:09] PhotoNomad0 commented on #6790
In testing Joel's new fix, looks like this crash will be fixed with the same fix as https://github.com/unfoldingWord/translationCore/issues/6858

[2020-04-27 14:17] PhotoNomad0 commented on #6790
@cckozie @elsylambert - for these two scenarios, it looks like in WA the current contextID is not being cleared out when we change projects.

[2020-04-27 14:31] cckozie commented on #6833
Tested all referenced links.

[2020-04-27 14:47] cckozie commented on #6864
Downloads work in 2.2.0 (d6e50a5)

[2020-04-27 15:16] PhotoNomad0 commented on #6850
@elsylambert - not seeing this issue in translationCore 2.2.0 (d6e50a5), but we have made some fixes to how we handle changed resources since the 2.1 releases.

[2020-04-27 16:08] elsylambert commented on #6850
2.2.0 (d6e50a5). Not seeing duplicate checks in tW in the Ruth Project with the latest resources.

[2020-04-27 17:51] birchamp opened #6874 "Handle multiple versification systems in tC"
## Story Explanation
### User Story

As a checker, I want to be able to open projects with different versifications than the uW resources but still have access to the associated checks to that text.

May require #5866.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-27 22:05] mannycolon commented on #6723
# Initial Testing Results of Complex Script on Electronite v6.0.7 & v7.2.1-graphite

## Electronite

- Simple Graphite test worked
<img width="1280" alt="Screen Shot 2020-04-27 at 5 48 32 PM" src="https://user-images.githubusercontent.com/17072300/80424704-41560700-88b0-11ea-8e1a-561a0d0b23f2.png">

- Padauk font loaded from server did not work
<img width="1280" alt="Screen Shot 2020-04-27 at 5 49

[2020-04-27 22:36] cckozie commented on #5349
Closing this cuz it's really old

[2020-04-27 22:36] #5349 closed, assigned to nobody

[2020-04-27 22:39] cckozie commented on #6827
Need to retest after Critical Error screen issues are resolved.

[2020-04-27 22:42] cckozie commented on #6628
This has been fixed.

[2020-04-27 22:42] #6628 closed, assigned to nobody

[2020-04-28 01:47] da1nerd commented on #6723
It looks like it's partially working.
![image](https://user-images.githubusercontent.com/166412/80437812-dd255880-892c-11ea-92d0-8e785c14d79e.png)

[2020-04-28 05:05] da1nerd commented on #6723
i was able to successfully build with the latest version of graphite but I'm still seeing the same problem. https://github.com/unfoldingWord-dev/electronite/pull/1

[2020-04-28 10:13] PhotoNomad0 commented on #6858
@neutrinog - waiting on PR to tC.

[2020-04-28 12:36] PhotoNomad0 commented on #6675
Verified in translationCore 2.2.0 (f1fb0cd)

[2020-04-28 12:43] cckozie commented on #6675
Version 2.2.0 (f1fb0cd)
[en_ult_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4545749/en_ult_tit_book.zip)
[Tue Apr 28 2020.log.zip](https://github.com/unfoldingWord/translationCore/files/4545752/Tue.Apr.28.2020.log.zip)
I opened the project in tW, made an edit in the check pane to verse 1:6 in the accuse group, then attempted to load the project in wA.
![image](https://user

[2020-04-28 12:49] PhotoNomad0 commented on #6706
already done.

[2020-04-28 12:49] #6706 closed, assigned to nobody

[2020-04-28 13:14] PhotoNomad0 commented on #6675
@cckozie - Not see this. Where did you get this project?  It looks like the zip file already has the edit in it.

[2020-04-28 13:25] #6770 closed, assigned to mannycolon

[2020-04-28 13:25] #6725 closed, assigned to mannycolon

[2020-04-28 13:26] #6811 closed, assigned to PhotoNomad0

[2020-04-28 13:26] #6769 closed, assigned to mannycolon

[2020-04-28 13:27] #6829 closed, assigned to PhotoNomad0

[2020-04-28 13:28] #6846 closed, assigned to PhotoNomad0

[2020-04-28 13:28] #6830 closed, assigned to mannycolon

[2020-04-28 13:29] #6812 closed, assigned to mannycolon

[2020-04-28 13:30] #6820 closed, assigned to mannycolon

[2020-04-28 13:30] #6815 closed, assigned to mannycolon

[2020-04-28 13:31] #6816 closed, assigned to mannycolon

[2020-04-28 13:31] #6823 closed, assigned to PhotoNomad0

[2020-04-28 13:31] #6843 closed, assigned to da1nerd

[2020-04-28 13:32] #6824 closed, assigned to PhotoNomad0

[2020-04-28 13:32] #6852 closed, assigned to PhotoNomad0

[2020-04-28 13:32] #6822 closed, assigned to PhotoNomad0

[2020-04-28 13:33] #6833 closed, assigned to PhotoNomad0

[2020-04-28 13:33] #6864 closed, assigned to nobody

[2020-04-28 13:33] #6850 closed, assigned to PhotoNomad0

[2020-04-28 13:35] PhotoNomad0 commented on #6790
Verified in translationCore 2.2.0 (236380d)

[2020-04-28 13:37] PhotoNomad0 commented on #6858
Verified in translationCore 2.2.0 (236380d)

[2020-04-28 13:50] cckozie commented on #6675
@PhotoNomad0 Yes, I zipped the project after the crash. The project was imported from usfm in a previous build (April 22). I'm assuming that was the 2.1.2 build and any number of scripts had been run against it.
I went back and did a clean install of 2.1.2, imported the Titus usfm project, and loaded it in each of the tools. I then did an upgrade to 2.2 and am not seeing the problem.
I'm going to

[2020-04-28 14:11] cckozie commented on #6675
Imported the original usfm file giving it a new tid, made the edit in tW, loaded in wA with no problem.
Zipped up the bad project and added it to a clean 2.1.2 install. Opens in wA with no problem.
Upgraded to 2.2 and the project opens in wA with no problems.
I copied the Matthew project into the projects folder, then again successfully loaded the Titus project in wA.
Went back to use the saved tC

[2020-04-28 14:36] PhotoNomad0 commented on #6351
@neutrinog - what is the status of this?  I see a PR attached https://github.com/unfoldingWord/tc-ui-toolkit/pull/258 that has a merge conflict.

[2020-04-28 15:24] cckozie commented on #6675
[6675 projects.zip](https://github.com/unfoldingWord/translationCore/files/4546782/6675.projects.zip)
These usfm projects were copied from the catalog about a year ago and have been used for testing ever since. I'm thinking this may have to do with wordMAP since it seems to be project interdependent.
To replicate the failure:
1. Import the Matthew project and load it in each of the tools.
2. Impor

[2020-04-28 15:30] PhotoNomad0 commented on #6791
@cckozie - interesting test project in that it is a bit broken: has the selection entries in the check data, but the group data index does not have the selections.  Suspect that the older tCs were doing some automated project cleanup.  Suspect this is not being done anymore.  This could be due to performance improvements or moving reducers into tools.

[2020-04-28 15:37] PhotoNomad0 commented on #6675
@cckozie - I think you mean "note".

I think we may be running into available memory limitations.  I'm going to run some tests to see how that has changed with the updated electron.

[2020-04-28 15:51] cckozie opened #6877 "Blank screen when opening a project in wA after edit in tW"
2.2.0 (f1fb0cd)
Problem was found when testing #6675
[6675 projects.zip](https://github.com/unfoldingWord/translationCore/files/4546782/6675.projects.zip)
[Tue Apr 28 2020.log.zip](https://github.com/unfoldingWord/translationCore/files/4545752/Tue.Apr.28.2020.log.zip)

![image](https://user-images.githubusercontent.com/8171759/80488198-954e0380-8923-11ea-9b4b-de67c580ecdb.png)

These usfm projects

[2020-04-28 15:55] cckozie commented on #6675
Moved the failure when opening wA to #6877

[2020-04-28 15:57] cckozie commented on #6867
Dup

[2020-04-28 15:57] #6867 closed, assigned to nobody

[2020-04-28 17:38] PhotoNomad0 commented on #6877
Notes:
- testing in translationCore 2.2.0 (236380d)

**Net Heap usage:**

Version 2.1.2 (44c92e9)
- Import Matt project - 74 to 444MB
- open each tool - 130 to 776MB
- import Luke and open each tool - 183 to 888 MB
- import Tit and open TN and edit - 223 to 983 MB

Version 2.2.0 (236380d)
- Import Matt project - 219 to 240MB
- open each tool - 74 to 224MB
- import Luke and open each tool - 118 to

[2020-04-28 22:14] cckozie opened #6878 "When edits are made in tW, the edit icon is not displayed on the verse in tN, and visa versa"
2.2.0 (d2e40ce)
1. Import a usfm project
2. Load the project in tW
3. Edit a verse in the check pane (I edited 1:6 under accuse)
4. Return to the tools page
5. Load the project in tN
6. Navigate to the Assumed Knowledge group
7. Note that the edit icon is not displayed on verse 1:6
8. Repeat the steps performing the edit in the expanded scripture pane and note the same result
9. Repeat the steps b

[2020-04-28 22:28] cckozie commented on #6675
2.2.0 (d2e40ce)
Tested with edits performed in the check pane of both tW and tN
Tested with edits performed in the scripture pane of the selected verse in both tW and tN
Tested with edits performed in the scripture pane of a non-selected verse in both tW and tN
The edit icon appeared in wA on the edited verse in each case.

[2020-04-28 22:33] cckozie commented on #6878
Dup of #6743

[2020-04-28 22:33] #6878 closed, assigned to nobody

[2020-04-29 03:41] da1nerd commented on #6351
@PhotoNomad0 it's ready.

[2020-04-29 10:17] da1nerd commented on #6798
This is happening during the `WA:INSERT_RENDERED_ALIGNMENT`. The before state looks right but afterward it's wrong.

The alignment data itself actually looks ok (until the effect gets propagated during the next change). The rendering of the alignments is failing at some point.
![image](https://user-images.githubusercontent.com/166412/80585128-ffa69700-8a3c-11ea-9506-0c80ea03dc5b.png)

I still need

[2020-04-29 13:05] #6831 closed, assigned to PhotoNomad0

[2020-04-29 13:27] birchamp commented on #6765
@PhotoNomad0 please review this issue

[2020-04-29 13:53] birchamp opened #6879 "Graphite not fully working in Electronite"
The simple grahite test works but the complex scripts don't.
See: https://github.com/unfoldingWord/translationCore/issues/6723#issuecomment-620260588

[2020-04-29 13:56] birchamp commented on #6877
DoD: wA screen shows instead of blank screen

[2020-04-29 13:58] birchamp commented on #5960
DoD: Import of ref'd project from Door43 doesn't cause a critical error.

[2020-04-29 14:01] birchamp commented on #6791
DoD: tN selections on imported projects are not lost.

[2020-04-29 14:03] birchamp commented on #6879
DoD: [SIL graphite test page](https://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_fontdemo) renders properly with Electronite.

[2020-04-29 14:20] BincyJ commented on #6661
@PhotoNomad0 please confirm if we can close this issue. Thanks.

[2020-04-29 14:23] cckozie commented on #6877
@PhotoNomad0 - I am seeing the same problem with my older MacBook. Once I see the failure and after restarting tC, it always crashes when attempting to load the project in wA. I see in the log file an entry stating that contextId.json does not exist. It actually does exist but is empty.
Will now test on my Windows machine.

[2020-04-29 14:24] BincyJ commented on #6237
@birchamp to advise on next steps based on discussions scheduled later this week.

[2020-04-29 14:28] BincyJ commented on #6351
@PhotoNomad0 is there any action required by @neutrinog here?

[2020-04-29 14:50] cckozie commented on #6877
@PhotoNomad0 - It fails on my Windows machine too.

[2020-04-29 16:25] cckozie commented on #6790
2.2.0 (d2e40ce)
I'm still seeing the problem after loading a project that has fewer chapters than the one previous loaded in wA.
1. Load the Acts project attached to the first comment in wA
2. Navigate to the last chapter (if not already there)
3. Load the Revelation project referenced in the first comment in wA
4. Note that even though Revelation only has 22 chapters, the menu shows 28 chapters
5

[2020-04-29 19:03] cckozie commented on #6858
2.2.0 (d2e40ce)
Following the steps in my error case above did not produce the critical error screen.
Stepping through all of the tN checks in Matthew and Revelation did not cause the critical error screen.

[2020-04-29 19:24] PhotoNomad0 commented on #6877
@cckozie - the empty contextId is concerning, but at least I have a starting point.

[2020-04-29 19:55] cckozie commented on #6504
New performance measurements in 2.2.0 (d2e40ce)
The verse being edited (Mat 6:13) is fully aligned and has one of the three tW checks completed and the only tN check completed. In each test case the verse with the completed check was the one selected when the edit was performed.

Time to test for resets after edits in:
tW scripture pane: Mac - 14 seconds (10 seconds in 2.1.2), Windows - 27 seconds

[2020-04-29 20:38] cckozie commented on #6792
2.2.0 (d2e40ce)
Timings made in fully aligned Matthew project
Timings were taken on 10 checks in the demon group in tW, and the Abstract Nouns group in tN
Average time to save a single word check in tW on Mac - 4.3 seconds
Average time to save a single word check in tN on Mac - 0.9 seconds
Average time to save a single word check in tW on Windows - 19.2 seconds
Average time to save a single word c

[2020-04-29 20:46] elsylambert commented on #6675
2.2.0 (d2e40ce).
Edit icon is displayed in wA when edits are done in tN or tW or both.  Working fine.

[2020-04-29 21:04] elsylambert commented on #6858
Looks good in 2.2.0 (d2e40ce). Verse links and tool tips in smurf bar are working fine and no longer crashing. Tested Mathew and Revelation projects which earlier crashed at mat 9:35 and Rev 9:18.
Not seeing the critical error screen.

[2020-04-29 21:18] elsylambert commented on #6790
2.2.0 (d2e40ce). Seeing the same behaviour as @cckozie. Every time a project with a less chapter is opened after a project having more chapters, wA displays extra chapters in the Menu and clicking on it throws error screen.
-Opened a Mathew project (28 chapters) in wA.
- Go to Projects page, open any other project which has less than 28 chapters, say Titus.
- wA in Titus shows 28 chapters in Menu

[2020-04-29 21:44] cckozie opened #6881 "Cursor should not turn to edit cursor when hovering over the text in the menu of a tool"
2.2.0 (d2e40ce)
The cursor is nearly invisible when displayed as an edit cursor in the tools menu.

[2020-04-29 21:57] cckozie commented on #3579
This is much less of a problem in 2.2.0 (d2e40ce)
Changing checks in any tool on my Mac is now 1 second or less
On my Windows machine worst case is tW where it is now ~ 1.5 seconds
Lowering the priority on this one and moving to New Issues

[2020-04-29 22:01] cckozie commented on #6471
In 2.2.0 (d2e40ce) on my Windows machine, after reselecting the tW tool on a Matthew project it takes 7+ seconds before there is any indication of anything happening. The Loading tool data alert is not displayed.

[2020-04-29 22:08] cckozie opened #6882 "Need an indicator of processing when saving selections on checks"
In 2.2.0 (d2e40ce) it takes anywhere from  ~ 1 second to 4 seconds on my Mac, and 4 seconds to 19 seconds on Windows to save selections tN and tW selections. During that time there is no indicator of processing.

[2020-04-29 22:25] cckozie commented on #6827
I am closing this issue as there are individual issues now for the area that need the most improvement.

[2020-04-29 22:25] #6827 closed, assigned to nobody

[2020-04-29 22:27] cckozie commented on #6679
Closing because it's been replaced by individual performance issues

[2020-04-29 22:27] #6679 closed, assigned to nobody

[2020-04-30 01:24] BincyJ commented on #6858
@birchamp , please confirm if I can go ahead and close this issue.

[2020-04-30 01:27] da1nerd commented on #6879
Here's another example that works. https://github.com/unfoldingWord/translationCore/issues/6723#issuecomment-620327980

The Padauk font is not rendering correctly.

[2020-04-30 01:32] BincyJ opened #6883 "Must- Have elements for Complex Scripts to be released"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-30 01:38] #6883 closed, assigned to nobody

[2020-04-30 02:29] da1nerd commented on #6879
@jag3773 do you remember if we were able to render the Padauk font correctly when we first created Electronite? I though we had, but now I'm wondering if we only tested the Awami Nastaliq font.

[2020-04-30 07:36] da1nerd commented on #6879
Link to the graphite repo https://github.com/silnrsi/graphite

[2020-04-30 07:50] da1nerd commented on #6879
I reached out for some help on the graphite repo https://github.com/silnrsi/graphite/issues/63.

[2020-04-30 08:17] da1nerd commented on #6879
Are we missing something in `/third_party/graphite/BUILD.gn`?

[2020-04-30 14:10] cckozie commented on #5788
No longer a problem in 2.2.0 (d2e40ce

[2020-04-30 14:10] #5788 closed, assigned to nobody

[2020-04-30 14:20] cckozie commented on #6796
This is less of a problem in 2.2.0 (d2e40ce), but there still are noticeable delays on my Mac.
On my Windows machine it takes over 20 minutes to import the project. (See #6492)
Once at the tools page, it takes 15-20 seconds before there is any response to a scrolling request, and 30-45 seconds before the Loading tool data alert is displayed when loading a tool.

Minimally there needs to be an indi

[2020-04-30 15:04] cckozie commented on #6492
2.2.0 (d2e40ce)
Importing the Luke project now takes:
2 1/2 minutes on my Mac (importing-33 seconds, preparing-78 seconds, loading-44 seconds)
20+ minutes on my Windows machine

From selecting the project on the project page to the tools page being displayed takes:
14 seconds on my Mac
3 1/2 minutes on my Windows machine

[2020-04-30 15:30] PhotoNomad0 commented on #6790
Verified chapters reset in translationCore 2.2.0 (ff3cb3e)

[2020-04-30 15:31] cckozie commented on #6739
Dup of #6852

[2020-04-30 15:31] #6739 closed, assigned to nobody

[2020-04-30 15:38] mannycolon commented on #6661
I can attest this works, will close the issue

[2020-04-30 15:38] #6661 closed, assigned to da1nerd

[2020-04-30 15:39] cckozie commented on #6857
Not seeing this problem in 2.2.0 (ff3cb3e)

[2020-04-30 15:39] #6857 closed, assigned to nobody

[2020-04-30 15:43] cckozie commented on #6819
Dup of #6790 (I moved the estimate of 13 to that issue)

[2020-04-30 15:43] #6819 closed, assigned to nobody

[2020-04-30 15:44] cckozie commented on #6810
Have never observed this problem.

[2020-04-30 15:44] #6810 closed, assigned to nobody

[2020-04-30 15:45] cckozie commented on #6802
Still waiting for content updates to be published.

[2020-04-30 17:00] elsylambert commented on #6790
2.2.0 (ff3cb3e). Not seeing the critical error screen and the chapters for each project are displayed correctly.

[2020-04-30 18:04] PhotoNomad0 commented on #6877
Notes:
- do not see the problem in the last electron 3 release: translationCore 2.2.0 (5214923)
- it does seem to be related to wordmap, because if I change the translation ID, the project will open.  So don't think it is a data corruption issue.
- tried reverting wordmap to previous versions, but still see crash. So don't think it is a wordmap bug.  Tried many combos back all the way to:
[code]
-

[2020-04-30 19:24] elsylambert opened #6886 "Edit window displays code in tW"
2.2.0 (ff3cb3e).
Edit window from the Check Pane and Scripture pane is showing code.
<img width="1792" alt="Screen Shot 2020-04-30 at 3 18 50 PM" src="https://user-images.githubusercontent.com/51806180/80750825-c5013500-8af6-11ea-9611-ea7381c3aca1.png">

Here is the project:
[en_test_1pe_book.zip](https://github.com/unfoldingWord/translationCore/files/4560813/en_test_1pe_book.zip)

Imported this s

[2020-04-30 20:24] cckozie commented on #6886
Looks like some bad usfm:
![image](https://user-images.githubusercontent.com/8171759/80755556-a7cc6680-8af6-11ea-9741-078477dc9cdc.png)

[2020-04-30 20:26] cckozie commented on #6124
Here is another case:
[en_ulb_gen_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3653817/en_ulb_gen_book.zip)
- Load wA tool.
- Open expanded scripture pane and edit a verse.
- Note that usfm3 tags are shown in the window.
Load wA tool.
Open expanded scripture pane and edit a verse.
Note that usfm3 tags are shown in the window.
Still seeing this in 2.2.0 (2375ae5)
![image](ht

[2020-04-30 20:51] PhotoNomad0 commented on #6124
@birchamp - it means that someone had to do a USFM import of a file that had the USFM word markers, set the translation ID to match a project that was already on their system, and then click on overwrite.  Then we show warning that this will reset your alignments, do you want to continue with overwrite?

@birchamp @cckozie - The intent of this feature was to allow  users to export their USFM **wit

[2020-04-30 20:58] cckozie commented on #6790
Looks good in 2.2.0 (ff3cb3e)

[2020-04-30 21:00] PhotoNomad0 commented on #6124
@birchamp - we should change the title of this issue because showing USFM3 in edit box is not an error.

[2020-05-01 03:43] #6832 closed, assigned to nobody

[2020-05-01 03:43] mannycolon commented on #6832
No longer needed

[2020-05-01 05:14] da1nerd commented on #6879
I discovered we had been using a broken version of graphite https://github.com/silnrsi/graphite/commit/4fb12b3bd147eff4606baf270e0cbdbadcdd6e09.

Rebuilding with a patched versions now. Hopefully that solve the problem.

[2020-05-01 13:39] birchamp commented on #6746
@jag3773 Can we move this to 2.3?

[2020-05-01 13:50] BincyJ commented on #6804
@mannycolon is this a must-have for complex script support to run?

[2020-05-01 15:37] jag3773 commented on #6746
The specific issue here may best be looped into #4401 .  If tC supported the standard USFM front matter page (A0-FRT.usfm), we could put the copyright page information in that file, as well as other introductory information which would be useful for many translations.

Maybe that doesn't help answer your question?

[2020-05-01 16:09] elsylambert opened #6888 "Reported by Perry: Unable to export a project to CSV"
2.1.2 (44c92e9).
Here is the project:
[en_ust_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4565161/en_ust_tit_book.zip)

Unable to upload the UST of Titus to Door43. The error says that it cannot connect to the server. But I am able to upload UST Luke.
Also ,unable to export it as CSV from my tC. The error for that says, "Export failed with error TypeError: Cannot read prop

[2020-05-01 17:17] elsylambert opened #6889 "Reported by Perry: Unable to upload a Project to Door43 that was archived on D43 previously."
2.1.2 (44c92e9).
Prerequisite : Download a project from Door 43 that was in your Repo.
Steps to replicate:
- Archive the project on Door 43.
- Upload the same Project to D43 from tC.
- See the error as below:
![Screen Shot 2020-05-01 at 1.15.38 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/18622a81-dab9-4843-9153-be0e7b1cab42)

[2020-05-01 17:19] elsylambert commented on #6889
Information :You cannot upload to a project that is archived on DCS.... you would need to unarchive it first

[2020-05-01 17:28] PhotoNomad0 commented on #6877
Note:
- to easily test, here is the projects folder:

[projects.zip](https://github.com/unfoldingWord/translationCore/files/4567580/projects.2.zip)

- tC log of the crash:
[temp-electron-7.log.zip](https://github.com/unfoldingWord/translationCore/files/4567578/temp-electron-7.log.zip)

- in electron 3, I was able to go over 31MB without problem.
- session storage is saved here: ~/Library/Applicati

[2020-05-01 17:41] birchamp commented on #6723
@mannycolon is the Awami Nastaliq example at the bottom of the page working in your POC?

[2020-05-01 20:23] elsylambert commented on #6889
@birchamp @cckozie Probably we should consider displaying the right alert message when a project cannot be uploaded to D43 when it is archived on the Repo.

[2020-05-02 04:18] mannycolon commented on #5960
@cckozie @elsylambert I propose removing the X from the alert and making the user choose between the two options rather than allow them to close out the alert. Thoughts?

[2020-05-02 04:34] cckozie commented on #5960
@mannycolon - That works for me. Exactly what I suggested for all alerts in #6740.
@birchamp - Any reservations in doing that?

[2020-05-04 02:43] da1nerd commented on #6798
i was able to create a specific unit test that isolates this bug. Fixing this should now be trivial.

[2020-05-04 04:18] da1nerd commented on #975
Builds for this are here https://github.com/unfoldingWord/translationCore/actions/runs/90787427

[2020-05-04 12:18] PhotoNomad0 commented on #6798
Verified above issue is working in translationCore 2.2.0 (17ae343)

[2020-05-04 12:25] PhotoNomad0 commented on #6351
Problems A & C are fixed in translationCore 2.2.0 (17ae343)

It looks like B & D are content problems.

[2020-05-04 13:23] PhotoNomad0 commented on #6787
in translationCore 2.2.0 (17ae343)

[2020-05-04 14:03] PhotoNomad0 opened #6892 "Github Actions problem that artifact upload failures are flagged as success"
## Story Explanation
### User Story

Looking at this build the mac and linux builds are empty: https://github.com/unfoldingWord/translationCore/actions/runs/95247125. Artifact upload failures should not be considered a successful build.

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Ad

[2020-05-04 14:09] PhotoNomad0 commented on #6877
Verified in translationCore 2.2.0 (78a80ee)

[2020-05-04 14:53] mannycolon commented on #6294
I've found `Node v12.16.3` and `NPM v6.14.4` to be the most stable, supported by electronite-packager and compatible our current electron version.

[2020-05-04 14:53] mannycolon commented on #6294
Got approval from devs https://unfoldingword.zulipchat.com/#narrow/stream/212547-SOFTWARE.2FtC/topic/Node.20Version.20for.20tC.20Development

[2020-05-04 15:04] cckozie commented on #975
@birchamp -
Issue 1:Under "Specs" in the first comment of this issue, both a numeric designator for multiple versions of the same project, in addition to a timestamp, are listed as requirements. If you did authorize the elimination of the numeric designator, please strike out that requirement in the list.

Issue 2: In regard to the fourth requirement: If a user moves or copies the project back to

[2020-05-04 15:29] cckozie commented on #6351
2.2.0 (64bf0a5)
When the user has the tHelps pane collapsed (not visible) and then clicks on one of the links in the smurf bar, in addition to the expanded tHelps pane being displayed, the regular tHelps pane is also opened.

Before clicking the link:
![Screen Shot 2020-05-04 at 10 27 21 AM](https://user-images.githubusercontent.com/8171759/80983222-f6794980-8df1-11ea-9cbf-739c7a75bb6e.jpg)

After

[2020-05-04 15:34] mannycolon commented on #6740
The work done on the following PR can be used when implementing this issue
https://github.com/unfoldingWord/translationCore/pull/6890

[2020-05-04 15:40] cckozie opened #6894 "Expanded tHelps pane is displayed in the wrong GL after changing the GL for tN"
2.2.0 (64bf0a5)
1. Select a Titus project
2. Se the GL for tN to Hindi
3. Load the project in tN
4. Click on a link in the smurf bar to versify that Hindi is displayed in the expanded tHelps pane
6. Return to the Tools page
7. Change the GL for tN to English
8. Load the project in tN
9. Click on the link in the smurf bar. Note that the tHelps in the expanded scripture pane is still in Hindi.

Afte

[2020-05-04 15:53] cckozie commented on #6726
Testing is blocked until we are able to render complex scripts.

[2020-05-04 16:23] cckozie commented on #6798
Not seeing the specific problem described in 2.2.0 (64bf0a5)

[2020-05-04 16:24] cckozie commented on #6787
Testing is blocked until we are able to render complex scripts.

[2020-05-04 19:10] mannycolon commented on #6294
Verified on db7ab5c

[2020-05-04 19:11] mannycolon commented on #5960
Verified on d668292

[2020-05-04 19:50] elsylambert commented on #5960
Looks good in 2.2.0 (db7ab5c). X in the alert has been removed and the project opens/works fine after either of the two actions is selected.

[2020-05-04 22:21] cckozie commented on #6877
Not seeing the problem in 2.2.0 (64bf0a5). I was able to load the entire new testament and open each book in each of the tools. (The translationCore helper (Renderer) was showing 734.8 MB after all NT books had been loaded.)
Also was able to load the entire OT and open each book in all tools available for it.

[2020-05-05 00:52] da1nerd commented on #975
@cckozie I thought importing was going to be handled in a different issue?

[2020-05-05 00:57] da1nerd commented on #6351
@cckozie see the notes on this PR why the context pane opens. https://github.com/unfoldingWord/checking-tool-wrapper/pull/100#issue-399437817. It could be updated, but would require some more drastic refactoring. I've been really good lately and refraining from refactoring all the things ;)

[2020-05-05 01:27] cckozie commented on #6351
@birchamp - Need you input on this ^^^^

[2020-05-05 02:37] da1nerd commented on #6892
@PhotoNomad0 when you triggered the build again did it work? What am I trying to fix here? Just catching erroneous artifact uploads, or broken builds?

[2020-05-05 02:52] da1nerd commented on #6892
I don't see any way to catch the error, but I was able to update the upload artifact action we are using. The docs said they fixed some upload problems. Hopefully that works. Unfortunately there's no good way to test this because the failed uploads is not a regular occurrence.

PR ready https://github.com/unfoldingWord/translationCore/pull/6896

[2020-05-05 13:30] cckozie opened #6897 "Clicking on a link in the tN smurf bar should only open the expanded tHelps pane and should leave the tHelps pane in its previous state."
This was moved from #6351. See the notes on this PR why the context pane opens. unfoldingWord/checking-tool-wrapper#100 (comment).

2.2.0 (64bf0a5)
When the user has the tHelps pane collapsed (not visible) and then clicks on one of the links in the smurf bar, in addition to the expanded tHelps pane being displayed, the regular tHelps pane is also opened.

Before clicking the link:
![Screen Shot 20

[2020-05-05 13:31] cckozie commented on #6351
@birchamp directed to write up the opening of the tHelps pane to a new issue. It is now on #6897

[2020-05-05 13:36] cckozie commented on #6351
The links work properly in 2.2.0 (64bf0a5)

[2020-05-05 14:47] cckozie opened #6898 "Alert dialogs that still show the X to close"
2.2.0 (db7ab5c)
The user should be required to select one of the option buttons rather than being allowed to click the X not knowing what the tC response will be.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/ea7575bb-1295-4664-a762-5dba5ea405e8)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/31408f33-81b4-4cea-b565-0aba60e6034d)

![image.

[2020-05-05 15:11] cckozie commented on #5960
Not able to close the alert with an X now, so unable to cause the failure in 2.2.0 (db7ab5c).

[2020-05-05 19:35] elsylambert commented on #975
Archiving Project looks fine in 2.2.0 (dd79140). archive folder is hidden from the user, so Issue 2 should be handled with re-importing issue.

[2020-05-05 19:57] elsylambert commented on #6351
tA links look good in 2.2.0 (dd79140).

[2020-05-05 20:02] elsylambert commented on #6798
2.2.0 (dd79140). Not seeing this problem.

[2020-05-06 03:59] da1nerd commented on #6879
Figured it out thanks to Martin.

The padauk font is loaded using the following css on the demo page.
[code]
Since electronite is chromium, the `-moz` tags don't work.
inserting `font-feature-settings: "wtri" 1;` fixed the display of the Padauk font.

[2020-05-06 16:34] cckozie commented on #6826
Looks the same as 2.1.1 now
![image](https://user-images.githubusercontent.com/8171759/81203321-712a9c00-8f8d-11ea-9496-e974043b0344.png)

[2020-05-06 20:28] cckozie opened #6899 "Import of some tStudio projects fail in 2.2"
2.2.0 (dd79140)
I was able to import these project in 2.1.2. I am able to successfully import some other tStudio projects.
Import of these projects fail, and the error message doesn't describe what the problem is.

[es-419_luk_text_reg.tstudio.zip](https://github.com/unfoldingWord/translationCore/files/4589343/es-419_luk_text_reg.tstudio.zip)
[abu_tit_text_reg.tstudio.zip](https://github.com/unfol

[2020-05-06 20:36] cckozie opened #6900 "tC asks user to rename a repo or create a new one while importing tStudio projects"
2.2.0 (dd79140)
tC should not assume that a project in the DCS repo with a similar name is the same project as the one being imported. Some options:

**Fix:** Don't display the alert and let the user deal with it when they attempt an upload. This will be the behavior when importing a USFM.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/778ed884-bf54-48bb-9ffe-27e1ee202

[2020-05-07 03:16] elsylambert commented on #6826
Looks good in 2.2.0 (dd79140).

[2020-05-07 03:20] elsylambert commented on #6877
Not seeing this issue in 2.2.0 (dd79140) with the attached projects.

[2020-05-07 14:15] birchamp commented on #6265
Needs spike to see what modules need to be reworked and how much effort will be involved

[2020-05-08 09:31] da1nerd commented on #6863
Recently added a video showing how to update the version of electron used for electronite. See [full playlist](https://www.youtube.com/playlist?list=PLf7IRQ2kP73kmC8y8gLQoHs4I26LzrRrq)

[2020-05-08 09:34] da1nerd commented on #6879
Confirmed https://github.com/mannycolon/electronite-poc-app works on:

* [x] Pop! OS 64bit (linux)
* [x] Windows 10 64bit (virtual machine)
* [x] macOS High Sierra 64bit
* [ ] Windows 32

[2020-05-08 15:33] mannycolon commented on #6879
Can confirm that after making the suggested CSS tweak the Padauk rendered correctly in my machine. However, the Arabic (Awami Nastaliq font) still isn't  working for me.

## Padauk Font
<img width="1280" alt="Screen Shot 2020-05-08 at 11 15 34 AM" src="https://user-images.githubusercontent.com/17072300/81421063-deba0200-911e-11ea-80a9-039bc3c487f4.png">

<img width="1280" alt="Screen Shot 2020-05-

[2020-05-09 20:06] PhotoNomad0 commented on #6791
Verified in translationCore 2.2.0 (6a53472)

[2020-05-09 20:20] PhotoNomad0 commented on #6791
This should also fix issue that progress doesn't update when gateway language changes.  And this should fix issue that adding comments to tN and tW would not show up in CSV exports.

[2020-05-11 12:47] birchamp opened #6902 "Project files with a timestamp in the filename cause a critical error"
During the archive process (#975) the project filename is appended with a timestamp and an incremental number. If a user moves or copies the project back to the projects folder and then selects it without removing the timestamp from the project name, the critical error screen is displayed after the 'Your project has been named" alert.

[2020-05-11 13:39] birchamp commented on #6435
@cckozie @elsylambert  Can you retest this now that #6790 has passed?

[2020-05-11 14:03] elsylambert commented on #6435
Retested in 2.2.0 (6a53472). Still getting the critical screen error after the tS project is imported.
<img width="1792" alt="Screen Shot 2020-05-11 at 10 01 49 AM" src="https://user-images.githubusercontent.com/51806180/81570493-aa3c8500-936e-11ea-9e6d-de67ed92a57e.png">

[2020-05-11 14:04] PhotoNomad0 commented on #6817
Looks like the font and size are OK in the debugger.  In 2.1.2 we have:
![Screen Shot 2 1 2 - 2020-05-11 at 9 49 47 AM copy](https://user-images.githubusercontent.com/14238574/81570398-8b3df300-936e-11ea-9330-91c5da02704b.png)

But in electronite we have:
![Screen Shot electronite - 2020-05-11 at 9 46 07 AM copy](https://user-images.githubusercontent.com/14238574/81570476-a27ce080-936e-11ea-8864-e

[2020-05-11 14:05] BincyJ commented on #6788
@birchamp to provide text for Burmese and Arabic to validate. We also need a way to confirm the rendering in tC. May need a tester / confirmation from a reader.
Need confirmation on the scope of languages needed for Complex Script support release.

[2020-05-11 14:30] birchamp commented on #6870
@PhotoNomad0 is this related to #6771?

[2020-05-11 15:26] cckozie commented on #6863
The devs will need to review/approve this one.

[2020-05-11 15:28] cckozie commented on #6840
The devs will need to approve this one

[2020-05-11 16:06] cckozie opened #6905 "The tN tool card should only show the percent complete value when there is a selected GL"
2.2.0 (6a53472)
The percent complete on tN is not determinable unless there is a selected GL. It appears that we currently default to en to calculate the percent complete prior to a GL selection.

[2020-05-11 16:11] elsylambert commented on #6791
Looks good in 2.2.0 (6a53472). tN checks are not lost when imported to 2.2.0. Progress works fine when GL is changed and also the comments in tN and tW are showing fine in CSV exports.

[2020-05-11 16:12] elsylambert opened #6906 "CSV export- username now showing as Anonymous for all new entries in CSV files"
2.2.0 (6a53472)
This worked correctly in 2.1.2
Problem exists in comments.csv, reminders.csv, selections.csv, and verseEdits.csv
CSV Exported to: [en_ult_3jn_bookA.zip](https://github.com/unfoldingWord/translationCore/files/4610871/en_ult_3jn_bookA.zip)
Project: [en_ult_3jn_book.zip](https://github.com/unfoldingWord/translationCore/files/4610876/en_ult_3jn_book.zip)

DoD: All entries in the commen

[2020-05-11 16:24] cckozie commented on #6791
2.2.0 (690092a)
tN's are not lost when upgrading the project.
The change in % complete between 2.1 and 2.2 is due in every case to the addition of tN checks between 2.1 and 2.2.
The % complete on the tN card is correct upon import and after changing GL
The correct user name is not being written to the csv files. It is now showing as Anonymous. See #6906

[2020-05-11 16:44] PhotoNomad0 commented on #6902
The PR should also fix https://github.com/unfoldingword/translationcore/issues/6435

[2020-05-11 16:49] PhotoNomad0 commented on #6902
Fixed in translationCore 2.2.0 (690092a)

[2020-05-11 16:50] PhotoNomad0 commented on #6817
Fixed in translationCore 2.2.0 (690092a)

[2020-05-11 16:51] PhotoNomad0 commented on #6435
Fixed in translationCore 2.2.0 (690092a)

[2020-05-11 19:00] cckozie opened #6907 "tC hangs for over one minute after performing an import with overwrite"
2.2.0 (690092a)
This was working properly back on 4/30/20 in build 2.2.0 (ff3cb3e)
[Mon May 11 2020.log.zip](https://github.com/unfoldingWord/translationCore/files/4611742/Mon.May.11.2020.log.zip)

[6907 projects.zip](https://github.com/unfoldingWord/translationCore/files/4611547/6907.projects.zip)
1. Unzip the attached projects file
2. Import the 57-TIT3full.usfm file
3. Choose English as the GL,

[2020-05-12 14:09] cckozie opened #6908 "Users should not be allowed to work on projects whose name does not conform to the tC standard naming convention"
2.2.0 (690092a)
The user should be prevented from performing any activities on a project whose name does not conform to the tC standard, such as projects moved from the archive folder to the projects folder.
Currently the following undesired behaviors are occurring:
1. After selecting a project with the timestamp in the name and clicking OK on the project named alert, the user is returned to the P

[2020-05-12 14:10] cckozie commented on #6902
2.2.0 (690092a)
The crash has been fixed, but there is a few unexpected/undesired behaviors.
1. After selecting a project with the timestamp in the name and clicking OK on the project named alert, the user is returned to the Projects page rather than the Tools page.
2. If the user attempts an upload of a project whose name contains the timestamp, the upload fails with this alert:
![image](https://

[2020-05-12 14:31] cckozie commented on #6435
2.2.0 (690092a)
The critical error screen is no longer displayed after selecting the attached project. However the user is sent to the Projects page rather than the tools page after clicking OK on the project named alert. (Should be fixed by #6908)
Attempting to actually import (rather than just select) the project causes an import failure that should be fixed by #6899

[2020-05-12 15:28] birchamp commented on #6897
Consider this if we add tHelps navigation #5143

[2020-05-12 15:36] birchamp commented on #6889
@birchamp checking with @richmahn to see what error is returned.

[2020-05-12 15:40] birchamp commented on #6888
Could be related to #6822

[2020-05-12 17:41] richmahn commented on #6889
@birchamp
If I try to create a repo that was previous archive, I get 409 error and a JSON object saying the repo already exists

If tC is just trying to push a commit, I get this message in Git, which states "richmahn/test is archived"

[code]

[2020-05-12 17:45] richmahn commented on #6889
@birchamp Also, a get of the repo will say it is archived: See payload in this URL response: https://bg.door43.org/api/v1/repos/richmahn/test

[code]

[2020-05-12 19:00] elsylambert commented on #6435
Not seeing the critical error in tS project in 2.2.0 (690092a).

[2020-05-12 19:03] elsylambert commented on #6797
All the issues linked to Critical error screen Epic are addressed.

[2020-05-12 19:17] elsylambert commented on #6902
2.2.0 (690092a). Not seeing the error screen on importing back the Archived project. #6908 will be refining the restore process of the project.

[2020-05-13 03:10] mannycolon commented on #6840
Verified that 7.2.1-graphite is in the latest build

[2020-05-13 03:20] mannycolon commented on #6863
Documentation and video tutorials LGTM

[2020-05-13 04:28] mannycolon commented on #6771
@PhotoNomad0 Is this issue still needed?

[2020-05-13 13:55] birchamp opened #6910 "SPIKE[]: Research Multiple font options"
Determine if there are more font switches
 - None known for Awami and Scheherazade
 - Padauk need a css setting

Collect list of complex script GLs and what font is needed for each - including screenshots
- See #6788

~~Determine how to use system fonts in tC.~~

[2020-05-13 14:32] elsylambert commented on #6889
@PhotoNomad0 Steps to Archive a Project in DCS:
- Login to DCS and click on the Avatar on the Right-top corner and Go to Profile.
<img width="1792" alt="Screen Shot 2020-05-13 at 10 21 40 AM" src="https://user-images.githubusercontent.com/51806180/81825450-ae9aa680-9504-11ea-83ee-88686046d41e.png">
- Select the project that is to be archived from the list.
<img width="1792" alt="Screen Shot 2020-0

[2020-05-13 14:34] birchamp opened #6911 "SPIKE []: Research how to make debugging better for checking tool wrapper"
This SPIKE is needed for determining tasks needed for #6771

Could be potentially be solved by changing the source mapping setting.

[2020-05-13 15:43] da1nerd commented on #6879
For posterity, we've confirmed that electronite can now pass all the tests on the SIL test page.

[2020-05-13 22:24] cckozie commented on #6879
electronite-poc-app
As Manny's comment referenced above, the Paduak font is being displayed correctly in the POC. The Awami Nastaliq Font is not. So it seems to me that this issue is not ready for QA.
Am I wrong or missing something?
![image](https://user-images.githubusercontent.com/8171759/81871856-4963a700-953e-11ea-9379-b4cb491b4899.png)

[2020-05-13 23:07] cckozie opened #6913 "tN indicates a completed check (checkmark displayed in menu), but no selection is displayed."
2.2.0 (9ea8fdb)

[en_ust_rut_book.zip](https://github.com/unfoldingWord/translationCore/files/4625146/en_ust_rut_book.zip)

1. Load the attached project in tN
2. Navigate to verse 1:1 under Assumed Knowledge
3. Note that the checkmark is displayed on the verse in the menu, but there is no text selected.
![image](https://user-images.githubusercontent.com/8171759/81875013-e6c1d980-9544-11ea-9c4a-4d1

[2020-05-13 23:10] cckozie commented on #6913
"No selection needed" was set on.

[2020-05-13 23:10] #6913 closed, assigned to nobody

[2020-05-14 04:39] da1nerd commented on #6879
@cckozie that is incorrect. The awami font is working correctly. The text is simply not wrapping at the same points because the browser is not the same width as when the SIL team took their screenshot.
Also, the line height is different. Neither of those are related to font rendering.

[2020-05-14 09:17] da1nerd commented on #6718
The license here is pulled from the repository LICENSE.md file. We just need to keep that file up to date. Easy fix :)

[2020-05-14 11:18] PhotoNomad0 commented on #6733
Some errors:

1.   Not seeing this anymore
![Screen Shot 2020-05-14 at 7 17 27 AM](https://user-images.githubusercontent.com/14238574/81928377-27583c00-95b3-11ea-9a64-5adc7e4afd76.png)

2.  Looks like webpacked font not found.  Not seeing this anymore
![Screen Shot 2020-05-14 at 7 21 33 AM](https://user-images.githubusercontent.com/14238574/81928627-9170e100-95b3-11ea-8b55-f4289fdf10a9.png)

3. No

[2020-05-14 11:30] PhotoNomad0 commented on #6743
Note:
In reviewing develop build Version 2.2.0 (9ea8fdb), see hang opening rev ult.
[en_ult_rev_book.zip](https://github.com/unfoldingWord/translationCore/files/4628014/en_ult_rev_book.zip)

It is hanging while processing 405 edited verses.  So suspect it is breakage from https://github.com/unfoldingword/translationcore/issues/6791

[2020-05-14 11:50] PhotoNomad0 commented on #6791
Note:
In reviewing develop build Version 2.2.0 (9ea8fdb), see hang opening rev ult.
[en_ult_rev_book.zip](https://github.com/unfoldingWord/translationCore/files/4628014/en_ult_rev_book.zip)

It is hanging while processing 405 edited verses.  Looks like it never returns from:
`dispatch(batchActions(actionBatch));` in ensureCheckVerseEditsInGroupData()

After further review, it looks like tW has 233

[2020-05-14 12:20] PhotoNomad0 commented on #6743
Seeing error on verse edit:
[code]

[2020-05-14 12:51] cckozie opened #6915 "Don't mislead users as to the cause of failures while communicating with Door43"
As a tC user I would like to not be mislead as to the reason tC failed when communicating with Door43 so that I don't waste time troubleshooting the wrong problem.

One example is on #6889 reported by Perry Oakes, and likely the cause of a problem encountered by BCS.
Suggested fix: When the return code from Door43 does not match one of the specific errors we are watching for, rather than display t

[2020-05-14 13:55] birchamp opened #6916 "Add Integration testing to project import"

[2020-05-14 14:09] mannycolon opened #6917 "Migrate React Lifecycle Methods to prepare for React's deprecations"
## See more details

- https://reactjs.org/blog/2019/08/08/react-v16.9.0.html
- https://github.com/microsoft/reactxp/issues/1039

[2020-05-14 14:17] birchamp opened #6919 "SPIKE[]: Investigate NPM dependencies"
Research what NPMs need to be upgraded

## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-05-14 14:21] birchamp opened #6920 "SPIKE[]: Investigate upgrading Electronite with latest Electron"
#6863 for documentation on Electron upgrade
May be related to #6919

## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-05-14 14:30] birchamp opened #6921 "SPIKE: Investigate Gitea React Toolkit as a path for dropping Git."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-05-14 14:36] birchamp opened #6922 "SPIKE: Prioritize tech debt issues"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-05-15 00:24] PhotoNomad0 commented on #6791
Verified that ult rev book above will open without a long hang in translationCore 2.2.0 (4496c12)

[2020-05-15 00:37] PhotoNomad0 commented on #6743
Verified in translationCore 2.2.0 (4496c12)

[2020-05-15 00:38] PhotoNomad0 commented on #6785
Verified in translationCore 2.2.0 (4496c12)

[2020-05-15 00:59] PhotoNomad0 commented on #6718
fixed in translationCore 2.2.0 (4496c12)

[2020-05-15 02:57] cckozie commented on #6734
2.2.0 (9ea8fdb) starts in 3 - 4 seconds. Not seeing any change in  2.2.0 (4496c12). I think this was related to startup time for dev builds. If that is the case we need Bruce to weigh in on whether it works as expected. Bruce says it is acceptable as is.

[2020-05-15 03:06] cckozie commented on #6907
2.2.0 (4496c12)
App is responsive pretty much immediately when the Tools page is reached after the import of the second file.

[2020-05-15 03:51] mannycolon commented on #6899
Can't replicate in latest develop branch

[2020-05-15 10:25] PhotoNomad0 commented on #6889
@birchamp @cckozie @elsylambert - is there more that we want done here than just adding a message that the project has been archived?  @cckozie had mentioned changing the default message when we don't recognize the response from D43.

Also what text do we want to show on the archive message or the default message?
And do we want to give the option of reporting this?

[2020-05-15 10:30] PhotoNomad0 commented on #6889
Note - see in error log:

![Screen Shot 2020-05-15 at 6 29 25 AM](https://user-images.githubusercontent.com/14238574/82041054-8ed6c000-9675-11ea-99e8-bf9161e88fc4.png)

[2020-05-15 10:38] PhotoNomad0 commented on #6906
Verified in translationCore 2.2.0 (4496c12)

[2020-05-15 12:32] cckozie commented on #6889
@PhotoNomad0 The ideas I mentioned related to this problem are in #6915. I would suggest there isn't a need for sending feedback on this one.
@birchamp Will need to supply the verbiage.

[2020-05-15 13:11] PhotoNomad0 commented on #6889
@cckozie - part of the problem here is that the returned message said `unable to access` which covers a lot of possibilities including internet problems and D43 problems.

[2020-05-15 14:29] birchamp commented on #6889
@PhotoNomad0 Is there a response from the server that is short enough to go on the default/fallback alert? For instance:  "Unable to connect to the server.  Server response: 500 unable to connect"

[2020-05-15 14:32] cckozie commented on #6889
@PhotoNomad0 Yes, my understanding was that on this issue we just wanted to correct that problem by changing the text on the alert.

[2020-05-15 15:01] PhotoNomad0 commented on #6889
@birchamp Sorry I wasn't clear, but I need a message that can be localized.  Something along the line of "Cannot upload project to Door43 because it has been archived". @cckozie

[2020-05-15 15:03] PhotoNomad0 commented on #6889
or better: "Cannot upload project because it has been archived on Door43".

[2020-05-15 15:31] PhotoNomad0 commented on #6889
Do we want the project name in it?  Like:

"Cannot upload project (${project_name}) because it has been archived on Door43".

[2020-05-15 15:54] elsylambert commented on #6889
@PhotoNomad0 "Cannot upload project (${project_name}) because it has been archived on Door43". this sounds good. The project name in the message helps.

[2020-05-15 15:55] richmahn commented on #6889
Is there a way to give a little tip on what a user must do to go unarchive it, or rename their project? Some users might not even know what that means for a repo/project to have been archived, especially if they didn't do it.

[2020-05-15 16:01] elsylambert commented on #6889
The project ${project_name}) cannot be uploaded because it has been archived on Door43.
Line 2: To Upload this project, kindly unarchive the project on Door43 first or rename the project in translationCore.
@birchamp @cckozie

The usecase here is that the project in the User's Repo is archived. Can someone else archive the project in your Repo? @richmahn

[2020-05-15 16:35] elsylambert commented on #6791
Not seeing the issue in 2.2.0 (4496c12). The Rev_ult project with large edits opens fine in all the tools.

[2020-05-15 16:49] PhotoNomad0 commented on #6889
@elsylambert - I like the `kindly` part - very polite to sensitive users.

[2020-05-15 16:52] PhotoNomad0 commented on #6889
This is what I have:

![Screen Shot 2020-05-15 at 12 52 15 PM](https://user-images.githubusercontent.com/14238574/82075856-ef342480-96aa-11ea-9f7d-e7be61011ca1.png)

[2020-05-15 16:54] elsylambert commented on #6785
Looks good in 2.2.0 (4496c12). Broken link is displayed on the Invalidated verse;-
- when edits are done in tW, icon is displayed in tN and wA for invalidation.
- When edits are done in tN, icon is displayed in tW and wA.
- when edits are done in wA, icon is displayed on tN and tW.

[2020-05-15 17:24] joeldruark opened #6927 "Problem uploading ULT file to DCS repo"
I am using tCore to review and edit the ULT alignment for the book on Nehemiah.  I hit an unexpected problem uploading my work yesterday to my DCS repo.  I tried deleting the file from my repo and reuploading, but still the same problem.  Here is the error message that I am getting.
<img width="766" alt="Screen Shot 2020-05-15 at 9 01 10 AM" src="https://user-images.githubusercontent.com/34244019/

[2020-05-15 17:32] joeldruark commented on #6927
[en_ult_neh_book.zip](https://github.com/unfoldingWord/translationCore/files/4636049/en_ult_neh_book.zip)

[2020-05-15 17:48] elsylambert commented on #6927
I am able to replicate this issue in 2.2.0 (4496c12).
Here is my log file:
[Fri May 15 2020.log.zip](https://github.com/unfoldingWord/translationCore/files/4636142/Fri.May.15.2020.log.zip)
I copied the attached project in Projects folder. The project opens fine in tC with 98% alignment. When uploaded to D43, I got the error message.

[2020-05-15 17:57] elsylambert commented on #6889
@PhotoNomad0 . Please add "." (Period) in the end, after translationCore.

[2020-05-15 18:52] birchamp commented on #6879
@cckozie Please connect with @neutrinog to reproduce the steps to get it working.

 On my machine I'm seeing what Joel is seeing ![Graphite-POC-Awami.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/999cc56b-8096-4f9d-b548-ba55a1054750)

[2020-05-15 20:13] PhotoNomad0 commented on #6889
Verified in translationCore 2.2.0 (7ccf7e3)

[2020-05-16 11:08] PhotoNomad0 commented on #6911
@mannycolon - have had some success with removing webpack in checking-tool-wrapper branch `feature-mcleanb-6771`. But I don't think the devtools are seeing the source maps.  At least it is readable code and can set breakpoints.

[2020-05-18 13:30] elsylambert commented on #6927
[en_ult_neh_book.zip](https://github.com/unfoldingWord/translationCore/files/4644386/en_ult_neh_book.zip)
@PhotoNomad0  @birchamp Deleting index.lock file works. Able to upload the project to D43 now.

[2020-05-18 13:38] cckozie commented on #6879
Taking Birch's word that this is working as is should be. If problems still exist they will be written up in tC.

[2020-05-18 13:42] PhotoNomad0 commented on #6927
@birchamp If we see this in the field, this would be a difficult problem for tech support to walk people through- deleting a hidden file from the file system.  Maybe we could add a warning when the user opens the project and give them the option of unlocking and continuing? @cckozie @elsylambert

[2020-05-18 13:43] cckozie commented on #6734
@elsylambert - Please test this on Windows to ensure that the startup time has not increased.

[2020-05-18 13:48] cckozie commented on #6899
Still failing in 2.2.0 (d786804)
![image](https://user-images.githubusercontent.com/8171759/82220490-538df880-98e4-11ea-835c-1ac1586f4da5.png)

[2020-05-18 14:32] cckozie commented on #6791
2.2.0 (d786804)
The original problem related to losing tN selections remains fixed.
The Revelation project does now open, although the first time it is selected there is a 7 second delay on the tools page before tC will accept user input. This is written up in #6796.

[2020-05-18 14:47] cckozie commented on #6906
2.2.0 (d786804) The correct user name is now written to all CSV files.

[2020-05-18 15:13] mannycolon commented on #6899
@cckozie Can't replicate it locally is there any missing steps in steps above?

[2020-05-18 15:16] cckozie opened #6932 "Consider adding a warning when users attempt to import an archived project from their own repo"
It is my assumption that users who archive their projects on Door43 do so to protect those projects from being modified. (Archiving a project in Git just makes it a read-only repo)
Since tC does allow archived projects to be imported and modified, it might be good to inform them at the time of import that the project is archived and it will need to be unarchived before it can be re-uploaded.

[2020-05-18 15:17] cckozie commented on #6889
2.2.0 (d786804) The proper alert is now displayed. While testing I noticed a possible problem with how we deal archived projects. Wrote this up on #6932

[2020-05-18 15:21] cckozie commented on #6899
@mannycolon - No, I just unzip one of the projects in the first comment and attempt to import it.

[2020-05-18 16:19] mannycolon commented on #6899
@cckozie Okay, only seeing error in builds not in local development

[2020-05-18 16:40] elsylambert commented on #6906
Looks good in 2.2.0 (d786804). The username is displayed correctly in all the CSV files.

[2020-05-18 18:49] cckozie commented on #6785
2.2.0 (d786804) It is better, but still broken
1. Import https://git.door43.org/TC_SAVE/en_edit_phm_book
2. Load it in tN
3. Verify that 'you' is selected on verse 1:3 in the Inclusive and Exclusive We group
4. Verify that 'Christ' is part of the selection on verse 1:25 in the Forms of You group
5. Verify that 'soldier' is part of the selection on verse 1:2 in the Exclusive and Inclusive We group

[2020-05-18 19:18] #6927 closed, assigned to PhotoNomad0

[2020-05-18 19:23] elsylambert commented on #6889
Looks good in 2.2.0 (d786804). The alert is displayed properly when the project is archived on D43.

[2020-05-18 19:40] elsylambert commented on #6718
Looks good in 2.2.0 (d786804). Year has been changed to 2017-2020.
![image-1589830738356](https://user-images.githubusercontent.com/51806180/82252870-d54e4800-991d-11ea-8075-fa28f973223b.png)

[2020-05-18 19:56] elsylambert commented on #6734
On my slow windows machine-
First time start up time for the builds:-
2.1.2- 9:47.00
Upgraded from 2.1.2 to 2.2.0(51afa6e).
Time to start up 2.2.0(51afa6e)-14:41.17

@cckozie It has slowed down substantially in 2.2.0.

[2020-05-18 21:05] birchamp opened #6935 "Choose and use complex script font for a project"
## Story Explanation
### User Story
As a tC user, I want to be able to choose a font from a list of limited font options that will then display the project's language so I can check my text.  Fonts are limited to: Noto Sans, Padauk, Sheherazade, and Awami Nastaliq.

### Features / Specifications

- [ ] Add font selection dropdown to project info screen with Noto Sans as the default and Awami Nasta

[2020-05-18 23:43] cckozie commented on #6743
2.2.0 (d786804) - Edit icons appear to be working correctly when the edits are performed in one of the tools, but not when the edits are performed via import with overwrite.
[58-PHM-edits.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4647427/58-PHM-edits.usfm.zip)

1. Import https://git.door43.org/TC_SAVE/en_edit_phm_book
2. Import the attached file giving it 'en' for language c

[2020-05-19 01:29] mannycolon commented on #6899
Verified on 51afa6e

[2020-05-19 01:31] mannycolon commented on #6845
Verified on 48abded

[2020-05-19 02:33] mannycolon commented on #6870
is this a dup?

[2020-05-19 13:12] #6675 closed, assigned to PhotoNomad0

[2020-05-19 13:12] #6858 closed, assigned to da1nerd

[2020-05-19 13:13] #6790 closed, assigned to PhotoNomad0

[2020-05-19 13:13] #6724 closed, assigned to mannycolon

[2020-05-19 13:13] #5960 closed, assigned to mannycolon

[2020-05-19 13:13] #6294 closed, assigned to PhotoNomad0, mannycolon

[2020-05-19 13:14] #6726 closed, assigned to mannycolon

[2020-05-19 13:26] #6826 closed, assigned to mannycolon

[2020-05-19 13:26] #6877 closed, assigned to PhotoNomad0

[2020-05-19 13:26] #6435 closed, assigned to PhotoNomad0

[2020-05-19 13:27] #6902 closed, assigned to cckozie, PhotoNomad0

[2020-05-19 13:27] #6840 closed, assigned to da1nerd

[2020-05-19 13:27] #6863 closed, assigned to da1nerd

[2020-05-19 13:27] #6797 closed, assigned to nobody

[2020-05-19 13:27] #6879 closed, assigned to da1nerd

[2020-05-19 13:27] #6765 closed, assigned to mannycolon

[2020-05-19 13:28] #6791 closed, assigned to PhotoNomad0

[2020-05-19 13:28] #6906 closed, assigned to da1nerd

[2020-05-19 13:28] #6718 closed, assigned to da1nerd

[2020-05-19 14:36] cckozie commented on #5098
2.2.0 (d786804) Current implementaion
![Screen Shot 2020-05-19 at 9 33 00 AM](https://user-images.githubusercontent.com/8171759/82339833-1b55eb00-99b4-11ea-8ff0-ebe6d5e6d2fa.jpg)
![Screen Shot 2020-05-19 at 9 32 13 AM](https://user-images.githubusercontent.com/8171759/82339840-1e50db80-99b4-11ea-8aa9-c4d549d66053.jpg)
![Screen Shot 2020-05-19 at 9 31 34 AM](https://user-images.githubusercontent.co

[2020-05-19 14:53] mannycolon commented on #6870
Dup of 6771

[2020-05-19 14:53] mannycolon commented on #6870
Dup of 6771

[2020-05-19 14:53] #6870 closed, assigned to nobody

[2020-05-19 19:05] cckozie commented on #6845
2.2.0 (40d6f2b)
This message is now displayed during the alignment resets, and when finished the uploading message is displayed. Seems like the resets are pretty slow, but overall it is about the same duration as in 2.1.2
![image](https://user-images.githubusercontent.com/8171759/82367847-11df7980-99da-11ea-9bf3-fa1e8c207a6d.png)

[2020-05-19 19:11] mannycolon opened #6937 "Add font selection dropdown to project details screen (Frontend Design)"
- Make standard Unicode font the default and Awami Nastaliq and Scheherazade fonts as options.
- Fonts are stored in a subfolder under the current fonts folder with the name complex script
e.g.
[code]
- Font selection dropdown comes from list saved in src/assets, named complexScriptFonts.js
- Font selection dropdown is not searchable
- Include CSS font setting for Padauk

[2020-05-19 19:12] cckozie commented on #6899
Able to successfully import the attached projects in 2.2.0 (40d6f2b)

[2020-05-19 19:23] mannycolon opened #6938 "Build backend to allow project font selection (Backend Design)"
- Store the fonts in a subfolder under the current fonts folder with the name complex script
e.g.
[code]
- Create list of complex script fonts with font name and font file name
[code]
- Save the list in src/assets, name it complexScriptFonts.js
- Create redux action to update a projects font selection
- Add support to use chosen font wherever the project is displayed otherwise keep using the curre

[2020-05-19 19:31] cckozie opened #6939 "tC sometimes invalidates only part of the selection when the verse is edited"
2.2.0 (40d6f2b)
1. Import a Titus project that does not have any completed checks
2. Load the project in tN
3. Navigate to verse 2:15 in the Assumed Knowledge group
4. Complete the check as instructed (Let...disregard you)
5. Click Save
6. Click Edit Verse
7. Replace the word 'you' with 'us'
8. Choose a reason and Click Save
9. Note that your entire selection has been cleared
10. Complete the chec

[2020-05-19 19:40] mannycolon commented on #6935
@birchamp
1. What do you mean when you say `standard Unicode font`? Do you mean keep using the regular font we currently use?
1. `Current Unicode, Sheherazade, and Awami Nastaliq.` Is this the correct list? Aren't we missing `Padauk` on that list?
1. What does `Render the project as Right-to-Left (RTL) if it is designated as such` entail?

[2020-05-19 19:44] birchamp commented on #6935
@mannycolon
1. Yes.  I'm not sure what the name itself is.
2. Padauk is lower priority than the other 2 at this point. If we can get these 2 in then we can work on Padauk.
3. We just want to make sure if the project is set as a RTL project, that it's shown RTL wherever it's displayed.

[2020-05-19 19:46] mannycolon commented on #6935
@birchamp Okay, we'll discuss tomorrow in sprint planning

[2020-05-19 19:48] mannycolon commented on #6935
Fonts can be found here https://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_fonts#9af3d9fe

[2020-05-19 19:52] mannycolon commented on #6935
I would suggest including the Padauk font in this issue since adding it wouldn't change the estimate or the technical scope of the issue. It would allow us to easily validate complex script because of how easy it is to identify when the Burmese is rendering correctly.

[2020-05-19 20:54] birchamp commented on #6935
@mannycolon that development use increases the value of the Padauk. I'll add it.

[2020-05-19 22:19] PhotoNomad0 commented on #6785
@cckozie - excellent write up here of various failure modes.  Very clear here.

[2020-05-19 22:57] elsylambert commented on #6845
Looks good in 2.2.0 (b749003). The alert message showing the Alignment resets is displayed.

[2020-05-19 23:22] elsylambert commented on #6907
Not seeing this issue in 2.2.0 (b749003). tC opens the tools page immediately after the overwrite.

[2020-05-19 23:26] PhotoNomad0 commented on #6911
@birchamp @mannycolon I think we can close this now that https://github.com/unfoldingword/translationcore/issues/6771 is implimented.

[2020-05-19 23:32] cckozie commented on #6785
Thanks, @PhotoNomad0 - I had to do it that detailed in order to replicate it myself:)

[2020-05-19 23:33] elsylambert commented on #6899
Not seeing the error message while importing the tS projects in 2.2.0 (b749003).

[2020-05-20 13:10] PhotoNomad0 commented on #6771
Implemented in Version 2.2.0 (b749003).  Should not see any changes in tC.

[2020-05-20 13:27] PhotoNomad0 commented on #6785
Note: it looks like there is a problem when other tools are being invalidated that they are unaware of the new verse text.

[2020-05-20 13:53] birchamp commented on #6788
This issue is used for validating the work done for #6935

[2020-05-20 14:30] #6911 closed, assigned to PhotoNomad0

[2020-05-20 17:37] cckozie commented on #6504
There has been a dramatic improvement in the time it takes to test for resets when editing in the scripture pane of tW and wA, and those number are now pretty consistent with editing the scripture pane in tN.
However, it still takes about twice as long to test for resets when editing in the scripture pane as when editing in the check pane of both tW and tN.
![image](https://user-images.githubuserc

[2020-05-20 18:42] cckozie commented on #6792
In 2.2.0 (b749003) saving checks is sub-second in both tN and tW. Closing this issue.

[2020-05-20 18:42] #6792 closed, assigned to nobody

[2020-05-20 20:48] cckozie commented on #6734
Windows machine;
2.2.0 (b749003) - 8 seconds on latest build
2.2.0-(d2e40ce) - 14 seconds on build from 4/29/20

[2020-05-20 21:06] cckozie commented on #6734
Additional information for the first startup on a clean install (on Mac):
2.2.0 (b749003) - 94 seconds, resources folder is 971MB
2.1.2 (44c92e9) - 91 seconds, resources folder is 772MB
Additional information for the first startup on a clean install on WIndows:
2.2.0 (b749003) - 195 seconds with virus scan stopped
2.1.2 (44c92e9) - 295 seconds with virus scan stopped
2.2.0 (b749003) - 225 seconds

[2020-05-20 22:27] cckozie commented on #6771
Should there be an estimate on this issue?

[2020-05-20 23:54] cckozie opened #6940 "Loading tool data alert is not displayed until the open tool is displayed"
In 2.1.2, the Loading tool data alert was displayed as soon as the Launch button was clicked.
In 2.2, the Loading tool data alert is not displayed until the tool actually opens so there is a few seconds delay after clicking the Launch button until there is any indicator of processing.

[Loading tool data 2.1.2.webm.zip](https://github.com/unfoldingWord/translationCore/files/4659905/Loading.tool.da

[2020-05-21 02:52] elsylambert commented on #6734
First Startup:
2.1.2- 00:55.16
After upgrade to 2.2.0 (b749003)- 6:02.33
First Startup:
2.2.0 (b749003)- 00:10.13

[2020-05-21 03:52] cckozie commented on #6817
Looks like the fonts are rendering correctly in 2.2.0 (b749003)

[2020-05-21 11:07] PhotoNomad0 commented on #5098
Highlighted issues I have found:
![82339853-201a9f00-99b4-11ea-99e0-13ff70ced1c0](https://user-images.githubusercontent.com/14238574/82553159-84af3880-9b31-11ea-9dff-3e427bc2cc4d.jpg)
![82343058-f9f6fe00-99b7-11ea-9d20-f131776a7174](https://user-images.githubusercontent.com/14238574/82553167-87119280-9b31-11ea-832f-55b80859a739.jpg)
![82339847-1f820880-99b4-11ea-8743-4076e018903c](https://user-ima

[2020-05-21 11:10] PhotoNomad0 commented on #5098
@birchamp @cckozie @elsylambert - Most issues are probably to be based off the target language, but a few of these probably should be based off the locale language.

[2020-05-21 11:38] PhotoNomad0 commented on #5195
@birchamp @cckozie - On this one it looks like the screenshot is incorrect - the reference should be to the right of the book name.

[2020-05-21 11:40] PhotoNomad0 commented on #5196
@birchamp @cckozie - ~On this one it looks like the screenshot is incorrect - the reference should be to the right of the book name.~ screenshot is correct.

[2020-05-21 11:53] PhotoNomad0 commented on #5197
@birchamp @cckozie @neutrinog - In the latest build it looks like none of these items are saved out correctly.
![Screen Shot 2020-05-21 at 7 49 02 AM copy](https://user-images.githubusercontent.com/14238574/82556612-1cb02080-9b38-11ea-82bb-7b502e4206ee.png)

[2020-05-21 11:56] PhotoNomad0 commented on #5197
Also for OT:
![Screen Shot 2020-05-21 at 7 55 44 AM](https://user-images.githubusercontent.com/14238574/82556845-8af4e300-9b38-11ea-81b3-145d9b69170e.png)

[2020-05-21 11:58] PhotoNomad0 opened #6941 "RTL support in enhanced Scripture Pane"

[2020-05-21 12:27] cckozie commented on #5098
The entire UI definition needs to be mirrored for RTL locales.

[2020-05-21 12:33] birchamp commented on #5195
No the ref shouldn't be to the right of the book name.  The problem that Ben points out is the order of the chapter and verse should be reversed.  I'll confirm with Alex, but what Ben is saying above is that it should read:
`[verse text] [verse number]:[chapter number] [Book]`

[2020-05-21 12:38] PhotoNomad0 commented on #6941
![82339847-1f820880-99b4-11ea-8743-4076e018903c](https://user-images.githubusercontent.com/14238574/82559948-77e51180-9b3e-11ea-98de-1ac77a99b88f.jpg)

[2020-05-21 12:41] cckozie commented on #5197
This was better in 2.1.2
<img width="853" alt="rtl1" src="https://user-images.githubusercontent.com/8171759/82560155-7fa0b800-9b36-11ea-974d-06e220e9c600.png">
I'm actually seeing the same thing in the latest 2.2.0 (b749003)
![image](https://user-images.githubusercontent.com/8171759/82561692-69e0c200-9b39-11ea-9dd1-e02fae6530fe.png)

[2020-05-21 12:49] birchamp commented on #5195
@PhotoNomad0 I confirmed with Alex. Yes.
~~`[verse text] [verse number]:[chapter number] [Book]`~~

[2020-05-21 13:51] PhotoNomad0 commented on #5197
@cckozie @elsylambert - could you try this project?
[58-PHM_ar.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4662739/58-PHM_ar.usfm.zip)

[2020-05-21 14:01] PhotoNomad0 commented on #5197
@cckozie @elsylambert - I am seeing the same thing on my windows machine with the above project.  USFM import issue?

[2020-05-21 14:02] cckozie commented on #5197
@PhotoNomad0 - I'm seeing the same as you with that project. Even tried reimporting designating LTR on the details page and that, of course, makes it wrong in the scripture pane too. Very strange!

[2020-05-21 14:51] PhotoNomad0 commented on #5197
Note:

I found that the WA tool is reading the language direction settings from `./phm/manifest.json`, but when you edit the project the changes are saved to `./manifest.json`.

looks like the fix would be in loadTargetLanguageBook() - currently the settings from`./manifest.json` override the other manifest's language name and code, but not direction.

[2020-05-21 15:33] birchamp opened #6943 "Adjust text size of scripture text"
## Story Explanation
### User Story

As a checker using tC, I want to be able to change the size of the text in a specific pane so I can read the text more clearly or see more of the text at one time. The sizes of the text should be saved so it remains the same.

### Features / Specifications

- [x]  Each scripture text pane should have a text size adjustment icon and slider (see mockup below)
- [

[2020-05-21 15:42] birchamp commented on #6937
mockup from the epic #6935
![Font_Choice.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/222b5772-7e29-4b13-b8d7-485fab69bf8c)

[2020-05-21 15:59] birchamp commented on #5195
@PhotoNomad0 Per Donny Duvall - "don't think I've actually seen it all written out on one line like that before.  What you have is consistent with what I would expect."

[2020-05-21 16:48] cckozie opened #6944 "Arabic font rendering is different in 2.2 than in 2.1.2"
Maybe I passed the thinner fonts issue one day too soon. It looks like this is not related to Electronite.
These screenshots were taken with this project in wA.
[ar_eph_text_ulb.tstudio.zip](https://github.com/unfoldingWord/translationCore/files/4663597/ar_eph_text_ulb.tstudio.zip)

2.1.2 (44c92e9)
![image](https://user-images.githubusercontent.com/8171759/82583617-e040ec80-9b58-11ea-96e6-b7a84c83

[2020-05-21 17:24] PhotoNomad0 opened #6945 "Current build no longer saves the version of resources used for tool."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-05-21 17:25] PhotoNomad0 commented on #6945
@cckozie @elsylambert - some more breakage

[2020-05-21 17:26] PhotoNomad0 commented on #6945
Note: saveResourcesUsed() is no longer being called in prepareToolForLoading()

[2020-05-21 20:12] birchamp commented on #6944
@cckozie  We need to wait until we're using the Scheherazade Graphite font and then we can see what we get. There are anti-collision features built in. Definitely something to keep watch on though.

[2020-05-21 20:18] PhotoNomad0 commented on #6743
Verified fix is in Version 2.2.0 (4920def)

[2020-05-21 20:19] PhotoNomad0 commented on #6785
verified changes in Version 2.2.0 (4920def)

[2020-05-26 15:43] cckozie opened #6947 "wA improperly invalidates matching edited words when a project is reimported with Overwrite"
2.2.0 (4920def)
[57-TIT3full.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4683343/57-TIT3full.usfm.zip)

1. Import the attached fully aligned USFM project
2. Note that the wA tool card indicates 100% completed alignments
3. Load the project in tN
4. Edit verse 1:1 in the exported USFM file to change the text from "Paul, a servant" to "Paul, the servant"
5. Choose a reason and c

[2020-05-26 15:55] cckozie commented on #6742
@birchamp - In testing another issue I determined that this problem did not exists in 2.1.2. With my bias toward "a release should not break previously working features", I would prefer this to be moved to 2.2 if possible.

[2020-05-26 16:03] cckozie commented on #6799
@birchamp - As in #6742, this one also worked correctly in 2.1.2

[2020-05-26 23:27] PhotoNomad0 commented on #5197
Verified in translationCore 3.0.0 (a444d5f)

[2020-05-27 01:49] elsylambert commented on #6743
Looks good in 3.0.0 (a444d5f) . Edit icon is displayed on verse in a tool when edits are done in another. Edit icon is working fine on the project that was overwritten.

[2020-05-27 11:52] PhotoNomad0 commented on #5197
found another issue - verse editor:
![Screen Shot 2020-05-27 at 7.53.45 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/8b742149-a7ec-4d0a-9871-2901e08079df)

[2020-05-27 11:57] PhotoNomad0 commented on #5197
@cckozie @elsylambert ^^^

[2020-05-27 12:02] PhotoNomad0 commented on #5197
Since this is the same verse editor as used in Enhanced SP, will fix it as part of 5194.

[2020-05-27 12:19] PhotoNomad0 commented on #5194
found another issue - verse editor:
![Screen Shot 2020-05-27 at 7.53.45 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/8b742149-a7ec-4d0a-9871-2901e08079df)

[2020-05-27 13:11] PhotoNomad0 commented on #5194
For SP I think this should be:
such as:
![Screen Shot 2020-05-27 at 7 33 06 AM](https://user-images.githubusercontent.com/14238574/83014769-46ac8b80-9fed-11ea-9be2-0479cc0ffa52.png)

[2020-05-27 14:40] PhotoNomad0 commented on #5194
@birchamp - Screenshot for review:
![Screen Shot 2020-05-27 at 10 39 22 AM](https://user-images.githubusercontent.com/14238574/83034571-669c7900-a006-11ea-81ac-d83d8404156f.png)

[2020-05-27 22:28] elsylambert commented on #6785
Looks good in 3.0.0 (a444d5f). Seeing Invalidation link icon on the invalidated verses including the cases mentioned above.

[2020-05-27 22:49] elsylambert commented on #5197
wA:Comments Box should write from Right to left

[2020-05-28 12:38] PhotoNomad0 commented on #5194
@birchamp @cckozie @elsylambert  - Updated screenshot to reflect feedback from Alex that when reference is written in English it is shown in chapter:verse order.
![Screen Shot 2020-05-28 at 8 36 01 AM](https://user-images.githubusercontent.com/14238574/83142504-96a75300-a0be-11ea-985c-1181b491fbd1.png)

[2020-05-28 12:41] PhotoNomad0 commented on #5194
And:
![Screen Shot 2020-05-28 at 8 41 28 AM](https://user-images.githubusercontent.com/14238574/83142858-133a3180-a0bf-11ea-9bf6-47354040004e.png)

[2020-05-30 01:50] cckozie commented on #6743
Seeing the edit icons as expected in 2.2.0 (4920def)

[2020-05-30 02:20] cckozie commented on #6785
Invalidation links show as expected in 2.2.0 (4920def)

[2020-05-31 11:04] PhotoNomad0 commented on #5196
Note - items needed to fix
![Screen Shot 2020-05-31 at 7 00 08 AM copy](https://user-images.githubusercontent.com/14238574/83350828-eaa77700-a30c-11ea-8bd2-721026e47087.png)

[2020-06-01 12:18] PhotoNomad0 commented on #5196
@cckozie @elsylambert - on the screenshot above the `has been translated as: "...` should not be circled - it is correct.  Hard for me to interpret right to left.

[2020-06-01 12:27] PhotoNomad0 commented on #5196
Note: interesting on the group menu that ellipsis is showing up on the right when text overflows.

[2020-06-01 13:17] PhotoNomad0 opened #6952 "RTL support in Project cards"
Current layout on projects page:

![Screen Shot 2020-06-01 at 9 07 41 AM copy](https://user-images.githubusercontent.com/14238574/83413452-d84f3b00-a3e9-11ea-981d-f23c30941f49.png)

1. for the book name there are two issues here:
  a. for RTL it looks like ellipsis is on the wrong side of name
  b. it looks like we are just truncating at 23 characters causing strange artifact in Arabic, but when y

[2020-06-01 18:14] cckozie commented on #6788
3.0.0 (c8646fa)
**Alex verified that the rendering in tC and Paratext are both correct. The differences are caused by a difference in fonts.**
Comparing this screenshot from 1:2 in the https://git.door43.org/birch/ar_vdb_tit_book project to a screenshot taken from Paratext created from a USFM export of that project.
(Paratext on top, tC on bottom of screenshots)
Paratext uses Charis SIL as the def

[2020-06-01 19:46] elsylambert commented on #5197
<img width="1221" alt="Screen Shot 2020-06-01 at 3 45 50 PM" src="https://user-images.githubusercontent.com/51806180/83447843-08fd9780-a41f-11ea-8545-9f76d50f10d0.png">
Looks good in 3.0.0 (c8646fa). Individual components like side menu bar and verse edits are covered in separate issues.

[2020-06-01 20:17] cckozie commented on #6788
3.0.0 (c8646fa)
The (my) font appears to be correctly rendered wherever it is displayed, but the font size is noticeably smaller in the edit pane of the expanded scripture pane (and from the tool bar in wA) than in the other panes where it is dispayed. (This 'problem' should be eliminated by the font sizing issue)
![image](https://user-images.githubusercontent.com/8171759/83451356-680ddd00-a41c-11

[2020-06-01 21:47] elsylambert commented on #6937
@mannycolon For an Arabic project import, do I have to select a Language Font as Awami Nastaliq or does tC recognize the font by itself?
Just wondering, I did no selection while online import of an Arabic project.

[2020-06-02 12:37] birchamp opened #6955 "WA tool doesn't work with new projects in Linux"
To reproduce the problem:
1. Open tC in Linux
2. Import a USFM file and create a new project
3. Open the WA tool
4. Click through the alerts.

The WA tool shows a Warning.
![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/50840d61-ac3c-4a8c-8ab4-d6c63a640abe)

[2020-06-02 12:38] cckozie commented on #6937
Adding to Elsy's comment above, is the plan to have default selections for a font based on the language? (Defaulting to Noto Sans is specified in the epic)
Also, font selection dropdown lists (and other dropdowns) usually display the options in alphabetical order. Is that planned as part of another issue?

[2020-06-02 12:55] PhotoNomad0 commented on #6955
@neutrinog -  The first problem I found was resource migration fails which explains why it launches so quickly the first time. Looks like a permissions problem that is happening on github action builds, but don't see it when doing `npm start`. Made a build to print the path to the bundled resources and saw that it is correct (`/opt/translationcore/resources/app/static/tcResources/source-content-up

[2020-06-02 13:22] PhotoNomad0 commented on #6955
@neutrinog - FYI, I just ran `npm run build` in Linux and see that I get the same permissions problem when I launch that.

[2020-06-02 14:07] PhotoNomad0 commented on #5195
Verified in translationCore 3.0.0 (a74a650)

[2020-06-02 14:15] PhotoNomad0 commented on #5194
Verified in translationCore 3.0.0 (a74a650)

[2020-06-02 16:26] PhotoNomad0 commented on #6945
This is working now in latest develop build

[2020-06-02 16:39] PhotoNomad0 commented on #6941
@birchamp @cckozie @elsylambert  - is it even worth the effort to move the pencil icon?  I haven't even seen a mockup where it should be on the left with RTL language.

[2020-06-02 16:39] cckozie opened #6957 "Problems with the width of the word bank in wA"
This was broken in 2.2.

[en-x-demo1_1jn_text_reg.tstudio.zip](https://github.com/unfoldingWord/translationCore/files/4718523/en-x-demo1_1jn_text_reg.tstudio.zip)
This image from 3.0.0 (c8646fa)
<img width="1192" alt="english 1jn" src="https://user-images.githubusercontent.com/8171759/83545670-24bb7900-a4c5-11ea-98fb-837089b1008b.png">
Same view from 2.1.2
<img width="1193" alt="english 1jn 2" src

[2020-06-02 16:44] cckozie commented on #6941
In reference to ^^^
My 2 cents: The pencil is part of the UI, not the content, and thus should be dealt with in the UI RTL issue(s).

[2020-06-02 16:46] elsylambert commented on #6957
<img width="1675" alt="Screen Shot 2020-05-26 at 5 03 35 PM" src="https://user-images.githubusercontent.com/51806180/83546695-15412d80-a4cf-11ea-848a-6954614e54ed.png">

[2020-06-02 17:05] cckozie commented on #5197
3.0.0 (c8646fa)
@birchamp - 1) What should be the result in the scenario where the project is in an LTR language and the user selects the LTR option and the font for an RTL language? Do we even care?
2) Is the correct title for the field "Language Font" or just "Font"?
Current implementation shows this: (the truncation of the words in the word bank is written up in #6957)
![image](https://user-ima

[2020-06-02 17:06] PhotoNomad0 commented on #6952
@birchamp @elsylambert @cckozie - other than maybe correcting ellipsis position for RTL, is there anything worth fixing now?

[2020-06-02 17:11] PhotoNomad0 commented on #6941
@cckozie Not following here.  Are you suggesting we should not move the pencil icon then?

[2020-06-02 17:39] cckozie commented on #6941
@PhotoNomad0 - Yes, not move it until we do the UI mirroring for RTL.

[2020-06-02 17:53] #6910 closed, assigned to nobody

[2020-06-02 19:13] cckozie commented on #6788
3.0.0 (c8646fa)
https://git.door43.org/birch/ar_vdb_tit_book
[57-TIT_myanmar_judson_1835_utf8.usfm.txt.zip](https://github.com/unfoldingWord/translationCore/files/4719846/57-TIT_myanmar_judson_1835_utf8.usfm.txt.zip)

ISSUE A: **Fixed in 3.0.0 (a03e2cc)**
We are using a different font than the one selected when displaying the book name in the check pane of tN and tW, and in the verse edit pane for

[2020-06-02 19:31] birchamp commented on #6941
@PhotoNomad0  It's not necessary to move it.

[2020-06-02 20:05] PhotoNomad0 commented on #5196
Verified in translationCore 3.0.0 (cab30f7)

[2020-06-02 20:08] PhotoNomad0 commented on #6941
@birchamp I guess we either close this issue or move it out of sprint.

[2020-06-02 20:15] mannycolon commented on #6504
Did spike and implementation together which resulted in a `Large` estimate

[2020-06-02 21:12] cckozie opened #6959 "Lemma matches do not appear to be working with Arabic project"
3.0.0 (c8646fa)
This Lemma match does work correctly on an English Titus project.
[ar_mow_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4719728/ar_mow_tit_book.zip)
<img width="1390" alt="God1" src="https://user-images.githubusercontent.com/8171759/83570505-c8b81b00-a4eb-11ea-9d9c-5abfaffbc1cd.png">
<img width="1435" alt="God2" src="https://user-images.githubusercontent.com/

[2020-06-03 09:36] da1nerd commented on #6955
This was the build in question https://github.com/unfoldingWord/translationCore/actions/runs/120208932

[2020-06-03 10:14] da1nerd commented on #6955
I just built the code locally and didn't have any problems.
I ran the build linked above and confirmed the problem occurs on my linux box, I noticed that build was on a PR and not the develop branch.
I'm testing this build next https://github.com/unfoldingWord/translationCore/actions/runs/123220341 which is on the develop branch. This one might actually be working, though projects opened with the

[2020-06-03 12:22] PhotoNomad0 commented on #6847
@cckozie -
- just for clarity: I presume you are stopping tC before step 6 (deleting project) and not trying to remove project while tC is running and project is open.
- Note: I also see the above behavior with translationCore 2.1.2 (44c92e9)

[2020-06-03 12:23] PhotoNomad0 commented on #6847
Notes:
- see the same failure with translationCore 2.1.2 (44c92e9)
- the problem seems to be with the export to USFM failing to align words.
- looking in the project, I see the verse data: `  "49": "\\w उसने|x-occurrence=\"1\" x-occurrences=\"1\"\\w* \\w उनसे|x-occurrence=\"1\" x-occurrences=\"1\"\\w* \\w कहा|x-occurrence=\"1\" x-occurrences=\"1\"\\w*, \\wj \\wj*  “\\w तुम|x-occurrence=\"1\" x-occ

[2020-06-03 12:55] birchamp commented on #5197
@cckozie
1. We'll leave that up to the users.
2. Good call.  Font makes more sense.

That last screen shot seems pretty odd.  Maybe @PhotoNomad0 can tell us what's going on there.

[2020-06-03 13:29] birchamp commented on #6788
Issue C is good enough for now until we have a better Burmese text.

[2020-06-03 13:31] #6941 closed, assigned to PhotoNomad0

[2020-06-03 14:22] birchamp opened #6961 "Change label for font choice"
The label for choosing a font in the Project Properties dialog currently says:
"Language Font"
it should be:
"Project Font"

[2020-06-03 15:26] cckozie commented on #6959
Turns out that the last unicode character in the target word in verse 2 is one bit off from the word that is aligned in verse 1. This was not visually distinguishable, I think, because the difference was in punctuation that gets stripped in the word bank. The two words are visually different in the scripture and edit panes.
Closing this issue.

[2020-06-03 15:26] #6959 closed, assigned to nobody

[2020-06-03 18:15] mannycolon commented on #6504
Verified on 0f8fc18

[2020-06-03 19:28] mannycolon commented on #6961
- ***NOTE:*** The font selection for projects used before this implementation will not work since the manifest valued has been changed from `languageFont` to `projectFont`. Should not be a problem because this feature hasn't been released to users.

[2020-06-03 19:28] mannycolon commented on #6961
@cckozie @elsylambert ^^

[2020-06-04 03:35] elsylambert commented on #6957
3.0.0 (0f8fc18). Found that word bank width varies in wA within a project for different verses, especially when there are two scroll bars. Here are few screenshots for different sizes:
<img width="419" alt="Screen Shot 2020-06-03 at 11 30 59 PM" src="https://user-images.githubusercontent.com/51806180/83712072-e2905580-a5f2-11ea-8d67-9d87c0fc73b0.png">

<img width="419" alt="Screen Shot 2020-06-03

[2020-06-04 03:41] elsylambert commented on #5195
3.0.0 (0f8fc18).

<img width="553" alt="Screen Shot 2020-06-03 at 11 41 14 PM" src="https://user-images.githubusercontent.com/51806180/83712423-bde8ad80-a5f3-11ea-8433-38793ca208c4.png">
Side Menu shows up as [verse text] [chapter number]:[verse number] [Book].
as oppose to

@birchamp @cckozie Just a confirmation, We discussed that if written in English Numerals, the order should be  [chapter numb

[2020-06-04 04:03] cckozie commented on #6504
There has been a significant improvement in the time it takes to check for reset alignments and checks when editing in the scripture pane of wA and tN. The others remain pretty much the same. The outlier remains editing in the scripture pane of tW, which still takes more the twice as long as editing in the check pane of tW, and 70% longer than editing in the scripture pane of tN or wA.
Passing thi

[2020-06-04 04:07] cckozie opened #6963 "Improve the performance of testing for reset checks and invalidated alignments when editing in the scripture pane of tW"
3.0.0 (0f8fc18)
Several improvement were made when editing in the scripture pane of tN and wA on #6504, but performance when editing in the scripture pane of tW is still a problem.
![image](https://user-images.githubusercontent.com/8171759/83713917-f934ad80-a5ee-11ea-9eb0-21dda2d34d94.png)

[2020-06-04 08:18] da1nerd commented on #6955
Ok, there was a typo in a config file. Here's a PR to fix it https://github.com/unfoldingWord/translationCore/pull/6964.

I suspect what happened was the resources were updated, and because of the typo the migration failed halfway through so the resources were left in a corrupt state.

[2020-06-04 09:22] da1nerd commented on #6957
@elsylambert  The word bank has a minimum width and a maximum width by design. It used to have a fixed width but that was changed to offer some flexibility.

The bug @cckozie identified seems to be related to some conflicting css rules somewhere. The problem comes and goes as I change the width of the window.

[2020-06-04 11:48] PhotoNomad0 commented on #6955
Fixed in 8f548af

[2020-06-04 14:26] PhotoNomad0 commented on #6955
Project that didn't work for Birch: https://git.door43.org/birch/ar_vdb_tit_book

[2020-06-04 16:36] mannycolon commented on #6943
- [ ] Create font size slider component (UI)
- [ ] Change scripture panes' X icon to 3-dot menu
- [ ] Design scripture pane's 3-dot menu items (UI)
- [ ] Design font resizing backend functionality
- [ ] Add font size slider 3-dot menu to multiple UI components

[2020-06-04 16:36] mannycolon commented on #6943
@birchamp We're missing the tN/tW mockups

[2020-06-04 16:37] mannycolon opened #6967 "Create font size slider component (UI: Should be part of the tc-ui-toolkit comp.)"

[2020-06-04 16:37] mannycolon opened #6968 "Replace scripture panes' X icon with 3-dot menu"

[2020-06-04 16:37] mannycolon opened #6969 "Design scripture pane's 3-dot menu items (UI)"

[2020-06-04 16:38] mannycolon opened #6970 "Implement font resizing backend"

[2020-06-04 17:19] cckozie commented on #5197
From first comment:
- [x] wA: The RTL target languages need to be right-aligned in the word box.
- [x] wA: The blue bar should be on the right of a word box if it is RTL
- [x] wA: As multiple RTL words are added to the same Greek word, they need to order themselves from RTL in alignment box.
These requirements were all met in 3.0.0 (5b5cbbc)

[2020-06-04 17:20] birchamp opened #6971 "Resources may use a font specified by the resource itself."
## Story Explanation
### User Story

As a translator, I want complex script GL resources (Scripture, TN, TW, TA) to use the proper font so that the text will be displayed as intended by the GL team.

### Features / Specifications

- [ ] The GL resource (Scripture, TN, TW, TA) itself can specify which font and font settings (size, special properties)
- [ ] If the font is not specified it will fall

[2020-06-04 17:42] cckozie commented on #6788
@mannycolon - I found a few other places with problems. One where the default font is being used; when hovering over a word in the word bank. Some with a sizing problems. Is it OK to leave them here, or would you rather that I create another issue for them (and maybe others that I may run across)?
ISSUE D: **Cannot test this now since the hover problems has been fixed**
![image](https://user-image

[2020-06-04 17:52] cckozie commented on #6961
Looks good in 3.0.0 (5b5cbbc)

[2020-06-04 17:54] cckozie commented on #6955
Passing this based on comments from McLean and Birch

[2020-06-04 18:11] cckozie commented on #5194
From the first comment:
![image](https://user-images.githubusercontent.com/13352518/46560131-309e0480-c8b8-11e8-8cf1-6f2dc5fbd4c7.png)

*Scripture Pane + Expanded Scripture Pane*
- [ ] RTL languages should have their whole "sub-pane" switched
  - [x] Top line: Language on the right, "ULT" on the left
  - [x] Second line (not in the mockup): "Original Language", "Gateway Language" or "Target Langua

[2020-06-04 18:15] mannycolon commented on #6788
@cckozie These are good for now, I will include them with the work I'm doing now.

[2020-06-04 18:19] birchamp commented on #5195
@elsylambert @cckozie Sorry about that.  Yes, you're correct.
[chapter number]:[verse number] [Book].

[2020-06-04 18:20] cckozie commented on #6945
Looks good in 3.0.0 (5b5cbbc)

[2020-06-04 18:23] cckozie commented on #5196
*Check Info Card*
- [ ] For all the different modes (Select, Edit, Comment, Regular)
  - [x] Align title & subtitle to the right
  - [x] Move the "expand" button to the left

Looks good in 3.0.0 (5b5cbbc)

[2020-06-04 18:31] cckozie commented on #6788
@mannycolon
ISSUE G: **Has not been fixed 3.0.0 (a03e2cc)**
Found another one. This is from clicking the expand pane icon in the check pane in tN. (It probably would be good to increase the size on this one too if that's just a simple setting)
![image](https://user-images.githubusercontent.com/8171759/83797071-a2b78580-a667-11ea-8192-35fa321130e4.png)

[2020-06-04 18:37] cckozie opened #6973 "Apparent problem displaying selections in tN"
3.0.0 (5b5cbbc)
[ar_test_rut_book.zip](https://github.com/unfoldingWord/translationCore/files/4732096/ar_test_rut_book.zip)
What is being shown in the "has been translated as" pane and the menu does not match the actual selection. I made the selection by dragging.

![image](https://user-images.githubusercontent.com/8171759/83797463-4ef96c00-a668-11ea-9ce6-2a2ab5cfc07b.png)

[2020-06-04 18:42] cckozie opened #6974 "Scroll bar shown unnecessarily in check area of tN"
3.0.0 (5b5cbbc)
[ar_test_rut_book.zip](https://github.com/unfoldingWord/translationCore/files/4732120/ar_test_rut_book.zip)

Along with being unnecessary, it seems to be out of place (should be at the edge of the frame).
![image](https://user-images.githubusercontent.com/8171759/83797973-13ab6d00-a669-11ea-8030-5acd3da41e31.png)

[2020-06-04 19:17] cckozie commented on #5195
Looks correct in 3.0.0 (5b5cbbc)

[2020-06-04 19:48] mannycolon opened #6975 "Add font size slider 3-dot menu to multiple UI components"
- wA tool word bank
- wA tool alignment area
- ***`PENDING` tW/tN mockups for more UI components***

[2020-06-05 07:54] da1nerd commented on #6957
turned out to be a simple css change. PR here https://github.com/unfoldingWord/wordAlignment/pull/275

[2020-06-05 17:31] PhotoNomad0 commented on #6847
Verified in translationCore 3.0.0 (0d3b4cf) - seeing 38 invalidations now in WA when opening the project

[2020-06-07 19:53] elsylambert commented on #5195
Side Menu looks good in 3.0.0 (cbed56b).

[2020-06-07 20:04] elsylambert commented on #5194
@cckozie I am not seeing this change in 3.0.0 (cbed56b) with Philemon(Ar) project. Can you please attach an OT project to test?
- X is left aligned.
<img width="928" alt="Screen Shot 2020-06-07 at 4 05 56 PM" src="https://user-images.githubusercontent.com/51806180/83978940-dc42f780-a8d8-11ea-88de-17855233bf09.png">

[2020-06-07 20:09] elsylambert commented on #6945
Looks good in 3.0.0 (cbed56b).

[2020-06-07 20:17] elsylambert commented on #5196
3.0.0 (cbed56b).
Not seeing the expand button in tN and tW.
<img width="1212" alt="Screen Shot 2020-06-07 at 4 16 34 PM" src="https://user-images.githubusercontent.com/51806180/83979164-532cc000-a8da-11ea-950b-b36fc7c57b0f.png">

Expand button appears only when there is arabic text in the "Please select translation for" pane
<img width="1212" alt="Screen Shot 2020-06-07 at 4 20 51 PM" src="https:/

[2020-06-07 20:36] elsylambert commented on #6961
Looks good in 3.0.0 (cbed56b).

[2020-06-07 20:44] elsylambert commented on #6847
3.0.0 (cbed56b).
Got this error when uploading the attached project to D43.
<img width="1212" alt="Screen Shot 2020-06-07 at 4 43 45 PM" src="https://user-images.githubusercontent.com/51806180/83979687-372b1d80-a8de-11ea-9880-0dfad56dda9a.png">

[2020-06-07 20:50] elsylambert commented on #6847
Not seeing the reported error in the issue. Seeing 38 Alignment resets in wA after re-importing the project.

[2020-06-07 21:10] cckozie commented on #5194
@elsylambert - Looks like they broke it in between the builds we tested. Go ahead and fail it.
![image](https://user-images.githubusercontent.com/8171759/83980194-5a070300-a8d9-11ea-8da1-47f9271bc6fc.png)

[2020-06-07 21:21] elsylambert commented on #5194
Not seeing this changes in 3.0.0 (cbed56b).

[2020-06-07 21:59] mannycolon commented on #6788
Verified on cbed56b

[2020-06-08 10:09] PhotoNomad0 commented on #5196
@birchamp @elsylambert - Is this a new requirement?

[2020-06-08 10:20] PhotoNomad0 commented on #5194
@elsylambert Yes it looks like it was broken in a subsequent PR.

[2020-06-08 13:40] elsylambert commented on #5196
The issue related to Expand button will be addressed by #6943

[2020-06-08 13:42] elsylambert commented on #6943
@birchamp Expand button in the check pane in tN and tW , is to be added.
Not seeing the expand button in tN and tW.
<img width="1212" alt="Screen Shot 2020-06-07 at 4 16 34 PM" src="https://user-images.githubusercontent.com/51806180/83979164-532cc000-a8da-11ea-950b-b36fc7c57b0f.png">

Expand button appears only when there is a selection in the "Please select translation for" pane
<img width="1212"

[2020-06-08 14:56] PhotoNomad0 commented on #5194
@elsylambert Fixed in translationCore 3.0.0 (dad3c32) @cckozie

[2020-06-08 14:56] cckozie commented on #6788
3.0.0 (dad3c32)
ISSUE A: Both problems noted have been fixed except for the problem of the font used for the language abbreviation noted below.

ISSUE B: This problem has been fixed.

ISSUE C: N/A

ISSUE D: Unable to test in this build because the word bank hover-over is not working.

ISSUE E: Has been fixed

ISSUE F: Has been fixed.

ISSUE G: Has been fixed. I'm creating a new issue for the font

[2020-06-08 14:58] PhotoNomad0 commented on #6957
Verified in translationCore 3.0.0 (dad3c32)

[2020-06-08 15:17] elsylambert commented on #5196
Looks good in 3.0.0 (dad3c32).

[2020-06-08 15:34] cckozie commented on #6788
@mannycolon - I wrote this up here because I am assuming this problem was introduced by the fixes made for this issue. If that is not what cause it, I'll create a new issue for it.
[ar_test_rut_book.zip](https://github.com/unfoldingWord/translationCore/files/4746750/ar_test_rut_book.zip)
The font for the word Arabic and abbreviation (AR) has changed.  **Not** fixed in 3.0.0 (a03e2cc) **@birchamp -

[2020-06-08 15:46] cckozie opened #6978 "Increase the font size in the header bar of the expanded verses pane opened in the check pane"
3.0.0 (dad3c32)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/e2a8db93-3480-4353-b200-8c0eca953b0a)

[2020-06-08 15:47] elsylambert commented on #6957
Looks good in 3.0.0 (dad3c32).

[2020-06-08 16:01] elsylambert commented on #6847
Not seeing the issue in 3.0.0 (dad3c32).

[2020-06-08 16:03] cckozie commented on #6957
3.0.0 (dad3c32)
The width is now sizing correctly, but the hover-over on excessively long words is now not working.

[2020-06-08 16:49] cckozie opened #6979 "Performance issues when checking for reset alignments during upload to Door43"
3.0.0 (dad3c32)
1. Why does it take so much longer to check for reset alignments during an upload to Door43 than  it does when simply selecting the project? For example, using the above project:

When the project is moved to the projects folder and selected for the first time it takes ~20 seconds before the Tools page is displayed and the reset alignments indicator is updated.

When the project is

[2020-06-08 17:05] cckozie opened #6980 "tC should not have to reload the project data if it was the last one loaded"
3.0.0 (dad3c32)
If I first select a project and then return to the projects page and either export it to USFM or upload it to Door43, tC does not redisplay the Loading project data alert.
If I first choose to upload it to Door43 or export it to USFM and then select it, I do see the Loading project data alert again even though that data was already loaded.

[2020-06-08 17:56] cckozie commented on #6847
Looks good in 3.0.0 (dad3c32).

[2020-06-08 19:39] elsylambert opened #6981 "Inconsistencies in displaying Target language name in RTL when fonts are changed"
3.0.0 (dad3c32).
In the scripture pane, the Target Language is not aligned Right as per the requirement "(ar)language name". Check Pane displays it correctly.
<img width="1212" alt="Screen-Shot-2020-06-08-at-11 40 40-AM" src="https://user-images.githubusercontent.com/51806180/84073349-a2d4bf80-a99e-11ea-9acc-735528ba6c6c.png">

[2020-06-08 19:46] elsylambert commented on #5194
Looks good in 3.0.0 (dad3c32). There are some inconsistencies in displaying the Target language in scripture pane, written up in #6981 .

[2020-06-08 19:51] elsylambert commented on #6847
Luke 12:35 has reference text that shows up in the word bank (mainly because of the incorrect USFM markers)

[2020-06-08 19:57] elsylambert commented on #6504
Looks good in 3.0.0 (dad3c32).

[2020-06-08 20:31] #6723 closed, assigned to mannycolon

[2020-06-09 12:09] birchamp commented on #6973
@cckozie this is expected behavior of the font.  When that character is combined with other characters it becomes truncated.

[2020-06-09 12:33] birchamp commented on #6952
@PhotoNomad0 per Alex this is very minor but the ellipsis should be on the other side.  I've removed it from the epic and added it to the UI RTL epic #5173

[2020-06-09 12:49] #6973 closed, assigned to nobody

[2020-06-09 13:03] PhotoNomad0 commented on #6957
@cckozie - Wow, I never would guess the css change would impact that.

[2020-06-09 13:24] #6889 closed, assigned to PhotoNomad0

[2020-06-09 13:24] #6899 closed, assigned to mannycolon

[2020-06-09 13:24] #6743 closed, assigned to PhotoNomad0

[2020-06-09 13:24] #6785 closed, assigned to cckozie, PhotoNomad0

[2020-06-09 13:24] #6798 closed, assigned to da1nerd, PhotoNomad0

[2020-06-09 13:24] #6845 closed, assigned to mannycolon

[2020-06-09 13:24] #6847 closed, assigned to PhotoNomad0

[2020-06-09 13:24] #6955 closed, assigned to da1nerd

[2020-06-09 13:25] #6351 closed, assigned to da1nerd, mannycolon

[2020-06-09 13:25] #975 closed, assigned to da1nerd, PhotoNomad0

[2020-06-09 13:26] #6787 closed, assigned to mannycolon

[2020-06-09 13:26] #6734 closed, assigned to mannycolon

[2020-06-09 13:27] #6771 closed, assigned to PhotoNomad0

[2020-06-09 13:27] #6817 closed, assigned to PhotoNomad0

[2020-06-09 13:28] #6945 closed, assigned to nobody

[2020-06-09 13:28] #6961 closed, assigned to mannycolon

[2020-06-09 13:29] #6504 closed, assigned to mannycolon

[2020-06-09 13:41] #6938 closed, assigned to mannycolon, elsylambert

[2020-06-09 14:17] #6907 closed, assigned to mannycolon

[2020-06-09 16:56] birchamp commented on #6943
Examples of sliders for text resize
Android and ChromeOS
![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/0583fcac-997b-4ce7-b52d-6da46ebdc0de)

iPhone:
<img src="https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/9b942ba2-b8b5-493d-80e8-cefccfc65f92" width="300">

Windows:
![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/552e665e-29bc

[2020-06-09 17:00] birchamp opened #6983 "Quotation Marks for 'translated as' text after selection."
## Story Explanation
### User Story

Quotes are on wrong sides of RTL text:
![Screen Shot 2020-06-09 at 9 47 35 AM copy](https://user-images.githubusercontent.com/14238574/84180026-d540f400-aa54-11ea-8af2-9d6b91f40626.png)

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-06-09 17:24] PhotoNomad0 commented on #6733
Verified in translationCore 3.0.0 (6f6cd79)

[2020-06-09 17:32] #5194 closed, assigned to PhotoNomad0

[2020-06-09 17:32] #5195 closed, assigned to PhotoNomad0

[2020-06-09 17:32] #5196 closed, assigned to PhotoNomad0

[2020-06-09 17:32] #5197 closed, assigned to PhotoNomad0

[2020-06-09 17:32] #6937 closed, assigned to mannycolon

[2020-06-09 17:35] #6757 closed, assigned to nobody

[2020-06-09 17:50] birchamp opened #6984 "Hebrew looks bold and is clipping"
Hebrew looks bold and line height appears to be clipping

![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/1b052d9e-ed4e-46b5-a1f7-b080311cbfe4)
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-06-09 20:03] PhotoNomad0 commented on #6981
@birchamp @elsylambert @cckozie - It looks like the only easy solution (and the standard) is to just let electron (Chromium) handle the ordering of text based on the direction of the unicode characters.  In that case we would see this ordering of titles in the Scripture Pane:

![Screen Shot 2020-06-09 at 3 52 16 PM copy](https://user-images.githubusercontent.com/14238574/84194314-d7ae4880-aa6a-11e

[2020-06-09 20:08] PhotoNomad0 commented on #6981
The other option is to use a library to determine the direction of the language name based on the unicode characters and force the ordering based on the language direction setting in the project.

[2020-06-09 20:40] PhotoNomad0 commented on #6983
@birchamp @elsylambert @cckozie - This one is turning out to be more complicated since the standard quotes are actually inherently LTR, and only apply to a set of western languages.  Other languages use different characters for quotes (e.g. Persian uses "«»", see https://phabricator.wikimedia.org/T221952 for more background data).

It might be simpler just to remove the quotes if the target langua

[2020-06-09 20:42] PhotoNomad0 commented on #6984
Note: the boldness seems to be due to new anti-aliasing settings.  The clipping doesn't make sense yet (chromium version related?).

[2020-06-10 00:47] PhotoNomad0 commented on #6983
Also here is a list of quotes for various languages: https://en.wikipedia.org/wiki/Quotation_mark#Summary_table

[2020-06-10 09:46] da1nerd commented on #6957
the tooltip bug wasn't related to the styles (I think). I don't actually know what the problem was, but I made my best guess at how to fix it and it worked. It might have been related to migrating to webpack. here's a fix https://github.com/unfoldingWord/wordAlignment/pull/278

[2020-06-10 09:55] da1nerd commented on #6872
@birchamp  where can I find an example note with a verse link in it?

[2020-06-10 12:36] PhotoNomad0 commented on #6915
@birchamp @cckozie - I am presuming we show two buttons - one for sending feedback and another to acknowledge error and not send feedback.  What should the button labels be?

[2020-06-10 13:24] PhotoNomad0 commented on #6915
Note: decided to have three buttons: OK, cancel, send feedback.

[2020-06-10 13:25] PhotoNomad0 commented on #6981
Note: decided to let Browser do the text ordering.

[2020-06-10 13:26] PhotoNomad0 commented on #6983
Note: Decided to remove quotes entirely regardless of LTR or RTL.

[2020-06-10 13:33] PhotoNomad0 commented on #6957
Verified hover text in translationCore 3.0.0 (2e684d7)

[2020-06-10 17:48] #6981 closed, assigned to PhotoNomad0

[2020-06-10 18:58] PhotoNomad0 commented on #6981
Verified in translationCore 3.0.0 (318d196)

[2020-06-10 18:59] PhotoNomad0 commented on #6983
Verified in translationCore 3.0.0 (318d196)

[2020-06-10 20:09] cckozie commented on #6983
Not seeing quote marks in 3.0.0 (318d196)

[2020-06-10 20:59] cckozie commented on #6733
Still seeing this one in 3.0.0 (318d196) when opening tN or tW after a clean install. I don't know how to cause the other ones listed. I think it's good enough.
![image](https://user-images.githubusercontent.com/8171759/84317956-48b93300-ab33-11ea-9935-9156d4ad31ab.png)

[2020-06-11 02:30] elsylambert commented on #6983
Verified in 3.0.0 (318d196). Quotation Mark from "Please select translation for" pane are removed.

[2020-06-11 08:11] da1nerd commented on #6957
@cckozie can you elaborate on the outstanding problems?

[2020-06-11 11:22] PhotoNomad0 commented on #6915
@cckozie @birchamp @elsylambert - Just note that unknown internet problems are very likely to cause problems submitting feedback as well.

[2020-06-11 12:09] cckozie commented on #6957
3.0.0 (318d196)
@neutrinog - Sorry, I guess I must not have clicked the Comment button after adding my comment. The width and hover are working, but have created another interesting problem. Hopefully this video will help:)
[wordbank.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4764626/wordbank.mp4.zip)

[2020-06-11 14:06] cckozie opened #6988 "Problems with the group menu in tN and tW in languages with long book names"
3.0.0 (318d196)
May want to consider making this an epic.
https://git.door43.org/Steve_HamNC/my_1co_text_ulb (Using Padauk font)
In wA the menu shows the entire book name and reference, but in tN and tW the reference is truncated and the hover-over is not working even though the ellipsis is shown. (2nd image)
After a selection is made, the hover-over does work. However, the book name is not abbrev

[2020-06-12 18:56] birchamp opened #6990 "Esther tW check for Evil in 8:6 doesn't highlight aligned word in UST"
### Description
[Description of the issue]
In the UST "destroyed" is aligned to the Hebrew word for Evil, but it isn't highlighted in the scripture pane.

### Steps to Reproduce
From: https://unfoldingword.zulipchat.com/#narrow/stream/207527-wg-tc/topic/Esther.20BP

Per @jag3773 :
It could be that this is a tC highlighting issue. It seems that the data is all there, but it's not showing the highli

[2020-06-15 13:06] PhotoNomad0 commented on #6915
**Note:**

Possible items to add to an epic:
- download project from DCS
- upload project to DCS
- getting list of updated catalog resources
- downloading latest resources
- downloading OrigLang needed for tN checks
- checking for software updates
- logging in
- sending feedback
- rename repo on DCS - send feedback button already on dialog, don't think any additional UI work, but probably should a

[2020-06-15 13:20] PhotoNomad0 commented on #6915
**Some of the complications:**
- the retry button is time consuming to implement
- some of these are git commands and others are DCS api calls - increases the effort.  In some cases we are parsing git responses for errors, Network error codes, or DCS error responses.  And we now we need to propagate the details of the error up with the error so it can be reported.
- significant rework of unit test

[2020-06-15 15:45] birchamp commented on #6988
@cckozie Yeah, the hover needs to be fixed.  We should discuss the resizing.

[2020-06-15 16:29] cckozie opened #6993 "SPIKE [6]:Variance in the rendering of texts using Awami Nastaliq"
3.0.0 (318d196)
[ar_nav_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4788163/ar_nav_tit_book.zip)

The outlined text in this sample is rendered differently when displayed in an edit box of both the check pane and expanded scripture pane than it is when rendered anywhere else. Per Alex: "the one on the left should be the more preferable one! given that the one on the right i

[2020-06-15 19:49] PhotoNomad0 commented on #6915
**Note:**

We should also address issue of attaching up to 25MB of log data when sending to help desk.

[2020-06-15 21:19] PhotoNomad0 commented on #6990
Note:

seeing the first Original language word missing as three Original language words are aligned to one gateway language word.

[2020-06-16 12:00] cckozie opened #6994 "Material UI Changes"
3.0.0 (dce7570)
Some of these change after clicking on them. May have to restart tC to recreate the problem.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2fb2eafa-cefb-4388-9dfa-a75048e8c0fe)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a6d059dd-54e6-47fb-a1da-73d8c29b831e)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf

[2020-06-16 12:27] cckozie opened #6995 "Sizing/alignment problem with menu filter badges"
3.0.0 (dce7570)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/0ea6936a-564b-463d-ac10-e56bc7a6014d)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/5b3facce-30fa-4794-ba9b-7302ea19230d)

[2020-06-16 12:51] birchamp opened #6996 "USFM output improvements."
## Summary

The following is cut out of my translationCore folder in my Ubuntu home folder for a UST book that I'm aligning:
\id ECC EN_UST en_English_ltr unfoldingWord® Simplified Text Mon May 18 2020 08:41:35 GMT+1200 (NZST) tc
\usfm 3.0
\ide UTF-8
\h Ecclesiastes
\toc1 The Book of Ecclesiastes
\toc2 Ecclesiastes
\toc3 Ecc
\mt1 Ecclesiastes
\s5
\c 1

\p
\v 1 \zaln-s | x-strong="H1697" x-lemma="ד

[2020-06-16 13:35] birchamp commented on #6988
@PhotoNomad0 can we truncate the bookname using divs? Needs investigation

[2020-06-16 13:55] birchamp opened #6997 "Post Electronite cleanup"
After Electronite was added there is some technical debt issues that need to be handled.

[2020-06-16 16:11] PhotoNomad0 commented on #6990
Invalid checks:

A. due to space in quote:
[code]

B. looks like wrong verse reference - none of the quote words are in verse - should it be 1:16?
[code]

C. looks like wrong verse reference - none of the quote words are in verse - should it be 3:5?
[code]

D. due to space in quote:
[code]

E. due to space in quote:
[code]

F. due to space in quote:
[code]

[2020-06-16 19:12] birchamp commented on #6872
@cckozie - was this issue from the smurf bar or the TA articles? Maybe I wrote it up wrong. Per Larry, there's no standard for how to link to verses in TN/TW.  I'm finding very few of these @neutrinog .

[2020-06-16 19:37] PhotoNomad0 commented on #6957
Verified in translationCore 3.0.0 (8f8dda3)

[2020-06-16 20:38] cckozie commented on #6872
@birchamp @neutrinog - The smurf bar, I think. There is a verse link in the second tN check in Titus for verse 2:2 in the Abstract Nouns group. Currently it shows as a link but does not do anything when clicked.
![image](https://user-images.githubusercontent.com/8171759/84825661-611fc680-afe7-11ea-8d08-2f3098d4fa89.png)

[2020-06-17 09:19] da1nerd commented on #6872
@cckozie @birchamp In the example above, the link is not pointing to the verse. It is actually a poorly formatted link pointing to the note e.g. `[Titus 1:13](../01/13/je3r)`. If it were pointing to the verse it should be formatted like this `[Titus 1:13](rc://en/ult/book/tit/01/13)`.

Properly formatted scripture links are already partially supported (they get a tooltip). I can improve on that to

[2020-06-17 12:44] birchamp commented on #6872
I'll see if I can find out from @jag3773 today if there's a standard for verse links.

[2020-06-17 13:00] PhotoNomad0 opened #6999 "On D43 Upload don't mislead users as to the cause of failures while communicating with Door43"
When the return code from Door43 does not match one of the specific errors we are watching for, rather than display the "Unable to connect to server" alert, display one that indicates we don't know what the error was and requests the user to send feedback.

**new prompt for unknown errors:**
tC has encountered an unknown communications error. If this problem continues, please send "User Feedback"

[2020-06-17 13:00] PhotoNomad0 opened #7000 "On D43 download don't mislead users as to the cause of failures while communicating with Door43"
Currently on download problems (due to git clone) we give a non localized error English error prompt, or if no message generated we put up a generic message "Error occurred while importing your project.<br />Could not download the project from ${project_url} to ${toPath}".

[2020-06-17 13:20] PhotoNomad0 opened #7001 "On Getting List of updated resources don't mislead users as to the cause of failures while communicating with Door43"

[2020-06-17 13:20] PhotoNomad0 opened #7002 "On downloading latest resources don't mislead users as to the cause of failures while communicating with Door43"

[2020-06-17 13:21] PhotoNomad0 opened #7003 "On downloading OrigLang needed for tN checks don't mislead users as to the cause of failures while communicating with Door43"

[2020-06-17 13:21] PhotoNomad0 opened #7004 "on checking for software updates don't mislead users as to the cause of failures while communicating with Door43"

[2020-06-17 13:22] PhotoNomad0 opened #7005 "on logging in Don't mislead users as to the cause of failures while communicating with Door43"

[2020-06-17 13:23] PhotoNomad0 opened #7006 "on sending feedback Don't mislead users as to the cause of failures while communicating with Door43"

[2020-06-17 13:23] PhotoNomad0 opened #7007 "on rename repo on DCS Don't mislead users as to the cause of failures while communicating with Door43"
Currently only says an error occurred, but no detail of what happened

[2020-06-17 13:24] PhotoNomad0 opened #7008 "on create new repo on DCS Don't mislead users as to the cause of failures while communicating with Door43"
Currently only says an error occurred, but no detail of what happened

[2020-06-17 13:38] PhotoNomad0 commented on #6999
@birchamp @elsylambert @cckozie

In the epic it says alert should read:
"Door43 is returning an error that translationCore is unable to lookup. Please send feedback using the button below."

since we are no longer adding a "send feedback" button, should this read more like:

Door43 is returning an error that translationCore is unable to lookup. If this problem continues, please send "User feedback

[2020-06-17 13:57] cckozie commented on #6999
I'd prefer something like: tC has encountered an unknown communications error. If this problem continues, please send "User Feedback" which is on option on the "Actions" button.
I think the first sentence will lend itself better to localization than the other version.

[2020-06-17 14:22] jag3773 commented on #6872
@neutrinog Since this is an [internal link](https://resource-container.readthedocs.io/en/latest/linking.html#internal-links) I don't why you call it "poorly formatted".  It looks correct to me, one note referring to another in the same document...

I think the desired behavior here would be to show the note, either via a hover or a jump, but up t @birchamp on how to implement.

[2020-06-17 14:59] da1nerd commented on #6872
@jag3773 you are right. For some reason I was thinking the link was from elsewhere. Probably because I was still thinking about the scripture link format. Using the link as is to open the referenced note would be fine.

[2020-06-17 15:17] PhotoNomad0 commented on #6999
Example screenshot:

![Screen Shot 2020-06-17 at 11 13 22 AM](https://user-images.githubusercontent.com/14238574/84916439-173cec00-b08c-11ea-96c9-aae835bca513.png)

[2020-06-17 23:01] #6935 closed, assigned to mannycolon

[2020-06-17 23:01] #3176 closed, assigned to nobody

[2020-06-17 23:03] #6944 closed, assigned to nobody

[2020-06-17 23:09] cckozie commented on #6802
Looks good in 3.0.0 (318d196)
![image](https://user-images.githubusercontent.com/8171759/84959768-a0bce000-b0c5-11ea-9cfa-9988fc6c83cd.png)

[2020-06-17 23:09] #6802 closed, assigned to nobody

[2020-06-17 23:09] #6383 closed, assigned to PhotoNomad0, mannycolon

[2020-06-17 23:10] #5098 closed, assigned to PhotoNomad0

[2020-06-17 23:42] cckozie opened #7011 "Problems with the hover-over target words in wA when the project is using the Scheherazade font"
3.0.0 (8f8dda3)
[hovering font.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4795542/hovering.font.mp4.zip)

The hover-over is showing in the word bank on words that are not truncated. It should not show in the word bank unless the word is truncated and showing ellipsis.
It is also showing on the target words in the alignment area.
This happens with the Scheherazade font even if

[2020-06-17 23:45] cckozie commented on #6957
3.0.0 (8f8dda3)
Now  the hover over is not working until after a drag action occurs.
[hover problem.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4795507/hover.problem.mp4.zip)

[2020-06-18 12:05] birchamp opened #7012 "Duplicate checks in Esther TN"
### Prerequisites

### Description

See duplicated check in EST 9:28 (under "Idiom") and Esther 7:8:
![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/6d04b2e6-05a5-4287-ab89-23d8a74e9257)

### Steps to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected

[2020-06-18 12:08] birchamp opened #7013 "Console error when sending feedback while there's a problem with a TN check"
### Description

There's a console error for the feedback feature when there is a problem with a tN check. It errors when the user chooses ignore, or goes into send feedback and clicks cancel.

Example screenshot:
![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/2da61cb0-fd31-459b-9e0d-001e9fff31fb)
### Steps to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down

[2020-06-18 12:54] PhotoNomad0 commented on #7000
@birchamp @cckozie @elsylambert - I like having the project url and destination path in the error message.  What if we show the following:
1. in case that it is a known error we put up the existing localized message for the error along with additional information such as: `"${specific_localized_error_message}" occurred while importing your project from ${project_url} to ${toPath}.`
2. on unidentif

[2020-06-18 12:58] PhotoNomad0 commented on #7000
or maybe for #1 `Download failed because "${specific_localized_error_message}" occurred while importing your project from ${project_url} to ${toPath}.`

[2020-06-18 13:16] PhotoNomad0 commented on #7000
**Final decision on prompts:**
1. in case that it is a known error: `The download failed because the error "${specific_localized_error_message}" occurred while importing your project from ${project_url}.`
2. on unidentified error we do: `${app_name} has encountered an unknown communications error trying to download the project from "${project_url}". If this problem continues, please send \"${user_

[2020-06-18 13:30] PhotoNomad0 commented on #6999
Verified code changes are in translationCore 3.0.0 (db49afc)

[2020-06-18 13:32] PhotoNomad0 commented on #6990
Verified in translationCore 3.0.0 (db49afc)

[2020-06-18 17:35] birchamp commented on #7012
Not sure if this is the same issue:  In tW the team is seeing a duplicated check and unable to complete checking.  Checking God in Titus 3:8 - I'm not seeing this in v3.0
![Russian problem in English - last verse duplicated check not complete.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/e8809551-d53d-4e64-a8af-e705ffcff2a3)

[2020-06-19 10:31] da1nerd commented on #6957
Well... the good news is that since we are now using material-ui 3.* I was finally able to stop using our old and buggy tooltip library in favor of a slick material-ui one.

This has been fixed in https://github.com/unfoldingWord/wordAlignment/pull/280

[2020-06-19 10:46] PhotoNomad0 commented on #6984
Rendering:

3.0:
<img width="1436" alt="Screen Shot 2020-06-09 at 11 17 21 AM - new app" src="https://user-images.githubusercontent.com/14238574/85124495-fee9e000-b1f7-11ea-868f-bd7f2b04adee.png">

2.1.2:
<img width="722" alt="Screen Shot 2020-06-09 at 11 27 29 AM - old app" src="https://user-images.githubusercontent.com/14238574/85124546-11641980-b1f8-11ea-8796-a66384215e9b.png">

3.0 Hebrew debu

[2020-06-19 19:36] PhotoNomad0 commented on #6984
Note:
-     '-webkit-font-smoothing: antialiased;' fixes the bolding.  May be able to configure in the css setting for the Elija font.
- in alignment grid, to stop clipping set line-height to normal and padding to `0px 9px 4px 9px`:
![Screen Shot 2020-06-19 at 3 29 24 PM](https://user-images.githubusercontent.com/14238574/85174030-83615080-b242-11ea-937e-77dd040c6d6f.png)
- in wA container, line 7

[2020-06-19 21:00] cckozie commented on #6990
3.0.0 (32e54bf)
Evil is now highlighted in UST for Esther 8:6
![image](https://user-images.githubusercontent.com/8171759/85179072-93c6fa80-b245-11ea-8e68-fda822b45e46.png)

[2020-06-22 03:18] cckozie commented on #6990
As of 6/19/20 these are the invalid tN checks:
![image](https://user-images.githubusercontent.com/8171759/85185770-11493580-b25b-11ea-8558-394833b95ca6.png)

[2020-06-22 03:40] cckozie commented on #7013
I'm not seeing an actual failure in 3.0.0 (32e54bf)
I see this error in the console after clicking Ignore on the Problem with check alert, or clicking Cancel on the Feedback form. No indication to the user that there is a problem, and sending Feedback works correctly.
![image](https://user-images.githubusercontent.com/8171759/85246210-a55bfe00-b40f-11ea-915c-67b424bcf47b.png)

[2020-06-22 13:00] birchamp commented on #6872
@mannycolon @cckozie - what do you think of using https://material-ui.com/components/tooltips/ to show the linked note?

[2020-06-22 13:29] cckozie commented on #6872
@birchamp - I've fine with using a tooltip for verse links but would defer to the stakeholders.

[2020-06-22 13:46] cckozie commented on #6999
3.0.0 (32e54bf)
Sometimes the Unable to connect to server is returned if the Internet connection is lost during an upload. Many times there is no error returned, it just "spins" forever.
I was not able to cause this new error to be returned.

[2020-06-22 15:28] mannycolon commented on #6872
Looks good to me too

[2020-06-23 11:38] PhotoNomad0 commented on #6984
Verified in translationCore 3.0.0 (84a5a44) - in WA fixed clipping of Hebrew in Alignment grid area and Hebrew text should be less bold.  In scripture pane of all tools, Hebrew text should be less bold.

[2020-06-23 15:05] cckozie commented on #7000
3.0.0 (84a5a44)
Putting this on a new issue
I'm now receiving this error when the Internet connection is lost during a download. It seems like we should be able to detect and correctly report that sort of failure.
![image](https://user-images.githubusercontent.com/8171759/85420493-e3087600-b538-11ea-88c2-49eea156f075.png)

From the console:
![image](https://user-images.githubusercontent.com/817175

[2020-06-23 15:25] cckozie commented on #6984
The clipping problem has been fixed.
Hebrew was more bold in 2.1.2 than in 3.0. Are we OK with that?
2.1.2 on top, 3.0.0 (84a5a44) on bottom
![image](https://user-images.githubusercontent.com/8171759/85422273-0a604280-b53b-11ea-8180-47241a08dc13.png)
![image](https://user-images.githubusercontent.com/8171759/85422893-b6099280-b53b-11ea-991a-f7241e3b299e.png)

![image](https://user-images.githubuse

[2020-06-23 20:44] PhotoNomad0 commented on #6984
@jag3773 - Maybe this would be a better question for you?  In previous release it was bolder than the old version and now is less bold.  Is the new 3.0.0 release good for Hebrew readers?

[2020-06-24 13:17] BincyJ commented on #6988
Not a show stopper for 3.0. Would need to be fixed for Burmese.

[2020-06-24 18:41] birchamp commented on #6993
Per Paul Nelson (SIL font dev):

In other words, this is intentional behavior of the font.

[2020-06-25 03:22] mannycolon commented on #6971
@birchamp Are there GL resources in DCS that specify the font in their manifest?

[2020-06-25 03:56] cckozie opened #7019 "Losing Internet connection during import from Door43 produces an "unknown communications error" alert"
3.0.0 (84a5a44)
After the work on #7000 I'm now receiving this error when the Internet connection is lost during a download. It seems like we should be able to detect and correctly report that sort of failure.
![image](https://user-images.githubusercontent.com/8171759/85420493-e3087600-b538-11ea-88c2-49eea156f075.png)

From the console:
![image](https://user-images.githubusercontent.com/8171759/85

[2020-06-25 04:01] #6993 closed, assigned to nobody

[2020-06-25 07:19] da1nerd commented on #7011
just a couple days ago, the old tooltip code for words in the wordbank was gutted and replaced with a new tooltip that is much more stable. @cckozie if you look at this again, I suspect the issues will no longer exist.

[2020-06-25 07:59] da1nerd commented on #6988
Here's some technical info.

The checking-tool-wrapper adjusts the title of the menu item based on whether or not there is a selection. See these lines https://github.com/unfoldingWord/checking-tool-wrapper/blob/develop/src/components/GroupMenuComponent.js#L61-L68.
In wA there's only one version of the title. Do we want to keep these consistent?

We could pretty easily truncate the title so there

[2020-06-25 11:44] cckozie commented on #7011
@neutrinog - Nope, still a problem in 3.0.0 (84a5a44) . Please note that it is font related.
[ar_navc_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4830977/ar_navc_tit_book.zip)

[2020-06-25 12:56] mannycolon commented on #6971
@birchamp if so, do you have any examples?

[2020-06-25 13:27] birchamp commented on #6971
No, fairly certain none of them do.   Can @mannycolon and @jag3773 choose a standard for specifying the font? Or propose something and ask Jessie to approve it.

[2020-06-25 13:46] birchamp commented on #6872
@neutrinog - Let's go for this. Make it look like the other light background tooltips in the app.

![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/f0c7d2e7-ef46-47a9-a455-483605317666)

[2020-06-25 14:28] mannycolon commented on #6971
@birchamp ,
@cckozie Had suggested adding font size and CSS font features settings.

Thus, I proposed the following:
[code]

[2020-06-25 19:02] mannycolon commented on #6971
@birchamp @jag3773 @cckozie ^^^

[2020-06-25 19:25] mannycolon commented on #6943
Verified on 80e133b

[2020-06-25 19:25] mannycolon commented on #6975
Verified on 80e133b

[2020-06-25 19:26] mannycolon commented on #6968
Verified on 80e133b

[2020-06-25 19:26] mannycolon commented on #6970
Verified on 80e133b

[2020-06-25 19:26] mannycolon commented on #6967
Verified on 80e133b

[2020-06-25 19:26] mannycolon commented on #6969
Verified on 80e133b

[2020-06-25 19:26] mannycolon commented on #6994
Verified on 80e133b

[2020-06-25 19:57] cckozie opened #7021 "Edit pencil icon in the expanded scripture pane has shrunk significantly"
I don't know what broke this so I created a new issue.

Latest build 3.0.0 (80e133b)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/aae3b23f-c4e7-4bde-9cde-f4b427fff401)

Previous builds 3.0.0 (84a5a44)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a7ccc1b6-8f34-473a-9a62-ac5256215b01)

[2020-06-25 20:15] cckozie commented on #6970
3.0.0 (80e133b)
ISSUE 1: Vertical scroll bar
The vertical scroll bar is not shown soon enough with some fonts and sizes. This is an Arabic resource (NAV) at maximum size and the target language at 220%. The last line of text for the Arabic resource is not visible, but there is no scroll bar in that pane.
![image](https://user-images.githubusercontent.com/8171759/85790545-fdd41980-b6f5-11ea-9724-c3

[2020-06-25 21:32] #7021 closed, assigned to nobody

[2020-06-25 21:33] cckozie commented on #6994
The size of the edit pencil is now significantly smaller
Latest build 3.0.0 (80e133b)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/aae3b23f-c4e7-4bde-9cde-f4b427fff401)

Previous builds 3.0.0 (84a5a44)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a7ccc1b6-8f34-473a-9a62-ac5256215b01)

[2020-06-26 15:17] birchamp commented on #6970
@cckozie  @mannycolon
A: No the tN and tW do not need to be linked, but since it's for the same project I don't have an issue with that happening.
B: Yes that was the intent there.

[2020-06-26 15:19] birchamp commented on #6971
@mannycolon I was hoping @jag3773 would weigh in here, but he's been in meetings all week.  This looks good to me. I like the css and font size settings. Good call @cckozie .

[2020-06-29 09:46] da1nerd commented on #6872
@mannycolon I'm trying to manually look up a translation note. I thought it would be under `resourcesReducer.translationHelps.translationNotes` but that only has the tA article that pertains to the currently viewed note. What's the best way to fetch a translation note?

I'm loading the note in the checking tool wrapper similar to this scripture loader https://github.com/unfoldingWord/checking-tool

[2020-06-29 12:00] PhotoNomad0 commented on #7012
@birchamp - This is a content error, in Esther 9:28, the last two checks have the same quote string in the en_tn, so they are not unique: `"quoteString": "וִ⁠ימֵ֞י הַ⁠פּוּרִ֣ים הָ⁠אֵ֗לֶּה לֹ֤א יַֽעַבְרוּ֙ מִ⁠תּ֣וֹךְ הַ⁠יְּהוּדִ֔ים וְ⁠זִכְרָ֖⁠ם לֹא־יָס֥וּף מִ⁠זַּרְעָֽ⁠ם"`, also in Esther 7:8, the assumed knowledge checks have duplicated quote strings `"quoteString": "וּ⁠פְנֵ֥י הָמָ֖ן חָפֽוּ"`

[2020-06-29 12:12] PhotoNomad0 commented on #7012
@birchamp I am not seeing this in 2.1.2 with a regular titus project.  I suspect this is a broken project that 3.0.0 is repairing, but would need the original project to be sure.

[2020-06-29 13:23] PhotoNomad0 commented on #7013
@cckozie - it is basically the same error, just you are seeing in the compiled code.  I think the main problem to the user is that it does not automatically move to the next check.

[2020-06-29 13:30] PhotoNomad0 commented on #7013
@cckozie - nevermind - it looks like it is auto advancing

[2020-06-29 13:40] PhotoNomad0 commented on #7013
**Note:**
It looks like the cause is that in VerseCheckWrapper we are passing a dispatch:
[code]

[2020-06-29 15:09] jag3773 commented on #6984
Yes, the regular font face in 3.0 looks good to me.

[2020-06-29 20:57] PhotoNomad0 commented on #7013
Verified in translationCore 3.0.0 (07e320a)

[2020-06-29 21:03] mannycolon commented on #6788
Verified on a03e2cc

[2020-06-29 21:03] mannycolon commented on #6994
Verified on a03e2cc

[2020-06-29 21:58] cckozie commented on #6984
Passing based on Jesse's comment

[2020-06-30 03:24] cckozie opened #7023 "Critical error screen while importing Obadiah"
3.0.0 (5c2609d)
Arabic - [31-OBA.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4849276/31-OBA.usfm.zip)
English - [31-OBA.en.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4849372/31-OBA.en.usfm.zip)
https://git.door43.org/burje_duro/am_oba_text_ulb

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/4a9d1efd-658c-4da8-b590-1b350dbc7f61)

[2020-06-30 11:39] PhotoNomad0 commented on #6988
@neutrinog @birchamp @cckozie  - For tN and tW it gets even more complicated - when there is a selection we have three strings to show in menu - book name, reference, and selection.

Do we really need to show book name for each menu item?  I would think the checker knows which book he is checking.

[2020-06-30 12:03] PhotoNomad0 commented on #6882
@cckozie - is this still an issue?  Running In a windows VM (a very slow Windows setup), I made made selections, saved, and continued.  I did not see any significant delays.  Used a Matthew project for testing.

[2020-06-30 12:22] cckozie opened #7024 "Double clicking to highlight words in Arabic projects only works intermittently"
3.0.0 (a03e2cc)
Sometimes it works correctly, sometimes it does nothing, sometimes it momentarily highlights some spaces in blue or the entire text in blue.
[7024.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4851770/7024.mp4.zip)

[2020-06-30 12:39] birchamp commented on #6872
@neutrinog @cckozie  - Per the content team and other stakeholders, this isn't a big feature worth investing a lot of time into at this point.  Links to notes should just look like regular text.   Is there are way to do that but keep the links that we're already handling properly?

[2020-06-30 12:45] PhotoNomad0 commented on #6988
**Note:**
Need to fix:

- [ ] Hover over text (only shows selection now)
- [ ] somehow fix long book names.  Do we do we just truncate book name and not reference, or can we remove reference altogether?

[2020-06-30 13:11] #6733 closed, assigned to PhotoNomad0

[2020-06-30 13:12] #6999 closed, assigned to PhotoNomad0

[2020-06-30 13:14] #6994 closed, assigned to mannycolon

[2020-06-30 13:21] birchamp commented on #7024
I wonder if maybe @neutrinog can shine some light on this.

[2020-06-30 14:26] cckozie commented on #6988
Same problem in Arabic Ephesians with smallest selectable font size
![image](https://user-images.githubusercontent.com/8171759/86138219-d09bb880-bab3-11ea-9a4e-cd38f3856278.png)

If a selection is made, the selection will show in the hover over, but the reference is still not visible.
![image](https://user-images.githubusercontent.com/8171759/86138470-24a69d00-bab4-11ea-833f-41716290c9fb.png)

I'd

[2020-06-30 15:14] #6968 closed, assigned to mannycolon

[2020-06-30 15:14] #6969 closed, assigned to mannycolon

[2020-06-30 15:14] #6975 closed, assigned to mannycolon

[2020-06-30 15:14] #6983 closed, assigned to PhotoNomad0

[2020-06-30 15:14] #6990 closed, assigned to PhotoNomad0

[2020-06-30 15:14] #7000 closed, assigned to PhotoNomad0

[2020-06-30 15:14] #6967 closed, assigned to mannycolon

[2020-06-30 15:14] #6984 closed, assigned to PhotoNomad0

[2020-06-30 15:22] birchamp commented on #6237
@jag3773 could take a look at this and tell us the impact on the content and GL teams?

[2020-06-30 15:23] #6892 closed, assigned to da1nerd

[2020-06-30 15:30] cckozie commented on #6237
Rather than a large refactor, maybe we could just have tC make a check after wordMAP runs to see if there are target words out of order. If so, put up an alert that informs the user that one of more target words are out of order.

[2020-06-30 16:11] PhotoNomad0 commented on #6988
**Note:**

For now It was decided to remove the book name from the group menu to make room for reference and possible selection.  This is for all tools to be consistent.

[2020-06-30 20:01] cckozie opened #7025 "Target font is used for language abbreviation in the scripture pane"
3.0.0 (a03e2cc)
This changed when we added the ability to change the target language font. Not a big deal.

[2020-06-30 20:07] cckozie commented on #7013
Fixed 3.0.0 (a03e2cc)

[2020-06-30 20:47] PhotoNomad0 commented on #7023
Notes:
- There is a bug in the tN checks.  At runtime see:

![Screen Shot 2020-06-30 at 4 46 19 PM](https://user-images.githubusercontent.com/14238574/86175427-51c57080-baf1-11ea-9000-8553e0e1a1a3.png)

- it looks like "bita-phenom" is missing.  The only entry in en_tn is `OBA 1:18`
- there are a bunch of check warnings in `https://door43.org/u/Door43-Catalog/en_tn/master/` in `OBA 1:18`:
[code]

[2020-06-30 23:17] mannycolon commented on #6970
**ISSUE 1:** Can't replicate
**ISSUE 2:** Done
**ISSUE 3:** Done
**ISSUE 4:** Can't replicate
**ISSUE 5:** Addressed inconsistencies with the Hebrew font size. However, the Hebrew default font size used to be 175% and now will be 100% to maintain consistency for the text resize slider to work correctly.
**ISSUE 6:** Done
**ISSUE 7:** Done

[2020-07-01 13:09] jag3773 commented on #6237
I don't think this should hold up the 3.0 release. If it can't be fixed relatively simply then I'd save it for later (some of the wrong order scenarios were fixed which helps).  I'm not sure that a pop up would be desired, that might be too distracting.

[2020-07-01 13:31] cckozie commented on #6970
@mannycolon - It appears that ISSUE 1 and ISSUE 4 are no longer problems in the latest build.
When testing those I found another problem and added it as ISSUE 8.

[2020-07-01 20:16] mannycolon commented on #6970
***ISSUE 8:*** Done

[2020-07-01 21:27] cckozie opened #7028 "Font sizer for word bank should be anchored to a stationary point"
3.0.0 (a03e2cc)
The font sizer for the word bank moves as the user changes the font size. This makes it harder to set the desired size and also makes it look strange.
[word_bank.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4860657/word_bank.mp4.zip)

[2020-07-02 13:01] PhotoNomad0 opened #7030 "When selecting text, Error thrown on double click near end of word."
## Story Explanation
### User Story

When selecting text, Error thrown on double click near end of word.

This may only be seen running in developer mode:
![Screen Shot 2020-07-02 at 8.55.22 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/a81e1e2f-fc08-400f-bc4d-7600db8cecf8)

Looks like logic error not checking that array is not empty:
![Screen Shot 2020-07-02 at 8.56.47 AM.

[2020-07-02 13:07] PhotoNomad0 commented on #6988
**Note:**

Have it mostly working, but sometimes get tooltips even though it only comes close to ellipsis showing.

[2020-07-04 16:32] PhotoNomad0 commented on #7011
@cckozie - think I have a fix for this putting in https://github.com/unfoldingword/translationcore/issues/6988

[2020-07-06 12:52] cckozie opened #7031 "Padding may be excessive on target language tiles in wA with Arabic fonts"
3.0.0 (a03e2cc)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/273b9e46-0ac0-4b5b-8a46-1fa1121fa675)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/57518466-ad5a-44aa-944f-142bb856070c)

[2020-07-06 14:25] birchamp opened #7032 "Alphabetize font drop down and change icon in Project Information"
The dropdown list for font selection on the Project Information dialog should be alphabetized.

The icon for the font selection needs to be changed to the text_fields icon ![text_fields-24px.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/4474a144-f3ae-4ff7-88b6-2307fd531e0b)

[2020-07-06 14:38] cckozie commented on #6970
3.0.0 (818c550)
The Hebrew default font size should be the same for the scripture pane and the alignment area. The default size (apparently 175%) was chosen by the stakeholders much as that for  Awami Nastaliq. @birchamp - Should the default  for Hebrew be set to 175%, or do you want to go back to the stakeholders now that we have user sizable fonts?
![image](https://user-images.githubusercontent.

[2020-07-06 14:54] cckozie opened #7033 "The occurrence number in the wA alignment area for the Hebrew is not fully contained of the word tile"
3.0.0 (818c550)
This is mainly a problem when the original language is Hebrew, although the occurrence number for Greek and the target language do bump up against the edge of the word tile.
Should the occurrence number be a fixed size, or should it change as the font size is changed?
![image](https://user-images.githubusercontent.com/8171759/86607180-911b1380-bf6e-11ea-86ea-0030739d2d2b.png)

![im

[2020-07-06 15:24] cckozie opened #7034 "Pointing arrow on group menu tooltip and word bank tooltip moves after hover over"
This broke somewhere between 3.0.0 (84a5a44) from 6/23 and 3.0.0 (80e133b) from 6/25. It happens on tooltips that show the selected text in the group menu and on long word in the word bank that get truncated and causes the tooltip to show.

[7034.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4879826/7034.mp4.zip)

[7034a.mp4.zip](https://github.com/unfoldingWord/translationCore/f

[2020-07-06 15:27] birchamp commented on #6970
@cckozie I asked the content team about this.

[2020-07-06 17:05] cckozie opened #7035 "Filter icon and group menu check icons change size in wA when 3dot menu is opened in scripture pane"
3.0.0 (818c550)
[7035a.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4891923/7035a.mp4.zip)

[2020-07-06 18:05] birchamp commented on #6970
@cckozie @mannycolon Based on feedback from wg-content, unless there's a major tech hurdle, Hebrew should show by default at the larger size we've been displaying and be scalable from there.  The larger size should be considered "100%" on the slider.

[2020-07-06 20:10] PhotoNomad0 commented on #7024
Note:
- looks like an issue with window.getSelection() is returning empty selected text when double-clicking near end of rtl word.
- it looks like it only fails with graphite fonts.
- the normal double-click behavior is that we get two mouse up events and on the second we see call window.getSelection() to see what text was selected.

[2020-07-07 12:56] birchamp opened #7037 "User can change the font of resources and projects in the scripture pane."
## Story Explanation
### User Story

As a checker, I want to change the font in the scripture pane so that the text renders to my preferences.

### Features / Specifications

- [ ] 3 dot menu item offers the list of fonts in a submenu (current font name highlighted)
- [ ] The user's font choice is retained for that resource.

### Definition of Done

- [ ] User can change the font of any scripture

[2020-07-07 13:14] birchamp commented on #6971
It was decided that this issue is to be postponed and #7037 will handle it for now.

[2020-07-07 14:03] cckozie opened #7038 "Font is not sizable in verse editing dialogs"
The definition of done on the font sizing epic (#6943) is "The user can adjust the text of any scripture on the screen."
The dialogs for editing the text both in the expanded scripture pane and in the check area of tN and tW currently do not allow resizing the font.

**DoD**: opening any scripture editor will display the text at the same size as it was being viewed.

[2020-07-07 14:22] cckozie commented on #7011
Looks good in 3.0.0 (311f028)

[2020-07-07 19:20] mannycolon commented on #7037
@birchamp Should the icon be the same used in the project details page?
![Screen Shot 2020-07-07 at 3 19 47 PM](https://user-images.githubusercontent.com/17072300/86831850-6bbd0100-c065-11ea-8559-7a8985604b42.png)

[2020-07-07 20:38] PhotoNomad0 commented on #7023
Can import Obadiah projects in translationCore 3.0.0 (311f028)

[2020-07-07 20:40] PhotoNomad0 commented on #6988
Fixes in translationCore 3.0.0 (311f028)

[2020-07-07 21:18] cckozie commented on #6988
Only the selected text should appear in the tooltip instead of both the reference and selection.
3.0.0 (311f028)
![image](https://user-images.githubusercontent.com/8171759/86844076-184eb100-c06d-11ea-91e0-32f09e2ad1cb.png)

In 2.1.2
![image](https://user-images.githubusercontent.com/8171759/86844006-00772d00-c06d-11ea-9064-7b3d95a5dc05.png)

[2020-07-07 21:32] cckozie opened #7040 "The Arabic and Burmese texts sometimes change when tN/tW selections are made"
3.0.0 (311f028)
[ar_nav_oba_book.zip](https://github.com/unfoldingWord/translationCore/files/4887279/ar_nav_oba_book.zip)
Verse 1:1 in Abstract Nouns group. Select was made by dragging.
Before selection:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/5e7cd336-56ab-4e11-9f10-362eff62a1f1)

After selection:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c

[2020-07-07 21:48] cckozie opened #7041 "Selected Arabic and Burmese text is sometimes not reproduced exactly in the "has been translated as" pane"
3.0.0 (311f028)
[ar_nav_oba_book 2.zip](https://github.com/unfoldingWord/translationCore/files/4887322/ar_nav_oba_book.2.zip)
Verse 1:1 in Abstract Nouns group in tN. I think the differences may be punctuation characters.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/abe2ae1c-6f64-4093-80a8-8b9f4cbc16fc)

Verse 2:6 in Abstract Nouns
[my_ulb_1co_book 2.zip](https://gith

[2020-07-07 22:06] cckozie opened #7042 "Selecting Arabic text sometimes appears to include diacritics from the line below"
3.0.0 (311f028)
[ar_nav_oba_book 3.zip](https://github.com/unfoldingWord/translationCore/files/4887386/ar_nav_oba_book.3.zip)

tW verse 1:8 in group Edom. I had the tHelps pane collapsed when taking these screen shots.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/487fb072-a2c7-40ae-bbd6-87f590803b0c)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d

[2020-07-07 22:24] cckozie opened #7043 "The padding has been lost on the right side of the reference lines in the check pane when displaying RTL languages"
3.0.0 (311f028)
![image](https://user-images.githubusercontent.com/8171759/86850323-ba26cb80-c076-11ea-8cc0-270d9e6108fb.png)

[2020-07-07 22:29] cckozie commented on #7023
Not seeing the problem in 3.0.0 (311f028)

[2020-07-08 12:06] PhotoNomad0 commented on #6988
@cckozie - Sorry, somewhere I picked up that there was a complaint that the reference was left out.  At this point I don't remember where.

[2020-07-08 12:23] cckozie commented on #6988
@PhotoNomad0 - Yes, that was a complaint, but it related to the reference on the menu tile which wasn't showing with the long book names.

[2020-07-08 12:40] cckozie commented on #6872
Looks good in 3.0.0 (311f028)
![image](https://user-images.githubusercontent.com/8171759/86919664-33add080-c0ee-11ea-8e10-50913a6929a9.png)

[2020-07-08 12:51] cckozie commented on #6957
Looks good in  3.0.0 (311f028)
Wrote up #7045  relating to arrow coming of the tooltip.

[2020-07-08 12:53] cckozie opened #7045 "Arrow comes off of tooltip showing full text of truncated words in the word bank when fonts are very large"
3.0.0 (311f028)
[tooltip.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4890728/tooltip.mp4.zip)

[2020-07-08 16:09] cckozie opened #7046 "Target words sometimes get line wrapped in the word bank (in Burmese)"
3.0.0 (311f028)
I edited the verse to double the length of the first word. It then line wrapped in the word bank, but goes back to the correct format when dragged to the alignment area.
[my_ulb_1co_book.zip](https://github.com/unfoldingWord/translationCore/files/4891868/my_ulb_1co_book.zip)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/7f816c53-e109-4906-96bd-8d5d4466

[2020-07-08 17:38] PhotoNomad0 commented on #7030
Should be fixed in https://github.com/unfoldingWord/translationCore/pull/7039

[2020-07-08 18:58] PhotoNomad0 commented on #6988
Verified removed hover reference in translationCore 3.0.0 (66e7002)

[2020-07-08 19:00] PhotoNomad0 commented on #7024
@cckozie give this a try: verified change in translationCore 3.0.0 (66e7002)

[2020-07-08 19:01] PhotoNomad0 commented on #7030
@cckozie Should no longer see log errors on double-click.  Verified in translationCore 3.0.0 (66e7002)

[2020-07-08 19:55] cckozie commented on #7042
According to Alex this is not a show stopper but should be fixed.

[2020-07-08 19:56] cckozie commented on #7041
According to Alex this is a problem and should be fixed.

[2020-07-08 19:57] cckozie commented on #7040
According to Alex the Arabic is behaving as expected.

[2020-07-08 21:10] cckozie commented on #6988
Looks good in  3.0.0 (66e7002)

[2020-07-08 21:33] cckozie commented on #7024
It is much better in 3.0.0 (66e7002) but there are still some problems.
[ar_nav_1jn_book.zip](https://github.com/unfoldingWord/translationCore/files/4893356/ar_nav_1jn_book.zip)
[7024b.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4893351/7024b.mp4.zip)
@birchamp - Do we want to have him take another run at this?

[2020-07-08 21:45] cckozie commented on #7030
Not seeing any errors when double clicking in 3.0.0 (66e7002)

[2020-07-08 22:43] birchamp commented on #7024
@cckozie @PhotoNomad0 Let's talk about this at standup. I just need to know if this is the type of change that can be adjusted/tweaked.

[2020-07-09 13:01] PhotoNomad0 commented on #7038
@birchamp @cckozie - how do we want to address this?  The simplest seems to be to carry the font size selections of the tools in the verse check area and word alignment area into the edit fields.

[2020-07-09 18:50] PhotoNomad0 commented on #7043
Verified in translationCore 3.0.0 (e88d8df)

[2020-07-09 18:50] PhotoNomad0 commented on #7032
Versified in translationCore 3.0.0 (e88d8df)

[2020-07-09 19:51] cckozie commented on #7024
We decided the juice wasn't worth the squeeze to make this better. I moved the problem to #7052.

[2020-07-09 19:53] cckozie commented on #7043
Looks good in 3.0.0 (e88d8df)

[2020-07-09 20:10] cckozie commented on #7032
TT icon is shown and the list is alphabetized in 3.0.0 (e88d8df)

[2020-07-09 20:15] cckozie opened #7051 "1:NaN /p shown for front matter in the expanded verses view in tN and tW"
3.0.0 (e88d8df)
[57-TIT.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4899298/57-TIT.usfm.zip)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a0e72034-b07b-4172-883c-09e6f2a06f53)

[2020-07-09 20:56] cckozie opened #7052 "Oddities when selecting Arabic text by double clicking"
3.0.0 (e88d8df)

This was brought over from #7024
Clicking toward the end of the last word selects the punctuation instead
[ar_nav_1jn_book.zip](https://github.com/unfoldingWord/translationCore/files/4893356/ar_nav_1jn_book.zip)
[7024b.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4893351/7024b.mp4.zip)

[2020-07-09 21:16] cckozie opened #7053 "Unnecessary empty vertical scroll bar added to scripture pane when horizontal scroll bar is removed"
3.0.0 (e88d8df)
[7053.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4899572/7053.mp4.zip)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2c30849d-33ce-480f-b646-913733dd288b)

[2020-07-09 21:25] cckozie commented on #6970
Retested all issues and they look good in 3.0.0 (e88d8df)

[2020-07-13 12:23] PhotoNomad0 commented on #7041
@cckozie @birchamp - I can fix the first example.  The second example (Burmese in left to right) is showing that the character is supposed to be joined to the preceding character https://github.com/unfoldingWord/translationCore/issues/7040.

[2020-07-13 12:29] birchamp commented on #7041
The first example is the major issue here.  The punctuation character shouldn't be swapped.

[2020-07-13 12:32] PhotoNomad0 commented on #7041
See that some characters are meant to be paired with a preceding character.  The 4140 is the character in the example above:

[code]

see https://qaz.wtf/u/show.cgi?show=%E1%80%9E%E1%80%B0%E1%80%90%E1%80%AD%E1%80%AF%E1%80%B7%E1%80%A1%E1%80%AC%E1%80%B8&type=string

[2020-07-13 12:37] PhotoNomad0 commented on #7041
Also if you notice above the Visarga is not a punctuation, but part of the word.

[2020-07-13 21:31] PhotoNomad0 commented on #7038
Verified in translationCore 3.0.0 (380dc3e)

[2020-07-13 23:28] mannycolon commented on #7037
Verified on  ab7dcb1

[2020-07-14 00:56] cckozie commented on #7038
3.0.0 (ed14fea)
The font is properly sized in the edit dialogs associated with the expanded scripture pane and the wA alignment area, but it is not properly sized in the edit dialog associated with the check pane of tN and tW where it always is displayed at 100% when the target language font is Noto Sans.
![image](https://user-images.githubusercontent.com/8171759/87368306-ecd33700-c542-11ea-9a66-d

[2020-07-14 01:07] cckozie commented on #7037
3.0.0 (ed14fea)
The font dropdown lists in the scripture pane are not sorted alphabetically. **Fixed in 3.0.0 (4892ffe)**
![image](https://user-images.githubusercontent.com/8171759/87368816-615aa580-c544-11ea-9f66-5da4871c9e7f.png)

The font selector sometimes appears off of the screen **Fixed in 3.0.0 (4892ffe)**
![Screen Shot 2020-07-13 at 8 18 36 PM](https://user-images.githubusercontent.com/81

[2020-07-14 01:26] cckozie opened #7056 "The title line of resources in the scripture pane sometime line wrap instead of being truncated with ellipsis added"
3.0.0 (ed14fea)
![image](https://user-images.githubusercontent.com/8171759/87369856-1db56b00-c547-11ea-94de-771b6a284e59.png)

[2020-07-14 02:42] mannycolon commented on #7041
Verified on e6db62d

[2020-07-14 14:11] cckozie commented on #7041
Looks good in 3.0.0 (e6db62d)

[2020-07-14 16:01] cckozie opened #7058 "wA tool card shows incorrect percent complete"
There are several situations that are causing the percent complete indicated on the wA tool card to not be correct.
The original plan for the calculation for percent complete on the wA tool card was:
(total target language words aligned + total original language words aligned)/(total target language words in project + total original language words in project)

For this project the calculations sho

[2020-07-14 16:57] PhotoNomad0 commented on #7028
Note:
Some positioning possibilities:
- use absolute positioning: https://material-ui.com/components/popover/
[code]
- useFixedPositioning (see `https://react-md.dev/packages/transition/demos` under "Fixed Positioning Example")
- self positioning react components: https://www.freecodecamp.org/news/self-positioning-react-components-2/

[2020-07-14 18:32] PhotoNomad0 commented on #7038
Verified in translationCore 3.0.0 (9a422eb)

[2020-07-14 20:18] cckozie opened #7059 "Group menu visibly changes slightly in wA when the font sub-menu is opened on any of the scripture pane resources"
3.0.0 (9a422eb)
[7059.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4921104/7059.mp4.zip)

[2020-07-15 20:23] mannycolon commented on #7033
@birchamp @cckozie So should it be a fixed size, or should it change as the font size is changed?

[2020-07-15 20:25] birchamp commented on #7033
@mannycolon Is the default full size now? Or is it superscript?

[2020-07-15 20:30] mannycolon commented on #7033
The occurrence number changes font size as the text changes size

[2020-07-15 20:30] mannycolon commented on #7033
@birchamp

[2020-07-15 20:32] cckozie commented on #7033
@mannycolon @birchamp I think changing size is preferable, if feasible.

[2020-07-15 20:32] mannycolon commented on #7033
@cckozie So adding some padding to the occurrence number should work then?

[2020-07-15 20:34] cckozie commented on #7033
@mannycolon I think that would solve it.

[2020-07-15 20:34] mannycolon commented on #7033
Perfect thanks

[2020-07-15 20:40] birchamp commented on #7033
Yeah. Should be fine.

[2020-07-15 20:50] mannycolon commented on #7037
verified on 3ab4a94 and faea329

[2020-07-15 22:18] cckozie commented on #7037
Looks good in 3.0.0 (4892ffe)

[2020-07-15 22:19] cckozie opened #7063 "Arabic text moves when dragging to select in tN and tW"
3.0.0 (4892ffe)
[7063.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4928263/7063.mp4.zip)

![image](https://user-images.githubusercontent.com/8171759/87606171-ee763980-c6bf-11ea-80ec-d0123ca5951f.png)

![image](https://user-images.githubusercontent.com/8171759/87606184-f635de00-c6bf-11ea-8c50-7e751ff056ea.png)

[2020-07-15 22:31] cckozie commented on #7028
Looks good in 3.0.0 (4892ffe)

[2020-07-15 22:37] PhotoNomad0 commented on #7028
Verified translationCore 3.0.0 (02924df)

[2020-07-16 03:26] cckozie commented on #7028
Looks good in 3.0.0 (02924df)

[2020-07-16 13:13] birchamp opened #7064 "Release 3.0.0"
Release Steps Sign Off

### Release Checklist

- [x] QA signs off on specific build in regression testing.  The current for `v3.0.0` is build number: 3.0.0 (74b79f2).
- [x] Update changelog in tCore (most of the work is done by script, but any issues not yet closed will have to be entered manually).  See steps in [Dev Workflow Document](https://docs.google.com/document/d/1-dJvDrxjIYwiUKUnH-E8qZel-

[2020-07-16 13:45] PhotoNomad0 commented on #7034
Note:
- seems related to upgrade of material UI

[2020-07-16 20:18] cckozie opened #7066 "The selected text is is not bolded in the "has been translated as" pane if it contains ellipsis"
3.0.0 (02924df)
[my_ulb_1co_book.zip](https://github.com/unfoldingWord/translationCore/files/4933978/my_ulb_1co_book.zip)

It's correctly rendered on this check:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/414c1f74-1942-4313-9fa1-a74c3770c835)

And not bolded on this one:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/e7899f4b-e923-49e2-8d

[2020-07-17 20:47] PhotoNomad0 commented on #7034
Verified translationCore 3.0.0 (05a58a9)