[2019-05-03 18:28] benjore opened #6044 "2019-05-15 Professional Development: React/Redux Refresher"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-05-03 18:49] PhotoNomad0 commented on #6005
@benjore @cckozie - interesting, ~it's looking like language code is being case sensitive.  Will take a look.~

[2019-05-03 19:09] benjore commented on #6005
Expected behavior: if I type in `nepali` and I get an entry that for `[ne]` , if I type in `hindi` I get an entry with `[hi]`. Both of those are met (I think), so I'm good.

[2019-05-03 19:15] PhotoNomad0 commented on #6005
@benjore @cckozie - for language codes searching, it looks like had to make a compromise due to limitations of AutoComplete to just match language codes.  If we didn't, then auto complete would come up with a long list of everything that would also have the language code in the localized name and anglicized name which would often result in the real code dropping off the end of a very long list.  F

[2019-05-03 21:25] cckozie commented on #5996
@PhotoNomad0 - Interesting. Using 1.1.4 (040de06) and importing the two referenced projects, they do show the category checkmarks on the tW card. However, when importing a new usfm2 or usfm3 file, the checkmarks are still cleared.
I see we have a newer 1.1.4. Downloading now. I'll give it a try.
Still the same in 1.1.4 (23a7fbd)

[2019-05-03 21:37] cckozie commented on #6005
Works per Ben's comment in 1.1.4 (23a7fbd)

[2019-05-03 22:58] cckozie commented on #5755
Looks good in 1.2.0 (2ca9a91) other than inconsistencies with titles as noted in other issues.

[2019-05-04 11:53] PhotoNomad0 commented on #5970
Fix for group menu items that have array of quote words.

verified in 1.1.4 (23a7fbd)

[2019-05-04 11:58] PhotoNomad0 commented on #5755
Verified in 1.2.0 (00ab4a2)

[2019-05-06 01:49] mannycolon commented on #5756
Disregard.

[2019-05-06 01:56] mannycolon commented on #5920
Verified in latest build

[2019-05-06 13:22] PhotoNomad0 commented on #5985
added comments to https://github.com/unfoldingWord-dev/translationCore/issues/5988 that itemizes issues found.

@benjore - to address the problem, we have already added commits to git to save incremental work and have made changes to WA so it doesn't invalidate the whole verse.

The only additional thing I can think of to add is maybe on opening old projects, we do a git commit before doing any va

[2019-05-06 17:18] RoyalSix commented on #5998
https://team43.slack.com/archives/G927YPW04/p1556846662016500

[2019-05-06 18:19] cckozie commented on #5755
1.2.0 (cc9c5b5)
The hover-overs look good, but I'm holding this until the text alignment problem when there is line wrapping is fixed.

[2019-05-06 18:21] RoyalSix commented on #6021
Not showing on latest develop cc9c5b5

[2019-05-06 18:32] cckozie commented on #5998
I'm not seeing any change in the latest build, 1.2.0 (cc9c5b5) and 1.2.0 (5ee926c)
I tried it with a fresh install. Also tried updating English sources. Still am seeing the same problem.
![image](https://user-images.githubusercontent.com/8171759/57246663-61d3e400-7003-11e9-8763-93f5b67ea0dc.png)

[2019-05-06 18:36] cckozie commented on #6021
1.2.0 (cc9c5b5)
Launch button is now disabled when no subcategories are selected.

[2019-05-06 18:46] cckozie commented on #5920
1.2.0 (cc9c5b5)
There is now an "Other Terms" category and the correct subcategories lie beneath it. I pinged Ben to verify if "Other Terms" is OK as the first comment specifies "other".

[2019-05-06 19:58] PhotoNomad0 commented on #5832
Fixed in issue https://github.com/unfoldingWord-dev/translationCore/pull/6039

[2019-05-06 22:14] benjore opened #6050 "Test the tN tool with the Hindi tN"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Before releasing the tN tool, check it using the Hindi tN to make sure it works as expected.
- [ ] https://git.door43.org/Door43-Catalog/hi_tn
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-05-07 09:53] PhotoNomad0 commented on #6029
Verified in translationCore 1.1.4 (b6d9938)

[2019-05-07 15:17] #6006 closed, assigned to PhotoNomad0

[2019-05-07 16:56] cckozie commented on #5756
All issues look good in 1.2.0 (5ee926c)

[2019-05-07 16:58] cckozie commented on #6014
Fixed in 1.2.0 (5ee926c)

[2019-05-07 17:02] cckozie commented on #5920
1.2.0 (5ee926c)
Looks good except the tN category name "Other Terms" needs to be changed to just "Other".

[2019-05-07 17:49] cckozie commented on #5755
Looks good in 1.2.0 (5ee926c)

[2019-05-07 18:47] benjore opened #6054 "[8] SPIKE: For #5897 - Alignment Complete Toggle Behavior"
Figure out what needs to be done for #5897 . Work with Joel to figure out how to fix this issue.

[2019-05-07 19:58] cckozie opened #6056 "The subcategories on the tN card should be displayed in the language of the selected GL"
- [ ] For tN & tW card, the language of the checkboxes needs to match the language selected in the GL dropdown.
  - [ ] (First preference: use the data that's in tN/tA/tW. If it doesn't exist (like for the head catagories), then fallback to CrowdIn data.)

As a checker, I would like the categories and subcategories on the tN and tW tool cards to display in the language of the selected GL so that i

[2019-05-07 20:08] cckozie opened #6057 "The aligned scripture of the selected GL should automatically be displayed in the scripture pane for tW and tN"
Currently when the GL for the tN or tW tool is set to Hindi, the tool is loaded with the target and the Hindi ULB loaded in the scripture pane. The Hindi ULB is not aligned. The Hindi IRV is aligned, so it should be the one automatically loaded into the scripture pane.

As loaded:
![image](https://user-images.githubusercontent.com/8171759/57329660-df6a2380-70d9-11e9-9277-98a225ed3c90.png)

After a

[2019-05-07 20:12] cckozie opened #6058 "On the tN and tW tools cards, only show the categories and subcategories that have associated content in the GL selected"
As a checker, I would like the categories and subcategories displayed on the tN and tW tool cards to be reloaded so as to show only those categories/subcategories for which there is tN/tW content for that GL language, so I don't end up selecting checks that don't actually exist.

[2019-05-07 20:22] PhotoNomad0 commented on #5996
Verified in translationCore 1.1.4 (e7e858a)

[2019-05-07 20:40] cckozie commented on #6058
This is already in place.

[2019-05-07 20:40] #6058 closed, assigned to nobody

[2019-05-07 21:11] #5727 closed, assigned to nobody

[2019-05-07 21:28] cckozie commented on #6029
Prevents both project download and project selection in 1.1.4 (e7e858a)

[2019-05-07 21:49] cckozie commented on #5996
Works as expected on imports, downloads, and upgrades in 1.1.4 (e7e858a)

[2019-05-07 23:35] cckozie commented on #5970
All fixed in 1.1.4 (e7e858a)

[2019-05-07 23:36] cckozie commented on #6035
Dup of part of #5970

[2019-05-07 23:36] #6035 closed, assigned to nobody

[2019-05-07 23:40] cckozie opened #6059 "Need to package latest base resources with build"

[2019-05-08 11:12] PhotoNomad0 commented on #5985
@cckozie - this just adds git save to old projects before changes are made to project - we hooked into project migration which gets called during project selection, local import, online import, USFM export.  But also added a specific call before project upload.

You might take a look at test instructions at https://github.com/unfoldingWord-dev/translationCore/pull/6051 for ideas how to test, but n

[2019-05-08 14:04] PhotoNomad0 opened #6062 "tCore bundled resource update script fails"
## Story Explanation
### User Story

When I run script `npm run update-resources` to update the resources bundled in the tCore app, it replaces all books.zip files that have NOT been updated with an empty books.zip.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context

This is a bug in 1.1.4 and 1.2.0.  The current work-around is to ch

[2019-05-08 14:06] PhotoNomad0 commented on #5943
Blocked by https://github.com/unfoldingWord-dev/translationCore/issues/6062

[2019-05-08 14:20] cckozie commented on #5985
1.1.4 (eb0fe46)
Git save was executed during:
- Selection of old project
- Import of USFM project
- Export of old project to USFM w/alignments
- Export of old project to USFM w/o alignments
- Import of old project from DCS
- Upload of old project to DCS
- Import of tstudio project

[2019-05-08 14:55] cckozie opened #6063 "The % complete indicated on the tN card is inaccurate"
1.2.0 (1612995)
[en_test_1ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3157902/en_test_1ti_book.zip)
There are 13 checks under "Culture" in this project. 1 of them has been completed. The tN card should show 8% complete, but instead shows 0%.
There are 10 checks in the "Assumed Knowledge and Implicit Information" subcategory and 1 of them has been completed. When it is t

[2019-05-08 15:13] cckozie commented on #5686
1.2.0 (1612995)
(Probably related to #5941 and #6001)
[en_test_1ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3157968/en_test_1ti_book.zip)
This project is fully aligned and has one tN check completed and one tW check completed.

[55-1TI-all.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3157971/55-1TI-all.usfm.zip)
This usfm2 file has 2 edits, one i

[2019-05-08 15:29] cckozie commented on #5941
1.2.0 (1612995) (probably related to #5832 and #6001)
[en_test_1ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3158012/en_test_1ti_book.zip)
This project is fully aligned and has one tN check completed and one tW check completed.
1. Load the project in wA
2. Edit verse 1:3 to change the word "doctrine" to "theology". This will invalidate the alignment and the tN check.
3.

[2019-05-08 15:33] cckozie opened #6064 "The hover-over for the menu tile is broken in tN"
1.2.0 (1612995)
This may have been caused by #6000, although it theoretically should not be in this build.
[en_test_1ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3163635/en_test_1ti_book.zip)

This project is fully aligned and has one tN check completed

1. Load the project in wA
2. Edit verse 1:3 to change the word "doctrine" to "theology". This will invalidate the alig

[2019-05-08 15:57] cckozie commented on #5832
Hold until all issues dealing with reset alignments and checks are completed

[2019-05-08 18:24] cckozie opened #6065 "Create a map of where to find the latest versions of all base resources"
As a QA tester I need to be able to verify that the versions of the base resources in tC are the latest ones in the manifest so that I can assure the users that they are working with the latest available resources.

For each base resource in tC supply the following:
1. Link to its location in the catalog
2. How to determine the latest version in the catalog
3. If that version number is not expecte

[2019-05-08 18:36] cckozie commented on #5998
@RoyalSix
[55-1TI.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3158813/55-1TI.usfm.zip)

[2019-05-08 18:36] #5738 closed, assigned to nobody

[2019-05-08 19:55] benjore commented on #5998
Note: It is not actually the entire verse. It is a (large) quote that includes all the verse except the last word. That matches the JSON & the TSV file. This leads me to conclude that it is not a TSV -> JSON converter issue, but a JSON -> Display issue. (This issue shows up in multiple places.) @cckozie

[2019-05-08 21:28] cckozie opened #6067 "After installing 1.1.4 (81a1d3d) both English and Hindi show on the resource update selection screen"
If 1.1.4 (81a1d3d)  has the latest resources bundled with it, they should not show on the screen for selecting resource updates.
They both appear on the page regardless of whether I do a tC upgrade or clean install.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/abe6030a-563d-4cd9-9953-5be0c606b066)

[2019-05-08 21:34] benjore commented on #5126
@jag3773 The tW for this instance is actually just the word that is highlighted (and not the `oi`)

![image](https://user-images.githubusercontent.com/13352518/57409817-e020b980-71ae-11e9-8926-5ba8ef32391e.png)

The highlighting but has been fixed in so that the highlight in the ULT is showing:

![image](https://user-images.githubusercontent.com/13352518/57409856-f75fa700-71ae-11e9-9691-06090c4f66

[2019-05-08 21:55] cckozie commented on #6067
Looks like the English is legit because of the T4T.
In comparing Hindi resource folders pre and post download, it looks like the Hindi tA was not included in the build.

[2019-05-09 12:28] PhotoNomad0 commented on #6067
Fixing missing Hindi TA with https://github.com/unfoldingWord-dev/translationCore/pull/6061

[2019-05-09 14:48] PhotoNomad0 commented on #6067
Verified in 1.1.4 (926aece)

[2019-05-09 17:28] PhotoNomad0 commented on #6057
Here are the books currently in the IRV:

![Screen Shot 2019-05-09 at 1 27 13 PM](https://user-images.githubusercontent.com/14238574/57473637-4284c300-725e-11e9-8bbd-b5c523085348.png)

[2019-05-09 17:33] PhotoNomad0 commented on #6057
And checking the catalog:

![Screen Shot 2019-05-09 at 1 33 15 PM](https://user-images.githubusercontent.com/14238574/57473965-056d0080-725f-11e9-89b3-8d589306f59d.png)

[2019-05-09 17:39] PhotoNomad0 commented on #6057
It's always a bit more complicated.

[2019-05-09 18:03] #6043 closed, assigned to mannycolon

[2019-05-09 20:27] cckozie commented on #6059
There are new English resources available, so this needs to get redone.

[2019-05-09 20:27] mannycolon commented on #6064
Hey @cckozie could please give more details about what's broken. Maybe show some screenshots.

[2019-05-09 20:29] mannycolon commented on #6064
The icon only shows the tooltip when you hover over it and it has more than one icon to show. For example, if you bookmark the check.
<img width="239" alt="Screen Shot 2019-05-09 at 4 28 47 PM" src="https://user-images.githubusercontent.com/17072300/57484631-8f28c800-7277-11e9-9d49-0b5e9482740e.png">

<img width="241" alt="Screen Shot 2019-05-09 at 4 28 55 PM" src="https://user-images.githubuserco

[2019-05-09 20:34] mannycolon commented on #6064
I think the selection on the menu shouldn't be shown in the menu since it was invalidated. Is this what you're seeing as well?

[2019-05-09 20:38] cckozie commented on #6064
@mannycolon Yes, that is on another issue, #5941
Re: The icon only shows the tooltip when you hover over it and it has more than one icon to show. For example, if you bookmark the check.
Yes, you are correct, but there are really 2 problems here.
1. There should be 2 icons, one for edit and one for invalidated. I'm not sure if that should be on this issue or different one.
2. The text for the chec

[2019-05-09 20:41] mannycolon opened #6070 "Do Invalidation checking when editing a verse on tn or tw verse edit mode just like we do when editing in the expanded scripture pane"
## Story Explanation
### User Story

As a tC user, I want consistent invalidation checking so that I get the invalidation icon on the menu while I'm using tn or tw tools.

It would be good to use the same code and invalidation alerts when reimporting a project. Currently 2 separate alerts are issued there when there are both invalidated alignments and reset selections.
### Features / Specification

[2019-05-10 00:24] cckozie commented on #6059
Prior to 1.1.4 (9329586)
ult v2
ugnt v0.5

After 1.1.4 (9329586)
ult v3
ugnt v0.6

[2019-05-10 13:23] PhotoNomad0 opened #6072 "Project Migration error with tW categories"
## Story Explanation
### User Story

Project tW check selections migration error observed.

#### Testing Process:
In tCore v1.1.3 loaded https://git.door43.org/lrsallee/en_ult_rut_book.  Then ran tCore v1.1.4 and selected the same project - which updated the timestamp in `.categories` for tW (this worked well).  Then ran tCore 1.2.0 and and selected the same project, and on tW toolcard see no cate

[2019-05-10 13:35] PhotoNomad0 opened #6073 "Indeterminate selections shown on tW toolcard for Ruth."
## Story Explanation
### User Story

See a problem in 1.2.0:

Loaded https://git.door43.org/lrsallee/en_ult_rut_book, and turned off all selections.  When I click on "key terms", then "key terms" are selected and "names" also comes up selected as indeterminate.  Looks like a data error that "moab" is both in `kt` and `names` category.

![Screen Shot 2019-05-17 at 8 17 46 AM](https://user-images.gi

[2019-05-10 14:04] PhotoNomad0 commented on #6026
**Note: steps in above:**
- under Godly, select second 2:12
- click cancel
- click edit verse
- see error pop to select correct translation for current check
- select skip and resources disappear

[2019-05-10 14:21] PhotoNomad0 commented on #6026
@cckozie - not seeing the problem in current build 1.2.0 (c797c44).  Did I miss something in the test steps above?

[2019-05-10 14:48] cckozie commented on #6026
@PhotoNomad0 - 1.2.0 (1612995)  is a later build (by a few hours)
In that build I am not seeing the problem described in this issue, but something else that may be related. Now when navigating to 1:4 under God the Father by completing or skipping the previous check, it skips right over the God the Father category (vs 1:4).
Same is true for category Holy Spirit and Word of God.
I have no way of kno

[2019-05-10 15:13] cckozie commented on #5920
Looks good in 1.2.0 (1612995)

[2019-05-10 15:17] cckozie commented on #6000
Looks good in 1.2.0 (1612995)

[2019-05-10 15:22] cckozie commented on #5998
I'm also seeing related (I think) problems in 1.2.0 (1612995)
[en_ult_mrk_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3167129/en_ult_mrk_book.zip)

Load this project in tN.
Navigate to 10:30 under Abstract Nouns
Note that there are no highlights in the UGNT, and that the user is instructed to 'Please select the translation for ""'. The same is true for many verses in sever

[2019-05-10 15:48] cckozie opened #6075 "Suggested enhancements for the "Some selections are no longer valid..." alerts"
It would be nice if the alert would identify whether the reset selections are in tW, tN, or both

[2019-05-10 15:53] cckozie opened #6076 "tW is broken in tC 1.1.4 after updates of ULT and UGNT"
1.1.4 (9329586)
(I am assuming it's the new resources that are causing the problem)
Import any usfm file (with or without alignments)
Notice that none of the categories are selected on the tW card
Load the project in twW
Note that all you see is the big ERROR
(I have been able to load projects from DCS in tW)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/f468c5f3-eedc-

[2019-05-10 16:33] cckozie commented on #6067
In 1.1.4 (9329586) Hindi does not show on the resources update select screen. English does show, and T4T is the only thing downloaded/updated when the English is selected and downloaded.

[2019-05-10 20:55] PhotoNomad0 commented on #6076
restored the missing grc tW 0.6
Verified in  1.1.4 (bfefbd0)

[2019-05-10 22:24] da1nerd commented on #5778
Alignments from the current verse are not used as memory in wordMAP.
See here on line 90.
![image](https://user-images.githubusercontent.com/166412/57559648-b646ce80-7337-11e9-9aec-cb89efc2c686.png)

This would be an easy change.

[2019-05-13 11:09] PhotoNomad0 commented on #6026
@cckozie - wonder if this related to doing alphabetic sort of group menu?  That the navigation is still going by by key order?

Taking a look.

[2019-05-13 11:41] PhotoNomad0 opened #6078 "tCore Resources do not always update with new version"
## Story Explanation
### User Story

tCore Resources will not update with under following scenario:
- user is running older version of app (after new version is released or during QA soak) and does a local update of resources.  Afterwards when they update to new app the resources do not get updated.

Observed this problem in going back and forth between tCore versions in testing. The reason this c

[2019-05-13 12:28] PhotoNomad0 commented on #6026
@cckozie - yes, looks like the stepping order is now `God`, `godly,`, `God the Father...`.  That is the key order.  But the case insensitive sorted title order is `God`, `God the Father...`, `godly,`

[2019-05-13 14:28] PhotoNomad0 commented on #6026
@cckozie - maybe you should fail https://github.com/unfoldingWord-dev/translationCore/issues/6014, think I have a better fix than the approach I took.

[2019-05-13 15:03] cckozie commented on #6014
Apparently this fix has caused problems with groups being skipped during automatic navigation.

[2019-05-13 15:06] cckozie commented on #6026
Per request, I failed #6014. Will retest this issue when that one is complete.

[2019-05-13 17:31] cckozie commented on #6076
Looks good in 1.1.4 (bfefbd0)

[2019-05-13 17:54] cckozie commented on #5999
1.2.0 (521546e)
The tHelps pane is no longer empty, but I seems like there are line feeds are doubled in some sections.

![image](https://user-images.githubusercontent.com/8171759/57642688-956fba80-757d-11e9-89d3-9e243144dde1.png)

![image](https://user-images.githubusercontent.com/8171759/57642944-2777c300-757e-11e9-9531-0121daa87da6.png)

[2019-05-13 18:17] cckozie commented on #6026
Looks good in 1.2.0 (521546e).
Waiting for #6014 for final testing.

[2019-05-13 18:23] cckozie commented on #6009
I'm not seeing the problem described above in 1.2.0 (521546e)
Needs regression

[2019-05-13 18:46] cckozie commented on #6062
This is not working in 1.2.0 (142b2c9)
I deleted the resources folder, then started tC. Not seeing the Hindi tA folder.
The Hindi tA is not available until after downloading Hindi from the source content update

[2019-05-13 19:24] PhotoNomad0 commented on #6062
@cckozie - sorry, didn't communicate well.  This is not a fix for the tCore resources folder.  This is a fix to a script we run to update the "bundled" resources before release.  I don't know if there is an easy way for you to directly test this.  This is for manual bundled resource updates and also in preparation for automatic updates in release builds.

As far as Hindi TA not in develop branch,

[2019-05-13 20:14] PhotoNomad0 commented on #6078
@cckozie - Verified in 1.1.4 (af13224)

[2019-05-13 20:30] cckozie commented on #6062
Holding until I figure out how/when to test. (See comments above)

[2019-05-14 05:46] RoyalSix commented on #5941
Progress:
- A, B, C, D, E, F

[2019-05-14 13:14] PhotoNomad0 commented on #6014
Copied QA fail notes from https://github.com/unfoldingWord-dev/translationCore/issues/6026:

Fixing issue that group menu index order is sorted by key rather than localized name.

[2019-05-14 15:31] PhotoNomad0 commented on #6063
Note: the tN selections are false when project is selected and toolcards displayed, but when tN is launched, selections get loaded.

Looks like same behavior on tW.

[2019-05-14 21:55] cckozie opened #6084 "tC reports successful upload to DCS even though it failed because of differing git histories"
1.1.4
Upload a project to DCS
Delete the project from the project folder
Import a usfm project for the same book/language/translation id
Upload the new project to DCS.
Note that tC indicates a successful upload even though in the console it shows that it failed.

[2019-05-14 22:33] mannycolon commented on #6014
Verified on 4d66c2c

[2019-05-15 00:28] mannycolon commented on #5998
The current Mark tsv file does not have an original language quote for `Abstract Nouns Mark 10:30.` Therefore, after my changes, it will not show up in tC.

[2019-05-15 00:56] PhotoNomad0 commented on #6084
Verified in 1.1.4 (804ddb6)

[2019-05-15 18:01] #5988 closed, assigned to PhotoNomad0, RoyalSix

[2019-05-15 18:05] cckozie commented on #6084
Looks good in 1.1.4 (804ddb6)

[2019-05-15 22:22] cckozie opened #6088 "Problems with edit icon not displaying on edited verses"
1.1.4 (804ddb6)

[en_ult_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3184661/en_ult_tit_book.zip)

1. Load the attached project in wA
2. Edit verse 1:4 so that it looks as follows:
![image](https://user-images.githubusercontent.com/8171759/57815459-2345d400-773d-11e9-95b0-9083e197b472.png)
3. Load the project in tW
4. Navigate to the Christ, Messiah group
5. Click on v

[2019-05-16 03:12] benjore opened #6089 "Update the Hebrew font"
## Story Explanation
### User Story

@ben_jore Ideally we could have the Ezra font used for Hebrew, http://software.sil.org/ezra/

![image](https://user-images.githubusercontent.com/13352518/58111514-36322b80-7bb7-11e9-8a3d-5dfba6a35e28.png)

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-05-16 13:08] PhotoNomad0 commented on #6088
@cckozie - it looks like we had an issue to fix this in 1.2.0 and now am copying those fixes to 1.1.4.

[2019-05-16 14:58] PhotoNomad0 commented on #6088
@cckozie - we already fixed for 1.2.0 in https://github.com/unfoldingWord-dev/translationCore/issues/5832

[2019-05-16 20:31] PhotoNomad0 commented on #6088
Verified in 1.1.4 (f727982)

[2019-05-17 11:57] PhotoNomad0 commented on #6073
Note: Don't see in indeterminate selections in latest 1.1.4 with updated uhb 2.1.1, but see in 1.2.0.

In 1.1.4 see with names selected **_(note that Ruth 1:4 is missing)_**:

![Screen Shot 2019-05-17 at 8 13 48 AM](https://user-images.githubusercontent.com/14238574/57927374-c69d0300-787b-11e9-8d25-7afb420b34d2.png)

In 1.2.0 see (also with  uhb 2.1.1):
- select kt and see Ruth 1:4 in tW
![Screen

[2019-05-17 13:02] PhotoNomad0 commented on #6073
Note: it looks like moab is both an entry under kt and names, but the app doesn't like that.  Looking at the uhb 2.1.1 it looks like Ruth 1:4 has moab under kt when it should be under names.

[2019-05-20 16:48] cckozie opened #6093 "When reopening project in tW, the last used menu selection is not activated and the checkmark is not displayed on checked verse"
1.1.4 (f727982).
This worked correctly in 1.1.3.
This is the project in the bad state: [en_ulb_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3198911/en_ulb_tit_book.zip)
The previously made selection does appear to be persisted since it appears in the csv file and the checkmark is displayed in the icon bar.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf5

[2019-05-20 17:36] #6044 closed, assigned to RoyalSix

[2019-05-20 18:50] benjore commented on #1991
Contact Jesse to get format specs.

[2019-05-20 19:52] PhotoNomad0 commented on #6063
Verified in 1.2.0 (dbca10d)

[2019-05-21 15:06] PhotoNomad0 commented on #6093
@cckozie - on issue A, I can't find where we persist the latest context for a project and tool.  My presumption is that it will always reset when a new project is selected.

on issue B, think I have found a data initialization bug that addresses this.  But I can't explain how it is not a problem in 1.1.3 since the change was made in January.

[2019-05-21 15:37] #6021 closed, assigned to RoyalSix

[2019-05-21 15:44] #5755 closed, assigned to bspidel, PhotoNomad0

[2019-05-21 15:46] #6059 closed, assigned to PhotoNomad0

[2019-05-21 15:46] #5920 closed, assigned to mannycolon

[2019-05-21 15:47] #6000 closed, assigned to RoyalSix

[2019-05-21 15:47] #6067 closed, assigned to PhotoNomad0

[2019-05-21 15:47] #6076 closed, assigned to PhotoNomad0

[2019-05-21 15:48] #6009 closed, assigned to mannycolon

[2019-05-21 15:58] benjore commented on #6089
Does this show up incorrectly in tC?

[2019-05-21 16:59] cckozie commented on #6093
@PhotoNomad0 - Re: Issue A - For as long as I can remember, tC has remembered where I was in the project in the tool and that is where it loaded to the next time I loaded that project in the tool. This was broken a few months ago, but Joel got it working again. I just reverified that it was working in 1.1.3.

[2019-05-21 18:43] #5756 closed, assigned to mannycolon

[2019-05-21 18:43] #5781 closed, assigned to RoyalSix

[2019-05-21 18:43] #5985 closed, assigned to PhotoNomad0

[2019-05-21 18:43] #6005 closed, assigned to PhotoNomad0

[2019-05-21 18:43] #6084 closed, assigned to PhotoNomad0

[2019-05-21 18:43] #5970 closed, assigned to PhotoNomad0

[2019-05-21 18:43] #6029 closed, assigned to PhotoNomad0

[2019-05-21 19:58] PhotoNomad0 opened #6095 "Problems Opening highly edited project in tW in 1.1.4"
## Story Explanation
### User Story

In translationCore 1.1.4 (f727982):
Downloaded this project from D43: https://git.door43.org/lrsallee/en_ult_mat_book
Then launched tW - loading spinner stays on screen and can no longer interact with tCore.
Had to close tCore. On relaunch of tCore I can select the project, but second time I launch tW the app hangs without the spinner displayed.  After a minute

[2019-05-22 14:49] PhotoNomad0 commented on #6095
@benjore @cckozie - it looks like the cause of this is 6100 external verse edits queued up to be saved in tW group data (Larry probably edited every verse in WA more than once). Looking to see if way to improve performance here on first open.

[2019-05-22 15:51] benjore opened #6096 "If no invalidations, gray out invalidation indicator on tool cards"
## Story Explanation
### User Story

As a user, I want the invalidation indicator on the tool cards to be grayed out when there are no invalidations so that some of the visual clutter is reduced.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-05-22 16:20] cckozie commented on #6093
Both issues fixed in 1.1.4 (d200840)

[2019-05-22 16:24] cckozie commented on #6088
Works in 1.1.4 (d200840)

[2019-05-22 16:29] cckozie commented on #6078
Works in 1.1.4 (d200840)

[2019-05-22 16:52] cckozie commented on #6095
I think it would be sufficient for now to just provide an indication of processing between the stepper and the project named alert.
Also between the last overwrite alert and the Loading alert.

[2019-05-22 17:12] cckozie opened #6097 "wordAlignment_CheckInformation.csv should either contain useful data or it should be removed from the csv export"
- [ ] Remove from CSV Export

I'm not seeing any value in the data in this file
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/0883681d-c400-497a-8124-a15a56220b46)

[2019-05-22 18:14] PhotoNomad0 commented on #6095
@cckozie - sorry but moving the verse edit updating into the stepper would be a major refactor.

Currently it takes about 2-1/2 minutes on a fast machine to update verse edits the first time you open the above project in tW.

[2019-05-22 20:22] PhotoNomad0 commented on #6095
I have the updating of verse edits down to a couple of seconds now on the first open of the mat ult in tW by creative batching of operations: reduced 6000 unique verse edits down to 1054 edited verses which changed 4032 checks in mat that I grouped into 487 changed groups.  By adding an operation to the group data reducer to set an array of verse edits for a groupId and batching those made it run

[2019-05-22 21:25] benjore commented on #6095
Great work Bruce! Can you make sure to add a spinner (the small one with a message telling the user what is going on) before you move it along? Thanks!

[2019-05-22 21:38] benjore opened #6099 "When searching for just a language code, only show results that match"
## Story Explanation
### User Story

When a user enters `ru` in the language field and clicks `Search`, many results are returned that are not from the `ru` language (but do have `ru` somewhere in the project name).

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/004a793d-5bf0-4740-8924-9fbe33d1b197)

### Features / Specifications

- [ ] When searching for the book of G

[2019-05-22 21:49] cckozie commented on #6095
For reference in 1.1.4 (d200840) on my older Mac:
Stepper to Loading alert: 1:40 (no indication of processing)
Loading alert to Tools page: 0:21 (spinner on Loading alert)
Time to open wA: 0:10 (large logo spinning)
Time to open tW: 4:17 (large logo spinning)

When exported to csv, there are 1876 edits displayed. 1076 are tagged as external edits, the remainder as done in wA.

[2019-05-22 22:55] cckozie commented on #5175
From Robert:
![Screenshot_20190523_102411](https://user-images.githubusercontent.com/8171759/58214264-b2616780-7cba-11e9-92e2-63acbd36ced4.png)

I haven't tried to repeat it but here's how I remember it happened: 1/ some alignment was done (including the ἐμαυτόν), 2/ I selected some words on the left in order to align them, 3/ I then decided to edit the verse, 4/ After editing some words were stil

[2019-05-23 00:30] RobH123 commented on #6008
Related to this, tC 1.1.3 T4T John 18:38 (and other places) shows an EXTRA space after the opening quote. Original field is

\v 38 Pilate said to him, “\add How can anyone know\add* what the truth is?”

[2019-05-23 14:16] benjore opened #6100 "Unmerge + Merge Original Language words in one action (Word Alignment)"
## Story Explanation
### User Story

As an aligner, I want to unmerge an original language word and merge it to another with one click & drag (instead of unmerging it from the first word and then merging it to the second word) so that I can work quickly and so that the original language words behave in the same manner as the target language words.

### Features / Specifications

- [ ]
- [ ]
- [ ]

[2019-05-23 14:19] benjore opened #6101 "Dragging an aligned word to "white space" unaligns it (Word Alignment)"
## Story Explanation
### User Story

As an aligner, I want to send a target word back to the word bank by dragging it into some "white space" (i.e. anywhere not on another Original Language word) so that I don't have to drag words all the way back to the word bank to get them unaligned.

As an aligner, I want to unalign an Original Language word by dragging it into some "white space" or dragging i

[2019-05-23 15:13] benjore opened #6102 "Collapsable Navigation Side Menu (Word Alignment)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Works well with #5897
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/39392d50-d8e8-4b19-b613-e2e6a6e4c6bc)

![image.png](https://images.zenhubus

[2019-05-23 15:16] benjore opened #6103 "Show "Previous Alignments" in Lexicon pop-up (Word Alignment)"
## Story Explanation
### User Story

As an aligner that doesn't speak the GL well (or the OrigL well), I want to see previous alignments so that it can help me remember what that word means.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ] Lexicon info appears right away
- [ ] Previous alignments start with a spinner (as needed) until the data is loaded, then it is

[2019-05-23 15:42] benjore commented on #5126
I think this is functioning exactly like we planned it. This issue overlaps with secondary alignments. Another issue to consider is that the words that have been merged in other versions & languages will differ. So there will never be a perfect highlight across all languages.

[2019-05-23 15:44] benjore commented on #6015
@PhotoNomad0 @cckozie Has this been implemented already?

[2019-05-23 16:31] cckozie commented on #6015
@benjore - The tC version number and minimum compatible version were added in #6029 (v1.1.4). Pretty sure that tokenizer version has not been added or and don't know that we are versioning the tokenizer.

[2019-05-23 20:13] benjore commented on #6010
Question: Can the project loading be done in 2 broad stages?

Stage 1: enough of the project info is loaded so that the tools page can load, albeit with spinners where the invalidation count is supposed to be.

Stage 2: load all of the invalidation data. If the user wants to see how many invalidations, they can wait until it finishes loading and invalidation data is displayed. Otherwise, they can

[2019-05-23 20:53] jag3773 commented on #5126
It may be OK to leave it as is.  From my understanding, it would be more accurate to have the 'οἱ' included, but it's not essential.

@benjore I gather that you saying if we want both words highlighted in Greek then we'd need to use a key term milestone for it, correct?

[2019-05-24 16:57] cckozie opened #6105 "If tC ends during a file import, the user is prevented from importing the project when tC is restarted"
- [ ] Clear the Import folder before starting a new import

1.1.4 (29dac6c)
tC does not cleans up the imports folder when it is started or an import is started
To replicate:
Start an online import
End tC before the stepper is engaged
Note that the project now exists in the imports folder
Restart tC
Attempt to import the project again
Note:
1. The alert indicating the project already exists is now

[2019-05-24 17:17] cckozie commented on #6095
1.1.4 (29dac6c)  on my older Mac:
Stepper to Loading alert: 1:40 (no indication of processing)
Loading alert to Tools page: 0:21 (spinner on Loading alert)
Time to open wA: 0:10 (large logo spinning)
Time to open tW: 0:14 (large logo spinning followed by Loading edits alert with spinner)

 @benjore - The time to open tW is now greatly improved, and the user is aware that processing is taking place

[2019-05-24 18:00] cckozie opened #6106 "tC hangs during import of tstudio project"
1.1.4 (29dac6c)
I have seen this happen occasionally but it is not easy to replicate. When it happens, It seems to be most likely when importing this project:
[rmr-x-bsa_tit_text_ulb.tstudio.zip](https://github.com/unfoldingWord-dev/translationCore/files/3218064/rmr-x-bsa_tit_text_ulb.tstudio.zip)

Interestingly, when I decide that it is probably hung and then click anywhere on the screen, the imp

[2019-05-24 23:22] mannycolon commented on #6095
@cckozie When you say we need to add a `processing alert after the stepper ` are you referring about the project import validation stepper or the regular project selection stepper?

[2019-05-24 23:57] cckozie commented on #6095
@mannycolon - I'm referring to it during the import process. Once the import has finished, then the project selection process is much faster and the Loading project data alert is displayed fairly quickly.
That alert is eventually displayed during the import as well, but not until more than a minute and a half after I click the Continue button on the Project Details page.

[2019-05-26 16:40] mannycolon commented on #6095
@cckozie Do we have an issue to address speeding up this process? I was checking through the code that's doing the processing while you wait the 1 min and 40 secs and it looks like it could be speeded up a little bit.

[2019-05-27 16:40] cckozie commented on #6095
@mannycolon - I think #6010 would cover that.

[2019-05-28 11:19] PhotoNomad0 commented on #6095
@cckozie - verified change in translationCore 1.1.4 (a89d16f)

[2019-05-28 15:01] cckozie commented on #6095
1.1.4 (a89d16f) on my older Mac:
Stepper to Loading alert: 1:40 (spinner on new Preparing your project data alert)
Loading alert to Tools page: 0:21 (spinner on Loading your project data alert)
Time to open wA: 0:10 (large logo spinning)
Time to open tW: 0:14 (large logo spinning followed by Loading edits alert with spinner)

[2019-05-28 15:49] cckozie commented on #6095
1.1.4 (a89d16f)
Per above comment, there is now no dead time now where there is not indication of processing. However, the new alert needs to be presented after the last page of the stepper. The current implementation causes projects with missing verses or merge conflicts to hang during the stepper stage of the import.
This project is missing verse 1:1
[php_usfm_NoVerse1.usfm.zip](https://github.c

[2019-05-28 16:47] benjore opened #6110 "Update all timestamps to capture UTC 0 time (instead of local time)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Use a standard timestamp
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-05-28 18:44] benjore commented on #6070
Related to (fixed by? ) #5941

[2019-05-28 20:02] cckozie opened #6112 "Alignment complete improperly set by tC"
1.1.4 (a89d16f)
1. Open a project in wA
2. Align a verse completely
3. Note that the Alignment complete switch is set ON and the checkmark is set in the menu
4. Click on the Alignment complete switch
5. Note that the Alignment complete switch is set OFF and the checkmark is removed in the menu
6. Click on the next verse in the menu
7. Note that the checkmark is again set in the previous verse, the

[2019-05-28 21:09] PhotoNomad0 commented on #6112
**Notes:**
- this looks like a tricky one to fix.  This like it has been a problem for a while since we haven't made any WA changes in 1.1.4.
- The chain of events goes like this:
  - changing verses changes contextId to change, which causes Api.toolWillReceiveProps() to be called in WA, which calls
  - this._validateBook(), which calls this._validateChapter(), which calls
  - this._validateVerse(

[2019-05-29 16:44] cckozie commented on #6095
1.1.4 (341bbf5)
https://git.door43.org/tc01/en_ult_mat_book
The app no longer hangs when importing projects with missing verses or merge conflicts. However, when importing an online project with lots of edits that also has missing verses, the new alert appears between the Project Details page and the Missing Verses page. When Continue is clicked on the Missing verses page, there is no indication o

[2019-05-29 22:20] cckozie opened #6116 "Percentage complete on wA tool card seems to be incorrect in some situations"
1.1.4 (4b90ae7)
I thought we were calculating the % complete on the wA tool card based only on the status of the Alignment complete switch. It now appears that it is a combination of the switch and the actual alignments. For example in new unaligned Titus project:
1. Fully align verse 2:1
2. wA tool card shows 2%
3. Switch OFF the Alignment complete switch
4. wA tool card still shows 2%
5. Navigat

[2019-05-29 22:21] cckozie commented on #6112
Looks good in 1.1.4 (4b90ae7)

[2019-05-29 23:06] mannycolon commented on #6095
Verified on c8d29c4

[2019-05-30 15:16] cckozie opened #6117 "Renaming highly edited projects from Door43 takes a long time with no indication of processing"
- [ ] Add the small spinner with a message indicating what is going on.

1.1.4 (c8d29c4)
Imported https://git.door43.org/lrsallee/en_ult_mat_book and loaded in wA
Returned to projects page and changed its translation id to ulbb
After clicking the save button, the app appeared to be frozen for about 90 seconds after which the rename repo alert was displayed.
It seems like there is a lot of extra pr

[2019-05-30 15:24] cckozie commented on #6095
1.1.4 (c8d29c4)
The problem with importing Door43 project with missing verses has been fixed.
There appears to be a similar problem relating to renaming Door43 projects that have a lot of edits. I wrote this one up on #6117.

[2019-05-30 20:49] cckozie opened #6118 "tW completions on tool card changes after loading the project in the tool"
1.1.4 (c8d29c4)
[fr_ulb_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3238687/fr_ulb_tit_book.zip)

1. Unzip the attached project into the projects folder (it is from the 1.0.2 release)
2. Select it
3. On the Tools page notice that the tW %complete is 0% regardless of which of the categories or combination of categories is selected
4. Select all tW categories
5. Load the

[2019-05-31 16:06] cckozie opened #6119 "Need user experience improvements for install and upgrade"
1.1.4 (c8d29c4)
On my older Mac it takes more than 10 minutes to install or upgrade tC. On my new Mac it takes about 3 minutes. During this time the only information displayed to the user is the large spinning logo and the word "Loading..."

I believe the average user will believe the system is hung with that much dead time.
For first time users, this is their initial experience, and it is not goo

[2019-06-02 22:57] mannycolon opened #6120 "The delay function was changed to a different file causing problems with changes made in 1.1.4"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-06-04 22:51] cckozie opened #6123 "tC reports reset alignments on migrated projects that had no alignments"
1.1.4 (c8d29c4)
[en_tit.zip](https://github.com/unfoldingWord-dev/translationCore/files/3254751/en_tit.zip)

This is a project created in 0.8.1 and opened in wA, but no alignments were made.
After upgrading the app to 1.1.4, when this project is selected the reset alignments alert is displayed and the wA tool card indicates 5 reset alignments, and there are broken link icons displayed by some of t

[2019-06-05 13:55] benjore opened #6124 "[4] Bug: USFM3 shows up in edit window"
- [ ] Try to recreate bug
  - [ ] If successful, fix, or at least come up with a plan for how to fix

## Story Explanation

In chapter 4 of this project, when the verse edit window is opened (in wA), the USFM 3 shows up (just for chapter 4) instead of straight text.

[https://app.zenhub.com/files/65028237/749d77e3-6ea7-437c-8f50-67fe9ac0a232/download](https://app.zenhub.com/files/65028237/749d77e3

[2019-06-05 18:27] RoyalSix opened #6125 "Professional Development (Tensor Flow)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-06-05 21:28] benjore opened #6126 "Modifications to USFM files in DCS"
## Story Explanation
### User Story

As a user, I want only the latest greatest USFM files available in the root directory of a repo so that I don't mistake an archived version for the current version.

### Features / Specifications

- [ ] The only USFM files to show up in the root directory on DCS should be the latest USFM2 and USFM3 files
  - [ ] Original file: should keep same name and be place

[2019-06-06 15:10] benjore opened #6128 "Prevent breaking changes from being updated for resources"
## Story Explanation
### User Story

As a user, I want tC to prevent me from updating resources that will break tC or invalidate data so that my confidence in the tool remains high.

### Features / Specifications

- [ ] Put a manifest system in the UGNT, UHB, tN, tW, tA
  - [ ] Include a system whereby future updates of these resources can indicate which release of tC (and prior) is incompatible
-

[2019-06-06 17:34] jag3773 commented on #6126
The correct .apps location should be `.apps/translationCore` and the USFM2 filename should be uppercase, e.g. `49-GAL.usfm`.

I would also recommend renaming the original USFM2 filename to reflect the date it was imported.  So the initial imported file in this example might end up at `.apps/translationCore/Archives/2018-11-05T08:15:30-05:00-49-GAL.usfm`.

[2019-06-06 18:14] benjore opened #6129 "Create 1.1.4 Release"
- [ ] Create release
- [ ] Compress the Mac build
- [ ] Publish the release

[2019-06-06 22:07] cckozie commented on #6064
1.2.0 (2fea0fd)
The hover over for icons works correctly in the use case above. However, there is still a problem in this scenario:
1. Load a project in tN
2. Make a selection and click Save. The checkmark is displayed on the menu tile.
3. Click the bookmark switch. The bookmark icon is displayed on the menu tile. Both bookmark and checkmark are displayed in the hover over.
4. Click the Edit verse

[2019-06-10 15:57] cckozie opened #6132 "App hangs during import with Preparing your project data alert displayed with Missing Verses page in background"
1.2.0 (2fea0fd)
https://git.door43.org/tc01/en_ult_mat_book
Tried to import this project. Ended tC after waiting 15 minutes.
The problem seems to be related to the project having a missing verse. This may have been fixed in 1.1.4 and not brought forward to 1.2.
[Mon Jun 10 2019.log.zip](https://github.com/unfoldingWord-dev/translationCore/files/3272811/Mon.Jun.10.2019.log.zip)

[2019-06-10 16:12] cckozie commented on #6072
Looks good in 1.2.0 (2fea0fd)

[2019-06-10 16:21] mannycolon commented on #5982
Verified on d83e51a

[2019-06-10 17:44] cckozie opened #6133 "tN requires users to be able to select more than 4 individual selections"
- [ ] For the tN tool, change the max number of selections to 10
  - [ ] Update the warning for tN to say "10"

1.2.0 (2fea0fd)
Some tN's require more than 4 selections to be made. Here's one example:
![image](https://user-images.githubusercontent.com/8171759/59214702-3e113a00-8b7d-11e9-8bf3-ad3e1da51981.png)

[2019-06-10 17:46] cckozie commented on #5998
1.2.0 (2fea0fd)
The example in the first comment has been fixed.
The check in the Mark example now no longer shows up.

[2019-06-10 17:53] cckozie commented on #6026
All issues noted look good in 1.2.0 (2fea0fd)

[2019-06-10 18:44] cckozie commented on #5982
1.2.0 (d83e51a)
I'm writing up a new issue because we may need to do migrations of existing projects. (#6134)
Old project:
![image](https://user-images.githubusercontent.com/8171759/59218298-87658780-8b85-11e9-9d1f-37821037c820.png)

Newly imported project:
![image](https://user-images.githubusercontent.com/8171759/59218451-ea571e80-8b85-11e9-8ae6-da2faeab8ab6.png)

[2019-06-10 18:47] cckozie opened #6134 "Some tN's are not displayed correctly with older projects"
1.2.0 (d83e51a)
This was an existing project upgraded to 1.2.0. (No change after downloading latest English resources)
![image](https://user-images.githubusercontent.com/8171759/59218298-87658780-8b85-11e9-9d1f-37821037c820.png)

This is a newly imported project:
![image](https://user-images.githubusercontent.com/8171759/59218451-ea571e80-8b85-11e9-8ae6-da2faeab8ab6.png)

[2019-06-10 21:10] mannycolon commented on #5982
@cckozie Did you delete it your old translation Notes folder from your English resources and redownloaded it?

[2019-06-10 21:50] cckozie commented on #5982
@mannycolon - No, but I did do a download of the latest English resources. Shouldn't that replace it?
(I'm not planning to fail this issue because of this problem. Just noted it here and the new issue here.)

[2019-06-10 22:15] mannycolon commented on #5982
@cckozie I would suggest deleting it and redownloading it. Because we only use the timestamps & resource version to get new resources. We need to add a story to check for new resources based on the version of the parser that was used to parse the resource.

[2019-06-10 22:29] cckozie commented on #5982
@mannycolon
Deleted translationNotes folder and restarted tC. No change.
Deleted en folder and restarted tC. No change.
Downloaded latest English resources. No change.
Also, if it is a resources problem, why would newly imported projects be correct and existing 1.1.3 projects be broken?

[2019-06-10 22:50] cckozie commented on #6014
Looks good in 1.2.0 (d83e51a)

[2019-06-11 18:06] mannycolon commented on #5982
@cckozie
It seems like the old project files cache is not being updated. It is supposed to be updated every time a new resource is downloaded.

[2019-06-11 18:13] cckozie commented on #5982
I'll update #6134 with the suggestion about the cache.

[2019-06-11 18:18] cckozie commented on #6062
I decided not to test this one.

[2019-06-11 18:20] cckozie commented on #5837
Changed my mind, assuming the other issues will turn up problems.

[2019-06-11 18:24] mannycolon commented on #6132
Verified on 1b88859

[2019-06-11 18:29] cckozie opened #6137 "Project opens with no menu item selected"
1.2.0 (d83e51a)
[en_test_1ti_book 2.zip](https://github.com/unfoldingWord-dev/translationCore/files/3277947/en_test_1ti_book.2.zip)

Open this project in tN
Note that a check for Assumed Knowledge and Implicit Information verse 4:3 is displayed, but the corresponding menu tile is not selected.

![image](https://user-images.githubusercontent.com/8171759/59296870-96633d00-8c4c-11e9-9e64-a8638ef20adf

[2019-06-11 18:38] cckozie commented on #6063
Works correctly in 1.2.0 (d83e51a)

[2019-06-11 21:33] cckozie commented on #5996
1.2.0 (9c1cf66)
[en_ult_2ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3278653/en_ult_2ti_book.zip)

This problem has reappeared. The attached project was imported in 1.1.4 and never opened in a tool. After loading 1.2 the tW category checkboxes are all cleared.

[2019-06-11 21:52] cckozie opened #6139 "QA watch for tN"
Edits made in tN scripture pane:
-Do NOT show icon on tN menu tile. However, when the project is reloaded in the tool, the icon does show on the menu tile.
-Do show icon on tW menu tile
-Do NOT show icon on wA menu tile (verse was aligned, broken link is shown)

Edits made in tN check area:
-Do NOT show icon on tN menu tile. However, when the project is reloaded in the tool, the icon does show on

[2019-06-11 22:05] cckozie commented on #5832
1.2.0 (9c1cf66)
Edits made in wA are correctly indicated in tW and tN, although edits made in tW and tN are NOT correctly displayed in same tool until reloaded and are not displayed in wA. (See #6139)
Still holding.

[2019-06-12 11:45] jobbyp opened #6140 "Information only on improper formatting of cross references in Hindi USFM"
![image](https://user-images.githubusercontent.com/38230054/59348778-02de4a80-8ce6-11e9-9989-002395839b53.png)

### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

[Descript

[2019-06-12 13:54] jobbyp commented on #6140
https://git.door43.org/Door43-Catalog/hi_ulb
[hi_ulb-master.zip](https://github.com/unfoldingWord-dev/translationCore/files/3281609/hi_ulb-master.zip)

[2019-06-12 13:55] jobbyp commented on #6140
This text is taken from Genesis 1:1

[2019-06-12 14:24] cckozie opened #6141 "tC crash on USFM import"
- [ ] If fails, must fail gracefully

 1.2.0 (7e2080f)
This is a Hindi project
[01-GEN.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3281761/01-GEN.usfm.zip)

![image](https://user-images.githubusercontent.com/8171759/59359310-bac62480-8cf3-11e9-8b94-2fb481cb1e64.png)

This may be due to (invalidly formatted) cross references in the usfm
\s5
\c 1
\s सृष्टि का इतिहास
\p
\v 1

[2019-06-12 14:37] cckozie commented on #6140
@jobbyp The cross references in the text are not using the usfm markers required for cross references, so tC just regards them as plain text.
\v 1 आदि में परमेश्‍वर ने आकाश और पृथ्वी की सृष्टि की। (इब्रा. 1:10, इब्रा. 11:3)

See http://paratext.org/system/files/usfmReference2_4.pdf beginning at page 48 for proper formatting of cross references.

[2019-06-12 15:37] #6088 closed, assigned to PhotoNomad0

[2019-06-12 15:37] #6078 closed, assigned to PhotoNomad0

[2019-06-12 15:38] #6093 closed, assigned to PhotoNomad0

[2019-06-12 15:39] #6112 closed, assigned to mannycolon

[2019-06-12 15:40] #6072 closed, assigned to PhotoNomad0

[2019-06-12 15:41] #6120 closed, assigned to mannycolon

[2019-06-12 15:42] #5998 closed, assigned to mannycolon

[2019-06-12 15:43] benjore commented on #5982
When demoing, include #5998

[2019-06-12 15:43] #6026 closed, assigned to PhotoNomad0

[2019-06-12 15:44] #6014 closed, assigned to PhotoNomad0

[2019-06-12 15:44] #6062 closed, assigned to PhotoNomad0

[2019-06-12 15:44] #5837 closed, assigned to mannycolon

[2019-06-12 15:44] #6063 closed, assigned to PhotoNomad0

[2019-06-12 15:45] #6132 closed, assigned to mannycolon

[2019-06-12 15:56] benjore commented on #6133
Verify with Klappy that this won't cause any problems.

How many selections? 10? Unlimited?

[2019-06-12 16:22] benjore commented on #6126
Question: how often should we archive USFM files? Should we overwrite?

[2019-06-12 16:28] benjore opened #6142 "Add ChangeLog creation to every build"
## Story Explanation
### User Story

As a Product Owner, I want every build (on a release branch) to have a change log so that when a build is deemed "the release" we already have a changelog in place and don't have to create it after the fact.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-06-12 17:38] cckozie commented on #6140
I tested the Hindi Titus project after modifying the usfm for 3:6 to properly format the cross ref markers. tC handles them correctly; they show in the text when editing, but not in the wA word bank, scripture pane, or tN or tW check pane.
\v 6 \x - \xo 3:6 \xt योए. 2:28 \x* जिसे उसने हमारे उद्धारकर्ता यीशु मसीह के द्वारा हम पर अधिकाई से उण्डेला।

[2019-06-12 18:19] cckozie opened #6143 "Incorrect words in the "Please select the translation for" pane"
## Notes
- [ ] It appears that the fix that was applied to the Scripture Pane needs to be applied in the Checking box as well. It appears to be generating data in the old way

Was a problem in 1.1.4 and still is in 1.2.0 (7e2080f)
![image](https://user-images.githubusercontent.com/8171759/59375863-a5adbd80-8d14-11e9-85c2-fd5a5c23cf46.png)

[2019-06-12 19:02] benjore commented on #6142
Is this the best way to go about it?

2019-06-12 - decision was made to roll the changelog before we start code freeze.

[2019-06-12 19:18] benjore commented on #6137
Could be fixed by #6134

[2019-06-12 19:52] cckozie commented on #5982
@mannycolon
1.2.0 (2372490)
I found one that is wrong that was not on your list. I don't know if it's content or tC, and if it is tC, is it related to this issue or not. Some words in the quote are not highlighted in the ULT or UGNT. Is this the same as the last one we were talking about in the sprint planning?
![image](https://user-images.githubusercontent.com/8171759/59381516-207cd580-8d21-11e9-

[2019-06-12 23:19] cckozie commented on #5941
1.2.0 (2372490)
I followed the steps 1-17 above, and everything looked good. I then proceeded with the following steps, and found a problem similar to ISSUE E above.
18. Load the project in wA.
19. Edit verse 1:4 to insert the word "any" before the word "attention".
20. Select a reason code and click Save
21. Return to the Tools page
22. Load the project in tN
23. Navigate to verse 3:13 in the Ass

[2019-06-12 23:36] cckozie opened #6145 "When tC is upgraded, do not delete any Bible resources that will not be replaced during the upgrade"
- [x] When updating tA, tN, or tW, or any Greek/Hebrew helps, the older version must be deleted
- [ ] (M) When installing a new version of tC, any imported Bible resources (e.g. `t4t`, or Russian `ROB`,`RSB`, etc. ) need to be retained
  - [ ] When an imported Bible is updated, delete the old version (@PhotoNomad0 - except for ugnt and hbo where we may need to retain old versions for tN)
  - [ ]

[2019-06-12 23:56] cckozie opened #6146 "There should not be overlapping alerts"
1.2.0 (2372490)
Alerts being displayed and then being hidden by a different alert can be very confusing for the average user. In this example, the alert is displayed, then hidden, then revealed again.
[overlap.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3283543/overlap.mov.zip)

[2019-06-13 12:56] cckozie opened #6147 "The Local date does not show for English on the content download screen after a tC upgrade"
Maybe should be paired withy #6165
Reported by Robert
He was running 1.1.3 with the latest resources.
He upgraded to 1.1.4 and noticed that he no longer had the T4T
He did the Check for Content Updates, and not seeing a Local date for the English assumed that he had the latest.
He did see a Local date for the HBO, so he download that
He then rechecked for Content Updates and saw that there was a L

[2019-06-13 13:27] jag3773 commented on #6089
More info from the slack thread...

Larry Sallee [May 14th at 9:04 AM]
Anyone know why Ezra 6:10 UHB has a display problem? Same square characters on Door43. File text is `\w לֶהֱוֺ֧ן|lemma="הָוָא" strong="H1934"`
![image](https://user-images.githubusercontent.com/107731/59436262-4788e500-8dbd-11e9-862e-a168d4638825.png)

klappy  [1 month ago]
Does it have a display problem in the Consume app?

La

[2019-06-13 16:25] cckozie opened #6148 "Allow moving a merged original language word to be directly merged with a different original language word"
After the implementation of #4791, users are allowed to merge discontiguous original language (ol) words as well as unmerge a middle word in combinations of 3 or more merge ol words.

It would make sense now to allow moving any of the merged words directly to a different ol word (or group) rather than having to first unmerge it by moving it to the small box inserted when a merged ol word is being

[2019-06-13 19:13] jag3773 commented on #6126
@benjore if you are using date based file names then you'd never overwrite them.  I would only archive on an import.

[2019-06-13 19:27] benjore opened #6149 "Projects that are overwritten with a USFM2 file cannot be uploaded to Door43"
## Story Explanation
### User Story

As an aligner, I want to update my text in USFM2, reimport it into tC, and upload it to DCS so that I can use other tools besides tC to edit my text.

### Features / Specifications

- [ ] `en_ult_ezr_book cannot be uploaded because there have been changes to the translation of that project on your Door43 account.`
- [ ] Renaming the project seems to be the only

[2019-06-13 19:40] benjore opened #6150 "Contributors & Checkers are lost on USFM2 reimport"
- [ ] Contributors & Checkers information should be retained from the original

[2019-06-13 19:54] cckozie opened #6151 "The Door43 repository was not renamed error message when requesting to create a new repo during project rename"
1.2.0 (2372490)
Upload a project to Door43
Edit the project details to change the translation id
Select the "Create new repo" option on the alert
The Door43 repository was not renamed error message is returned even though the user requested to create, not rename. The new repo actually is created even though there was failure message.

[2019-06-14 13:13] PhotoNomad0 commented on #6148
**_Note:_**

It looks like moveSourceToken() in WA can be modified to handle special case when merging to preserve the alignments.  Will need to add special handling for single greek word from single word to move previous alignments into new alignment.

[2019-06-14 13:33] PhotoNomad0 commented on #6145
This is a very dangerous practice, since recently we have been making changes to how we store the content in the resources folder.  Additional TN and TW content that was downloaded needs to be downloaded again and run through the  updated source content parser.  This means that keeping old content could cause breakage.  It may work if we only preserve Bible resources. @benjore @cckozie

[2019-06-14 16:59] elsylambert opened #6152 "Test"
#1.2.0 (7c36064)

Steps to recreate:
1.
2.
3.

Screenshot of console
@

[2019-06-17 13:47] PhotoNomad0 opened #6153 "Export of ULT Rev fails and user was not notified"
## Story Explanation
### User Story
Larry would like to export the ULT book of revelation to as aligned USFM and upload to D43.

Currently there is an error creating aligned USFM file with this book ([en_ult_rev_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3297254/en_ult_rev_book.zip)) .  The problem is that this project had an empty alignment for verse 18:25 even though th

[2019-06-17 15:09] PhotoNomad0 commented on #6073
This is due to a content error waiting for fix.

[2019-06-17 15:15] PhotoNomad0 commented on #6134
@cckozie -Would you attach the project?

[2019-06-17 16:08] mannycolon commented on #6134
@PhotoNomad0 this bug is related to caching

[2019-06-17 18:51] mannycolon commented on #5135
- Now data reload may be required if category names are changed by the user

[2019-06-18 11:18] PhotoNomad0 commented on #6001
@cckozie - I have made fixes for external edits, but part of the problem is that this project has tN selections made by an older develop version 1.2.0 that saved the quote as a string, not an array of word occurrences.  I believe this is due to @mannycolon 's change to highlight the correct instance of the word.  I don't think we want to write data migrations for an unreleased interim build, but i

[2019-06-18 11:22] cckozie commented on #6134
@PhotoNomad0 I am unable to reproduce in 1.2.0 (c15cbbf)

[2019-06-18 11:36] PhotoNomad0 commented on #6001
@cckozie - still looking at why some selections are not displayed on verse in tN tool.

[2019-06-18 17:26] mannycolon commented on #3629
Verified on b1cd66e

[2019-06-18 17:26] mannycolon commented on #2011
Verified on b1cd66e

[2019-06-18 17:26] mannycolon commented on #3633
Verified on b1cd66e

[2019-06-18 17:26] mannycolon commented on #3631
Verified on b1cd66e

[2019-06-18 17:27] mannycolon commented on #3630
Verified on b1cd66e

[2019-06-18 17:27] mannycolon commented on #3632
Verified on b1cd66e

[2019-06-19 04:49] #6095 closed, assigned to PhotoNomad0, mannycolon

[2019-06-19 13:33] elsylambert opened #6157 "Error on screen while loading translationWords"
#1.2.0 (b1cd66e)
Steps to re-create:
1. Opened a Project in translationWords and was working fine.
2. Left tC run and hibernated the computer.
3. When logged back in and tried to launch translationWords, the screen was hung for a while and then displayed "ERROR" on the screen.
4. Had to restart tC to bring it back on.

[Wed Jun 19 2019.zip](https://github.com/unfoldingWord-dev/translationCore/file

[2019-06-19 14:09] elsylambert opened #6158 "Error while importing an old testament project"
#1.2.0 (b1cd66e)

https://git.door43.org/lrsallee/en_ult_rut_book

The project is working fine in 1.1.3 and 1.1.4.
It breaks the same way if the project exists when upgrading from 1.1.4.
Steps to re-create:
1. Searched for an old testament project.
2. selected the project and Continued.
3. Error showed up as in the snapshot, while the project was loading.

![Error while loading the project.png](ht

[2019-06-19 15:41] elsylambert opened #6159 "The selection for words in the instructions pane shows up in English instead of the gateway language"
#1.2.0 (b1cd66e)
![instruction pane.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/c21719c8-eb66-4239-89b3-3b55bb76afbe)

Steps to re-create:
1. Opened a Hindi Project in tW.
2. In the instructions pane, the word to highlight is displayed in English rather than in Hindi, so the correct selection cannot be made.

[hi_eph_eph_book.zip](https://github.com/unfoldingWord-dev/transla

[2019-06-19 16:39] benjore commented on #5126
@jag3773 Yes that is correct.

[2019-06-19 17:15] RoyalSix commented on #5941
May be fixed by #6000

[2019-06-19 17:15] RoyalSix commented on #5686
May be fixed by #6000

[2019-06-19 17:15] #6125 closed, assigned to RoyalSix

[2019-06-19 18:32] mannycolon commented on #5982
@cckozie I looked at the TSV file and it looks like we are highlighting the correct text in the ULT. So the `of the` should not be in the information area of the select mode screen.

If I'm not mistaken I think theres another issue somewhere that addresses that bug.

![Screen Shot 2019-06-19 at 2 32 31 PM](https://user-images.githubusercontent.com/17072300/59790963-17e74a80-929f-11e9-972a-1adf830a

[2019-06-19 18:37] mannycolon commented on #5982
@cckozie #6143 is the issue that will address the bug mentioned above

[2019-06-19 18:44] cckozie commented on #2011
@benjore -
1. The issue doesn't specify whether this feature is applicable to both tW and tN. It has been implemented in both. Is that what you wanted?
2. We didn't see anything in the issue about what you wanted in the selections.csv file when the user clicks on the No selection needed.

[2019-06-19 19:33] benjore commented on #2011
1. Implemented in tN & tW is desired.
2. It seems to me that adding the check with `[No selection needed]` in the "selections" category
would make sense.

[2019-06-19 20:45] bspidel opened #6160 "Configurable checking"
## Summary

As a user, I want select any combination from a configurable list of checks to be offered to me to be able to indicate that a check has been performed by me. This will allow me to select which checks I am interested in performing. This will determine which checks I see in checking contexts. Checking contexts include: alignment, tW and tN at granularities of verses, chapters and books.

[2019-06-19 20:51] mannycolon opened #6161 "Add support to the source content updater to handle TSVs base off of the UGNT version it was generated from."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-06-19 22:32] mannycolon commented on #5737
Verified on b50f3ec

[2019-06-20 13:48] elsylambert commented on #4791
Got this Alert message while I was merging the Greek words and one of the Greek word disappeared.
![#4791](https://user-images.githubusercontent.com/51806180/59854172-67318780-9340-11e9-818f-9a60dfde1bf4.png)

[Thu Jun 20 2019.zip](https://github.com/unfoldingWord-dev/translationCore/files/3310693/Thu.Jun.20.2019.zip)

[2019-06-20 13:49] cckozie commented on #4791
1.2.0 (908e98d)
[hi_irv_eph_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3311363/hi_irv_eph_book.zip)

[disappearing.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3310686/disappearing.mov.zip)
After closing wA and reloadiing the project, the Greek all appear correctly again. It looks like it is likely just a display problem.

[2019-06-20 14:03] PhotoNomad0 commented on #4791
@elsylambert - thanks for attaching the logs.  Can you tell me the sequence you went through to get the error?

[2019-06-20 14:09] elsylambert commented on #4791
@PhotoNomad0 - The sequence is the same as in the video that Koz posted.
- Moved the Greek Words and merged into groups and then moved one word out of the group, the Greek word disappears.
- It gives an alert message (as in the snapshot above). If I click on Cancel on the Alert message, All the Greek words are back on screen.

[2019-06-20 14:26] PhotoNomad0 commented on #4791
@elsylambert - thanks, that's more clear now.  Trying to make sense of the video - it looks good up to frame 01:14:18.  It looks like you where dragging the word kai into the unmerge box and then the second alignment group disappeared at frame 01:14:51, and that's was the first failure.  Is that correct?

It is looking like the bug is related to the ordering of the instances of the word kai - I'll

[2019-06-20 14:34] PhotoNomad0 commented on #4791
Found another bug at frame 00:23:57 when two alignments got duplicated.

[2019-06-20 14:38] elsylambert commented on #4791
@PhotoNomad0 - The video is done in Koz machine with a different Project/Verse. However I got the same observations with my project, so the log and screenshot I provided are unrelated to the Video.

[2019-06-20 14:39] cckozie commented on #4791
@PhotoNomad0 The first word disappears around 1:33 in the video. I have not seen the error that Elsy recieved about reset alignments.

[2019-06-20 14:45] PhotoNomad0 commented on #4791
@cckozie  @elsylambert - I think the problem started sooner.  After 00.22:14 there are duplicated alignments in the video - quite a big problem with the data from that point on:
![Screen Shot 2019-06-20 at 10 44 28 AM](https://user-images.githubusercontent.com/14238574/59858143-6bfa3980-9348-11e9-8aae-90f062301a70.png)

[2019-06-20 15:05] elsylambert opened #6164 "Extra Alert message while importing from translationStudio to tC"
#1.2.0 (7caed9f).

This alert does not show up in 1.1.4.

Steps to recreate:
- Import a tS project into tC.
- Follow the steps>Continue> after the File has been renamed, it shows up the alert for a few seconds.
- In some cases, the user has to dismiss the alert.
- It sometimes occurs when selecting an existing project.
![tS project into tC.png](https://images.zenhubusercontent.com/5d02efb2f425650e

[2019-06-20 15:08] elsylambert commented on #6164
[Video_importing tS project.zip](https://github.com/unfoldingWord-dev/translationCore/files/3311006/Video_importing.tS.project.zip)

[2019-06-20 17:11] RoyalSix commented on #5996
Verified in 7caed9f

[2019-06-20 17:58] cckozie opened #6165 "WIndows and Mac show different server dates for the resources on the resources download page"
We both installed 1.2.0 (7caed9f) this morning.
On Mac:
![image](https://user-images.githubusercontent.com/8171759/59870390-1713ee80-935b-11e9-9d30-46d507a1591f.png)

On Windows:

[2019-06-20 18:00] elsylambert commented on #6165
![Content updates screen](https://user-images.githubusercontent.com/51806180/59870565-c0f77900-9363-11e9-813e-b1a9f3ac8690.jpg)

Windows Screenshot

[2019-06-20 18:38] mannycolon commented on #6134
@cckozie @benjore @PhotoNomad0  What should we do about this issue? Should it be moved to the `QA Watch List`?

[2019-06-20 19:18] mannycolon commented on #6161
Per @jag3773 on Slack:

[2019-06-20 19:37] cckozie commented on #6134
@mannycolon No, I'd prefer that we leave it InQA since I am continuing to test it as I have time when the QA queue gets low. I have not found any problems yet, but have only looked at very small fraction of the verses that have tNs.
I am OK with it being demoed in the next sprint review if that is the concern. I'm reasonably confident that the bugs are gone, but not ready to sign off on it yet.

[2019-06-20 19:49] mannycolon commented on #6134
@cckozie Ok, but it is currently in `Sprint story backlog` should it be move to `In QA` then?

[2019-06-20 20:22] cckozie commented on #6134
@mannycolon - My bad. I just glanced at the title and thought we were talking about your issue with tNs not displaying properly. I'm moving it to QA Watch.

[2019-06-20 20:41] cckozie commented on #6158
1.2.0 (7caed9f)
[en_ult_rut_book 2.zip](https://github.com/unfoldingWord-dev/translationCore/files/3312189/en_ult_rut_book.2.zip)
SCENARIO 1: **Fixed in 1.2.0 (cf6fd22) after downloading latest UHB**
This was an existing project in 1.1.4, and it woked as expected there. It was using the resources that were bundled with the 1.1.4 release.
After upgrading to 1.2, the tW card has all category checkbo

[2019-06-20 21:25] PhotoNomad0 commented on #4791
Note to self: looks like the the render() method is hard wired to expect primary words to be contiguous.  Will need some redesign here.

[2019-06-20 21:36] benjore opened #6168 "Update Original Language resources based on tN versioning system"
## Story Explanation
### User Story

As a tC user, I want to tC to be able to handle multiple GLs for tN that use different versions of the Original Languages so that tC doesn't break over needing a newer or older referenced version of tN.

### Features / Specifications

- [x] If UGNT/UHB is updated, the previous version will be deleted unless a version of tN on the system requires it.
- [x] Updat

[2019-06-21 00:36] RoyalSix commented on #5999
daee8ab

[2019-06-21 00:37] RoyalSix commented on #5941
daee8ab

[2019-06-21 02:05] mannycolon commented on #6105
Verified on daee8ab

[2019-06-21 02:35] mannycolon commented on #6158
@cckozie If you don't mind could you please clean up the items above? maybe list them up so they're easier to read.

[2019-06-21 13:14] cckozie commented on #6158
@mannycolon - I tried :) If you still have questions we can chat online.

[2019-06-21 13:36] #6152 closed, assigned to nobody

[2019-06-21 17:54] cckozie commented on #5941
Looks good in 1.2.0 (7caed9f)
Needs regression

[2019-06-21 18:39] elsylambert commented on #3632
Works in 1.2.0 (7caed9f)
needs regression
(new use case is No selection needed.

[2019-06-21 18:55] cckozie commented on #6001
Works in 1.2.0 (7caed9f)
Needs regression

[2019-06-21 18:58] elsylambert commented on #2011
Works in 1.2.0 (7caed9f)
needs regression.

[2019-06-21 19:03] cckozie commented on #5832
Need to test to ensure that edit icon is displayed on the verse:
1.  everywhere it appears:
in wA, in tN, and in tW. In both tN and tW the verse may appear multiple times in the same category and in different categories.
2. Regardless of where it was edited:
- in the expanded scripture pane in wA, tW, and tN
- in the Check pane of tW and tN
- when edited externally

[2019-06-21 21:02] RoyalSix commented on #4791
[feature testing.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3316026/feature.testing.mov.zip)
Is this expected behavior? @PhotoNomad0 @benjore

[2019-06-21 21:45] mannycolon commented on #6158
Verified on f9728ae

[2019-06-22 10:18] PhotoNomad0 commented on #4791
@benjore - added occurrence numbers to primary words so that users can keep track of word order when there are multiples.  Thanks to @neutrinog for making this easy!

[2019-06-24 10:31] PhotoNomad0 opened #6171 "tCore hangs forever creating new repo using Kubuntu 19.04"
## Story Explanation
### User Story
Robert would like to upload a new repo to Door43 using tCore, and not wait watching a spinner until the lights go out long enough for his laptop battery to empty.

Robert eventually resolved this by rebooting the laptop - seems like it's probably a bug in the Linux driver for his network card (since it could not be reproduced on another Kubuntu 19.04 machine and

[2019-06-24 10:36] PhotoNomad0 commented on #6171
**Here is the log:**

Robert Hunt [Jun 19th at 6:02 PM]
@ben_jore I've started aligning UST Judges and having the old problem of sitting at the "Loading your project data." prompt after selecting Upload to Door43. Not sure if it's my Ubuntu system, my internet, or what. Log says
[code]

[2019-06-24 11:36] PhotoNomad0 commented on #6171
@cckozie - is this something we should have on QA watch?

[2019-06-24 11:39] PhotoNomad0 commented on #6171
@benjore - don't know how much more time we want to invest now - this could be quite a time black hole.

[2019-06-24 13:17] PhotoNomad0 commented on #6143
**Note:**
- VerseCheckWrapper is defined in `checking-tool-wrapper`.  Which calls `checkAreaHelpers.getAlignedGLText()` which calls `getAlignedText()`
  - find duplicated functions in app:
    - in tCore have `gatewayLanguageHelpers.getAlignedText()`.  Called by `gatewayLanguageHelpers.getAlignedGLText()` which is called by `gatewayLanguageHelpers.getGatewayLanguageCodeAndQuote()` which is called

[2019-06-24 15:50] cckozie commented on #6001
1.2.0 (cf6fd22)
Not seeing migration errors in console when importing usfm projects, but am now seeing other issues when reimporting a project.
[58-PHM.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3321573/58-PHM.usfm.zip)
1. Imported this PHM project
2. Loaded in tN and made selections as instructed in 1:15 (Active or Passive) and 1:13 (Assumed Knowledge)
3. Loaded in tW an

[2019-06-24 16:22] cckozie commented on #5996
Not seeing a problem in 1.2.0 (cf6fd22)
Needs regression

[2019-06-24 16:39] cckozie commented on #6064
Works as expected in 1.2.0 (cf6fd22)

[2019-06-24 16:40] cckozie commented on #5832
Unable to test external edits in 1.2.0 (cf6fd22)
Waiting on #6001 and #5686

[2019-06-24 17:22] PhotoNomad0 commented on #6143
@cckozie - this same bug will be in CSV output, since we are picking up the first occurrence of a word rather than the correct instance.

[2019-06-24 18:47] PhotoNomad0 commented on #6143
@cckozie - unfortunately it is different function needed by Check area than used by Scripture pane, Scripture pane needed a method that created an array of html spans with the highlights overlaid.  Check area needed a string of words that mapped the strongs number to GL words.

[2019-06-24 18:51] PhotoNomad0 commented on #6073
@benjore -  it seems like we really need to be able to check the content for errors the the check categories and let the user and the content team know.

[2019-06-24 18:51] benjore commented on #6161
Dup of #6168

[2019-06-24 18:51] #6161 closed, assigned to mannycolon

[2019-06-24 18:56] benjore commented on #6133
Klappy - bump it up to 10. Look for selection bugs (that showed up a long time ago). WordMAP will need to filter how many selections before it will disregard the data.

[2019-06-24 20:45] PhotoNomad0 commented on #4791
verified in translationCore 1.2.0 (f134cbf)

[2019-06-25 03:30] elsylambert commented on #5999
#1.2.0 (f134cbf)
@RoyalSix -tN help pane is displayed, but there is formatting issue in the help pane. Please refer to the comparison between Translation Academy and the help pane, as shown in the snapshot:
Steps to replicate:
- Open the project in tN
- Select the Menu option: Active or Passive.
- Scroll down to " Examples of Translation Strategies applied" section. Please note that the numbering

[2019-06-25 11:21] PhotoNomad0 commented on #6001
**Notes:**
- the exception occurs while loading tN (`t.api.triggerWillConnect(toolProps);`) and it is thrown by react.
- traced down to call to getSelectionsFromChapterAndVerseCombo().  Quote array was not supported, so correct file name was filtered out.  This led to undefined being passed to path.join().

[2019-06-25 16:30] cckozie commented on #4791
1.2.0 (c625242)
In OT projects, the Hebrew occurrence number extends off of the top word card.
![image](https://user-images.githubusercontent.com/8171759/60115806-62a01100-973c-11e9-9565-5b64051c4e98.png)

[2019-06-25 16:34] elsylambert commented on #6158
needs regression

[2019-06-25 17:57] elsylambert opened #6174 "Gateway Languages are displayed and the wrong message is displayed for tN Launch button when there are no corresponding tN's"
#1.2.0 (f134cbf)
[en_ultt_jdg_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3326877/en_ultt_jdg_book.zip)

1. When online projects for OT Books are imported:For e.g. Judges(ceb & en) & Joshua(ble), the disabled Launch button for tN displays a message "You must select a Category to launch this tool" in oppose to "Book not supported" as in tW.
@benjore - Is "Book not supported

[2019-06-25 18:03] benjore opened #6175 "Export all available GL Check Info data as separate sheets during CSV export"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Create new sheet for each GL checking data
- [ ] Get GL quote from the alignment data, not from the TSV
- [ ] All GL content on the system for each tool
- [ ] Add the GL as a suffix, e.g. `translationWords_CheckInformation_en.csv`

### Definition of Done

- [ ]

[2019-06-25 18:27] benjore commented on #6145
Need to figure out how to prevent old/antiquated file formats from breaking tC.

[2019-06-25 21:49] cckozie commented on #4791
@PhotoNomad0
1.2.0 (c625242)
[en_new_2th_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3327386/en_new_2th_book.zip)

I was running a script that randomly merges top words, and after every tenth merge, it randomly unmerges one word. After 50 merges it then unmerges all of the top words and then moves to the next verse to repeat the process. When the script moved from the 5th

[2019-06-26 13:06] elsylambert opened #6177 "Only display GL's in the GL dropdown list on the tN card if there are tN's defined for the GL/project combination."
# 1.2.0 (3d98a37)

This is related to #6174.
Issue 1: The Gateway Language dropdown should not display Hindi as there are no Hindi tN checks for Ephesians.
![tN Hindi.jpg](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/f9f64946-23a3-45ba-b620-6cce9b92e359)
Issue 2: Still able to Launch and see the below screen:
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe

[2019-06-26 13:17] elsylambert opened #6178 "Error while loading an existing project"
#1.2.0 (3d98a37)
This project was opening fine until previous build.

[hi_els_phm_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3330149/hi_els_phm_book.zip)

Tried to open this project and got the following alert:
![Error while opening a project.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/85f0691b-4950-4cb1-bb04-18b725ac90d8)
Steps to recreate:
Select

[2019-06-26 13:59] PhotoNomad0 commented on #6001
verified in translationCore 1.2.0 (4b9a560)

[2019-06-26 14:31] elsylambert commented on #6178
Note:  it is a duplicate of an issue found in #6001
Working fine in #1.2.0 (4b9a560)

[2019-06-26 14:31] #6178 closed, assigned to nobody

[2019-06-26 15:22] cckozie opened #6179 "Long delay before app is usable when loading a highly edited project"
1.2.0 (4b9a560)
project at https://drive.google.com/open?id=1Mb9BDbA_AkCyXg7lnkka8QIgGbNSlnjo
movie of first opening at https://drive.google.com/open?id=1g4uluTcQ-VaClv8UixqY6XWmdD0wMzzm
movie of second opening at https://drive.google.com/open?id=1F0svTAa72iXKEpMuWSYCs76Sh0TRMaOV

This was all done on my fastest machine.

Opening this project in tW the first time takes about a minute and a half. T

[2019-06-26 15:24] PhotoNomad0 commented on #6143
Verified in translationCore 1.2.0 (4b9a560)

[2019-06-26 18:20] RoyalSix commented on #5999
It looks like the content is actually wrong.
If you see towards the bottom there are three `1s`
https://git.door43.org/unfoldingWord/en_ta/raw/branch/master/translate/figs-activepassive/01.md
![image](https://user-images.githubusercontent.com/8171759/60212954-1af6b380-9828-11e9-9593-01e11e8bba69.png)

Github is parsing it incorrectly and showing it as `1, 2, 3`
https://git.door43.org/unfoldingWord

[2019-06-26 19:51] cckozie opened #6181 "wA tool card shows 0% complete after importing a fully aligned usfm project"
1.2.0 (b757c2a)
[58-PHM.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3331674/58-PHM.usfm.zip)
Imported the attached file. wA tool card shows 0%.
After opening in wA and returning to the Tools page it shows 100% complete

[2019-06-26 19:57] cckozie opened #6182 "After overwriting a project during import, the app does not proceed to the Tools page and an error is displayed when selecting the project"
1.2.0 (b757c2a)
I suspect this was broken by either #5686 (not supposed to be in this build), or #6001 or #5832
Export a project to usfm without alignments
Edit the exported file to make some changes
Import the edited file choosing the Overwrite options
After clicking the Overwrite button on the warning alert, the user is returned to the projects page instead of continuing to the tools page.
When

[2019-06-26 20:10] cckozie commented on #6001
Wrote up #6182 while testing the last use case above.
Also waiting on #5686 and #5832 for final testing.

[2019-06-26 20:43] benjore opened #6183 "[12] SPIKE: Research and propose solution for data validation/linting/testing (for data in DCS) before it is downloaded into tC."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-06-26 20:46] benjore commented on #6177
@elsylambert Can you explain Issue #2 more fully? I'm not understanding what the problem is.

[2019-06-26 20:54] benjore commented on #6174
![image](https://user-images.githubusercontent.com/13352518/60214188-9f4a3600-982a-11e9-999d-76646a10e796.png)

This is a screenshot of the desired behavior.

[2019-06-26 21:05] elsylambert commented on #6177
@benjore Issue 2: Usually on tN card, we check/un-check the checks and click on Launch button to see the specific Checks.
In this Scenario, There is no tN checks available for Ephesians and there are no check boxes on the card as you can see in the first screenshot, but the Launch button is still enabled and when clicked it opens the project in tN with all the checks.
 It should only show the ones

[2019-06-26 21:17] elsylambert commented on #6050
#1.2.0 (4b9a560)
Got an alert when I click on the Menu options. When clicked Ok on the alert, it shows a broken link on tN card but does not show which verse is broken.
![image (1)](https://user-images.githubusercontent.com/51806180/60215628-0caf9400-9836-11e9-9728-5f1f3887863c.png)
[hi_els_phm_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3331948/hi_els_phm_book.zip)

[tN A

[2019-06-26 21:22] elsylambert commented on #6050
This alert message comes up when the GL is selected as English as well. It does not shows the broken link on the verse but shows the green check even when the selection is lost.

[2019-06-26 23:45] cckozie commented on #4791
Did not find any problems in 1.2.0 (b757c2a) other than the two invalidated alignment alerts in previous comment.

[2019-06-26 23:50] da1nerd commented on #5662
This could probably be completed in 2-4 days.

Some additional detail, though the highlights are above:
![IMG_20190626_165122](https://user-images.githubusercontent.com/166412/60222733-4763fd00-9833-11e9-88e8-004cdb47de6f.jpg)

[2019-06-27 01:34] PhotoNomad0 commented on #6145
@benjore - I think all of the tHelps that are not updated should be deleted.  Since we don’t bundle all the helps in the catalog in tCore, I think leaving around any tA, tN, tW, etc. that was imported with an older version of tCore may be a ticking time bomb - either we will have to write migrations when we change storage formats or need to direct the user to re-download them so to be safe.  Maybe

[2019-06-27 11:53] PhotoNomad0 commented on #6182
**Note**:
When I open this project in WA, see the above error in the log.  It looks like the contextId is missing in the invalidation log.

[2019-06-27 12:46] cckozie commented on #6182
Original project: [en_ult_phm_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3334746/en_ult_phm_book.zip)
Overwrite file: [58-PHM.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3334750/58-PHM.usfm.zip)

[2019-06-27 13:18] elsylambert commented on #4791
Verified in  1.2.0 (4b9a560).
Not able to find any issues.
needs regression

[2019-06-27 14:40] benjore opened #6184 "For tN projects, copy the version number of the UGNT/UHB from which it is based into the tC project manifest."
- [x] Copy the UGNT/UHB version number into the tN content/data/metadata
- [x] Prevent tC from opening up a project in the tN tool where the tN (for the selected GL) has a differing version number of the UGNT/UHB

[2019-06-27 14:53] PhotoNomad0 commented on #6182
Note:
This is looking like a resource error.  With empty resources I don't see the error, but with latest resources downloaded I can reproduce.

[2019-06-27 15:41] PhotoNomad0 commented on #6182
It looks like this was broken in some overwrite changes in https://github.com/unfoldingWord-dev/translationCore/pull/6173 - part of #5686

[2019-06-27 16:41] cckozie opened #6185 "Delete old log files"
Currently the log files do not get cleaned up. Suggest deleting all log files older than 1 week when creating a new log file.

[2019-06-27 16:46] cckozie commented on #6073
Not seeing the problem in 1.2.0 (b757c2a) with latest resources.
Is that all that we're looking for now, or do we want enhancements to tC?

[2019-06-27 16:59] cckozie commented on #5868
@benjore - In the current implementation, the expanded scripture pane is draggable and works mostly as expected until the edit modal is opened. When the edit modal is opened by clicking on a pencil icon, the expanded scripture pane returns to its original position before the edit modal is opened. Now only the edit modal is draggable. Is that acceptable behavior? (I would expect the expanded script

[2019-06-27 17:11] cckozie commented on #5737
The edit modal is draggable, but the user should not be able to drag it out of the main tC window. Currently I am able to drag it off the top of the screen where it cannot be grabbed, and completely out of the window where it cannot be seen and there is no obvious way to get it back. At that point the user is not able to do anything in tC other than close it.
Similar problem noted on #5868.

![ima

[2019-06-27 17:14] cckozie commented on #5868
ISSUE A:
The expanded scripture panel is draggable, but the user should not be able to drag it out of the main tC window. Currently I am able to drag it off the top of the screen where it cannot be grabbed, and also completely out the side of the window where it cannot be seen and there is no obvious way to get it back. Same problem exists in #5737.

ISSUE B:
When the expanded scripture pane is dr

[2019-06-27 17:30] elsylambert commented on #5996
Verified in  1.2.0 (4b9a560) .
Not seeing any issues.

[2019-06-27 17:37] benjore commented on #5868
Expected behavior would be that the expanded scripture pane remain in its last position.

[2019-06-27 19:52] cckozie commented on #6073
If tC work is to be done on this it will be on separate issue.

[2019-06-27 20:30] PhotoNomad0 commented on #6182
Verified in translationCore 1.2.0 (f215a2f)

[2019-06-27 21:28] cckozie commented on #5686
1.2.0 (f215a2f)
When reimporting a project that was edited outside of tC, the user is warned of reset selections and invalidated alignments and the broken link numbers on the tool cards are correct, but the % complete on the tN and tW tool cards still reflects what was accurate before the overwrite. After loading the project in the tool and returning to the tools page, the % complete is again accu

[2019-06-27 21:29] cckozie commented on #6182
Works correctly in 1.2.0 (f215a2f)

[2019-06-27 21:37] cckozie opened #6188 "Different alerts are displayed for invalidated alignments and reset selections depending on whether the edits were performed in tC or externally"
1.2.0 (f215a2f)
When an edit is performed in a tool that both invalidates alignments and resets selections, that information is all displayed in the same alert.
When an edit is performed externally and then reimported, separate alerts are displayed for the invalidated alignments and for the reset selections.

[2019-06-27 21:41] cckozie opened #6189 "The logged in user is written into VerseEdits.csv when reimporting a project edited external to tC."
1.2.0 (f215a2f)
We really don't know who actually performed the edit, so I'm not sure that it is desirable to tag the person performing the import as the user in the csv file. I could be convinced otherwise.

[2019-06-28 14:27] elsylambert commented on #6143
Verified in #1.2.0 (f215a2f)
Not seeing any issues. "Please select the translation for" pane displays the selections highlighted in the scripture pane.

[2019-06-28 14:41] elsylambert commented on #6182
Veified in 1.2.0 (f215a2f) and found to be working fine.

[2019-06-28 15:32] cckozie commented on #6105
Needs regression

[2019-06-28 16:12] benjore opened #6191 "How to handle resource updates in light of the tN tool"
- [ ] (L) When the UGNT or UHB is updated:
  - [ ] Check the manifests for each tN for each GL...
    - [ ] If there is a tN that requires the old version, keep that version of the UGNT/UHB.
    - [ ] If no tN's require the old version, delete it.

= = = = = =

Basic rules:
1. If tN is updated from a previous version, delete the old version.
2. If UGNT/UHB is updated, the previous version will be

[2019-06-28 16:12] elsylambert commented on #6073
Working fine in 1.2.0 (f215a2f)

[2019-06-28 16:40] elsylambert opened #6192 "In tN, Code appearing in selection pane when there is no highlight in the scripture pane"
# 1.2.0 (f215a2f)
Here is the Project:
[en_ust_rut_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3340122/en_ust_rut_book.zip)

![object.jpg](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/7b930fcb-eff7-40fb-a0b9-65a1d87a56f9)

In tN, with the attached project, Ruth 1:16, 2:9, 2:18 and 4:12, shows up code in the "Please select translation for" pane

[2019-07-01 12:04] PhotoNomad0 commented on #6153
Verified in translationCore 1.2.0 (85c929c)

[2019-07-01 12:50] PhotoNomad0 commented on #6192
@elsylambert @cckozie - Interesting challenge here:
- in the uhb we have multiple words connected with zero-space joiners marked as a word, but technically they are multiple words.
- Looks like we need to update the source content updater to leave them connected when parsing the quote.  Will double check the helps content

[2019-07-01 18:30] benjore opened #6193 "Test other versions of Greek as resources"
Mock import the following Greek versions into the Scripture pane to see if anything bad happens.

- https://git.door43.org/STR/el-x-koine_tisch
- https://git.door43.org/STR/el-x-koine_maj-rp

[2019-07-01 18:35] PhotoNomad0 commented on #6192
@elsylambert - please add the category as well as the scripture reference since a verse can have multiple checks in it.

[2019-07-01 18:37] PhotoNomad0 commented on #6192
@elsylambert - the fix for this issue should also fix the problem with missing highlights in the uhb and ult for these verses.

[2019-07-01 18:51] elsylambert commented on #6192
@PhotoNomad0 - Here are the categories and the references:
Ruth 1:16 - Assumed Knowledge and Implicit Information
Ruth 2:9 - Metonymy
Ruth 2:18 - Assumed Knowledge and Implicit Information
Ruth 4:12 - Metaphor

[2019-07-01 20:16] PhotoNomad0 commented on #6089
Verified in translationCore 1.2.0 (8a7049c)

[2019-07-01 21:39] elsylambert commented on #5982
@manny - For your review.
![glquote](https://user-images.githubusercontent.com/51806180/60467661-35b09a00-9c25-11e9-9c42-ab494e5fa906.jpg)
Here is the project:
[en_uold_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3347392/en_uold_tit_book.zip)

Please note: Verses titus 1:9, 1:14, 3:14 ; I checked for few verses and these verses have a different glQuote text than whats

[2019-07-02 03:54] mannycolon commented on #5982
@elsylambert

By looking at the alignment data of the English ULT bible I notice we are actually highlighting the correct words.

See verse 9 of chapter 1 below: (Look specifically at the children (which is an array) in the first object)

[code]

The following words are aligned to the Greek word

[code]

[2019-07-02 04:10] mannycolon commented on #5982
**Same for 1:14**

[code]

[2019-07-02 13:14] PhotoNomad0 commented on #6193
Here are the zipped processed Bibles:
[maj-rp.zip](https://github.com/unfoldingWord-dev/translationCore/files/3352022/maj-rp.zip)
[tisch.zip](https://github.com/unfoldingWord-dev/translationCore/files/3352023/tisch.zip)

unzip these into folder ⁨`resources/el-x-koine⁩/⁨bibles⁩` to use.  Unfortunately when you add these to scripture pane it always loads the ugnt (seems to be a hard coding when it i

[2019-07-02 13:35] elsylambert opened #6197 "Alert message thrown while opening existing projects that were never opened after their import"
# 1.2.0 (8a7049c)
Here are the two projects that gave the alert messages:
[ceb_udbj_jdg_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3350298/ceb_udbj_jdg_book.zip)
[aao_ulb_phm_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3350299/aao_ulb_phm_book.zip)

- Imported two projects in last week but were never opened.
- Open the project>In Projects page>Sel

[2019-07-02 14:48] elsylambert commented on #5982
Verified in 1.2.0 (8505e23). tN is displayed correctly in the Scripture Pane.
needs regression.

[2019-07-02 14:50] benjore opened #6199 "Add "Quote Strings" for the tN"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-02 15:35] #6129 closed, assigned to RoyalSix

[2019-07-02 15:36] #3629 closed, assigned to mannycolon

[2019-07-02 15:36] #3630 closed, assigned to mannycolon

[2019-07-02 15:36] #3632 closed, assigned to mannycolon

[2019-07-02 15:37] #3631 closed, assigned to mannycolon

[2019-07-02 15:37] #3633 closed, assigned to mannycolon

[2019-07-02 15:37] #6064 closed, assigned to mannycolon

[2019-07-02 15:39] #6182 closed, assigned to PhotoNomad0

[2019-07-02 15:39] #6073 closed, assigned to nobody

[2019-07-02 15:58] benjore opened #6200 "Add "Quote Strings" for the tW"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Add the new "Quote Strings"
- [ ] Update the CSV export to use the "Quote Strings" for both tN & tW
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-02 16:05] benjore commented on #6126
Save current files in the root file (not in .apps)

[2019-07-02 16:38] mannycolon opened #6202 "Separate the backend from the frontend: Move the backend code to its own process."
## Story Explanation
### User Story

As a Software developer I want to separate backend and frontend code so that tC is more performant.

### Features / Specifications

- [ ] See: https://jlongster.com/secret-of-good-electron-apps
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-02 17:46] benjore opened #6203 "Update Verbiage on Tool card and import page"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

![image](https://user-images.githubusercontent.com/13352518/60911408-ac165300-a248-11e9-8fac-6fb2e28c613a.png)

- [ ] On the online project import dialog... Update to say, "translationCore supports projects for any book of the Bible."

![image](https://user-images.git

[2019-07-02 17:50] benjore opened #6204 "Fix the location of the three-dots icon on the Projects page"
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/9bd336ba-c794-4053-8f61-b43c971f919e)

[2019-07-02 18:24] #5941 closed, assigned to RoyalSix

[2019-07-02 18:24] #2011 closed, assigned to mannycolon

[2019-07-02 18:24] #6158 closed, assigned to mannycolon

[2019-07-02 18:24] #6105 closed, assigned to mannycolon

[2019-07-02 18:24] #4791 closed, assigned to PhotoNomad0

[2019-07-02 18:25] mannycolon commented on #6191
Dup of #6168

[2019-07-02 18:26] #6191 closed, assigned to mannycolon

[2019-07-02 19:07] benjore opened #6205 "Professional Development"
TensorFlow

[2019-07-02 19:08] benjore opened #6206 "Professional Development 2019-07-24"
Electron

[2019-07-02 19:14] benjore opened #6207 "Peer Sharing: TSV Parser 2019-07-10"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-02 20:45] jag3773 commented on #6126
Can you be more specific?  This makes me nervous... we already have too many files in the top level and I'm not interested in more cruft hanging out there...

Also, seems to cut against the grain of the user story (unless I'm misreading your comment!):

[2019-07-03 10:46] PhotoNomad0 commented on #6193
@benjore @cckozie @elsylambert - The short answer is that we can process the greek bibles when we download content from catalog, but we need to make some changes to tCore to support more than one bible in the original languages.

I have a fix here - would this be sufficient for this issue?

![Screen Shot 2019-07-03 at 6 36 44 AM](https://user-images.githubusercontent.com/14238574/60585287-5a0f9200

[2019-07-03 11:01] PhotoNomad0 commented on #6050
@elsylambert - It looks like in tN, when you click save/continue or navigate to invalid verse it is actually warning about previous invalidations, not new invalidations.

PS - I really like the videos with mouse highlighted and button clicks! @cckozie

[2019-07-03 12:15] PhotoNomad0 commented on #6050
**Notes:**
- it looks like the selections are saved with single white space between words where the target translation may have many - this is causing validation trouble when selections are compared with original because they are not found.
- this seems to be due to issue that verses are rendered in verseCheck and Scripture Pane with extra spaces removed.

Example from phm:
` तेरी   इच्छा  चाहा  ब

[2019-07-03 12:34] PhotoNomad0 commented on #6050
@benjore - I'm also seeing problems with extra spaces in bn projects.  I am wondering if all the computer generated translations have this feature.

[2019-07-03 13:03] PhotoNomad0 commented on #6050
@benjore - you probably need bring this up with the content team.  There seems to be an issue with the computer generated translations that have extra spaces between words (have seen as many 4 between words).  When we save the selections we have been normalizing to have only a single space between words.  This could cause trouble with the scripts the content team uses to generate tW and tN resourc

[2019-07-03 15:18] benjore commented on #6193
That looks good to me.

[2019-07-03 15:58] elsylambert commented on #4577
##1.2.0 (b219729)
Still seeing this issue, Names are doubled. when Project is uploaded to Door43.
![image](https://user-images.githubusercontent.com/51806180/60606744-e6d04500-9d89-11e9-9bed-0d59d1440c37.png)

[2019-07-03 16:19] elsylambert commented on #5999
Category selections: #poetry and #predectivepast still shows as 1,1,1.

[2019-07-03 16:57] PhotoNomad0 commented on #6192
Verified in translationCore 1.2.0 (b219729)

[2019-07-03 16:58] PhotoNomad0 commented on #6193
Slack comment from @benjore - In the Scripture Pane, the abbreviation needs to be updated, `Original Language` is a fine descriptor.

[2019-07-05 15:08] elsylambert commented on #6089
Verified in 1.1.4- Cannot find the issue with the Hebrew font. Font size is smaller when compared to 1.2
Verified in 1.2- Hebrew font is displayed fine.

[2019-07-05 16:36] PhotoNomad0 commented on #6148
Verified in translationCore 1.2.0 (6390394)

[2019-07-08 01:57] #6205 closed, assigned to RoyalSix

[2019-07-08 02:25] RoyalSix commented on #5999
I think these are actually problems with the content as you can see here it is 1, 1, 1
https://git.door43.org/unfoldingWord/en_ta/src/branch/master/translate/writing-poetry/01.md
Also here https://git.door43.org/unfoldingWord/en_ta/src/branch/master/translate/figs-pastforfuture/01.md

[2019-07-08 03:01] RoyalSix commented on #5686
@cckozie Can you provide some test projects I can use for overwriting? I am having trouble replicating this one.

[2019-07-08 03:03] RoyalSix opened #6211 "tC Crashes On Overwrite"
## Story Explanation
### User Story

When overwriting the given project, tC crashes and gives an error relating to the UGNT needing to be updated but that after trying to update, it gets stuck.
projects:
[55-1TI.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3366527/55-1TI.usfm.zip)
[en_test_1ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3366531/en_t

[2019-07-08 03:28] RoyalSix commented on #6181
This one seems to be working on the latest develop build a2e3d31

[2019-07-08 13:37] elsylambert commented on #4577
Verified in #1.2.0 (299b3f7). The issue has been fixed for the duplicate username in Successful Project Upload dialog.

[2019-07-08 14:32] cckozie commented on #5686
@RoyalSix - In 1.2.0 (299b3f7) I'm not seeing any of the problems noted above, but there is still one issue I'm seeing when using the files attached to the May 8 comment above.
After importing the overwrite file and opening the project in wA, only the broken link icon is displayed on verse 1:3. Both the edit and broken link icons should be attached to 1:3.

[2019-07-08 15:08] cckozie opened #6212 "Missing tW checks in 1.2.0 (299b3f7)"
In 1.2.0 (299b3f7) there is no check for The Twelve Tribes of Israel in Matthew. It did appear in 1.2.0 (f215a2f), and the check is in the resources folder for both the Greek and English.

[2019-07-08 15:32] cckozie commented on #6212
I saw this problem after upgrading from an unknown build of 1.2.0. The problem appeared both in an exiting Matthew project and a newly imported one.
After deleting the resources folder and downgrading to 1.2.0 (f215a2f) to test it there, when I upgraded again to 1.2.0 (299b3f7) I did not see the problem. I also tested upgrading from 1.1.4 and did not see the problem.

[2019-07-08 16:07] cckozie commented on #6143
Looks good in 1.2.0 (a3ee18b)

[2019-07-08 16:15] elsylambert commented on #6192
Verified in 1.2.0 (a3ee18b), cannot find the issue with the project.

@PhotoNomad0  However, I imported a new project from door43:
[en_ult_rut_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3369269/en_ult_rut_book.zip)

Please note that under Category> Assumed Knowledge and Implicit Information> Ruth 1:1, the following text is displayed in the selection pane:
![invalid select

[2019-07-08 16:33] elsylambert commented on #5999
@RoyalSix Help pane is not showing up for any Category in 1.2.0 (a3ee18b).
![help pane missing articles](https://user-images.githubusercontent.com/51806180/60826696-7310ac80-a17c-11e9-935b-d1d57338d043.png)

[2019-07-08 18:25] cckozie opened #6214 "Need performance improvements when moving to a check in tW"
These timings were made on my fastest machine.
In 1.1.4 it took ~2 to 2.5 seconds to move to a different check by clicking in the menu in tW.
In 1.2.0 (a3ee18b) it now takes ~ 3 to 3.5 seconds, an increase of about 50%.

[2019-07-08 18:59] cckozie commented on #6089
1.2.0 (a3ee18b)
The new font appears to work correctly. Just noting the difference in size (and possibly boldness)

<img width="246" alt="new" src="https://user-images.githubusercontent.com/8171759/60835367-86c21000-a188-11e9-88da-f7d1f6288360.png"> <img width="246" alt="old" src="https://user-images.githubusercontent.com/8171759/60835368-86c21000-a188-11e9-8420-b1496f56e547.png">

[2019-07-08 20:59] richmahn commented on #5938
@benjore There is also a “Accept all MAP-generated suggestions” and “Refresh MAP-generated suggestions”. Do you want all changed to “<verb> suggestions” or just the reject string?

[2019-07-08 21:54] cckozie commented on #6181
It is working correctly now in 1.2.0 (f3f2aa7)

[2019-07-08 22:45] cckozie commented on #6184
1.2.0 (f3f2aa7)
tsv_relation":["en/ult","el-x-koine/ugnt?v=0.8","hbo/uhb?v=2.1.7"] text has been added to the project's manifest file.
The user is prevented from opening a project in tN if the UGNT version does not match
The user is given the opportunity to download the needed version.

[2019-07-08 22:56] cckozie commented on #6168
1.2.0 (f3f2aa7)
If the local UGNT version is less than that specified in the manifest, the download succeeds and the user is then allowed to open the project in tN.
If the local UGNT version is greater than that specified in the manifest, the download appears to succeed, but as soon as it completes, the newly downloaded version of the UGNT is deleted from the resources folder. The user is still pr

[2019-07-08 23:27] mannycolon commented on #6168
@cckozie can you share the project you used to replicate this problem and the specific steps you took to get to this point.

[2019-07-08 23:58] cckozie commented on #6168
@mannycolon - I doubt that it is project dependent, but attached is the one I used.
I first opened it in tN to get the new manifest entry.
I closed tC and updated the manifest to indicate it needed UGNT version 0.7
I restarted tC and attempted to load the project in tN.
When prompted to download the needed source, I clicked the Download button and then watched in the UGNT resources folder to see w

[2019-07-09 12:18] PhotoNomad0 commented on #6200
@benjore - Needs more detail here.

[2019-07-09 12:22] PhotoNomad0 commented on #6204
@benjore - I presume that you want the icon close to the text "click"?

[2019-07-09 12:22] PhotoNomad0 commented on #6203
@benjore - Need more detail here.

[2019-07-09 12:24] PhotoNomad0 commented on #6133
@neutrinog - Is there anything that needs to be done with WordMap?  From the logs it looks like it is already ignoring ngrams of more than 5.

[2019-07-09 12:25] PhotoNomad0 commented on #6199
@benjore - Needs more detail here.

[2019-07-09 12:36] PhotoNomad0 commented on #6174
@benjore - for clarity here: we want to have the message "book not supported" take priority over needing to select category, correct?

[2019-07-09 14:15] elsylambert commented on #5868
Verified in 1.2.0 (3ae9fb5). Working fine.
Expected Behaviour: - Expanded Scripture pane is draggable and stays within the tC window.
- when verse edits are made, the window stays at the last position.
- when clicked away from the edit window, it gives a warning that the changes are not saved.

[2019-07-09 14:29] PhotoNomad0 commented on #6124
@benjore - I think this issue is more about the word tokens shown in chapter 4, not about USFM in edit box.  Since in the current design all USFM in text is displayed in the edit box.

We also don't strip out the word tokens on import unless they are a part of alignment data.  It looks like this chapter may have come from an overwrite merge where the alignment markers were manually removed.

Up to

[2019-07-09 14:54] cckozie opened #6219 "Preserve Alignment Complete switch state in USFM exports and apply it on imports"
After importing a fully aligned project, the wA tool card shows 100% complete. When the project is loaded in wA, no checkmarks are displayed and the Alignment Complete switch is always Off.

[2019-07-09 15:18] cckozie commented on #5868
1.2.0 (3ae9fb5)
ISSUE A still has problems. I am able to drag the expanded scripture pane completely off the bottom of the screen where it cannot be seen or dragged back once the mouse button has been released.
Issue B has been fixed.

[2019-07-09 15:22] cckozie commented on #5737
1.2.0 (3ae9fb5)
I am able to drag the edit modal completely off the bottom of the screen.
Per @benjore  that is acceptable behavior.

[2019-07-09 15:34] cckozie commented on #5669
All noted problems are fixed in 1.2.0 (3ae9fb5)

[2019-07-09 15:34] russp41 commented on #6050
@PhotoNomad0 @benjore I've mentioned this to the Hindi team, but I can't find an example of extra spaces to show them. Where are you seeing those in Philemon? I'm not seeing any in the IRV text or tN at [https://git.door43.org/Door43-Catalog/hi_irv/raw/branch/master/58-PHM.usfm](https://git.door43.org/Door43-Catalog/hi_irv/raw/branch/master/58-PHM.usfm) or [https://git.door43.org/Door43-Catalog/hi

[2019-07-09 15:48] cckozie opened #6220 "Reset selections should not be exported to the Selections.csv file"
1.2.0 (3ae9fb5)
The csv file  currently contains selections that were made but have been subsequently reset due to versed edits. When selections get reset, they should no longer be exported to the csv file so as to not to give the impression that the check is completed.

[2019-07-09 15:54] da1nerd commented on #6133
Nope. wordMAP doesn't affect any functionality here. What you see in the logs is a hard limit (implemented in wA) on the size of generated predictions. This was just an uneducated guess for performance of predictions.

[2019-07-09 16:11] cckozie opened #6221 "Inconsistencies in exported csv files"
1.2.0 (3ae9fb5)
[en_drft_2ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3373915/en_drft_2ti_book.zip)
UGNT v0.8

There are discrepancies in the gatewayLanguageQuote and gatewayLanguageCode columns between the Selections.cvs file and the translationNotes_CheckInformation.csv file.
![image](https://user-images.githubusercontent.com/8171759/60905240-415e1b00-a23a-11e9-8de1-a

[2019-07-09 16:24] elsylambert commented on #5669
Verified in 1.2.0 (3ae9fb5). All the mentioned button/checkboxes are are in dark blue as excepted.

[2019-07-09 16:57] benjore opened #6222 "Update tC to handle ellipses (instead of `space-three periods-space`) in tN"
## Story Explanation
### User Story

As a creator of tN, I want to use either an ellipses or a "space-ellipsis-space" so that I can more easily edit the tN, especially in Hebrew.

### Features / Specifications

- [ ] Update tN parser
- [ ] Update CSV exporter
- [ ] tN parser should handle
  - [x] ellipsis
  - [x] dot-dot-dot
  - [x] space-ellipsis-space
  - [x] space-dot-dot-dot-space
- [ ] CSV ex

[2019-07-09 17:04] mannycolon commented on #5868
@cckozie per conversation with @benjore we dicided that as long as the user could click away to close the dialog it was ok that the user could drag the dialog out of the window. Reasoning: users may want to be able to see what's behind the dialog and if we make it so that they cant drag it outside of the window they will not be able to do that.

[2019-07-09 17:23] cckozie opened #6223 "Non-concurrent words selected in tN and tW appear as separate selections in the Selections.csv file"
1.2.0 (3ae9fb5)

![image](https://user-images.githubusercontent.com/8171759/60909280-7622a000-a243-11e9-8270-d427cf2c4cab.png)

![image](https://user-images.githubusercontent.com/8171759/60909616-4a53ea00-a244-11e9-80fe-f52070321d98.png)

[2019-07-09 18:37] benjore opened #6224 "[4] SPIKE: test tN project with ellipses instead of " ... ""
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Here is a sample tN with ellipses
[en_tn_41-MAT.tsv.zip](https://github.com/unfoldingWord-dev/translationCore/files/3379015/en_tn_41-MAT.tsv.zip)
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-09 18:37] benjore commented on #6224
SPIKE for #6222

[2019-07-09 18:41] benjore opened #6225 "Update list of libraries/NPM packages/fonts"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Create script to do this automatically.
- [ ] Make title the hyperlink (remove "Link to license" verbiage)
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-09 18:46] benjore commented on #6225
Legal question: What is required of the attribution page? Link to license? Is the link to the repo sufficient?

[2019-07-09 18:57] PhotoNomad0 commented on #6192
@elsylambert - I double checked and this is a content error in the catalog in the TN tsv.  The original language quote `בָּ​אָ֑רֶץ` is not in Ruth 1:1.  It looks like the program is behaving as it should and the message is correct.

@benjore - how should we handle content errors going forward?

[2019-07-09 19:52] PhotoNomad0 commented on #6192
Looks like the original text has a word joiner U+2060, but the quote has a zero width space in it U+200B

[2019-07-09 20:00] PhotoNomad0 commented on #6145
Verified in translationCore 1.2.0 (ca7a093)

[2019-07-09 20:01] cckozie commented on #6192
@benjore  - My 2 cents worth: I think it would be better to display a user friendly alert indicating a problem rather than put it in the translation pane. (A generic user-friendly message, e.g. "There is a problem with the content for this check", along with some more descriptive text if we know it, and the specifics of the check, book, chapter, verse, occurrence )
As part of the alert, request th

[2019-07-09 20:01] PhotoNomad0 commented on #5938
Verified in translationCore 1.2.0 (ca7a093)

[2019-07-09 21:36] cckozie commented on #5708
1.2.0 (3ae9fb5)
The GLQuote column should be based on the GL alignment rather than what is in the tsv file.

The highlighted GL quotes in this sample of metaphors in the Titus tsv file are different than the highlighted ULT words for the check, and are thus incorrect.
![image](https://user-images.githubusercontent.com/8171759/60924940-07a40900-a268-11e9-8466-03c835fc4f4a.png)

[2019-07-09 21:56] cckozie commented on #5938
Looks good in 1.2.0 (ca7a093)

[2019-07-09 22:02] cckozie opened #6226 "Dissimilarities between the Bookmark switch and the Alignment Complete switch"
- [x] In the images below, the bookmark has the correct font/color scheme. Make the Alignment Complete match.
- [x] The line under "Book" is the wrong color blue. It should be the same color as the line under URL, User, & Language. (To recreate, click on Language Code, then click Tab.)

![image](https://user-images.githubusercontent.com/13352518/61900399-28649380-aee3-11e9-98bf-1298a9d779a4.png)

[2019-07-10 10:19] PhotoNomad0 commented on #6192
@cckozie - that is a very well thought out way of handling the error.  The only thing I would add - since we are already so close to it - is to add a button that would open user feedback with all the important user feedback. @benjore

[2019-07-10 11:33] PhotoNomad0 commented on #6050
@russp41 - Hmm...interesting.  Here is the PHM text with the alignments parsed out by tC. vs 11:

[code]

here is the initial USFM for vs 11.  It is in the old format, but looks good to my eye:

[code]

At first glance it seems that the USFM parser has a problem with backward compatibility with our old broken alignments format, and is adding an extra space after each `\zaln-e\*` tag.  In the USFM

[2019-07-10 12:37] cckozie commented on #6192
@PhotoNomad0 @benjore - I had the feedback button with auto fill in there, but deleted it thinking it would be too much for this issue. All in favor of it.

[2019-07-10 13:58] PhotoNomad0 commented on #6050
@russp41  - Found a simple fix for USFM file before import!  I was looking in the wrong place - the content and not the header.  In the USFM file, just remove the line `\usfm 3.0` and it will import correctly without extra spaces.  Unfortunately we used USFM level 3 to determine if the USFM was exported by a new version of tCore with corrected USFM.

@benjore  - I believe we have an issue to chang

[2019-07-10 15:11] cckozie opened #6227 "Missing text warning message is not displayed in scripture pane when original language text is also missing"
1.2.0 (05888d5)
https://git.door43.org/tc02/en_ultd_rev_book
The warning message should appear in each pane within the scripture pane as it does in the second image below.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/506d1ac6-7523-49aa-a1bd-51ee66a926b2)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/5f4f1cdb-5aad-474e-bbff-b8b31a5b24b3)

[2019-07-10 15:11] benjore opened #6228 "Unrealistically long words don't wrap in the expanded scripture pane"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

Also see #5947
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/21185dee-5bc3-4458-aa05-0c9896992504)
- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-10 15:33] elsylambert commented on #6184
Verified in 1.2.0 (05888d5). Not seeing any issues with the UGNT/UHB versions in Project manifest file.
needs regression.

[2019-07-10 15:33] PhotoNomad0 commented on #6050
Making a change to usfm-js to use text inspection to determine whether the alignment USFM is the old or new format.

[2019-07-10 15:36] elsylambert commented on #5737
Verified in 1.2.0 (05888d5). Verse edit window is draggable and working fine.

[2019-07-10 15:42] cckozie commented on #6153
Looks good in 1.2.0 (05888d5)
Upload to Door43 does actually succeed.
In USFM export w/alignments, 18:25 is deleted.
I was unable to find a way to test for an upload failure.

[2019-07-10 15:57] elsylambert commented on #5938
Verified in 1.2.0 (05888d5). Working fine. Hover-over Verbiage has been changed to "Reject all suggestions." for Reject Button,  "Accept all suggestions." for Accept button and  "Refresh suggestions." for Refresh Suggestion button.

[2019-07-10 16:13] cckozie commented on #6168
1.2.0 (05888d5)
The needed UGNT is now downloaded and persisted on the file system.
Verified that the correct version of the UGNT is used in the projects when opened in tN.
Needs regression

[2019-07-10 17:48] cckozie opened #6229 "Suggested enhancement to word alignment tool - Multi-select"
## User Story

As an aligner, I want to be able to move multiple target & original language words so that I can do my job faster.

## Specs

### Part 1 - Multi-select in the Alignment Pane (& word bank)

![image](https://user-images.githubusercontent.com/13352518/60996986-5b235f00-a31b-11e9-88c6-465e7afb3c00.png)

When a user clicks on a target word in the alignment area, it selects (same function

[2019-07-10 19:12] benjore commented on #6192
That all sounds good to me! Be sure to capture the GL too.

[2019-07-10 20:13] #6207 closed, assigned to mannycolon

[2019-07-10 20:53] cckozie opened #6231 "tC truncates the list of available resources if there are zip files in the resources path"
1.2.0 (05888d5)
Ran into this when testing #6193. After deleting the zip file all available resources were displayed in the dropdown list.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/b3658b4b-1172-45c6-82a6-e9569d0fdae3)

[2019-07-10 21:35] cckozie commented on #6148
Looks good in 1.2.0 (05888d5)
Needs regression

[2019-07-11 14:06] cckozie opened #6232 "wordMAP shows suggestions as original language words are un-merged"
This occurs in both 1.1.4 and 1.2
After merging a bunch of top words together and then un-merging them one at a time, at some point wordMAP starts showing suggestions for the un-merged words without having clicked the Refresh button.

[auto refresh 2.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3382386/auto.refresh.2.mov.zip)

[2019-07-11 14:25] elsylambert commented on #6193
Tested in 1.2.0 (05888d5).
The different version loads up fine in tC. But the meta data associated with the Greek words are different for the same words in different version. Please refer the snapshots, for word "God" in Greek:
UGNT
![Greek-God](https://user-images.githubusercontent.com/51806180/61058822-f2dd8780-a3c5-11e9-997b-f28476c77682.jpg)
Greek- MAJ-RP
![Greek-majrp](https://user-images.git

[2019-07-11 14:29] cckozie commented on #6193
The additional Greek resources do not cause v1.1.4 to break, but when a user selects them to be displayed in the scripture pane, tC loads the UGNT instead, and the selected resource remains in the dropdown list. There doesn't appear to be a way to get them to load into the scripture pane in 1.1.4.

1.1.3 behaves the same way as 1.1.4.

[2019-07-11 15:13] cckozie commented on #6145
1.2.0 (89d7abe)
Most of the existing resources are persisted during an upgrade to 1.2, but there are three issues:
~~ISSUE 1:~~ #6235 was created for this problem
~~The translationHelps folders are lost for all non-packaged languages~~
ISSUE 2:
After the upgrade there are two different Greek resource folders; grc (left over from 1.1.4), and el-x-koine added in 1.2. This causes the UGNT to appear t

[2019-07-11 16:35] elsylambert commented on #6168
Verified in 1.2.0 (89d7abe). Working fine.

[2019-07-11 17:02] jag3773 commented on #5863
Note for future reference that I used this to make the replacements in the UHB: https://unix.stackexchange.com/questions/59447/replace-unicode-chars-in-vim .

e.g. a replacement script like this:

    :%s/<Ctrl-v>u200b/<Ctrl-v>u2060/g

Note that you can't copy and paste the above, you have to type it in, you'll see something like this after you've typed that above:
![Screen Shot 2019-07-11 at 1 01

[2019-07-11 17:37] PhotoNomad0 commented on #6174
Verified in translationCore 1.2.0 (a46fac1).

[2019-07-11 18:00] mannycolon commented on #5135
Verified on 89d7abe

[2019-07-11 18:03] cckozie commented on #6153
1.2.0 (05888d5)
Upload does succeed.

[2019-07-11 18:48] PhotoNomad0 commented on #6145
@benjore @cckozie - how should we word things on this new popup.  something like "Helps resources on your system are not compatible with this new version of translationCore and need to be downloaded again: ru, es-419, ...
Do you want to download them now?"

That's the best I could think of now.

[2019-07-11 18:48] PhotoNomad0 commented on #6145
Nevermind - I guess that would be on new issue.

[2019-07-11 19:05] cckozie opened #6235 "Warn users of resources that will be (and have been) deleted because of tC upgrade and facilitate their easy replacement"
As a checker I want to be able to upgrade tC and not be faced with lost resources so that I can continue my work with the least amount of interruption and frustration.

Currently during a tC upgrade the translationHelps folder for all languages not packaged with the app get deleted. This leaves the user without resources that they need to perform their work, and leaves them not knowing why or what

[2019-07-11 19:41] mannycolon commented on #6224
@benjore Implementing #6222 would significantly break the TSV parser. Major changes would have to be made that I can't even quantify at this point. The space before and after the ellipsis actually helps in finding the word occurrence number. If it were to me I would suggest not removing spaces before and after ellipsis.

[2019-07-11 19:42] mannycolon commented on #6224
A potential solution would be to have them make the changes they need to make and us adding spaces before and after the ellipsis just for parsing on the tsv-parser.

[2019-07-11 19:59] benjore commented on #5519
![image](https://user-images.githubusercontent.com/13352518/61078988-86738000-a3e7-11e9-8c83-7da38aa2c890.png)

This ^^^ is now how it opens in tC 1.2. All three merged sets of Original Languages words are discontiguous. I'm guessing this is why tC choked previously, but does better now. Though tC still has a problem with the duplicating the first dropbox twice. I dove into the alignment data to s

[2019-07-11 21:02] PhotoNomad0 commented on #6050
@elsylambert - the part we are fixing is usfm import bug that causes extra spacing.  This should probably be in QA watch until the hi content gets reimported.

[2019-07-11 21:20] cckozie commented on #5519
I loaded up tC 1.0.2 and imported the project
I exported the project without alignments
I imported the exported project
I aligned the words as in the first image above, except for the suggestions
I exported the project including alignments.
I compared the exported USFM with the original (verse 1:7 of the export is attached below)
Observations:
1. The project USFM file has apparently been manipulat

[2019-07-11 21:35] cckozie commented on #6168
I noticed this behavior when testing #6541.
The latest UGNT is v0.8 which is on the system.
There is a project that needs UGNT v0.7 for the tN tool.
When attempting to open the project, the user is prompted to download the resource, the download succeeds, and the project opens correctly in tN.
If tC is ended and the UGNT v0.8 is deleted, when tC is restarted UGNT v0.8 is again added to the system,

[2019-07-11 21:40] mannycolon commented on #6168
Whenever the resources are updated and a project is opened its resources are updated if needed which includes the tn files for that project. thus what happened above.

[2019-07-11 21:42] mannycolon commented on #6168
We should probably not delete the ugnt v0.7 on missing resource copying process (copying a resource from the static folder) if that resource will be needed by a tN resource

[2019-07-11 23:10] cckozie opened #6237 "wordMAP suggests target words in wrong occurrence order"
- [ ] If identical words are suggested, always put them in numerical order (e.g. if 3 "the"s are suggested, they should never show up in the order 1,3,2.)
  - NOTE: Someday in the future, this may change. For instance, if we suggest a noun ("book") and we know (either by morphology or syntax trees or something else) that "the" is linked to "book", then we may need to display identical words in a d

[2019-07-12 00:03] elsylambert commented on #6181
@cckozie .With latest build 1.2.0 (c1dae4b) , the issue has resurfaced. For fully aligned project the tool card shows 0 % and once we open and come back to tool card it shows, 98% or 100 %.

Testing in progress.

[2019-07-12 01:54] pjoakes commented on #5519
I don't believe anything is wrong with tC. BCS has made tC do things that would be impossible for a user to make it do unless the inputs were manipulated outside of tC, such as discontiguous merging of Greek words, deletion and addition of Greek words and rearranging of the Greek word order.

[2019-07-12 03:58] RobH123 commented on #6237
Here's another example where to2 is suggested (and to3) but not to1.

![Screenshot_20190712_155326](https://user-images.githubusercontent.com/172799/61101440-db81c580-a4bd-11e9-9688-60ff05270fb2.png)

[2019-07-12 11:01] PhotoNomad0 commented on #6050
Verified USFM import fix in translationCore 1.2.0 (c1dae4b)

@elsylambert @benjore @cckozie - the full fix for this will take some time since one problem is a content issue on Door43 in the hi bibles (extra spaces), which was created by another content issue in the USFM created by BCS computer generated content (they put in `\usfm 3.0` in the header, but were using the old alignment format that wa

[2019-07-12 13:36] PhotoNomad0 commented on #6193
Slack comment from @benjore on how to deal with popups on the Greek bibles that are not UGNT: Disable for now. It should be a content fix not a tC fix.

[2019-07-12 14:57] elsylambert commented on #5135
Verified on  1.2.0 (70f669f). Able to load the Projects tools without reloading the data. Not seeing any issues.

[2019-07-12 15:39] benjore opened #6239 "Bug: When navigating to this aligned verse, the correct alignment flashes for a second, then a couple errors happen"
Build: translationCore 1.2.0 (908e98d)

## Problem
[6239 bug Alignment issue.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3387085/6239.bug.Alignment.issue.mov.zip)

For ~0.5 seconds this is what shows up:
![image](https://user-images.githubusercontent.com/13352518/61140853-e0c91b00-a491-11e9-8817-21c1ff944c32.png)
Build: translationCore 1.2.0 (908e98d)
Then this:
![image](ht

[2019-07-12 15:44] elsylambert commented on #6174
Verified in  1.2.0 (70f669f).
![tN message](https://user-images.githubusercontent.com/51806180/61140912-6355d880-a49a-11e9-81a1-8895c4a086eb.png)
Working fine. For a Project for which the resources are not there, GL shows as None available and "Book not supported" for the Launch Button.

[2019-07-12 17:55] benjore commented on #6239
Newer versions of tC don't have this problem

[2019-07-12 17:55] #6239 closed, assigned to nobody

[2019-07-12 23:30] mannycolon commented on #6222
## Spike Findings

Removing spaces before and after ellipsis could significantly break the TSV parser. Major changes would have to be made that I can't even quantify at this point. The space before and after the ellipsis actually helps in finding the word occurrence number.

However, a potential solution would be adding code to the `tsv-parser` to add spaces before and after the ellipsis right bef

[2019-07-12 23:30] #6224 closed, assigned to mannycolon

[2019-07-12 23:31] mannycolon commented on #6224
Copied findings on ##6222

[2019-07-13 19:21] mannycolon commented on #5779
Verified on 736956e

[2019-07-15 01:32] mannycolon commented on #3579
Need to work out how to indicate that something is happening. Would suggest not using a spinning dialog. Maybe making the tC logo spin in the top menu bar? or Loading cursor?

[2019-07-15 01:35] mannycolon commented on #6036
@benjore @cckozie Should #6027 be part of this issue and be labeled as duplicate?

[2019-07-15 01:40] mannycolon commented on #5175
@cckozie @benjore Is this a dup of #5930?

[2019-07-15 01:53] mannycolon commented on #6200
Add the field "quoteString" to the tW group data files generated for the original language resources
[code]

[2019-07-15 01:55] mannycolon commented on #6199
Add the field "quoteString" to the tN group data files.
[code]

[2019-07-15 10:25] PhotoNomad0 commented on #6193
@cckozie - I presume this is just here to capture previous behavior?

[2019-07-15 10:28] PhotoNomad0 commented on #6193
@benjore - this investigation issue is open ended.  We should probably add definition of done for this as it is already an unsized effort that can continue to creep in scope.

[2019-07-15 10:31] PhotoNomad0 commented on #6192
@benjore - we should probably size this, since it has expanded to become an issue about how to protect tCore and users from bad content.

[2019-07-15 13:53] cckozie commented on #6168
1.2.0 (736956e)
Missed this problem when testing the issue previously, but this change causes a problem when reimporting a project. When reimporting a project with Overwrite, the user received the "The current tool requires a different version of the UGNT" alert incorrectly and when the Download button is clicked, the "Failed to download source content updates." alert is displayed. The project can

[2019-07-15 14:03] cckozie commented on #5135
1.2.0 (736956e)
Appears to work correctly without reloading the data. May want to retest after #6168 and #6250 get through.

[2019-07-15 14:52] cckozie commented on #5662
1.2.0 (736956e)
It appears that selections made in tW no longer are included in alignment memory.
[projects.zip](https://github.com/unfoldingWord-dev/translationCore/files/3392756/projects.zip)
The Luke and 1 Peter projects in the attached file was not aligned, the others were.
After making tW selections in Luke for "blood" and "Father", suggestions for them were not shown in 1 Peter wA.
After mak

[2019-07-15 15:54] #6097 closed, assigned to nobody

[2019-07-15 16:03] cckozie commented on #5779
Looks good in 1.2.0 (736956e)

[2019-07-15 16:10] cckozie commented on #6133
1.2.0 (736956e)
It appears to work correctly except that it allows 11 selections (not 10), although when 12th is made, the alert indicates there can only be 10.
Upon further inspection, it appears that tC automatically combines a highlighted last word in a line with a highlighted first word in the next line, which then causes the selections count to be one less than it actually is. Works the same

[2019-07-15 16:29] elsylambert commented on #6148
Verified in 1.2.0 (736956e). working fine.

[2019-07-15 16:37] elsylambert commented on #5779
Verified in 1.2.0 (736956e). Not seeing any issues of Text Overflow.

[2019-07-15 18:28] benjore opened #6246 "Display Aligned Gateway Language (GL) as a reference in the Word Alignment Tool (wA)"
## Story Explanation
### User Story

As an aligner with less than perfect OrigL skills, I want to see an aligned GL in the Alignment Pane so that I can have an example of how alignment should be done and so that I have a better idea of what the Greek words are saying.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]
## Mockups
![image.png](https://images

[2019-07-15 18:29] benjore commented on #6246
Need mockups for what discontiguous OrigL merging would look like.

[2019-07-15 18:36] benjore opened #6247 "Optimize OT Lexicon pop-up"
## Story Explanation
### User Story

From Vipin via Russ (BCS) "the lexicon pop-up in the wA tool for the OT seems to be slow compared to the NT. He says they are seeing 2+ secs to open the lexicon and similar delays for navigating to another verse in the list on the left. The example he showed me was in one of the Kings. He's using tC 1.1.4."

### Features / Specifications

- [ ]
- [ ]
- [ ]

###

[2019-07-15 20:00] elsylambert commented on #6153
Verified in 1.2.0 (736956e). Successfully uploaded the project to D43. Also, Export to USFM does not have the verses 18:25.

[2019-07-15 20:23] mannycolon commented on #6203
Verified on c5e5865

[2019-07-15 20:39] elsylambert commented on #6050
1.2.0 (736956e), Verified with the BCS source files Project. Cannot find any issue with that project in tN. In wA, noticed that there were no extra spaces in the verses.

needs regression.

[2019-07-15 20:59] cckozie opened #6250 "Missing tW checks"
1.2.0 (736956e)
Many of the tW checks are missing after loading other projects in  tW.

I noticed after running a number of tests that I am now missing many of the tW checks in 1TH. After stopping and restarting tC, all of the checks now appear as expected.
![image](https://user-images.githubusercontent.com/8171759/61251128-2fd7b000-a71f-11e9-888a-5e65b8f21bf1.png)

To replicate:
1. Restart tC
2.

[2019-07-15 21:08] elsylambert commented on #6203
Verified in 1.2.0 (4cdc817). The verbiage has been changed for import page and Tools page.
Needs a little formatting on the Tools page. As highlighted in the screenshot, there should be a space before "However" and the paragraph following it is Justify aligned, so there are more spaces between the words with compared to the first two lines.

![image](https://user-images.githubusercontent.com/51806

[2019-07-15 22:05] RoyalSix commented on #5689
https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-cf77eea.dmg

[2019-07-15 22:06] RoyalSix commented on #5999
https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-cf77eea.dmg

[2019-07-15 22:38] cckozie commented on #6050
Relying on Elsy on this one.

[2019-07-15 22:54] cckozie opened #6251 "Completion % on tool cards show 100% even if there are missing checks/alignments."
As a checker or aligner I don't want the % complete on the tool cards to show 100% until every check/alignment for the tool have been completed so that I am not fooled into thinking projects are complete when they are not.

I'm assuming that 100% is being shown for incomplete projects because of rounding.
Suggest truncating instead of rounding.

May want to consolidate with #4414.

[2019-07-15 23:07] cckozie commented on #6174
Looks good in 1.2.0 (736956e)

[2019-07-15 23:08] mannycolon commented on #6199
Verified on bedda83

[2019-07-16 03:51] mannycolon commented on #6203
Verified  on 9f6a878

[2019-07-16 06:02] da1nerd commented on #5662
@cckozie You might recall it was agreed we would not support global alignment memory for tW and tN at this time.

[2019-07-16 11:42] cckozie commented on #5662
@neutrinog - Pretty sure the decision was to not support it for just for tN as per the 3rd bullet under Features above. tW support was there before. What say you @benjore?

[2019-07-16 13:22] cckozie commented on #5982
1.2.0 (9f6a878)
Not seeing any issues at this point.

[2019-07-16 13:24] cckozie commented on #6001
Now waiting on #6168

[2019-07-16 13:24] cckozie commented on #5832
Now waiting on #6168

[2019-07-16 13:25] benjore commented on #5662
@neutrinog It was my desire that the tW would continue to work as normal, namely, that selections in the tW tool would populate suggestions in the wA tool.

[2019-07-16 13:39] richmahn commented on #6133
Ah, that is why I also could make it go to 12 selections sometimes...I was selecting words on the end!

[2019-07-16 13:41] cckozie commented on #5708
Looks good in 1.2.0 (9f6a878)
Needs regression

[2019-07-16 13:42] elsylambert commented on #6203
1.2.0 (9f6a878). Still seeing extra spaces in the Instruction text after every word in "translationWords or translationNotes if the necessary resources for the selected Gateway Language are on your system. Click "Actions / Check for content updates" to download the latest."
![image](https://user-images.githubusercontent.com/51806180/61299424-0fa30200-a7ae-11e9-8e06-7ebd021fc587.png)

[2019-07-16 13:48] elsylambert commented on #5999
Verified in 1.2.0 (9f6a878). Help pane in tN is displayed correctly. Other than the content issue with numbering, not seeing any issue with tN help.

[2019-07-16 13:56] elsylambert commented on #6204
1.2.0 (9f6a878). The location of the three dots is fixed in Projects page.
![image](https://user-images.githubusercontent.com/51806180/61300300-b8059600-a7af-11e9-89bd-656906812084.png)

[2019-07-16 13:58] cckozie commented on #5662
1.2.0 (9f6a878)
It looks like it is no longer considering Lemma matches, or is it just not considering alignments in the same project? (After aligning Θεοῦ in the second image below, it failed to suggest the same word in the next verse. There are no other projects with a prct translation id on the system)
![image](https://user-images.githubusercontent.com/8171759/61300526-bdf77900-a7a7-11e9-9da2-0

[2019-07-16 14:08] cckozie commented on #5930
1.2.0 (9f6a878)
Other instances where the tiles are not unselected: (@benjore says these should be fixed)
1. Clicking Refresh, Accept, or Reject
![image](https://user-images.githubusercontent.com/8171759/61301142-f21f6980-a7a8-11e9-807c-ba73166dbc7f.png)
2. Setting Alignment Complete to On or Off
![image](https://user-images.githubusercontent.com/8171759/61301280-3ad72280-a7a9-11e9-83ef-cac6dec42f

[2019-07-16 14:33] cckozie commented on #5999
Not seeing any missing helps text in 1.2.0 (9f6a878)
Needs regression

[2019-07-16 14:35] cckozie commented on #6204
Looks good in 1.2.0 (9f6a878)

[2019-07-16 14:42] elsylambert commented on #5689
Not seeing any issue in 1.2.0 (9f6a878). Able to download all source content successfully.

[2019-07-16 14:59] cckozie commented on #5689
1.2.0 (9f6a878)
Attempted download of en, es-419, and fr. Download failed. 70 Mbit connection.
Retry failed as well.
![image](https://user-images.githubusercontent.com/8171759/61305435-70333e80-a7b0-11e9-8096-9bcf9f6d4b11.png)

[2019-07-16 15:18] cckozie commented on #6199
1.2.0 (9f6a878)
Seeing the field after updating en tN resources

[2019-07-16 15:38] #6184 closed, assigned to mannycolon

[2019-07-16 15:44] #5982 closed, assigned to mannycolon

[2019-07-16 15:44] #5999 closed, assigned to RoyalSix

[2019-07-16 15:48] RoyalSix commented on #5689
Note: This is an issue with a missing parameter

[2019-07-16 15:52] benjore commented on #6247
Possibly look into changing the pop-up library, or creating one.

[2019-07-16 15:54] benjore commented on #6157
Seems to be a Windows hibernation issue.

[2019-07-16 15:57] da1nerd commented on #5662
@cckozie  @benjore ok that may have been where the confusion started. Because "normal" to me means the way it's always been (e.g. not global). tW works as "normal" :)

We should be all set to support tW, however someone else should probably do it because I'm traveling soon. There's just a method that needs to be added to it's tool api. However, since tW and tN are using the same codebase, they'll

[2019-07-16 16:12] elsylambert commented on #6199
Verified in 1.2.0 (9f6a878). The quote string is added for tN resources. Seeing after the resources update.

[2019-07-16 17:13] mannycolon commented on #6247
@benjore This is a performance issue not a pop-up library problem.

[2019-07-16 17:56] #6199 closed, assigned to mannycolon

[2019-07-16 18:20] cckozie commented on #6050
1.2.0 (9f6a878)
The occurrence quote is being displayed in English instead of the GL selected on the tN tool card.

[2019-07-16 18:28] #4577 closed, assigned to RoyalSix

[2019-07-16 18:28] #6143 closed, assigned to PhotoNomad0

[2019-07-16 18:28] #6089 closed, assigned to PhotoNomad0

[2019-07-16 18:28] #6204 closed, assigned to mannycolon

[2019-07-16 18:28] #5669 closed, assigned to mannycolon

[2019-07-16 18:28] #5868 closed, assigned to mannycolon

[2019-07-16 18:28] #5737 closed, assigned to mannycolon

[2019-07-16 18:29] #5938 closed, assigned to richmahn

[2019-07-16 18:29] #6148 closed, assigned to PhotoNomad0

[2019-07-16 18:29] #5779 closed, assigned to mannycolon

[2019-07-16 18:29] #6153 closed, assigned to PhotoNomad0

[2019-07-16 18:29] #5135 closed, assigned to mannycolon

[2019-07-16 19:11] benjore commented on #5662
Need to fix the lemma fallback.

I'll pull out the "tW support" for now and we'll deal with that in a new issue.

[2019-07-16 19:15] elsylambert opened #6253 "Not all of the fields are displayed in the GL in tN and tW on the menu bar"
- Open a Hindi project, with English as GL.
- Go Back to Tools page and select Hindi as GL.
- Note that the left menu bar and the Occurrence Notes are still in English.
- Happens vice-versa.

This did work correctly in tW in 1.1.4

[2019-07-16 20:05] cckozie commented on #6177
Still a problem in 1.2.0 (9f6a878)
Since there are no Hindi tN checks defined for EPH, Hindi should not appear in the GL dropdown.

![image](https://user-images.githubusercontent.com/8171759/61325578-b00f1b80-a7da-11e9-9b98-874de00422a3.png)

[2019-07-16 20:15] cckozie commented on #5991
In 1.2.0 (9f6a878) checking for invalidations takes:
10 seconds when edit is performed in wA
6 seconds when edit is performed in tW check pane
19 seconds when edit is performed in tW expanded scripture pane
3 seconds when edit is performed in tN check pane
6 seconds when edit is performed in tN expanded scripture pane

Maybe should be paired up with #6188 and #6070

[2019-07-16 21:44] cckozie commented on #6070
Waiting on #6168 to test in tN.

[2019-07-17 14:22] benjore commented on #6159
@elsylambert It looks like the project is Hindi, the locale is Hindi, but the GL selected is English. If this is the case, then it is displaying correctly. Can you retest to see if it can be reproduced?

[2019-07-17 14:24] benjore commented on #6159
Might be related to https://github.com/unfoldingWord-dev/translationCore/issues/6253 .

[2019-07-17 14:43] elsylambert commented on #6159
@benjore Yes,in the scenario the GL selected was English, hence the display is correct. This issue can be closed.

#6253 can be reproduced in tW and tN.

[2019-07-17 14:45] #6159 closed, assigned to nobody

[2019-07-17 16:26] benjore opened #6256 "Critical Error Handling"
## Story Explanation
### User Story

As a user who receives a critical error, I want tC to fail gracefully so that I have a good UX & so I don't have to restart tC.

### Features / Specifications

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/2ff479d7-e591-45e3-839d-498fc5f538c8)
- [ ] If the user clicks "Send Feedback", the modal opens up on top of this screen. When c

[2019-07-17 16:28] #2009 closed, assigned to bspidel, RoyalSix, mannycolon

[2019-07-17 16:29] #5086 closed, assigned to PhotoNomad0

[2019-07-17 16:33] cckozie commented on #6212
Dup of #6250?

[2019-07-17 16:33] #6212 closed, assigned to nobody

[2019-07-17 16:44] cckozie commented on #5785
The problem in tC has been fixed.

[2019-07-17 16:44] #5785 closed, assigned to nobody

[2019-07-17 16:48] cckozie commented on #6134
This has been fixed.

[2019-07-17 16:48] #6134 closed, assigned to nobody

[2019-07-17 19:53] cckozie opened #6258 "% complete shows 0% and checkmarks not displayed for Door43 project"
1.2.0 (9f6a878)
https://git.door43.org/TC_SAVE/en_new_phm_book

This project has 1 of 30 Other Terms checks completed in tW, but the % complete for Other Terms on the tW tool card shows 0%.
It also has 1 of 64 Key Terms checks completed, but the % complete for Key Terms on the tW tool card shows 0%.

It also has 1 of 7 Culture checks completed in tN, but the % complete for Culture on the tN card s

[2019-07-17 23:31] mannycolon commented on #6203
Verified e79d677

[2019-07-18 02:10] mannycolon commented on #6168
verified on 459884d

[2019-07-18 12:36] #6100 closed, assigned to nobody

[2019-07-18 12:38] benjore opened #6261 "Unmerge words by dropping words on white space"
## Story Explanation
### User Story

As an aligner, want to unmerge OrigL words and send Target words back to the with bank by dropping them in a blank area so that I can speed up the work and minimize the distance my mouse needs to travel.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-18 12:45] elsylambert commented on #5708
Verified in 2.0.0 (459884d). Looks good.

[2019-07-18 12:49] elsylambert commented on #6203
Looks good in 2.0.0 (459884d).

[2019-07-18 13:00] elsylambert commented on #6133
Verified in 2.0.0 (459884d). Selections are restricted to 10 and the message is displayed if the 11th selection is made. Working fine.

[2019-07-18 13:40] elsylambert commented on #6168
verified on 2.0.0 (459884d). Not seeing any issue with Project import with Overwrite.

[2019-07-18 14:39] benjore opened #6262 "Make tW (but not tN) selections populate Global Alignment Memory (WordMAP)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ] A selection is made in tW for a particular OrigL word. When that project is opened in the wA tool, the word(s) that was selection should display as a suggestion.
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-18 14:40] benjore commented on #6262
Mentioned in #5662 .

[2019-07-18 15:30] cckozie commented on #6203
2.0.0 (459884d)
@benjore - There is difference in capitalization between the text on the tool card and what you specified in the first comment on this issue.
Text in your comment '... Click "Actions / Check for Content Update" to download '
Text on the  tools page '... Click "Actions / Check for content updates" to download'
Since the text on the tools page actually matches what is on the Actions

[2019-07-18 16:35] cckozie commented on #6168
Looks good in 2.0.0 (459884d)
Needs regression

[2019-07-18 17:35] benjore commented on #6203
That is correct. An opportune following the "spirit of the law"... intentionally or not...

[2019-07-18 17:41] cckozie commented on #6203
Fixed in 2.0.0 (459884d)

[2019-07-18 19:00] mannycolon commented on #6017
Verified on b46b7c6

[2019-07-18 20:14] elsylambert commented on #6017
@benjore The alert message while loading the project says"Loading your project data." and loading the tool says"Loading tool data". Are these the desired messages?
Suggestion: "Loading Notes tool data" for tN, "Loading Word tool data " for tW and "Loading Alignment tool data" for wA, If this is a generic alert for all the three tools then, "Loading your tool data" or "Loading the tool data" are fi

[2019-07-18 20:55] RoyalSix commented on #5662
@cckozie I am not able to reproduce the issue of the `God` alignment not showing a suggestion. The projects folder shared has a Titus project with alignments already and the screenshots shared do not have any alignments besides God.

I unaligned the verse and realigned "Θεοῦ" in 1:2 to God and the suggestion showed up for the verse 1:3

[2019-07-19 16:09] cckozie commented on #5662
[projects.zip](https://github.com/unfoldingWord-dev/translationCore/files/3411851/projects.zip)

@RoyalSix - In 2.0.0 (b203700) I am seeing the following:
1. Within the same project I am seeing the lemma fallback working now. The example shown above in Titus 1:2 and 1:3 does now work correctly.
2. Selections made in tW in the same project are reflected in alignment memory for that project. (Christ

[2019-07-19 16:38] RoyalSix commented on #6181
I am not able to reproduce this error, if you are still seeing it could you send me your project folder @elsylambert

[2019-07-19 17:13] elsylambert commented on #6181
@RoyalSix  Not seeing this issue in 2.0.0 (b203700). In the existing projects with 100 % alignments(which were showing 0% previously) are showing 100% now. Imported a fully aligned project and the tool card showed 100%. Seems to be working fine now.

[2019-07-19 17:14] elsylambert commented on #6181
@cckozie Do you have any fully aligned projects which are showing 0% on the tool card?

[2019-07-19 19:21] da1nerd commented on #5662
@cckozie that makes sense. The global alignment memory is not currently loading up the lemmas so those won't be available. It's possible to provide global lemma support, however that may come at a steep cost to performance. Rather than loading just the resources required for the selected project, tC will need to load resources for all projects at all times (source text and original text).

If tC i

[2019-07-19 19:44] klappy commented on #5662
@neutrinog: I do encourage exploring the new alignment structure to support this :)

Not that it is heading this way yet, but wanted to remind us... We do have to be careful not to persist derived data to disk as it becomes a maintenance nightmare long term. Robert is already concerned about suggestions from the alignment memory not being updated (removed) when he removes an alignment.

As we look

[2019-07-19 20:34] benjore opened #6265 "Display alignment data as highlights for translations"
## Story Explanation
### User Story

As an aligner, I want to see how translations have been aligned so that I can understand better how alignment is supposed to be done, and so that reference other translations better when I do my work.

### Features / Specifications

- [ ] Rules
- Whatever is right-clicked is highlighted in green (in SP is solid green, solid green outline in Alignment Pane, if a

[2019-07-20 00:18] cckozie commented on #6181
@elsylambert In 2.0.0 (b203700) I am seeing 0% after importing both of these. After going back to the Projects page and then back to Tools page it then shows 100%.
[43-LUK.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3413069/43-LUK.usfm.zip)
[66-JUD.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3413074/66-JUD.usfm.zip)

[2019-07-20 02:46] richmahn commented on #5708
@cckozie @benjore This needs to go into QA Fail from my own findings. I realized if you make a comment, reminder or selection in Hindi, which records the Gateway language code and Gateway language quote (hi, and the Hindi Bible selected text), in the CSV export it still shows up as English as I'm ignoring that data from the saved data for the event. I have made a fix already.

[2019-07-22 14:07] cckozie commented on #6181
2.0.0 (99b8027)
The above referenced project still showing 0% complete in wA on initial import on Mac.
Apparently a Mac-only issue now.

[2019-07-22 14:27] benjore commented on #1991
From Russ Perry: A feature request from Vipin at BCS.
This may be unique to BCS because of their workflow in managing multiple GL projects, but you can take it into consideration if it might be applicable more broadly.
Background: When each GL aligner completes several books, they export the USFM files with alignment data and email them to Vipin. Vipin forwards the files to another person who chec

[2019-07-22 15:00] cckozie commented on #5832
2.0.0 (99b8027)
I'm consolidating all of the failures onto this issue to get the others out of Hold.
SEE ALSO #6070 AND INDICATE WHETHER THIS IS STILL A PROBLEM.

When edits are made in a tool, the alignments invalidated and selections reset alerts are all correctly displayed.

When edits are made external to tC, the alignments invalidated alert and selections reset alerts are displayed separately

[2019-07-22 15:26] cckozie commented on #6070
Should be corrected in #6282

[2019-07-22 16:18] PhotoNomad0 commented on #6192
@benjore - this needs sizing

[2019-07-22 16:27] cckozie commented on #5930
2.0.0 (99b8027)
I  am passing this since both 1. and 2. noted above have been fixed.

However, I am noting other (non-specified in requirements) actions that cause the words to be de-selected):
1. Merging Greek words
2. Moving an aligned target word
3. Moving a suggested word

And other (non-specified in requirements) actions that do not cause the words to be de-selected):
1. Clicking on a suggest

[2019-07-22 16:51] elsylambert commented on #5930
Verified in 2.0.0 (99b8027). Selected words(Blue) in wA are deselcted in the following cases:
1. Click on "Refresh".
2. Toggle On/Off Alignment complete button.
3. Move to another verse.
4. Click on the Expanded Scripture Pane.
5. Going back to tools page.
Not seeing any issues.

[2019-07-22 16:59] cckozie commented on #5689
Works in 2.0.0 (99b8027). Updated all resources with tool loaded. It took over 7 minutes, but succeeded. Retested on Projects page and resource updates were successful.

[2019-07-22 17:07] elsylambert commented on #6181
2.0.0 (99b8027). This is very strange that I am able to see this issue now on my windows machine with my existing fully aligned project as well as the projects that Koz attached with this issue. which were showing 100% few hours back on the same build and now it shows 0%.

[2019-07-22 18:00] cckozie commented on #5686
Works correctly in 2.0.0 (99b8027), although the invalidated alignments and reset selections notices appear in separate alerts. There is already an issue to deal with this, #6188.

[2019-07-22 19:32] PhotoNomad0 commented on #6050
@cckozie - Hmm... it was looking fine here with 58-PHM-hi.usfm.txt example above in the latest develop build.  Then I updated the en and hi resources and see the problem you mentioned.

[2019-07-22 19:52] PhotoNomad0 commented on #6050
@cckozie - Nuts, I cleared out the resources and started again.  Now everything it working.  Can you still reproduce this problem?

[2019-07-22 20:45] PhotoNomad0 commented on #6050
Note: ~looks like the problem here is in the latest Hindi ulb is missing the alignments to OrigLang.~ ~Looks like the GLQuotes in hi tN are in English.~  Looks like the hi alignments are in the irv which is not always opened the GL is changed.

[2019-07-22 21:05] elsylambert commented on #5689
I had downloaded all the source content on July 17, 2019 and thats the date shown in my Resources folder for the Content 17.7.2019. But when I tried to "Check for Content Update", it shows
![image](https://user-images.githubusercontent.com/51806180/61665440-febd2980-aca2-11e9-9915-6fdd25d8309b.png)

On July 17, after I had downloaded all the contents it was showing this message "All content is up-

[2019-07-23 13:38] elsylambert commented on #5708
2.0.0 (99b8027). Still seeing "en" in GL Code and GL Quote  column in Comment/Reminders CSV Export for Hindi GL.

[2019-07-23 14:29] elsylambert opened #6270 "When Export to USFM is cancelled, tC hangs up"
Steps to replicate:
1. In Projects page, select the option "Export to USFM" for a Project.
2. Alert message shows up to export with/without alignment, select any option.
3. In the "Save Export as" window, click on the Cancel button. tC screen is disabled and needs to be restarted.

Here is a video clip:
[Export to USFM-Abort.zip](https://github.com/unfoldingWord-dev/translationCore/files/3422548/E

[2019-07-23 14:47] PhotoNomad0 commented on #6192
Prototype display:
![Screen Shot 2019-07-23 at 10 19 50 AM](https://user-images.githubusercontent.com/14238574/61719866-bac63500-ad33-11e9-9259-c8632ffcea67.png)

[2019-07-23 14:49] PhotoNomad0 commented on #6192
@benjore - blocked waiting for consensus on behavior and design.

[2019-07-23 15:15] richmahn opened #6271 "Selections with "No Selection Needed" saves the gateawayLanguageQuote as Greek"
Making a "No selection needed" and then saving that selection results in the gatewayLanguageQuote of the saved selections .json file have gatewayLanguageQuote in Greek, rather than the user's selected Gateway Language. See this one for Titus 1:1 for "faith" in tW:

[code]

This is then reflected wrong in the CSV Export Selections.csv file.

[2019-07-23 17:20] elsylambert commented on #5708
Not seeing any issues in the latest 2.0.0 (40a9095). GL Code and GL Quote are showing up as "hi" for Hindi Projects in Comments/Reminders CSV Export files.

[2019-07-23 17:27] PhotoNomad0 commented on #6192
Revised with more data:
![Screen Shot 2019-07-23 at 1 25 45 PM](https://user-images.githubusercontent.com/14238574/61733307-819abe80-ad4d-11e9-8491-eb34254084aa.png)

[2019-07-23 18:11] PhotoNomad0 commented on #6192
Outstanding questions:
- should we have the "do not show warning again"?
- what should be the behavior on clicking cancel and submit buttons?  Do we skip to next check?

[2019-07-23 18:52] benjore commented on #5662
@neutrinog @klappy We need y'all to come up with the best implementation for this so we can estimate it for future implementation.

[2019-07-23 19:05] benjore commented on #6017
- [ ] Update "Loading your project data" to "Loading project data"

[2019-07-23 19:21] benjore commented on #6192
- [ ] "Do you want to report this problem so it can be fixed?"
- [ ] Primary Button: "Send Feedback"
  - [ ] When clicked, open Feedback Dialog
    - [ ] When feedback dialog is closed, take them to the next check.
- [ ] Secondary Button: "Ignore"
  - [ ] When clicked, go to next check
- [ ] Remove the "Do not show this warning again." Option.

[2019-07-23 19:34] cckozie opened #6273 "Hide the OK button on alerts that do not require/allow user actions"
Here is one example. Also, Loading tool data, Uploading to Door43, Exporting to CSV & USFM, Checking for conflicts, etc.
![image](https://user-images.githubusercontent.com/8171759/61741507-b19a8f80-ad56-11e9-9374-6921e9e303aa.png)

[2019-07-24 11:37] PhotoNomad0 commented on #6192
Updated screenshot:
![Screen Shot 2019-07-24 at 7 36 33 AM](https://user-images.githubusercontent.com/14238574/61790659-d1c55f80-ade5-11e9-91d9-40cc158d290c.png)

[2019-07-24 14:30] cckozie commented on #6149
2.0.0 (aff6765)
This is still a problem. Now in some cases the user receives the "[project] cannot be uploaded because there have been changes to the translation of that project on your Door43 account." message.
Moving the issue back to the Bugs lane.
1. Import this project https://git.door43.org/shojojohn/hi_irv_act_book
2. Upload it to Door43
3. Open the project details page and add a couple con

[2019-07-24 14:33] cckozie commented on #6150
This is no longer a problem in 2.0.0 (aff6765). Closing the issue.

[2019-07-24 14:33] #6150 closed, assigned to nobody

[2019-07-24 15:35] cckozie opened #6275 "In tN, the English text is displayed in the smurf bar instead of the GL"
- [ ] Whatever GL is selected should be the language displayed in the Menu categories, the Smurf Bar, and the tHelps pane.

2.0.0 (aff6765)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/932b8a48-9fc8-4a5f-b9e9-aef5805ae555)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/026ec8a2-c3ae-46dc-b6a7-091ec756cd96)

[2019-07-24 15:56] cckozie commented on #5708
Looks good in 2.0.0 (aff6765)

[2019-07-24 16:08] cckozie commented on #6250
Looks good in 2.0.0 (aff6765)
Needs regression

[2019-07-24 16:49] PhotoNomad0 commented on #6145
Verified in translationCore 2.0.0 (1d9a4c5)

[2019-07-24 16:51] PhotoNomad0 commented on #6193
only ugnt and uhb are clickable now
Verified in translationCore 2.0.0 (1d9a4c5)

[2019-07-24 16:55] PhotoNomad0 commented on #5836
Duplicate of https://github.com/unfoldingWord-dev/translationCore/issues/5990

closing

[2019-07-24 16:55] #5836 closed, assigned to nobody

[2019-07-24 18:16] PhotoNomad0 commented on #6050
Verified in translationCore 2.0.0 (acc38de) - selection quote is now shown in hi when hi GL selected.  Also not seeing the missing quote message.

[2019-07-24 19:25] mannycolon commented on #6056
@benjore Per slack:

So we can modify that issue so that the language on the tool card is changed via locale, not GL selection. But then the subcategories are based on data from tA, and not from the locale. Does that work?

[2019-07-24 19:27] mannycolon commented on #6056
So we can only display the subcategories in the language of the selected GL not the categories

[2019-07-25 01:16] cckozie commented on #5991
2.0.0 (aff6765)
https://git.door43.org/TC_SAVE/en_new_phm_book
Checking for invalidations takes:
5.7 seconds when edit is performed in wA expanded scripture pane
6.5 seconds when edit is performed in tW expanded scripture pane
5.2 seconds when edit is performed in tN expanded scripture pane
3.2 seconds when edit is performed in tW check pane
2.6 seconds when edit is performed in tN check pane

The

[2019-07-25 15:22] cckozie commented on #6145
Still seeing ISSUE 2 and ISSUE 3 failing in 2.0.0 (00bca0b).
I think the problem I am seeing with ISSUE 3 is because I had done an intermediate upgrade to a 1.2 build in order to get an older UGNT downloaded to support a tN project. That is probably not a legitimate test since I don't think there can be any instance where prior to 2.0 a user will have multiple versions of  the UGNT on their system

[2019-07-25 15:30] cckozie commented on #6193
2.0.0 (00bca0b)
Able to load the alternate Greek texts into the scripture pane, but not able to click on their words to open the Lexicon.

[2019-07-25 15:50] cckozie commented on #6174
2.0.0 (00bca0b)
This problem has reoccurred or was never completely fixed.
Here are the defined tN Hindi resources (they are the same for all groups):
![image](https://user-images.githubusercontent.com/8171759/61888536-458c6880-aec9-11e9-827a-39b6481c4f3c.png)

When I load a 1TI project the tN tool card shows Hindi as an available GL. No categories are displayed, but the Launch button is enabled a

[2019-07-25 15:54] elsylambert commented on #5686
Verified in 2.0.0 (00bca0b). Working fine for wA. However observed an issue in tN: Edit made to selected text for tN did not get invalidated, when the edit is outside the selected string.
- edited verses in USFM that had selection in tN- ( changed Condemnation to Condemnations).
- after overwrite, in tN it showed the edited verse as  Condemnations but the selection was only highlighted for Condemn

[2019-07-25 15:56] elsylambert commented on #5686
While testing the same scenario for tW (Edit outside the selected string),  I am getting the following error:
![image](https://user-images.githubusercontent.com/51806180/61889217-09f69c00-aed3-11e9-93c4-8ea65d7c05c5.png)

- Edit the verse in USFM (Edit outside of the selected string in tW for a given verse).
- Import the USFM using Overwrite option.
- Open the imported project, gives the error and

[2019-07-25 16:09] cckozie commented on #6050
2.0.0 (00bca0b)
I am now seeing the occurrence quote now always in the GL as expected.
English is still being displayed in the smurf bar. See issue #6275
@Elsy - I see that we are now displaying the tN sub-categories in the GL. When you test this, please ensure that the same categories appear on the tN tool card (and are properly sorted alphabetically) when the GL is both English and Hindi.
BTW: I

[2019-07-25 16:42] #6206 closed, assigned to mannycolon

[2019-07-25 16:51] elsylambert commented on #6193
Verified in 2.0.0 (00bca0b). Not seeing any issues with Lexicon. New Greek Versions are not clickable and are loaded fine into the scripture pane.

[2019-07-25 17:00] elsylambert commented on #6222
On Hold until the content team publishes the new tsv content.

[2019-07-25 17:11] cckozie commented on #5996
This problem has reappeared in 2.0.0 (00bca0b)
This project is in a 1.1.4 build and has all tW checkboxes checked on the tool card. After upgrading to 2.0 and selecting it, all tW checkboxes are cleared. (I see the same behavior if I just copy the project into the 2.0 build)
[en_new_rut_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3432604/en_new_rut_book.zip)

[2019-07-25 17:12] elsylambert commented on #6017
Not seeing issue with Spinning tC logo in 2.0.0 (00bca0b). The Alert messages are fine.
On Hold for a change in Alert message while importing a project locally.

[2019-07-25 17:26] cckozie commented on #6056
2.0.0 (00bca0b)
Categories are still in English. Subcategories are displayed in the GL. Looks good.

[2019-07-25 18:53] #5126 closed, assigned to nobody

[2019-07-25 19:29] mannycolon commented on #6253
Verified on  855642f

[2019-07-25 20:49] elsylambert commented on #6017
Looks good in 2.0.0 (855642f).

[2019-07-25 20:55] elsylambert commented on #6056
Verified in 2.0.0 (855642f). Categories are in English and Subcategories in GL.

[2019-07-26 14:37] PhotoNomad0 commented on #5990
Will be fixed by https://github.com/unfoldingWord-dev/translationCore/pull/6274 - attaches the last 25MB of todays log file to report when selected.

[2019-07-26 16:58] RoyalSix commented on #5689
@elsylambert I did the following and was not able to recreate the error.
1. Download all resources
2. Check for updates, the alert says `All source content is up to date.`
3. Restart tC
4. Check for updates, the alert says `All source content is up to date`

855642f

[2019-07-26 17:01] mannycolon commented on #6222
This issue is good to go now. The new tN content was published about an hour ago.

[2019-07-26 18:32] PhotoNomad0 commented on #6275
Note:
- Manny suggests that maybe the contextId is not getting updated.
- Looks like he is correct, we are using the occurrenceNote from contextId.
- also found that index is hard-coded to en

[2019-07-26 19:09] richmahn commented on #6141
@benjore @cckozie Been investigating this one today and not able to reproduce in 2.0.0 dev build. Was able to reproduce with the build Koz gave in the description, looked at the code at that time and it is no longer like that at all, so has been fixed already, no place in the code to change to make anything "fail gracefully." Putting a re-test label on it.

[2019-07-26 21:20] elsylambert commented on #6056
Need to change  below Sub-category to display in alphabetical order:
![image](https://user-images.githubusercontent.com/51806180/61982049-7e136b80-afc9-11e9-84d6-4e919d5deee6.png)

[2019-07-26 21:28] elsylambert opened #6281 "Mismatch between the Dates of Resources for Update and the system Resources dates"
I had downloaded all the source content on July 17, 2019 and that is the date shown in my Resources folder for the Content 17.7.2019. But when I tried to "Check for Content Update", it shows
![image](https://user-images.githubusercontent.com/51806180/61665440-febd2980-aca2-11e9-9915-6fdd25d8309b.png)

On July 17, after I had downloaded all the contents it was showing this message "All content is u

[2019-07-26 21:33] elsylambert commented on #5689
Source Content Update works fine in  2.0.0 (9016823).
Submitted a separate issue for the Resources dates #6281

[2019-07-26 21:40] elsylambert commented on #5686
Here is the Luke Project:
[43-LUK.zip](https://github.com/unfoldingWord-dev/translationCore/files/3437467/43-LUK.zip)

[2019-07-26 21:55] elsylambert commented on #6250
Not Seeing any issues in 2.0.0 (9016823).

[2019-07-26 22:01] elsylambert commented on #6050
Looks good in 2.0.0 (9016823).
smurf bar issue addressed in- #6275
Sub-categories in GL- alphabetical order- #6056
Needs regression.

[2019-07-26 22:07] elsylambert commented on #6253
2.0.0 (9016823) . Issue is fixed for tW. For tN, the Occurrence notes are showing in English #6275
Needs regression.

[2019-07-28 00:22] cckozie opened #6282 "Performance improvements needed in 2.1"
- [ ] Testing for invalidations (Priority #1)
- [ ] Importing a project (Priority #2)

There have been several deteriorations in performance in moving from 1.1.4 to 2.0.
The worst offenders are:
~~Starting tC (not first time) went from 26 seconds in 1.1.4 to 81 seconds in 2.0.~~
Importing a fully aligned USFM Matthew project went from 37 seconds in 1.1.4 to 59 seconds in 2.0.
Timings were made on

[2019-07-29 14:28] cckozie commented on #6181
2.0.0 (15ce3cd)
The problem is now intermittent on my Mac.
After running a test that imports a fully aligned Matthew usfm project and doing edits in wA, tW, and tN, then importing the PHM project in the first comment, wA shows 0% after importing it.
![image](https://user-images.githubusercontent.com/8171759/62056223-d2456800-b1e2-11e9-923e-c5a0ec4480b2.png)
Then after ending tC, deleting the impor

[2019-07-29 14:36] elsylambert commented on #6192
Verified in 2.0.0 (15ce3cd).
As expected, below Alert message is displayed for the content errors. Send Feedback buttons opens the feedback window and allows user to report the content errors and then moves to the next verse. Ignore Button allows user to the next verse.
![image](https://user-images.githubusercontent.com/51806180/62056764-4df7e280-b1ec-11e9-8228-91309ad392c7.png)

[2019-07-29 14:44] elsylambert commented on #6192
Feedback window has UI issue on windows:
![image](https://user-images.githubusercontent.com/51806180/62057455-b09dae00-b1ed-11e9-8f16-422eb4152476.png)
Include  Application logs is not displayed.
@cckozie Are you able to reproduce this issue?

[2019-07-29 14:52] cckozie commented on #6253
Looks good in 2.0.0 (15ce3cd) other than the problem noted on #6275.

[2019-07-29 14:54] cckozie commented on #6017
Looks good in 2.0.0 (15ce3cd)

[2019-07-29 15:05] cckozie commented on #6141
It no longer fails/crashes in 2.0.0 (15ce3cd). The references now appear in the scripture pane and in the word bank, which I assume is expected behavior since the references do not have the proper usfm encoding.

[2019-07-29 15:06] #6141 closed, assigned to richmahn

[2019-07-29 15:12] PhotoNomad0 commented on #6192
I was able to reproduce on Mac and Windows by artificially decreasing vertical height of window.  Looks like a pre-existing UI layout problem with feedback dialog.

![Screen Shot 2019-07-29 at 11 10 43 AM](https://user-images.githubusercontent.com/14238574/62059555-8817b300-b1f1-11e9-8aac-2e1d8c035d15.png)

[2019-07-29 15:17] cckozie commented on #6225
2.0.0 (15ce3cd)
The list of libraries is now much longer than in previous builds, but I don't really have a way to test to see if it is complete. Also, clarification is needed on at least one of the links:

Clicking on the link for SIL Ezra Font I am brought to a page that displays this license information. Are we using the "Hebrew layout intelligence"? Is that part of the font? If not, why do we

[2019-07-29 15:18] PhotoNomad0 commented on #6192
@elsylambert @cckozie @benjore - this should be a new issue for a pre-existing problem.  This is not a QA failure of this issue that is titled "In tN, Code appearing in selection pane when there is no highlight in the scripture pane".  We already had scope creep on this issue, and it looks like it currently meets the agreed upon definition of done.

[2019-07-29 15:21] PhotoNomad0 commented on #6192
PS - you can reproduce the problem on the projects screen by doing send feedback and adding lines of text to feedback.

It looks like it needs to be made scrollable.

[2019-07-29 15:40] mannycolon commented on #6056
@elsylambert Could you please give reasoning why the order should be changed.

[2019-07-29 15:53] RoyalSix commented on #5686
@elsylambert Are you able to send me just that project folder zipped up?
I need the project exactly how you have it in `{user}/translationCore/projects/{project_name}`. Thanks!

[2019-07-29 15:57] elsylambert commented on #6056
@mannycolon To have them in Alphabetical Order in Hindi.

[2019-07-29 16:12] RoyalSix commented on #6181
Steps to reproduce:
- Load a fully aligned project
- Make verse edits
- Load another fully aligned project from usfm
- Go to tool card

[2019-07-29 16:17] elsylambert commented on #5686
@RoyalSix Here is the Project:
[en_test_luk_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3443204/en_test_luk_book.zip)

[2019-07-29 16:22] elsylambert opened #6285 "Feedback window has UI issue"
- [x] Add a scroll bar when the text gets too long

Include Application logs is not displayed.
![feedback window.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/34fff6f9-3ce8-4a0a-8437-77343fc4aa0b)

To reproduce the problem on the projects screen, Click on send feedback and add lines of text to feedback.

It looks like it needs to be made scroll-able.

[2019-07-29 16:33] elsylambert commented on #6192
Submitted a new issue for the Feedback window #6285

For tN, the Alert message works as expected.

[2019-07-29 17:36] RoyalSix commented on #5686
Hmmm interesting, is this the same project? This one is letting me open completely to the tool.

[2019-07-29 19:31] mannycolon commented on #6056
@cckozie @elsylambert @benjore They are actually being alphabetical ordered, but the last item `‘‘तुम’’ के प्रारूप` has `‘‘` at the beginning causing it to be sorted to the end.

[2019-07-29 23:14] PhotoNomad0 commented on #6275
Verified in translationCore 2.0.0 (64f2de6)

[2019-07-29 23:15] PhotoNomad0 commented on #6174
Verified in translationCore 2.0.0 (64f2de6)

[2019-07-30 02:40] cckozie opened #6289 "tC crashes when returning to Tools page"
2.0.0 (c940391)
Import an aligned usfm project.
Open the project in tW
Click on the tool icon in the menu bar
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/88864eae-97d3-4850-972a-6c70785bcf5f)
[Mon Jul 29 2019.log 3.zip](https://github.com/unfoldingWord-dev/translationCore/files/3444952/Mon.Jul.29.2019.log.3.zip)

[2019-07-30 05:44] mannycolon commented on #6289
It looks like it's related to tools progress calculations.

[2019-07-30 11:40] PhotoNomad0 commented on #6282
Made a PR to improve tC open time - this will not help USFM import time.

[2019-07-30 14:10] benjore opened #6291 "Only allow articles to be merged discontiguously"
## Story Explanation
### User Story

As an alignment manager, I want tC to prevent from allowing hyperactive discontiguous merging so that the alignment data is useful.

### Features / Specifications

- [ ] Only allow Greek articles to be discontiguously merged.
  - [ ] If a user tries to discontiguously merge a non-article, display a hover-over warning that says "Discontiguous merging is only ava

[2019-07-30 14:18] elsylambert commented on #6225
Looks good in  2.0.0 (c940391).

[2019-07-30 14:18] cckozie opened #6292 "Localization issues"
2.0.0 (c940391)

1. Import [57-TIT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3447234/57-TIT.usfm.zip)
2. On the tN card change the GL to Hindi
3. Load the project in tN
4. Change the locale to Hindi
![Screen Shot 2019-07-30 at 9.04.29 AM.jpg](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2ab355af-ad35-4f13-a49d-45f6ed83efe1)
5. Return to the Tools page
6.

[2019-07-30 14:22] cckozie commented on #6192
Looks good in 2.0.0 (c940391)
I'm not seeing the problem on the Feedback dialog on the Mac.
Needs regression

[2019-07-30 14:25] elsylambert commented on #6056
Looks good in  2.0.0 (c940391) with the exception in sort order for one sub-category with ‘‘ at the beginning.

[2019-07-30 14:27] cckozie commented on #6192
2.0.0 (c940391)
GL and locale set to Hindi
![image](https://user-images.githubusercontent.com/8171759/62137790-2b2d0300-b2ac-11e9-8735-60020d5364f2.png)

[2019-07-30 14:31] elsylambert commented on #6145
Works fine in 2.0.0 (c940391), able to retain Greek resources and few non-packaged language resources.

[2019-07-30 14:44] cckozie commented on #6275
2.0.0 (c940391) **THIS PROBLEM HAS BEEN MOVED TO ISSUE #6296**
~~@PhotoNomad0 - Why do the Hindi links show up in the smurf bar when the English don't? Is it a formatting problem in the content, or a problem with tC (or both)?~~
![image](https://user-images.githubusercontent.com/8171759/62139134-69c3bd00-b2ae-11e9-841d-01f8b89978b9.png)
![image](https://user-images.githubusercontent.com/8171759/62

[2019-07-30 15:07] elsylambert commented on #6174
I imported hi_1th_book project which does not have hindi resources. So for tN in the GL drop-down Hindi is not available to be selected. Thats fine, but it shows English available as GL,
When I opened it with en as GL, see below snapshot of tN:
![image](https://user-images.githubusercontent.com/51806180/62140979-db553880-b2b9-11e9-8274-775217c2713f.png)

For tW got critical error:
![Error-6174](ht

[2019-07-30 15:35] #6001 closed, assigned to PhotoNomad0, RoyalSix

[2019-07-30 15:37] #6250 closed, assigned to richmahn

[2019-07-30 15:37] #6050 closed, assigned to PhotoNomad0, elsylambert

[2019-07-30 15:52] benjore commented on #5943
Team wants to Spike this one, think through when and how is the best way to do this.

[2019-07-30 16:10] benjore commented on #6291
What message to show if user tries to discontiguously merge a word that can't be.

Show active drop zones for everywhere the word can be dropped.

[2019-07-30 17:22] cckozie commented on #6275
~~The English link "(See: [[rc://en/ta/man/translate/figs-metaphor]])" is not displayed.
The Hindi link "(देखें: [[rc://hi/ta/man/translate/figs-metaphor]] )" is displayed and additional text that is not in the Occurrence Note then follows in the smurf bar.~~

[2019-07-30 17:29] PhotoNomad0 commented on #5943
@ben - also need to figure out how we determine which bibles to include in build (or exclude).  Currently our scripts include all bibles for a language (including t4t, which we currently have to remove manually).

[2019-07-30 17:43] #6168 closed, assigned to mannycolon

[2019-07-30 17:59] PhotoNomad0 commented on #6289
Verified fix in translationCore 2.0.0 (cd0f9f1)

[2019-07-30 18:31] mannycolon opened #6293 "Integrate Cypress with tC for integration testing"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]

### Helpful Links
- [ ] https://www.cypress.io/blog/2019/09/26/testing-electron-js-applications-using-cypress-alpha-release/
- [ ] https://docs.cypress.io/faq/questions/using-cypress-faq.html#Can-I-test-my-Electron-app
- [ ] https://github.com/cypress-io/

[2019-07-30 18:41] mannycolon opened #6294 "Update tC to use a newer version of Node and NPM (Same for devs development environment)"
- Need to find a stable version.
- Node 10.12 is the minimum for electronite-packager
- Electron@7.* uses Node v12.8.1

## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Find one of the latest versions that is most stable version
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
###

[2019-07-30 18:41] #6133 closed, assigned to PhotoNomad0

[2019-07-30 18:41] #5930 closed, assigned to richmahn

[2019-07-30 18:41] #5708 closed, assigned to richmahn

[2019-07-30 18:42] #6193 closed, assigned to PhotoNomad0

[2019-07-30 18:42] #5689 closed, assigned to RoyalSix

[2019-07-30 18:42] #6056 closed, assigned to mannycolon

[2019-07-30 18:42] #6017 closed, assigned to mannycolon

[2019-07-30 18:42] #6225 closed, assigned to richmahn

[2019-07-30 18:42] #6145 closed, assigned to PhotoNomad0

[2019-07-30 18:42] #6203 closed, assigned to mannycolon

[2019-07-30 18:43] #6253 closed, assigned to mannycolon

[2019-07-30 18:50] PhotoNomad0 commented on #6174
this is a duplicate of https://github.com/unfoldingword-dev/translationcore/issues/6289

addressed in translationCore 2.0.0 (cd0f9f1)

[2019-07-30 18:54] PhotoNomad0 commented on #6192
Missing Crowdin translations for new strings.  Will take a look, but think we are currently blocked by broken strings in Kanada.

[2019-07-30 18:57] benjore opened #6295 "Fix Lemma fallback"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Lemma fallback is currently broken, for this issue, fix it in the current project (ultimately we want lemma fallback for whole language, but that will need to be fixed in another issue)
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Contex

[2019-07-30 19:30] cckozie opened #6296 "tA links and extraneous verbiage is showing in tN smurf bar when GL is Hindi"
2.0.0 (cd0f9f1)
The Hindi links show up in the smurf bar. They should be suppressed as in the English. Also, the link is repeated and then followed by text that is not in the Occurrence Quote.

![smurf](https://user-images.githubusercontent.com/8171759/62159268-e5d1fb00-b2d6-11e9-9b41-76c128f81e9c.png)
![image](https://user-images.githubusercontent.com/8171759/62139165-7b0cc980-b2ae-11e9-88f1-80b9

[2019-07-30 19:41] cckozie commented on #6275
2.0.0 (cd0f9f1)
Looks good after separating out #6296
Needs regression

[2019-07-30 21:02] cckozie commented on #6181
I am no longer seeing the problem in 2.0.0 (cd0f9f1)

[2019-07-30 21:06] cckozie commented on #5996
No longer seeing the issue in 2.0.0 (cd0f9f1)

[2019-07-30 21:14] cckozie opened #6297 "Original language is showing as an option in the GL dropdown list for wA"
~~- [ ] Hard code wA tool GL dropdown to just show English (for now... with no way, software, or training on how to translate Lexicons, it will likely be a while before any other GL translates a Lexicon, though the possibility of finding an open-source lexicon remains. If that happens, we'd need to fix the dropdown so that it is dynamically derived.)~~
- [ ] Populate the GL list on the wA card wit

[2019-07-30 21:46] cckozie opened #6298 "Hindi does not show as an available tN GL for some books that do have Hindi tN's defined"
2.0.0 (cd0f9f1)
Here is the list of books with Hindi tN's in the catalog. Those labeled "NO" do not show Hindi as an available GL on the tN card.
![image](https://user-images.githubusercontent.com/8171759/62167646-4e29d800-b2e9-11e9-800d-75bc9f934583.png)

And here are the Hindi tN's for culture in the resources folder for the associated books:
![image](https://user-images.githubusercontent.com/81

[2019-07-30 21:52] cckozie commented on #6177
In 2.0.0 (cd0f9f1)
I am no longer seeing Hindi as an available GL for books that do not have Hindi tN's defined.
While testing this, I noticed that there are several cases where Hindi does not show as an available GL when it should. That was an existing problem not noticed before. It is written up in #6298.

[2019-07-30 21:56] cckozie commented on #6289
Not seeing the problem in 2.0.0 (cd0f9f1).

[2019-07-30 22:05] cckozie commented on #6174
The original problem does not appear in 2.0.0 (cd0f9f1). The Critical Error message is no longer a problem either. The bad text shown in the Hindi 1TH problem is because of the extra asterisks.

[2019-07-30 22:13] cckozie commented on #6295
2.0.0 (cd0f9f1)
Lemma fallback is now working for words in the same project.
@elsylambert - Please test this one using a Hindi project. I don't recall if I've ever explained the lemma fallback thing to you or not, so let me know if you need more information:)

[2019-07-30 23:48] cckozie commented on #6298
They're not showing because there are no related aligned Hindi text.

[2019-07-30 23:48] #6298 closed, assigned to nobody

[2019-07-31 12:16] PhotoNomad0 commented on #6192
@elsylambert - OK, have translations unblocked.  Here is a screenshot of the updated locale strings in translationCore 2.0.0 (bd37460):

![Screen Shot 2019-07-31 at 8 14 40 AM](https://user-images.githubusercontent.com/14238574/62210931-5165a800-b36b-11e9-8ba3-e7bac4ee6a17.png)

[2019-07-31 13:53] elsylambert commented on #6174
Looks good in 2.0.0 (bd37460). When tN resources for a Book are not available, that GL is not available under GL drop-down.

[2019-07-31 13:57] elsylambert commented on #6289
Not seeing the issue in 2.0.0 (bd37460).

[2019-07-31 13:59] cckozie opened #6301 "Inconsistent handling of skipped text in instructions pane in tN and tW"
- [ ] All selected text should be shown any skipped letters/words should be denoted by adding an ellipsis (in the screen shot the Hindi is displayed correctly)

2.0.0 (bd37460)
As a checker, I would like the formats of my selections to be consistent with that of the GL highlighted text so that I can easily compare the two.

When the GL highlighted text is displayed in the instructions pane of tN a

[2019-07-31 14:04] elsylambert commented on #6177
Not seeing this issue in 2.0.0 (bd37460). When tN resources are not available for a GL, that GL is not available in tN GL Drop-down.

[2019-07-31 14:09] cckozie commented on #4927
2.0.0 (bd37460)
en_ult_tit_book is the only project I have opened today. I did load the latest build before starting work today. The "time ago" displayed on all of the other is incorrect.
![image](https://user-images.githubusercontent.com/8171759/62218784-bffa3400-b372-11e9-8a43-ffdf36824303.png)
![image](https://user-images.githubusercontent.com/8171759/62218813-cab4c900-b372-11e9-8cee-ad2d7a0a91

[2019-07-31 14:11] elsylambert commented on #6226
@mannycolon Please add these ones too:
1. On tools card, the drop-down for Available GL is light-blue:
![image](https://user-images.githubusercontent.com/51806180/62219025-90035e80-b37b-11e9-98d5-f3405b3668cd.png)
2. While changing Locale: User Interface Language window:
![image](https://user-images.githubusercontent.com/51806180/62221461-ae6b5900-b37f-11e9-9716-99d2be2ebf6a.png)

[2019-07-31 14:19] cckozie commented on #6192
2.0.0 (bd37460) I'm not seeing the invalid locale messages anymore. Everything looks good other than the missing scrollable area.

[2019-07-31 14:20] elsylambert commented on #6275
Verified in 2.0.0 (bd37460) . As reported in #6296 , Hindi text in Occurrence Notes is repeated twice in Smurf bar.
Initial issue of English Text in Occurrence Notes for a Hindi Project has been resolved.

[2019-07-31 14:24] elsylambert commented on #6296
@richmahn Hindi text in Occurrence Notes is repeated twice in Smurf bar. The extra text after the tA link is the repetition of the Occurrence Notes.

[2019-07-31 14:37] PhotoNomad0 opened #6303 "Update Localization strings for Door43 - already fixed"
## Story Explanation
### User Story

in tCore localization.  The following strings have hard coded text `Door43`.  Needs to be changed to `${door43}` and tCore usages of these strings need to pass in the translation for `${door43}`:

[code]

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-31 15:20] elsylambert opened #6304 "Content error/mistake in Feedback window with Hindi as Locale"
When Locale is changed to Hindi, the Alert message has a wrong spelling: See the attached snapshot:
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/20beef4f-f780-456b-9351-5f05c5980936)

@benjore Does Locale fixes goes to the content Team?

[2019-07-31 15:23] elsylambert commented on #6192
Looks good with Hindi Locale in 2.0.0 (bd37460).

Separate issue created for handling Locale issues #6304

[2019-07-31 15:27] cckozie commented on #6282
@RoyalSix - I've attached in this comment my latest timings. You'll note that the testing for reset selections and alignments is taking about 3 times as long when the edits are performed in the scripture pane as compared to when edits are performed in the check pane of tW or tN. Might we be executing the checking code multiple times when editing in the scripture pane?
[tC_performance.csv 2.zip](ht

[2019-07-31 15:53] RoyalSix commented on #5686
@elsylambert This project has no data it's all missing verses. Should I still apply the test?

[2019-07-31 16:15] RoyalSix commented on #6282
Yes there is definitely some unnecessary code running in the scripture pane

[2019-07-31 16:20] RoyalSix commented on #6282
MacBook Pro 2015 (2.7 GHz Intel Core i5) Benchmark testing
### translationWords
Invalidation Checking From Scripture Pane: `~11 secs`
Invalidation Checking From Verse Check Pane: `~7.5 secs`

## Profiling
- Recorded from the beginning of `editTargetVerse` to when all alerts have been shown indicating reset alignments
[Profile-20190731T112148.json.zip](https://github.com/unfoldingWord-dev/translati

[2019-07-31 16:22] elsylambert commented on #5686
Please try with any other project that you have:
- make selection in tN.
- edit  the same verse in USFM that had selection in tN- ( e.g Condemnation to Condemnations).
- after Project Import with overwrite, in tN it showed the edited verse as Condemnations but the selection was only highlighted for Condemnation.
However, edit made in between the selections e.g "May peace and love be multiplied to

[2019-07-31 16:31] elsylambert opened #6306 ""Last opened" does not change when the locale is changed"
- Change the locale to Hindi.
- The "Last opened" timer does not show in Hindi but English while rest of the fields are in Hindi(Selected Locale).
- Open a Project and come back to Project Page, the Last opened timer shows up in Hindi.
- Change the Locale to English.
-The "Last opened" timer does not show in English but still shows Hindi while rest of the fields are in English(Selected Locale).
![

[2019-07-31 16:57] PhotoNomad0 commented on #6301
@benjore - I presume that you want the instruction pane to show all the selected segments with ellipsis between?

[2019-07-31 18:05] benjore commented on #6301
That is correct, @PhotoNomad0

[2019-07-31 18:13] benjore opened #6307 "2019-08-14 Professional Development"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-31 18:14] benjore opened #6308 "2019-08-21 Professional Development - Cypress"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-07-31 20:25] elsylambert commented on #6285
Looks good in 2.0.0 (8f84296) . Scroll bar in feedback window resolved the display issue.

[2019-07-31 20:56] elsylambert commented on #6295
Verified in  2.0.0 (8f84296)  for Hindi Project. Lemma Fallback works fine across Projects.
Needs regression.

[2019-07-31 22:08] cckozie commented on #6222
2.0.0 (bd37460)
I'm seeing the ellipses character in the following checks in Titus:
- Metaphors: 1:3, 1:15,
- Personification: 2:11 (actually has two ellipses together), 3:4
- Names: 3:12 (No alignments so check indicates content problem)
They are all rendering correctly in scripture pane

Also ran these tests:
- Added spaces before and after the ellipses character: Rendered correctly in scripture

[2019-07-31 22:54] benjore commented on #6222
Since that info cannot be rounds tripped back into the app, it doesn't matter if there is a space.

[2019-07-31 22:59] benjore commented on #6222
Story #6200 will fix this problem.

[2019-08-01 03:43] mannycolon opened #6309 "Bug exporting project to USFM when canceling export"
**Expected behavior:**
Should be able to cancel a project export to USFM and be able to return to a working app.

**Actual behavior:**
Screen is locked up when canceling project export to USFM.

### Additional Information

On export canceled:

![1](https://user-images.githubusercontent.com/17072300/62264019-49018180-b3ec-11e9-8967-3409628bcc00.gif)

Works on export save:

![2](https://user-images.

[2019-08-01 14:17] elsylambert commented on #6181
2.0.0 (8f84296). Not seeing tool Card issue in wA.

[2019-08-01 14:26] elsylambert commented on #5996
Not seeing the issue in 2.0.0 (8f84296).

[2019-08-01 14:26] cckozie opened #6310 "Increase minimum size for dropdown list on Feedback dialog so that the longest option is not truncated"
2.0.0 (8f84296)
When open, the dropdown list is wide enough to display all of the options. When it is not open, the longest option gets truncated.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/30a96463-d4eb-468d-b470-e61219725497)

[2019-08-01 14:30] cckozie commented on #6285
Scrollbar solves the display problem in 2.0.0 (8f84296).
Noticed a problem with the width of the dropdown list. Wrote it up in #5631

[2019-08-01 15:01] benjore opened #6312 "Suggested improvements to Edit Modal"
A few helpful suggestions for the computer specialists when in "edit verse".

1. Enable right click to be able to select things like copy paste.
2. Enable to drag and drop.
3. Enable to make the box bigger to see the entire text. (For this, see screen shot).

Best wishes,
Demsin

[2019-08-01 15:29] cckozie opened #6313 "0.10 project with tW selections show 0% on tools card"
2.0.0 (8f84296)
I'm not sure what the % complete should be, but probably more than 0.
![image](https://user-images.githubusercontent.com/8171759/62306264-26e91d00-b447-11e9-84c0-203feffe55c0.png)

[en_alck_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3457460/en_alck_tit_book.zip)

Checked made after opening the project do get properly accounted for in the % complete cal