[2019-01-17 17:50] PhotoNomad0 commented on #5119
From discussion with @benjore:

Dropdown language selections:
- target language should be like `Kiswahili (sw) (Target Language) (Current Project)`
- language code for original language should show `(Original Language)`

[2019-01-17 18:55] bspidel opened #5696 "No localization for checkbox labels on translationWords tool card."
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

TranslationWords tool card has some missing localization. Namely
- Key Terms
- Other Terms
- Names

### Steps to Reproduc

[2019-01-17 23:15] RoyalSix opened #5698 "[0] Update Home Progress Function"

[2019-01-17 23:15] RoyalSix opened #5699 "[0] Add Tests To ToolCard Progress On Home Page"

[2019-01-18 00:14] da1nerd commented on #4257
This should be fixed in the latest code.

[2019-01-18 00:30] da1nerd commented on #4443
Last few items remaining:

- [ ] performance when used in tW (rendering is slow)
- [x] use correct font
- [x] abstract the active menu logic item behind an `itemId` field so that matching criteria can be specified in the tool.
- [ ] [clear checkmark after verse is edited in tW](https://github.com/unfoldingWord-dev/translationCore/issues/5654) may include this in a separate PR.

[2019-01-18 13:23] PhotoNomad0 commented on #5119
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-66be15e.dmg

[2019-01-19 21:33] bspidel opened #5702 "After importing self-owned repo then changing the tid, tC does not offer to rename door43 version"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

Renaming imported self owned project does not offer to rename repo on door43
Similar to #5532 This problem does not show

[2019-01-19 21:53] bspidel opened #5703 "Upload to Door43 of system renamed file seems confused"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
- Having imported a file that was renamed by system, upload of renamed but unchanged repo says the following

- ar_ulb_mat

[2019-01-21 13:30] PhotoNomad0 commented on #5275
@bspidel - I think this is expected behavior.  When we do migration, the manifest version will be updated the match the manifest version in package.json (e.g.   "manifestVersion": "7").

[2019-01-21 17:31] #5698 closed, assigned to RoyalSix

[2019-01-21 17:42] #5699 closed, assigned to RoyalSix

[2019-01-21 18:55] #5570 closed, assigned to mannycolon

[2019-01-21 21:14] cckozie opened #5705 "The Close button text is not localized on the dialog to add resources to the scripture pane"
1.1.0 (63dffc7)
![image](https://user-images.githubusercontent.com/8171759/51499248-1d437600-1d8f-11e9-927d-de91639730ed.png)

[2019-01-21 21:25] cckozie opened #5706 "Menu filtering options wrap when the locale is set to Hindi"
1.1.0 (63dffc7)
![image](https://user-images.githubusercontent.com/8171759/51499672-cb035480-1d90-11e9-8931-172aedca95c0.png)

[2019-01-21 21:30] cckozie opened #5707 "Adjust spacing of field help text on project details screen"
1.1.0 (63dffc7)
![image](https://user-images.githubusercontent.com/8171759/51499860-74e2e100-1d91-11e9-8841-4ce3098d69fd.png)

![image](https://user-images.githubusercontent.com/8171759/51499868-7c09ef00-1d91-11e9-9489-828cf440bcaa.png)

[2019-01-21 21:49] cckozie opened #5708 "Add data to CSV export with additional information"
(Former title: A column for the tW type (Key terms, Other terms, Names) should be added to the translationWords_CheckInformation.csv and selections.csv files)

Since we allow distinguishing between them in the app, it makes sense to do the same in the related csv files. It also may be important for those who would want to check manually using the spreadsheet.

## Specs
- [x] tW export
  - [x] Add

[2019-01-21 22:42] cckozie opened #5709 "The gateway Language Quote column in the selections.csv file actually contains the group name"
1.1.0 (63dffc7)
![image](https://user-images.githubusercontent.com/8171759/51502395-8d57f900-1d9b-11e9-96e8-7b188a48fbc5.png)

[2019-01-22 00:14] da1nerd opened #5710 "Connect new GroupedMenu to tW"
Original issue at https://github.com/unfoldingWord-dev/translationCore/issues/4443.

Route all of the tW specific logic into the new menu.

[2019-01-22 00:14] da1nerd opened #5711 "Connect new GroupedMenu to wA"
Original issue at https://github.com/unfoldingWord-dev/translationCore/issues/4443.

Route all of the wA specific logic into the new menu.

[2019-01-22 00:19] da1nerd opened #5712 "Build a new modular menu"
Original issue at https://github.com/unfoldingWord-dev/translationCore/issues/4443.

Due to some hard to correct bugs with scrolling, the need for more flexible filters, and better support for new tools the old groups menu is being replaced with a new one.

[2019-01-22 00:28] da1nerd commented on #5551
This fix has finally been prepare in a PR https://github.com/translationCoreApps/tc-ui-toolkit/issues/164

[2019-01-22 00:30] da1nerd commented on #4443
I turned this into an Epic because there are 4 different PRs related to it.

[2019-01-22 14:58] cckozie opened #5714 "Lexicon entries are no longer being displayed in OT books"
Checked multiple OT books in 1.1.0 (63dffc7) and Lexicon entries are all empty
Renamed both translationCore folders, restarted tC, now I see the Lexicon entries
Tried replacing the uhl index.json file with the one from the failing resources folder. Still seeing the Lexicon entries.
Replaced the uhl folder with the one from failing resources, and not the Lexicon entries are not displayed.

[2019-01-22 20:41] #4960 closed, assigned to klappy, da1nerd

[2019-01-22 20:41] #5378 closed, assigned to RoyalSix

[2019-01-22 20:41] #5377 closed, assigned to RoyalSix

[2019-01-22 20:41] #5623 closed, assigned to RoyalSix

[2019-01-22 20:42] #3989 closed, assigned to PhotoNomad0

[2019-01-22 20:42] #5351 closed, assigned to PhotoNomad0

[2019-01-22 20:42] #5051 closed, assigned to cckozie, PhotoNomad0

[2019-01-22 20:42] #5388 closed, assigned to PhotoNomad0

[2019-01-22 20:42] #2010 closed, assigned to RoyalSix

[2019-01-22 20:42] #5513 closed, assigned to PhotoNomad0

[2019-01-22 20:42] #4685 closed, assigned to richmahn

[2019-01-22 20:42] #5618 closed, assigned to da1nerd

[2019-01-22 20:45] PhotoNomad0 commented on #5714
@cckozie - looks like a problem in updating the lexicon to latest packaged in app.

[2019-01-22 21:53] PhotoNomad0 commented on #5714
@cckozie We are bumping the version number of the latest uhl to 0.1 to make it easy to check for the latest.

[2019-01-22 22:30] PhotoNomad0 commented on #5714
Verified in https://tc-builds.door43.org/build/release-v1.1.0/translationCore-macos-x64-1.1.0-130662e.dmg

[2019-01-23 18:31] PhotoNomad0 commented on #5714
2nd try - verified in https://tc-builds.door43.org/build/release-v1.1.0/translationCore-macos-x64-1.1.0-aa16dd2.dmg

[2019-01-23 19:04] benjore opened #5721 "Create 1.1.1 Release Notes"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-23 19:05] benjore opened #5722 "Create 1.1.1 change log"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-23 19:05] benjore opened #5723 "Create 1.1.1 Mac release (.dmg) on a Mac"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-23 19:25] benjore opened #5724 "Add worksheets to CSV export: 1 with tN check info, 1 with tN selections"
Model this off of the tW CSV export (translationWords_CheckInformation.csv).

And translationNotes_Selections.csv

Change the Selections.csv to translationWords_Selections.csv (Add tool name to all CSV exports.

= = =

For the `translationNotes_CheckInformation` CSV file:
- [ ] Change it to `EN_translationNotes_CheckInformation`
- [ ] Fix `groupName` to show the Group Name (instead of `GroupID`)
-

[2019-01-23 19:32] #4305 closed, assigned to RoyalSix

[2019-01-23 19:34] #5688 closed, assigned to nobody

[2019-01-23 23:36] cckozie opened #5725 "Resources select list does not include all available resources"
1.1.0 (aa16dd2)
The resources displayed seems to be dependent on the project. In the 2co project only one of the Hindi Bibles is shown as an option. Happens on both Windows and OSX. Unfortunately I'm not sure of the origin of the project.

[projects.zip](https://github.com/unfoldingWord-dev/translationCore/files/2789602/projects.zip)

![image](https://user-images.githubusercontent.com/8171759/5164

[2019-01-24 00:09] cckozie opened #5726 "Cannot edit verses in OT books. (ERROR displayed)"
1.1.0 (aa16dd2)
![image](https://user-images.githubusercontent.com/8171759/51645421-bf9f5d00-1f39-11e9-98cb-28af2c2ae2d7.png)
Load an OT project in wA and open the expanded scripture pane.

[2019-01-24 00:14] cckozie opened #5727 "Performance problems in expanded scripture pane"
1.1.0 (aa16dd2)
The app appears to hang after opening the expanded scripture pane. Once it opens, there is a significant delay before any of its controls (edit, scroll, close button) are active.

On Windows:
Titus - 10 seconds
2Corinthians - 20 seconds

On Mac:
Doesn't seem to be a problem with NT books. Can't test OT because of #5726

[2019-01-24 14:43] PhotoNomad0 commented on #5204
@benjore - does there need to be a minimum checking level to use a book as a GL in tW?

[2019-01-24 14:57] PhotoNomad0 commented on #5204
Didn't it use to be checking level of at least 3?  That's what it seems to be now.

[2019-01-24 15:50] benjore commented on #5204
yes. That is correct. Just found it... https://gl-manual.readthedocs.io/en/latest/gl_translation.html#what-needs-to-be-translated

[2019-01-24 18:30] PhotoNomad0 commented on #5204
@benjore - to clarify: for TW articles, does this mean that both:
- must have tw articles in the GL
- must have tw groups in the OL for the book (or to put it another way - the book has tw tags in it)

[2019-01-24 18:37] PhotoNomad0 opened #5729 "Currently Lexicons are hard-coded to English only, need to make use of lexicons in GL if present"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-24 18:45] RoyalSix commented on #5726
I think this got fixed in 26fdc79.
I was able to reproduce in the aa16dd2 but not the latest build for develop `1.1.0`

[2019-01-24 19:09] benjore commented on #5204
If OL means Original Language, then yes.

This is what is needed:
- [ ] In the Original Language
  - [ ] tW words tagged in the Hebrew/Greek (per book)
- [ ] In the Gateway Language
  - [ ] translated tW articles published to Door43 Catalog, Level 2
  - [ ] book of the Bible aligned and published in Door43 Catalog, Level 3 (per book)

[2019-01-24 19:42] da1nerd commented on #3853
@cckozie do you still have this project? It's not attached to this issue.

[2019-01-24 20:52] RoyalSix commented on #5686
## Tasks
- [x] [3] Add Selection Validation Logic To tW API
- [x] [1] Validate Selections On Tool Connect

[2019-01-24 21:05] benjore opened #5731 "Word Alignment Tool Improvements"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-24 21:26] da1nerd commented on #3853
I found the project to test.
This appears to be resolved.

[2019-01-24 21:40] RoyalSix opened #5732 "[0] Add Selection Validation Logic To tW API"

[2019-01-24 21:40] RoyalSix opened #5733 "[0] Validate Selections On Tool Connect"

[2019-01-24 21:52] benjore opened #5734 "Show Gateway Language Alignments in Word Alignment Tool (wA)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-25 15:08] cckozie commented on #5726
@RoyalSix This needs to be fixed in 1.1.0.  aa16dd2 is the latest build on the 1.1.0 release branch.

[2019-01-25 16:43] #4672 closed, assigned to da1nerd

[2019-01-25 16:43] #4884 closed, assigned to da1nerd

[2019-01-25 16:43] #5656 closed, assigned to richmahn

[2019-01-25 16:44] #5675 closed, assigned to PhotoNomad0

[2019-01-25 16:44] #5680 closed, assigned to richmahn, PhotoNomad0

[2019-01-25 16:45] #5678 closed, assigned to richmahn

[2019-01-25 16:45] #5676 closed, assigned to richmahn

[2019-01-25 16:45] #5714 closed, assigned to PhotoNomad0

[2019-01-25 16:45] #5598 closed, assigned to da1nerd

[2019-01-25 19:17] #4901 closed, assigned to bspidel

[2019-01-28 19:50] PhotoNomad0 commented on #5726
@RoyalSix @cckozie - I can verify this is broken in v1.1.0.

[2019-01-28 21:32] PhotoNomad0 commented on #5726
@RoyalSix @cckozie @mannycolon - I think I found the problem - it only occurs when ult is not loaded into scripture pane.  There is a hard coded reference to the ult in tc-ui-toolkit ChapterView/index.js:

[code]

[2019-01-29 14:16] mannycolon commented on #4858
## Findings:

- Where/when is the index.json file generated for bible resources?
- Should the GL for the project be selected earlier in the process?
- Can we use the hard-coded `En ULT` index.json ? are they all the same?
- Should we stamp bible resources as `GatewayLanguage/Aligned resource` in their manifest?
   - `"alignedGL": true`

[2019-01-29 14:25] #5585 closed, assigned to mannycolon

[2019-01-30 16:00] benjore opened #5737 "Make verse edit modal draggable"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-30 16:05] cckozie opened #5738 "Import latest Greek Lexicon"
There have been changes to the UGL that are not currently in the app

[2019-01-30 19:39] RoyalSix commented on #2011
Is this going to be in the menu?

[2019-01-30 19:47] RoyalSix commented on #5679
[tit.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2814193/tit.usfm.zip)
[41-MAT-ust.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2814429/41-MAT-ust.usfm.zip)

[2019-01-30 20:46] da1nerd commented on #3739
@benjore should users be allowed to re-align words from the "unexpected" verses?
e.g. if I have selected verse 9, can I drag an aligned word (that is not from the verse 9 target language) from verse 8 into verse 9?

[2019-01-30 21:12] da1nerd commented on #4490
@klappy @benjore  we need to figure how to indicate that a word comes from a verse span. @klappy you and I have discussed possibilities for words coming from a different verse, but coming from a span brings in a whole bunch of complexity.

Or could we just keep things simple and reference the first verse in the span?

[2019-01-31 14:44] mannycolon opened #5739 "Rename old references of reminders to bookmarks"
## Story Explanation
### User Story

As a tC user, I want all my bookmarks references to be explicitly named that way so that I'm not confused when I export my CSV project data.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-31 20:03] benjore commented on #2011
This will toggle the green checkmark in the side menu.

- [ ] Add an item in the filter for "No Selection Needed"

[2019-01-31 20:12] benjore commented on #3739
Whatever cards "on the board" should be movable. If I am aligning v9 and I drag a word from v8 back to the "Word Bank", the card should be removed from the "board" but it will only show up in the v8 word bank.

(If any of this is wildly complex, let me know and we'll reconsider.)

[2019-01-31 20:44] PhotoNomad0 commented on #4538
@benjore - For clarity, in the alignment area title bar, these icons are actionable?  This seems inconsistent with tW where they are indicators only.  We need to investigate what is standard practice to indicate something is a clickable icon (e.g. colors, border, etc.).

[2019-01-31 21:11] mannycolon commented on #1999
- When making a selection in an unexpected verse, record the active chapter & active verse as we do in verse edits for CSV exports

[2019-01-31 21:11] da1nerd commented on #1999
The selections over verse spans requirement is related to https://github.com/unfoldingWord-dev/translationCore/issues/1259

[2019-01-31 21:28] da1nerd commented on #2687
How would this be displayed if the entire verse is a footnote? Would we just have a tiny superscript number all alone in the box that they hover?

[2019-01-31 21:33] da1nerd commented on #1259
This is related to https://github.com/unfoldingWord-dev/translationCore/issues/1999

[2019-01-31 21:48] PhotoNomad0 commented on #1259
@benjore @cckozie - It looks like this is going to require changes to the CSV export to have both the OL context ID and the target language context ID in the selection.csv file.

[2019-02-01 14:15] #5733 closed, assigned to RoyalSix

[2019-02-01 14:15] #5732 closed, assigned to RoyalSix

[2019-02-01 15:19] PhotoNomad0 commented on #5726
Verified in https://tc-builds.door43.org/build/release-v1.1.0/translationCore-macos-x64-1.1.0-92d743b.dmg

[2019-02-01 18:02] mannycolon opened #5745 "Upgrade Electron to latest version"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-01 18:02] mannycolon opened #5746 "Upgrade React & React-DOM to latest version"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-01 19:02] RoyalSix commented on #5686
https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-dc646d8.dmg

[2019-02-01 19:18] cckozie opened #5748 "Hebrew Bible title text has extra leading parenthesis and is also truncated in the header of the expanded scripture pane"
1.1.0 (92d743b)
Remove leading '('
Fix truncation
Reconcile RTL vs LTR difference between scripture pane and expanded scripture pane (which way doe we want it in both panes?)

![image](https://user-images.githubusercontent.com/8171759/52144504-1be23b00-2624-11e9-8864-86ebe7b127db.png)
----------------------
![image](https://user-images.githubusercontent.com/8171759/52144724-c0fd1380-2624-11e9-8d4e

[2019-02-01 19:39] cckozie opened #5749 "Text sometimes flows off the end of the word bank cards (and is inconsistent with the same text dependent on presence of the scroll bar)"
![image](https://user-images.githubusercontent.com/8171759/52145484-af1c7000-2626-11e9-8af8-9e6b2256de84.png)
-------------------
![image](https://user-images.githubusercontent.com/8171759/52145510-c4919a00-2626-11e9-9690-9c5b3bd0df10.png)

[2019-02-01 21:22] cckozie opened #5751 "App breaks when attempting to load a tool after editing project details"
1.1.0 (92d743b)
1. Restart tC
2. Open the 3-dot menu for any project
3. Choose the Edit Project Details option
4. Add/change project nickname (or make some other change)
5. Save the changes
6. Click on the Tool link in the stepper bar
7. Click the Load button on either tool
8. Note that there is a problem in the tool as displayed below
![image](https://user-images.githubusercontent.com/8171759/521

[2019-02-04 19:16] RoyalSix opened #5752 "Parsing the TSV and generating the GroupIndex and GroupData (NPM Module)"
## Specs
- [ ] Mock data structure: https://docs.google.com/spreadsheets/d/1NMIfdundjjRHo3EknFPLO6to2acQYvm6NL8uXU_0tmQ/edit#gid=495123398
- [ ] More commentary: https://forum.ccbt.bible/t/translationnotes-tsv-format/57
- [ ] Parsing will occur during source content updater download
- [ ] End result should look similar to https://github.com/translationCoreApps/tC_Resources/tree/master/resources/en

[2019-02-04 19:16] RoyalSix opened #5753 "Create the initial tN tool - tW tool with tN data (for testing SPIKES)"
- Load data into the tool
- Use fake data. In issue.
Basically same as tW data except for note field, and toolName is translationNotes

[2019-02-04 19:16] RoyalSix opened #5754 "Verify (& fix as needed) that tN data is loaded correctly"

[2019-02-04 19:16] RoyalSix opened #5755 "Use filesystem to handle parent and child categories for the tN tool card (include the hover-over description) - for each GL"
![image](https://user-images.githubusercontent.com/16184018/52006945-59678c80-249b-11e9-8419-54385cd2761f.png)
![image](https://user-images.githubusercontent.com/13352518/48024449-47798600-e106-11e8-84c0-e354480352cd.png)
![image](https://camo.githubusercontent.com/0ad120a1699d3076fbb174a04c309782063e50ac/68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3535653566333938346

[2019-02-04 19:16] RoyalSix opened #5756 "Create Tool Card UI"
![image](https://user-images.githubusercontent.com/13352518/48024427-3d578780-e106-11e8-9dd1-0d048e2fb143.png)

[2019-02-04 19:16] RoyalSix opened #5757 "Add TSV parser to the Source Content Updater"

[2019-02-04 19:16] RoyalSix opened #5758 "Update script to add the tN data to the code base (in build, getting the latest data from the Catalog)"
2 scripts in package.json
- `update-resources`
- `overwrite-resources`
Files that are being used are in the resources folder in the scripts folder

Include changes to updater dialog
**tN may be excluded in the source content updater**

[2019-02-04 19:16] RoyalSix opened #5759 "[0] SPIKE: what else needs to be done for tN to work."

[2019-02-04 19:17] RoyalSix opened #5760 "Update the Smurf Bar to display data from new location (alignment data)"

[2019-02-04 19:17] RoyalSix opened #5761 "[4] SPIKE: What needs to be done for tN quote highlight to show on the scripture pane."

[2019-02-04 19:17] #5449 closed, assigned to nobody

[2019-02-04 19:17] #5450 closed, assigned to nobody

[2019-02-04 19:17] #5453 closed, assigned to nobody

[2019-02-04 19:17] #5455 closed, assigned to nobody

[2019-02-04 19:17] #5456 closed, assigned to nobody

[2019-02-04 19:17] #5457 closed, assigned to nobody

[2019-02-04 19:17] #5448 closed, assigned to nobody

[2019-02-04 19:17] #5451 closed, assigned to nobody

[2019-02-04 19:17] #5454 closed, assigned to nobody

[2019-02-04 19:17] #5452 closed, assigned to nobody

[2019-02-04 19:52] mannycolon commented on #4858
Create a list of chapter & verse numbers base off the `En ULT` to replace the hardcoded references of the `En ULT`

[2019-02-05 00:55] RoyalSix commented on #5753
In order to get the tool to load I did the following.
Copied translationWords alignment data (check information also called the groupsData in tC) from `grc/translationHelps/translationWords` to the same location except for under a new folder `translationNotes`
Copied translationWords markdown files from `en/translationHelps/translationWords` to
the same location except under a new folder `translat

[2019-02-05 19:16] mannycolon commented on #5737
See: https://material-ui.com/demos/dialogs/#draggable-dialog

[2019-02-05 19:30] mannycolon commented on #4858
Already using versification list (index.json) off of `En ULT`. No Changes needed for now.

[2019-02-06 13:57] bspidel opened #5764 "[0] basic tN tool card framework for #5756"

[2019-02-06 13:58] bspidel opened #5765 "[0] Display dynamic checkboxes for #5756"

[2019-02-06 13:58] bspidel opened #5766 "[0] Manage state of checkboxes for #5756"

[2019-02-06 13:59] bspidel opened #5767 "[0] Manager PR Review Process for #5756"

[2019-02-06 14:00] bspidel opened #5768 "[0] Unit testing checkboxes for #5756"

[2019-02-06 14:00] bspidel opened #5769 "[0] Integration testing checkbox operation for #5756"

[2019-02-06 18:46] RoyalSix opened #5771 "[0] Load new tHelps in tN"

[2019-02-06 19:18] RoyalSix opened #5773 "[0] Get 1.1.1 Branch to Build"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-06 19:26] benjore opened #5774 "2019-02-08 Professional Development"
Word Alignment Tool - Lifecycle

[2019-02-06 20:08] cckozie commented on #5710
1.1.0 (26fdc79)
@benjore - Please weigh in on any of these problems if you are OK with leaving them as is.

There are a number of issues with the new menu (both in tW and wA), most of them are related to element sizing and spacing. This makes the new menu less user friendly since it will limit the user's view of menu items and also cause additional scrolling. (In the example shown with the filter

[2019-02-06 21:16] cckozie commented on #5119
Works in 1.1.1 (f6a4c6b)

[2019-02-06 22:01] cckozie opened #5776 "The wrong verse is tagged as being edited when using the expanded scripture pane to edit a non-selected verse."
1.1.1 (f6a4c6b)
This happens in both tW and wA.
1. Use the expanded scripture pane to edit a verse other than the one selected in the menu.
2. Save the edit
3. Notice that the pencil icon is displayed on the selected verse instead of the one that was actually edited.
(The data in the verseEdit csv file is correct)

[2019-02-07 15:36] benjore opened #5777 "Bug: Aligned target words don't merge when Greek words are merged"
## Story Explanation
### User Story

As an aligner, I want aligned target words to merge when original language words are merged so that tC doesn't lose my work and make me redo it.

When you have this:
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/408f5d14-b6fc-4e46-a3fc-0b5b30c559b9)

And try to merge them together, you incorrectly get this:
![image.png](https://imag

[2019-02-07 15:47] benjore opened #5778 "Bug: WordMAP Lemma Fallback not behaving as expected"
## Story Explanation
### User Story

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/3a2398a2-154b-4575-ae31-551a13a7ce30)

The lemma fallback is not functioning as expected. The word following `Ἰσαάκ` (Isaac) is `Ἰσαὰκ`. Both have the same Strongs number (but different accents). When "Isaac" is aligned to one and the user clicks "Refresh", the other should be suggested.

[2019-02-07 16:08] #5771 closed, assigned to RoyalSix

[2019-02-07 16:08] #5773 closed, assigned to RoyalSix

[2019-02-07 16:22] cckozie commented on #5599
1.1.1 (f6a4c6b)
Since this is the last child issue of #3562, I am writing up problems here that may not relate specifically to this issue.

ISSUE A:
~~When edits are made in wA that affect tW selections, the alert indicating that the selection being reset is not being displayed. (The broken link indicator is updated correctly on the tW card)~~ Moved to #5687

ISSUE B:
When the user then loads the

[2019-02-07 16:25] PhotoNomad0 commented on #5204
@cckozie - Have a PR for this issue, but note that we currently have no OT aligned books in Hebrew.  So I added hbo.zip to https://github.com/unfoldingWord-dev/translationCore/pull/5763 with alignment to Ruth 1:1 so that you can test this.

[2019-02-07 17:02] RoyalSix commented on #3975
Fixed

[2019-02-07 17:02] #3975 closed, assigned to nobody

[2019-02-07 17:02] RoyalSix commented on #4504
Fixed

[2019-02-07 17:02] #4504 closed, assigned to RoyalSix

[2019-02-07 17:03] RoyalSix commented on #4788
Fixed

[2019-02-07 17:03] #4788 closed, assigned to nobody

[2019-02-07 17:06] RoyalSix opened #5779 "Verse Check Pane Text Overflow"
- [x] Verse overflow is only a problem in Select Mode - increase minimum height to 689
- [x] Fix the button overlap in the `Default Mode`

<img width="1280" alt="screen shot 2019-02-07 at 9 00 55 am" src="https://user-images.githubusercontent.com/16184018/52428788-8c230d80-2ab7-11e9-8e6a-58a8c99bdf44.png">

![image](https://user-images.githubusercontent.com/13352518/56226041-15b30680-6038-11e9-801

[2019-02-07 17:07] RoyalSix commented on #5779
https://github.com/translationCoreApps/tc-ui-toolkit/compare/bugfix-jay-5779?expand=1

[2019-02-07 17:12] benjore opened #5781 "Add new filter for wA tool: Unaligned words"
## Story Explanation
### User Story

As an aligner, I want to find all verses with unaligned words so that I can ensure 100% of words are aligned.

### Features / Specifications

- [ ] If either a target word is unaligned or an original language word is unaligned, this filter would display it.
- [ ]
- [ ]
![image](https://user-images.githubusercontent.com/13352518/52490167-bb09b400-2b89-11e9-82f4-

[2019-02-07 20:01] PhotoNomad0 commented on #5326
Verified in https://tc-builds.door43.org/build/release-v1.1.1/translationCore-macos-x64-1.1.1-947818a.dmg

[2019-02-07 20:22] da1nerd commented on #5599
The above issues are related to https://github.com/unfoldingWord-dev/translationCore/issues/5686.
There were a few minor bugs that weren't caught in the PR, but looks like they should be quick fixes.

[2019-02-07 20:24] da1nerd commented on #5710
issues 6 is likely related to https://github.com/unfoldingWord-dev/translationCore/issues/5599#issuecomment-461495653

[2019-02-07 21:11] benjore opened #5784 "Number Tokenization issue: Numbers with commas are split into separate tokens"
## Story Explanation
### User Story

As an aligner, I want numbers separated by punctuation (commas or periods) to be tokenized as one word so that I don't have the option of aligning it incorrectly.

### Examples
From https://git.door43.org/lrsallee/en_ult_rev_book

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/7104b832-eec0-4976-b631-59497263bc8e)

![image.png](https

[2019-02-07 21:30] benjore opened #5785 "Rev 18:25 and 2 Cor 13:14 are incorrectly considered standard by tC"
## Story Explanation
### User Story

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/263b8189-d878-41fd-9e6b-7dc46545d176)

Both Rev 18:25 and 2 Cor 13:14 are added to and then displayed as missing verses.

When importing a project without a marker for 18:25, the missing verses will show up in the project import saying that 18:25 is missing. Then if you load the wA tool

[2019-02-07 21:41] benjore opened #5786 "Installing v 1.1 over 1.0.2 on Linux failed"
## Story Explanation
### User Story

Uninstalling 1.0.2 and then installing worked as a workaround.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-07 21:43] benjore opened #5787 "Linux installer is not updating the version number"
## Story Explanation
### User Story

Linus installer thought that 1.1 was 1.0.

Also has the wrong license.

![Screenshot_20190208_080952.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/7909d880-88e9-49a5-b3ae-707f0e94e7cd)
### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-07 21:58] benjore commented on #5785
This is a problem with the ULT. Close when the ULT is updated and these verses no longer show up in tC as standard.

[2019-02-07 22:33] cckozie commented on #5599
@neutrinog #5686 only deals with edits made external to tC. (ISSUE D above)

[2019-02-07 22:53] cckozie opened #5788 "When Save & Continue is clicked in tW, the newly activated selection should always appear in the menu."
1.1.1 (f6a4c6b)
If a user has accidentally (or not) scrolled the active check out of view and then completes the check, when the Save & Continue button is clicked, the menu should automatically scroll so that the next check in view.
1. Open a project in tW.
2. Scroll down to a group that was not in view.
3. Open the group
4. Scroll the active check out of view
5. Make a selection, click Save, then

[2019-02-07 22:55] cckozie commented on #5551
Fixed in 1.1.1 (f6a4c6b)

[2019-02-07 23:16] cckozie commented on #5326
Fixed in 1.1.1 (f6a4c6b)

[2019-02-07 23:20] cckozie commented on #5684
Fixed in 1.1.1 (f6a4c6b)

[2019-02-07 23:23] cckozie commented on #5681
Fixed in 1.1.1 (f6a4c6b)

[2019-02-07 23:34] cckozie commented on #5692
1.1.1 (f6a4c6b)
@benjore - This seems like a partial solution. Is it acceptable for 1.1.1?
After importing the exported USFM 3 file, the tool card now shows 100% complete.
However, when the project is loaded in wA, there are no checkmarks on the verses, no completions shown in the circle on the verse tile, and the Alignment complete switch is not set. In the original project imported from Door43,

[2019-02-07 23:42] cckozie commented on #5654
This is mostly fixed in 1.1.1 (f6a4c6b)
The remaining problem of the edit icon not being shown on the verse when it was edited in the expanded scripture pane while another check was active will be fixed in #5776.

[2019-02-08 11:08] PhotoNomad0 commented on #3562
Verified wrong validation fix (https://github.com/translationCoreApps/wordAlignment/pull/148) in https://tc-builds.door43.org/build/release-v1.1.1/translationCore-macos-x64-1.1.1-000d36b.dmg

[2019-02-08 11:09] PhotoNomad0 commented on #5657
Verified in https://tc-builds.door43.org/build/release-v1.1.1/translationCore-macos-x64-1.1.1-000d36b.dmg

[2019-02-08 11:15] PhotoNomad0 commented on #5685
Verified in https://tc-builds.door43.org/build/release-v1.1.1/translationCore-macos-x64-1.1.1-000d36b.dmg that we no longer get the alignment changed message when "an" is changed to "the".

[2019-02-08 16:07] benjore commented on #5692
This is, in essence, lost data. Correct me if I'm wrong, but if we get the "Alignment complete" toggles  to persist, then we get the checkmarks & circles for free, right?

Assumption: that this data has been (and can be) captured in the USFM3 spec.

[2019-02-08 20:30] benjore opened #5789 "Increase Hebrew font size in wA tool"
- [ ] Increase by 50%

[2019-02-11 15:05] benjore opened #5790 "Update UHB"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-11 21:07] cckozie commented on #5651
Works in 1.1.1 (2c1a054)

[2019-02-11 21:16] cckozie commented on #5692
The % complete indicated on the wA card is now 100% after the import, as it should be.
However, when loaded in wA the problem listed as #7 above still exists. After the project is imported from USFM3, it should look identical to what was in the project exported; i.e. all of the checkmarks should be shown and the Alignment complete switch should be On on all of the verses.

[2019-02-11 21:20] mannycolon opened #5797 "Load GroupData/GroupIndex base on GL selected for tN"
## Story Explanation
### User Story

As a tC user, I want tools to be built such that the checks and group menu are built directly off the GL TSVs so that all my tW & tN checks show up in tC.

### Features / Specifications

- [ ] Filesystem structure of groupData & groupIndex will have to change and be moved out of the Greek resource folder and put into the respective GL folders.
- [ ] Loading of

[2019-02-11 21:21] mannycolon commented on #5797
This is the filesystem structure I'm proposing:

<img width="892" alt="screen shot 2019-02-11 at 4 13 37 pm" src="https://user-images.githubusercontent.com/17072300/52594273-156c7400-2e19-11e9-8d2f-c6602dbee360.png">

[2019-02-11 21:22] cckozie commented on #3562
Holding until the child issues are through QA.

[2019-02-11 21:42] cckozie commented on #5685
1.1.1 (2c1a054)
The problem describe in the first comment has been fixed, but now the reset alignments alert is not displayed when the alignment is then again broken.
To test:
1. Follow steps 1 - 8 above
2. Load the project in wA
3. Align the words as shown here:
![image](https://user-images.githubusercontent.com/8171759/52595317-3b8f1580-2e13-11e9-8023-250d25a2d034.png)
4. Load the project in tW

[2019-02-11 21:46] cckozie commented on #5657
Works in 1.1.1 (2c1a054)

[2019-02-11 22:14] richmahn commented on #5797
tW is different, where it is the same for every language. Yet tN, since different parts of speech/grammar/etc. are different for every language. I still don't think I based tW off the English, but off the ids which had their Resource Container URIs  in the UGNT, and from that could link to the English title/article, Hindi title/article, etc.

[2019-02-11 22:27] cckozie commented on #5686
I'm not seeing the fix for this in 1.1.0 (edc48cb). tW invalidated selections are not caught until the project is loaded in tW. No warning is displayed during import and no broken links are displayed on the tW tool card until after it is loaded in tW.

[2019-02-11 22:39] cckozie commented on #3853
Works in 1.1.0 (edc48cb)

[2019-02-12 01:16] cckozie opened #5798 "Performance issues downloading from and uploading to Door43 in v1.1.0"
These timings were made using this project: https://git.door43.org/lrsallee/en_ult_act_book
Import timings ignore the time spent in the stepper.
v1.0.2
Import from Door43 - 28 seconds
Upload to Door43 - 15 seconds

v1.1.0
Import from Door43 - 61 seconds
Upload to Door43 - 279 seconds

________________________
v1.0.2 (new Mac 75Mbps download speed, 11Mbps upload speed)
Import from Door43 -  29 seco

[2019-02-12 18:44] benjore opened #5799 "In USFM3, Quote marks need to be on the same line as the word they touch"
## Story Explanation
### User Story

As a proofreader, I want the `"` marks to be on the same line as the word they modify (in the same milestone so that we have good, valid USFM.

Talk to Larry, Robert & Klappy to get all the specs.

**_Update_**
Also growing to include correction of format of `\zaln-s` and `\k-s` markers

### Features / Specifications

- [x] Cross Reference #5133
- [ ] Cross Ref

[2019-02-12 18:47] benjore opened #5800 "Close \z markers"
## Story Explanation
### User Story

Looking at http://ubsicap.github.io/usfm/milestones/index.html, it seems that the \zaln-s milestones outputted by tC should be self-closing, i.e., end with \\* like the \zaln-e milestones already do.

_Originally posted by @RobH123 in https://github.com/unfoldingWord-dev/translationCore/issues/5051#issuecomment-434053439_

### Features / Specifications

- [ ]
-

[2019-02-12 18:57] cckozie opened #5801 "Performance problems while the "Loading your project data" alert is displayed (1.2)"
1.2.0 (b25e030)

[es-419_luk_text_reg.zip](https://github.com/unfoldingWord-dev/translationCore/files/2857260/es-419_luk_text_reg.zip) (tstudio file)
[es-419_luk_text_ulb.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2902825/es-419_luk_text_ulb.usfm.zip)

During import of this project the Loading your project data alert is displayed for 72 seconds.
In v1.1.0 it was only disp

[2019-02-12 19:02] benjore opened #5802 "All non-closing USFM tags need to be at the start of a new line"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] `\s5`, `\q`, `\p`, et. al. Need to be at the start of a new line (for USFM2)
- [ ] Consult with Larry, @RobH123 , @jag3773 , and @klappy for full spec.
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-12 19:03] benjore commented on #5802
Notes: This would be helpful before we publish the ULT, but not a blocker, per se.

[2019-02-12 19:16] #5754 closed, assigned to RoyalSix

[2019-02-12 19:27] benjore opened #5803 "Rename 1.1.1 -> 1.1.3"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-12 19:29] benjore opened #5804 "Create 1.1.2 branch off of 1.1"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-12 19:33] da1nerd commented on #5803
Looks good to me

[2019-02-12 19:43] PhotoNomad0 opened #5805 "Missing Data on OT USFM3 Export"
## Story Explanation
### User Story

As an aligner, I want to be able to align an OT book and export it so that I can change the world.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context

Larry Sallee [9:23 AM]
@ben_jore I have a major bug in tC 1.1. I completed the alignment of Ruth, saved to Door43, and generated the USFM3 file wit

[2019-02-12 19:53] benjore opened #5806 "Make git commit every time the menu changes"
## Story Explanation
### User Story

As an aligner, I want a git commit every time I change verses so that the possibility of retrieving data increases.

As a checker, I want a git commit every time I change to a new menu item so that the possibility of retrieving data increases.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
###

[2019-02-12 21:39] lrsallee commented on #5799
Dropping in sample files for ULT Galatians in original tC-exported form, and with manual corrections. Everything fixed except the splitting of "'s" from possessive words. This page would not accept .usfm files, so I changed the extensions to .txt. They need to be changed back for use.
[49-GAL_usfm2_corrected.txt](https://github.com/unfoldingWord-dev/translationCore/files/2857779/49-GAL_usfm2_corre

[2019-02-12 21:43] lrsallee commented on #5799
Issues fixed:

- moved \s5 markers to new line (USFM2)
- moved \q markers to new line (USFM2)
- Added \usfm 3.0 identified to USFM# (and incorrectly to USFM2—please fix)

[2019-02-13 13:59] PhotoNomad0 commented on #5805
Cannot find cause of data loss.  So creating a test build for Larry with:
- adding more frequent git commits (on context changes) to preserve data.
- adding logging of app console.

[2019-02-13 18:31] #5804 closed, assigned to RoyalSix

[2019-02-13 19:38] PhotoNomad0 commented on #5799
After discussion with @RobH123 @lrsallee and @jag3773, we making a change that we do not put a new line before the alignment markers unless there is a space preceding.

[2019-02-13 19:40] PhotoNomad0 commented on #5799
Larry's project:
[en_ult_gal_book.1.zip](https://github.com/unfoldingWord-dev/translationCore/files/2861881/en_ult_gal_book.1.zip)

[2019-02-13 20:48] PhotoNomad0 commented on #5204
@cckozie - verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-ee07c41.dmg

See #5763 for the replacement for `resources/⁨en⁩/⁨bibles⁩/⁨ult⁩/⁨v1⁩/rut` that will allow you to open Ruth in tW.  I did an alignment of Ruth 1:1 so we could test.  Waiting on real aligned OT ult books before more can be done.

[2019-02-13 23:19] da1nerd commented on #5685
@cckozie I just tested this with the latest 1.1.3 code and the reset alignments dialog is being displayed correctly.

[2019-02-13 23:42] da1nerd commented on #5599
@cckozie issue A was supposed to be in 1.2. I realize it looks different from the user's perspective but it's actually the same code in https://github.com/unfoldingWord-dev/translationCore/issues/5686.

[2019-02-14 17:50] cckozie commented on #5685
Works in 1.1.1 (2c1a054) - really 1.1.3

[2019-02-14 17:53] cckozie commented on #5803
The builds show 1.1.3, but the app shows 1.1.1 (2c1a054). Should that be part of the same issue?

[2019-02-14 18:17] cckozie commented on #5204
1.2.0 (c5c12e1)
With the aligned Ruth ULT resource I am able to select either English or Hindi as the gl on the tW tool card. I should only be able to select English since there is not yet an aligned Hindi.

The following was moved to issue #5813.

~~If I make an edit in tW that invalidates the selection, it words as expected.
However, if after making a selection in tW I then make an edit in wA th

[2019-02-14 20:31] cckozie opened #5813 "Edits done in wA that invalidate tW and/or tN selections do no properly affect the tW/tN % complete on the tool card."
1.2.0 ([c5c12e1]
This appears to be a problem in OT books. The test was done with a single check being available in English Ruth. The resource for this can be found in #5763.
If I make an edit in tW that invalidates the selection, it works as expected.
After making a selection in tW I then made an edit in wA that invalidated the selection. The tW tool card then indicates 1 broken link, but it stil

[2019-02-15 17:09] PhotoNomad0 commented on #5599
@cckozie - do you expect to see an edit mark in tw on every check instance for a verse edited in WA?

[2019-02-15 17:37] cckozie commented on #5204
Can't explain the above comment. Using the same build, today I am only seeing English available as the GL in tW. Passing this issue.

[2019-02-15 17:43] cckozie commented on #5599
@PhotoNomad0 - Yes, I would expect to see that. Although I do see that currently the edit mark is only displayed in either tool when the edit is made in that same tool.
@benjore - What say you? Should the edit icon be displayed on the verse in both tools regardless of where the edit was performed?

[2019-02-15 17:47] benjore commented on #5599
@cckozie Yes. That is correct. Eventually, the pencil will be an indicator that there is an edit history that they can go and view. Since we don't have that feature yet, it is merely a notification. But an edit in 1:3, for instance, should result in the pencil icon showing up for all checks occurring in 1:3 and in the wA for 1:3.

[2019-02-16 18:47] cckozie commented on #5805
[Fri Feb 15 2019.log.zip](https://github.com/unfoldingWord-dev/translationCore/files/2872287/Fri.Feb.15.2019.log.zip)

[en_ult_rut_book 2.zip](https://github.com/unfoldingWord-dev/translationCore/files/2872296/en_ult_rut_book.2.zip)

Had a script running that aligned, edited, and realigned verses in Ruth. At the end of the chapters it checks and compares the % complete before and after it uploads

[2019-02-18 14:39] cckozie commented on #5805
I'm suspicious that this may be a race condition. I modified the script to upload the project after every 5 verses. It then failed twice in a row. When the script exits wA to do the upload, it is in the process of scrolling to the top of the word bank. It may be that wA is not done with its processing when the app moves to the projects page.
Again I get a alignments reset message when selecting to

[2019-02-18 18:28] PhotoNomad0 commented on #5805
Notes in testing `en_ult_rut_book 3.zip`:

looking at the git history of the alignment 1.json file, I see:
[code]

It looks like the contents of the `alignments` array is completely deleted! not just the bottom words arrays. Since this is happening in the commit before upload, could there be an alignment save happening while alignment data is still being loaded into the reducer?

Here are the diff

[2019-02-18 18:48] PhotoNomad0 commented on #5805
Notes in testing `en_ult_rut_book 2.zip`:

Similar to `en_ult_rut_book 3.zip`, commit "5ca23f73" - has 3:15 alignment array completely emptied and show 4:20 as being completed at same time.

[2019-02-18 19:02] #5774 closed, assigned to da1nerd

[2019-02-18 19:22] cckozie commented on #5805
Another one just occurred. The project here was zipped up after the alignments reset alert was issued and before it was actually uploaded. I clicked the X to close the alert, closed and restarted tC. It now shows only 1 alignment broken, but I think there were actually 3.
[en_ult_rut_book 4.zip](https://github.com/unfoldingWord-dev/translationCore/files/2877121/en_ult_rut_book.4.zip)
[Mon Feb 18 2

[2019-02-18 19:49] cckozie commented on #5805
I may actually have it in a failure mode now. Just restarted the script on the same project and it failed again. However, this time I did not receive the alignments reset message, I just noticed that the % complete changed from 76% to 74% after the upload and restart.
[Mon Feb 18 2019.log 3.zip](https://github.com/unfoldingWord-dev/translationCore/files/2877205/Mon.Feb.18.2019.log.3.zip)
[en_ult_r

[2019-02-18 20:02] da1nerd commented on #5599
I thought it was going to be an easy hack to get the verse edits to be viewable globally, but now I'm not so certain.

[2019-02-18 21:01] da1nerd commented on #5599
@cckozie can I suggest opening a new issue as a feature addition for item "C" above?
This may take some planning and potentially some internal architecture changes.

[2019-02-18 23:15] da1nerd opened #5816 "Pull in updates to 1.1.3"
We need to merge 1.1.2 into 1.1.3 so we don't miss out on any features/improvements being developed there. Also need to use the latest tool updates for the 1.1.3 branch.

[2019-02-19 13:16] cckozie commented on #4443
Waiting on #5710 since it has problems that relate to both tW and wA.

[2019-02-19 13:19] cckozie commented on #5599
@neutrinog That's a @benjore call.

[2019-02-19 16:36] #5672 closed, assigned to benjore

[2019-02-19 16:36] #5673 closed, assigned to nobody

[2019-02-19 16:36] #5674 closed, assigned to PhotoNomad0

[2019-02-19 16:37] #5726 closed, assigned to mannycolon

[2019-02-19 16:39] #5681 closed, assigned to RoyalSix

[2019-02-19 16:40] #4858 closed, assigned to mannycolon

[2019-02-19 16:42] #5746 closed, assigned to mannycolon

[2019-02-19 16:44] #5803 closed, assigned to mannycolon

[2019-02-19 16:44] #5711 closed, assigned to da1nerd

[2019-02-19 16:44] #5712 closed, assigned to da1nerd

[2019-02-19 16:50] benjore commented on #5800
Dup of #5799

[2019-02-19 16:50] #5800 closed, assigned to nobody

[2019-02-19 16:56] benjore commented on #5801
Could use a spike.

[2019-02-19 16:57] benjore commented on #5802
Do we want to modify incoming USFM files to make it conform?

[2019-02-19 16:58] benjore commented on #5802
Which tags need to be at the beginning? String tags?

[2019-02-19 17:08] benjore commented on #5725
The IRV is only available for Titus, James & Ephesians. Could this be the source of the problem?

[2019-02-19 17:12] benjore opened #5817 "Verify that the `Index.JSON` file is being generated dynamically"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]  Verify that the `Index.JSON` file is being generated dynamically. (it is based off of the English ULT). ~Verified that index.json for all tools is overwritten on download of new en_ult.~
- [ ]  look at #5785
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

##

[2019-02-19 17:16] benjore commented on #5784
Unless English-only solution, it will need a spike

[2019-02-19 17:19] benjore commented on #5696
dup of #5756

[2019-02-19 17:19] #5696 closed, assigned to nobody

[2019-02-19 19:58] mannycolon commented on #5789
Tested on `release-v1.1.3` (24c2775)
https://team43.slack.com/archives/G927YPW04/p1550250968017400

[2019-02-19 19:59] benjore opened #5818 "2019-02-22 Professional Development: Word Alignment Tool"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-19 20:10] #3853 closed, assigned to da1nerd

[2019-02-19 20:10] #5204 closed, assigned to PhotoNomad0

[2019-02-19 20:10] #5326 closed, assigned to da1nerd

[2019-02-19 20:10] #5654 closed, assigned to da1nerd

[2019-02-19 20:10] #5657 closed, assigned to da1nerd

[2019-02-19 20:10] #5684 closed, assigned to mannycolon

[2019-02-19 20:10] #5685 closed, assigned to da1nerd

[2019-02-19 20:10] #5119 closed, assigned to PhotoNomad0

[2019-02-19 20:10] #5551 closed, assigned to da1nerd

[2019-02-19 20:10] #5651 closed, assigned to RoyalSix

[2019-02-19 21:17] PhotoNomad0 commented on #5805
@neutrinog - Larry's latest failure with new build:

[en_ult_rut_book (2).zip](https://github.com/unfoldingWord-dev/translationCore/files/2882028/en_ult_rut_book.2.zip)
[Tue Feb 19 2019.log](https://github.com/unfoldingWord-dev/translationCore/files/2882029/Tue.Feb.19.2019.log)

Below are the changes in git to chapter 2 alignments. It is concerning that there is no record in the git history of his

[2019-02-19 21:36] RobH123 commented on #5802
Possibly this issue comes from my noticing sequences like:
\p
\s5
\v 12 verse text

Even with \s5 being changed to \ts\* or whatever, it seems that the \p belongs in the next chunk at the start of the verse, so:
\ts\*
\p
\v 12 verse text that starts the new paragraph

That same logic also applies to other section headings, e.g., \s \s1 \s2 \s3 \s4 -- a paragraph marker like \p \q \q1 \pi, etc., be

[2019-02-19 23:16] cckozie commented on #5805
1.1.2 (c980115)
Error is generated when attempting to upload a project to Door43 that does not already have a repo there.
<img width="1387" alt="1 1 2 error" src="https://user-images.githubusercontent.com/8171759/53054485-1715e780-346a-11e9-81a0-474d9a3bcca4.png">

[2019-02-20 03:14] cckozie commented on #5805
Now testing with 1.1.2 (343dfec)
[Tue Feb 19 2019.log.zip](https://github.com/unfoldingWord-dev/translationCore/files/2882864/Tue.Feb.19.2019.log.zip)
[en_ult_rut_book 7.zip](https://github.com/unfoldingWord-dev/translationCore/files/2882865/en_ult_rut_book.7.zip)
Received alignments reset alert when uploading. Clicked the X to dismiss the alert. Loaded the project in wA and alignments were still

[2019-02-20 15:45] cckozie commented on #5725
User (tester error). The resources not showing are not available.

[2019-02-20 15:45] #5725 closed, assigned to nobody

[2019-02-20 15:55] cckozie commented on #5789
The upper section is on 1.1.0 (5b1d1cc)
The lower section is on 1.1.3 (24c2775)
They look the same to me.
![image](https://user-images.githubusercontent.com/8171759/53104767-94d30500-34f5-11e9-960b-7ea1b05c9421.png)

[2019-02-20 16:00] mannycolon commented on #5789
Sorry @cckozie, I tested this in the wrong build. For some reason `release-v1.1.3` isn't building new builds since February 15.

[2019-02-20 19:22] mannycolon commented on #5789
`release-v1.1.3` builds are finally working and @neutrinog's changes for the Hebrew text in the drop zone work. However, in the scripture pane the text is still the same size as before.

<img width="864" alt="screen shot 2019-02-20 at 2 21 30 pm" src="https://user-images.githubusercontent.com/17072300/53118320-d6c27200-351a-11e9-96f3-dce043f6c4a7.png">

[2019-02-20 20:13] benjore commented on #5789
@neutrinog @mannycolon I showed a screen shot to the stakeholders. Keep the Hebrew font size in the alignment area the same. Increase the Hebrew font size in the Scripture pane until it takes about as many lines as the English ULT.

Also, please reduce the padding above and below the Hebrew words in the alignment area so that the top box height is similar to what it was with the old font size.

[2019-02-20 20:16] benjore opened #5821 "Make checkboxes clickable if the text associated with it is clicked"
## Story Explanation
### User Story

As a user, I want to be able to toggle a checkbox by clicking on the text associated with it so that I don't have to be so precise with my mouse clicks.

### Features / Specifications

- [ ] . Text like "Do not show this warning again." for accessing the internet, invalidating work in the wA tool, etc.
- [ ] NEED: List of everything that needs to be changed.
-

[2019-02-20 20:36] cckozie commented on #5789
I'm moving this to In Progress since it's not really a QA Fail, but rather changed requirements.

[2019-02-20 21:32] cckozie commented on #5692
Works in 1.1.3 (240da43)

[2019-02-20 23:10] cckozie commented on #4129
Works in 1.1.3 (240da43)

[2019-02-20 23:10] #4129 closed, assigned to nobody

[2019-02-20 23:31] cckozie commented on #5086
1.1.3 (240da43)
I believe that the export now fixes the problems, but the problem in the source text of 2COR still exists.

[2019-02-20 23:47] cckozie commented on #4107
Works in 1.1.3 (240da43)

[2019-02-20 23:47] #4107 closed, assigned to nobody

[2019-02-20 23:50] cckozie commented on #3477
This is now N/A since we catch the duplicate situation on the project details screen, not in an alert.

[2019-02-20 23:50] #3477 closed, assigned to nobody

[2019-02-20 23:51] cckozie commented on #3558
Still a problem in 1.1.3 (240da43)

[2019-02-20 23:53] cckozie commented on #4080
This has been fixed

[2019-02-20 23:53] #4080 closed, assigned to nobody

[2019-02-20 23:59] cckozie commented on #4082
Fixed in 1.1.3 (240da43)

[2019-02-20 23:59] #4082 closed, assigned to nobody

[2019-02-21 00:00] cckozie commented on #4366
Still a problem in 1.1.3 (240da43) , but is being worked on in the new menu system.

[2019-02-21 00:00] #4366 closed, assigned to nobody

[2019-02-21 00:22] cckozie commented on #4417
Looks good in 1.1.3 (240da43)

[2019-02-21 00:22] #4417 closed, assigned to nobody

[2019-02-21 00:26] cckozie commented on #4802
It looks like the link is corrupt. Work is being done on this in other issues.

[2019-02-21 00:26] #4802 closed, assigned to nobody

[2019-02-21 00:28] cckozie commented on #5082
Project imports and opens properly in both tW and wA in 1.1.3 (240da43)

[2019-02-21 00:28] #5082 closed, assigned to nobody

[2019-02-21 00:32] cckozie commented on #5199
Works correctly in 1.1.3 (240da43)

[2019-02-21 00:32] #5199 closed, assigned to nobody

[2019-02-21 15:09] cckozie commented on #4981
I'm not seeing the problem in  1.1.3 (240da43)

[2019-02-21 15:09] #4981 closed, assigned to nobody

[2019-02-21 15:10] cckozie commented on #3522
Still an intermittent problem in  1.1.3 (240da43)

[2019-02-21 15:12] cckozie commented on #4249
It's still the same in  1.1.3 (240da43)

[2019-02-21 15:22] cckozie commented on #4627
1.1.3 (240da43)
The first issue noted, color of the progress circle, is true in terms of the tW tool. However. It is exactly the same color as the blue bar on the left side of the words in the word bank in wA.
The second issue noted, the gap in the background of the menu filter, has been fixed in the new menu.
Closing the issue.

[2019-02-21 15:22] #4627 closed, assigned to nobody

[2019-02-21 15:35] cckozie commented on #4926
1.1.3 (240da43)
Followed sequence outlined above. Imported the exported Acts 5 times with no noticeable slowing.

[2019-02-21 15:35] #4926 closed, assigned to nobody

[2019-02-21 15:46] cckozie commented on #5057
Not a problem in 1.1.3 (240da43). Loading Acts in tW takes about 5 seconds with base resources, and another couple of seconds with more languages (10) available.

[2019-02-21 15:46] #5057 closed, assigned to nobody

[2019-02-21 18:05] cckozie commented on #5288
I think we need to have Jobby follow up on this until it gets resolved.

[2019-02-21 19:05] da1nerd commented on #5789
@benjore the extra spacing is due to the font. I don't know Hebrew, but perhaps there can be other characters that extend higher up? If we decrease the padding in those cases we will have too little padding.

[2019-02-21 19:08] cckozie commented on #5262
1.1.3 (240da43)
This is still an intermittent problem. No errors in the console, but the icon on the verse sometimes is out of step with the one in the status bar and the bookmark switch on these two verses. As mentioned above, turning the switch off now turns the verse tile icon on and vice versa.
It also sometimes fails when turning the bookmark switch off. The icon in the status bar goes off, b

[2019-02-21 20:31] da1nerd commented on #5805
I discovered part of the problem. When a verse is edited the verse validation is performed on the old version of the verse instead of the new version of the verse (race).

[2019-02-21 20:34] da1nerd commented on #5805
@PhotoNomad0 from the git logs you show in your last comment I'm not certain Larry had the correct build. There should be "Auto save" messages in the git log.

[2019-02-21 22:42] benjore opened #5824 "Keep column headers showing in the Expanded Scripture Pane"
## Story Explanation
### User Story

As a user, I want the language names to stay visible in the expanded Scripture pane so that I always have context easily visible.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-21 22:42] benjore commented on #5824
Suggested by Robert.

[2019-02-21 23:11] da1nerd commented on #5805
OK! I've figured out exactly what's broken.
When a *project is opened* tc will execute `triggerWillConnect` on the tool api which will set things up including subscribing to the tool's redux store. When the *tool is closed* tc executes `triggerWillDisconnect` on the tool api which will tear things down including unsubscribing from the tool's redux store. Therein lies the problem.

* The tool conne

[2019-02-22 00:11] da1nerd commented on #5789
should the scripture pane part be assigned to someone else since I'm not as familiar with that code?

[2019-02-22 00:14] #5723 closed, assigned to da1nerd

[2019-02-22 00:14] da1nerd commented on #5818
alignment magic.

[2019-02-22 11:21] PhotoNomad0 commented on #5805
@cckozie - verified in https://tc-builds.door43.org/build/release-v1.1.2/translationCore-macos-x64-1.1.2-dfa9985.dmg

This is a fix for the problem that when you exit the WA tool then alignments stop saving to disk until new project selected or app restarted.

[2019-02-22 13:04] cckozie commented on #5805
Getting the Error uploading message as in the comment above from 3 days ago.

[2019-02-22 16:17] benjore opened #5827 "Make expanded scripture pane resizable (horizontal & vertical)"
## Story Explanation
### User Story

As a user, I want to move and expand the scripture pane so that I can see what is happening behind it and so that I can see more resources that I loaded at the same time.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-22 16:17] benjore commented on #5827
From Robert

[2019-02-22 17:13] benjore commented on #3642
deprecated

[2019-02-22 17:13] #3642 closed, assigned to nobody

[2019-02-22 17:24] benjore commented on #5405
Dup of #4742

[2019-02-22 17:24] #5405 closed, assigned to nobody

[2019-02-22 17:25] #5412 closed, assigned to nobody

[2019-02-22 21:53] mannycolon commented on #5752
`Tested on build:` Develop (v1.2.0 b7082bf)

[2019-02-22 21:53] mannycolon commented on #5757
`Tested on build:` Develop (v1.2.0 b7082bf)

[2019-02-22 21:55] mannycolon commented on #5757
May not be testable until tN is available. However, the data can be downloaded and found in `translationCore/resources/en/translationHelps/translationNotes`

[2019-02-22 21:55] mannycolon commented on #5752
May not be testable until tN is available. However, the data can be downloaded and found in `translationCore/resources/en/translationHelps/translationNotes`

[2019-02-22 22:35] da1nerd commented on #5805
I've identified the upload issue. Working on a fix.

[2019-02-23 01:15] cckozie commented on #5757
1.2.0 (b7082bf)
The data is as noted above.

[2019-02-23 01:15] cckozie commented on #5752
1.2.0 (b7082bf)
The data is there as noted above.

[2019-02-23 07:39] mannycolon commented on #5805
Tested on `fa21e2e (v1.1.2)`

[2019-02-23 12:17] PhotoNomad0 commented on #5805
Was able to upload my project that would not upload also https://tc-builds.door43.org/build/release-v1.1.2/translationCore-macos-x64-1.1.2-fa21e2e.dmg

[2019-02-25 17:27] cckozie commented on #5805
1.1.2 (fa21e2e)
Ran the align, edit, realign, every verse and upload every 3 verses script on Ruth for approximately 80 hours and 40 full alignments with no problems found.

[2019-02-25 18:58] benjore commented on #5789
That's fine with me

[2019-02-25 19:23] benjore opened #5832 "Show verse edit Indication in all tools regardless of where the edit was performed"
## Story Explanation
### User Story

As a user, I want the edits in one tool to be demonstrated as the pencil icon in the menu bar in another tool so that I know which verses have been edited.

### Features / Specifications

- [ ] ISSUE C: When a verse is edited in wA, the edit icon is not displayed on the verse in tW.
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
#

[2019-02-25 22:00] #5818 closed, assigned to da1nerd

[2019-02-25 22:13] cckozie opened #5833 "The 'Loading your project data' alert is not displayed when an existing project is selected"
1.2.0 (b25e030)

The alert is being displayed when a project is imported, but not when a previously imported project ios selected.

[2019-02-25 22:51] mannycolon commented on #5686
Tested on b25e030 (v1.2.0)

[2019-02-26 04:19] mannycolon commented on #5799
Tested on c6de621 (v1.1.3)

[2019-02-26 12:01] PhotoNomad0 commented on #5799
@cckozie - the changes made are listed in the definition of done above (merged in from a couple other issues that were combined).

Note that Larry's comment above about `\s5` and `\q` markers is covered in https://github.com/unfoldingWord-dev/translationCore/issues/5802 that is still waiting on the USFM expert to weigh in.

[2019-02-26 12:55] PhotoNomad0 commented on #5689
@benjore @cckozie - seems to be frequent socket timeouts.  Suspect this is related to updating packages used as suggested by dependabot since this now is happening frequently on good connections.

[2019-02-26 12:58] RoyalSix commented on #5797
#5831

[2019-02-26 12:59] RoyalSix commented on #5760
#5831

[2019-02-26 16:02] PhotoNomad0 commented on #5806
This was added as part of a different issue: https://github.com/unfoldingWord-dev/translationCore/issues/5805

[2019-02-26 16:34] PhotoNomad0 commented on #5789
Cleared with @benjore  that this is OK for Hebrew in Scripture Pane: ![screen shot 2019-02-26 at 10 22 33 am](https://user-images.githubusercontent.com/14238574/53429290-57212100-39ba-11e9-9472-2bde5787f551.png)

[2019-02-26 16:52] mannycolon commented on #5689
@PhotoNomad0 How is dependabot related to this issue?

[2019-02-26 17:56] cckozie opened #5835 "Verse edit is broken"
1.2.0 (b25e030)
Edits are not applied when using either the the verse edit form in tW or the expanded scripture pane in either tool.

[2019-02-26 18:26] cckozie commented on #5686
1.2.0 (b25e030)
There are still several problems, although I'm not sure which should be fixed on this issue and which should be on other issues.
Issue A:
When the file containing the external edits is imported, the user still does not receive the reset alignments alert until the project is loaded in tW.

Issue B:
When the edited project is loaded in tW, the % complete circles are not updated until

[2019-02-26 18:34] PhotoNomad0 opened #5836 "Attach New Log files to User Feedback"
## Story Explanation
### User Story

Now that we have Log files being saved, it would be nice to attach them when the user submits feedback (optional) so that we can troubleshoot problems (hopefully).
Also would be nice to change log file naming to use UTC instead of localized.

Note that the current attach log files checkbox does nothing.

### Features / Specifications

- [ ] Send current session

[2019-02-26 18:57] RobH123 commented on #5802
@benjore Can you pls clarify the reason behind this issue, i.e., what is the underlying problem?

As far as the USFM3 spec goes, it allows markers to be on a new line, even if  that implies the existence of a superfluous space which later has to be removed. (I personally think that the spec is faulty in this regard -- see https://github.com/ubsicap/usfm/issues/5.) In order words, the USFM 3.0 spec

[2019-02-26 19:16] RobH123 commented on #5799
In that gal book referenced above, the first \s5 marker should be AFTER the \c 1 marker. Oh, they all should be after the \c markers in the file, so:
\c 2
\s5 (ts)
\p
\v 1 verse text

[2019-02-26 19:21] RobH123 commented on #5799
I can't find a file with \k markers in it to check if the \k-s\\* have matching \k-e\\* markers. (If not, I think they're not correct USFM3.)

If they are standalone milestones, they should be \k\\* (like \ts\\*) although it's unclear to me from the USFM3 documentation (http://ubsicap.github.io/usfm/master/milestones/index.html) if either of those are technically correct (and it seems that we are

[2019-02-26 20:22] cckozie commented on #5806
1.1.2 (fa21e2e)
**PLEASE WAIT FOR AN INDICATION FROM @benjore IF THIS FIX SHOULD BE APPLIED TO 1.1.2 OR HELD OFF UNTIL 1.1.3.**

Commits are not made until after the first upload to Door43. That really isn't sufficient.
I made some alignments, verse edits, and tW selections, and no git commits were made for any of them until I uploaded to Door43.
Once the project was upload the commits were all ma

[2019-02-26 20:24] mannycolon opened #5837 "Develop architecture to consolidate duplicate code between tN & tW"
## Story Explanation
### User Story

As a tC developer, I want both tools (tN & tW) to share duplicate code so that when code needs to be edited/changed/modified/refactor/etc I don't have to change two different codebases.

### Features / Specifications

- [ ] Suggested implementation: Come up with a HOC that holds only the duplicate code between tN & tW and add it to the respective tools.
- [ ] C

[2019-02-26 21:38] cckozie commented on #5799
Question for @benjore @RobH123
Per the USFM3 spec for the \usfm marker; "USFM version specification for the file.
Used to identify the USFM version which a USFM editor / processor will be required to support in order to manage all markup found within the file."

In v1.1.3 (c6de621) we are inserting a \usfm 3.0 marker into all USFM exported files regardless of whether or not they have any 3.0 marke

[2019-02-26 22:00] RobH123 commented on #5799
@cckozie I wouldn't recommend it just yet. A USFM2 importer (like Paratext 8.0 or Bibledit) might reject loading it.

However, over time as USFM2 fades and USFM3 prevails (esp. once the forthcoming Paratext 8.1 is released which will handle USFM3.0), USFM2 importers will become obsolete/irrelevant and then it won't matter.

It seems to me that the main difference between what we are calling USFM2

[2019-02-27 11:25] PhotoNomad0 commented on #5789
@benjore - does this look good for the alignment area?  Heights are now the same and it seems to have about the same room for ascenders and descenders.

![screen shot 2019-02-26 at 3 51 34 pm](https://user-images.githubusercontent.com/14238574/53486971-3909fe00-3a58-11e9-824b-b27b58d70086.png)

[2019-02-27 14:23] PhotoNomad0 commented on #5599
@cckozie - @benjore has split out item C into a new issue.  Are items A & B still broken?

[2019-02-27 15:02] cckozie commented on #5599
@neutrinog - Should this be In QA?

[2019-02-27 17:00] cckozie commented on #5710
1.1.3 (4f85a74)
From ISSUE 1: E above;
The badges need to be ordered the same as they were in the old menu as shown in the screenshot above.
The badges need to be left aligned in two columns as they were in the old menu.

ISSUE 2: D above has not been fixed.

ISSUE 6 above: None of this has been fixed

[2019-02-27 17:07] mannycolon opened #5846 "Zip translationHelps & lexicon files in tC static resources"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] This will reduce the build size
- [ ] Will significantly Improve startup time on fresh install (user without translationCore folder in users path)
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-02-27 17:25] cckozie opened #5847 "Selection problems after a verse has been edited"
1.1.3 (4f85a74)
There are two related problems in this scenario; selections reset message is displayed but selections are not actually reset, and the wrong text ends up being highlighted
1. Load a Romans project in tW
2. Navigate to verse 4:12 in the Abraham group
3. Select the text "Abraham became the father"
4. Click Save, then Save & Continue
5. Open the expanded scripture pane
6. Edit verse 4:

[2019-02-27 18:53] da1nerd commented on #5599
Issue A will be  handled in #5687. @RoyalSix has been working on this. Though I don't think tC has been updated to properly trigger his new `validateVerse` API yet when a verse is edited. @RoyalSix if you're verse validation is ready I can update tC's verse edit to trigger the appropriate api methods.

Issue B has been fixed.

[2019-02-27 19:01] da1nerd commented on #5599
Fyi the update in tC I referenced above begins on this line https://github.com/unfoldingWord-dev/translationCore/blob/develop/src/js/actions/VerseEditActions.js#L75

Basically we'll need to simplify those lines a lot and just blindly loop through all the tool APIs triggering `validateVerse`.

In which case the comment in the code about this being a "hack" would not longer apply since we wouldn't n

[2019-02-28 01:19] PhotoNomad0 commented on #5789
Verified in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-e6e6f45.dmg

[2019-02-28 18:35] cckozie commented on #5789
Pinged Larry to see if it's OK for the word to be split in the scripture pane.

![image](https://user-images.githubusercontent.com/8171759/53589581-583a8580-3b55-11e9-9eb5-d22020b48613.png)

[2019-02-28 18:37] RoyalSix commented on #5797
https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-45fa8a2.dmg

[2019-02-28 18:44] RoyalSix commented on #5753
https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-45fa8a2.dmg

[2019-02-28 18:47] RoyalSix commented on #5760
https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-45fa8a2.dmg

[2019-02-28 19:11] cckozie commented on #5599
1.1.3 (982b0d9)
Issue B has been fixed. Now only the broken link icon is displayed on the menu tile.

[2019-02-28 19:37] RoyalSix commented on #5686
@cckozie Ok. I will just work on a fix for each one and attach PR here.

[2019-02-28 19:49] RoyalSix commented on #5686
## Tasks
- [x] When the file containing the external edits is imported, the user still does not receive the reset alignments alert until the project is loaded in tW.
- [x] When the edited project is loaded in tW, the % complete circles are not updated until the check group is opened.
- [x] The broken link icon is not displayed on the menu tiles, but only in the hover over.
Note that the completion

[2019-02-28 19:50] RoyalSix opened #5852 "When the file containing the external edits is imported, the user still does not receive the reset alignments alert until the project is loaded in tW."

[2019-02-28 20:04] PhotoNomad0 commented on #5710
@cckozie - Checking https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-982b0d9.dmg

**on Issue 1: E:**

I am seeing badge alignment as below.  Is this good for column alignment:

![screen shot 2019-02-28 at 2 54 54 pm](https://user-images.githubusercontent.com/14238574/53594675-609cbb80-3b69-11e9-8d45-f818d8a856a9.png)

But when I change the toggles, it looks like ne

[2019-02-28 20:17] cckozie commented on #5710
@PhotoNomad0
Concerning badge alignment; no it is not good. Only the left column is left aligned, both should be as they were in the previous version of the menu. (See images above)
Concerning their ordering; they should always be ordered left to right, top to bottom, in the same order as the checkboxes (Invalidated, Bookmarks, Selected, Verse Edit, Comments) regardless of which ones are checked.

[2019-02-28 20:23] PhotoNomad0 commented on #5710
@cckozie - Oh, you want the badges aligned with badge above.

[2019-03-01 10:51] PhotoNomad0 opened #5853 "Cannot upload to Door43 using Linux"
## Story Explanation
### User Story

Robert Hunt cannot upload to his account on Door43 using release-v1.1.2.
The symptoms are that the uploading dialog is on the screen for an extremely long time and gets error:
[code]
He is using Ubuntu Cosmic (18.10) with KDE desktop manager @RobH123

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Cont

[2019-03-01 12:47] PhotoNomad0 commented on #5853
Installed `Kubuntu 18.10` in a virtualbox.  Set it up, installed tCore https://tc-builds.door43.org/build/release-v1.1.2-RC2/translationCore-linux-x64-1.1.2-d218d0f.deb and created a snapshot before I even logged into tCore (speeds up testing to be able to just restore snapshot).

The first upload attempt I got a popup that an error occurred logging into D43.
![screen shot 2019-03-01 at 11 21 09 a

[2019-03-01 16:33] PhotoNomad0 commented on #5710
Note: have badge ordering fixed.  Looking at fixing column ordering.

[2019-03-01 18:28] cckozie commented on #5799
1.1.3 (982b0d9)
Regarding "correct output format of `\zaln-s` markers (adding the `\*` terminator)";
I wasn't sure of the exact meaning of the statement, so I performed a couple tests importing a slightly modified version of the original usfm3 file Larry attached above. Both tests ended up with corrupted data, although I'm sure that this issue was intended to fix the problems discovered.

In the f

[2019-03-01 18:45] #5764 closed, assigned to bspidel

[2019-03-01 18:46] #5765 closed, assigned to bspidel

[2019-03-01 20:00] cckozie opened #5855 "Problems and questions noted in tN"
1.2.0 (b7e490a)
I've started testing tN even though all of the child issues are not yet in QA. This is a place holder for problems I've noted and questions I have about both the code and the content.

1. On the tN tool card, the load button should be disabled when none of the checkboxes are checked. (#5756)
2. The icon, and the text and capitalization of the categories (disregarding sub-categories

[2019-03-01 20:48] cckozie commented on #5855
These are issues that I believe are related to 1.1.3 fixes that have not yet been ported to 1.2.

~1. The menu does not scroll when at the bottom and Save & Continue is clicked. The next activated verse is out of view~
~2. Editing a verse in the scripture pane puts edit icon on active verse, not edited verse~
3. When a verse is edited in the expanded scripture pane that resets a selection, the ale

[2019-03-01 21:41] cckozie commented on #5599
All fixed or moved.

[2019-03-01 21:43] cckozie commented on #5753
1.2.0 (b7e490a)
It fundamentally works.

[2019-03-01 21:45] cckozie commented on #5797
1.2.0 (b7e490a)
Seems to be working

[2019-03-01 21:46] cckozie commented on #5758
1.2.0 (b7e490a)
Data exists after upgrade

[2019-03-01 21:50] cckozie commented on #5760
1.2.0 (b7e490a)
@RoyalSix - Please check to see if this is a problem with the content or the code.

In the Personification group of Titus, verse 2:12, the smurf bar text is really related to verse 2:11, and it also has some strange text
<img alt="212" width="571" src="https://user-images.githubusercontent.com/8171759/53664315-c8b4d580-3c2d-11e9-8405-3e60a5f0c559.png">

[2019-03-02 15:36] PhotoNomad0 commented on #5853
Created a test build with additional logging to see where upload may be failing.

https://tc-builds.door43.org/build/release-v1.1.2-RC3/translationCore-linux-x64-1.1.2-e4ce07e.deb

Unfortunately, I can't get it to fail again.

[2019-03-04 02:23] jobbyp commented on #5288
I can look into this.

JP

On Thu, 21 Feb 2019 at 13:05, cckozie <notifications@github.com> wrote:

--
Jobby Prasannan

[2019-03-04 12:54] PhotoNomad0 commented on #5853
From @RobH123

@bruce.mc Don't tell @jag3773 but I upgraded to the next (19.04) version of Ubuntu over the weekend (yeah, I'm a bit bleeding edge :zany_face:) and it just worked first time. This means: 1/ my project files weren't the problem, 2/ Special chars in my user name weren't the problem. It doesn't mean that it'll work again next time but hopefully it will. If it wasn't for the fact that y

[2019-03-04 13:17] PhotoNomad0 commented on #5710
@cckozie - how does this look for alignment of badges?

![screen shot 2019-03-04 at 8 16 37 am](https://user-images.githubusercontent.com/14238574/53735776-e19fcf80-3e55-11e9-8344-8529ba4d9e40.png)

@PhotoNomad0 Alignment looks good.

[2019-03-04 13:36] PhotoNomad0 commented on #5710
@benjore @cckozie Status
- ISSUE 1: E - have fixes for this

- ISSUE 2: D - limitation of material UI menu, do we want to refactor the group menu again to make the filter a separate component.  If we want to make this change, maybe move this to release 1.2

- ISSUE 6 - seems to be working now, fixed in other issue?  Maybe Jay's fix for verse edits fixed this.

[2019-03-04 14:23] PhotoNomad0 commented on #5853
After several attempts, got a log trace now with the RC4 build, but succeeded on second attempt.

[Mon Mar 04 2019.log.zip](https://github.com/unfoldingWord-dev/translationCore/files/2927096/Mon.Mar.04.2019.log.zip)

[2019-03-04 15:05] cckozie commented on #5710
I think 2:D is fine as is. I think the proper fix would be to have the top Menu tile a separate component rather than part of the actual menu list. The problem existed in the previous version of the menu as well.

[2019-03-04 16:21] cckozie opened #5859 "Performance issues in 1.2 during 'Loading your project data' process"
1.2.0 (b7e490a)
[46-ROM.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2927234/46-ROM.usfm.zip)

I imported a Romans usfm2 project.
When selecting the project in v1.1.3, the 'Loading your project data' alert is displayed for less than 5 seconds before the tools page is displayed
When selecting the same project in v1.2, the alert is displayed for 25 seconds before the tools pa

[2019-03-04 16:28] cckozie opened #5860 "Cannot load project in wA in v1.2"
1.2.0 (368d706)
[46-ROM.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2927263/46-ROM.usfm.zip)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/b12054d5-3e59-4c07-b86a-df16693e2c49)

[2019-03-04 17:44] PhotoNomad0 commented on #5799
@cckozie - here is what is wrong with our current alignment format that does not match spec.  The red circles are flagging newlines that should not be there according to the spec (new line is used as a substitute for spaces within a verse, so extra newlines would be interpreted as extra spaces).  The blue circle indicates where there should be a terminator (`\*`) for the `\zaln-s` marker.

![scree

[2019-03-04 17:49] PhotoNomad0 commented on #5799
This is how it should look:
[code]

Basically the `\*` is supposed to indicate the end of the parameters for the `\zaln-s` marker.

[2019-03-04 17:59] PhotoNomad0 commented on #5799
@cckozie @RobH123 - here is an example from our catalog with the `\k` markers https://git.door43.org/Door43-Catalog/el-x-koine_ugnt/src/branch/master/49-GAL.usfm.  Basically they are used to connect more that one word to a translationWord.  In the file (line 23) there is missing the `\*` at the end of the `\k-s` marker:

[code]

should be
[code]

there are also extraneous newlines in the example f

[2019-03-04 18:22] PhotoNomad0 commented on #5799
@RobH123 @benjore @cckozie - the `\usfm 3.0` marker needs clarity.  Maybe it was thought that we would only add it to usfm export if there are alignments included.  If that was the case, it could cause some problems.  Here are some use cases to consider:

- if the user has edited and added usfm3 markers (there are a lot of them) in the project, do we add the `\usfm 3.0` marker on export to usfm wi

[2019-03-04 18:45] cckozie commented on #5710
@benjore would like to see this fixed for 1.1.3, but has time-boxed it to 1 day. If it will take longer than that, we'll move it to 1.2.
I found another issue:
ISSUE 8: [Fixed in 1.1.3 (e1fae24)]
When the checks in the active menu group are not all in view, as the user makes selections and clicks the Save the Save & Continue buttons, the active check eventually goes below the viewable area and the

[2019-03-04 19:02] RobH123 commented on #5799
Yeah, my test on Paratext 8.0 (which is not the forthcoming USFM3 compatible 8.1) shows that it simply ignores the \usfm 3.0 marker, in order words, it reads the file fine.

USFM2 will soon be forgotten except as a subset of USFM3 which I expect most Bible translation software will handle by the end of the year. So @PhotoNomad0 , I think the easiest solution to your problems above is just to alway

[2019-03-04 20:01] cckozie commented on #5789
Per @benjore - Yes, this does need to be fixed. Zero width joiners, I think. I'm going to create a new issue for this (#5863)
In all likelihood this is not really related to the increased font, and probably is also an issue in other languages (such as Hindi) that use zero width joiners. The scripture pane needs to be fixed so that it does not allow breaking a 'word' that includes a zero width join

[2019-03-04 20:22] cckozie opened #5863 "Scripture pane should not break lines on a zero width joiner"
![image](https://user-images.githubusercontent.com/8171759/53589581-583a8580-3b55-11e9-9eb5-d22020b48613.png)

This problem was discovered when testing the enlarged Hebrew font issue, and it is probably also an issue in other languages (such as Hindi) that use zero width joiners. The scripture pane needs to be fixed so that it does not allow breaking a 'word' that includes a zero width joiner.

[2019-03-04 20:37] PhotoNomad0 commented on #5710
@benjore @cckozie - is the one day time boxing for making the filter a separate component?  Or is it for fixing the auto-scroll below?

[2019-03-04 20:40] cckozie commented on #5710
@PhotoNomad0 - It is for the auto-scroll issue. Making the filter a separate component will be for something way down the line.

[2019-03-04 22:42] RoyalSix commented on #5686
A) seems to be fixed on the latest. I am using this build https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-b7e490a.dmg
@cckozie

[2019-03-05 15:00] cckozie commented on #5799
1.1.3 (5a14a95)
Regarding adding the \usfm 3.0 marker to usfm2 exported files, it appears to be acceptable at this point, so I'm writing up a new issue for it. (#5864 )
Regarding the comments about tests done on 1.1.3 (982b0d9):
The tests performed tested problems with the imported file which are not related to this issue. I am writing up another issue to deal with the problems of the missing \zal

[2019-03-05 15:00] #5722 closed, assigned to nobody

[2019-03-05 15:00] #5721 closed, assigned to nobody

[2019-03-05 15:04] cckozie opened #5865 "Missing \zaln-e markers cause data corruption"
1. I removed the "\*" after the first \zaln-e in verse 1. I then imported the modified file and opened it in wA. Verse 1 now only contains the word Paul.

2. I removed the first "\zaln-e\*" in verse 1. I then imported the modified file and loaded it in wA. Verse 1 now has all Greek words joined and all English words aligned to the group.

Imported and exported files here:
[test files.zip](https://

[2019-03-05 15:51] benjore opened #5866 "Base versification off of UGNT & UHB (not ULT)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] What would it take to pivot all of the versification in tC to the Original Languages (UGNT for the NT and UHB for the OT)?
- [ ] Note: There may be one exception to this - In wA, If there is an extra verse in the target language, that might need to show up in th

[2019-03-05 16:04] cckozie opened #5867 "1.1.2 (134656f) App hangs on loading screen on fresh install"
I deleted the two translationCore folders and then started tC. Been hanging on the loading screen now for 8 minutes. Console will not open. Eventually failed to start with this message:
![image](https://user-images.githubusercontent.com/8171759/53818968-a32a1380-3f2e-11e9-9fc7-6d78f38fa282.png)
[mac error log.txt.zip](https://github.com/unfoldingWord-dev/translationCore/files/2931736/mac.error.log

[2019-03-05 16:58] benjore opened #5868 "Make expanded scripture pane draggable"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-03-05 17:00] benjore commented on #5868
See #5737

[2019-03-05 17:02] mannycolon commented on #5868
See: https://material-ui.com/demos/dialogs/#draggable-dialog

[2019-03-05 17:07] benjore commented on #5115
What is the best solution?

[2019-03-05 17:07] mannycolon commented on #5837
I propose creating a Higher Order component to accomplish this. We could call it tool-wrapper (or something else) It will inject the data needed by the tools as props.

See: [Higher Order Components](https://reactjs.org/docs/higher-order-components.html)

[2019-03-05 17:56] cckozie commented on #5859
Dup of #5801

[2019-03-05 17:56] #5859 closed, assigned to nobody

[2019-03-05 18:20] PhotoNomad0 commented on #5710
Tested in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-win-x64-1.1.3-836a5d9.setup.exe

[2019-03-05 19:35] #5789 closed, assigned to da1nerd, PhotoNomad0

[2019-03-05 19:35] #5799 closed, assigned to PhotoNomad0

[2019-03-05 19:35] #5805 closed, assigned to da1nerd, PhotoNomad0

[2019-03-05 20:07] mannycolon commented on #5745
Had trouble with builds after upgrading to latest Electron version

[2019-03-05 20:11] #5759 closed, assigned to mannycolon

[2019-03-05 20:12] mannycolon commented on #5759
see: #5837

[2019-03-05 22:11] cckozie commented on #5710
Issues 1:E and 8 are fixed in 1.1.3 (836a5d9)

[2019-03-05 22:15] cckozie opened #5875 "The original language is not automatically loaded into the scripture pane in tW"
1.1.3 (836a5d9)
Only the target and GL are automatically loaded into the scripture pane in tW.

[2019-03-05 22:40] cckozie commented on #5710
Issue #6 was not fixed in #5599 as Joel suggested. This seems to be somewhat dependent on the sequence of events. Here is one way to reproduce with this file:
[46-ROM.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2933488/46-ROM.usfm.zip)
1. Import the file and load in tW
2. Open the 'disobey' group
3. Click on verse 11:30
4. Select 'disobediance'
5. Click Save
6. Click Save

[2019-03-05 23:19] cckozie opened #5876 "Only show selections in the expanded scripture pane for the active/current check"
## Specs
- [ ] Only the selections for the current check should show in the Expanded Scripture Pane.
- [ ] If a whole word is selected, ensure that only the same whole words are highlighted in the expanded scripture pane.

1.1.3 (836a5d9)
Still a problem in 2.1.0 (7adcd44)
ISSUE A:
I imported a Romans usfm2 project and made some selections. I opened the expanded scripture pane and noticed that onl

[2019-03-06 02:51] cckozie commented on #5867
It always fails on one of my MacBooks and always works on the other. Here is a system log from the console app. There are a number of entries related to tC.
[system log.txt.zip](https://github.com/unfoldingWord-dev/translationCore/files/2934087/system.log.txt.zip)

[2019-03-06 11:37] PhotoNomad0 commented on #5853
@cckozie - This is not necessarily a fix, since Robert's problem could not be reproduced after adding the git fix.  And Robert no longer has the problem after updating his Kubuntu version.  What this adds is additional logging to capture details if there is a future upload error.

To test just do an upload to Door43 and will see some logging of the steps that succeeded.  This way we can see what w

[2019-03-06 13:54] cckozie commented on #5867
There are the same log messages on the one that works and the one that doesn't
![image](https://user-images.githubusercontent.com/8171759/53886154-ff4f6f00-3fe4-11e9-9576-abb86d5fb990.png)

Using this build on the failing machine it did eventually startup after 10 minutes and 46 seconds.

Specs for failing machine:
Model Name:	MacBook Air
  Model Identifier:	MacBookAir6,2
  Processor Name:	Intel C

[2019-03-06 14:40] PhotoNomad0 commented on #5863
Looking at the problem with Hebrew and splitting.  It is not so simple, in this example they are using a ZERO WIDTH SPACE (U+200B) in this text,  which does not mean to keep the words together.  There is a ZERO WIDTH JOINER (U+200D) defined, but it looks like that is deprecated and they should use WORD JOINER (U+2060) instead. Ref https://stackoverflow.com/questions/11392312/zero-width-non-breakin

[2019-03-06 15:34] PhotoNomad0 commented on #5863
Tested using WORD JOINER (U+2060) and it does keep the words together in Scripture Pane.

[2019-03-06 15:38] PhotoNomad0 commented on #5863
@benjore - this looks like a content issue.  If we try to work around in code, we could annoy people working in other languages.

[2019-03-06 15:39] benjore opened #5884 "Change tools icons"
## Story Explanation
### User Story

As an OCD icon creator, I want my inspired stroke of genius to be implemented in tC so that I can feel self-actualized!

### Features / Specifications

- [ ] Word Alignment icon: [image (11).png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/6815cd34-869d-4ca6-a4e2-d5771b96098a).
- [ ] tW - ![logo-utw-256](https://user-images.githubusercontent.c

[2019-03-06 19:39] cckozie commented on #5867
Tested using 1.0.2 on failing machine and it also takes about 11 minutes to startup.
Testing with latest 1.1.3 build, and it is also taking a long time to startup. 11+ minutes.
Using 1.1.2 without migrations it starts up in 7 seconds.

[2019-03-06 19:45] PhotoNomad0 commented on #5710
@cckozie - was able to reproduce, looks like it is doing the reset and edit on the active verse, not the edited verse and not showing the invalidation on the edited verse until I select it.

[2019-03-06 20:58] PhotoNomad0 commented on #5710
@cckozie - I realized I was running 1.1.2 when I reproduced the problem, so this looks like it's been around a while.

[2019-03-07 13:50] PhotoNomad0 commented on #5710
Also is an issue where there are multiple checks with the same group id in a verse.

[2019-03-07 15:56] #5054 closed, assigned to nobody

[2019-03-07 16:10] benjore opened #5885 "Select multiple words at once in Word Alignment (wA) (in the word bank)"
## Story Explanation
### User Story

As an aligner of the UST, I want to select many words at once so that I don't have to click so many times.

### Features / Specifications

- [ ] When one word is selected in the word bank, if the user Shift-clicks another word, select all the words in between.
  - [ ] If there are words already used in between the selected word and the shift-clicked word, then

[2019-03-07 16:17] benjore opened #5886 "[4] SPIKE: Base versification off of Original languages rather than English ULT"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] What would it take to pivot all of the versification in tC to the Original Languages (UGNT for the NT and UHB for the OT)?
- [ ] Note: There may be one exception to this - In wA, If there is an extra verse in the target language, that might need to show up in th

[2019-03-07 16:20] benjore commented on #5866
Blocked by spike

[2019-03-07 17:59] cckozie commented on #5867
Found that the problem was related to having Avast security running. With its realtime monitors disabled, tC started in 44 seconds, only 6% of the time required with Avast monitors running.
Curious as to why the result is so different on my 2 Macs are they are both running Avast 13.12 OSX 10.14.3 (18D109).

[2019-03-07 17:59] #5867 closed, assigned to mannycolon

[2019-03-07 18:00] cckozie commented on #5853
I have no way to test this.

[2019-03-07 18:06] cckozie commented on #5806
View git history by navigating into the project directory and entering 'git log' in terminal.

[2019-03-07 18:19] cckozie commented on #5806
Works in 1.1.2 (134656f)

[2019-03-07 18:28] RoyalSix opened #5887 "When the edited project is loaded in tW, the % complete circles are not updated until the check group is opened."
Notes: This is not working because the "SET_INVALIDATED" action is not being called until after you navigate to the check in the menu

[2019-03-07 19:22] benjore opened #5888 "Failed USFM import of txt file saved from Word"
## Story Explanation
### User Story

**Benjamin Sullivan would like to be able to import this file.**

Benjamin had problems after doing USFM import of this text file that has accented characters (saved from Word).  All the accented characters were flagged as unknown:
[57 Tito D_Texto_BS_KB .txt.zip](https://github.com/unfoldingWord-dev/translationCore/files/2942970/57.Tito.D_Texto_BS_KB.txt.zip)

[2019-03-07 20:23] cckozie opened #5889 "tC log file does not capture vital data"
Much of the valuable data shows as [object object] in the log file.
It doesn't seem that the project name is ever captured.

From the console:
![image](https://user-images.githubusercontent.com/8171759/53986427-ccd86b80-40e3-11e9-9239-f2f2e07bdf2b.png)

From the log file:
![image](https://user-images.githubusercontent.com/8171759/53986484-ec6f9400-40e3-11e9-9ce4-0eb84c40759c.png)

[2019-03-08 04:23] cckozie opened #5890 "Errors uploading to Door43"
1.1.2 (134656f)
I have not seen this before, but believe that some user's have.

Downloaded the usfm3 Acts file from https://git.door43.org/Door43-Catalog/en_ult/raw/branch/master/45-ACT.usfm and imported it. Loaded it in wA but did not make any changes to alignments, then uploaded. I received the same error twice. The third time it worked.

[en_ult_act_book.zip](https://github.com/unfoldingWord-d

[2019-03-08 15:43] cckozie opened #5892 "Need an indicator of processing when user selects to upload to Door43"
1.1.2 (134656f)
When choosing to upload a fully aligned Acts on my fastest machine it takes nearly 5 seconds from the time the upload is clicked until there is any indication that something is happening.
On my Windows machine it takes 16 seconds until the screen changes.

[2019-03-08 21:56] RoyalSix opened #5893 "[0] When the edited project is loaded in tW, the % complete circles are not updated until the check group is opened."

[2019-03-09 02:46] PhotoNomad0 commented on #5710
@cckozie - Fix for issue 6.

checked in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-e1fae24.dmg

[2019-03-09 12:01] PhotoNomad0 commented on #5890
@cckozie @benjore  - this error is actually a server error returned by Door43.  Unfortunately when we changed to Isomorphic-git, it now throws exceptions instead of returning an error code.  That's why we are now suddenly getting these strange error messages on upload failure.  So I made fix to handle this and show the normal upload error message.

I've also changed so we will show the project loa

[2019-03-09 12:15] PhotoNomad0 commented on #5890
@cckozie - this is a great "worst case" upload test.  It imports a large book with alignments.  When you open WA it initializes the data structures on disk.  But since you don't change verses, none of the file changes are committed to git yet.  Then when you do upload:
- the usfm3 file is created (which doesn't actually take long)
- the changed files are committed to git (which takes most of the t

[2019-03-11 13:06] PhotoNomad0 commented on #5798
@benjore  @cckozie - In testing it looks like the major time consumer here is isomorphic-git (javascript replacement for separate git install).  It is taking a major amount of time to do a save before push.  This is why the 1.1 is taking much longer than 1.0.2.  Updating the library from 0.40.4 to 0.51.12 did not improve performance significantly.  Testing upload with aligned acts from imported US

[2019-03-11 15:03] PhotoNomad0 commented on #5798
**Short summary:**
isomorphic-git is very slow on saving changes of a 4MB file with one line changed in a project with 1568 files.  Also updating isomorphic-git does not measurably improve performance.

[2019-03-11 15:08] PhotoNomad0 commented on #5798
**Notes:**
- By comparison the first commit with adding 1568 only takes 1 second longer than a commit with only usfm3 file changed.
- if we are having this problem with aligned acts, it will be much worse on psalms and Isaiah.

[2019-03-11 15:41] cckozie commented on #5798
@PhotoNomad0 - In regard to the 1.1.2 timings on the first comment above; what accounts for the extremely longer times using Larry's project rather than a new fully aligned Acts coming from USFM3 which takes about 20 seconds to upload? Is it the number of git commits or something else? I think we can all agree that a 10 minute upload for Acts on a good connection is not acceptable.

[2019-03-11 17:48] #5893 closed, assigned to RoyalSix

[2019-03-11 17:53] cckozie commented on #5710
1.1.3 (e1fae24)
The specific test referenced for Issue 6 has been fixed. There are still some issues remaining having to do with alerting of reset alignments and selections, but I'm adding those to #3562.

[2019-03-11 17:58] cckozie commented on #5776
The tW part of this should have been fixed in #5710.

[2019-03-11 18:11] RoyalSix commented on #5686
Found another issue when there are two checks in the same verse only the second one will be recognized as a broken link.
I made a selection on both checks and then exported it to USFM and changed the text that I selected from that verse. In my case it was 1:15

[2019-03-11 18:20] benjore commented on #5798
Thanks for this research @PhotoNomad0 ! I agree that this time is unacceptable. I'm looking forward to  hearing what you find for potential solutions.

[2019-03-11 19:44] cckozie commented on #3562
Problems found in 1.1.3 (e1fae24)
[45-ACT.usfm.txt.zip](https://github.com/unfoldingWord-dev/translationCore/files/2953907/45-ACT.usfm.txt.zip)
Import this usfm3 project and load it in tW

ISSUE 1, Process A: [FIXED IN 1.1.3 (9d5ff9e)]
Navigate to the 'die' group
Click on verse 7:15
Click the Cancel button
Click the Edit Verse button
Insert the word 'there' between 'die' and its following comma
Ch

[2019-03-11 20:38] PhotoNomad0 commented on #5798
**Notes:**
After debugging the git and talking with @neutrinog, it looks like he had to implement his own algorithms to check if a file needed to be added.  Since isomorphic-git did not implement that natively.  I'm looking at using a newer isomorphic-git and @neutrinog is testing a fix to his algorithm using features of a newer version of isomorphic-git.

[2019-03-12 12:03] PhotoNomad0 commented on #5798
**Notes:**

After Joel's performance tweak to make use of newer version of isomorphic-git and its ability to stage whole project (rather than iterating a file at a time).  Comparing after to before tweak times.

|  iso-git version 	|  save usfm3 time 	|  git save time 	|   git push time	|   total time	|   notes	|
|---	|---	|---	|---	|---	|---	|
|  0.51.2 	|   4s	|    10s 	|   134s 	|  148s 	| twea

[2019-03-12 14:21] cckozie opened #5897 ""Alignment Complete" toggle behavior"
- [ ] When the "Alignment Complete" is toggled on...
  - [ ] Accept all active suggestions
  - [ ] Disable new suggestions (until the toggle is turned off) (even if navigating to a different verse and back)
  - [ ] Remove the `Refresh`, `Reject`, and `Accept` buttons, replacing them with `Next Verse` and `Previous Verse` buttons
  - [ ] Note: Manual alignments should still work as usual
- [ ] When

[2019-03-12 14:29] cckozie commented on #4443
1.1.3 (e1fae24)
There is no spinner, but I do not believe that it is necessary and Ben agrees.
I'm assuming that when #5832 has been implemented the verses edited in tW (or tN) will show when the verse edit filter is on.

[2019-03-12 17:41] PhotoNomad0 commented on #5890
@cckozie - still can't reproduce fail, but should go faster with fix for https://github.com/unfoldingword-dev/translationcore/issues/5798

[2019-03-12 20:08] PhotoNomad0 commented on #5798
@cckozie - tested PR with iso-git tweaks.  Probably best we can do quickly.  So for review/discussion: https://tc-builds.door43.org/build/release-v1.1.3/translationCore-win-x64-1.1.3-64d8fb7.setup.exe

[2019-03-12 20:17] PhotoNomad0 commented on #5890
@cckozie - looks like this may have been due to git running so slow.  Tested in Windows with fix for https://github.com/unfoldingword-dev/translationcore/issues/5798 and don't see a problem.  should work in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-win-x64-1.1.3-64d8fb7.setup.exe

[2019-03-13 12:38] PhotoNomad0 commented on #3562
**Note:**

- Looking at Issue 1 & 2 - it looks like adding a word is not causing the alignments reset alert.
- On issue 3 ~it looks like the dialog is not completely rendered initially until the verse edit notifications are completed.~  Looks like the problem is that WA is issuing two alignments invalidated popups.  The first occurs before the selections validation is complete.  Which causes the f

[2019-03-13 15:38] cckozie opened #5898 "Change of locale is not always universally effective"
1.1.3 (e1fae24) and 1.2.0 (368d706)

Start with the English locale
Load a project in tW
Change the locale to Hindi
Note that the change is effective immediately
Exit to the Projects page
Change the locale back to English
ISSUE 1: Note that the 'last used time' is still in Hindi
Load the same project again in tW
ISSUE2: Note that tools UI is still in Hindi, but the menu bar is now in English

[2019-03-13 16:20] cckozie commented on #5798
Apples to Apples:
The import currently takes about 3 times as long as in 1.0.2
The initial upload takes about 5 times as long as in 1.0.2
The subsequent upload with no changes takes about 2 1/2 times as long as in 1.0.2
IMO we should seriously consider going back to native git or find some other way to get the performance within about 20% of the native performance.

[2019-03-13 16:27] cckozie commented on #5890
I'm moving this to the QA Watch lane.

[2019-03-13 17:57] mannycolon commented on #5860
@cckozie I was able to load this project with the wA tool. It may have been fixed along the way. Please retest.

[2019-03-13 18:25] cckozie commented on #5860
@mannycolon In 1.2.0 (3fa53ee) that Romans project still won't load in wA for me. Neither will this one:
[en_ult_act_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2963016/en_ult_act_book.zip) Have tried a few others including Ruth, and so far the only one that loads without the error is a Titus project.
Here's the full log:
[console.log](https://github.com/unfoldingWord-dev/

[2019-03-13 18:51] cckozie commented on #5846
@mannycolon
It appears to me that all of the lexicon files are not included in the latest build. (Or is it possible that some have been deleted between 3/7 and today?)

Latest build - 1.2.0 (3fa53ee)
Clean startup time - 1:11
.dmg size = 392.3MB
.app size - 391.8MB
resources folder info: 321,062,911 bytes (407.1 MB on disk) for **29,873 items**

Previous build - 1.2.0 (368d706)
Clean startup - 1:3

[2019-03-13 19:49] cckozie commented on #5860
Well, I'm not sure what's changed, but now the Romans project and the Ruth project both do load properly in wA. However, the Acts project from the above comment still fails, as does the project at https://git.door43.org/lrsallee/en_ult_rut_book. (I think the Acts project was imported from Door43 using v1.1.3.)

[2019-03-13 19:57] mannycolon commented on #5846
@cckozie I'll move this issue back to in progress to double check if it is the case that lexicon files are missing

[2019-03-13 20:03] mannycolon commented on #5860
ok thanks

[2019-03-13 20:32] mannycolon commented on #5846
@cckozie You were right there were files missing in the UHL. I have a PR with a fixed.

[2019-03-14 14:47] PhotoNomad0 commented on #5889
@cckozie - good catch.  I think we should add a log of project name when selected.

The reason we don’t have the Object data in the log is that it makes for MASSIVE log files that includes all the project data.  Also the object data is not very readable - hard to decipher even for the developers.  So we are reduced for now manually adding log entries for data that is important.

There are other op

[2019-03-14 15:11] cckozie commented on #5889
@PhotoNomad0 - Seems like we should be logging at a minimum the project name, tool name, and context ID (assuming that is the selection from the group menu).
There also doesn't appear to be anything logged during imports.

[2019-03-14 15:24] PhotoNomad0 commented on #5889
@cckozie - Yes, I forgot to mention that also.

[2019-03-14 16:42] mannycolon commented on #5846
Tested on ad0e098 (v1.2.0)

[2019-03-14 18:36] cckozie commented on #5846
1.2.0 (ad0e098)
resources/hi - Current build has these additional files:
/Users/cckozie/translationCore/resources/hi/bibles/udb/v5.1/books.zip
/Users/cckozie/translationCore/resources/hi/bibles/udb/v5.1/index.json
/Users/cckozie/translationCore/resources/hi/bibles/udb/v5.1/manifest.json

resources/hbo - all files match

resources/grc - all files match

resources/en - all files match

Since the cur

[2019-03-14 19:28] da1nerd commented on #3562
@cckozie with regards to Issue 1 & 2: can you confirm that inserting a word should cause the alignments to become invalidated? By design inserting words never cause an invalidation. Could you check with the stakeholders to see if that specification has changed?

[2019-03-15 03:47] mannycolon commented on #5860
Tested on 313e103 (v1.2.0)

[2019-03-15 11:11] PhotoNomad0 commented on #5863
@benjore @cckozie - I think @jag3773 and @neutrinog are looking at updating the scripts that generate this content.

[2019-03-15 11:38] PhotoNomad0 commented on #3562
@benjore @cckozie - In looking into https://github.com/unfoldingword-dev/translationcore/issues/3562, issue 1A, it looks like WA has never considered adding a new word to a verse to be invalidation of alignments.  We can add it, but it will need some refactoring of WA to add additional checking based on word bank and complete flag.  Also it will increase the checking time when we open a project an

[2019-03-15 13:55] PhotoNomad0 commented on #5801
@benjore - seems that this should be part of 1.2 release - as Kos said above, 1.1.3 runs much faster.

[2019-03-15 17:25] PhotoNomad0 commented on #5889
@cckozie - Tested in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-dcac667.dmg

Also added extra logging for developers so we can see how long various steps in import, export, and project selection take.

[2019-03-18 17:03] #5852 closed, assigned to RoyalSix

[2019-03-18 17:03] #5887 closed, assigned to RoyalSix

[2019-03-18 17:56] PhotoNomad0 commented on #3562
Verfied in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-9d5ff9e.dmg

Issues 1 to 5 should be working.

[2019-03-18 18:00] RoyalSix commented on #2009
My branches:
tC: feature-bspidel-5756-2
tW: feature-bspidel-5756-3
tN: feature-bspidel-5756-2

[2019-03-18 18:16] benjore opened #5906 "SPIKE: For #4490 - Verse Spans"
Figure out what needs to be figured out to be able to break down #4490 and estimate it.

[2019-03-18 18:33] benjore commented on #5760
The link in the screenshot above is bad. If it is a good link to a Scripture reference, there should be a hover-over that displays the reference in view.

[2019-03-18 18:34] benjore commented on #5760
https://resource-container.readthedocs.io/en/latest/linking.html

[2019-03-18 23:19] cckozie commented on #5262
This now appears to have been fixed in 1.1.3 (64d8fb7)

[2019-03-18 23:19] #5262 closed, assigned to nobody

[2019-03-18 23:58] cckozie commented on #3562
1.1.3 (9d5ff9e)
Issues 1, 2, and 4 are fixed. I'm still testing 5.
Issue 3 has not been fixed.
[no_logo.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/2980930/no_logo.mov.zip)

[2019-03-19 13:29] PhotoNomad0 commented on #3562
@cckozie - yes I, am seeing this also sometimes.  ~Looking like a react artifact related to the animation beginning before the image is drawn.~  Looking like a material UI rendering problem when word-map is running in the background.  Investigating this and asking for help from others.

[2019-03-19 14:27] PhotoNomad0 commented on #5760
@benjore - Got confirmation from @jag3773 that the link is bad (i.e. a content problem).  How do you want to proceed?

[2019-03-19 15:04] #5761 closed, assigned to RoyalSix

[2019-03-19 15:22] cckozie commented on #5889
1.1.3 (9d5ff9e)
I am seeing logged data about imports, uploads, project names, tool menu contexts.

[2019-03-19 15:35] #5599 closed, assigned to da1nerd

[2019-03-19 15:36] #5710 closed, assigned to da1nerd, PhotoNomad0

[2019-03-19 15:36] #5752 closed, assigned to mannycolon

[2019-03-19 15:37] #5758 closed, assigned to mannycolon

[2019-03-19 15:37] #5753 closed, assigned to RoyalSix

[2019-03-19 15:38] #5757 closed, assigned to mannycolon

[2019-03-19 15:38] #5816 closed, assigned to da1nerd

[2019-03-19 15:39] #5797 closed, assigned to RoyalSix

[2019-03-19 15:39] #5889 closed, assigned to PhotoNomad0

[2019-03-19 15:43] benjore commented on #5662
Assumption: do pair programming with Joel to help with knowledge transfer.

[2019-03-19 15:47] benjore opened #5909 "[5] SPIKE: #5662 Whole language alignment memory"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-03-19 17:18] PhotoNomad0 commented on #3562
**Note:**  Investigating options to resolve issue 3 (sometimes fails):
- disable the animation (dialog drop down) of the alert - so far all attempts to do so have failed.
- tried adding delays around the display of the dialog, but it didn't help.
- tried direct loading of image data (base64) - didn't fix problem.
- tried updating material-UI version from 0.20.0 to 0.20.2 - didn't fix problem.
- se

[2019-03-19 17:27] cckozie commented on #5835
Works in 1.2.0 (ddfe57a)

[2019-03-19 17:38] cckozie commented on #5860
1.2.0 (ddfe57a)
All of the referenced projects do open in wA. However, when selecting the Acts project, it takes 90 seconds  before the Tools page is displayed. I'll watch for this and write it up elsewhere if it is not fixed after merging in the 1.1.3 fixes.

[2019-03-19 17:56] cckozie commented on #5686
1.2.0 (ddfe57a) **FIXED IN 1.2.0 (de171a2)**
![image](https://user-images.githubusercontent.com/8171759/54629593-e663a680-4a45-11e9-9668-9a6036f87ddb.png)
I'm not sure that this problem is related to this issue, but I haven't seen it before.
I had this project:
[en_ult_act_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2984810/en_ult_act_book.zip)
I received the error when I

[2019-03-19 18:50] #4443 closed, assigned to da1nerd

[2019-03-19 18:50] #5806 closed, assigned to da1nerd

[2019-03-19 18:50] #5835 closed, assigned to RoyalSix

[2019-03-19 18:50] #5846 closed, assigned to mannycolon

[2019-03-19 18:50] #5860 closed, assigned to mannycolon

[2019-03-19 18:50] #5692 closed, assigned to da1nerd

[2019-03-19 18:50] #5853 closed, assigned to PhotoNomad0

[2019-03-19 19:19] benjore opened #5910 "SPIKE: #3739 - figure out how to do invalidation with cross-verse alignment"
## Notes:

- [ ] Invalidation occurs under ~two~ situations:
  - [ ] Aligned words are unaligned
  - [ ] Check/Verse complete changes to incomplete - due to internal or external verse edit
  - [ ] Project Import or Open

### Issue: https://github.com/unfoldingWord-dev/translationCore/issues/3739

[2019-03-19 19:35] benjore opened #5911 "Revert tC back to native Git"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
See issue https://github.com/unfoldingWord-dev/translationCore/issues/5798 for reasons behind this.

### Mockups

[2019-03-19 19:52] #5745 closed, assigned to nobody

[2019-03-19 20:37] PhotoNomad0 commented on #5911
**Info from Joel:**
- concourse build is just running commands in https://github.com/unfoldingWord-dev/translationCore/blob/develop/gulpfile.js
- specifically it uses `build` and `release-[os]` (except for linux it uses `release-linux-deb`) commands
- you can see which gulp command it's executing in the `run-build-*` scripts here: https://github.com/unfoldingWord-dev/concourse-pipeline/tree/master

[2019-03-19 20:54] PhotoNomad0 commented on #5911
### Tasks
- [ ] [6] update the gulpfile to download git again to include with the builds
- [ ] [3] add back the warning to users if git is not installed
- [ ] [6] update `Repo.js` to use `nodegit` again - use old code as reference

[2019-03-19 21:18] cckozie commented on #5798
Passing this as there is a new issue to revert back to native git.

[2019-03-19 21:20] cckozie commented on #5687
This is being fixed on #3562.

[2019-03-19 21:20] #5687 closed, assigned to RoyalSix

[2019-03-19 21:59] cckozie commented on #5817
@PhotoNomad0
I need help in figuring out how to test this. This is what I tried:
1. Ended tC
2. Deleted the resources folder
3. Started tC
4. Deleted a single entry from each of the index.json files found in the folders within ...en/translationHelps/translationWords/v9 folders and then duplicated those files
5. Downloaded the updated English resources
6. Compared the index.json files against the d

[2019-03-19 22:28] PhotoNomad0 commented on #5817
What we are testing for is that the helps will be regenerated when there is an update to the en ult bible.  My method for testing was changing the `catalog_modified_time` in the en ult manifest. json to be an older date to fool tc into thinking it was an older version. Then updated the en resources. The index.json was regenerated - file times updated - content would be the same.

Deleting en resou

[2019-03-19 22:31] PhotoNomad0 commented on #5817
Unless en ult was downloaded from catalog, you will not see the index files regenerated.

Sent from my iPhone

[2019-03-20 11:31] PhotoNomad0 commented on #5817
@cckozie - reproduced the problem in 1.1.3.  With tCore open - tried deleting en_ult, modified translationHelps/translationWords/v9/kt/index.json and after downloading updated en the contents of index.json were not updated

[2019-03-20 16:06] PhotoNomad0 opened #5912 "[6] update the gulpfile to download git again to include with the builds"

[2019-03-20 16:07] PhotoNomad0 opened #5913 "[3] add back the warning to users if git is not installed"

[2019-03-20 16:15] PhotoNomad0 opened #5914 "[6] update Repo.js to use nodegit again - use old code as reference"

[2019-03-20 17:55] RoyalSix commented on #5686
@cckozie Just so you know this bug was caused by code being refactored in tW to fix invalidations but those changes were not carried over to tN.
I made a fix.

[2019-03-20 19:19] benjore commented on #4781
If the token is changed (as in this case, going from `command` to `commands`) then the alignment should be reset.

[2019-03-20 19:47] PhotoNomad0 commented on #5817
@benjore @cckozie
- ~it looks like the OrigL tw files are regenerated when OrigL is updated, but the en tw helps index.json is not updated~
- ~en_ult is updated,  currently the en tw helps index.json is not updated.~

~Need to know if it needs to update when the ult is updated, and if so then we will need to determine the primary aligned bible for each language.  Could cause some confusion when th

[2019-03-20 20:38] PhotoNomad0 commented on #3562
Tested issue 3 fix with https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-2c25b41.dmg

[2019-03-20 21:07] PhotoNomad0 commented on #5817
Looks like we are checking the index.json of the bible being regenerated, not the helps

[2019-03-21 14:46] benjore commented on #5760
Ignore the bad data. If it is a good link, can you add the Scripture as a pop-over in the selected GL language, with English as a fallback if the GL doesn't exist.

[2019-03-21 15:11] cckozie commented on #5817
1.1.3 (2c25b41)
I modified the index.json files in the ult and ust folders, then downloaded the newer source content. Both index.json files were updated correctly.

[2019-03-21 15:44] cckozie commented on #3562
Issue 3 is fixed in 1.1.3 (2c25b41).
Regarding issue 4, now the selections reset alert does disappear within a reasonable time, but there is a 6-8 second delay before the invalidated alignments alert and/or the edit icon on the verse is displayed. During this delay the app is unresponsive to any user input but there is no visual indication to alert the user of that.

[2019-03-21 18:20] #5766 closed, assigned to bspidel

[2019-03-21 18:23] #5776 closed, assigned to nobody

[2019-03-21 18:33] cckozie commented on #3562
1.1.3 (ef323b2)
The delay between when the selections reset alert disappears and the invalidated alignments and/or edit icon are displayed is not about 1/2 of what it was, generally around 4 seconds in Acts.

[2019-03-21 18:44] cckozie commented on #5298
1.1.3 (2c25b41)
The system appears to recover pretty well from the high memory usage now. The highest consuming process consumption does grow to above 900MB on my machine, but it does manage to free up memory over time and get back down into the 400+MB range before growing more.
Even with the growing memory consumption the performance did not appear to suffer. The test results for a full iteration

[2019-03-21 18:46] cckozie commented on #5403
1.1.3 (2c25b41)
The system appears to recover pretty well from the high memory usage now. The highest consuming process consumption does grow to above 900MB on my machine, but it does manage to free up memory over time and get back down into the 400+MB range before growing more.
Even with the growing memory consumption the performance did not appear to suffer. The test results for a full iteration

[2019-03-21 18:46] #5403 closed, assigned to nobody

[2019-03-21 19:24] #5768 closed, assigned to bspidel

[2019-03-21 19:25] #5767 closed, assigned to bspidel

[2019-03-21 19:31] bspidel opened #5916 "[0] Research approach to gathering tA article for #5755"

[2019-03-21 19:32] bspidel opened #5917 "[0] Show first tA article paragraph as hover over tN tool card checkbox for #5755"

[2019-03-21 19:32] bspidel opened #5918 "[3] Unit test for #5755"

[2019-03-21 19:32] bspidel opened #5919 "[1] Manage PR Review Process for #5755"

[2019-03-21 19:45] benjore opened #5920 "Update tN - tA mappings based on stakeholder interactions"
## Specs

- [ ] Update categories based on Larry & Perry's categorization (found here: https://docs.google.com/spreadsheets/d/1MCWzmtqetzmZkKj_RouzyJB9b0gLvjLR7ZmiVBJw2fw/edit?ts=5c92ae54#gid=0 )
  - [ ] Update "Head Categories" to include `Discourse` and `Other`
- [ ] If a category is imported that doesn't fall into any category, it should automatically show up in `Other`

[2019-03-21 20:11] benjore opened #5921 "Create parallel list of all the checks"
## Specs
- [ ] In addition to the list we currently create with all the checks organized by categories...
- [ ] Create a duplicate list that contains the same data, but unpivoted so that it is organized by book-chapter-verse

## Purpose
- When performing an operation that requires looking at something in a particular verse (e.g. checking for invalidation), it would be much quicker to be able to on

[2019-03-22 03:04] cckozie commented on #3562
1.1.3 (ee4a767)
The delay is down below 4 seconds now, even in the worst case in Acts where there are 14 checks related to 3:13.
('abraham', 'betray', 'father', 'glory', 'god', 'god', 'god', 'godthefather', 'isaac', 'jacob', 'jesus', 'judge', 'pilate', 'servant')

[2019-03-25 18:01] da1nerd commented on #5863
@jag3773 did we decide this would be fixed in the osis converter? https://github.com/unfoldingWord-dev/d43-catalog#convert-osis-to-usfm3

[2019-03-25 19:43] da1nerd commented on #5863
I've updated the osis convert at https://github.com/unfoldingWord-dev/d43-catalog#convert-osis-to-usfm3 to use the word joiner instead of the zero-width space.

Should I open a PR against https://git.door43.org/unfoldingWord/UHB with the newly converted osis? (where is the osis repo btw.)

[2019-03-25 20:18] da1nerd commented on #5863
Here's a PR https://git.door43.org/unfoldingWord/UHB/pulls/337

[2019-03-26 15:26] benjore commented on #5866
Assumption: "Disputed" verses will be added into the UGNT delineated with `[[ ]]`.

Specification: tC needs to be smart enough to NOT flag those "disputed" verses as missing (i.e. during the project import process).

[2019-03-26 18:27] RoyalSix commented on #5909
- [ ] Add alignment memory based on book/chapter/verse in intialization (`Container.js - generateMAP`)
- [ ] Add book to word alignment reducer state
  - This should not be too difficult because the state is in slices, just need to add one more top layer for the book
- [ ] Update all references in tC using alignment data json
  - We will either have to change the json output structure or create mu

[2019-03-27 17:55] PhotoNomad0 commented on #3562
Verified in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-win-x64-1.1.3-b525e6c.setup.exe

[2019-03-27 17:55] #5886 closed, assigned to PhotoNomad0

[2019-03-27 17:56] PhotoNomad0 commented on #5911
Verified in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-win-x64-1.1.3-b525e6c.setup.exe

[2019-03-27 20:22] da1nerd commented on #5662
There are several ways to go about this so I'll just talk out loud here and see what I come up with...

## Requirements

For a project to be eligible for alignment memory it must share with the active project a:
* common target language
* common original language
* common identifier (e.g. UST)

## Steps
* **[8]** add an API method to the wA tool that will fetch the global alignment memory.
  * Fet

[2019-03-27 20:41] da1nerd commented on #5909
@RoyalSix  I'm not sure why there are two issues open for this but here's something that I wrote up.
https://github.com/unfoldingWord-dev/translationCore/issues/5662#issuecomment-477332542

I don't think we'll need to many too many changes (if any) to redux. And just a few changes to the tool apis.

[2019-03-28 14:00] benjore opened #5930 "In wA: Clear "activated" (blue) words when navigating away from alignment pane"
## Description

- Problem 1: "blue" words carry across verses (v.1.1.2)
  - Select multiple words in the word bank (so that they turn blue).
  - While they are still blue, navigate to a new verse,  in the new verse the words in the same position will be "blue" (even if they have already been used)
  - (Example: Open a project, go to 1:1. Make the first 5 words blue. Navigate to 1:2. Notice the fir

[2019-03-28 14:00] PhotoNomad0 commented on #5910
**Notes:**
#### alignment validation checking (on project selection/open or verse edit):
- needs to be additional checking for duplicate alignments for a TargetLang word (e.g. a TL word aligned to two different greek verses).  Remove alignments from TL verses for each OrigL word
- need to check for alignment consistency - for example an alignment of a group of greek words that has alignment to TL

[2019-03-28 14:10] benjore opened #5931 "wA: Words dropped onto white space jump to random Greek words (Linux problem?)"
From Robert, "Also it seems that a word can be dragged to the white space on the right, and jumps into a seemingly random Greek word."

## Note:
- [ ] This was reported on a Linux machine.
- [ ] I was unable to reproduce on a Mac.

[2019-03-28 17:53] da1nerd commented on #5910
Some follow up comments to the points made in the previous comment:

## alignment validation checking

Regarding the second "alignment consistency" point above: wordMap should make the proper suggestions in those cases assuming we give wordMap the proper data.

~Regarding the third point above: Will we ever have multiple original languages within a single book? This does not appear to be applicabl

[2019-03-29 10:11] #5909 closed, assigned to RoyalSix

[2019-03-29 10:51] PhotoNomad0 commented on #5910
@neutrinog - Followup - There was no reference to multiple original languages in the notes above, that is just how you read it.  Just references to more than one verse in original language or target language.

[2019-03-29 10:57] PhotoNomad0 commented on #5910
@neutrinog - here is a possible storage approach by tweaking the alignment json structure (abbreviated):
[code]

[2019-03-29 12:34] PhotoNomad0 commented on #5892
This should be addressed in 1.1.3 - shows popup very quickly that starts with loading project data prompt and then the actual uploading data prompt

[2019-03-29 16:45] da1nerd commented on #5910
@PhotoNomad0  how about we just look at the word's reference and keep everything inside `alignments`?

[2019-03-29 19:47] jag3773 commented on #5863
I've updated the UHB in our catalog and my spot check in Ruth chapters 1 and 2 did not show any improper word wrappings.

[2019-04-01 19:29] #5916 closed, assigned to bspidel

[2019-04-01 19:30] bspidel commented on #5769
Defer this task. No time in sprint.

[2019-04-01 19:31] #5769 closed, assigned to bspidel

[2019-04-01 19:31] #5917 closed, assigned to bspidel

[2019-04-01 19:31] cckozie commented on #3562
1.1.3 (126c679)
[reset alignments 3.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3031007/reset.alignments.3.mov.zip)
@benjore - I would prefer verbiage something like "Testing for invalidated checks and alignments" rather than "Doing Invalidation Checking" on the first alert. I also don't like the the alignments invalidated alert with its buttons being displayed behind the f

[2019-04-01 19:42] cckozie commented on #5892
1.1.3 (126c679)
There is now only about a 1 second delay after clicking the Upload to Door43 option before the first alert is displayed, and both alerts have a spinning icon.

[2019-04-01 20:02] cckozie commented on #5911
These timings were made using this project: https://git.door43.org/lrsallee/en_ult_act_book
1.1.3 (64d8fb7) - Isomorphic git
Import from Door43 - 100 seconds
Upload to Door43 - 120 seconds
Reupload to Door43 (no changes) - 24 seconds

1.1.3 (126c679) - Native git. Similar timings to 1.0.2
Import from Door43 - 30 seconds
Upload to Door43 - 16 seconds
Reupload to Door43 (no changes) - 9 seconds

Nee

[2019-04-01 20:16] cckozie opened #5937 "Need indicator of processing during imports after the project details screen"
1.1.3 (126c679)
Import this project: https://git.door43.org/lrsallee/en_ult_act_book
On the Project Details page change the translation ID to something other than ULT and click Continue
After clicking Continue on the Project Details page it takes about 10 seconds until the screen changes and the Project page is displayed. During that time there is no indication of processing.
Even though the Proje

[2019-04-01 20:22] #4544 closed, assigned to klappy

[2019-04-01 20:48] #4543 closed, assigned to klappy

[2019-04-01 21:02] mannycolon commented on #4490
# SPIKE Results

- **Add verse bridges support to project import**
  - Add verse bridges support to code that checks for missing verses
  - We currently generate empty verses for verses within a verse-bridge (We should no longer create empty verses for verse-bridges)
  - Verse bridges should not show up as missing verses
  - Below is how we are parsing Ephesians 5 when importing it in tC
[code]
-

[2019-04-01 21:04] #4545 closed, assigned to klappy

[2019-04-01 21:06] #5906 closed, assigned to mannycolon

[2019-04-01 21:06] mannycolon commented on #5906
See results here: https://github.com/unfoldingWord-dev/translationCore/issues/4490#issuecomment-478746622

[2019-04-01 21:11] mannycolon commented on #4490
@benjore could we also get a few `tStudio` projects with verse bridges?

[2019-04-01 21:50] benjore opened #5938 "Verbiage: Update hover-over for "Reject" button in wA tool"
- [ ] Current verbiage: "Reject all MAP-generated suggestions"
  - [ ] Change to: "Reject all suggestions."
- [ ] Current verbiage: "Accept all MAP-generated suggestions"
  - [ ] Change to: "Accept all suggestions."
- [ ] Current verbiage: "Refresh MAP-generated suggestions"
  - [ ] Change to: "Refresh suggestions"

[2019-04-01 23:09] cckozie opened #5939 "Windows installer warns user that Git needs to be installed when it already has been installed and won't start tC"
This has been a problem since the beginning.

Run the Windows installer in a clean environment (no tC, not Git, not translationCore folders)
Ensure the install git checkbox is checked
Ensure the the Launch translationCore checkbox is check
Click the Finish button
The alert warning that Git must be installed is displayed with the options to download it or end tC

[2019-04-02 10:29] PhotoNomad0 commented on #5939
@cckozie - I'm guessing that the reason this is not a QA fail is that the user is able to start the app again and then it does work?

[2019-04-02 13:16] cckozie commented on #5939
@PhotoNomad0 - Yes, after choosing the Close tC option the user is able to start the app. This has been a problem from the very beginning and is documented in the release notes on installation. I closed the original issue when we moved away from native git since it was no longer applicable at that time.

[2019-04-02 14:26] benjore opened #5941 "Enhancements to "checking for invalidation""
This is a follow-up to #3562

- [x] Change the verbiage in the pop-up with the spinner from `Doing Invalidation Checking` to `Checking if this edit conflicts with saved selections and alignments...`
- [x] Only show one dialog at a time (i.e. when the spinner is on the screen, don't have another dialog show up behind it.
- [x] Create a new dialog for if BOTH alignments and selections have been inva

[2019-04-02 14:55] benjore commented on #4490
@cckozie Do you have any of these ^^^?

[2019-04-02 15:48] #5817 closed, assigned to PhotoNomad0

[2019-04-02 15:53] cckozie commented on #4490
@benjore @mannycolon - I don't believe tS supports verse bridges.

[2019-04-02 15:57] cckozie commented on #3562
Per Ben - Let's pass this one for now (assuming all the functionality works). I'll write up a new issue with the desired modifications. (#5941)

[2019-04-02 17:35] benjore opened #5942 ""Loading Project" dialog does not appear until almost the end of the project load"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-04-02 18:35] #5798 closed, assigned to PhotoNomad0

[2019-04-02 18:35] #5892 closed, assigned to nobody

[2019-04-02 18:35] #5911 closed, assigned to PhotoNomad0

[2019-04-02 19:03] benjore opened #5943 "Check for latest resources during build process"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-04-02 21:44] cckozie commented on #5863
1.1.3 (eb48234) - On a clean install the UHB version 2.1.1 gets loaded.
However, if it gets installed with 1.1.3 (126c679) or v1.1.2 already on the computer, the UHB does not get updated. v1.4.1 remains as the only UHB. Downloading the Ancient Hebrew resource does replace it with v2.1.1.

With the new UHB (2.1.1) installed, the problem of misplaced line breaks is fixed.

[2019-04-03 10:14] PhotoNomad0 commented on #5863
@cckozie - verified that it also does not upgrade moving from 1.1.2 to 1.1.3.  Looking into it.

[2019-04-03 14:53] benjore opened #5947 "Bug: Fix wrapping in Scripture Pane & Expanded Scripture Pane"
## Story Explanation
### User Story

As an aligner, I don't want to scroll side to side to read my translation so that it seems like tC isn't working right.

### Features / Specifications

- [ ] Break super long words so that they don't run into the translation beside it.
- [ ]
- [ ] Project here: https://git.door43.org/benjore/as_xyz_phm_book
Also see #6228
![image.png](https://images.zenhubuserc

[2019-04-03 16:06] benjore commented on #5942
Dup of #3522 ??

[2019-04-03 16:50] cckozie commented on #5863
1.1.3 (4817b07) - The UHB does now get updated when the tC upgrade is installed.

It appears that the lexical popup populator needs to be updated to handle the new joiner.
The Lemma is now not displayed in the popup for some of the Hebrew words.
Also, there is an extra "Morphology" above the line.
![Screen Shot 2019-04-03 at 11 43 12 AM](https://user-images.githubusercontent.com/8171759/55497252-9

[2019-04-03 16:51] benjore commented on #5737
Related to #5868

[2019-04-03 17:05] cckozie commented on #5790
1.1.3 (4817b07) - The new UHB is loaded when tC is installed or upgraded.

[2019-04-03 17:30] PhotoNomad0 commented on #5863
Verified in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-4817b07.dmg

[2019-04-03 18:15] #5918 closed, assigned to bspidel

[2019-04-03 18:15] #5919 closed, assigned to bspidel

[2019-04-03 18:35] cckozie commented on #5942
See also #5937

[2019-04-03 18:46] cckozie commented on #5930
See also #5175

[2019-04-03 21:29] mannycolon opened #5951 "tC projects index files are not being updated when new tn or tw resources are added"

[2019-04-03 21:30] mannycolon commented on #5951
<img width="1234" alt="Screen Shot 2019-04-03 at 5 30 06 PM" src="https://user-images.githubusercontent.com/17072300/55514455-24f88400-5636-11e9-9a74-4fcbb2282894.png">

[2019-04-03 23:57] bspidel opened #5952 "Expose important concepts in Translation Notes"
## Summary

Review Translation notes to remove secondary material to easily accessible popups with links.

## Motivation

I was reading the Doty Symposium document and noticed that reviewers of 3 different translation notes resources found that it was very important to include main ideas with links to supplementary materials that are easy to traverse and return.

## Specifications (If applicable)

[2019-04-04 12:46] #5912 closed, assigned to nobody

[2019-04-04 12:46] #5913 closed, assigned to nobody

[2019-04-04 12:46] #5914 closed, assigned to nobody

[2019-04-04 13:11] PhotoNomad0 commented on #5724
@benjore - Does this look good to you?  Already implemented in develop:

![Screen Shot 2019-04-04 at 9 09 18 AM](https://user-images.githubusercontent.com/14238574/55558171-7c8c0380-56b9-11e9-8809-b823c1a01b4a.png)

[2019-04-04 13:18] benjore commented on #5724
Looks good to me!

[2019-04-04 13:45] #5203 closed, assigned to nobody

[2019-04-04 14:09] mannycolon commented on #5724
@PhotoNomad0 did you open the files?

[2019-04-04 14:10] benjore commented on #5244
Could not reproduce

[2019-04-04 14:19] benjore commented on #5276
@jag3773 Can you speak to this? Is this within the spec? Should we wait until Scripture burrito comes out?

[2019-04-04 14:25] benjore commented on #5293
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/d9419768-6f43-4c81-b7a8-b9d26ef07389)

Should be "Exporting en_foo_rev_book. Please wait..."

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/04147242-33b4-492d-a5bf-c61e55fe6e09)

Should be "en_foo_rev_book has been successfully exported to 67-REV.usfm."

[2019-04-04 14:31] cckozie commented on #5275
This is not a bug. It is operating as expected. The tc_version in the manifest file refers to the manifest version and not the actual version of tC.

[2019-04-04 14:31] #5275 closed, assigned to nobody

[2019-04-04 14:31] benjore commented on #5306
Could not reproduce

[2019-04-04 14:55] benjore commented on #5387
Related to #3608

[2019-04-04 14:55] cckozie commented on #4257
Works in 1.1.3 (4817b07)

[2019-04-04 14:57] benjore commented on #5391
Related to #5679

[2019-04-04 14:59] benjore commented on #5392
Could not reproduce in 1.1.3

[2019-04-04 15:19] benjore commented on #5414
Still problem in 1.1.3

[2019-04-04 15:31] benjore commented on #5477
@mannycolon Is this still a good idea to explore? I don't recall all the history on this, or why it was brought back to `New Issues`.

[2019-04-04 15:49] cckozie commented on #3562
All issues are either fixed or covered in other issues as of 1.1.3 (4817b07)

[2019-04-04 16:20] PhotoNomad0 commented on #5724
@mannycolon - opened, but what would I look for?  @benjore  looked at them on his PC.

[2019-04-04 16:53] mannycolon commented on #5477
@benjore Yes, this is still a good idea. I created it but never brought it up to the team and did not know where to put it for you to look at.

[2019-04-04 16:55] mannycolon commented on #5477
Never mind I just checked the electrino repo and it is in its early stages of development and it's not ready for production

[2019-04-04 17:00] mannycolon commented on #5724
@PhotoNomad0 Don't we need both comments/reminders/selections files for both tools?

[2019-04-04 18:11] benjore opened #5958 "Update tC to incorporate new tS-tC interoperability spec"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-04-04 18:39] mannycolon commented on #5724
The group index could be used in order to get the group name off of the group id

[2019-04-04 18:53] da1nerd commented on #5958
added notes in https://github.com/unfoldingword-dev/ts-desktop/issues/1243

[2019-04-04 19:33] benjore commented on #5544
Is this still needed? Is it published in the catalog?

[2019-04-04 19:58] jag3773 commented on #5544
I think that it should still be done but the resource is not published nor ready.

[2019-04-04 21:40] benjore commented on #5554
I think this is expected behavior since there is only one `and` in the word bank. (The word `kai` can also me `even`, `also`, `namely`, which I think is what's happening for the first instance.)

[2019-04-04 22:20] cckozie commented on #5863
Lexical info is correct in 1.1.3 (3f886e6)

[2019-04-04 22:50] cckozie opened #5959 "Problems with 1.1.2 projects after upgrading to 1.1.3"
These 2 usfm projects were downloaded on 4/2/19 from https://git.door43.org/unfoldingWord/en_ult/

[57-TIT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3045734/57-TIT.usfm.zip)
[08-RUT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3045735/08-RUT.usfm.zip)

I imported them using tC 1.1.2
When loaded in wA I noticed that there were a lot of asterisks in

[2019-04-04 23:20] cckozie opened #5960 "A critical error has occurred message after import from Door43"
1.1.3 (3f886e6)
1. Import the project at https://git.door43.org/tc01/en_ultt_tit_book
2. Upload it to your own repo on Door43
3. Load the project in tW
4. Make an edit in a verse and save it
5. Upload the project to Door43 again
6. Select to download the same project from your repo
7. On the project details screen change the translation ID to something other than ultt and click Continue
8. When pr

[2019-04-05 12:26] PhotoNomad0 commented on #5959
@cckozie - it's looking like a bug with 1.1.2 USFM import.  ~Seems like it would be using same code as 1.1.3~.  Looking into the timeline of when we made changes to USFM format.

[2019-04-05 12:31] PhotoNomad0 commented on #5959
Note:
- 1.1.2 is using usfm-js 1.0.12 and word-aligner 0.2.10
- 1.1.3 is using usfm-js 2.0.0 and word-aligner 0.2.13

looking into the differences.

[2019-04-05 12:53] PhotoNomad0 commented on #5959
@cckozie @benjore - I have confirmed the usfm import bug in 1.1.2 dealing with the new USFM markers format (the `\zaln-s` terminator).  Think we need to get 1.1.3 out soon with the usfm fixes it has.

[2019-04-05 15:01] benjore opened #5961 "Selections in the Scripture Pane persist when navigating to new verse"
## Story Explanation
### User Story

As a tN editor who is constantly highlighting and copying text from the Greek in the Scripture Pane, I want highlights/selections in the Scripture Pane to clear when I navigate to a different verse so that I don't get confused or have to do extra work.

### Features / Specifications

- [ ] From Larry.
- [ ]
- [ ]

## Steps to reproduce
1. Select some Greek text

[2019-04-05 15:06] #5921 closed, assigned to nobody

[2019-04-05 15:43] benjore commented on #5738
Is this still true?

[2019-04-05 15:47] benjore commented on #5749
Dup of #5440

[2019-04-05 15:47] #5749 closed, assigned to nobody

[2019-04-05 22:18] mannycolon commented on #5942
The problem appears to be in ProjectAPI.js

[2019-04-08 12:32] jag3773 commented on #5276
Yes, that would be good to wait until Scripture Burrito comes out.  If you want to do something beforehand then you can write whatever you'd like into .apps/tc/ like we have documented here https://resource-container.readthedocs.io/en/latest/app_meta.html#translationcore .

[2019-04-08 19:56] jag3773 opened #5963 "Greek Text Shows with wrong language code, wrong name"
### Prerequisites

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

When updating the source content in the app the Greek text shows up as `grc`, which is not the correct language code.  The text in the catalog is at https://git.door43.org/Door43-Catalog/el-x-koine_ugnt , w

[2019-04-08 21:54] cckozie opened #5964 "tC is displaying footnotes as text in the UGNT"
1.1.3 (3f886e6)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/1ace249b-7c5a-4d8c-9c11-a50973a589b4)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/41376c90-5b26-4528-a9f1-c88b38c18cd7)

[2019-04-10 17:08] PhotoNomad0 commented on #5964
Verfied in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-f505bc4.dmg

[2019-04-10 19:20] benjore commented on #4781
NEEDS SPIKE

[2019-04-10 19:26] benjore commented on #5592
@neutrinog What is the use case where this would be needed?

[2019-04-10 19:29] benjore commented on #5943
First need to fix downloading multiple resources at once + downloading hanging.

[2019-04-10 21:27] cckozie commented on #5964
1.1.3 (f505bc4)
The problem of the UGNT footnote being displayed as text has been fixed.
~~But there is now an inconsistency in the way we handle determining whether or not a verse alignment is complete. (This was really not relevant before this fix)
In the use case where the UGNT for the verse is a footnote and the target has no text, the verse is  considered complete (check mark on verse, alignm

[2019-04-10 21:34] benjore commented on #5964
Let's move the "new problem" to a new issue.

[2019-04-10 21:36] da1nerd commented on #5592
two people working on the same project could result in a merge conflict inside `.apps`.

After looking at the code in the wordAlignment tool this shouldn't technically break anything since it's just looking at the existence of the file. It does not need to read it so a merge conflict inside of it "should" be harmless.

[2019-04-10 21:46] cckozie commented on #5964
~~In looking at this further, I see that the content is handled differently when the footnote embodies multiple verses. If the footnote is for a single verse, the \fqa marker is used for the alternate text. If the footnote covers multiple verses, the fqa marker is not used, and the alternate text surrounded by brackets.
Working on this maybe should wait until after we have address verse spans.~~

[2019-04-10 21:48] mannycolon commented on #5760
@cckozie

#### Detailed Test instructions:
-  Download [this file](https://github.com/translationCoreApps/translationNotes/files/3022120/tit.zip)
- Unzip the file and put it in the following location `Users⁩ ▸ {you} ▸ ⁨translationCore⁩ ▸ ⁨resources⁩ ▸ ⁨en⁩ ▸ ⁨translationHelps⁩ ▸ ⁨translationNotes⁩ ▸ ⁨v14⁩ ▸ ⁨figures⁩ ▸ ⁨groups⁩` (This file hasn't been fixed in the door43 catalog)

- Open the follo

[2019-04-10 21:56] cckozie opened #5969 "Alignment complete not being set in some cases of verses with footnotes"
1.1.3 (f505bc4)
There is an inconsistency in the way we handle determining whether or not a verse alignment is complete. (This was really not relevant before this fix)
In the use case where the UGNT for the verse is a footnote and the target has no text, the verse is  considered complete (check mark on verse, alignment complete switch is automatically set).
![image](https://user-images.githubuserc

[2019-04-11 05:22] mannycolon commented on #5920
@benjore Hey the following items are missing in the `tn - ta` mapping list
- figs-we (Forms of We)
- figs-they (Forms of They)

[2019-04-11 13:05] PhotoNomad0 commented on #5963
Added list of needed Work to be done at bottom of description.

[2019-04-11 13:14] PhotoNomad0 commented on #5958
@benjore - it looks like Joel has all the requirements for us in his notes (https://github.com/unfoldingWord-dev/ts-desktop/issues/1243)

[2019-04-11 14:04] benjore opened #5970 "Rendering of tW's that span multiple Greek may display incorrectly"
## Story Explanation
### User Story

As a user, I want tW's that span multiple words to be rendered correctly so that the checks show up correctly.

### Features / Specifications

- [ ] A block of Original Language text that does not have `...` in it should be treated as a block of contiguous text.
- [ ] (As you can see in the mockup below, the first occurrence of any word in the "snippet" is bein

[2019-04-11 15:29] benjore opened #5971 "Truncation issues in check pane (tW)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Should be `"do ... accuse ... falsely"`
- [ ]
- [ ]

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/9807556c-bb5a-4b64-ad81-c166df535ad0)

![image](https://user-images.githubusercontent.com/13352518/55973069-6bf40400-5c4a-11e9-9ded-7a

[2019-04-11 15:56] cckozie opened #5972 "Alignments are lost when OT projects are exported to USFM3 and then imported"
1.1.3 (f505bc4)
[08-RUT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3069527/08-RUT.usfm.zip)
Import this file
Note that alignments are 100% complete
Export to USFM including alignments
Import the exported USFM file giving it a new transaction ID
Note that alignments are now 0% complete
Load the project in wA
Note that alignment memory appears to be in tact

Exported file:

[2019-04-11 16:54] benjore commented on #5970
NOTE: This is a tW problem.

[2019-04-11 18:04] mannycolon commented on #5801
Tested in e535843 (v1.2.0)

[2019-04-11 18:04] mannycolon commented on #5942
Tested in e535843 (v1.2.0)

[2019-04-11 18:10] benjore commented on #5920
Add them both to `Grammar`. I just added them to the spreadsheet too.

[2019-04-11 18:38] cckozie commented on #5972
I exported the fully aligned project to usfm2 and edited the text on verse 1 to change the first occurence of "when" to "of" so that is now reads "It happened in the days of the judges".
I then  reimported the edited usfm2 file and chose the Overwrite options.
Now all of the "of"s in the verse show as suggestions. Is that related to this issue or something else?
(An additional edit that was on a u

[2019-04-11 18:51] PhotoNomad0 commented on #5972
@cckozie - Not related to this issue.  It is behaving correctly by current design.  It's related to how we keep track of alignments.  Basically when you changed the word count of `of`, it invalidated all of them because we can't be sure which occurrences relate to which alignments.  Then when you open WA wordmap is trying to be helpful.

Anyway it looks like it is behaving like it should.

[2019-04-11 18:52] PhotoNomad0 commented on #5972
Or at least how I expect it should.

[2019-04-11 19:17] PhotoNomad0 commented on #5972
I have determined that to get the invalidation error that would cause Ruth to be reset with Greek, you would have to  directly edit the data files.  Not a supported operation.

@cckozie - shall we close this or put it into QA watch?

[2019-04-11 19:26] cckozie commented on #5972
@PhotoNomad0 - I am writing a script to attempt to recreate the problem. I'm not convinced yet that we won't lose data.

[2019-04-12 15:01] benjore commented on #5970
I'll post some more examples:
*This use case is fixed in 1.1.4 (6826f63)*
![image](https://user-images.githubusercontent.com/13352518/56046870-d455ea80-5d09-11e9-8106-54d31dece94e.png)

*This use case is fixed in 1.1.4 (6826f63)*
![image](https://user-images.githubusercontent.com/13352518/56046897-e8015100-5d09-11e9-9b46-ffa3535a3bd1.png)

*This use case is fixed in 1.1.4 (6826f63)*
![image](https

[2019-04-12 15:13] PhotoNomad0 opened #5975 "tCore source content overwrite script fails in 1.2"
## Story Explanation
### User Story

When trying to update content on tCore 1.2 (develop branch), there is an error while running the script.

#### Details
- tested with latest develop branch
- Run `npm run overwrite-resources` on develop branch and get this error:
 ![Screen Shot 2019-04-12 at 7.58.19 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/eee098d3-63c6-48d6-800a-674

[2019-04-12 17:24] PhotoNomad0 opened #5977 "Project upload or USFM export w/alignments with invalid alignments will reset all alignments in verse"
## Story Explanation
### User Story

As a user I don't want all alignments removed for a verse on export because of a small change.

#### Backstory
- we changed tCore so WA now does the validation checking whenever a Project is selected, but the USFM export validation is still using old checking code in tCore that will clear all alignments in verse. WA will just invalidate the affected words.
- th

[2019-04-15 13:54] cckozie opened #5979 "tC hangs with a migration error during usfm3 import"
1.1.3 (f505bc4)
[08-RUT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3080452/08-RUT.usfm.zip)

I was running a script that imports a Ruth USFM3 fully aligned project, then exports it to USFM including alignments, then imports the exported file to ensure all alignments remain in tact. After 4-6 iterations of this process, the import hangs after the project details screen. In

[2019-04-15 13:56] cckozie commented on #5972
Ran into #5979 while running the test script. Curious as to whether this may have caused the loss of alignments in my original test.

[2019-04-15 15:32] cckozie opened #5980 "Blank screen with ERROR message when loading project in tW"
1.1.3 (f505bc4)
https://git.door43.org/qa99/en_prct_tit_book
Import this project and load it in tW
![image](https://user-images.githubusercontent.com/8171759/56145322-aff84900-5f69-11e9-8036-99bda2857178.png)

This project loaded properly in tW in 1.0.2 and 1.1.2. When upgrading to 1.1.3 with the project previously imported, the migration seems to take a long time and logs errors. The migrated pro

[2019-04-15 18:45] benjore opened #5982 "Display the tN correctly in the Scripture Pane"
Related to #5970, just for tN (not tW).

It appears there are two problems:
- [ ] Occurrence issues (as with the tW tool)
- [ ] Greek words with punctuation next to them seem to sometimes not being rendered correctly.

(All screen shots from translationCore 1.2.0 (e6c3273) )

Exhibit A
![image](https://user-images.githubusercontent.com/13352518/56309377-1a96b980-610f-11e9-8642-93632974aa5e.png)

!

[2019-04-16 14:25] benjore commented on #5477
@mannycolon Can we close this issue then?

[2019-04-16 14:26] benjore commented on #5276
Waiting for Scripture Burrito.

[2019-04-16 15:47] benjore commented on #5201
- [ ] Look to improve performance (to eliminate need for spinner)
- [ ] Add a spinner.

[2019-04-16 15:54] benjore commented on #5865
Needs Spike:

- [ ] Possibly add some checking during the import process

[2019-04-16 16:03] benjore commented on #5847
Can't reproduce in translationCore 1.1.3 (fcbe5df)

[2019-04-16 16:05] benjore commented on #5833
Can't reproduce the problem translationCore 1.2.0 (e031475)

[2019-04-16 16:26] benjore commented on #5649
- [ ] Needs to have a useful message.

[2019-04-16 18:44] #5790 closed, assigned to PhotoNomad0

[2019-04-16 18:44] #4257 closed, assigned to nobody

[2019-04-16 18:44] #3562 closed, assigned to da1nerd, PhotoNomad0

[2019-04-16 18:44] #5863 closed, assigned to PhotoNomad0

[2019-04-16 18:44] #5964 closed, assigned to PhotoNomad0

[2019-04-16 19:58] benjore opened #5985 "Fix the Nepali issue"
Most of the projects in this repo have tons of invalidations. There has been a lot of Slack traffic as to what the problem might be.

1 - Nail down what the problem is
2 - Figure out the best way to solve the problem going forward
3 - Figure out if there is any way to migrate the projects/recover the alignment data for the existing projects

[2019-04-17 04:37] #5477 closed, assigned to nobody

[2019-04-17 13:02] PhotoNomad0 commented on #5980
Verified in https://tc-builds.door43.org/build/release-v1.1.3/translationCore-macos-x64-1.1.3-cf7905c.dmg

[2019-04-17 17:39] cckozie commented on #5980
1.1.3 (cf7905c)
The problem is fixed when I start with 1.1.3 and import the designated project.
When I start with the project already imported into 1.1.2 and upgraded to 1.1.3, the first two times I attempted this the program crashed about the time I was expecting the loading dialog to disappear (about 3 minutes). The first time this happened, the program worked fine when I restarted it. The secon

[2019-04-17 18:22] benjore opened #5988 "[6] SPIKE: Figure out the Nepali problems #5985"
Figure out:

- [X] Why so many verses got invalidated
  - @PhotoNomad0 an older version of the app reset the entire verse if any alignments were changed.  No longer a problem since the latest wA does word by word validation.  **_CHecking versions_**

- [X] If the alignment data is recoverable
  - @PhotoNomad0 - at first pass it doesn't appear so, because the aligner did not save to DCS and the old

[2019-04-17 18:55] benjore commented on #5985
Russ Perry   [Apr 1st at 3:17 AM]
@ben_jore We are reviewing some of the alignment work that HTS is doing for the Nepali NT. The project manager had copied the project folder from the aligner's computer to his (PM's) computer, and then the PM uploaded the project to Door43. When I imported the online project and opened it in tC 1.1.2, it shows 61 invalidated alignments. I'm trying to understand ho

[2019-04-17 18:56] benjore commented on #5985
Russ Perry   [Apr 2nd at 6:39 AM]
I plotted a way forward for them to go a book at time and make backups and upload to see if they can isolate it. The alignments weren't completely finished anyway.
26 replies

Ben Jore   [15 days ago]
What can be developed in tC to help simplify this?

Larry Sallee   [15 days ago]
@ben_jore We have been using tC and D43 seamlessly to move alignment projects betwee

[2019-04-17 18:56] benjore commented on #5985
Bruce McLean   [Apr 2nd at 9:22 AM]
@russperry In digging in further, in chapter 1:13 I am seeing a stand-alone character at the end of the line that may be messing up the alignments on importing to 1.0.2 - called `DEVANAGARI DANDA` unicode 964.  Looking into it.
20 replies

Bruce McLean   [15 days ago]
the project version in the manifest means that it could have been done on tCore versions 0.10.0

[2019-04-18 18:15] PhotoNomad0 commented on #5970
@benjore - it looks like my fixes will handle the failures listed above.  So I'm getting close.

[2019-04-19 19:57] cckozie opened #5990 "The actual application log (from the file system) is not attached to the Trello card on the Door43 Helpdesk"
1.1.3 (cf7905c)
Dup of #5836? - yes @PhotoNomad0
Here is a link to the Trello card: https://trello.com/c/2TqJm73R/77-tc-general-feedback
Here is the log file: [https://app.zenhub.com/files/65028237/5b85b03e-d520-417d-9d75-2d6e7f27e02f/download](https://app.zenhub.com/files/65028237/5b85b03e-d520-417d-9d75-2d6e7f27e02f/download)

[2019-04-22 18:44] cckozie opened #5991 "[12] Need performance improvements in checking for invalidations"
1.1.3 (cf7905c)
[41-MAT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3104489/41-MAT.usfm.zip)
In the attached unaligned Matthew project it takes 10 20 seconds to test for invalidations when editing a verse in wA on my fastest machine.
1. Import the project
2. Open in wA
3. Navigate to verse 15:1
4. Align the verse as follows:
![image](https://user-images.githubusercontent.c

[2019-04-23 16:19] benjore opened #5992 "Fork a project in DCS before importing a project from someone else's repo"
## Story Explanation
### User Story

As a team member working on a group project, I want tC to fork the original project to my repo in DCS so that when I'm done and upload the project to my repo, I can simply issue a PR to merge it back into the "master" branch.

### Features / Specifications

- [ ] When a user is logged in and imports a project from someone else's repo:
  - [ ] Fork the project t

[2019-04-23 18:24] jag3773 commented on #5992
Note that the forking tree information is arguably more important than needing to do a PR later, but we get both with a fork :)

[2019-04-23 18:30] benjore commented on #5992
Koz - need to make it an option
Manny - merge conflicts?
Spidel - what about name changes?

[2019-04-23 18:36] benjore commented on #5641
A "normal" CSV file should always be exported irregardless of whether or not it has been opened in a tool.

[2019-04-23 20:09] PhotoNomad0 commented on #5992
@jag3773  - since the new project has same history, couldn’t we do merge requests now?  Or is it that DCS doesn’t give that option?

Sent from my iPhone

[2019-04-23 20:13] cckozie opened #5993 "Alignments get invalidated when upgrading from 0.9 and 0.10"
1.1.3 (cf7905c)
May be related to #5985
When upgrading from older releases, some alignments get invalidated and sometimes the number of broken links on the tool card do no match up with the change in % complete.
These projects are from 0.9.1
[0.9.1 projects.zip](https://github.com/unfoldingWord-dev/translationCore/files/3109347/0.9.1.projects.zip)

| Project 	| wA% in 0.9.1 	| wA% in 1.1.3 	| wA r

[2019-04-24 00:46] PhotoNomad0 commented on #5993
Related to updated ugnt?

Sent from my iPhone

[2019-04-24 15:08] cckozie opened #5996 "All translationWord category checkboxes are cleared when existing project is selected after upgrade to 1.2"
1.2.0 (d3d469b)
Here is a project from v1.1.3 [en_thre_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3113862/en_thre_tit_book.zip)
This is also a problem with at least some projects imported from Door43. https://git.door43.org/tc01/en_ultt_tit_book

I had several existing projects in 1.1.3 where all 3 tW categories were selected on the tool card. After upgrading to 1.2,

[2019-04-24 15:13] cckozie opened #5997 "App crashes when expanding the categories on tN tool card"
1.2.0 (d3d469b)
Select any project
Click the categories downarrow to expand the categories on the tN tool card
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/f470d569-9b64-4cec-97a9-a5b9e7f099dd)

[2019-04-24 15:21] cckozie opened #5998 "tN data is not being highlighted in the Scripture Pane (or displayed in the Check pane)"
1.2.0 (d3d469b)
![image](https://user-images.githubusercontent.com/8171759/56671696-b2018c80-667a-11e9-8407-3f4bfaf44255.png)

[2019-04-24 15:23] cckozie opened #5999 "The helps pane is empty in tN"
1.2.0 (d3d469b)
![image](https://user-images.githubusercontent.com/8171759/56671853-f5f49180-667a-11e9-8dec-98205c670593.png)

- [ ] The tHelps pane needs to display the tA article for the category, in the screenshot above, it would be `Abstract Nouns` (i.e. https://door43.org/u/unfoldingWord/en_ta/633054c931/03-translate.html#figs-abstractnouns )

[2019-04-24 15:25] cckozie commented on #5756
1.2.0 (d3d469b) - MULTIPLE ISSUES (9)

- [x] ISSUE 1: **Works in 1.2.0 (cc9c5b5)**
The Load button should be disabled when no categories are selected. (May be fixed when #5920 is fixed)

- [x] ISSUE 2: **Works in 1.2.0 (cc9c5b5)**
The top level checkbox should show the indeterminate state when only one or some of the child categories are checked.

- [x] ISSUE 3: **Works in 1.2.0 (cc9c5b5)**
"Trans

[2019-04-24 15:37] jag3773 commented on #5992
Yeah you could do that manually.  The problem is that we are not preserving the trail of data.

Recording the fork in DCS provides many advantages for workflow, debugging, and general provenance.

Koz - I don't think it should be an option, it should just be what tC does, just like if you were to copy a repo on DCS, you hit the fork button, that's just the way it works.  If you really want to subv

[2019-04-24 15:37] cckozie opened #6000 "Problem with the selected tile card color in the group menu in tN"
1.2.0 (d3d469b)
The goup menu tile turns blue as expected when it is selected, but when the cursor is moved away from the tile, its background turns to black.
If there is only one check in the group, then the group name card background goes to black.
![image](https://user-images.githubusercontent.com/8171759/56672962-f68e2780-667c-11e9-8b5f-7eab296b8af0.png)

[2019-04-24 15:38] cckozie commented on #5997
Dup -
Added this to the tN tool card issue.

[2019-04-24 15:38] #5997 closed, assigned to nobody

[2019-04-24 16:12] cckozie opened #6001 "Invalidations are not being displayed on the tW and tN tool cards, and not being properly reset in tN"
1.2.0 (d3d469b)
(This should possibly be a failure on #5941 or  #5837.)
~[en_test_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3113199/en_test_tit_book.zip)~
[en_tst_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3315696/en_tst_tit_book.zip)

Open this fully aligned project and note that there is one tW check in "faith" and one tN check in "abs

[2019-04-24 16:31] cckozie commented on #5941
@benjore - It is not specified in this issue, but there is no longer an option for "Do not show again" when alignments get invalidated.
1. Should I fail this issue for that?
2. Should the option to not show again be shown regardless of whether it's selections that have been reset, alignments invalidated, or both?

[2019-04-24 16:55] cckozie opened #6002 "wA is indicating alignment invalidations when the edited words were not aligned"
1.2.0 (d3d469b)
Make a selection in tN
Go to wA and unalign some of the words in the tN  selection.
Edit one of the unaligned words.
Watch for alignments invalidated message, but not a broken link.

This appears to be a dup of #6001

[2019-04-24 17:54] cckozie commented on #5942
Looks good in 1.2.0 (d3d469b)

[2019-04-24 18:10] mannycolon commented on #5951
Tested on de171a2 (v1.2.0)

[2019-04-24 19:00] cckozie opened #6003 "tN category inconsistencies"
THESE PROBLEMS WERE ADDED TO #5756. Closing the issue.

ISSUE 1:
"Translating Father and Son" does not show up as a category on the tN card, but always appears as a group menu item when the tool is open.

[Ben] There needs to be an "Other" head category. I believe `Translating Father and Son` should fall under that category

ISSUE 2:
There are inconsistencies in what a category is named on the tN

[2019-04-24 19:31] benjore commented on #5941
1. The "Do not show again" needs to remain for invalidated alignments. Fail it.
2. Only alignments invalidated at this time.

[2019-04-24 19:32] cckozie commented on #5801
In v1.1.3 and a fully aligned Acts project, the "Loading..." alert was displayed for about 6.5 seconds during the full time from project selection until the alert was dismissed and the Tools page was displayed.
In 1.2.0 (de171a2), the equivalent time is now about 11 seconds, twice as long.
In testing against an older version of 1.2 I found the time was much longer, 80+ seconds.
So, although there

[2019-04-24 21:06] benjore opened #6004 "Turn developer mode off with each install of tC"
## Story Explanation
### User Story

As a user, I want a new install of tC to always put me in "non-developer mode" so that I don't think that something is wrong with tC.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-04-24 21:41] benjore opened #6005 "Search "Anglicized" language names in language lookup"
## Story Explanation
### User Story

As a speaker of a language with a non-western script, I want to be able to lookup my language using my regular keyboard so that I don't have to memorize the language code in order to find my language.

### Features / Specifications

- [ ]
- [ ]
- [ ]

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/92ed0f65-9404-4ba5-8b64-648221cefdec

[2019-04-24 21:42] benjore opened #6006 "Spike: Why are there two languages for `[hi]`?"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]
![image](https://user-images.githubusercontent.com/13352518/56695952-0115e480-66b0-11e9-9706-f6ebf4b2ebd5.png)

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-04-24 22:13] #6003 closed, assigned to nobody

[2019-04-25 00:02] mannycolon opened #6007 "Username appears twice on successful DCS upload alert modal"
## Story Explanation
### User Story

As a tC user, I want the successful DCS upload alert to only include my username once so that my OCD doesn't drive me nuts lol.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]
## Additional Context
![Screen Shot 2019-04-24 at 7.57.14 PM.png](https://images.zenhubusercontent.com/576988c1bf93871ccd9cf7e4/66f5d97c-b08b-

[2019-04-25 00:09] mannycolon commented on #5801
@cckozie Most of the loading process that used to happen when we Launch the tool was moved back to when we select the project. So Launching the tool is significantly much faster thus selecting a project is slower than in previous versions. In other words, we are basically doing most of the processing when selecting the project unlike in the past when we used to divide the processing time in two (w

[2019-04-25 13:56] benjore opened #6008 "Spacing issues with the '\add' USFM marker - displaying in Scripture Pane"
## Story Explanation
### User Story
Problems in this issue are related to:
https://git.door43.org/Door43-Catalog/en_t4t/raw/branch/master/44-JHN.usfm

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/444cc3c3-f196-4d0b-bf0b-3d8ce6eeba13)

![image](https://user-images.githubusercontent.com/13352518/57035000-9bc57480-6c16-11e9-9345-5208e7c74f4a.png)

### Features / Specific

[2019-04-25 14:58] cckozie commented on #5801
@mannycolon - Yes, I understand the processing sequence and the reasoning for it. However, as more tools become available the tradeoff in when their data is loaded may become less desirable. In many cases the user will be focused on a single tool for some period of time. Currently most users are focused on alignments and each time they select a project they pay the additional price of having the a

[2019-04-25 15:29] cckozie opened #6009 "The checkmark and % complete circle do not reflect existing selections when importing some projects"
1.2.0 (de171a2)
https://git.door43.org/tc0101/en_ult_tit_book
May be related to #6001
1. Import the project from Door43
2. Load the project in tW
3. Navigate to group "apostle" verse 1:1
4. Note that there is a selection, but that the menu tile does not have the checkmark and the % complete circle does not indicate a selection. The icon bar does show the checkmark.
![image.png](https://images.zenh

[2019-04-25 15:43] benjore commented on #5724
Superceded by #5708

[2019-04-25 15:43] #5724 closed, assigned to PhotoNomad0

[2019-04-25 15:54] cckozie commented on #5941
@benjore - Does the fact that we now have the "do not show..." checkbox on the "Some selections..." alert displayed when (re)importing a project change your mind about 2. above?
![image](https://user-images.githubusercontent.com/8171759/56750002-76cd8f00-6748-11e9-83d8-22cb56c4f78e.png)

[2019-04-25 15:59] cckozie commented on #5686
1.2.0 (de171a2)
There are still problems associated with this issue, but I suspect they will be fixed #6001.
The user is not alerted to both wA and tW resets when the project is reimported.

[2019-04-25 16:05] benjore commented on #5941
Yes it does. I didn't realize we had implemented that already.

[2019-04-25 16:08] cckozie commented on #5941
1.2.0 (de171a2)
Need to implement the "Do not show this warning again" checkbox option on all notifications of reset selections, invalidated alignments, and both.
(Yes, it probably should have been spelled out on the requirements)

[2019-04-25 16:20] cckozie opened #6010 "Reduce the time from when a project is selected until the Tools page is displayed"
- [ ] Timebox to 3 days

1.2.0 (de171a2)
In v1.1.3 and a fully aligned Acts project, the "Loading..." alert was displayed for about 6.5 seconds during the full time from project selection until the alert was dismissed and the Tools page was displayed.

In 1.2.0 (de171a2), the equivalent time is now about 11 seconds, twice as long. Users of 1.1.2 who upgrade to 1.1.3 (strongly recommended) will see

[2019-04-25 16:23] cckozie commented on #5801
I've written up an enhancement request in #6010.

[2019-04-25 16:38] cckozie commented on #5963
1.2.0 (de171a2)
When upgrading from an earlier version of tC, grc still appears in the resources folder and Koine Greek appears twice in the resource selection dropdown list.
![image](https://user-images.githubusercontent.com/8171759/56752214-65d34c80-674d-11e9-9687-68164f0dc189.png)

[2019-04-25 18:19] cckozie commented on #5832
1.2.0 (de171a2)
I made an edit in tN. The edit icon was not displayed on the verse in any of the tools.
May be related to #5837.

[2019-04-25 18:24] cckozie commented on #5837
1.2.0 (de171a2)
I suspect that some of the issues I've failed may be caused by this work so I'm holding this until they have all been passed. (#6001, #6009, #5832)

[2019-04-26 13:59] cckozie commented on #5755
1.2.0 (de171a2)

ISSUE 1:
The subcategory descriptions should appear when a user hovers over the subcategory's title rather than when the user clicks on the title.

ISSUE 2:
"Bad text" and formatting in some hover-over descriptions. Here are a couple examples:
![image](https://user-images.githubusercontent.com/8171759/56811166-bd30f580-67fd-11e9-991e-c804e4720a13.png)
![image](https://user-images.

[2019-04-26 14:02] cckozie opened #6014 "Items in the tN group menu should appear in alphabetical order"
1.2.0 (de171a2)
The entire group menu should appear in alphabetical order. It appears that it is now sorted by top level category and then sorted alphabetically within that category.

[2019-04-26 14:28] benjore opened #6015 "Add tokenizer version number and app version number to project manifest"
## Story Explanation
### User Story

As a user of tC, I want update to a new version of tC without fear of lots of my work being invalidated so that I don't lose confidence in the app.

### Features / Specifications

- [ ] Include the tokenizer version number in the project manifest
- [ ] Include the tC version number (with hash) in the project manifest
- [ ] If the user is about to open a project

[2019-04-26 14:31] benjore opened #6016 "For builds not intended for production use, have app open with console open"
## Story Explanation
### User Story

As a QA tester, I want non-RC builds to start with the console open so that I can see what is happening while the app is loading.

### Features / Specifications

- [ ] Use environment variable??
- [ ]
- [ ]

### Definition of Done

- [ ] Builds off of develop open with the console open (it's open even when the loading screen is displaying)
- [ ] Builds from a r

[2019-04-26 14:38] benjore commented on #6007
Dup of #4577

[2019-04-26 14:38] #6007 closed, assigned to nobody

[2019-04-26 14:47] benjore commented on #5444
related to $5865

[2019-04-26 15:30] benjore opened #6017 "Spinning tC logo/icon sometimes starts as a blank white box during tool loading"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Change the big spinner for the small spinner in all locations.
- [ ] Fix the issue that is causing the spinning logo to not show up.
  - [ ] This is for Tool loading.

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-04-26 15:39] benjore commented on #6017
Related to #3522

[2019-04-26 16:41] benjore commented on #5751
I think this was fixed in 1.1.3 when we deselected the project after changing project details.

[2019-04-27 16:49] cckozie commented on #5760
Correct data (from occurrence note) is being displayed in the smurf bar.
The noted problem in 2:12 now works as described by Joel above in 1.2.0 (b485978)

[2019-04-27 17:03] cckozie commented on #5920
1.2.0 (b485978)
There is no "Other" category. Its subcategories appear in the group menu even though not selected.

[2019-04-27 18:16] cckozie commented on #5951
1.2.0 (b485978)
Followed Manny's test process on PR #5968 (following) and "Double negatives" show up on the tN tool card unchecked. Their checks do not show on the group menu when the project is loaded.

![image](https://user-images.githubusercontent.com/8171759/56853502-8dade600-68ee-11e9-98e8-da958d7eeaf7.png)

Steps:
1. Deleted `figs-doublenegatives.json` from `(resources/en/translationHelps/tr

[2019-04-27 18:25] cckozie commented on #5951
In the scenario above I had renamed the doublenegatives file to xxxxfigs-doublenegatives.json rather than deleting it. It appears that may not be a reasonable test since when I actually deleted it "Double negatives" no longer show on the tN tool card.

[2019-04-27 18:48] cckozie opened #6021 "tN opens with ERROR and blank screen when no categories are selected"
1.2.0 (b485978)
May be fixed when ISSUE 1 on #5756 is fixed.
[en_ulb_tit_book (1).zip](https://github.com/unfoldingWord-dev/translationCore/files/3124247/en_ulb_tit_book.1.zip)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/50b9fbd6-2536-4ae1-9ce1-140699fcc14d)

[2019-04-27 19:02] cckozie opened #6022 "Wrong checkmark icon being displayed on group menu tiles"
This appears to be a problem in tW and tN but not wA.
Bookmark icon in 1.2.0 (b485978)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/7b475e3c-40c9-4c70-b0da-706ebdb1a9db)
![image](https://user-images.githubusercontent.com/8171759/56854012-424b0600-68f5-11e9-85ac-1588dfa4536f.png)
![image](https://user-images.githubusercontent.com/8171759/56855197-c9ee4000-6908-11e9-961

[2019-04-27 20:30] cckozie commented on #5244
No longer a problem in 1.2.0 (b485978)

[2019-04-27 20:30] #5244 closed, assigned to nobody

[2019-04-27 20:34] cckozie commented on #5306
No longer a problem in 1.2.0 (b485978)

[2019-04-27 20:34] #5306 closed, assigned to nobody

[2019-04-27 20:42] cckozie commented on #5785
1.2.0 (b485978)
The missing verses dialog is no longer displayed.
The v 25 marker is not added in Revelation.
Should the scripture pane appear as above, or should the UGNT indicate no verse?

[2019-04-27 20:46] cckozie commented on #5325
Fixed in 1.2.0 (b485978)

[2019-04-27 20:46] #5325 closed, assigned to nobody

[2019-04-27 20:49] cckozie commented on #5341
No longer a problem in  1.2.0 (b485978)

[2019-04-27 20:49] #5341 closed, assigned to nobody

[2019-04-27 20:52] cckozie commented on #5339
Not a problem in 1.2.0 (b485978)

[2019-04-27 20:52] #5339 closed, assigned to nobody

[2019-04-27 20:55] cckozie commented on #5342
Not a problem in 1.2.0 (b485978)

[2019-04-27 20:55] #5342 closed, assigned to nobody

[2019-04-27 20:57] cckozie commented on #5392
works in https://git.door43.org/tCore-test-data/am_1co_ulb

[2019-04-27 20:57] #5392 closed, assigned to nobody

[2019-04-27 20:59] cckozie commented on #5554
OK.

[2019-04-27 20:59] #5554 closed, assigned to nobody

[2019-04-27 21:02] cckozie commented on #5694
Works in 1.2.0 (b485978)

[2019-04-27 21:02] #5694 closed, assigned to nobody

[2019-04-27 21:06] cckozie commented on #5706
Works in 1.2.0 (b485978)

[2019-04-27 21:12] #5706 closed, assigned to nobody

[2019-04-27 21:29] cckozie commented on #5709
Works in 1.2.0 (b485978)

[2019-04-27 21:29] #5709 closed, assigned to nobody

[2019-04-27 21:42] cckozie commented on #5553
Looks good in 1.2.0 (b485978). Missing folders are restored when (re)starting tC.

[2019-04-27 21:46] #5553 closed, assigned to nobody

[2019-04-27 21:50] cckozie commented on #5847
Looks good in 1.2.0 (b485978)

[2019-04-27 21:50] #5847 closed, assigned to nobody

[2019-04-27 21:51] cckozie commented on #5833
Works in1.2.0 (b485978)

[2019-04-27 21:51] #5833 closed, assigned to nobody

[2019-04-27 21:58] cckozie commented on #5649
1.2.0 (b485978)
App no longer hangs, but error message is not correct. Added the project links to #5691.

[2019-04-27 21:58] #5649 closed, assigned to nobody

[2019-04-27 21:59] cckozie commented on #5751
Works correctly in 1.2.0 (b485978)

[2019-04-27 22:00] #5751 closed, assigned to nobody

[2019-04-27 22:00] #6002 closed, assigned to nobody

[2019-04-27 22:12] cckozie commented on #5738
I don't remember how to test this.

[2019-04-27 22:24] cckozie commented on #5972
I think we're good in 1.2.0 (b485978)

[2019-04-27 22:24] #5972 closed, assigned to PhotoNomad0

[2019-04-27 22:25] cckozie commented on #5890
Haven't seen this for some time now. Closing.

[2019-04-27 22:25] #5890 closed, assigned to PhotoNomad0

[2019-04-27 22:27] cckozie commented on #5855
In 1.2.0 (b485978) the issues are all either fixed or represented on other active issues.

[2019-04-27 22:27] #5855 closed, assigned to nobody

[2019-04-27 22:27] cckozie commented on #2009
Holding until all child issues pass.

[2019-04-27 22:41] cckozie commented on #5086
1.2.0 (b485978)
The catalog source still looks the same.
The usfm3 export now looks different, and there are verse markers in the middle of some lines. Is that OK?
Apparently that is OK. Pinging Robert'.

[2019-04-29 12:46] PhotoNomad0 commented on #5963
@cckozie - the upgrade works if you start with a fresh 1.1.3 install and then run 1.2.0.  Which is the normal use case.

The only way I can reproduce this behavior is to run the 1.2.0, then go back to 1.1.3, and then run 1.2.0.  The problem is that the 1.1.3 version when it runs notices that `grc` is missing and restores it, but it leaves the time stamp for the resources to the 1.2.0 time.  Then w

[2019-04-29 13:04] PhotoNomad0 commented on #5941
@benjore - How do you want the behavior on the combined warning?  Do you want to combine the do not shows checkboxes for alignments and selections?  Do you want separate check boxes?

[2019-04-29 13:44] PhotoNomad0 commented on #5970
Verified in https://tc-builds.door43.org/build/release-v1.1.4/translationCore-macos-x64-1.1.4-6826f63.dmg

[2019-04-29 14:11] PhotoNomad0 commented on #5996
@cckozie @benjore - I think this is also a problem in 1.1.4

[2019-04-29 14:44] cckozie commented on #5963
It was not my intent to test by going from 1.2 to 1.1.3 and then back again, but after retesting I have to agree with @PhotoNomad0 that's what I must have done. I have testing upgrading from multiple previous releases going back to 0.9 and it appears to be working correctly.

[2019-04-29 14:48] cckozie commented on #5996
@PhotoNomad0 - So 1.1.4 was not a branch off of 1.1.3?

[2019-04-29 18:07] PhotoNomad0 commented on #6022
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-a3b50df.dmg

[2019-04-29 19:00] PhotoNomad0 commented on #5755
@cckozie - it looks like the popups are showing the markdown text, rather than the formatted text.

[2019-04-29 19:22] cckozie opened #6025 "Changing locale does not always affect all strings"
1.2.0 (b485978)
I started with a clean install of 1.2.0
I imported a fully aligned Titus project
I loaded the project in tN
I opened the Menu filter
I changed the locale to Spanish
I noted that the screen was now all localized
I navigated back to the projects page
I changed the locale back to English
I reloaded the Titus project in tN
Now the menu bar is in English, but everything else is still in

[2019-04-29 19:51] cckozie commented on #6022
Looks good in 1.2.0 (a3b50df)

[2019-04-29 20:10] PhotoNomad0 commented on #5755
@benjore - In looking at https://github.com/unfoldingWord-dev/translationCore/issues/2009, was the intent to just show the first Paragraph of the article as the hint?

[2019-04-29 20:30] cckozie commented on #5970
Moved to #6026
~~1.2.0 (a3b50df)~~
~~[en_ult_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3129115/en_ult_tit_book.zip)~~

~~Scripture pane loses resources when navigating to Titus 1:4 under God the Father.~~
~~I'm not sure that this problem is related to the work on this issue, but it was not a problem in 1.1.3.~~

~~[scripture_pane.mov.zip](https://github.com/unfolding

[2019-04-30 12:00] PhotoNomad0 commented on #5755
@benjore @cckozie - here are a couple of examples for review using our standard Hints.  Also tweaked it to remove some more of the markdown in the helps.  Is this acceptable?

![Screen Shot 2019-04-30 at 7 53 44 AM](https://user-images.githubusercontent.com/14238574/56960163-ed3e0880-6b1d-11e9-9a67-d069f5c150f4.png)

![Screen Shot 2019-04-30 at 7 54 38 AM](https://user-images.githubusercontent.com

[2019-04-30 12:22] PhotoNomad0 commented on #5996
Verified in https://tc-builds.door43.org/build/release-v1.1.4/translationCore-macos-x64-1.1.4-39e7046.dmg

[2019-04-30 12:23] PhotoNomad0 commented on #5996
@benjore - sorry, but I already added this to 1.1.4 since it was the same fix as for 1.2.0

[2019-04-30 13:14] PhotoNomad0 commented on #5970
@cckozie - this issue is actually a fix for 1.1.4 and don't think we have merged it into 1.2.0 yet.  Looking at problem opening this is 1.1.4 first.

[2019-04-30 13:21] cckozie commented on #5970
@PhotoNomad0 - My bad. Sorry, I can't keep up with all the versions:)

[2019-04-30 13:23] cckozie opened #6026 "Scripture pane in tW loses resources when navigating to certain verses"
1.2.0 (a3b50df)
[en_ult_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3129115/en_ult_tit_book.zip)

Scripture pane loses resources when navigating to Titus 1:4 under God the Father.
This was not a problem in 1.1.3.

[scripture_pane.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3129097/scripture_pane.mov.zip)

Same problem on 3:5 under Holy Spirit
An

[2019-04-30 14:30] PhotoNomad0 commented on #5941
@benjore - Also should this be fixed in 1.1.4 since it is a high priority for Larry.

[2019-04-30 14:40] PhotoNomad0 commented on #5781
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.2.0-f58a0ac.dmg

[2019-04-30 14:52] cckozie commented on #5832
1.2.0 (f58a0ac)
Made two edits in wA, one that invalidated a tW check, and one that did not.
In the case where the check was reset, the broken icon was displayed as expected.
In neither case did the edit icon appear on the verse in tW.

[2019-04-30 15:35] #5980 closed, assigned to mannycolon

[2019-04-30 15:37] #5951 closed, assigned to RoyalSix

[2019-04-30 15:41] #5760 closed, assigned to RoyalSix, mannycolon

[2019-04-30 15:42] #6022 closed, assigned to PhotoNomad0

[2019-04-30 16:50] PhotoNomad0 commented on #5785
@cckozie @benjore - I am still seeing a missing verse warning in Revelation:

![Screen Shot 2019-04-30 at 12 42 13 PM](https://user-images.githubusercontent.com/14238574/56978562-c85d8b80-6b45-11e9-9928-36f4d638f991.png)

and then in WA the verse still shows up, though empty:

![Screen Shot 2019-04-30 at 12 43 20 PM](https://user-images.githubusercontent.com/14238574/56978579-d0b5c680-6b45-11e9-89

[2019-04-30 17:05] cckozie opened #6027 "Spacing problem in the ULT for Mat 9:6"
May want to combine with #6036 if they're similar

- [ ] Retain spaces. In the ULT it is `, ... "` (not `,..."`)
  - [ ] Note: It appears that the `"` below also is missing a space before it

I don't know if this is a problem with the source content or tC, or a source problem caused by tC, but it seems to me that there should be a space between the quote mark and 'he'.
![image](https://user-images

[2019-04-30 17:18] cckozie commented on #5785
The ULT has not been fixed.

![image](https://user-images.githubusercontent.com/8171759/56980520-30aa6e00-6b42-11e9-8592-596713088c70.png)

![image](https://user-images.githubusercontent.com/8171759/56980605-62bbd000-6b42-11e9-8ebc-92a82a80b54a.png)

[2019-04-30 17:57] cckozie opened #6029 "tC crashes when opening a 1.2 project in a prior release"
- [x] Add the tC version number to the manifest (1.1.4 (e7e858a) - shows as edit version)
- [x] Add version of tC (and prior) with which this project is incompatible. This is minimum version of compatibility (or maximum incompatibility). Warn if that version or previous.
- [x] If the project is trying to be opened in a version that is incompatible, do not open the project, throw an error that says

[2019-04-30 18:06] cckozie commented on #3522
Mostly fixed in 1.2.0-f58a0ac
I tested about 15 project loads. It failed once and worked all of the other times, so I'll pass it for now.

[2019-04-30 19:34] #3522 closed, assigned to nobody

[2019-04-30 19:34] #5801 closed, assigned to mannycolon

[2019-04-30 19:34] #5942 closed, assigned to mannycolon

[2019-04-30 19:34] #5963 closed, assigned to PhotoNomad0

[2019-04-30 19:56] PhotoNomad0 commented on #6006
@benjore - this is a just a search **_feature_** - since for each language code there can be either an anglicized name, localized name, or both; I have included whichever names are found.  I don't see this as a major problem since whichever the user selects will set the correct language code (hi) which is what the app uses.  It seems that it is preferred to be able to search by either anglicized o

[2019-04-30 19:56] bspidel opened #6030 "Merge current integration tests with tCore"
## Summary

Update McLean's current integration tests so that only passing tests are enabled. Then merge this into tCore.

## Motivation

This takes us down a path of increased attention to integration testing. Now everyone has access to McLean's initial foray into integration testing. His tests can be used as models for adding new working tests for new features.

Over time his disabled tests can

[2019-04-30 19:57] benjore commented on #5941
One checkbox for both is fine. Larry doesn't do anything in tW, so I don't think he'll have any problem with this. 1.2 is fine. (Assumption: the checkbox for invalidations for only alignments still works as per usual.)

[2019-04-30 19:59] benjore commented on #5755
I like it!

[2019-04-30 20:01] PhotoNomad0 commented on #6006
It does seem strange they are searching by language code in the name field by putting brackets around it.  If they already knew the language code, just put it into the language code field and they are done.

[2019-04-30 20:02] bspidel opened #6031 "Spike to develop convention for identifying UI controls for future integration tests"
## Summary

Specify a naming convention for UI controls so that any developer can find and conveniently refer to name of a control for use in integration test.

## Motivation

Currently it is possible to easily find the path to a UI control but it is sensitive to code changes. Hopefully a robust naming convention will make it obvious to test developer what to refer to in tests that can survive som

[2019-04-30 20:07] bspidel opened #6032 "As a tC checker, I want to be able to identify which comments have yet to be resolved."
## Summary

With iterative checking, comments added to text will be resolved in time and want to be overlooked when addressing new translation issues.

So add a filter for resolved comments
Add a way to make comment be resolved

## Motivation

This is an aid to iterative checking so that multiple people can work to resolve issues while not having to reread every comment to see what has yet to be a

[2019-04-30 20:29] cckozie commented on #5970
@PhotoNomad0 - This was broken with the big ERROR in 1.1.4-39e7046. Import a usfm3 project and try to load it in tW.
It was working in 1.1.4 (6826f63).
[Tue Apr 30 2019.log.zip](https://github.com/unfoldingWord-dev/translationCore/files/3133027/Tue.Apr.30.2019.log.zip)

[2019-04-30 20:47] cckozie commented on #5781
Works in 1.2.0 (d50041c)

[2019-04-30 20:51] cckozie commented on #5996
1.2.0 (d50041c)
Does not work with either of the projects reference at the top of the first comment.

It does work in 1.1.4 (39e7046)

[2019-05-01 12:03] PhotoNomad0 commented on #5941
@benjore - ~note this is also broken now when editing in WA, when I consolidated the prompts.  So I strongly suggest fixing this in 1.1.4.~

Nevermind - after checking I discovered that we did not consolidate dialogs in 1.1.4

[2019-05-01 14:19] benjore opened #6035 "Two checks highlighted in the menu at the same time"
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/f7504863-c179-40a8-9c13-fe555012ad1b)

- [ ] Only one check at a time should show up highlighted. (In this case, there was one verse with two identical checks. Both showed up highlighted in the menu.)

Some other examples:
Mat 24:30 and 26:24 under Son of Man

[2019-05-01 14:28] benjore commented on #6006
The corollary to this one is https://github.com/unfoldingWord-dev/translationCore/issues/6005 . In this one, the only way to find the correct `Nepali` language code is by searching `[ne]`. In #6005, searching for the anglicized version doesn't work. In this one, it appears there are two entries for `[hi]`.

Ultimately, what we need to happen between these two issues:
- [ ] A user should be able to

[2019-05-01 14:42] PhotoNomad0 commented on #6005
@benjore - when I search for `Nepali` I get `Nepali [npi]` and `Kurux, Nepali [npi]` as the only matches. It looks like there is a bug in tC that doesn't handle well if there are two language entries with the same anglicized name (both 'npi` and `ne` are called Nepali)

[2019-05-01 15:45] benjore opened #6036 "Spacing problem around punctuation in USFM in Scripture Pane"
May want to combine with #6027 if they're similar

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/fb2d6c07-c0da-467b-9b6a-13640f7c4ef3)

[2019-05-01 17:03] PhotoNomad0 commented on #6005
Fixing to show three matches for `Nepali`
![Screen Shot 2019-05-01 at 11 25 17 AM](https://user-images.githubusercontent.com/14238574/57030044-7c781880-6c11-11e9-8051-e1b6fb213b62.png)

[2019-05-01 19:18] PhotoNomad0 commented on #5970
verified in https://tc-builds.door43.org/build/release-v1.1.4/translationCore-macos-x64-1.1.4-ee8fa08.dmg

[2019-05-01 19:25] PhotoNomad0 commented on #6006
@benjore - This is being fixed in  #6005. So I think this spike is done.

[2019-05-02 13:46] cckozie commented on #5970
1.1.4 (ee8fa08)
Multiple checks are highlighted in the group menu.
This was working correctly in 1.1.3
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/f7504863-c179-40a8-9c13-fe555012ad1b)

Some other examples in [41-MAT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3138284/41-MAT.usfm.zip)
Mat 24:30 and 26:24 under Son of Man

[2019-05-02 19:17] benjore commented on #4667
#5779

[2019-05-02 19:17] #4667 closed, assigned to nobody

[2019-05-03 00:33] mannycolon commented on #5756
@cckozie`ISSUE 4` is not clear. The screenshots shown seem to be the wrong screenshots.

[2019-05-03 00:34] mannycolon commented on #5756
@benjore What should we do about `ISSUE 5`?

[2019-05-03 01:26] cckozie commented on #5756
@mannycolon - Yes, I agree #4 is unclear. I'll try to make a list of all of the inconsistencies and add it to the issue tomorrow.

[2019-05-03 12:17] PhotoNomad0 commented on #6029
@benjore @cckozie - What should be the behavior when the users downloads an incompatible version?  We could:
1. abort the download deleting the project from import folder, and show the error message
2. finish the download and import the project.  Then show error and not automatically select the project.

item 1 is easy to do
item 2 may be more complicated - rework to import stepper and hope to not

[2019-05-03 12:39] cckozie commented on #6029
@PhotoNomad0 @benjore - I'm basically OK with either solution for 1.1.4, but note that #1 would fail to protect against users that copy the project folder from another user or downgrade (unlikely).
We currently protect against all situations for projects from 0.7, I think by checking something in the manifest. How difficult would it be to tap into those routines to add this protection?

[2019-05-03 15:00] PhotoNomad0 commented on #6029
@cckozie @benjore - I was just discussing the import problem, but of course we will check on project load that the project is compatible.  That is easy to add into the current compatibility check.

My thoughts were that we check for valid versions on both download from D43 and when we select a project.

[2019-05-03 15:11] cckozie commented on #6029
Works for me.

[2019-05-03 15:38] PhotoNomad0 commented on #5996
@cckozie - this has been implemented in 1.1.4 first, will get merged into 1.2.0 after it has been verified.  Looking at the projects listed.

[2019-05-03 15:48] PhotoNomad0 commented on #5996
@cckozie - in build https://tc-builds.door43.org/build/release-v1.1.4/translationCore-macos-x64-1.1.4-040de06.dmg, I tested https://git.door43.org/tc01/en_ultt_tit_book and it shows all categories selected.  Looked at en_thre_tit_book.zip and that also shows all categories selected.

[2019-05-03 16:14] cckozie commented on #5756
**Fixed in 1.2.0 (5ee926c) **
Here are the relevant screenshots for ISSUE 4 above. A couple of the problems with Figures of Speech are just capitalization.
<img width="771" alt="culture" src="https://user-images.githubusercontent.com/8171759/57150464-ffc17780-6d93-11e9-88db-ca4e87da0ba9.png">

<img width="771" alt="discourse" src="https://user-images.githubusercontent.com/8171759/57150510-1e277300

[2019-05-03 16:17] PhotoNomad0 commented on #5970
@cckozie - wow, that is a mystery one since I didn't touch group menu. Looking into it.

[2019-05-03 16:24] PhotoNomad0 commented on #5970
@cckozie Trying with `translationCore 1.1.4 (040de06)`:
Did not see the problem with luke projects I had already loaded, but I do see it when I import a new USFM project.

[2019-05-03 17:44] cckozie commented on #6005
@benjore -  Wondering how literally I should interpret your definition of done. I can only search for "nepali" in the Language Name field. When I do, this is the result. Note that all text is in English. This is the case regardless of whether I use English or Hindi as the locale.
<img width="168" alt="lang" src="https://user-images.githubusercontent.com/8171759/57155318-c3484880-6da0-11e9-9233-8d1

[2019-05-03 18:27] benjore opened #6043 "2019-05-08 Professional Development: React/Redux Refresher"