[2020-07-17 20:48] PhotoNomad0 commented on #7033
verfified translationCore 3.0.0 (05a58a9)

[2020-07-20 14:28] cckozie commented on #7034
Looks good in 3.0.0 (05a58a9)

[2020-07-20 14:35] mannycolon opened #7068 "Getting acclimated with uW RCL approach"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-07-20 14:47] cckozie commented on #7033
Looks good in 3.0.0 (05a58a9)

[2020-07-21 12:39] #7011 closed, assigned to da1nerd

[2020-07-21 12:39] #6957 closed, assigned to da1nerd

[2020-07-21 13:10] #6788 closed, assigned to mannycolon

[2020-07-21 13:10] #6970 closed, assigned to mannycolon

[2020-07-21 13:10] #7033 closed, assigned to mannycolon

[2020-07-21 13:13] #7013 closed, assigned to PhotoNomad0

[2020-07-21 13:13] #7023 closed, assigned to PhotoNomad0

[2020-07-21 13:14] #7024 closed, assigned to PhotoNomad0

[2020-07-21 13:14] #7028 closed, assigned to PhotoNomad0

[2020-07-21 13:14] #7030 closed, assigned to PhotoNomad0

[2020-07-21 13:14] #7032 closed, assigned to PhotoNomad0

[2020-07-21 13:14] #7034 closed, assigned to PhotoNomad0

[2020-07-21 13:15] #7038 closed, assigned to PhotoNomad0

[2020-07-21 13:15] #7041 closed, assigned to PhotoNomad0

[2020-07-21 13:16] #7043 closed, assigned to PhotoNomad0

[2020-07-21 15:00] birchamp opened #7070 "change font drop down to show Ezra (default) as the font for Hebrew scripture resources."
font drop down should say Ezra (default) for Hebrew scripture.

[2020-07-21 18:57] cckozie opened #7072 "Unfriendly user message in certain circumstances when export to USFM fails"
3.0.0 (05a58a9)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/b97dab98-2c5d-448b-a38e-856bb2ff5367)
The problem was caused on my Mac when I specified "test" as the file name, and there already exists a folder with that path. When specifying "test.usfm" as the file name, the export works as expected.

[2020-07-21 19:19] #6872 closed, assigned to da1nerd

[2020-07-21 19:19] #7037 closed, assigned to mannycolon

[2020-07-21 19:19] #6988 closed, assigned to PhotoNomad0

[2020-07-22 13:17] birchamp opened #7074 "Modify build scripts to include all aligned Bibles"
Build scripts should have a switch to include all of the currently aligned Bibles published in the catalog.

[2020-07-22 14:30] mannycolon opened #7075 "Read The Phoenix Project"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-07-22 14:31] mannycolon opened #7076 "tC stress testing"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-07-22 18:45] mannycolon commented on #7075
- [x] Chapter 1
- [x] Chapter 2
- [x] Chapter 3
- [ ] Chapter 4
- [ ] Chapter 5
- [ ] Chapter 6
- [ ] Chapter 7
- [ ] Chapter 8
- [ ] Chapter 9
- [ ] Chapter 10
- [ ] Chapter 11
- [ ] Chapter 12
- [ ] Chapter 13
- [ ] Chapter 14
- [ ] Chapter 15
- [ ] Chapter 16

[2020-07-22 19:55] mannycolon commented on #7070
Verified on 911d214

[2020-07-22 20:13] cckozie commented on #7070
3.0.0 (911d214)
Ezra (Default) is displayed in the font dropdown list when Hebrew is shown as the Original Language.
In a project where Hebrew is the target language, then Noto Sans (Default) is displayed in the font dropdown list.

[2020-07-22 22:21] PhotoNomad0 commented on #7074
Verified in translationCore 3.0.0 (84f06a6)

Aligned Bible List: https://api.door43.org/v3/subjects/Aligned_Bible.json

[2020-07-24 18:44] mannycolon commented on #7068
- [x] https://forum.door43.org/t/component-libraries/396
- [x] https://unfoldingword-box3.github.io/hello-world-react-component-library/
  - [x] https://github.com/unfoldingWord-box3/hello-world-react-component-library
- [x] https://medium.com/the-andela-way/understanding-react-components-37f841c1f3bb
- [x] https://medium.com/better-programming/what-is-component-oriented-programming-cop-10b32ae1fa

[2020-07-25 10:55] PhotoNomad0 commented on #6746
Looks like the problem is here: https://github.com/unfoldingWord/tc-source-content-updater/blob/develop/src/helpers/packageParseHelpers.js#L127

Probably change this so that rather than throw an exception it will just warn.

[2020-07-27 22:13] cckozie opened #7081 "The edit cursor is incorrectly positioned in edit dialogs for RTL projects"
3.0.0 (529bf6b)
When editing an RTL project verse in the expanded scripture pane, the edit cursor is positioned at the right end of the LAST line of text.
When editing an RTL project verse in the check area of tN or tW, the edit cursor is positioned at the LEFT end of the LAST line of text.
In both cases, the edit cursor should be positioned at the RIGHT end of the FIRST line of text.

[2020-07-28 13:18] PhotoNomad0 commented on #7081
@cckozie - there is a bigger problem here.  The punctuation is not being rendered in the correct spot during edit.  See:

![Screen Shot 2020-07-28 at 9 07 34 AM copy](https://user-images.githubusercontent.com/14238574/88670720-662a6800-d0b3-11ea-916f-a28297048e86.png)

Also I think for RTL languages, I think we want the cursor at the left of the last line of text which is the end of text (see http

[2020-07-28 13:29] birchamp commented on #7081
@cckozie In 3.0, I'm seeing the caret at the end of the verse in LTR languages - Rightmost position of last line.

[2020-07-28 13:39] cckozie commented on #7081
Yes, my bad. Had it backwards. Cursor should show at the left end of the last line of text when opening an edit.

[2020-07-28 13:57] PhotoNomad0 commented on #7081
It's confusing for us ltr readers.

With fix, I now see:
![Screen Shot 2020-07-28 at 9 53 23 AM](https://user-images.githubusercontent.com/14238574/88675194-ae985480-d0b8-11ea-9061-fb563a2c270f.png)

[2020-07-28 16:17] PhotoNomad0 commented on #7081
Verified in translationCore 3.0.0 (5a7caea)

[2020-07-28 16:19] PhotoNomad0 commented on #6746
Verified fix is in translationCore 3.0.0 (5a7caea)

[2020-07-28 17:24] mannycolon commented on #7068
Created medium post to document how to get started with RCLs at unfoldingWord https://medium.com/@colonmanuel7/starting-a-react-component-library-at-unfoldingword-1fe623ed9a5

[2020-07-28 17:32] cckozie commented on #7081
Cursor positioning in edit dialogs and proper rendering of punctuation looks good in 3.0.0 (5a7caea

[2020-07-28 17:34] #7068 closed, assigned to mannycolon

[2020-07-28 19:31] cckozie opened #7084 "tN smurf bar links are incorrectly rendered after changing to the Hindi GL, then changing back to English"
3.0.0 (5a7caea)
1. Import a project from USFM. (I used a Hindi phm)
2. Open the project in tN
3. Note that the smurf bar links look correct
![image](https://user-images.githubusercontent.com/8171759/88708786-cf24d680-d0d9-11ea-9c8a-e8e3540d4482.png)
4. Return to the Tools page
5. Change the tN GL to Hindi
6. Load the project in tN (download the needed UGNT when prompted)
7. Note that the smurf bar

[2020-07-29 13:36] PhotoNomad0 commented on #7084
Note: work on issue https://github.com/unfoldingWord/translationCore/issues/7074 exposed a bug that when processing tN links, the tA was not automatically unzipped.

[2020-07-29 13:54] cckozie opened #7086 "Not all included Bibles are available to be loaded into the scripture pane"
3.0.0 (5a7caea)
There are 30 Bibles included in the build, but only 18 of them are shown in the scripture pane resources dropdown list

![image](https://user-images.githubusercontent.com/8171759/88808912-131ae880-d179-11ea-9341-9996d75e7771.png)

![Screen Shot 2020-07-29 at 8 42 11 AM](https://user-images.githubusercontent.com/8171759/88808777-e9fa5800-d178-11ea-831c-d93b922de9b0.jpg)

[2020-07-29 14:59] cckozie commented on #7086
Oops. It only shows 18 because only 18 of the Bibles have phm in them.

[2020-07-29 14:59] #7086 closed, assigned to nobody

[2020-07-29 15:21] PhotoNomad0 commented on #7084
@cckozie - Working in translationCore 3.0.0 (74b79f2)

Just note that you may have to switch tN GL to hi and back to en to force latest links to load if you have already opened the project with latest en_tn.

[2020-07-29 15:38] cckozie opened #7087 "WIndows installer fails to end running tC when prompted to do so"
3.0.0 (74b79f2)
When the Windows installer detects a running version of tC, it gives the user the option to have it automatically end the running tC processes. When the user selects the selects the option to automatically close those processes, that process fails and another dialog with additional options is displayed. The Try Again option does not work. The Ignore option can't work. Only the Canc

[2020-07-29 15:55] cckozie opened #7088 "When links in the expanded helps pane are clicked, the pane should automatically be scrolled to the top."
3.0.0 (74b79f2)
Open a project in tN
Click on a link in the smurf bar
Find a link in the expanded tHelps pane and click on it
Note that tC does not scroll to the top of the new content

[2020-07-29 18:50] cckozie commented on #6232
This is still (again) a problem in 3.0.0 (74b79f2)
[6232.zip](https://github.com/unfoldingWord/translationCore/files/4996911/6232.zip)

[2020-07-29 19:41] cckozie commented on #6405
The problem is back in 3.0.0 (74b79f2)
![image](https://user-images.githubusercontent.com/8171759/88845261-82103580-d1a9-11ea-9368-39438056e4fa.png)

[2020-07-29 21:26] cckozie commented on #6646
The problem is back in 3.0.0 (74b79f2)
![image](https://user-images.githubusercontent.com/8171759/88855259-33b66300-d1b8-11ea-932b-aa4b7a1046dc.png)

[2020-07-29 22:23] cckozie commented on #6689
The first referenced project no longer exists in github so I cannot test in 3.0

[2020-07-30 20:34] cckozie commented on #6837
The accent points in opposite directions

[2020-07-30 21:59] cckozie opened #7090 "The entire comment is not written to the Comments CSV file"
3.0.0 (74b79f2)

Actual comment:
![image](https://user-images.githubusercontent.com/8171759/88978397-4054bd00-d285-11ea-9dff-22e0a0a9a2c6.png)

In CSV file:
![image](https://user-images.githubusercontent.com/8171759/88978783-f8826580-d285-11ea-8142-a7182b5ec4d1.png)

[2020-07-30 22:03] cckozie commented on #7090
Problem was in the excel display

[2020-07-30 22:03] #7090 closed, assigned to nobody

[2020-08-03 19:46] cckozie opened #7092 "Resource updates for Nepali (ne) always fail"
3.0.0 (74b79f2)
It looks like missing content, but tC should handle these situations better. If all required content pieces are not available, the language should probably not appear in the downloadable resources list. Continuously getting the Resource download failed alert is not desirable.
![image](https://user-images.githubusercontent.com/8171759/89220397-1bb75880-d597-11ea-8bdf-aa708a6cd65d.pn

[2020-08-04 01:26] #7076 closed, assigned to PhotoNomad0, mannycolon

[2020-08-04 20:41] cckozie opened #7093 "tC will run on Windows 10 without having Git installed"
Delete the translationCore folders and uninstall tC and Git to simulate a clean install
Run the Windows installer
Unchecked the Install Git checkbox when that dialog appears
At the end of the installer, click the Launch checkbox and click Finish
When the Install Git dialog appears, click the Close translactionCore button
Wait...
(Although the tC icon does not show in the task bar, it is actually r

[2020-08-04 22:44] cckozie opened #7094 "Potential problems with rendering Arabic text"
In discussions with Alex:
He has found a couple things that he finds interesting, but doesn't feel that he is qualified to say whether or not it's acceptable. He recommends that we have a true Arabic reader take a look at 3John to see what they think.
The first attached image shows 3John 1:5 and 1:6 with Awami on the left and Scheherazade on the right.
The first thing Alex noted was the missing "w

[2020-08-04 23:04] cckozie opened #7095 "The "project contains data from unsupported version of tC" alert is auto-dismissed before it can be read and responded to"
3.0.0 (74b79f2
This is a project from V0.7. When the unsupported projects are imported, the alert is displayed as expected and waits for the user to respond.
[rmr-x-bsa_tit_text_ulb.zip](https://github.com/unfoldingWord/translationCore/files/5025233/rmr-x-bsa_tit_text_ulb.zip)
[7095.mp4.zip](https://github.com/unfoldingWord/translationCore/files/5025237/7095.mp4.zip)

Unzip the attached project in

[2020-08-05 10:14] PhotoNomad0 commented on #7092
@cckozie @birchamp - I seems the better solution is not to publish tN to the catalog if the tA for a language is not present.  Then tC will not try to download the tA.  I have a suspicion here that the content team forgot to publish the tA for ne.

[2020-08-05 16:39] cckozie opened #7096 "Allow multiple tN's for the same verse with the same original language text"
[en_tn_50-EPH.tsv.zip](https://github.com/unfoldingWord/translationCore/files/5029827/en_tn_50-EPH.tsv.zip)
Not sue if this is a bug or feature request.
I ran across this "duplicate" check in tN's for Ephesians. When I pinged the content team, they (Larry) indicated that this is a desired use case, and he thought it would work since both notes had a unique ID. As a workaround he will slightly modi

[2020-08-05 18:15] cckozie opened #7097 "The expanded tHelps pane in tN sometimes shows text from wrong GL"
3.0.0 (74b79f2)
Once an expanded tHelps pane is displayed for a topic, tC will display the text for that GL for the expanded tHelps pane for that topic in that project until tC is restarted.
1. Import a Titus project
2. Set the tN GL to English
3. Open the project in tN
4. Navigate to verse 2:5 in the Active or Passive group
5. Click on the Active or Passive link in the smurf bar
6. Note that the

[2020-08-05 18:16] cckozie commented on #7084
Fixed in 3.0.0 (74b79f2)

[2020-08-05 18:17] cckozie commented on #7074
30 Bibles included in 3.0.0 (74b79f2)

[2020-08-05 18:18] cckozie commented on #6746
There is no way to test this at this time.

[2020-08-05 20:05] RobH123 commented on #6746
Well, presumably if all current tests pass, that itself is a test that this change didn't mess up anything. So that half of the test has passed. But yes, now that the code is in there, hopefully it allows the content to test the inclusion of a front matter book when ready. Thanks.

[2020-08-10 16:06] cckozie opened #7099 "The app hangs on Step 2 of a new user attempting to login using an existing Door43 account."
v1.0.2
My first attempt at using tC Create. I'm following the video at https://drive.google.com/file/d/12cpPTgEnQULFMhefLoPN9Skzm3Kcl9Nj/view. I entered my Door43 username and password, and the app has hung at step 2 with the spinner spinning.
[issue 7099.mp4.zip](https://github.com/unfoldingWord/translationCore/files/5051972/issue.7099.mp4.zip)

[2020-08-10 18:44] cckozie commented on #7099
This was intended for tC Create

[2020-08-10 18:44] #7099 closed, assigned to nobody

[2020-08-18 19:48] deferredreward commented on #6405
![image](https://user-images.githubusercontent.com/703973/90558533-3a5a4980-e16a-11ea-9a2e-bb69114c815c.png)
Edited target text.

[2020-08-27 09:59] PhotoNomad0 opened #7101 "Need to add attribution for Lexicons in tCore"
### Description

tCore does not show attribution for Lexicons
- Hebrew Lexicon is from https://github.com/openscriptures/HebrewLexicon
- not sure about source of Greek Lexicon.  Straight Strongs?

### Steps to Reproduce

1. Click on info icon at bottom of Home page.

### Context

**Environment**
| Tech         | Version |
|--------------|---------|
| tc           | v3.0.0 and earlier  |
| OS

[2020-09-15 15:36] PhotoNomad0 commented on #7096
Developer Notes:
- in checking-tool-wrapper will have to update methods doing matching to also use check's ID:
  - see Api._loadCheckData()
  - checkDataHelpers.loadCheckData()
  - contextIdHelpers.sameContext()
  - groupsDataActions.isCheckUnique()
  - groupDataHelpers.findGroupDataItem()
- Looks like import from catalog will have to be updated to parse the check's ID:
  - update tsv-groupdata-pa

[2020-09-16 12:47] PhotoNomad0 commented on #7096
Question: do we want to add the ID field to CSV export?

[2020-09-18 03:25] RobH123 commented on #6996
Also, I've seen `\m  \v...` in files (two spaces between them). If tC is outputting this, could the \m go onto the previous line.

[2020-10-06 15:17] birchamp opened #7102 "Check manifest for default aligned text for GL Quote"
## Story Explanation
### User Story

As a GL team, we want to be able to specify the name of my chosen checking text and use the new naming convention of GLT so that the GL Quote in both TN and TW are the text of our choosing.

### Features / Specifications

- [ ] check the 'related' field in the the manifest of tN and tW for aligned GL Bibles. Top of the list takes precedence. Ignore bibles in GL

[2020-10-06 20:16] cckozie opened #7103 "Check for software updates incorrectly reports running latest version"
**[Verifying that the check for software updates works should be added to the tC Release issue template]**

When running tC 2.2.0 and Actions/Check for software updates is clicked, it returns this message even though 3.0 has been released. I don't know when this quit working, or if the problem is on the client or server side. I now tested it back to 1.1.4 and found it not to work. There is nothing

[2020-10-06 21:15] birchamp commented on #7103
@PhotoNomad0 Could you give us a estimate on what this would take to track down?

[2020-10-08 14:41] PhotoNomad0 commented on #7102
Verified in Version 3.0.1 (343c98b)

[2020-10-08 14:50] PhotoNomad0 commented on #7103
Mac install file name should now include `macos-x64`.  checked in Version 3.0.1 (343c98b)

And renamed file in latest release so older mac installs can find latest version.

[2020-10-08 19:11] cckozie opened #7105 "On a clean install, the Hindi ULB is the only Hindi resource automatically loaded to the scripture pane when Hindi is selected as the GL in tN"
3.0.1 (343c98b)  (This is the same behavior as in 3.0)
Delete the translationCore folder
Install 3.0.1 as an update to 3.0
Import an aligned Titus project
Set the GL to Hindi for tN
Open in tN
Note that the Hindi ULB and UGNT are the only resources in the scripture pane

[2020-10-08 19:18] cckozie opened #7106 "One of the Hindi subcategories gets unchecked after loading Titus in tN"
3.0.1 (343c98b)
Start with empty projects folder
Import an aligned Titus USFM project
Select Hindi as the GL for tN
Take the Download resources option when prompted
Note that the "Other" category is partially checked
Click on the checkbox for the Other category
Load the project in tN
Click the Tools icon to return to the Tools page
Note that the Other category is again partially checked and the su

[2020-10-08 19:22] cckozie opened #7107 "The support reference link is displayed in the smurf bar instead of the support reference name when the link includes * instead of the language code"
3.0.1 (343c98b)
![image](https://user-images.githubusercontent.com/8171759/95503931-adfe2300-0971-11eb-8726-1d0f3a623c80.png)

[2020-10-09 12:54] jag3773 opened #7109 "Critical Error when Aligning after Editing"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [ x I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

Reported by Allen via app:

Log attached.
### Context

**Enviorment**

App Version:
3.0.0 (74b79f2)
[log.txt](https://git

[2020-10-12 13:03] PhotoNomad0 opened #7110 "3.0.2 Release Checklist"
Release Steps Sign Off

### Features / Specifications

### Definition of Done

- [x] QA signs off on specific build in regression testing: current for `v3.0.2`, build number: `0f2d103`
- [x] Update changelog
- [x] create draft release on github for translationCore
- [x] Attach the github action builds (same build as QA signed off) to the draft release as assets
- [x] Update Release Notes to the dr

[2020-10-12 15:36] cckozie opened #7112 "Changing to a different locale does not change the headers on Lexicon card in the scripture pane until tC is restarted or a different project is selecrted"
3.0.1 (343c98b)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/6f1111a6-4c26-49fb-9158-538660e39b25)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/86a69e91-c845-456a-bc4f-04a077d45312)

[2020-10-12 17:11] PhotoNomad0 commented on #7110
@RoyalSix release notes - see steps in [Dev Workflow Document](https://docs.google.com/document/d/1-dJvDrxjIYwiUKUnH-E8qZel-DCDhsgM8iR-n9Cm57w/edit#heading=h.kwwwpmel1ulv) (scroll down to Release Process section)

[2020-10-12 23:48] cckozie opened #7113 "Give user more helpful information when resource downloads fail because of missing tA resources"
3.0.1 (343c98b)
Currently the user only receives the 'Failed to download source content updates.' message which seems to imply that it was a problem downloading rather than a content problem. Users would likely find it more helpful to be alerted to the fact that the problem is really missing resources.
This is currently happening with bn, ml, and te language codes.
![image](https://user-images.git

[2020-10-13 17:14] cckozie opened #7114 "The 3.0.1 release needs to be for build with hash 343c98b"
The link on the github zulip stream has somehow gotten changed to point to 269e9cb

[2020-10-13 20:45] cckozie opened #7115 "On a clean install on Windows, sometimes the Loading dialog does not appear and the user sees only a maximized completely white screen other than the Windows menu bar."
3.0.1 (343c98b)
I've first experienced this in this build. The screen was totally empty other than the Windows menu bar for about 2 minutes (on my quad core i7 machine) before the Get Started screen came up. Rich Mann also experienced this when testing the PR. I have not been able to replicate it.

[2020-10-13 21:36] cckozie commented on #7115
I did see this again when testing another issue. (#7116) I think they may be related. It looks like at some point during the initial opening of tC it starts another instance of it. Sometimes the screen from that second instance is displayed instead of the Loading one.
![image](https://user-images.githubusercontent.com/8171759/95918924-429dc200-0d72-11eb-9bee-c2ed9c4f5580.png)

[2020-10-13 21:47] cckozie commented on #7115
Looks like this problem also existed in 3.0, and maybe earlier.
When testing with 3.0 I noticed that when choosing the Close tC option on the Git is Required dialog, even though the tC icon in the taskbar disappears, there are still 4 tC tasks running when looking in the Background Processes of the Task Manager. The second tC instance is then started near the end of the loading process.

We should

[2020-10-13 23:21] cckozie commented on #7102
Looks good in 3.0.1 (343c98b)

[2020-10-13 23:23] cckozie opened #7117 "Release 3.0.1"
Release Steps Sign Off

### Features / Specifications

### Definition of Done

- [x] QA signs off on specific build in regression testing: current for 3.0.1, build number: 343c98b
- [x] Update changelog
- [x] Update Release Notes - add release notes here: https://github.com/unfoldingWord/translationCore/releases
- [x] Update language database in tCore (Note: this is probably not necessary for a po

[2020-10-13 23:28] #7064 closed, assigned to nobody

[2020-10-14 09:43] da1nerd opened #7119 "Github actions some times creates builds with an incorrect SHA"
Here's an example build
https://github.com/unfoldingWord/translationCore/actions/runs/297223366

### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [ ] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

[Description of the issu

[2020-10-15 03:15] da1nerd commented on #7119
There might be a problem in our checkout action. Look into update to the latest version https://github.com/actions/checkout

[2020-10-15 20:12] cckozie opened #7120 "The 'You are about to transmit data over the Internet' warning is not displayed before downloading a previous version of the original language for tN checks"
3.0
If the user selects a GL for tN that requires an older version of the original language than is on the system, he is prompted that a download of that version is required. When the user clicks Download on that alert, the Internet warning alert should be displayed unless he has previous clicked the Do not show again checkbox during the current session.

DoD: The user is presented with the intern

[2020-10-15 21:14] cckozie opened #7121 "tC needs to allow more than 2 versions of the original languages to be on the system simultaneously"
3.0 (Field reported by Russ Perry)
The tN checking tool is sensitive to the version of the original language that was used to create the checks in each GL. If the version of the original language needed for the GL selected for tN checking is not on the system, tC will prompt the user indicating such and then give him the opportunity to download the required version. If there are already 2 other ve

[2020-10-16 03:25] da1nerd commented on #7119
The  `on: push` event is just building the code on the pull request branch. the `on: pull_request` event is performing a temporary merge into the target branch and building that.

We might be able to remove the `pull_request` section from the workflow config, but I'm not sure if that will disable the initial build when a pull request is created.

![image](https://user-images.githubusercontent.com/

[2020-10-19 14:15] cckozie commented on #7103
After 3.0.1 was posted to the releases page, tested when running 3.0.0 (74b79f2) and it reports still reports Your are running the latest...
When testing from 2.1.2, it reports "There is a new version of translationCore.
You are running version 2.1.2. Version v3.0.0 is now available."

[2020-10-19 14:27] cckozie opened #7122 "Link problems on 3.0.1 releases page and translationCore.com"
ISSUE 1:
In the section
"How to Install
The installation files are available on the translationCore v3.0.1 release page or go to https://translationcore.com."
the release page points to
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/0afa1743-e724-4672-96e9-7cc09214a15c)

ISSUE 2:
The link to download the Mac build after clicking the Download button on translationCore.co

[2020-10-19 21:53] cckozie commented on #7103
Looks good now.

[2020-10-19 21:54] cckozie commented on #7114
Working now.

[2020-10-19 22:20] cckozie opened #7123 "Problems with releases 2.2 and 2.1.2 on the tC releases page"
https://github.com/unfoldingWord/translationCore/releases
Release 2.2 seems to have disappeared from this page
Downloading the 2.1.2 Win64 release downloads file translationCore-win-x64-2.1.2-44c92e9.setup.exe, but when the setup is run, 3.0.0 (74b79f2) gets installed.

[2020-10-20 13:00] birchamp commented on #7122
@cckozie I believe I've fixed all 3 of these issues now.

[2020-10-20 16:50] cckozie commented on #7122
The 3 issues have been fixed.

[2020-10-21 14:55] birchamp commented on #7096
@da1nerd @PhotoNomad0 Yes, I'd say if someone wants a CSV then they could have a reason for the ID field.

[2020-10-21 23:27] #7075 closed, assigned to PhotoNomad0, mannycolon

[2020-10-23 14:22] da1nerd commented on #7096
@PhotoNomad0 it looks like I can add the missing note id somewhere in here https://github.com/unfoldingWord/tsv-groupdata-parser/blob/master/src/tsvToGroupData.js#L273-L286. That should propagate to all the different update methods, including the bundled resources (because github actions updates this automatically).

Could you double check that you've identified all of the locations where we'll ne

[2020-11-02 14:46] da1nerd commented on #7096
Ok, I have a PR ready for review that should solve this problem. It took some exploring, but in the end there was no need to add any data migrations or many large changes. All of the changes to related projects are published under `alpha` tags and we'll need to make sure to get those changes into master/develop branches after this is approved.
https://github.com/unfoldingWord/translationCore/pull/

[2020-11-02 22:12] birchamp opened #7129 "Build tC using the latest String-Punctuation-tokenizer"
tC is using an outdated tokenizer.  The new tokenizer handles the original languages better.  tC should be built using the latest version of the string-punctuation tokenizer.

See issue #6831

[2020-11-02 22:33] birchamp commented on #7129
@da1nerd another issue to add in to your work on tC

[2020-11-03 14:32] PhotoNomad0 commented on #7096
@da1nerd
It looks like you will just need to add an entry for checkID here: https://github.com/unfoldingWord/translationCore/blob/develop/src/js/helpers/csvHelpers.js#L114

But you should put an empty string there if checkID is undefined, since tWords does not have that field.

https://github.com/unfoldingWord/translationCore/pull/7128 At first glance it works well.  Windows build is still failing

[2020-11-03 14:46] PhotoNomad0 commented on #7096
@da1nerd
- It looks like en_tn got updated so it does not use the exact same original language quote, so it "fixes" the above example.
- Larry mentioned another 1T1 6:19 - Metaphors (figs-metaphor) that is still failing.  So your fixes do not yet fix the underlying problem.

[2020-11-03 15:36] PhotoNomad0 commented on #7096
@da1nerd - I am pushing back on content team for 1T1 6:19 - Metaphors example since that looks like a duplicated check.

[2020-11-06 03:13] da1nerd commented on #7096
ok, it would really help if we had an example that wasn't fixed.

[2020-11-09 11:42] PhotoNomad0 commented on #7096
You can use  1T1 6:19 referenced above.  I got word back that it is remaining.

[2020-11-09 12:47] PhotoNomad0 commented on #7096
Note:
- testing https://git.door43.org/lrsallee/en_ult_1ti_book
- interesting that duplicate entries are showing the same checkID in the groupedMenu.
- backing up to GroupMenuComponent, the duplicate entries are showing the same checkID
- looking in the index entry for metaphors there are two entries with same checkID, so suspect problem with how checkID entries were added to index:
[code]
- looki

[2020-11-09 14:56] PhotoNomad0 commented on #7096
@da1nerd Here is a fix to tCore ProjectAPI.isMatchingCheckInstance() that does a better job updating existing project data and at the same time recognizing checkId for checks that use them:
[code]

would be good to add a unit test for migration case.

will also need to fix in checking-tool-wrapper/lib/helpers/ProjectAPI.js

[2020-12-11 19:31] birchamp opened #7131 "New TN Categories aren't handled properly in tC"
tC needs to be able to handle new categories of TN checks.

Currently, TN checks in new categories show up in the left-hand pane but when the user selects the check tC returns:

![TN-1T1-15.JPG](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/aebc5d2b-17f3-4826-b69a-731ae3b017ed)

See thread: https://unfoldingword.zulipchat.com/#narrow/stream/209457-SOFTWARE/topic/Helpdesk/near/21950

[2020-12-11 23:09] birchamp opened #7134 "Add Microsoft signature"
Windows warns users about unsigned programs. tC and its modules should be signed so users don't think that our software is dangerous.![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/e8ad3e81-5311-412f-b43f-d23a72059003)

[2020-12-12 12:37] PhotoNomad0 opened #7135 "Prompt for missing git on MacOS install is broken"
## Story Explanation
### User Story

When you install tCore on MacOS you get a prompt that you must install git first.  This is broken in several ways:
- no matter which button you select tCore will launch without git (breaks upload).
- it prompts to install git - this is misleading because the user cannot install a git package themselves and have it work with tCore.  They need to do `xcode-select

[2021-01-08 20:57] gayathrihayden opened #7137 "tC - Critical Error while Editing 1 Chronicles 17:5 UST"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [ x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

tC - Critical Error while Editing 1 Chronicles 17:5 UST

Reported by Allen Hutchison

Log file attached

Interesting iss

[2021-01-11 21:48] cckozie opened #7138 "Log file attached to user feedback is empty"
Perry Oaks sent feedback today and the log file was empty.

http://link.door43.org/ls/click?upn=5QcELW-2Frx8C3jgw9P5ttd3rO7pJ9SgPBoqVUWhTFUeQrILN-2BMqc0KZtlSv-2BgcDNH0-2BRH3IFTJX78Zo-2BcmJe9CG9I1XA5LK5f10eX-2BFo-2FcSbd5jB6Lr3OLwHOVL56MYJ9yuQA_rSYIg1fouQWMEFcAes1Vbrn1XF-2BrA-2BUh6RTcxiiY94s7SdzaWJ5zDeUrrStZxCd8kPhqAFaBnu-2BP7YHC854zu780dQwCwQHL6XNn8GaCmYfdvg2XQYosLyCQlPSY5ydTJL7foYsWzYOfj6CiQXiu8nj

[2021-01-12 19:51] cckozie opened #7139 "tC reports can't upload because project has changed even though user is sure it hasn't changed"
Field reported by Larry and Perry. I have not been able to replicate the problem.

[2021-01-12 19:56] cckozie opened #7140 "tC appears to not always force the download of the original language version used during the initial work in tN"
3.0.1
I have one Mac (A) with the latest English and Greek resources, and one (B) with those in the release.
I imported a NT usfm project on machine B and gave it a new unique identifier
I performed a couple of tN checks
I uploaded the project to DCS
I imported the project from DCS to machine A
I loaded it in tN and did not receive the message that a previous version of the original language needs

[2021-02-08 13:47] PhotoNomad0 commented on #7123
@cckozie I don't think we ever released a v2.2.0 - I think we changed the number to v3.0.0 before release.

[2021-02-08 13:52] PhotoNomad0 commented on #7123
@cckozie ALso downloading and installing 2.1.2 on Windows worked fine for me.

[2021-02-08 14:38] PhotoNomad0 commented on #6865
Notes:
- in wA tool, `Api.getProgress()` is not looking at the `itemState[INVALID_KEY]` - it should not count verses as valid that are flagged invalid.

[2021-02-11 18:46] cckozie opened #7143 "tC is inserting a space after each opening parenthesis in the ULT"
3.0.1 (343c98b)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c0380f75-f9cd-4890-8a3d-824aa21a1847)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/894f3938-27c5-4666-be5d-1323d42a62a6)

[2021-02-11 19:04] cckozie opened #7144 "Scripture reference links in the smurf bar in tN are not always handled properly"
In this example there are two scripture links, the one for 1:9 shows as underlined white text, the one for 1:10 shows as underlined blue text indicating a hyperlink. Might this be because we only support one scripture reference here?
Hovering over the 1:9 reference correctly shows the verse as a tooltip. Clicking on the link does nothing. (Second image below)
Hovering over the 1:10 reference does

[2021-04-19 10:40] jdejoode opened #7146 "tC expects username, DCS expects email, user expects either of them to work"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

I have a DCS account. I tried to login to a fresh tC install using my email and my password, which gave me an error becau

[2021-04-22 14:56] deferredreward commented on #2882
I'd like to weigh in against this unless another easy way to clear alignments is made. Right now the quickest way to remove incorrect alignments (and I'm talking about 5+ words at a time in the UST) is to merge & unmerge words. I don't like that as a way to unalign, but it'd be brutal to adjust otherwise.

I know this is old - but I was looking to see if my new issue was already covered - this isn

[2021-04-22 15:10] deferredreward opened #7148 "Highlight aligned word location when hovering in word bank"
## Summary
Sometimes it can be very difficult to find an aligned word if it is in the wrong place. It would be nice if we could hover over a word in the word bank and have it highlight in the alignment pane where that word is so we can find it.

## Motivation

This would speed up correcting alignments .

![tcorehoverhighlightrequest](https://user-images.githubusercontent.com/703973/115738688-46328

[2021-06-11 02:09] cckozie opened #7153 "tN selections get misplaced when the user changes the gateway language if a verse has multiple checks in the same category"
3.0.1 (343c98b)
This was field reported by the India team. See this video beginning at 30:50.
These steps cause a somewhat different result, but I think it is the same problem.
To replicate:
1. Update English, Hindi, and Greek resources
2. Import this project [https://app.zenhub.com/files/65028237/40c8afb4-9159-41db-99d8-026c85796a7d/download](https://app.zenhub.com/files/65028237/40c8afb4-9159-41

[2021-06-22 21:54] da1nerd commented on #7096
@PhotoNomad0 I've made some changes and think everything is working now. Please review https://github.com/unfoldingWord/translationCore/pull/7128 again

[2021-06-23 00:38] da1nerd commented on #7140
@cckozie let me reword this to make sure I understand.
If you import a project, you want to make sure that tC always uses the same version of the language indicated in the project. And download it if necessary.

[2021-06-23 01:05] da1nerd commented on #7131
I've only dug into this a little, but I think Koz is on the right track. I've highlighted where the condition is likely triggered.
![image](https://user-images.githubusercontent.com/166412/123018751-4dc4e980-d3f9-11eb-8bb6-fcb169d450f2.png)

[2021-06-23 13:49] birchamp commented on #7131
@cckozie  This appears to be caused by https://git.door43.org/unfoldingWord/en_tn/issues/1537

[2021-06-23 17:14] da1nerd commented on #7131
@birchamp when will that content change be published so we can test it?

[2021-06-23 18:59] birchamp commented on #7121
@da1nerd and @cckozie does this seem related to #7140?

[2021-06-23 19:15] da1nerd commented on #7121
@birchamp related, but different issues from my understanding.

[2021-06-23 22:35] cckozie commented on #7140
@da1nerd - tC captures the version of the original language being used when a user opens the project in tN for the first time. tC is designed to then continue to use that same version of the original language for all work in that project's tN. When the user later chooses to open the project in tN, tC checks the manifest to what version was previously used, and then will load that version. If for s

[2021-06-23 22:39] cckozie commented on #7121
@birchamp @da1nerd - It is a different issue. In this case tC correctly detects that it needs a previous version of the original language, so it prompts the user and then downloads it. The problem is that if there is currently more than one version of that original language in the resources folder, it will replace one of them with the newly downloaded one. So when the user goes back to working on

[2021-06-24 23:13] da1nerd commented on #7121
This should now be fixed in https://github.com/unfoldingWord/translationCore/pull/7155

[2021-06-24 23:25] da1nerd commented on #7140
@cckozie it appears this was fixed along with my changes for https://github.com/unfoldingword/translationcore/issues/7121

[2021-06-24 23:32] da1nerd commented on #7129
@birchamp should this still be assigned to me?

[2021-06-28 18:36] birchamp opened #7156 "TNs with an OrigL quote that ends in a single quote mark fail."
If the OrigL quote ends with a u2019 ```’```, tC reports that there is a problem with the check.  (for instance: ```ἀλλ’``` in 2 Timothy 3:9 (ID:x9kx) ). tC should be able to handle checks where the quote ends with u2019. For more info see: https://unfoldingword.zulipchat.com/#narrow/stream/209457-SOFTWARE--.20UR/topic/Helpdesk/near/243565499

**DoD**: The checks in the picture below do not fail d

[2021-06-28 22:23] da1nerd commented on #7156
The is related to #7129

[2021-06-28 22:25] da1nerd commented on #7156
I gave this a 5 estimate, but if the tokenizer has already been updated, this could be a 1.

[2021-06-28 23:10] da1nerd commented on #7156
updating the string punctuation tokenizer to the latest version did not solve the problem. However, after testing the tokenizer on it's own, it does correctly tokenize the quote mark.

[2021-06-28 23:50] da1nerd commented on #7156
Here's where the check validation occurs. https://github.com/unfoldingWord/checking-tool-wrapper/blob/5f0bf79d2f3bb397a0c057db2ebdd7121c7a2ef8/src/components/VerseCheckWrapper.js#L120
still trying to figure out how the quote fits into this.

[2021-06-29 00:24] birchamp commented on #7129
Updating the String-Punctuation-tokenizer will guarantee that tC has to be completely regression tested. Before @da1nerd works on this, we need to know from @cckozie based on the issues that have already been done, will full regression testing already be needed?

[2021-06-30 19:59] da1nerd opened #7157 "Error uploading project when there are no changes"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

An error dialogue is displayed when a user attempts to upload a project that has no new changes.

### Steps to Reproduce

[2021-07-07 21:18] richmahn opened #7159 "Unable to upload to DCS due to git index.lock file in project's .git directory"
### Description

There is a known issue that a user of tC v3.0.1 cannot upload their project due to the lock file (index.lock) not being removed from a previous git process. This file is located in `<user dir>/translationCore/projects/<project>/.git`. If this index.lock exists, no other git processes, including a `git push` can be executed.

This was noticed in issue https://github.com/unfoldingWo

[2021-07-07 21:18] richmahn commented on #7159
Note, workaround for user added to the bottom of this Forum article: https://forum.door43.org/t/problems-uploading-tc-or-ts/508

[2021-07-09 09:35] PhotoNomad0 commented on #7096
@cckozie @elsylambert
Fixes are in translationCore 3.0.2 (7a830de) (download from Zulip github screen). See test instructions in  https://github.com/unfoldingWord/translationCore/pull/7158 for project I used for testing duplicate.  When you open a project in 3.0.2 the project data will be migrated so you can no longer open in older tCore versions.

[2021-07-27 21:23] da1nerd commented on #7156
@birchamp I've tracked this bug down to the usfm. See this line https://git.door43.org/Door43-Catalog/en_ult/src/branch/master/56-2TI.usfm#L1040

Notice `x-content="ἀλλ’"` is including the u2019 character. This is not a parsing problem with tC, but a bug in the USFM.

[2021-07-27 21:58] RobH123 commented on #7156
Not sure why you think that's a content error @da1nerd ? That's Greek "alla" abbreviated to "all'". A bit like the English possessive in "Jesus'" "hand" (but in our files we use the correct single closing quote character for apostrophe).

Ah, maybe you thought that that apostrophe is sentence level punctuation??? It's part of the word indicating the elided/omitted final alpha.

[2021-07-27 22:21] da1nerd commented on #7156
@RobH123 is it correct to say that u2019 should always be considered a word character instead of punctuation?

[2021-07-27 22:32] RobH123 commented on #7156
Ha, no, sorry. Unicode is far from perfect and this is a good example. It's also used as a single closing quote. So ambiguously used at both levels (just to make it harder for programmers) @da1nerd. (Well, not really ambiguous, but you usually have to parse the entire sentence to distinguish them.)

[2021-07-27 23:56] da1nerd commented on #7156
you just made this issue a whole lot more complicated :laughing:

Given a full sentence, how can I know how to parse it correctly? Does this situation apply to other languages as well or just to the Greek?

[2021-07-28 00:12] RobH123 commented on #7156
Yeah, parsing natural language is an ugly sport. If would certainly be easier if Unicode recommended a different apostrophe character, but apparently one of the initial Unicode policies was "unifying" (rather than "distinguishing"). There is [u+02BC](https://en.wikipedia.org/wiki/Modifier_letter_apostrophe) which was a (not ideal) possibility to change to, but inconvenient in other ways. Anyway, f

[2021-07-28 17:53] birchamp commented on #7156
Since the initial punctuation usually isn't included in a quote like that, @RobH123 can we make a rule that aligning sentence-level punctuation at the end of a OrigL quote is unacceptable?

[2021-07-28 23:13] RobH123 commented on #7156
@birchamp Yes, I think that's already the rule of thumb, but I can write that specifically into the spec. Hmmh, but then maybe not. What if we wanted a note on the following snippet (pretend it's Greek): Jesus said, “Come!” -- could hardly leave off those final two characters and force the snippet to be: Jesus said, “Come

[2021-07-29 00:35] birchamp commented on #7156
What if the rule was that the punctuation should not be included unless the initial punctuation is within the quote.

[2021-07-29 00:44] RobH123 commented on #7156
Ha, I'd guessed that you were going to suggest that (should have suggested it myself). Yes, seems sensible enough to me @birchamp, although you should at least consult Larry S on Zulip. It doesn't making the parsing trivial, but should at least make it mostly sensible (hopefully). :-)

I guess the rule might be something like: "Only include paired sentence punctuation in a origL snippet if both si

[2021-07-29 01:11] birchamp commented on #7156
I was thinking it should read something like, "An origL quote should not end in sentence level punctuation unless both pieces of paired punctuation are included in the quote."

[2021-07-29 20:16] da1nerd commented on #7156
@birchamp how should I proceed with this?

Without improving the text parsing, the only other solution I see right now is to update https://github.com/unfoldingWord/tc-ui-toolkit/blob/develop/src/VerseCheck/helpers/checkAreaHelpers.js#L28 so that it flattens the verse objects and compares them as a string instead of piece by piece so that in this case it doesn't matter it the quote mark is split o

[2021-07-30 18:21] birchamp commented on #7156
@da1nerd @RobH123 - Ok [Per Larry](https://unfoldingword.zulipchat.com/#narrow/stream/209457-SOFTWARE--.20UR/topic/Helpdesk/near/247737526) the Greek and Hebrew do not contain quotation marks therefore if the text is an original quote then we can assume that the " ' " u2019 is a needed apostrophe even at the end of an Original language quote.

However, @da1nerd  do you know if you're using the sam

[2021-07-30 21:04] da1nerd commented on #7156
that appears to be the case.

[2021-07-30 21:23] birchamp commented on #7156
Hmmm...that's going to be a problem because we don't want to have this affect how we handle single quotation marks, but in Koine Greek they are apostrophes

[2021-08-10 21:41] elsylambert commented on #7120
Works as expected in translationCore 3.0.2 (f02bb06). Now getting "Access to Internet "warning after the usr is prompted for version difference.

[2021-08-10 21:53] elsylambert opened #7162 "Unable to import online project"
Issue:
---
Users need to be warned that a project doesn't exist.
Error should read: *The project <project_url> does not exist, please select a different project.*

Details:
---
Encountered while testing  #7158
- When trying to Import online project https://git.door43.org/lrsallee/en_ult_1ti_book , the spinner just goes on with no success. Had to close tC. Please see console.
<img width="1641" alt=

[2021-08-14 04:43] elsylambert commented on #7121
translationCore 3.0.2 (f02bb06). Seeing 2 versions of Original language simultaneously on the system.

[2021-08-17 21:44] birchamp commented on #7156
@da1nerd did we ever come to a conclusion on this?

[2021-08-17 22:41] da1nerd commented on #7156
No. Perhaps I misunderstood, but I thought there was going to be some more content discussion on this. Either way, I'll need some direction on how we want to proceed.

[2021-08-22 20:16] birchamp commented on #7156
Yes, @da1nerd  ok per https://unfoldingword.zulipchat.com/#narrow/stream/209457-SOFTWARE--.20UR/topic/Helpdesk/near/247737526 we've come to the conclusion that the apostrophe should be shown in original languages even if it's at the end of a field.

[2021-08-24 00:15] da1nerd commented on #7156
ok I've added a `tokenizeOrigLang` method that is specialized for original languages. We'll need to use this anywhere we are tokenizing an original language.

[2021-08-24 13:10] elsylambert commented on #7162
<img width="1576" alt="Screen Shot 2021-08-24 at 9 10 00 AM" src="https://user-images.githubusercontent.com/51806180/130622203-a00f6dae-95e2-47b1-9b5a-0e285a3cc7de.png">

[2021-08-24 17:10] birchamp commented on #7162
@da1nerd could you take a look at this?

[2021-08-24 21:08] da1nerd commented on #7162
That repository does not exist, so naturally tC had trouble downloading it :wink:
It would probably be helpful to let the user know that the repo could not be found. Shall I add that @birchamp ?

[2021-08-27 21:36] da1nerd commented on #7156
I have a few more modules to update and PRs to make, but it appears that this is working now.
![image](https://user-images.githubusercontent.com/166412/131191133-d1a539ec-ea96-4af0-9b6b-974e5827c6cb.png)

[2021-08-28 21:32] RobH123 commented on #7156
@da1nerd I was just thinking about this today. There's no reason (other than wait times) why the Content Validation can't check every OrigL quote by running your actual JS library functions (alongside my specific checks) if there's a way for me to determine failure. In other words, the CV package could verify our data by running the actual code that our tools run. I would need help knowing what li

[2021-08-30 17:55] birchamp commented on #7156
@RobH123  I think that's a great idea. It would create a very valuable feedback loop.

[2021-08-30 20:39] birchamp opened #7164 "\p should not have any trailing spaces before the newline"
Currently USFM exports text incorrectly. It puts a space or two after '\p' If this marker is on a line by itself then it should be followed by a newline immediately. Note: \p may be followed by text on the same line, but typically it is just by itself.

[2021-08-30 20:44] birchamp opened #7165 "the pipe character | within the \w and \zalns has a space after it on export"
A space should not be inserted after the pipe character, but on export these are being inserted.

[2021-08-30 20:44] birchamp commented on #7165
Please check with @RobH123 for examples of how it should be vs how it is currently exported.

[2021-08-30 23:55] da1nerd commented on #7156
@RobH123 that would be handy.

[2021-08-31 02:45] RobH123 commented on #7156
Can you guide me @da1nerd on where to find the function to call (and if not obvious, how to determine if it succeeds/fails)? Is it on npmjs?

[2021-08-31 19:54] birchamp commented on #7162
@da1nerd that depends on how long it will take to implement.

[2021-09-01 22:05] da1nerd commented on #7162
@birchamp I don't think it would take more than an hour.

[2021-09-01 22:07] da1nerd commented on #7129
@birchamp I had to update the string-puctuation-tokenizer as part of #7156 so I think this task is no longer relevant.

[2021-09-01 23:22] da1nerd commented on #7156
@birchamp I discovered some html line breaks in some of the translation notes.
This caused the windows build of tC to fail. We could probably update the content downloader to sanitize the data, but I feel like that would be a poor choice because the bad data would still be out there for other people to run into. Might be better to do what @RobH123 suggested and set up a feedback loop.

![image](ht

[2021-09-01 23:51] da1nerd commented on #7165
@RobH123 is this with usfm 2 or 3?

Edit: after looking at the code, I don't think it matters.

[2021-09-02 00:00] da1nerd commented on #7165
@RobH123 here's some sample text. Is this what you want (in the green), or do I need to remove the space in front of the pipe as well?

[code]

[2021-09-02 00:05] da1nerd commented on #7164
@birchamp does this look like what you want?

[code]

[2021-09-02 00:06] birchamp commented on #7164
@da1nerd yes, that looks right to me, but I'd like @RobH123  to take a look at it to be sure.

[2021-09-02 01:51] RobH123 commented on #7165
You're correct @da1nerd : Just remove the space AFTER the pipe. I'm just looking at examples on http://ubsicap.github.io/usfm/master/attributes/index.html and http://ubsicap.github.io/usfm/master/milestones/index.html.

USFM2 is obsolete for new projects, so we shouldn't ever be writing it I don't believe.

[2021-09-02 01:53] RobH123 commented on #7164
Oh yes, thanks @da1nerd. I guess when you think you're mostly done, I'd like a quick look thru some whole file outputs (e.g., email them or put them in a branch or something) before you move on to other things.

[2021-09-02 04:30] RobH123 commented on #7156
Never seen this before, but since it crashes your build, I added a specific high-priority check to https://unfoldingword.github.io/uw-content-validation/#/Book%20Package%20Checker%20Demo?id=bookpackagecheck (set BP to 1SA and disableLinkFetching to view it -- takes about 4 mins).

But I suspect that it was probably a manual error by a human editor that won't happen again. I can fix the file and re

[2021-09-02 23:51] da1nerd commented on #7156
Cool, just let me know when it's done so I can restart the build.

In answer to your earlier question @RobH123 . I think you'd probably need to use  https://github.com/unfoldingWord/tsv-groupdata-parser and pass in your tsv data to it.

If you did so then you could perform a number of assertions on the output to make sure it looks the way you expect it to.

[2021-09-08 21:56] elsylambert commented on #7096
Looks good in translationCore 3.0.2 (f02bb0). Multiple tNs works fine for the same verse.

[2021-09-09 13:23] birchamp commented on #7156
@richmahn @da1nerd what's the status on this?

[2021-09-09 13:24] #7129 closed, assigned to da1nerd

[2021-09-09 13:39] birchamp commented on #7162
@da1nerd yes, go ahead and do that, I've updated the issue with the wording for the warning.

[2021-09-11 06:46] da1nerd commented on #7156
@birchamp I hadn't heard yet if the tN had been updated. The builds were failing due to the content bug described here. https://github.com/unfoldingWord/translationCore/issues/7156#issuecomment-910888479

@RobH123 do you know if tN was updated?

[2021-09-16 23:18] RobH123 commented on #7156
Ok, got distracted sorry, but published en_tn v53 just now @da1nerd. Hopefully it will build ok for you now.

[2021-09-17 17:53] da1nerd commented on #7156
I've restarted the builds. We'll see!

[2021-09-24 13:46] birchamp opened #7166 "update git install"
The current tC installer calls an older git install that no longer works in Win10.

The installer needs to be updated to call the latest stable git install.

[2021-09-24 13:46] birchamp commented on #7166
@PhotoNomad0 can you check this issue to confirm it's correct.

[2021-09-24 14:06] birchamp opened #7167 "Epic for Editing and Aligning Verse Ranges"
**Feature Canvas:** https://docs.google.com/document/d/1-76Ysa_AurM3yQCyajoEqFw4ZzcJvdC5DCb7xE285Rw/edit

**ClickUp:** https://app.clickup.com/t/1jfq4cj

**Sample text for testing:** gal 1:1 in UST

**Existing issues that affect this need:**

**TODO - tCore Updates Needed:**
- scripture pane:
  - update to show verse spans when selected verse is within a span
  - update to show all verses in the r

[2021-09-24 14:08] birchamp commented on #7167
@birchamp add in canvas and scripture

[2021-09-24 14:20] mannycolon commented on #7156
Great catch @da1nerd

[2021-09-24 14:20] mannycolon commented on #7156
Great job guys! I just merged the PR. Thank you.

[2021-09-28 14:18] birchamp commented on #7167
@mannycolon @PhotoNomad0  Please review these mockups:

- Alignment:
![tC-Alignment](https://user-images.githubusercontent.com/10272744/135105279-0d746a8c-c90f-4d47-8120-b21dac8c2ec0.png)

- Expanded/multi-verse view
![tC-Multi-Verse](https://user-images.githubusercontent.com/10272744/135105408-848030dc-f463-43c4-8a1f-1aa8caae3f46.png)

- Edit scripture
![tC-Verse-Edit](https://user-images.githubu

[2021-09-28 14:40] PhotoNomad0 commented on #7167
@birchamp Some of these can be done, but we were talking about minimal UI changes to make this doable in a short time.  Currently the Expanded scripture pane is laid out in rows, so it is much easier to do this layout:

![Screen Shot 2021-09-27 at 9 41 57 AM](https://user-images.githubusercontent.com/14238574/135107653-486a9d36-99a9-4a78-ac89-40edaeb2a363.png)

Still looking into how we could do t

[2021-09-28 16:48] birchamp commented on #7167
Thanks for the heads up on that. @PhotoNomad0

[2021-09-28 20:06] birchamp commented on #7167
@PhotoNomad0 Could you put a verse number mid-text in the UGNT where the next verse starts?
So leave the reference as '1:1-2', but also have a bold '2' where the 2nd verse begins.

[2021-09-30 13:08] PhotoNomad0 commented on #7167
@birchamp @mannycolon - I have succeeded in getting a rough prototype working for the UI.  Still have a bunch of business logic issues to resolve.  Here is the rough UI for alignment now:

![Screen Shot 2021-09-29 at 4 46 29 PM](https://user-images.githubusercontent.com/14238574/135460988-ca9e7609-3fd2-4ac7-90df-d7dd8266d78c.png)

[2021-09-30 15:22] PhotoNomad0 commented on #7167
I think in this case I can place two separate verses here (e.g. 1:1 and 1:2).  I'll look at it later to see what might be easier.  For now I just have the 1:2 before the second verse.  See screen above.

[2021-09-30 16:04] PhotoNomad0 opened #7169 "Latest tCore Develop branch - missing scrollbar in wA when there are too many alignments to dislplay"
## Story Explanation

Seeing a regression in the latest develop branch.  In the alignment tool, scrollbars are not being shown on overflow of alignment area.

### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context

In the new develop branch for example see:

!

[2021-10-03 10:49] PhotoNomad0 commented on #7169
Note - seems to be a flex bug in height calculations where children have a combination of a number pixels and 100 percent.

[2021-10-03 11:54] PhotoNomad0 commented on #7169
Note:
It looks like there is a flex work-around for alignment Grid.

Need to check other parts of tCore for overflow problems.

[2021-10-03 12:13] PhotoNomad0 commented on #7169
<img width="1433" alt="Screen Shot 2021-10-03 at 8 12 40 AM" src="https://user-images.githubusercontent.com/14238574/135753147-db698d43-513f-42b8-b0af-36f87bbe0edd.png">

[2021-10-04 10:49] PhotoNomad0 opened #7170 "Add Verse Span Support to Scripture Pane"
## Summary

- scripture pane:
  - update to show verse spans when selected verse is within a span
  - update to show all verses in the range when selected verse is a verse span
- enhanced scripture pane:
  - update to show verse spans
  - update to edit verse spans

Note: this is partially done as part of https://github.com/unfoldingWord/translationCore/issues/7171, but still needs to be updated t

[2021-10-04 10:51] PhotoNomad0 opened #7171 "Add Verse Span Support to WA tool"
## Summary

- word alignment:
  - glom original language verses together for ease of alignment
  - add support for verse spans in on edit notifications to invalidate alignments (in checking-tool-wrapper?)
  - API: getInvalidChecks(), getProgress(), _initChapterAlignments(), validateVerse(), getGlobalAlignmentMemory() , <= add verse span support
  - misc: indexChapterAlignments(), migrateChapterAli

[2021-10-04 10:57] PhotoNomad0 opened #7172 "Add Verse Span support to tW and tN"
## Summary

- tN & tW:
  - add support for verse spans in on edit notifications to invalidate notes (in checking-tool-wrapper?)
  - make sure selections work with verse spans
    - display verse span in check area
    - on selection save, use verse span
- checking-tool-wrapper:
  - fix verse span support for edits in misc.:
    - look at groupsDataActions.verifyGroupDataMatchesWithFs()
    - look

[2021-10-04 11:00] PhotoNomad0 opened #7173 "Remove missing verse warnings for Verse Spans"
## Summary

  - remove warnings of missing verses when there are verse spans on project import and project selection

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

## Specifications (If applicable)
A clear and concise description of the details about the feature that may or may not be obvious

## Additional context

Add any other context or sc

[2021-10-04 11:01] PhotoNomad0 opened #7174 "Add verse span support on USFM export/import"
## Summary

- export - add refs on verse span alignments
- import - parse refs for verse spans
  - also overwrite merges

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

## Specifications (If applicable)
A clear and concise description of the details about the feature that may or may not be obvious

## Additional context

Add any other context o

[2021-10-04 20:31] PhotoNomad0 commented on #7167
@birchamp @elsylambert - I have a very rough prototype if you want to take a look: https://github.com/unfoldingWord/translationCore/actions/runs/1304694194

[2021-10-05 12:31] PhotoNomad0 commented on #7167
**Notes:**
_Repos with verse spans:_
- https://git.door43.org/christopherrsmith/en_ust_act_book
- https://git.door43.org/lrsallee/en_ust_luk_book
- https://git.door43.org/lrsallee/en_ust_gal_book
- https://git.door43.org/lrsallee/en_ust_jos_book
- https://git.door43.org/MattCarlton/en_ust_gen_book - has a verse span of 4, see chapter 36

[2021-10-11 12:25] PhotoNomad0 commented on #7171
@elsylambert @birchamp Is this UI sufficient for the WA tool?

<img width="1433" alt="Screen Shot 2021-10-11 at 7 51 00 AM" src="https://user-images.githubusercontent.com/14238574/136789419-79e7a7f2-9aaf-4021-8405-569c2beb60ad.png">

<img width="1319" alt="Screen Shot 2021-10-11 at 8 23 12 AM" src="https://user-images.githubusercontent.com/14238574/136789511-7ae3ad0b-f72e-46e3-9470-b23711129065.pn

[2021-10-14 14:48] PhotoNomad0 commented on #7170
merging into WA issue

[2021-10-14 14:48] #7170 closed, assigned to nobody

[2021-10-14 18:23] PhotoNomad0 commented on #7174
**Note:**
1. internally the words for verse spans are stored aligned to original language verses combined into verse spans.  So in case of gal 1:1-2 in en UST, tCore creates a verse span of verses 1-2 in the ugnt to align against.  This makes it easy for WA tool to align as if it was any other verse.  On alignment the occurrence and occurrences counts are based on the original language verse span.

[2021-10-15 11:36] PhotoNomad0 commented on #7174
**Notes** - tCore code that will have to be changed:

- **USFM Export:**
- method USFMExportActions.exportToUSFM()
  - under usfm3 option calls WordAlignmentActions.getUsfm3ExportFile()
    - calls WordAlignmentActions.convertAlignmentDataToUSFM()
      - calls wordaligner.merge() - word-aligner module
      - **_it seems that after the merge call would be a good place to add a call to a method to

[2021-10-16 18:38] PhotoNomad0 commented on #7171
@elsylambert Verified in translationCore 3.1.0 (e04e19d)

[2021-10-16 18:40] PhotoNomad0 commented on #7172
@elsylambert This should be also working in translationCore 3.1.0 (e04e19d)

[2021-10-18 14:15] PhotoNomad0 commented on #7174
Note - first pass USFM export of Galatians alignment data for verseSpan 1-2:
[code]

[2021-10-19 17:17] PhotoNomad0 commented on #7171
@elsylambert - I am not seeing a problem with upgrading projects from older tC, started by deleting resources folder, launching tC 3.0.1, and importing https://git.door43.org/lrsallee/en_ust_gal_book.  Just shows empty verses:

https://user-images.githubusercontent.com/14238574/137959322-7a3e245a-2cf7-4226-8d38-faad6129516a.mov

Then launched tCore 3.1.0 -  can see the versespans now:

https://use

[2021-10-22 16:31] PhotoNomad0 commented on #7173
**Notes:**
- it looks like the fix will need to be in MissingVersesHelpers.getMissingVerses()

[2021-10-22 22:17] PhotoNomad0 commented on #7174
@elsylambert Tested in translationCore 3.1.0 (66af50c).  You should see x-ref values in aligned verses spans (see Gal 1:1-2 example above)

[2021-11-02 19:35] elsylambert commented on #7164
@mannycolon Can you please help me locate where the build is to test 3.0.2 issues?

[2021-11-02 19:54] mannycolon commented on #7164
I'm not sure where build 3.0.2 can be found. It looks like both 3.0.2 and 3.1.0 got merged into the same develop branch before a release branch was created for 3.0.2. I would ask @birchamp @da1nerd @PhotoNomad0 any further questions

[2021-11-05 17:41] elsylambert commented on #7164
@birchamp I tested this issue in translationCore 3.0.2 (e2d8c61). I imported a project from D43 online(which has white space in its usfm), but after the online import, the new project's usfm does not have white space after /p and in  |x .
<img width="863" alt="Screen Shot 2021-11-05 at 1 42 47 PM" src="https://user-images.githubusercontent.com/51806180/140555024-2bd31511-33a2-4d29-918f-8f0ba6214be

[2021-11-05 17:45] elsylambert commented on #7164
@da1nerd does this issue cover only online imports?

[2021-11-05 18:00] elsylambert commented on #7156
Works fine in Eph: Tns with OrigL quote ending with a single quote mark highlighted correctly. Some of the Notes given in the example are missing in the project.

[2021-11-05 18:12] gayathrihayden commented on #7156
Tested in tC 3.0.2 (2ede16e):

No longer see an alert for the reference 2 Timothy 3:9 that has a single quote mark "ἀλλ’" (specifically ’ right single quotation Mark U+2019)

![2Ti_ch3_vs9](https://user-images.githubusercontent.com/74929193/140558646-c0eab736-db41-4a58-84f5-b908eb399800.PNG)

This fix also resolves this issue https://git.door43.org/unfoldingWord/en_tn/issues/1540 - tC Ephesians 6:

[2021-11-05 18:15] da1nerd commented on #7164
I think we only got as far as discussing and identifying the changes to be made. This hasn't been implemented yet.

[2021-11-08 11:04] PhotoNomad0 commented on #7164
@da1nerd It looks like https://github.com/unfoldingWord/usfm-js/pull/101 is the fix for this?

[2021-11-08 11:05] PhotoNomad0 commented on #7164
@da1nerd It looks like https://github.com/unfoldingWord/usfm-js/pull/101 is the fix for this?

[2021-11-08 15:50] PhotoNomad0 commented on #7162
@birchamp, @da1nerd  This is an exception being thrown in logging in the updated electronite that is causing the hang.  Seems to happen in production build and not develop.  Testing a work-around.

[2021-11-08 16:17] PhotoNomad0 commented on #7162
@elsylambert @birchamp - the current localized error message reads "The URL ${project_url} does not reference a valid project.".  We could add the new one Elsy suggested, but we won't have localized strings for a while.

[2021-11-08 16:32] PhotoNomad0 commented on #7162
Here would be the full message:

The download of project https://git.door43.org/lrsallee/en_ult_1ti_book failed. The URL 'https://git.door43.org/lrsallee/en_ult_1ti_book' does not reference a valid project.

[2021-11-08 16:54] PhotoNomad0 commented on #7162
![Screen Shot 2021-11-08 at 11 54 02 AM](https://user-images.githubusercontent.com/14238574/140784461-97b1fe44-e23d-4ad6-8e6f-8b59901cab7c.png)

[2021-11-08 18:17] da1nerd commented on #7164
wow I guess' it's been quite a while. I totally forgot about that PR.

[2021-11-08 18:51] PhotoNomad0 commented on #7162
@elsylambert Have fix in translationCore 3.0.2 (d24193f).  Will show message like above ^^^

[2021-11-09 19:53] elsylambert commented on #7162
translationCore 3.0.2 (38258ea). This build seems to be the latest and I am seeing a different message in the modal. Please see the snapshot:
<img width="1067" alt="Screen Shot 2021-11-09 at 2 44 29 PM" src="https://user-images.githubusercontent.com/51806180/140995063-3c3d9d2b-b4b7-4113-94fb-5e4c04ef12d0.png">
Here is the log file:
[Tue Nov 09 2021.log](https://github.com/unfoldingWord/translation

[2021-11-09 20:48] elsylambert commented on #7156
Looks good in translationCore 3.0.2 (38258ea).

[2021-11-11 19:10] PhotoNomad0 commented on #7162
@elsylambert Verified fix in translationCore 3.0.2 (18ad847).  It's working now on my test PC.

[2021-11-11 21:27] elsylambert commented on #7162
Looks good in translationCore 3.0.2 (18ad847). Import of an invalid project https://git.door43.org/lrsallee/en_ult_1ti_book  threw a correct message that the project was invalid and it failed to download. Works as expected.

[2021-11-15 14:16] PhotoNomad0 commented on #7159
@birchamp I suggest that we try to delete the lock file on upload if it exists.  The file will delete if a git process is not actively using it.  If we can't delete (likely because git has it open), we suggest that they reboot the Computer and try again to upload.

[2021-11-15 19:20] PhotoNomad0 commented on #7159
@birchamp @elsylambert Here is the prototype message that will be shown if we can't remove the lock file:

![Screen Shot 2021-11-15 at 2 16 45 PM](https://user-images.githubusercontent.com/14238574/141840795-daff4ee6-7b5b-48a2-8d32-fa663682ee8e.png)

[2021-11-15 19:43] PhotoNomad0 commented on #7159
OK, updated to:

![Screen Shot 2021-11-15 at 2 49 49 PM](https://user-images.githubusercontent.com/14238574/141844833-e1e7bfe3-0f4d-45dc-9099-9d8e5ce83c50.png)

[2021-11-15 22:15] gayathrihayden commented on #7156
Fix tested in tC 3.0.2 build 18ad847 and works fine.
Used 2 Tim 3:9, Eph 4:29; 5:15, 27; 6:6 as examples.

[2021-11-15 22:16] gayathrihayden commented on #7096
Fix tested in tC 3.0.2 build 18ad847 and works fine.

Checked https://github.com/unfoldingWord/translationCore/pull/7158 and the link to https://git.door43.org/lrsallee/en_ult_1ti_book did not work

Manually imported 1 Timothy as a local project and observed that 1 Tim 6:19 (category "Metaphor ") can be selected individually

This fix also seems to resolve https://git.door43.org/unfoldingWord/en_t

[2021-11-16 13:19] PhotoNomad0 commented on #7159
@elsylambert verified in translationCore 3.0.2 (ccf6be6)

You can simulate a git lock by creating a lock file: `touch ~/translationCore/projects/<project_name>/.git/index.lock`

[2021-11-16 19:41] gayathrihayden commented on #7121
Fix tested in tC 3.0.2 (ccf6be6) and works fine.

Reference screenshots:

![Previous version of OL](https://user-images.githubusercontent.com/74929193/142054026-75098057-e51b-496f-b1d1-f3dde378a39c.PNG)

![Diff version of UGNT](https://user-images.githubusercontent.com/74929193/142054049-18cac36d-449b-497a-aa4b-6f706fdc1de0.PNG)

![Transmit data over the internet warning](https://user-images.githu

[2021-11-16 19:42] gayathrihayden commented on #7140
Fix tested in tC 3.0.2 (ccf6be6) and works fine.
Tested as part of [#7121](https://github.com/unfoldingWord/translationCore/issues/7121)

[2021-11-16 19:42] gayathrihayden commented on #7120
Fix tested in tC 3.0.2 (ccf6be6) and works fine.
Tested as part of [#7121](https://github.com/unfoldingWord/translationCore/issues/7121)

[2021-11-16 20:11] PhotoNomad0 commented on #7159
found a command to make the lock not deletable if you want to see the warning dialog: `chflags uchg  ~/translationCore/projects/<project_name>/.git/index.lock` then you need to remember to make it deletable to enable upload again `chflags nouchg  ~/translationCore/projects/<project_name>/.git/index.lock`

[2021-11-16 21:32] PhotoNomad0 commented on #7165
@elsylambert verified in translationCore 3.0.2 (c8c2941)

[2021-11-16 21:32] PhotoNomad0 commented on #7164
@elsylambert verified in translationCore 3.0.2 (c8c2941)

[2021-11-17 03:46] elsylambert commented on #7159
translationCore 3.0.2 (c8c2941). Simulated with index.lock file. tC deleted the lock file and I was able to upload to D43 without a failure.

[2021-11-17 14:42] PhotoNomad0 opened #7184 "Word Alignment tool has bug in unaligned words filter."
## Story Explanation
### Observed Behavior

**Steps:**
- testing in tCore 3.0.1 - so this is not a new regression
- Do online import of https://git.door43.org/lrsallee/en_ult_1pe_book
- will get invalidation warning
- Open WA tool.
- Under filters select `Unaligned Words
- Will see 5 chapters with one unaligned words verse each.
- Select each of the verses in chapters 1 to 4 and observe that there

[2021-11-18 10:43] PhotoNomad0 opened #7185 "Notification that you need to update tCore to open project does not stay on screen"
## Story Explanation
### User Story

This problem is in tc 3.0.1 and above:

Notification that you need to update tCore to open project does not stay on screen.  See example:

https://images.zenhubusercontent.com/65028237/22ca89cf-e4ac-4c6c-80f4-c5af976d4c53/screen_recording_2021_11_18_at_5_35_28_am.mov

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

#

[2021-11-18 14:39] birchamp opened #7186 "Implement searching/filtering CatalogNext releases for a new content updater"
What is needed to find the latest releases available for a specific resource type?

**Phases:**
1. using CN and just looking at Door43-Catalog results
  - once this is implemented can do

2. able to choose organizations
  - able to choose organizations to download
  - getting latest resources will include all organizations
  - work on tool GL selection and show org

**Needed:**

Search:
- change t

[2021-11-18 14:40] birchamp opened #7187 "Explore and document storage of resources of multiple resources for the same language"
Currently, a language can only have one of each resource.  CatalogNext allows anyone to release a resource, so there could be multiple per language.

Note: versions could be in the same path, similar to how OrigL works?

[2021-11-18 14:44] birchamp opened #7188 "Support 7 Column TSV TN"
How can we handle 7 column TNs?

What about referencing multiple verses?
How do we show all the verses?
How will the new filenames be handled?

[2021-11-18 14:53] birchamp opened #7189 "SPIKE: Consume TWL"
Note: Currently, an internal TSV is being created for the TW check

[2021-11-19 14:17] elsylambert commented on #7165
Verified in translationCore 3.0.2 (c8c2941) and found to be working as expected. No white space after pipe character | and x  adds up after Export to USFM.
[43-LUK-test.usfm.zip](https://github.com/unfoldingWord/translationCore/files/7570781/43-LUK-test.usfm.zip)

[2021-11-19 14:19] elsylambert commented on #7164
Verified in translationCore 3.0.2 (c8c2941). \p still adds white spaces after Export to USFM. These are two usfm files that I had exported. The projects(source usfm) does not have any spaces after \p.
[67-REV-test2.usfm.zip](https://github.com/unfoldingWord/translationCore/files/7570797/67-REV-test2.usfm.zip)

[43-LUK-test.usfm.zip](https://github.com/unfoldingWord/translationCore/files/7570796/43

[2021-11-19 14:26] PhotoNomad0 commented on #7164
@elsylambert are these usfm files the source or the output?  if not the source, could you zip up the projects so I could reproduce the problem?  Thanks.

[2021-11-19 14:51] elsylambert commented on #7164
@PhotoNomad0 ^^ those were output files after the export to USFM. Here are the zipped source projects:
[en_new_rev_book.zip](https://github.com/unfoldingWord/translationCore/files/7570972/en_new_rev_book.zip)
[en_loc_luk_book.zip](https://github.com/unfoldingWord/translationCore/files/7570973/en_loc_luk_book.zip)

[2021-11-19 14:55] elsylambert commented on #7159
translationCore 3.0.2 (c8c2941). Here is the screenshot of the Alert box.
![image](https://user-images.githubusercontent.com/51806180/142643040-7c5fb0e9-56fc-4786-80bb-01b050a4ceb4.png)
Can the Modal be modified so that it does not add a horizontal scroll bar? @PhotoNomad0
Wrote this separately in #7192

[2021-11-19 21:25] PhotoNomad0 commented on #7164
@elsylambert Some good test projects here.  Actually the projects do have a space after the \p marker.  Will have to find a way to fix this in the USFM export since we do not want this.

<img width="626" alt="Screen Shot 2021-11-19 at 4 12 28 PM" src="https://user-images.githubusercontent.com/14238574/142693602-6288a7c0-8aef-4a07-b125-b1c879fc55c9.png">

[2021-11-19 21:32] PhotoNomad0 commented on #7164
@elsylambert Also FYI - do not pay attention to the USFM files in the base project folder.  The two in red are old orphan files either copies of original USFM import or generated by previous DCS uploads before project was renamed.  The one in orange was created the last time you uploaded to DCS and will only be uploaded on DCS uploads.  The recent data used by tCore are stored in json files in the

[2021-11-22 13:15] PhotoNomad0 commented on #7186
~~@mannycolon Here are some tCore storage options for handling orgs:~~

~~current example `~/translationCore/resources/en/translationHelps/translationNotes/v33`~~

~~option 1 - add org to version:~~
	~~translationNotes~~
		~~↳ v33_unfoldingWord~~
		~~↳ v34_test-org~~

~~option 2 - add org to resource ID:~~
	~~translationNotes_unfoldingWord~~
		~~↳ v33~~
	~~translationNotes_test-org~~
		~~↳ v34~~

[2021-11-22 13:43] elsylambert opened #7192 "Alert box for git lock showing horizontal scroll bar"
translationCore 3.0.2 (c8c2941). Here is the screenshot of the Alert box.
![image](https://user-images.githubusercontent.com/51806180/142643040-7c5fb0e9-56fc-4786-80bb-01b050a4ceb4.png)
Can the Modal be modified so that it does not add a horizontal scroll bar? @PhotoNomad0

[2021-11-22 13:44] elsylambert commented on #7159
Works as expected.

[2021-11-22 15:49] mannycolon commented on #7186
I prefer option 1, we do a lot of filesystem calls in our codebase to check for resources and would prefer not to add an additional directory to overcomplicate this process. What do you think?

[2021-11-22 15:49] mannycolon commented on #7186
@PhotoNomad0

[2021-11-22 18:12] PhotoNomad0 commented on #7187
Here are some tCore storage options for handling orgs:

current example ~/translationCore/resources/en/translationHelps/translationNotes/v33

[code]

[2021-11-22 18:15] PhotoNomad0 commented on #7187
From @mannycolon :

We can do that.  We would just have to add the ability to filter by org when getting latest version.

[2021-11-22 18:55] PhotoNomad0 opened #7193 "EPIC: CatalogNext Support in tCore"
## Summary

One paragraph explanation of the feature.

## Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

## Specifications (If applicable)
A clear and concise description of the details about the feature that may or may not be obvious

## Additional context

Add any other context or screenshots about the feature request here.

[2021-11-22 19:01] PhotoNomad0 opened #7194 "Add org support for Scripture Panes and Expanded Scripture Panes"
Allow selection of resources by owner/org.

[2021-11-22 19:04] PhotoNomad0 opened #7195 "Implement org support for Tool cards"
- discovery of GLs in multiple test orgs
- on tool card display multiple orgs for GL
How should the orgs be displayed?
Are there new implications of choosing a different org's GL resource?

[2021-11-22 20:36] PhotoNomad0 commented on #7164
@elsylambert - Have a fix for the projects you found in `translationCore 3.0.2 (0d9cd25)`.

[2021-11-22 21:17] mannycolon commented on #7187
Sounds good to me!

[2021-11-22 22:39] gayathrihayden commented on #7159
Fix tested in tC 3.0.2 (0d9cd25) and works fine.

- Created an index.lock file for the project that needs to be uploaded to Door43.
- While the project is being loaded to be uploaded to Door43, the index.lock file gets removed under the .git directory (username > tC > projects > <projectname> .git) and the upload to Door43 is successful.

[2021-11-23 15:47] PhotoNomad0 opened #7196 "Design UI for selection of organizations of latest resources to download"
Notes:

- use door43 import dialog as pattern for search - show org and language and resource type
- will need to download dependency - verify that tA is downloaded as a dependency for tw, twl, and tn
- can we fall back to using en_twl as basis for all GLs?

- could/should this be phase 2?

[2021-11-23 16:35] elsylambert commented on #7164
Looks good in translationCore 3.0.2 (0d9cd25). Not seeing trailing spaces.

[2021-11-23 16:37] elsylambert commented on #7165
Looks good in translationCore 3.0.2 (0d9cd25).

[2021-11-23 19:32] PhotoNomad0 opened #7197 "Source content update - switch from getting Door43 content to use Catalog Next"
Phase one of source content update - switch from getting Door43 content from v3 pivot.json to using Catalog Next

DoD:
---
This shouldn't be obvious within the interface. The log will show that the catalog next path is used instead of the catalog v3 path.

[2021-11-23 22:18] gayathrihayden commented on #7164
Fix tested in tC 3.0.2 (0d9cd25)  and works fine.

Reference screenshots:

In tC 3.0.1 (343198b), notice trailing space after \p:

![tC_3_0_1-trailing_space p](https://user-images.githubusercontent.com/74929193/143137878-85746d5d-cebd-417c-8c33-46ee0b30a3db.PNG)

In tC 3.0.2 (0d9cd25), do not observe trailing space after \p:

![tC_3_0_2-no trailing_space character p](https://user-images.githubuser

[2021-11-23 22:19] gayathrihayden commented on #7165
Fix tested in tC 3.0.2 (0d9cd25)  and works fine.

Reference screenshots:

In tC 3.0.1 (343198b), observe space after the pipe character |:

![tC_3_0_1-space after pipe character](https://user-images.githubusercontent.com/74929193/143138016-080a776a-df90-4d95-a44a-1e16ed407ca0.PNG)

In tC 3.0.2 (0d9cd25), do not observe space after the pipe character |:

![tC_3_0_2-no space after pipe character](h

[2021-11-24 15:18] PhotoNomad0 commented on #7197
**Notes:**

- comparing the resource list from the pivoted.json to the unfiltered catalog next results. in the pivoted.json there is an entry for ar_avd, but in the unfiltered catalog next results there is nothing under ar. It's looking like there are resources in the old catalog that are not visible to CN?
- Also in unfiltered CN there are only 103 entries under Door43-Catalog org, but in pivoted

[2021-11-24 16:13] PhotoNomad0 commented on #7169
This is working now in tc 3.0.2.  Think we can close this issue.

[2021-11-25 11:00] PhotoNomad0 opened #7198 "TN checks get swapped when resources updated"
### Problem

In translationNotes for 2 John, there are two selections for the same verse 1:3 under "Abstract Nouns"

1:3 " Grace, mercy, and peace will be with us from God the Father and from Jesus Christ"
1:3 "in truth and love"

For the Kannada project "kn_kglt_2jn_book", these two text selections for the same verse 1:3 are interchanged/displayed incorrectly.

Please check below screenshots.

![

[2021-11-29 17:04] PhotoNomad0 commented on #7198
**Copied from discussion thread**

The checks where showing properly for me at first, but then after updating el-x-koine they swapped - so I don't think it's user error.

FYI - I dug into the data stored on the repo and discovered that the saved selections are correct - so the selections themselves are not corrupted. It is a bug in tC that is displaying the selections on the wrong check when there

[2021-11-30 14:27] PhotoNomad0 commented on #7198
**Description of Problem and Possible Solutions:**

**Background:** the tCore parsing of tN tsv was implemented a long time ago. We kept track of checks by `reference, groupID, orig lang quote, occurrence`.  Then later it was realized that original quotes would need to change because the original language has changed.  So to make it easier for the checkers it was decided to update the quotes in th

[2021-11-30 19:47] PhotoNomad0 commented on #7197
**Thread Notes**

Bruce McLean: @Rich Mahn Looking at query /v5/search. Is there a way to return just repos tagged release?

Rich Mahn: @Bruce McLean By default it already has stage=prod, so only returns repos and their latest prod release.

Bruce McLean: @Rich Mahn It looks like you have answered my question.

Rich Mahn: @Bruce McLean Oops! So sorry I forgot to watch this thread for meeting up. G

[2021-12-02 19:49] PhotoNomad0 commented on #7156
Seeing problem in tC 3.0.2 with migrating old selections due to the above quote fix.  Due to the change made in how we handle the u2019 ’ character, the quote arrays are generated differently.  So any tn selections that have multiple checks with the same `reference, groupID, occurrence`, and that have that mark in them run the risk of being removed or have the wrong quote applied to them.

The old

[2021-12-04 11:07] PhotoNomad0 commented on #7156
This is being fixed as part of https://github.com/unfoldingword/translationcore/issues/7198

[2021-12-04 11:17] PhotoNomad0 commented on #7198
@elsylambert Tested in translationCore 3.0.2 (0f2d103).
I created a fork ~https://git.door43.org/photonomad1/kn_kglt_2jn_book~ https://git.door43.org/tCore-test-data/kn_kglt_2jn_book to capture the project before they made changes.
You can look at the steps in the PR https://github.com/unfoldingWord/translationCore/pull/7199 to see what I was looking at for testing.

[2021-12-09 12:18] richmahn commented on #7186
Exact match option has been added. (actually it is the default, if you want a partial match, then you use partialMatch=1)

[2021-12-10 19:53] BincyJ commented on #7198
@PhotoNomad0 , does @mannycolon need to review this issue or is it ready to be tested?

[2021-12-10 19:53] BincyJ commented on #7198
@birchamp , can you confirm if this is 3.0.3 or 3.0.2 release

[2021-12-11 17:30] PhotoNomad0 commented on #7198
@BincyJ Moved to QA (forgot that), should be a 3.0.2 issue @birchamp.  Ready for @elsylambert to test.

[2021-12-16 03:06] elsylambert commented on #7198
Verified in translationCore 3.0.2 (0f2d103). TN checks are not swapped and are displayed correctly as per the steps in PR #7199.
@PhotoNomad0 However, I have the following observation on one of the category: Assumed Knowledge ...
- Some multiple checks in this category were not displayed correctly.
-
<img width="1377" alt="Screen Shot 2021-12-15 at 9 45 19 PM" src="https://user-images.githubuserco

[2021-12-16 14:29] BincyJ opened #7203 "tC Electronite update"
To setup the continuous build system on CircleCI so that we can automatically keep up with the electron releases

### Definition of Done

[2021-12-16 14:59] PhotoNomad0 commented on #7198
That is always hard to track down, because we show localized strings on the left.  But if they are using en as the GL, you can find the mapping between groupIDs and displayed text in the en_tn resource (e.g. `~/translationCore/resources/en/translationHelps/translationNotes/v49/culture/index.json`) which will look like.

[code]
But that list doesn't seem complete.  Still looking for the others.

[2021-12-16 15:18] PhotoNomad0 commented on #7198
@elsylambert The full list is very difficult to navigate.  It's in the tA such as `https://git.door43.org/Door43-Catalog/en_ta/src/branch/master/translate`

The localized strings are stored like `https://git.door43.org/Door43-Catalog/en_ta/src/branch/master/translate/figs-explicit/title.md`

[2021-12-16 15:44] PhotoNomad0 commented on #7198
I don't know the history of this project, but it looks like the behavior is expected.  Those are duplicated checks and until we release a fix for tCore that supports the IDs we will not be able to match previous selections to updated resources.

Unfortunately it will not be until after 3.0.2 is released and the duplicate alignments are corrected by the user, that this problem will go away.

[2021-12-16 16:00] PhotoNomad0 commented on #7198
How tCore works is whenever the user updates resources, tCore will go through all the previous selections for the tool (stored at `~/translationCore/projects/kn_kgl_2jn_book/.apps/translationCore/checkData/selections/2jn/1/5` for example) and try to match to the checks in the updated resources.  But without the check Ids stored there, tC 3.0.1 would make mistakes matching the old selections.  This

[2021-12-16 16:01] PhotoNomad0 commented on #7198
Switching GLs forces the resources for the new GL to be reloaded in tCore.  As far as tCore is concerned this is the same as updating resources.

[2021-12-16 18:30] elsylambert commented on #7198
Thanks @PhotoNomad0 for the Information you provided. After the discussion and walkthrough, I am passing this issue. It works fine in tN and tWs as well.

[2021-12-20 13:43] BincyJ opened #7204 "tC 3.1.0 Release Checklist"
Release Steps Sign Off

### Definition of Done

- [ ] QA signs off on specific build in regression testing: current for `v3.0.2`, build number: `0f2d103`
- [ ] Update changelog
- [ ] create draft release on github for translationCore
- [ ] Attach the github action builds (same build as QA signed off) to the draft release as assets
- [ ] Update Release Notes to the draft release
- [ ] after everyon

[2021-12-20 16:43] richmahn commented on #6801
This was a content issue, where te_iev has "ust" as its identifier in the manifest.yaml file. This caused tC to get confused once there were two "ust" Bibles (te_iev and te_ust). See https://forum.door43.org/t/unable-to-update-telugu-gl-content-update-no-local-date-and-incorrect-online-date/1236/3?u=rich

[2021-12-20 16:43] #6801 closed, assigned to nobody

[2021-12-28 19:33] PhotoNomad0 commented on #7186
**Notes for development:**

Need to add to tc-source-content-updater:
- support for multiple repo owners:
  - save owner in file system - use encodeURIComponent() to sanitize?
  - get latest version to have optional parameter for repo owner?
- updated Languages list returned by getLatestResources needs updating:
  - to include latest resources under each language.
  - to support multiple owners.
-

[2022-01-01 11:37] PhotoNomad0 opened #7208 "Add TWL parsing to tc-source-content-updater"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-01-01 11:43] PhotoNomad0 commented on #7187
I was able to prototype option 1, so I think this issue is finished.

[2022-01-03 14:32] PhotoNomad0 commented on #7196
Another option that might be more helpful to the user would be use the existing updated resources dialog that shows the languages with updated resources.  Just add capability to expand the language and select/deselect individual resources. @birchamp @mannycolon

My thought is to make it work like this rough example from tN tool:
collapsed:
![Screen Shot 2022-01-11 at 8 23 05 AM new](https://user-i

[2022-01-03 14:40] PhotoNomad0 commented on #7186
Need to do two searches since not all resources in D43-Catalog have been released on DCS.
1. We use the v5 API to get the released resources (stage==prod).
2. There is a v3 endpoint that gives us the entries from the old catalog.json

Then we merge the two lists removing entries in # 2 that are duplicates

[2022-01-07 13:39] PhotoNomad0 opened #7210 "tCore 3.0.2 is deleting newer resources on startup and replacing with resources bundled"
tCore 3.0.2 is deleting newer resources on startup and replacing with the version of resources bundled with app.  This is a regression from 3.0.1

## Additional Context
@_**Rich Mahn|237101** [said](https://unfoldingword.zulipchat.com/#narrow/stream/207527-tC--.20UR/topic/Field.20Testing/near/267179679):
[code]
Good sleuthing - looks like a startup bug...

[2022-01-07 15:00] elsylambert commented on #7210
Tested this on 3.1.0 and found that the issue exits.
-
<img width="926" alt="Screen Shot 2022-01-07 at 9 19 42 AM" src="https://user-images.githubusercontent.com/51806180/148561854-1b3b2c29-5424-49b9-853c-9cb7ec2aef74.png">

After updating the content:
<img width="926" alt="Screen Shot 2022-01-07 at 9 45 24 AM" src="https://user-images.githubusercontent.com/51806180/148561892-05cbed97-00dd-4b3b-b1

[2022-01-07 15:48] richmahn commented on #7210
Found the issue lies here: https://github.com/unfoldingWord/translationCore/blame/1262662d76afcec318f2f29b9111db974dd4f3f0/src/js/helpers/ResourcesHelpers.js#L1154 where now it gets the version of the static resource and sees if it exists. If not, it migrates the static version, but deletes all existing versions in the user resource directory!

[2022-01-08 13:05] PhotoNomad0 commented on #7210
See issue: https://github.com/unfoldingWord/translationCore/issues/7121
In the PR, It looks like the unit test that would catch this problem was changed: https://github.com/unfoldingWord/translationCore/pull/7155/files

It looks like I was the one that dropped the ball in reviewing this.

[2022-01-10 20:20] PhotoNomad0 opened #7212 "Convert modules that used Travis for unit tests to run on github actions."
## Story Explanation
### User Story

The old Travis build system has been replaced.  Convert modules that used Travis for unit tests to run on github actions.

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-01-10 21:15] PhotoNomad0 opened #7213 "Empty occurrence notes crashes parsing of books when downloading latest tNs"

[2022-01-10 21:22] PhotoNomad0 commented on #7213
**Discussion:**

Russ Perry: Thanks, @Birch . I'll let them know to see if that helps them.

Russ Perry: @Birch @Rich Mahn @Bruce McLean Book packages for Kannada rut and jon have been published to DCS three weeks ago, but Kannada is not showing as a GL in tCore (3.0.2) for Ruth or Jonah. I renamed the translationHelps folder and re-downloaded the content, but it's still not there. Telugu is not t

[2022-01-11 13:34] PhotoNomad0 commented on #7196
To make use of this approach:

- expanded sourceContentUpdater.getLatestResources(localResourceList, filterByOwner) to return a list of updated resources under each language.  See:
  - https://github.com/unfoldingWord/tc-source-content-updater/blob/feature-mcleanb-7186/src/index.js#L152

- will have to switch updateResources() from using sourceContentUpdater.downloadResources() to a new API: sourc

[2022-01-11 14:29] elsylambert commented on #7210
@PhotoNomad0 while testing the latest translationCore 3.1.0 (8d50789), I found that it works fine for en resources. I tested again using gu language. see the screenshot with the updated resources for gu.![image](https://user-images.githubusercontent.com/51806180/148961509-1628c226-9653-4a40-9332-9f7eaf00c9d8.png)<img width="1038" alt="Screen Shot 2022-01-11 at 8 57 15 AM" src="https://user-images.

[2022-01-11 20:29] elsylambert commented on #7210
Verified in translationCore 3.1.0 (8d50789). TC is no longer deleting the newer Resources on startup.

[2022-01-11 21:02] elsylambert commented on #7171
Looks good and works as expected in translationCore 3.1.0 (8d50789). The project that have the verse spans in them, WA tool displays in the scripture pane, displays all the words in word bank and shows in the expanded scripture pane.

[2022-01-12 14:39] elsylambert commented on #7173
Not seeing the Missing verse warnings on importing the projects with verse spans in translationCore 3.1.0 (8d50789).

[2022-01-12 14:51] elsylambert commented on #7174
translationCore 3.1.0 (8d50789)
Export to USFM works fine with aligned verse span verses. Seeing x-ref values in the usfm file
<img width="673" alt="Screen Shot 2022-01-12 at 9 49 49 AM" src="https://user-images.githubusercontent.com/51806180/149163251-da4fa222-1dc1-4059-94fe-b05b885b038d.png">
.

[2022-01-12 15:02] elsylambert commented on #7172
translationCore 3.1.0 (8d50789). The display looks fine in scripture pane and selection area. But I do not see edit notifications to invalidate notes.
I made selections in tN and tW for the verses that has verse spans and then went to WA and edited the verse to invalidate the selections. When I reopened tN and TW, I do not see the notifications. I see that the edits are shown and the selections ar

[2022-01-13 01:46] PhotoNomad0 opened #7215 "3.1.0 Release Checklist"
Release Steps Sign Off

### Features / Specifications

### Definition of Done

- [x] QA signs off on specific build in regression testing: current for `v3.1.0`, build number: `a7d2893`
- [x] Update changelog
- [x] create draft release on github for translationCore: https://github.com/unfoldingWord/translationCore/releases/edit/untagged-28788b7faf74a4cc5bf7
- [x] Attach the github action builds (sa

[2022-01-13 13:06] elsylambert commented on #7172
Verified in translationCore 3.1.0 (a7d2893). Seeing the invalidation messages as expected when a selection is invalidated. Seeing the broken chain link as well on the cards.
<img width="810" alt="Screen Shot 2022-01-13 at 7 56 45 AM" src="https://user-images.githubusercontent.com/51806180/149335535-47c80920-8a57-42e8-a6e1-c825c07e646d.png">
<img width="715" alt="Screen Shot 2022-01-13 at 7 57 13 A

[2022-01-13 13:37] elsylambert commented on #7153
Not seeing this issue in translationCore 3.1.0 (a7d2893). Multiple tN checks are saved correctly to the respective selections when the GL is switched.
<img width="1442" alt="Screen Shot 2022-01-13 at 8 38 01 AM" src="https://user-images.githubusercontent.com/51806180/149340370-a4a87f09-ad57-4a6d-8409-ea005144d9c1.png">

[2022-01-13 13:40] elsylambert commented on #7167
Looks good in translationCore 3.1.0 (a7d2893).

[2022-01-13 13:42] elsylambert commented on #7213
Not seeing this issue in translationCore 3.1.0 (a7d2893).

[2022-01-13 13:43] elsylambert opened #7216 "Download fails for Hebrew resources"
translationCore 3.1.0 (a7d2893).
- Source content update for Hebrew fails
<img width="1775" alt="Screen Shot 2022-01-13 at 8 17 02 AM" src="https://user-images.githubusercontent.com/51806180/149341159-a66a7aa8-8d96-430c-ae6b-08cb5d6350cb.png">
.

[2022-01-14 03:40] elsylambert opened #7218 "Search does not give projects results in the new format"
The search currently has a bug that if you select both a language and book of the bible, it will only find projects named in the old format, not the newer naming format that ends with _book.

[2022-01-28 11:20] PhotoNomad0 opened #7222 "Add Ability to cancel download of resources when downloads are taking too long"
The user should be able to cancel a download of resources while it is in progress.

DoD:
===
After the user has chosen to download a resource update the download can be canceled.

[2022-01-28 11:21] PhotoNomad0 opened #7223 "Add warning that a large number of downloads were selected and that it might take a long time"
Issue:
===
Prompt the user to inform them that they have chosen to download a lot of content updates.  "You have chosen to download X resources. This may take a long time. Are you sure you want to continue?"

DoD:
===
User is informed when downloading more than 5 resources.

Details:
===
What threshold do we set? > 5?

[2022-01-28 11:21] PhotoNomad0 opened #7224 "Add gl owner support to CSV export"

[2022-01-28 11:50] PhotoNomad0 opened #7225 "On resource download failure, show list of repos that failed to download."
Add a list of failed repos to the error dialog.

DoD:
===
When repos fail to download the names of the repos are displayed to the user.

[2022-01-31 15:13] PhotoNomad0 opened #7226 "Add quick toggle to expanded scripture pane to show raw USFM"
## Story Explanation
### User Story
Suggested by Larry at January meeting.  Larry reviewed the prototype.

Added toggle button to title bar to switch to show raw USFM.

Regular view:
![Screen Shot 2022-02-03 at 11 26 41 AM](https://user-images.githubusercontent.com/14238574/152385508-edea4cda-c5f5-4db6-8317-e9396d3f059c.png)

Normal view:
![Screen Shot 2022-02-03 at 11 27 00 AM](https://user-image

[2022-02-02 16:51] #7204 closed, assigned to nobody

[2022-02-03 13:47] birchamp commented on #7215
@elsylambert can you confirm that the links are correct on translationcore.com and any other places you normally would check? and then we can close this

[2022-02-03 13:48] #7110 closed, assigned to PhotoNomad0

[2022-02-03 13:53] elsylambert commented on #7215
@birchamp Verified. The build links are correct on the Release Page and on Translationcore.com.

[2022-02-03 14:05] birchamp opened #7228 "Remove the requirement for a support reference link"
Issue:
===
The smurf bar should allow for notes without a support reference link. The associated academy file should be determined by the type of note it is.

DoD:
===
TNs without a link to the academy article still display and function as normal

[2022-02-03 14:51] birchamp opened #7229 "SPIKE: Investigate how to inform user of download dependancies"
It would be good to let users know what additional resources are needed when they choose a particular resource.

Investigate what resources have necessary dependents.
Investigate ways to inform the user of what will be downloaded.
For instance, should TWL be shown separately from TW updates?

[2022-02-03 18:20] elsylambert opened #7230 "Update Electronite to fix UI issues with Windows 11"
v 3.1.0
On startup the screen looks as shown in the screenshot below:

![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/59821c25-5613-4509-92a7-f35943c60964)

Notes:
- currently using electronite version: 12.0.5-graphite

[2022-02-07 14:08] PhotoNomad0 commented on #7208
Finished, back end work not QA testable

[2022-02-07 14:09] PhotoNomad0 commented on #7197
Back end changes, not QA testable.

[2022-02-07 14:11] PhotoNomad0 commented on #7186
Done, back end work not QA testable

[2022-02-08 20:02] elsylambert commented on #7226
@PhotoNomad0 The toggle state is not persistent when the expanded scripture pane is closed. Is it designed that way? If so, I will write up a separate issue for this.

[2022-02-08 20:23] elsylambert commented on #7196
Local date for a content is broken. It no longer shows the date when the previous content was updated written separately in #7240

[2022-02-08 22:12] PhotoNomad0 commented on #7226
@elsylambert I have not had a user request for that feature.

[2022-02-08 22:53] elsylambert commented on #7226
translationCore 3.2.0 (ae2304b). USFM formatting fails when selection is made.
In tW, the new line added is not shown in the expanded Scripture view.
![Large GIF (912x476)](https://user-images.githubusercontent.com/51806180/153089106-e9affea0-63a2-40e1-b903-2270637d89b1.gif)

[2022-02-10 11:42] PhotoNomad0 commented on #7226
@elsylambert Try again in latest build.

[2022-02-10 11:50] PhotoNomad0 commented on #7195
@elsylambert Give this a try.  Look at https://github.com/unfoldingWord/translationCore/pull/7232 for ideas how to set up for testing.

[2022-02-10 13:47] PhotoNomad0 commented on #7195
![Screen Shot 2022-02-10 at 8 46 30 AM](https://user-images.githubusercontent.com/14238574/153420729-ca862766-f619-42ce-9d9e-5e0bb3540018.png)

[2022-02-11 01:30] PhotoNomad0 commented on #7225
@elsylambert See https://github.com/unfoldingWord/translationCore/pull/7236 for example how to test.

[2022-02-11 11:13] PhotoNomad0 commented on #7203
Looks interesting.

[2022-02-11 21:11] elsylambert commented on #7225
translationCore 3.2.0 (1ed3822). Works fine. The dialog box lists the repo and the cause of the download failure.

[2022-02-11 21:21] elsylambert commented on #7195
translationCore 3.2.0 (1ed3822)
Not able to select the GLs for tN and tW. @PhotoNomad0

- downloaded eng Resource
- opened projects>tools page> unable to select the GL for tN and tW.
- log file:
[Fri Feb 11 2022.log.zip](https://github.com/unfoldingWord/translationCore/files/8051733/Fri.Feb.11.2022.log.zip)

<img width="807" alt="Screen Shot 2022-02-11 at 4 16 53 PM" src="https://user-images.githu

[2022-02-13 19:57] PhotoNomad0 commented on #7166
updated windows git version to `git version 2.35.1.windows.2`

[2022-02-14 12:00] PhotoNomad0 commented on #7195
@elsylambert - I deleted the resources folder, ran the latest tC build (same as you tested), and updated all en content, and then tried a couple of gal projects.  It seems to be working for the cases I tried.  There is nothing obvious in the log file as to why it would fail to show GLs.  It looks like you are testing `/Users/elsylitsonlambert/translationCore/projects/en_ultz_gal_book` which looks

[2022-02-14 12:06] PhotoNomad0 commented on #7195
Could you point me to your project?

[2022-02-14 14:12] elsylambert commented on #7195
[en_ulte_act_book.zip](https://github.com/unfoldingWord/translationCore/files/8061366/en_ulte_act_book.zip)
[en_ust_gal_book.zip](https://github.com/unfoldingWord/translationCore/files/8061368/en_ust_gal_book.zip)

[2022-02-14 14:15] elsylambert commented on #7195
@PhotoNomad0 It is not project specific because I see this problem for all the projects I have.
The only thing I did not do is the Resources folder deletion before I updated the resources
- log file:
[Fri Feb 11 2022.log.zip](https://github.com/unfoldingWord/translationCore/files/8051733/Fri.Feb.11.2022.log.zip)

[2022-02-14 15:43] PhotoNomad0 commented on #7195
@elsylambert - Hmm...the projects are working for me.  Try deleting the resources and see if that helps.

[2022-02-14 17:21] elsylambert commented on #7195
After I deleted the Resources, then launched tC and updated the content, It works fine. User must reload the project to see the GL list in the tools card.
<img width="807" alt="Screen Shot 2022-02-14 at 12 22 09 PM" src="https://user-images.githubusercontent.com/51806180/153914282-28a14684-84bc-4e64-a915-223f5793126f.png">

[2022-02-14 17:24] elsylambert opened #7240 "Local date for a content update is broken"
Local date for a content update is broken. It no longer shows the date when the previous content was updated
<img width="771" alt="Screen Shot 2022-02-14 at 12 26 36 PM" src="https://user-images.githubusercontent.com/51806180/153915067-71075004-5945-4bcd-8ff0-c5bdc2dbea91.png">
.

[2022-02-14 17:28] elsylambert commented on #7196
Looks good in translationCore 3.2.0 (1ed3822).

[2022-02-14 17:38] elsylambert opened #7241 "Error while trying to download UGNT for tN tool"
translationCore 3.2.0 (1ed3822)
log file:  [Mon Feb 14 2022.log.zip](https://github.com/unfoldingWord/translationCore/files/8062814/Mon.Feb.14.2022.log.zip)

Project:
[https://app.zenhub.com/files/65028237/70e420bc-84de-4202-bc30-8da73380d620/download](https://app.zenhub.com/files/65028237/70e420bc-84de-4202-bc30-8da73380d620/download)

Steps:
- Download the en content for the "Actions>Check for C

[2022-02-14 17:44] elsylambert commented on #7226
Works fine in translationCore 3.2.0 (1ed3822). Not seeing formatting issues. Toggle works well for the USFM view.

[2022-02-14 21:17] PhotoNomad0 commented on #7195
@elsylambert Added a Fix in latest dev build for org support in tWords - tWords using ru_gl should work now

[2022-02-14 21:18] PhotoNomad0 commented on #7166
@elsylambert Latest tCore dev build has latest git version for windows ^^^

[2022-02-15 15:15] PhotoNomad0 commented on #7241
@elsylambert This should be fixed in latest dev build.

[2022-02-15 15:18] PhotoNomad0 commented on #7222
@elsylambert This is in the latest dev build.  Clicking cancel button may have a delay if processing a large resource.

[2022-02-17 14:56] birchamp opened #7246 "Add feedback button to Update resource error dialog"
Errors during update resource are particularly troubling, and often need helpdesk support.  The user needs a way to send a log to the helpdesk via the feedback button.

DoD:
===
The update resource error dialog has a feedback button that opens the existing feedback dialog functionality.

[2022-02-17 14:59] birchamp opened #7247 "If a dependency fails the error should show what resource was missing"
During a Update Resource operation when a dependency fails the user should be informed as to what resource was missing if that is the cause of the failure.

DoD:
===
if a resource dependency is missing the user is informed of the actual missing resource.

[2022-02-17 19:33] PhotoNomad0 commented on #7194
@elsylambert - The ability to select bibles by GL in the scripture panes is now present in latest dev build. Example:
![Screen Shot 2022-02-17 at 2 31 07 PM](https://user-images.githubusercontent.com/14238574/154556927-4730e33f-e8ce-4001-a0b3-52c871e3076f.png)

[2022-02-17 19:46] PhotoNomad0 commented on #5343
@elsylambert Do you have a 32-bit windows machine to test this?

[2022-02-17 19:52] PhotoNomad0 opened #7250 "Fix update of tA resources to gracefully handle missing title.md files."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-02-17 19:55] PhotoNomad0 opened #7251 "Fix resource update UI to only show one entry for tw download (rather than separate twL and tw downloads)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-02-17 19:57] PhotoNomad0 opened #7252 "In the update resource UI remove underscores in the resource title shown to user."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-02-18 18:33] elsylambert commented on #7241
Not seeing the problem in translationCore 3.2.0 (71ca242). tC now downloads the UGNT without fail.

[2022-02-18 18:51] elsylambert commented on #7195
translationCore 3.2.0 (71ca242)
@PhotoNomad0   log file:
[Fri Feb 18 2022.log.zip](https://github.com/unfoldingWord/translationCore/files/8099672/Fri.Feb.18.2022.log.zip)

GL list shows Door-43 ru resource but not from ru_gl
![image](https://user-images.githubusercontent.com/51806180/154744313-e4689be5-6067-49bd-b37f-0ecbb42474d9.png)

[2022-02-19 11:39] PhotoNomad0 commented on #7230
@birchamp @elsylambert I didn't find anything about Windows 11 UI problems with older versions of electron.  One way to see if upgrading electonite version would fix this, would be to make builds with plain vanilla electron to test with windows 11.  That would be much quicker than creating new electronite builds.

[2022-02-19 12:52] PhotoNomad0 commented on #7230
@elsylambert Here are some plain vanilla electron builds to test with Windows 11:
- a build with latest electron 12.2.3 - https://github.com/unfoldingWord/translationCore/actions/runs/1868754166
- a build with latest electron 13.6.9 - https://github.com/unfoldingWord/translationCore/actions/runs/1868832257

[2022-02-20 13:11] PhotoNomad0 commented on #7203
@birchamp @da1nerd - It looks like Electron uses CircleCI for the linux and macos builds, but uses AppVeyor for the windows builds.  I tried building the `electronite-v12.0.5` branch to understand how build works on CircleCI, but I got an error with the electronite patch.

[2022-02-21 13:53] PhotoNomad0 commented on #7203
Ran tests building plain vanilla electron
- Tried building electron 12-x-y branch - failed with corrupted cache at 50 min.  Seems to be due to 12-x-y builds being deprecated and no updated.
- Tried building electron 13-x-y branch - electron build times out at about an hour on free tier - Tried building electron 13-x-y branch using paid tier - electron build times out at about 3 hours.
- retrying b

[2022-02-21 19:07] deferredreward opened #7255 "Strange alignment panel behavior"
- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

A word in the alignment panel is popped back and forth between lines when picking up words in the word bank.

### Steps to Reproduce

A word is in one place, then when you pick up the word it changes lines, then it changes li

[2022-02-21 20:07] deferredreward commented on #5824
@PhotoNomad0 suggested I make an issue for this, here's a screen shot of actual and desired (via paint!).

[tcore actual](https://drive.google.com/file/d/1Du6Q2DyrkzxgEfS14wuw7Wm8RpsXBGHt/view?usp=sharing)

So, sort of like you can freeze the top row in excel, it'd be helpful to see the language name when scrolling down.
[tcore desired](https://drive.google.com/file/d/1E2-C7suUGL5X0xekh7J-O-gJRJco

[2022-03-04 21:39] deferredreward commented on #3139
Yes. This is kind of a painful way to undo a major mistake. 😉

![image](https://user-images.githubusercontent.com/703973/156845292-80534196-f756-4955-8562-bd695fb8aad0.png)

[2022-03-07 13:04] PhotoNomad0 commented on #7250
**Notes from 2022-02-10:**

Jobby Prasannan: We have an issue with the Nepali resource in tCore. The content update shows an error
Jobby Prasannan: This is true even for the Kannada Resource.

Russ Perry: I'm seeing the same failures on my system for downloading content for Kannada and Nepali.

Jobby Prasannan: @Rich Mahn @Bruce McLean Any updates on this issue?

Bruce McLean: @Jobby Prasannan for

[2022-03-07 15:05] PhotoNomad0 commented on #7246
@birchamp @elsylambert Would this work for the UI? I centered the feedback button under the error text:

![Screen Shot 2022-03-07 at 10 03 57 AM](https://user-images.githubusercontent.com/14238574/157060166-72aa5dc0-de10-45e3-b03f-ee4e1326db07.png)

[2022-03-07 15:10] PhotoNomad0 commented on #7250
@elsylambert Test in  develop Branch build `ba8ab1d`

[2022-03-07 16:05] birchamp commented on #7246
Where is the 'send feedback' on other dialogs? @PhotoNomad0

[2022-03-07 17:44] PhotoNomad0 commented on #7246
@birchamp - The only other error dialog i know of with integrated feedback is in the checking tool for invalid checks.  It only has two buttons at bottom: submit feedback and ignore.  If you are thinking we should move the feedback button to the bottom line, it would take some significant refactoring to add support for a third button to the generic alert dialog or require creating a custom dialog.

[2022-03-07 17:52] birchamp commented on #7246
I see. In that case, let's make the send feedback button centered in the dialog instead of under the text and white like the cancel button because it will cancel the operation when they send the feedback.

[2022-03-07 18:39] PhotoNomad0 commented on #7246
@birchamp Turning it white is easy, but centering button in dialog would be a refactor.  Currently just adding the button to the alert message.  I could move it down a little bit and try to fake centering by indenting, but the dialog width is dynamic and will change to accommodate width of the text.

[2022-03-07 18:43] PhotoNomad0 commented on #7246
Will take a look - maybe I can add the third button support in a day.

[2022-03-07 18:44] elsylambert commented on #7246
@PhotoNomad0 Can we replace the Retry button with the Feedback button. The retry does not actually help after we get the error on download.

[2022-03-07 18:46] PhotoNomad0 commented on #7246
@elsylambert We could.  And drop the retry?  The retry is handy if the user is having intermittent network problems.  In case of retry it just tries to download what failed and they don't have to reselect the resources.

[2022-03-07 18:49] PhotoNomad0 commented on #7246
Or I suppose if they select cancel to the send feedback, we could give another prompt asking if they want to retry the download?

[2022-03-07 18:55] elsylambert commented on #7246
@PhotoNomad0 I was considering "missing dependency" error only, to remove the Retry button, but that would be unfair if the error happens due to network disconnections.
Another prompt on Cancel could be a bit tedious for the user.

[2022-03-07 19:01] elsylambert commented on #7246
@PhotoNomad0 Ideal UI would be to have three buttons, but if it requires major refactor then either:
1. we could use the layout as per your recent screenshot and align the buttons by bringing Feedback button down a little bit.
2. Or we can use two buttons "Feedback" and "Retry". Clicking on X on the Alert box can be utilized for Cancel. (workaround)

[2022-03-07 19:22] elsylambert commented on #7195
translationCore 3.2.0 (ba8ab1d)
1. upgraded to translationCore 3.2.0 (ba8ab1d).
2. Started tC and opened the project. Note that not seeing the GL list to  launch tN and tW.
<img width="687" alt="Screen Shot 2022-03-07 at 2 13 19 PM" src="https://user-images.githubusercontent.com/51806180/157103383-6f7147ed-4910-49d7-b567-941320c80407.png">

[](https://cdn.discordapp.com/attachments/942829365509640

[2022-03-07 19:43] elsylambert commented on #7222
Looks good in translationCore 3.2.0 (ba8ab1d) and works fine. Not seeing any delay in canceling the download.

[2022-03-07 19:48] elsylambert commented on #7195
@PhotoNomad0 I also downloaded ru_gl Resources (tW and tWLs) but it does not show in the list
<img width="822" alt="Screen Shot 2022-03-07 at 2 48 50 PM" src="https://user-images.githubusercontent.com/51806180/157107158-5c54f9aa-2433-4004-9f86-2e4aaaad1335.png">
.

[2022-03-07 19:51] elsylambert commented on #7195
Log file:
[Mon Mar 07 2022.log.zip](https://github.com/unfoldingWord/translationCore/files/8200465/Mon.Mar.07.2022.log.zip)

[2022-03-07 20:06] elsylambert commented on #7250
@PhotoNomad0 I tried with Kannada Resources, not seeing errors on download. Can you please point me to a Resource with missing .md files?

[2022-03-07 20:07] elsylambert commented on #7194
Looks good in translationCore 3.2.0 (ba8ab1d) .

[2022-03-07 20:31] PhotoNomad0 commented on #7246
@birchamp @elsylambert _ after a bit of flex slight of hand, I have this.  Feedback?

![Screen Shot 2022-03-07 at 3 29 02 PM](https://user-images.githubusercontent.com/14238574/157113039-ff8a2792-6c4d-471f-b684-efe16b837305.png)

[2022-03-08 15:11] PhotoNomad0 commented on #7195
@elsylambert I found a few small bugs, and also see in the logs that calls to ~~catalog next API~~ old catalog API are failing.

[2022-03-08 15:16] birchamp commented on #7246
any chance we can move the Send Feedback up closer to the text?

[2022-03-08 15:46] PhotoNomad0 commented on #7246
@birchamp Here we go:

![Screen Shot 2022-03-08 at 10 39 56 AM](https://user-images.githubusercontent.com/14238574/157273051-5b119f2f-9141-46ab-bac2-bc4402dd8932.png)

[2022-03-08 16:36] birchamp commented on #7246
@PhotoNomad0  Ship it!

[2022-03-08 16:54] PhotoNomad0 commented on #7246
@elsylambert: This is added to Branch [develop] build [0ec0674]

[2022-03-08 19:28] PhotoNomad0 commented on #7195
@elsylambert have new build with fixes: Branch [develop] build [07d98b8]

It's working for me when I upgrade from 3.1.0 or from previous develop build.

[2022-03-08 21:38] elsylambert commented on #7195
@PhotoNomad0 Did you delete the Resources folder before the upgrade? I upgraded to the latest from the previous develop build and still not seeing the GL list
<img width="1354" alt="Screen Shot 2022-03-08 at 4 38 10 PM" src="https://user-images.githubusercontent.com/51806180/157329535-621668e4-ef57-4d48-965a-f37fd89d6604.png">
.
Log file:
[Tue Mar 08 2022.log.zip](https://github.com/unfoldingWord/

[2022-03-09 14:58] PhotoNomad0 commented on #7195
@elsylambert  No, I didn't delete the resources.  And did not see a problem after upgrade.

I realize that I have been just reusing the same project.  I'll retry the upgrade with the zipped project.  Do you open the project in the old tCore build before the upgrade?  From the log I am guessing that you do not.

[2022-03-09 15:34] PhotoNomad0 commented on #7195
@elsylambert I followed these steps:
- deleted resources folder
- copied your ust gal project into the projects folder
- opened older tCore build 71ca242
- went to projects page
- closed tCore
- launched newer tCore build 1bcc4e4
- selected ust gal project and see GLs:

<img width="918" alt="Screen Shot 2022-03-09 at 10 19 44 AM" src="https://user-images.githubusercontent.com/14238574/157473271-09

[2022-03-10 03:38] elsylambert commented on #7195
I did this:
1. Upgraded to translationCore 3.2.0 ((1ed3822) 26 days ago.
2. Deleted resources folder and relaunched tC. Updated content and GL list worked fine as expected.
3. Later I  upgraded to translationCore 3.2.0 (71ca242) and it worked fine.
4.  March 7- I upgraded to v3.2.0 (ba8ab1d) and was not seeing the GL list.
Please Note that I did not open the project in the previous version before

[2022-03-10 03:41] elsylambert opened #7262 "Org support for tools card: ru_gl not shown in the GL list in tools card."
Running into a problem with org support in tools.  An example is ru_gl.  We can download the ru tW and tWL resources, but ru doesn't show up as an option for GL in tW tool.
![image](https://user-images.githubusercontent.com/51806180/157584299-9ae2a4e5-67ab-4181-8bd3-d612b6075929.png)

The reason is that we still don't have an aligned bible resource downloaded. It is not a great user experience sin

[2022-03-10 03:46] elsylambert commented on #7195
I separated ru_gl issue to #7262

[2022-03-10 11:05] PhotoNomad0 commented on #7262
@elsylambert Thanks for moving this to a new issue. I discovered that for some owners, even with all the bibles downloaded, we don't have bibles with alignments nor twls for many books.  In the case of gal projects (such as the project in the original issue), we don't have a bible with alignments for gal in ru_gl.

[2022-03-10 11:24] PhotoNomad0 commented on #7262
@elsylambert @birchamp I would suggest this is a new feature, since we never had feedback to the user about the reason GLs are not showing up on the tool cards.  This was a pre-existing problem even when we only supported door43-catalog.  This is going to require UI design.

[2022-03-10 13:32] PhotoNomad0 commented on #7262
For troubleshooting measures, I have added more detailed logging to determine why a GL is not supported in a tool.

[2022-03-10 14:06] PhotoNomad0 commented on #7262
@elsylambert - with all the resources added, the following books are supported for ru_gl in tN: 3jn, jon, rut, tit (but tW doesn't like any of the checks)

some observations:
- ru_gl/rob - has all the books of the bible, but only a few are aligned.
- ru_gl/reg - Russian radio bible does not have alignments and only has 3jn, jon, rut, tit
- ru_gl/rlob  - Russian Literal Bible has a larger number of

[2022-03-10 14:34] PhotoNomad0 commented on #7262
Thoughts:
- should we remove validation of checking level?
- ru_gl tw is a problem for many books since none of the checks seem to match the OL <= turns out to be problem that there are no alignments for that book in the ru bibles.

[2022-03-10 16:41] birchamp commented on #7203
@da1nerd Do you have any time to work on an updated Electronite build?

[2022-03-10 16:43] birchamp commented on #7107
@PhotoNomad0 Does tC key off of the link in the note or from the supportreference column to determine the TA article?

[2022-03-10 16:46] birchamp commented on #7230
@elsylambert ^^

[2022-03-10 21:35] PhotoNomad0 commented on #7251
@elsylambert Will no longer see a separate TWL download if both need to be updated.  Select TW and TWL will be updated as well if necessary.

New branch [develop] build [1aea3cc]

![Screen Shot 2022-03-10 at 4 30 50 PM](https://user-images.githubusercontent.com/14238574/157758697-12525f0b-a3d2-4410-859f-39a83e41fb8a.png)

[2022-03-11 19:17] da1nerd commented on #7203
Unfortunately not, I'm managing two teams on a few large projects at the moment, and don't have the bandwidth.

[2022-03-14 11:14] PhotoNomad0 commented on #7262
@elsylambert - try these books in ru_gl in the latest build: 3jn, jon, rut, tit

[2022-03-14 14:26] PhotoNomad0 commented on #7107
@birchamp - I found examples that didn't have a link in the note, and the correct article still comes up.

This issue was about having the `*` in place of the language ID.  That I cannot reproduce so far, because it looks like the links have been fixed.

[2022-03-14 16:30] PhotoNomad0 commented on #7230
Notes:
- created tCore feature branches for test builds using plain vanilla Electron such as `feature-mcleanb-electron.14`
- summary of Electron versions: https://en.wikipedia.org/wiki/Electron_(software_framework)
- list of breaking changes in newer electron versions: https://www.electronjs.org/docs/latest/breaking-changes#removed-remote-module
- problems running on Electron 14:
  - ~~environment

[2022-03-15 10:30] PhotoNomad0 commented on #7230
@elsylambert - I cannot reproduce the problems Benjamin is seeing.  The shifted launch screen only lasts for a  second at most.

[2022-03-15 22:24] PhotoNomad0 commented on #7230
@elsylambert Here is another plain vanilla electron build to test with Windows 11:

- a build with latest electron 14.2.6 - https://github.com/unfoldingWord/translationCore/actions/runs/1989272861

[2022-03-16 11:34] PhotoNomad0 commented on #7230
@elsylambert - I did once see the launch screen shifted over and I couldn't click on it.  That is once in about 30 attempts.  Will make it hard to determine if a newer electron version will fix it.  I tried 50 more attempts rapid fire, but didn't see the problem again.

[2022-03-16 11:58] PhotoNomad0 commented on #7230
@elsylambert - I just discovered that I can reproduce the problem consistently when I have one instance of tCore open and then open a second instance.

[2022-03-16 12:29] elsylambert commented on #7230
![image](https://user-images.githubusercontent.com/51806180/158589780-328fd620-3fe2-4e66-8734-c9350e5dd224.png)

translationCore 3.2.0-e14 (1805292). @PhotoNomad0  I am not seeing the UI issues while startup, even when I open the second instance. Just seeing the version number missing on the above screen which stays for few seconds before the startup screen with version number and the "Get Started

[2022-03-16 12:42] PhotoNomad0 commented on #7230
@elsylambert Thanks for checking that - I have just been noticing that also with Electron 14 and greater.  Will take a look at how to fix that.  But glad it does seem to fix the UI problem for me also.

[2022-03-16 12:44] elsylambert commented on #7166
Works as expected in Version 3.2.0 (1aea3cc) . Git is updated to  git version 2.35.1.windows.2.

[2022-03-16 16:08] elsylambert commented on #7251
Looks good in translationCore 3.2.0 (1aea3cc). tW download also downloaded tWLs as expected.

[2022-03-16 16:31] elsylambert commented on #7194
Looks good in Windows as well in Version 3.2.0 (1aea3cc)

[2022-03-16 16:34] elsylambert commented on #7222
Works as expected in windows 11 in translationCore 3.2.0 (1aea3cc).

[2022-03-16 16:37] elsylambert commented on #7195
Looks good in translationCore 3.2.0 (1aea3cc) in windows 11.

[2022-03-16 19:44] elsylambert commented on #7262
translationCore 3.2.0 (1aea3cc). I downloaded ru_gl resources and have translation helps files for some books. The tools card drop down shows ru_gl for those books for tW but for tN the tools card is not loading the categories check boxes. ![ru_gl tn tool card](https://user-images.githubusercontent.com/51806180/158676866-04bc0813-7f86-4a4f-a75a-7f2c700db09c.png)
Here is the log file:
[Wed Mar 16 2

[2022-03-16 20:17] PhotoNomad0 commented on #7262
@elsylambert Fix is in tCore Branch [develop] build [df57834]

[2022-03-16 21:30] PhotoNomad0 commented on #7230
@elsylambert FYI - it looks like Electron 13 had the UI shifted problem sometimes also.

[2022-03-17 13:12] PhotoNomad0 commented on #7247
@elsylambert This is in Branch [develop] build [bc52f1f]

[2022-03-17 14:19] PhotoNomad0 opened #7270 "Need to show org for Bible in scripture pane"
## Story Explanation
### User Story
Russ requested to show org for Bible in scripture pane.
Add org to tool tip for scripture in scripture pane.

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-03-17 20:59] PhotoNomad0 commented on #7246
@elsylambert Have another fix in Branch [develop] build [b269b60].  Supports scrolling when error list is long.

[2022-03-19 01:16] PhotoNomad0 commented on #7230
@elsylambert Have builds:
- Electron 16: https://github.com/unfoldingWord/translationCore/actions/runs/2003758522
- Electron 17: https://github.com/unfoldingWord/translationCore/actions/runs/2006746469

Electron 17 would be ideal (if it works) since it is the latest electron version.

[2022-03-21 16:45] PhotoNomad0 commented on #7203
@da1nerd Seeing this error when I run your windows script `electronite-tools.bat get v12.0.5-graphite-graphite`
[code]

It seems the branch `v12.0.5-graphite-graphite` is related to the last release.
Is there a manual command I need to run here?

I tried pointing the script to plain vanilla electron, and was able to get sources, build, and release.  So it seems I have the configuration set up righ

[2022-03-21 22:07] PhotoNomad0 opened #7274 "Make use of original language resources from unfoldingWord org"
Suggested by @richmahn that we should remove dependency on Door43-Catalog for original languages in the case when we are using resources from other orgs.  He suggested that all orgs other than Door43-Catalog should use the original languages in unfoldingWord org.  This would protect in future when we stop depending on the catalog.

Maybe future task would be to allow all orgs to have original lang

[2022-03-22 10:05] PhotoNomad0 commented on #7274
Note:
- in source content updater method getCatalog - need to remove filter
- in tC need to change logic, so all orgs other than d43-catalog use unfoldingWord.

[2022-03-23 18:19] da1nerd commented on #7203
I'm not exactly sure what is causing that error. It's possible you may need to delete your cached files, including the git cache.

[2022-03-29 13:38] elsylambert commented on #7250
@PhotoNomad0 How do I test it? Do you  know a Resource with missing .md files?

I am able to download Kn Resources without any fails. Does this suffice?

[2022-03-29 22:04] PhotoNomad0 commented on #7250
Sorry, no idea how to test - they seem to have fixed the resources.  Maybe you could publish something in one of your test repos?

[2022-03-29 22:42] PhotoNomad0 commented on #7203
@da1nerd Thanks - tried building on a clean machine.  It fetched the sources and is building now!

[2022-03-30 20:35] PhotoNomad0 commented on #7274
@elsylambert The feature is in Branch develop build 3ff972e.

[2022-04-01 10:40] PhotoNomad0 commented on #7203
@da1nerd @birchamp - baby steps here.  I have electronite builds working for macOS and LInux now.  And even have built electronite on the latest v12.2.3 and running:

<img width="962" alt="Screen Shot 2022-04-01 at 6 29 33 AM" src="https://user-images.githubusercontent.com/14238574/161247060-215bcb99-8d90-47b0-a211-1b342abd0ac2.png">

**Next Steps**
1. Get Electronite windows builds working - cann

[2022-04-01 10:43] PhotoNomad0 commented on #7203
@da1nerd I am very impressed with your work and your notes.  You accomplished so much on a complex issue.  I am slowly getting my head wrapped around the process of reproducing your work.

[2022-04-01 11:13] PhotoNomad0 commented on #7203
Here is the test of Graphite support:
<img width="1109" alt="Screen Shot 2022-04-01 at 7 11 48 AM" src="https://user-images.githubusercontent.com/14238574/161252715-4b2281a6-b6af-4bfd-9204-97724c736f56.png">

[2022-04-01 15:43] da1nerd commented on #7203
I'm glad it helped! Sorry I'm not available work on this, I've been swamped with work, but it's good to have someone else familiar with the process.

[2022-04-03 12:19] birchamp opened #7278 "SPIKE: Can tC handle notes without RC links in the note?"
If a note doesn't have a RC link within the note, what does tC do?   How challenging is it to make it handle either case (with or without link)?

[2022-04-05 13:26] elsylambert opened #7279 "Critical Error thrown when scripture pane was expanded"
translationCore 3.2.0 (3ff972e). Windows 11.
- Updated the ru_gl content.

- Opened the project [en_test_3jn_book.zip](https://github.com/unfoldingWord/translationCore/files/8418526/en_test_3jn_book.zip) . Seeing ru_gl in the GL list for tN and tW.
- Selected the ru_gl and launch the tN. It shows the warning that the"Opening a project in translationNotes could invalidate some work previously compl

[2022-04-05 13:42] elsylambert commented on #7262
Looks good in translationCore 3.2.0 (3ff972e). Able to see ru_gl on the toold card for the aligned books, 3jn and titus.

[2022-04-05 13:47] elsylambert commented on #7250
Looks good in translationCore 3.2.0 (3ff972e).
![image](https://user-images.githubusercontent.com/51806180/161768252-6726c67e-1646-45f9-a77e-a943486493bb.png)

[2022-04-05 13:51] elsylambert commented on #7246
Works as expected in translationCore 3.2.0 (3ff972e) .

[2022-04-05 14:42] PhotoNomad0 commented on #7279
@elsylambert  Were you able to reproduce this on Mac?

[2022-04-05 17:36] elsylambert commented on #7279
@PhotoNomad0 Yes, I am able to reproduce this on Mac with the same 3jn project.
- I downloaded ru_gl Resources and opened the project.
-  Opened tN with en first, then opened with ru_gl,
- got the warning message>click on Continue.
- I clicked on expand scripture pane button, it opened fine.
- Close the expanded scripture pane.
- Then I added/loaded ru_gl bible in the scripture pane and expanded t

[2022-04-05 17:43] elsylambert opened #7280 "GL list on tools card is disabled after the upgrade to 3.2.0"
I am still seeing the problem that when I upgrade to a newer build from a previous 3.2.0 build, the GL list does not show any data and disabled.
![Screen Shot 2022-04-05 at 1.21.48 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/e519fa64-1e4f-4d81-8b21-ae12f85f6bcc)

Some older resources shows the date of March 9 and other show todays date when the upgrade was done.
![Screen

[2022-04-05 17:45] elsylambert commented on #7247
This works as expected in translationCore 3.2.0 (3ff972e).

[2022-04-05 17:51] elsylambert commented on #7274
translationCore 3.2.0 (3ff972e). Seeing unfoldingword as org for Original languages Greek and hr.
<img width="584" alt="Screen Shot 2022-04-05 at 1 48 06 PM" src="https://user-images.githubusercontent.com/51806180/161818895-2d886bd4-03c1-45fb-936e-6d57e83ef5e0.png">

[2022-04-05 18:07] elsylambert opened #7281 "Invalidations on Checks do not show broken chain on the invalidated checks"
- Open the project:
- Note that the wA tool card shows 99% progress.
- Open wA tool, it shows the warning that there are some invalidations on some checks.
![Screen Shot 2022-04-05 at 1.57.16 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/1fe94b6b-24ad-4c59-ba7f-1c0691bc88d0)
But there is not broken chain beside the invalidated verses. Additionally see that the word bank has

[2022-04-05 18:21] elsylambert commented on #7279
@PhotoNomad0 Could it be the org support on scripture pane causing the error? I got the error in wordAlignment also when I expanded the scripture pane. I had added ru_rob bible in the scripture pane. I am consistently able to reproduce the error.

[2022-04-05 18:35] elsylambert commented on #7280
[Tue Apr 05 2022.log.zip](https://github.com/unfoldingWord/translationCore/files/8420948/Tue.Apr.05.2022.log.zip)

[2022-04-06 14:52] PhotoNomad0 commented on #7279
@elsylambert - I was able to reproduce the problem, so I know where I need to look.

[2022-04-06 15:48] PhotoNomad0 commented on #7279
@elsylambert  Your theory was correct - it was not using the org, but always using door43 catalog.  Good sleuthing!

[2022-04-06 23:18] PhotoNomad0 commented on #7279
@elsylambert This is now working in the latest develop build `dafe703`

[2022-04-08 13:08] PhotoNomad0 commented on #7203
@da1nerd  Made progress on building for Windows - was able to get all the sources checked out  and  patches applied (the previous road block).

Finished the  first part, created a pre-release of Electronite v17.3.1 here: https://github.com/unfoldingWord/electronite/releases.  Updated build notes.

Next to be done is update the CLI, publish it on nodejs and then can start testing in tCore.

[2022-04-12 13:33] birchamp opened #7286 "Space before *paseq* U+05C0 isn't showing in Hebrew scripture pane."
Issue
----
In the UHB (for example EXO 7:19) the sequence is: final mem (U+05DD); regular space (U+0020); paseq (i.e. vertical line, U+05C0), but tC it omits the U+0020 when it displays the text.

DoD:
---
When a space occurs in the raw USFM before the paseq U+5C0 the space will be displayed and copiable into the clipboard.

Details
---
[Video demonstrating the problem](https://unfoldingword-org.z

[2022-04-12 15:54] elsylambert opened #7287 "Critical Error when selecting GL for tN"
translationCore 3.2.0-e17 (41854a0) . Win 11.
- Opened Project: [en_ulb_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/8474597/en_ulb_tit_book.zip)
- Go to TN Tools card:
 Note that no GL is selected.
- Select Hindi(hi) as GL and tC shows the error.

![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/90e01204-be81-405a-af04-91e396ca2325)

- Go to proje

[2022-04-12 19:36] elsylambert commented on #7230
translationCore 3.2.0-e17 (41854a0) Looks good in Win 11 and Mac. Not seeing UI issues.

[2022-04-14 15:02] PhotoNomad0 commented on #7203
@elsylambert - the new electronite is in develop branch starting with build [6cfe461]

Should see the updated version in the debug console:

![Screen Shot 2022-04-14 at 10 57 37 AM](https://user-images.githubusercontent.com/14238574/163417725-f2e56837-891c-4776-90c1-4a86e62daac6.png)

[2022-04-14 15:04] PhotoNomad0 commented on #7230
@elsylambert - the new electronite is in develop branch starting with build [6cfe461]

Should see the updated version in the debug console:

![Screen Shot 2022-04-14 at 10 57 37 AM](https://user-images.githubusercontent.com/14238574/163417725-f2e56837-891c-4776-90c1-4a86e62daac6.png)

[2022-04-14 15:20] PhotoNomad0 commented on #7287
@elsylambert - This should be fixed in develop branch starting with build [6cfe461]

[2022-04-14 18:22] elsylambert commented on #7203
Looks good in translationCore 3.2.0 (6cfe461) on Mac.
<img width="1411" alt="Screen Shot 2022-04-14 at 2 22 01 PM" src="https://user-images.githubusercontent.com/51806180/163453084-1ba0a391-bcc1-4f2a-86d3-4e0744e11305.png">

[2022-04-14 18:32] elsylambert commented on #7279
Not seeing the issue in translationCore 3.2.0 (6cfe461) on Mac.

[2022-04-18 16:55] birchamp opened #7291 "TN Col 1:28 under "When Masculine words include women" produces an error"
I can reproduce this in tC.
The discussion on this issue is taking place [here](https://unfoldingword.zulipchat.com/#narrow/stream/309205-Helpdesk---ST/topic/Colossians.201.3A28.20tC.20Alert.20GroupId.3A.20.E2.80.9Cfigs-gendernotations.E2.80.9D/near/279188631).
The helpdesk post is [here](https://forum.door43.org/t/tc-content-and-resources-feedback/1423).

[code]
Running a validation on the Englis

[2022-04-18 18:52] birchamp opened #7292 "Error in PHP 3:2 for "Forms or You- Singular""
I can reproduce this error by checking TNs in Phil 3:2 under the check "Forms of You - Singular.
Ongoing discussion is [here](https://unfoldingword.zulipchat.com/#narrow/stream/309205-Helpdesk---ST/topic/Philippians.203.3A2.20tC.20Alert.20GroupId.3A.20.22figs-yousingular.22/near/279008461).
[code]
Validation doesn't find anything wrong with the content.

[2022-04-19 13:10] elsylambert opened #7293 "Blank tW screen with Kn Resources"
Project: https://git.door43.org/ElsyLambert/kn_glt_luk_book
Log file: [https://app.zenhub.com/files/65028237/4dc45bd0-8f9f-48b6-aab8-6553b2038276/download](https://app.zenhub.com/files/65028237/4dc45bd0-8f9f-48b6-aab8-6553b2038276/download)

Steps: Open TC and update Kn resources.
- Open the Above project.
- Open TW, it opens a blank screen as shown below:
![image.png](https://images.zenhubusercon

[2022-04-19 13:14] elsylambert commented on #7293
PR : #7290

[2022-04-22 13:02] birchamp opened #7294 "Handle " & " for discontiguous original language highlights"
According to [the new spec](https://forum.door43.org/t/parascriptural-tab-separated-value-format-specification-v2/870) ellipsis is changed from ... to " & " and this breaks the highlighting in the scripture pane. Both of them should work at least for now.

DoD:
---
" & " in the original quote should highlight the discontinuous words

Details:
---
Any use of the " & " or the ellipsis in the origina

[2022-05-02 14:08] elsylambert commented on #7293
Looks good in translationCore 3.2.0 (5d518ca). tW opens file with Kn resources.

[2022-05-02 14:13] elsylambert commented on #7287
Not seeing this problem in translationCore 3.2.0 (5d518ca).

[2022-05-02 14:17] elsylambert commented on #7230
Not seeing UI issues in Win 11 in translationCore 3.2.0 (5d518ca). Startup screen looks good. Seeing the Electronit 17.3.1 version in the console.

![image](https://user-images.githubusercontent.com/51806180/166249306-b15fe78d-8cd3-48fa-b9ee-9c601e0ecc69.png)

[2022-05-02 14:41] elsylambert opened #7295 "Problems in seeing ru_gl(org support) as Selections in wA Tools card."
translationCore 3.2.0 (5d518ca).
ru Helps Resources are not available to download in Content Update. Not seeing ru in the list. Local Resources folder shows ru Bibles available but not Translation Helps.
In Mac:
- Able to see ru_gl in the GL Selection list on the wA card, but when selected and opened it gives a blank alignment area.
![Screen Shot 2022-05-02 at 10.31.59 AM.png](https://images.zenhu

[2022-05-02 15:12] elsylambert commented on #7279
Not seeing this issue in translationCore 3.2.0 (5d518ca)

[2022-05-02 21:56] richmahn commented on #7295
From the console log I can right away see that the query of the Door43-Catalog entries and all entries is being limited to 100. As it is sorted by repo_name, this means Russia is past the 100 mark, as there are currently 194 repos that match this query. I bit the bullet and simply made a release for everything in Door43-Catalog with the version # in its manifest file and plan to do this for all re

[2022-05-02 22:10] richmahn commented on #7295
https://git.door43.org/api/catalog/v5/search?subject=Bible%2CAligned%20Bible%2CGreek%20New%20Testament%2CHebrew%20Old%20Testament%2CTranslation%20Words%2CTSV%20Translation%20Words%20Links%2CTSV%20Translation%20Notes%2CTranslation%20Academy&sort=reponame

Should be all you need now. No limit. No Door43-Catalog UNLESS you feel the need for repos we currently massage (add/remove data, or convert form

[2022-05-04 04:08] elsylambert commented on #7295
translationCore 3.2.0 (e319381) .
Issues Resolved : Seeing all the language resources available for download in the Content Update List. Works fine.

Still having problems in Mac:
- I downloaded ru_gl Translation helps resources(tA, tW and tN).
- Re-opened 3JN/Titus project to see ru_gl, but the GL list does not show ru_gl in Mac. But this works fine in Windows.
Mac screenshot:

<img width="803" a

[2022-05-04 04:14] elsylambert commented on #7295
Mac Log file:
[Tue May 03 2022.log.zip](https://github.com/unfoldingWord/translationCore/files/8617842/Tue.May.03.2022.log.zip)
 Windows log file:
[Tue May 03 2022.zip](https://github.com/unfoldingWord/translationCore/files/8617856/Tue.May.03.2022.zip)

[2022-05-04 23:13] PhotoNomad0 commented on #7295
@elsylambert - Looking at the windows log, it looks like for windows you have the rlob loaded from ru_gl which has alignments for tit and 3jn:
`getValidGatewayBibles() - For owner ru_gl, rlob, ru, tit - is VALID aligned bible for translationNotes`
and
`getValidGatewayBibles() - For owner ru_gl, rlob, ru, 3jn - is VALID aligned bible for translationNotes`

On mac, starting with fresh resources, whe

[2022-05-04 23:16] PhotoNomad0 commented on #7295
@elsylambert - I can also reproduce this problem on Mac, will take a closer look tomorrow.

[2022-05-05 13:40] elsylambert commented on #7295
@PhotoNomad0 On Mac: I dowmloaded rlob from ru_gl and I can see ru_gl as Valid GW language but hindi-d43-catalog(hi) and kn-door43-catalog resources do not show up.
<img width="803" alt="Screen Shot 2022-05-05 at 9 36 08 AM" src="https://user-images.githubusercontent.com/51806180/166934891-834f5abf-fd2e-4796-9376-552630e50fd7.png">

- Opened tC(Saw En and Hi as GL), Missing Kn on first startup.
-

[2022-05-05 13:45] elsylambert commented on #7295
@PhotoNomad0 Just found that as soon as I download a resource from the Content update, it removes a resource form the GL list. After I downloaded another ru resource, I lost ru-door43 resource from the GL List.
<img width="803" alt="Screen Shot 2022-05-05 at 9 45 20 AM" src="https://user-images.githubusercontent.com/51806180/166936731-0f30171f-7ebd-40a0-b2f9-3d413d098b00.png">
Latest LOG:[Thu May

[2022-05-05 18:50] PhotoNomad0 commented on #7295
@elsylambert fixes for blank tw screen are in dev build [79e06fb]

[2022-05-05 19:12] elsylambert opened #7300 "GL Resources List on Tools card not showing the available GL"
@PhotoNomad0 found that as soon as I download a resource from the Content update, it removes a resource form the GL list. After I downloaded another ru resource, I lost ru-door43 resource from the GL List.
<img width="803" alt="Screen Shot 2022-05-05 at 9 45 20 AM" src="https://user-images.githubusercontent.com/51806180/166936731-0f30171f-7ebd-40a0-b2f9-3d413d098b00.png">
Latest LOG:[Thu May 05 20

[2022-05-05 19:14] elsylambert commented on #7295
Separated the above issues(missing Resources) to #7300.

[2022-05-09 14:05] birchamp opened #7301 "Release 3.3"
Release Steps Sign Off

### Features / Specifications

### Definition of Done

- [x] QA signs off on specific build in regression testing: current for `3.3.0`, build number: `cc24e4a`
- [x] Update changelog
- [x] Update Release Notes - add release notes here: https://github.com/unfoldingWord/translationCore/releases
- [x] Update language database in tCore (Note: this is probably not necessary for

[2022-05-09 14:05] birchamp opened #7302 "Release 3.2"
Release Steps Sign Off

### Features / Specifications

### Definition of Done

- [X] QA signs off on specific build in regression testing: current for `v3.2.0`, build number: `a1634b3`
- [x] Update changelog
- [x] Update Release Notes - add release notes here: https://github.com/unfoldingWord/translationCore/releases
- [ ] ~Update language database in tCore (Note: this is probably not necessary fo

[2022-05-09 14:20] birchamp commented on #7188
What does the UI do for 2:3-5 vs. 2:3,5 @birchamp @PhotoNomad0

[2022-05-09 15:12] PhotoNomad0 commented on #7292
@birchamp

Looked at the repo (https://git.door43.org/Door43-Catalog/en_tn/src/branch/master/en_tn_51-PHP.tsv).  It looks like this check and another have -1 for occurrence notes.  It is a data error in the repo.

257 | PHP | 3 | 2 | ttws | figs-yousingular | βλέπετε | _**-1**_ |   | All three times that the phrase Beware occurs in this verse, it is a command or instruction given to all of the Phi

[2022-05-09 15:20] PhotoNomad0 commented on #7291
@birchamp Looked at the repo (https://git.door43.org/Door43-Catalog/en_tn/src/branch/master/en_tn_52-COL.tsv), and there are two items with -1 for occurrence:

152 | COL | 1 | 28 | lyz1 | figs-explicit | πάντα ἄνθρωπον | **_-1_** | so that we may present every man | Here, every man refers to every person whom Paul has told about Jesus. If every man would be misunderstood in your language, you can

[2022-05-09 17:00] PhotoNomad0 commented on #7291
Notes:
Fixes required:
- tc-ui-toolkit
  - highlightHelpers.getOccurrenceOfWord()
  - checkAreaHelpers.getQuoteAsArray()

Current work is in branch `feature-mcleanb-7291`

[2022-05-09 17:47] PhotoNomad0 commented on #7291
@birchamp How does this look?
![Screen Shot 2022-05-09 at 1 45 34 PM](https://user-images.githubusercontent.com/14238574/167467515-98776ad0-0790-42a1-be07-3b6c2652d043.png)

[2022-05-09 18:24] birchamp opened #7303 "SPIKE: What does tC do with multiple discontiguous snippets (...)"
What happens in tC when "εἴ τις…εἴ τι…εἴ τις…εἴ τις" is the snippet in Phil 2:1?

See: ID "b1q7" in https://git.door43.org/unfoldingWord/en_tn/src/branch/master/en_tn_51-PHP.tsv

More info:
https://github.com/unfoldingWord/tc-create-app/issues/1183
ROM 5:12 as well https://unfoldingword.zulipchat.com/#narrow/stream/214041-CONTENT---UR/topic/Romans.20BP/near/281708673

[2022-05-09 19:02] PhotoNomad0 commented on #7303
@birchamp That example does not currently have multiple ellipsis, but only one.  Maybe this is a data problem, or the tool they are using to make the selection?

PHP | 2 | 1 | b1q7 | figs-explicit | **_εἴ τις…παράκλησις ἐν Χριστῷ, εἴ τι παραμύθιον ἀγάπης, εἴ τις κοινωνία Πνεύματος, εἴ τις σπλάγχνα καὶ οἰκτιρμοί_** | 1 | If there is any encouragement in Christ | The phrase if there is any, which oc

[2022-05-09 19:18] birchamp commented on #7303
@PhotoNomad0 Yes, Larry had to change it so it would highlight in tC Create.  We're just trying to discover what would happen in tC if he hadn't changed it.  We want tC Create to reflect what tC will do.

[2022-05-09 20:56] PhotoNomad0 commented on #7303
Created a unit test in tsv-groupdata-parser, which is used by the tC source code downloader.  Looks like it fills everything in giving the final quote string as `εἴ τις οὖν παράκλησις ἐν Χριστῷ, εἴ τι εἴ τις ὖν παράκλησις ἐν Χριστῷ, εἴ τι παραμύθιον ἀγάπης, εἴ τις κοινωνία Πνεύματος, εἴ τις`  which is what tC will highlight.  It looks like it works as it should.

[2022-05-10 14:09] birchamp commented on #7303
@PhotoNomad0  So the ... ellipsis is actually for highlighting discontiguous words but not the whole phrase. In the [forum post on the old TSV9 format](https://forum.door43.org/t/translationnotes-tsv-format/57), it says: "A Unicode ellipsis character (…) indicates that the quote is discontinuous; software should interpret this in a non-greedy manner"

[2022-05-10 14:16] birchamp commented on #7303
I'm curious how it works with just 1 ellipsis. Does it just highlight each of the words and not what's in between. We don't have a definition for multiple ellipses as far as I can tell.  @PhotoNomad0

[2022-05-10 17:20] PhotoNomad0 commented on #7291
@elsylambert fix is in translationCore 3.2.0 (12353d0)

Testing the Col 1:28, you should see:
![Screen Shot 2022-05-10 at 1 17 09 PM](https://user-images.githubusercontent.com/14238574/167686106-5f87d581-a895-46f0-a821-34c49467fb53.png)

[2022-05-10 17:21] PhotoNomad0 commented on #7292
@elsylambert fix is in translationCore 3.2.0 (12353d0)

[2022-05-10 17:24] PhotoNomad0 commented on #7292
Should see:

![Screen Shot 2022-05-09 at 1 45 34 PM](https://user-images.githubusercontent.com/14238574/167467515-98776ad0-0790-42a1-be07-3b6c2652d043.png)

[2022-05-10 18:18] elsylambert commented on #7300
Retested in translationCore 3.2.0 (79e06fb) with clean start(deleted resources folder) and not seeing this problem.

[2022-05-10 18:20] elsylambert commented on #7295
translationCore 3.2.0 (79e06fb). Not seeing this issue. works fine.

[2022-05-10 18:49] elsylambert commented on #7291
@PhotoNomad0 I am not able to see the category "When Masculine words include woman". I downloaded en resources with latest tN. What am I missing?

[2022-05-10 19:10] elsylambert commented on #7291
Looks good in translationCore 3.2.0 (12353d0).

[2022-05-10 19:15] elsylambert commented on #7300
[Tue May 10 2022.log.zip](https://github.com/unfoldingWord/translationCore/files/8664368/Tue.May.10.2022.log.zip)
Happening again in translationCore 3.2.0 (12353d0) after the upgrade.
-Installed translationCore 3.2.0 (12353d0).
- Opened project with en Resources.
- Downloaded the latest en Resources.
- Now not seeing en in the GL list in tools card.

[2022-05-11 10:16] PhotoNomad0 commented on #7300
@elsylambert This should be fixed in Branch develop build 15b6efa

[2022-05-11 18:00] PhotoNomad0 commented on #6735
Note:

found out from jaap jan that we have the developer account.  Inquiring how to get the certificate.

Here is an article about code signing electron apps: https://www.electronjs.org/docs/latest/tutorial/code-signing

[2022-05-11 18:08] PhotoNomad0 commented on #7286
Note:
- example is from Exodus 7:19, in uhb line 2439: https://git.door43.org/Door43-Catalog/hbo_uhb/src/branch/master/02-EXO.usfm#L2439
- it looks like the space is lost or mixed up when USFM is parsed by usfmjs on resource download.  The text block comes out as "׀ ".  There is no space before it.
- So it is a usfmjs issue.

[2022-05-11 18:57] elsylambert commented on #7292
Looks good in translationCore 3.2.0 (15b6efa).

[2022-05-11 18:57] elsylambert commented on #7300
This issue is resolved in translationCore 3.2.0 (15b6efa) for Mac OS.

[2022-05-13 11:53] PhotoNomad0 commented on #7303
Multiple ellipsis (﻿﻿hacking the note in Phil 2:1 to be  `εἴ τις…εἴ τις…εἴ τις`):
<img width="1273" alt="Screen Shot 2022-05-12 at 4 42 50 PM copy" src="https://user-images.githubusercontent.com/14238574/168277688-c0acd637-4aa9-4f3f-bfd4-97127244f1bc.png">

Single Ellipsis:
![Screen Shot 2022-05-12 at 11 23 09 AM copy](https://user-images.githubusercontent.com/14238574/168277736-3fc97328-d7db-408a

[2022-05-16 15:07] elsylambert opened #7307 "Export to CSV failing with a crash"
translationCore 3.2.0 (15b6efa)
![image](https://user-images.githubusercontent.com/51806180/168624513-934aed3f-466c-4b8f-a819-228ed5756226.png)

[2022-05-16 17:45] PhotoNomad0 commented on #7307
@elsylambert - should be fixed in develop build [cf1e99

[2022-05-17 13:29] elsylambert commented on #7307
Not seeing this problem in translationCore 3.2.0 (fcf1e99). Export to CSV works as expected.

[2022-05-17 18:38] PhotoNomad0 commented on #7286
@birchamp have a fix for this in usfm-js.

[2022-05-17 19:11] PhotoNomad0 commented on #7286
Note: before publish, Will need to regenerate bible content to pick up the fix.

[2022-05-17 19:12] PhotoNomad0 commented on #7286
New layout:
![Screen Shot 2022-05-17 at 3 01 58 PM](https://user-images.githubusercontent.com/14238574/168891899-e94c320f-d428-4be2-8163-27904afbc1e9.png)

[2022-05-17 19:13] PhotoNomad0 commented on #7286
When I copy from the scripture pane I now get `עַֽל־ נַהֲרֹתָ֣⁠ם ׀ עַל־`

[2022-05-17 20:09] joeldruark commented on #7286
Yes, this looks right.  This problem exists in tC Create as well, just FYI

[2022-05-18 20:07] elsylambert opened #7311 "Failing to send feedback."
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/5ccb0c10-cee1-43b1-a827-e01d50f1cdba)

[2022-05-18 21:12] PhotoNomad0 commented on #7311
@elsylambert fix is in develop branch [a1634b3]

[2022-05-19 03:04] elsylambert commented on #7311
Works fine in translationCore 3.2.0 (a1634b3).

[2022-05-19 20:15] PhotoNomad0 commented on #7302
@birchamp - Started release: https://github.com/unfoldingWord/translationCore/releases/edit/untagged-3887c9a6f26cafce49e0

[2022-05-23 13:31] PhotoNomad0 commented on #7286
@birchamp - would you create PRs for GWE and TCC to update the version of usfm-js?  It looks like the core of the fix is in scripture-resources-rcl which is still using a very old version of usfm-js.  After updating the scripture-resources-rcl , we can update the version of scripture-resources-rcl used in GWE and TCC.

[2022-05-27 17:48] birchamp commented on #7188
After talking to the content team they have said that they want the verses in the reference range to be displayed, both in the scripture pane and the checking window.

[2022-05-27 17:50] birchamp commented on #7270
@PhotoNomad0 what's the easiest way to implement this?

[2022-05-27 21:58] PhotoNomad0 commented on #7270
How about adding this detail to hover text?

Sent from my iPhone

[2022-05-31 11:25] PhotoNomad0 commented on #7270
@birchamp ^^^

[2022-05-31 12:49] PhotoNomad0 commented on #7278
I found several en_tn checks missing the RC in v60_Door43-Catalog. Note that these are already imported in tCore:

  console.log src/__tests__/rcChecks.test.js:33
    missing RC /Users/blm/translationCore/resources/en/translationHelps/translationNotes/v60_Door43-Catalog/culture/groups/jhn/figs-explicit.json {"bookId":"jhn","chapter":17,"verse":10} q0tm in note: This could mean: (1) **all things**

[2022-05-31 13:00] PhotoNomad0 commented on #7278
@birchamp It looks like it is handled fine without RC. The link is not displayed in smurf bar, but probably not necessary since the note is displayed on the right:
<img width="1396" alt="Screen Shot 2022-05-31 at 8 58 27 AM" src="https://user-images.githubusercontent.com/14238574/171179318-df8ccef0-2d43-4002-87d8-3fddd06f9f3f.png">

[2022-05-31 13:34] PhotoNomad0 commented on #7302
Released

[2022-05-31 13:34] #7302 closed, assigned to PhotoNomad0

[2022-05-31 13:52] #7193 closed, assigned to nobody

[2022-05-31 14:00] PhotoNomad0 commented on #7286
@elsylambert  Fixed in translationCore 3.2.0 (b8de885) - in Exodus 7:19, the uhb should render as screenshot above.

[2022-05-31 14:02] PhotoNomad0 commented on #6735
Note:
- the setup for this is much more complex than just applying a cert to tCore.  Making this a spike.

[2022-05-31 14:58] PhotoNomad0 commented on #7188
**Notes:**
Tasks:
- tc-sourcecontent-updater - convert 7 col TSVs to the tsvObject format:
  - parse Reference field into chapter/verse
    - break down references into chunks using `;` as delimiter
      - [x] for each chunk , remove chapter and break down into verseChunks by `,`
      - [x] for each verse chunk, get numeric value for string as verse, if em-dash or dash——-‑
      - [x] save a tsv

[2022-06-02 13:31] elsylambert commented on #7286
translationCore 3.2.0 (b8de885).
-Online Imported Exodus project and opened wA.
-The Hebrew text in the scripture pane looks as in the screenshot below, without the space after paseq.
<img width="983" alt="Screen Shot 2022-06-02 at 9 27 10 AM" src="https://user-images.githubusercontent.com/51806180/171640637-80a6794b-1c30-4836-82b5-793a74e2f251.png">

Am I missing a step here? @PhotoNomad0

[2022-06-03 10:04] PhotoNomad0 commented on #7286
@elsylambert - very mysterious.  It is working well for me.  Which GL organization are you using? And which version of the UHB?  I have selected D43 English and have this uhb: ~/translationCore/resources/hbo/bibles/uhb/v2.1.24_Door43-Catalog

[2022-06-03 10:08] PhotoNomad0 commented on #7286
@elsylambert - I also have ~/translationCore/resources/hbo/bibles/uhb/v2.1.24_unfoldingWord, which would be used for any other org.  I tested with ru/ru_gl and it is also working.

[2022-06-03 10:27] PhotoNomad0 commented on #7286
@elsylambert - OK I solved the mystery. when I installed on a clean PC, I see the same as you do.  The uhb bundled with tCore was processed with the older tCore version and does not have the space.  On my dev machine, I had processed the uhb with the updated tCore.  I'll create a new build with reprocessed bibles. Since all the bundled bibles were processed with the older USFM-js that had the spac

[2022-06-03 10:55] PhotoNomad0 opened #7316 "tN has bug that changing orgs does not trigger changing checks if language stays the same."
## Story Explanation
### User Story

tN has bug that changing orgs does not trigger changing checks if language stays the same. This is in 3.2.0.

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-06-03 15:06] PhotoNomad0 commented on #7286
@elsylambert - will need to delete the previous uhb before installing the new build (~/translationCore/resources/hbo/bibles/uhb).  Fixed in translationCore 3.2.0 (82ee207)

[2022-06-04 11:56] PhotoNomad0 opened #7319 "On tC startup remove bibles processed with different usfm-js version update with bundled bibles"
## Story Explanation
### User Story

We have made a fix to USFM-js to preserve space before punctuation.  This impacts the UHB and maybe other languages.  Since the UHB is not changing that frequently, we run the risk that the user already has downloaded the latest UHB with tC 3.2.0, and then when they upgrade to 3.2.1 (for example), it will not replace the installed UHB with the bundled version b

[2022-06-04 11:59] PhotoNomad0 commented on #7316
@elsylambert @birchamp  This bug will be fixed in the 7 column TSV upgrade (need to fix this in order to do testing), but creating this issue to make sure that it is tracked.

[2022-06-04 12:19] PhotoNomad0 commented on #7270
We currently have hover text for language type (not super helpful).  We could to something similar for the language text field and add the org.

<img width="277" alt="Screen Shot 2022-06-04 at 8 16 14 AM" src="https://user-images.githubusercontent.com/14238574/171998564-4069cfa6-6abd-452f-8309-f6fb71d2d548.png">

Maybe put in the full description for bible such as shown here:

<img width="716" alt

[2022-06-04 13:12] birchamp commented on #7270
Can we just replace the existing hover text?

On Sat, Jun 4, 2022, 2:19 PM Bruce McLean ***@***.***> wrote:

[2022-06-04 15:33] birchamp commented on #7316
Thanks for catching this Bruce. I don't think it will be a common user
issue, but it should definitely be fixed.

On Sat, Jun 4, 2022, 12:59 PM Bruce McLean ***@***.***> wrote:

[2022-06-06 11:13] PhotoNomad0 opened #7320 "Need to address growing install sizes of tCore - we are approaching 1/2 GB"
## Story Explanation
### User Story

Need to address growing install sizes of tCore.  We bundle all the aligned Bibles now in the d43 catalog (as well as Greek & English for unfoldingWord). Each release there are more Bibles and the existing Bibles get larger:
- Version 3.2.0 is about 400MB
- version 3.1.0 had 300MB
- version 3.0.1 had 200MB installs

This makes it take more time for downloads on

[2022-06-06 14:47] birchamp commented on #7319
What if we track USFM.js in the manifest and only download/re-process if USFM.js has changed?

[2022-06-06 14:48] birchamp commented on #7316
As stated above this is needed for TSV7

[2022-06-06 14:50] birchamp commented on #7303
@birchamp make issues in tCC and gE for fixing multiple ellipsis logic.

[2022-06-06 14:54] birchamp commented on #7278
@birchamp create issue for validator to remove requirement.

[2022-06-06 16:51] PhotoNomad0 opened #7322 "In tn and tw, add support for displaying verse ranges in format `2:1,4`"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-06-07 12:44] elsylambert commented on #7286
Looks good in translationCore 3.2.0 (82ee207). Space before paseq is showing correctly in the latest tC build. It worked after deleting old uhb from the resource folder.
<img width="524" alt="Screen Shot 2022-06-07 at 8 40 22 AM" src="https://user-images.githubusercontent.com/51806180/172381921-87ef12aa-79cd-44bd-9f00-acbbb6abe989.png">

[2022-06-07 14:39] PhotoNomad0 commented on #7278
@birchamp I discovered that tCore is using those links on download to get localized Title from the ta article.  So it is not a problem if a few are missing.  But if a lot of them are missing we will see a lot of strings such as `figs-explicit` in the checking tools menu.  There is a work around to using the supportReference and looking under `translate` folder of the ta articles.

[2022-06-07 18:33] PhotoNomad0 commented on #7188
@elsylambert implemented in translationCore 3.2.1 (d0bd234)

Note that the comma separated verses will be supported in a separate issue: https://github.com/unfoldingWord/translationCore/issues/7322

Testing:
- to test tN `7 column TSV` support with verse ranges, download en_ta, en_tn and en_ult in test_org
  - open a php project and in tN tool select en/test_org as GL and launch.  Scroll down to `

[2022-06-08 12:30] PhotoNomad0 commented on #7320
I was able to reduce the size by 100MB by hand grooming the bundled resources.  Discovered that the script was leaving older versions in Greek, Hebrew, English, Hindi.  Need to investigate in the future why this is happening.

[2022-06-08 13:39] elsylambert commented on #7188
translationCore 3.2.1 (d0bd234).
Seeing entry for 2:1-2 in tN but not seeing 2:13-14 in Christ, Messiah.
Steps followed:
1. upgraded to translationCore 3.2.1 (d0bd234).
2. downloaded en content for test-org.
3. opened php project and selected test-org english for tN and tW both.
4. tN shows the verse range as mentioned by @PhotoNomad0 in the Testing notes, but not seeing for tW.
![image](https://u

[2022-06-09 13:52] PhotoNomad0 commented on #7322
**Notes:**

- [x] Make sure check for updated helps data supports verse lists and spans
- [x] add verse markers in selection area.
- [x] come up with a solution to verse edit to edit multiple verses. (verseEditWrapper)

[2022-06-09 18:40] PhotoNomad0 commented on #7322
**Feedback from Larry Sallee:**
I'm beginning to track, I think. I would say that the tW is a bad example, as we would never use multiple verses in the TWL. We would use them extensively in TQ's and in study-type notes—neither of which would have checks. The only place I can think of where they would show up in a check is the TN's. If they did appear there, it would almost certainly be a situation

[2022-06-12 11:28] PhotoNomad0 commented on #7322
@birchamp - the last hurdle on this issue is supporting multiple verses (such as 2:3,5) in verse editor for the checking tools.  This may mean a significant refactor for full support.  It seems like a bunch of work for a rarely used reference option.  A few implementation options:
1. disable verse edit in the case of multiple verses - maybe with message to use the expanded scripture pane to edit.

[2022-06-13 10:55] birchamp commented on #7322
It sounds like option 1 with using the expanded verse editor instead of disabling editing entirely is the best option. Jump to the first verse in the reference

[2022-06-14 15:33] birchamp commented on #7320
@PhotoNomad0 My recollection is that since previous projects use checks connected with the older versions, we need those versions available.  Will the user be prompted to download the older version of the resources or will it invalidate the checks based on the new version?

[2022-06-17 14:05] PhotoNomad0 commented on #7322
@elsylambert
Here are some entries under ml test_org2 for tit:
<img width="604" alt="Screen Shot 2022-06-17 at 9 59 03 AM" src="https://user-images.githubusercontent.com/14238574/174313534-0637adda-747a-4232-8c6c-45a81d3fc29f.png">
Here is an entry under ml test_org2 for php:
<img width="615" alt="Screen Shot 2022-06-17 at 10 08 49 AM" src="https://user-images.githubusercontent.com/14238574/174315

[2022-06-17 14:12] PhotoNomad0 commented on #7322
@elsylambert Fix is in translationCore 3.2.1 (e7b7769) - a couple of checks above with verse lists ^^^^

[2022-06-17 14:16] PhotoNomad0 commented on #7316
@elsylambert This should be fixed in latest dev build.

[2022-06-17 14:18] PhotoNomad0 commented on #7278
@elsylambert This is fixed in latest dev build.  Not sure how to verify.

[2022-06-18 22:19] PhotoNomad0 commented on #7319
**Notes:**

- [x] Add the current usfm-js version the bible manifest when we process the bible resource downloads.
- [x] when checking for updated resources, flag bibles with older usfm-js versions in manifest as being outdated.
- [x] on tCore startup do quick check of bible resources and remove bibles with outdated usfm-js versions in manifest, then do resource migration from bundled resources.

[2022-06-20 13:13] elsylambert commented on #7322
@PhotoNomad0 Not able to open the project in translationCore 3.2.1 (e7b7769)
![Large GIF (1146x732)](https://user-images.githubusercontent.com/51806180/174609516-088c8bd3-4071-4514-bcc0-5339767006c4.gif)
.

[2022-06-20 18:41] elsylambert commented on #7322
Looks good in translationCore 3.2.1 (e7b7769). Tested for test_org :ml_en. Seeing the verse ranges in tN and tW for Php and Tit respectively
<img width="1430" alt="Screen Shot 2022-06-20 at 2 35 54 PM" src="https://user-images.githubusercontent.com/51806180/174661608-c0b1d8ee-1441-472c-bff7-799f67eaf588.png">
.
<img width="1430" alt="Screen Shot 2022-06-20 at 2 34 41 PM" src="https://user-images.g

[2022-06-20 18:44] elsylambert commented on #7188
Looks good in translationCore 3.2.1 (e7b7769).

[2022-06-21 22:04] PhotoNomad0 commented on #7319
@elsylambert fixed in translationCore 3.2.1 (39a0d6d). On upgrade from 3.2.0, all bibles in resources folder without `"usfm-js": "3.4.0"` field in manifest.json will be removed.  Any bundled bibles installed will have the field, and future downloaded bibles will have it also.

[2022-06-22 01:01] PhotoNomad0 commented on #7320
In case of original languages we always bundle just the latest.  in case of TN, the user will be prompted to download the correct version of original language.  In case of other languages we replace the bibles and thelps with the latest when they update tC if they are bundled with tC

[2022-06-22 13:43] elsylambert commented on #7319
Looks good in Version 3.2.1 (39a0d6d). On upgrade from 3.2.0, all bibles in resources folder without "usfm-js": "3.4.0" field in manifest.json were removed and bundled Bibles were installed with the newer field.

[2022-06-22 17:32] PhotoNomad0 commented on #7270
@elsylambert Here is how the hover text now looks in the scripture Pane:
<img width="260" alt="Screen Shot 2022-06-22 at 1 27 40 PM" src="https://user-images.githubusercontent.com/14238574/175100550-61bd5a46-56ea-4ff5-b79b-5ca458f2afb8.png">
<img width="230" alt="Screen Shot 2022-06-22 at 1 27 53 PM" src="https://user-images.githubusercontent.com/14238574/175100556-44757365-4815-4ea1-8b77-552db614

[2022-06-22 18:59] PhotoNomad0 commented on #7270
@elsylambert issue is addressed in translationCore 3.2.1 (9cd4f03)

[2022-06-22 19:08] PhotoNomad0 commented on #7303
@birchamp It looks like there is nothing to be done on this issue for tC?  It looks to me that it is functioning correctly.

[2022-06-23 18:26] PhotoNomad0 opened #7331 "tCore still shows options even after they have been downloaded."
## Story Explanation
### User Story

tCore still shows options even after they have been downloaded.

to see the problem. in translationCore, click on Actions button and then click on “Check for content updates“.  Then Select all resources for lang/org such as:

![Screen Shot 2022-06-23 at 10.35.59 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/f6cdae00-7d50-46ea-8c9a-c72986

[2022-06-27 17:41] PhotoNomad0 commented on #7331
@elsylambert fix is in translationCore 3.2.1 (2c2672c)

[2022-06-28 11:40] PhotoNomad0 commented on #7189
@birchamp this seems to be a duplicate.  Already implemented

[2022-06-28 13:00] elsylambert commented on #7331
Looks good in translationCore 3.2.1 (2c2672c). Issue is resolved.

[2022-06-28 13:08] elsylambert commented on #7270
Looks good in translationCore 3.2.1 (2c2672c). Hover text works fine for different Bible Resources.

<img width="520" alt="Screen Shot 2022-06-28 at 9 04 51 AM" src="https://user-images.githubusercontent.com/51806180/176185631-108a3aa6-5318-439a-8bda-9b92b21cdaa3.png">

<img width="328" alt="Screen Shot 2022-06-28 at 9 05 18 AM" src="https://user-images.githubusercontent.com/51806180/176185727-d7b

[2022-06-28 13:11] elsylambert commented on #7316
Works fine in translationCore 3.2.1 (2c2672c) . When organization is switched the checks are changing as expected.

[2022-06-28 13:32] elsylambert opened #7333 "Empty check found in tN"
translationCore 3.2.1 (2c2672c).
Project: [https://app.zenhub.com/files/65028237/7399e5b8-82cb-4ad2-9829-c720bc1a71f4/download](https://app.zenhub.com/files/65028237/7399e5b8-82cb-4ad2-9829-c720bc1a71f4/download)

Steps:
- copy and Paste the above project in tC Projects folder.
- Open tC and select the Exo project.
- Open tN using the org selection : മലയാളം (ml) - test_org2.(Please download if you

[2022-06-28 14:23] PhotoNomad0 commented on #7333
Notes:
- This is an old tN resource: 2021-05-10
- There is an issue with the group ID's that have a leading ZERO WIDTH SPACE (Unicode: U+200B)

[2022-06-28 17:36] PhotoNomad0 commented on #7333
making fix to trim zero width and no break spaces when downloading tn resources.

[2022-06-28 18:32] PhotoNomad0 commented on #7333
@elsylambert added fix in translationCore 3.2.1 (4db5df4)

[2022-06-28 21:28] PhotoNomad0 commented on #7333
@elsylambert Have a second build here for testing: translationCore 3.2.1 (c38c94f)

[2022-06-29 13:17] elsylambert commented on #7333
Looks good in translationCore 3.2.1 (c38c94f).

[2022-06-29 19:23] PhotoNomad0 commented on #6709
@birchamp @elsylambert - I'm beginning to wonder if this is a real world use case.  We don't support changing of resources folder while tC is running.  But we do support resource downloads in tCore which triggers an automatic update in resources being used in tC.

[2022-06-29 19:34] PhotoNomad0 commented on #7294
@birchamp - it does seem that you are expanding the spec in the description.  Note that the spec referenced only mentions the use case of `A three-character sequence & (ampersand with surrounding spaces) `.  That is probably safer use case than just a single ampersand.

[2022-06-30 13:15] PhotoNomad0 opened #7337 "Bug: Highlighting does not work correctly when multiple verses are in check"
## Story Explanation
### User Story

Highlighting does not work correctly when multiple verses are in check

In php project in tN for ml/test_org2.  Words in the original quote for vs 1 are also highlighted in vs 5:

![Screen Shot 2022-06-30 at 8.43.07 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/2621367c-a63d-4e7c-871f-0518c54dddab)

As a [type of user], I want [some goal

[2022-06-30 14:15] PhotoNomad0 opened #7338 "Support verse ranges that span chapter boundaries such as "2:3-3:2" and "2:3;3:2""
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-06-30 15:15] birchamp commented on #7294
Yes we do want to allow for both ... and " & ".  You're right, we do want to include spaces

[2022-06-30 15:21] birchamp commented on #7338
Yes, let's **add** the semicolon (2:3;3:2) as most users will be used to typing that, but also allow for a comma between a verse from two chapters (2:3,3:1)

[2022-07-04 23:14] elsylambert opened #7341 "Loosing Alignment and Blank Align section when GL is changed to different org"
Field Reported by Sam:
First Video: •    https://www.youtube.com/watch?v=amPpjv0H_Pg
•    export aligned 1sa bible to USFM with alignments and import back as a test project.
•    Then when switch WA GW from D43 to en/unfoldingWord the alignments go to zero.  Seems to be broken in tool - alignment area is blank - no words at all.
•    no checks shown for tW and tN, but checks are not exported with

[2022-07-05 10:51] PhotoNomad0 opened #7342 "EPIC: Misc tC 3.2.0 Catalog Next errors reported from the field"
## Story Explanation
### User Story

Issues reported by Sam at GECraft - recorded videos for us.  :

Unfortunately we do not have logs.

Highlighted a few problems in black that seem to be tCore and or data bugs.  Will need to dig into what is happening.

Is Sam is expecting the tw and tn checks to be exported with the USFM?

#### Notes on Videos:
1. https://www.youtube.com/watch?v=amPpjv0H_Pg

[2022-07-05 11:17] PhotoNomad0 opened #7343 "Support Pre-release testing in Catalog Next"
## Story Explanation
### User Story

As an admin I want to be able to do pre-production (draft) release testing in Catalog Next.

Here is a preliminary mock up of admin options:

<img width="791" alt="Screen Shot 2022-07-03 at 8 45 26 PM" src="https://user-images.githubusercontent.com/14238574/177316654-533e9845-985f-41ae-94b5-eff9cf0950a5.png">

### Features / Specifications

- [ ]
- [ ]
- [ ]

#

[2022-07-05 11:25] PhotoNomad0 commented on #7343
Notes:

- [ ] remove checking level support from tCore?
- [ ] add option to search with stage preprod.

[2022-07-05 11:33] elsylambert commented on #7341
Log file:[Mon Jul 04 2022.zip](https://github.com/unfoldingWord/translationCore/files/9045967/Mon.Jul.04.2022.zip)

[2022-07-05 13:59] PhotoNomad0 opened #7344 "EPIC: Misc tC 3.2.0 Catalog Next errors reported from the field"
## Story Explanation
### User Story

Issues reported by Sam at GECraft - recorded videos for us.  :

Unfortunately we do not have logs.

Highlighted a few problems in black that seem to be tCore and or data bugs.  Will need to dig into what is happening.

Is Sam is expecting the tw and tn checks to be exported with the USFM?

### Notes:
* https://www.youtube.com/watch?v=amPpjv0H_Pg
    * export al

[2022-07-05 14:01] #7344 closed, assigned to nobody

[2022-07-05 14:02] PhotoNomad0 opened #7345 "Misc tC 3.2.0 Catalog Next errors reported from the field"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-07-05 14:04] #7345 closed, assigned to nobody

[2022-07-05 14:24] birchamp opened #7346 "Epic: RU GL issues"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2022-07-05 14:24] PhotoNomad0 opened #7347 "Support Pre-Production (draft) release testing in Catalog Next 2"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [ ] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

[Description of the issue]

### Steps to Reproduce

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See err

[2022-07-05 14:36] #7347 closed, assigned to nobody

[2022-07-05 14:42] birchamp commented on #7343
- Change "Include Pre-Release Resouces" to "Show Pre-Release Resources"
- Pop-up a busy box when re-fetching

[2022-07-05 14:48] birchamp opened #7348 "Allow users to delete downloaded resources"
Users have limited space on their machines. At times they've downloaded a number of unnecessary resources.  tC should provide a method to delete all but the resources that came bundled with tC.

[2022-07-05 15:58] PhotoNomad0 commented on #7341
Testing with: https://git.door43.org/ElsyLambert/en_test_rut_book

[2022-07-05 16:32] PhotoNomad0 commented on #7341
@elsylambert FYI - This is fixed in tC 3.2.1 develop build.  In 3.2.0 there is a bug switching GL orgs in WA did not load the new original language bible.

[2022-07-05 17:11] PhotoNomad0 opened #7349 "in tCore 3.2.0 WA tool verses incorrectly show up in filter as having unaligned words"
### Description

in WA tool verses incorrectly show up in filter as having unaligned words

### Steps to Reproduce

* https://www.youtube.com/watch?v=eJY5ik3xlvQ
    * Imported project:  https://git.door43.org/ru_gl/ru_rlob_neh_tcore_checked_tW-checked_tN-checked
    * GL is en/Door43-catalog
    * some alignments broken
    * filter for invalidated alignments:
      * correct the invalidated alig

[2022-07-05 17:21] PhotoNomad0 commented on #7349
Notes:
- if you leave project and come back, then when you filter for unaligned words you do not see any.  So this bug seems transient.
- the bug seems to be in the alignment state reducer.

[2022-07-05 17:25] PhotoNomad0 commented on #7349
See same problem in tC 3.2.1 develop branch.

[2022-07-05 18:07] elsylambert opened #7350 "WA Menu Filters do not function properly after the project is imported (USFM)"
This is a dup of #7349

- Open an aligned Project and then export it to USFM with Alignments.
- In TC, choose the option Import locally to import the USFM file from step 1.
- After the import, open the project>wA tool>Select GWL and Launch
- Click on the Menu filters checkboxes. Note that the filters do not work and do not show any results.

[2022-07-05 18:15] elsylambert opened #7351 "EST Book not supported"
Book not supported when imported locally.

[2022-07-05 18:21] elsylambert opened #7352 "tA Article header displayed differently in tN smurf bar and Side bar"
(https://youtu.be/jVf10fnmxMM
)

[2022-07-05 18:27] PhotoNomad0 opened #7353 "Get error importing USFM files with BOM marker"
### Description

Get error importing RU EST bible

### Steps to Reproduce

* https://www.youtube.com/watch?v=0aPo9213VIk
    * downloaded USFM file from https://git.door43.org/Door43-Catalog/ru_rlob/src/branch/master/17-EST.usfm
    * in tCore import est from USFM file, but tCore refused to import it.  See error dialog "Book not supported"

Note: at first glance there does not appear to be a probl

[2022-07-05 20:26] PhotoNomad0 commented on #7353
Note:
- seems to be something with the file format?
- if I add a newline to start of file, it imports correctly.

[2022-07-05 20:54] PhotoNomad0 commented on #7353
Note:
* it looks like USFM-js is choking on the BOM marker at the start of the file (0xEF, 0xBB, 0xBF).

[2022-07-05 21:58] Samuel-Kim commented on #7353
Thank you for finding the reason. An easy way to solve this problem is to remove the BOM marker.

[2022-07-05 22:05] Samuel-Kim commented on #7351
Solution here: https://github.com/unfoldingWord/translationCore/issues/7353

[2022-07-05 22:29] Samuel-Kim commented on #7352
If the tW-resources were loaded from the unfoldingWord and the Door43-Catalog, then the sidebar will display articles from the Door43-Catalog, even if you preselect the unfoldingWord resources.

[2022-07-06 12:24] PhotoNomad0 commented on #7350
@elsylambert  What I observe after importing a 100% aligned bible, open it in WA and try the filters:
- invalidated filter on - see no verses  ✅
- bookmark filter on - see no verses  ✅
- completed filter on - see no verses, they will appear as complete is toggled  ✅
- incompleted filter on - see all verses, they will disappear from list as complete is toggled  ✅
- verse edit filter on - see no ver

[2022-07-06 12:50] PhotoNomad0 commented on #7353
@birchamp - In tCore we have a few options:
1. remove the BOM marker from start of USFM data in USFM-js before parsing the USFM and update tCore to use latest USFM-js
2. remove the BOM marker from start of USFM data in tCore before handing off to USFM-js
3. do nothing and hope the validator will be updated to flag the problem on DCS

It seems that # 1 has advantage of code fix in one place, and th

[2022-07-06 13:17] #7351 closed, assigned to nobody

[2022-07-07 06:41] Samuel-Kim opened #7354 "Window Update Gateway Language Content"
https://youtu.be/5L42F_3YPak

![image](https://user-images.githubusercontent.com/26515757/177708152-80d8b813-3829-4038-9f65-a326479324aa.png)

The window expands when the list of resources is expanded, so the с go down beyond the visible borders of the display. This makes it impossible to use the buttons.

[2022-07-07 07:49] Samuel-Kim commented on #7350
1. Imported the project https://git.door43.org/ru_gl/ru_rlob_neh_tcore_checked_tW-checked_tN-checked

- tCore warned: Changes have been detected in your project which have invalidated some of your alignments. These verses display an icon of a broken chain next to the reference in the side menu.
- Word Alignment was 99% complete and contained 2 broken chains.
- translationWords was 100% complete an

[2022-07-07 07:50] Samuel-Kim commented on #7350
[Wed Jul 06 2022.log](https://github.com/unfoldingWord/translationCore/files/9061510/Wed.Jul.06.2022.log)

[2022-07-07 10:49] PhotoNomad0 commented on #7350
@Samuel-Kim - Thanks for the write up.  We have been splitting up each problem we find in your videos into separate issues so that they can be easily tracked and worked on. The item 10 is written up in https://github.com/unfoldingword/translationcore/issues/7349.  You can see a list of all the issues created attached to the Epic https://github.com/unfoldingWord/translationCore/issues/7342.  It is

[2022-07-07 12:09] PhotoNomad0 opened #7355 "Seeing 500 errors downloading resources in latest develop build"
## Story Explanation
### User Story
When I try to download all resources I get many errors.  When I look in the log file I see a lot of 500 errors because the URL is invalid:

![Screen Shot 2022-07-07 at 8.06.51 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/2cf08760-ebf0-40fc-a6a8-b77087b09734)

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]

[2022-07-07 12:54] PhotoNomad0 commented on #7354
@Samuel-Kim This is an interesting one here.  It looks like the problem may happen when you have a short list of languages that have updates so the scroll bar is not shown.  Then when you expand selections and the dialog expands and runs off bottom of the screen.  What operating system is this on?  What is the display resolution of the system?

@elsylambert - I cannot reproduce this on my computer

[2022-07-07 13:17] elsylambert commented on #7354
@PhotoNomad0 I cant reproduce it on my machine. I used low resolution display on win 11 and tried the steps as you mentioned in the comment but I an seeing a scroll bar when list is expanded.

[2022-07-07 14:44] PhotoNomad0 commented on #7354
This is what I am seeing on MacOS:

https://user-images.githubusercontent.com/14238574/177802093-167ac0be-952b-4eaa-ad27-64d0a87f2229.mov

I am not seeing the dialog expand like Sam is seeing.  So maybe I'll pull out my old Win 10 laptop to se if the behavior is different.

[2022-07-07 15:06] PhotoNomad0 commented on #7355
@elsylambert This is to fix a catalog next bug I recently introduced. The fix is in translationCore 3.2.1 (3eaad77)

[2022-07-07 15:17] PhotoNomad0 commented on #7350
@elsylambert Addressing the issue that when we import aligned bibles from USFM we do not see the completed verses in the completed filter.  This is due to a past decision that we do not want to consider alignments for a verse complete until a human has reviewed it - either by manual toggling the alignment complete button or automatically when the user has aligned all the words by dragging.

@birch

[2022-07-07 17:44] Samuel-Kim commented on #7354
OS: Windows 10 Pro(64-bit) 21H2 (19044.1806) 15.‎06.‎2022
Model: Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz, 8057 MB RAM
Display: 1920x1080

[2022-07-07 18:05] Samuel-Kim commented on #7354
https://user-images.githubusercontent.com/26515757/177839873-6a4d75ea-a16a-41d9-95e9-7879e59e6d6f.mp4

Please watch my new video. Maybe you will notice something interesting for solving this problem.

[2022-07-07 20:54] PhotoNomad0 commented on #7294
@birchamp - Currently I am converting the & to ellipsis when resources are downloaded so that tC can easily handle either without a lot of code changes.  But the side effect is that they are displayed in the checking tools as ellipsis.  Is this acceptable for this issue or do you want more changes?  Here is an example where the & was converted to ellipsis on download.

![Screen Shot 2022-07-07 at

[2022-07-07 21:03] PhotoNomad0 commented on #7294
I suppose another option would be to convert ellipsis to & on download and display & in the checking tool.  But I think it might get too complicated trying to show either ellipsis or & in tool based on the source tsv format.

[2022-07-11 11:08] PhotoNomad0 commented on #7343
@elsylambert - whenever the user changes state of "Show Pre-Release Resources", there will be a refetch of resources.

[2022-07-11 16:31] PhotoNomad0 commented on #7343
@elsylambert fix is in translationCore 3.2.1 (2f23553).  If you do a regular download of ml_tn/test_org2 you will get version 0.4.1.  Then turn on "show prerelease resources" and then download ml_tn/test_org2 and you will get version 0.5.1.

[2022-07-12 12:37] elsylambert commented on #7341
This issue is resolved in translationCore 3.2.1 (24bd9f9). No longer loosing alignments or blank Align section in wA when GL is changed to a different org.

[2022-07-12 12:41] elsylambert commented on #7343
@PhotoNomad0 Unable to install translationCore 3.2.1(2f23553) due to an error.
![image](https://user-images.githubusercontent.com/51806180/178492085-3c298ac0-6435-4e1d-b2d3-e79804ac337d.png)

[2022-07-12 13:21] elsylambert commented on #7355
Not seeing 500 errors in translationCore 3.2.1 (24bd9f9). Downloading ALL resources work fine.

[2022-07-12 14:10] PhotoNomad0 commented on #7343
@elsylambert - do you have a log file?  I didn't see a problem in MacOS.  Will try WIndows

[2022-07-12 14:13] elsylambert commented on #7343
@PhotoNomad0  Win 11.
Log file:
[Tue Jul 12 2022.zip](https://github.com/unfoldingWord/translationCore/files/9093755/Tue.Jul.12.2022.zip)

[2022-07-12 14:24] PhotoNomad0 commented on #7343
@elsylambert This log file is for v3.2.1 (24bd9f9)?

[2022-07-12 14:36] PhotoNomad0 commented on #7343
@elsylambert I was able to install on Windows 10.  Will try Windows 11 next.

[2022-07-12 14:38] elsylambert commented on #7343
@PhotoNomad0 win 11 machine was on 3.2.0(a1634b3) and I upgraded to translationCore 3.2.1 (2f23553), thats when I got the error in tC/resources/..../books.zip.
So I installed translationCore 3.2.1 (https://github.com/unfoldingWord/translationCore/commit/24bd9f985fc240d2023ae3dc5c6a4ee66bda360d). instead and it worked fine. now I upgraded from translationCore 3.2.1 (https://github.com/unfoldingWord

[2022-07-12 14:41] birchamp commented on #7294
We're moving to the ampersand, so let's display it as an ampersand even if it is an ellipsis

[2022-07-12 14:44] birchamp commented on #7353
Yes option 1. @PhotoNomad0

[2022-07-12 14:46] birchamp commented on #7350
@birchamp discuss with content team.

[2022-07-12 15:10] PhotoNomad0 commented on #7343
@elsylambert It looks like that error occurred before tCore even started.  So that is an installer error message (and not a helpful one).  So would not see anything in the log.  Could the PC's hard drive be full?

[2022-07-12 15:10] PhotoNomad0 commented on #7343
...it's a file copy error.

[2022-07-13 03:43] elsylambert commented on #7343
Works as expected in translationCore 3.2.1 (2f23553).
@PhotoNomad0 I have three observations:
1. I do not see the third check box- "Delete downloaded Resources" in the admin options.
2. The checkbox selections do not get cleared when I re-open the Update content window. i.e I selected the option "Show Pre-release Resources" and then downloaded the resource. I reopened the Content Update window and

[2022-07-13 12:53] PhotoNomad0 commented on #7343
Sorry @elsylambert , that was something @birchamp decided to remove from the issue but it was not updated here.

@elsylambert I made the checkbox sticky for the tCore session.  I was thinking it would be annoying for the admin if they were doing repeated downloads that they would have to reselect the pre-release checkbox and wait for a new fetch.  I could reset this after each use.  @birchamp - wh

[2022-07-13 12:58] elsylambert commented on #7343
Thanks for the update @PhotoNomad0
for 2., it seems reasonable for the checkbox to be sticky per tC session.
for 3, Its not a blocker and if requires refactoring then I wont push you to fix UI at this point.

[2022-07-13 12:58] PhotoNomad0 commented on #7343
FYI - item 3 occurs starting with the second time you open the dialog if you haven't selected to not show the warning again.

[2022-07-13 12:59] PhotoNomad0 commented on #7343
Let me check - I may have a quick fix for 3 that may work. @elsylambert

[2022-07-13 13:44] PhotoNomad0 commented on #7343
No, the quick fix did not work.

[2022-07-13 19:58] birchamp commented on #7343
2. Since it clears the next time tC is run, I think that we can leave it checked during the session.
3. Since this is a pre-existing issue, it's not necessary to fix it.  @elsylambert do we have an issue for this already? If so, can you link to it here?

[2022-07-13 20:08] birchamp opened #7363 "Button to clear pre-releases"
Admins that test pre-releases may want to get back to work on a project using a production release resource.  If the pre-release is newer they won't be able to do that without deleting the pre-release that they tested. Add a button to clear downloaded pre-release updates. This button will clear all pre-releases on the local install.  _Be sure to not delete last prod download of tHelps_. Button wil

[2022-07-13 20:09] birchamp commented on #7363
@elsylambert can you take a look at the wording of the button and prompt for this?

[2022-07-13 20:16] birchamp opened #7364 "Update French Locale"
Check for changes in the French Locale

[2022-07-13 21:14] elsylambert commented on #7363
@birchamp I changed the button text to "Delete all pre-release resources" to make the term consistent across the app. Prompt looks good to me.

[2022-07-13 21:21] elsylambert commented on #7343
I am passing this issue since it works as defined and expected and based on the above comments, 2- functionality is fine and 3 doesn’t need to be fixed at this point.

[2022-07-14 23:40] PhotoNomad0 commented on #7363
@elsylambert Implemented in translationCore 3.3.0 (4a9b3e4)

[2022-07-14 23:44] PhotoNomad0 commented on #7364
@elsylambert French locale updated in translationCore 3.3.0 (4a9b3e4)

[2022-07-18 12:06] Samuel-Kim opened #7368 "Failed to load alignment data & Why UGNT for 1SA?"
[Mon Jul 18 2022.log](https://github.com/unfoldingWord/translationCore/files/9131670/Mon.Jul.18.2022.log)
https://youtu.be/HtusUbBmLXg

[2022-07-18 12:08] Samuel-Kim commented on #7354
@PhotoNomad0 Did my last video help in solving the problem?

[2022-07-20 10:58] PhotoNomad0 commented on #7353
Note that Notepad (and other apps) adds a BOM markers when it saves files in UTF-8 format.

[2022-07-20 11:09] Samuel-Kim commented on #7353
I use Visual Studio Code & AkelPad.

[2022-07-20 11:57] PhotoNomad0 commented on #7353
@Samuel-Kim Thanks - committing a fix, but note that it did not make it into the tC 3.3.0 release which is now in QA testing before release.

[2022-07-20 13:46] elsylambert commented on #7363
Looks good in translationCore 3.3.0 (4a9b3e4)
and works as expected.

[2022-07-21 17:24] elsylambert opened #7372 "French locale UI issues"
If hover is a challenge then it can be put in another issue for the next release.

DoD
---
Text in the boxes or buttons does not overlap the frame.

Details
---
translationCore 3.3.0 (4a9b3e4)
The following places the text goes out of the button frame:
Tools card page>GL selections
![french tools card.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/766f0e56-6f29-4cfa-b5f2-57477b

[2022-07-21 18:39] PhotoNomad0 commented on #7372
@elsylambert Have ellipsis fixes in translationCore 3.3.0 (25a356f)

[2022-07-22 21:14] PhotoNomad0 commented on #7372
@elsylambert New build translationCore 3.3.0 (9e96976) has hover text support for the above buttons and drop down.

[2022-07-25 10:54] PhotoNomad0 opened #7375 "Add ability to Load Master branch resources to tCore Scripture pane."
## Story Explanation
### User Story
Add ability to Load Master branch resources to tCore Scripture pane.

We could add option to enter a repo URL to Scripture pane drop-down to read bible resources.  This would input:
- a tCore book repo that is for the same book of the bible as the current project
- a whole bible repo that contains the book of the bible.

Also add a refresh button to three dot me

[2022-07-27 13:04] elsylambert opened #7376 "Blank tW screen when the project is opened for the first time after upgrade"
translationCore 3.3.0 (9e96976) .
After the upgrade to translationCore 3.3.0 (9e96976) , open the project:
[fr_miss_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/9199085/fr_miss_tit_book.zip)
  and selected en as gl for tW, it opened with a blank screen.
![blank screen-tw.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/03d4f28e-c370-4137-8835-e36d510ee1ae)

[2022-07-27 13:12] elsylambert commented on #7364
Looks good in translationCore 3.3.0 (9e96976).

[2022-07-27 13:13] elsylambert commented on #7372
Looks good in translationCore 3.3.0 (9e96976).

[2022-07-27 13:15] elsylambert commented on #7341
Verified in translationCore 3.3.0 (9e96976). Not seeing blank alignment when GL is switched.

[2022-07-28 18:31] PhotoNomad0 commented on #7376
@elsylambert - There is a problem with a missing manifest.json file in the ugnt.  There is a fix for the issue in translationCore 3.3.0 (b0ef8c5), but I recommend deleting the ugnt folder in the resources before installing.  Otherwise it will not get updated and the problem will remain.

[2022-07-28 18:35] PhotoNomad0 commented on #7376
The broken resource is installed to ~/translationCore/resources/el-x-koine/bibles/ugnt/v0.22_Door43-Catalog

[2022-07-28 19:13] elsylambert commented on #7376
Not seeing this issue in translationCore 3.3.0 (b0ef8c5).

[2022-08-01 12:35] birchamp commented on #7320
If we set a DoD as having a minimal and maximal install where minimal is latest English and OrigL, and maximal is everything we currently include, does that solve for this issue?

[2022-08-01 12:41] birchamp opened #7378 "Epic: Show users that a resource is pre-release"
Issue:
---
Currently, once a user chooses to see pre-releases in the update dialog, those resources appear like any other resources, both in the update dialog and in the GL dropdown.  Users need some indicator that they are working with a pre-release. This could be as simple as changing the color of the text or an asterisk next to the name.

DoD:
---
There is something consistently different about

[2022-08-01 12:46] PhotoNomad0 opened #7379 "tCore update script should validate bundled resources on every build."
## Story Explanation
### User Story

- [x] tCore update script should replace resources with missing files.
- [ ] It should also validate resouces after update:

  - [x] make sure Greek and Hebrew English Lexicons are in bundle
  - [x] check bundle for missing manifest.json files.
  - [x] for bibles make sure there are books.zip, index.json, and manifest.json files
  - [x] for helps make sure ther

[2022-08-01 13:43] birchamp opened #7381 "Epic: Handle Reference Ranges throughout tC"
Reference ranges will display multiple verses in tW and tN checking tools.

[2022-08-01 14:42] PhotoNomad0 commented on #7353
@elsylambert this is fixed in translationCore 3.3.0 (b0ef8c5).

[2022-08-02 13:25] PhotoNomad0 commented on #7338
Notes:
- in tc-ui-toolkit:
  - highlighting is done in verseArray()
  - updated verseHelpers.getVerseData() to count original words by verse if multi-verses
  - now need to update highlightHelpers.isWordArrayMatch() to check previous verse word-counts
  - checking area needs to be updated for verse ranges