[2018-10-16 18:18] benjore opened #5235 "Expanded Scripture Pane not updated when edit happens."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-10-16 18:18] #4938 closed, assigned to da1nerd

[2018-10-16 18:18] #5079 closed, assigned to mannycolon

[2018-10-16 18:18] #5092 closed, assigned to mannycolon

[2018-10-16 18:20] #5066 closed, assigned to PhotoNomad0

[2018-10-16 18:21] #5180 closed, assigned to PhotoNomad0

[2018-10-16 18:23] da1nerd opened #5236 "Expanded Scripture Pane Dialog is not updating displayed text after edit."
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

When editing a verse using the scripture pane the dialog is not reflecting the edits until you close the dialog entirely.

[2018-10-16 18:23] #5181 closed, assigned to PhotoNomad0

[2018-10-16 18:55] mannycolon opened #5237 "Update tc-ui-toolkit to 0.10.9"

[2018-10-16 19:00] cckozie commented on #5228
1.0.1 (9872178)
The case shown above is now fixed, but here is another failure case:
![image](https://user-images.githubusercontent.com/8171759/47040288-86419f00-d14b-11e8-80a5-4224f57fd9a2.png)

![image](https://user-images.githubusercontent.com/8171759/47040418-d3be0c00-d14b-11e8-8924-8b894452c781.png)

[2018-10-16 19:04] benjore opened #5239 "[2] 2018-10-19 Professional Development"
Git merge workflow.

[2018-10-16 19:04] benjore opened #5240 "[2] 2018-10-26 Professional Development"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-10-16 19:48] PhotoNomad0 commented on #4951
Verified in build https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-5be314d.setup.exe

- in developer mode should be able to do USFM import OT book and project details page should show OT books in the bible drop down. Hit cancel
- now switch off developer mode and do USFM import OT book and project details page should show empty for book name. Also should not show any

[2018-10-16 19:48] da1nerd commented on #4943
@jag3773 while looking up punctuation for the original quote there are some instances where some greek words within the phrase are not used. e.g. Act 1:2

GlQuote: `until the day that he was taken up`
Aligned Greek: `ἄχρι ἧς ἡμέρας ἀνελήμφθη`
Greek Text: `ἄχρι ἧς ἡμέρας ἐντειλάμενος τοῖς ἀποστόλοις διὰ Πνεύματος Ἁγίου, οὓς ἐξελέξατο, ἀνελήμφθη`

You can see how this whole chunk `ἐντειλάμενος τοῖς

[2018-10-16 19:58] benjore commented on #5235
dup of #5236

[2018-10-16 19:58] #5235 closed, assigned to nobody

[2018-10-17 03:25] bspidel commented on #5233
![62-2pe](https://user-images.githubusercontent.com/4968713/47060207-b06e7d80-d19a-11e8-8129-9a61d436d114.PNG)

When I imported the referenced project on x64 Win10 tC v1.0.2 (cab77c0) I received the attached alert.

[2018-10-17 09:19] PhotoNomad0 commented on #5133
@richmahn - you should be able to get a quick turn-around on this.  All you need to do is merge in https://github.com/unfoldingWord-dev/translationCore/pull/5213.

[2018-10-17 09:22] PhotoNomad0 commented on #5133
fixed as part of https://github.com/unfoldingword-dev/translationcore/issues/5051

[2018-10-17 10:37] PhotoNomad0 commented on #5233
@bspidel - I think you tried to do an online import here.  It is subtle, but @benjore is actually downloading the file and then doing a local USFM import.

[2018-10-17 11:17] PhotoNomad0 opened #5242 "Need to localize Online Import error messages"
## QA
 ### Fails
 - [ ]
## Additional Context
the following error messages in OnlineImportWorkflowHelpers are not localized:
- 'The URL ' + link + ' does not reference a valid project';
- "Project has already been imported.";
- "An unknown problem occurred during import";
- "Unable to connect to the server. Please check your Internet connection.";
- "Project not found: '" + link + "'";

[2018-10-17 12:50] PhotoNomad0 opened #5244 "wordAlignment tool shows broken alignments after import of USFM2 project"
## Story Explanation
### User Story

As a Checker, I want wordAlignment to not show broken alignments when I open a new project that has no existing alignments.

## Additional Context

To reproduce import the following project and then open WA:

 [https://app.zenhub.com/files/65028237/ba2d4332-ebb8-44bc-ab59-b425c1c401cd/download](https://app.zenhub.com/files/65028237/ba2d4332-ebb8-44bc-ab59-b425c

[2018-10-17 13:16] PhotoNomad0 commented on #5086
This will be fixed as part of https://github.com/unfoldingword-dev/translationcore/issues/5051.  The \w and \zaln markers will be placed at start of line on export.

[2018-10-17 13:42] PhotoNomad0 commented on #5063
#### Notes:
1. looks like is in Acts 1:20.  in en_ult USFM `\zaln-e\*,\q'`, there is no space, but a `\q`.  Should be a space after `\q` according to USFM spec.  Need to fix in usfm export.
2. related to above, but issue with import since word is started on new line so should not be treated as significant.
3. mat 4:6 - in greek added support that right and left double quotes now recognized as punc

[2018-10-17 14:08] jag3773 commented on #4943
@neutrinog Yes, following https://git.door43.org/unfoldingWord/en_tn#tn-tsv-column-description.

[2018-10-17 15:19] PhotoNomad0 commented on #5051
@cckozie - verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-34ddb63.setup.exe

[2018-10-17 16:12] bspidel opened #5245 "[0] Identify where header is written for issue 5233"

[2018-10-17 16:12] bspidel opened #5246 "[0] Identify source of new header for issue 5233"

[2018-10-17 16:13] bspidel opened #5247 "[0] Code change for issue 5233"

[2018-10-17 16:13] bspidel opened #5248 "[0] Add unit test for issue 5233"

[2018-10-17 16:13] bspidel opened #5249 "[0] PR Review for issue 5233"

[2018-10-17 17:21] PhotoNomad0 commented on #4263
@cckozie - verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-34ddb63.setup.exe

[2018-10-17 17:27] PhotoNomad0 commented on #5063
#### Tasks:
- [ ] [8] - fix spacing on usfm3 export
- [ ] [8] - fix spacing on usfm3 import
- [ ] [2] - PR review [5063]

[2018-10-17 17:29] PhotoNomad0 opened #5250 "[2] - fix spacing on usfm3 export"

[2018-10-17 17:29] PhotoNomad0 opened #5251 "[6] - fix spacing on usfm3 import"

[2018-10-17 17:29] PhotoNomad0 opened #5252 "[0] - PR review [5063]"

[2018-10-17 17:59] mannycolon commented on #5228
@cckozie Here it is again when you get a chance.

[2018-10-17 18:11] PhotoNomad0 commented on #4688
@cckozie - verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-34ddb63.setup.exe

[2018-10-17 18:27] PhotoNomad0 commented on #4687
@cckozie - there is a way to edit it as it will be in front matter.  If you go into expanded scripture pane and scroll down to the bottom it will show front matter.  Probably should be at top.  Checked with mat 1 and it said empty. And when I clicked edit it showed '\p' which is the behavior i'd expect since the USFM is stripped out in not edit mode.

[2018-10-17 18:37] benjore opened #5253 "Move "Add Resources" to the header bar of the Scripture Pane"
## Story Explanation
### User Story

As a user, I want the "Add Resources" to be in the header bar so that I can maximize the real estate in the Scripture Pane.

### Features / Specifications

- [ ] Add the "Add Resources" icon to the Scripture Pane header bar
- [ ] When clicked, the "Add Resources" modal opens
- [ ] Remove the "Add Resources" icon from the sub-pane of the Scripture Pane (where it

[2018-10-17 18:42] mannycolon commented on #5219
# Tasks

- [ ] [4] Debug to find problem w/ saving selection in tW
- [ ] [4] Fix problem w/ saving selection in tW
- [ ] [3] Write unit tests if possible

[2018-10-17 18:42] benjore opened #5254 "Replace the four-arrow expand icon to a two-arrow expand icon"
## Story Explanation
### User Story

As a user, I want the expand icon to be different so that I don't mistake it for an `X`.

### Features / Specifications

- [ ] Replace throughout the app: the four-arrow expand icon to a two-arrow expand icon
  - [ ] Scripture Pane (tW & wA)
  - [ ] tHelps Pane
  - [ ] Check Card

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups
![im

[2018-10-17 18:42] mannycolon opened #5255 "[4] Debug to find problem w/ saving selection in tW"

[2018-10-17 18:42] mannycolon opened #5256 "[0] Fix problem w/ saving selection in tW"

[2018-10-17 18:42] mannycolon opened #5257 "[3] Write unit tests if possible"

[2018-10-17 18:45] mannycolon commented on #5126
@benjore I'd be interested in working on this issue

[2018-10-17 18:55] PhotoNomad0 commented on #5086
@cckozie - verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-34ddb63.setup.exe

[2018-10-17 18:57] lrsallee commented on #4538
The dialog boxes for commenting and settings look fine. The things that I don't like are 1) having the "+" symbol take space from the Greek word section, and 2) having to do an extra mouse click to get to the edit icon, as well as other features. I would much prefer to have these icons always visible. For example, they could be on the right side of the blue "Align" bar, next to where you show the

[2018-10-17 19:17] lrsallee commented on #4538
I admit that this concern partly grows out of my frustration with the current process to edit a verse in the alignment tool. I have to click twice to get to the verse, and then five times to return to the verse when I finish editing. Please, please, make this easier.

[2018-10-17 19:25] jag3773 commented on #4538
@lrsallee It would still be a single click, when you hover on the "+" the options pop up.

Also, due the way the cards flow, the + button is unlikely to consume any noticeable space from the Greek.

[2018-10-17 19:36] lrsallee commented on #4538
@jag3773 That's nice that it has a hover feature—although not a cool as the hoverboard that Back to the Future promised us. But in practice, all it does is hide the icons behind a second step. I don't have to click the "+", but I do have to point to it, and then point to the one I want before I can click on it. That is another separate operation before I can click on what I want. I'm comfortable p

[2018-10-17 19:39] jag3773 commented on #4538
I do understand your concern's @lrsallee .  However, the point of the Alignment tool is *alignment*, not editing (even though our teams are currently edit focused).  I'm all for reducing keystrokes, so if we can work out a solution that doesn't distract from the main point of the tool and allows a 1 click edit I'm in.

[2018-10-17 19:50] lrsallee commented on #4538
@jag3773 I might also make the same case for the comment tool. I expect that aligners in any GL are going to find a lot of issues, just as we did in English. If they don't edit the text, they will often want/need to make comments for those who will edit. In that case, I believe they will want the comment icon to be more accessible.

[2018-10-17 19:51] benjore opened #5259 "Add option to not show warning again to "Invalidated" warning"
## Story Explanation
### User Story

As an aligner who invalidates hundreds of verses per day, I want to be able to shut off the "invalidated" warning so that I don't get premature carpal tunnel.

### Features / Specifications

- [ ] This setting should be persisted like the Internet Access warning - If the user changes, it resets. If the app is opened, it resets.
- [ ]
- [ ]

### Definition of Do

[2018-10-17 20:11] benjore commented on #4538
Mockups have been updated. Try again!

[2018-10-17 20:39] benjore opened #5260 "Add Settings to Word Alignment Tool"
(From a story about a toggle for turning off WordMAP...)
## Story Explanation
### User Story

As an aligner, I want to be able to toggle off WordMAP suggestions so that I don't have to keep rejecting bad suggestions.

### Features / Specifications

- [ ] Change the `Alignment complete` from a toggle to a checkbox. Bonus points if the checkmark looks like the green checkbox in the side menu.
- [ ]

[2018-10-17 20:47] lrsallee commented on #4538
@benjore Yes, IMO those are much better.

[2018-10-17 20:56] pjoakes commented on #4538
I was searching for a plus symbol and not finding it. I guess that's what I get for being late to the party...

[2018-10-17 21:14] PhotoNomad0 commented on #4822
@cckozie - verified fix in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-429bca2.setup.exe

[2018-10-17 21:38] benjore opened #5262 "Bookmark in side menu not matching up with toggle in tW tool"
It has happened a couple times now, but I'm having some problems reproducing it. I think it has to do with changing between tools. There are times when the bookmark functionality in the side menu is exactly opposite of what it should be. Toggling the bookmark off turns it off in the `Step 2. Check` header bar, but turns it on in the side menu. And toggling the bookmark on turns it on the header ba

[2018-10-17 22:04] mannycolon commented on #5093
Verified on macOS build 1.0.2 (b64af99)

[2018-10-17 22:04] mannycolon commented on #5237
Verified on macOS build 1.0.2 (b64af99)

[2018-10-17 22:06] mannycolon commented on #5097
@neutrinog Friendly reminder that after I merged `translationCoreApps/tc-ui-toolkit#62 ` I guess you will have to publish the new `tc-uitoolkit` version to `npm` and make a PR to add the changes to tC. ()

[2018-10-17 22:11] da1nerd commented on #4943
@jag3773 @lrsallee Here are a bunch of improvements https://git.door43.org/unfoldingWord/en_tn/pulls/1083.

* more accurate punctuation
* more accurate word sorting
* support for discontinuous Greek words
* down to 3,511 misses

[2018-10-17 22:30] da1nerd commented on #5097
@mannycolon thanks for the reminder. Here's a pr https://github.com/unfoldingWord-dev/translationCore/pull/5263

[2018-10-17 23:46] richmahn commented on #4538
@pjoakes You can click the "edited" drop-down next to "benjore commented on May 25" at the top and then click on the 3rd one from the top (at the time I write this) to see how it was with a +.

[2018-10-18 00:00] da1nerd commented on #5174
The majority of the performance loss is in `changeCurrentContextID@ContextIdActions.js` and accounts for over 60% of the time. There's some rendering that could be improved but those are negligible compared to the context change.

Plan of attack:
- [ ] optimize context changing (tc)
- [ ] optimize menu rendering (tc-ui-toolkit)

### Update
The entire book is being read and parsed each time the con

[2018-10-18 04:18] cckozie opened #5266 "1.0.1 - Missing text warning is not displayed in scripture pane"
This has been broken post 1.0.0
[es-419_reg_luk_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2490175/es-419_reg_luk_book.zip)

In 1.0.0 (4bd6856)
![image](https://user-images.githubusercontent.com/8171759/47131182-fa229b00-d262-11e8-96e4-965f302d1f82.png)

1.0.1 (4ad2f22)
![image](https://user-images.githubusercontent.com/8171759/47131157-c8113900-d262-11e8-9e56-a060c511376

[2018-10-18 20:26] benjore opened #5267 "WordMAP: Add Lemma Fallback"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-10-18 20:41] benjore commented on #4945
Superceded by #3195

[2018-10-18 20:41] #4945 closed, assigned to da1nerd

[2018-10-18 20:45] benjore opened #5268 "Expose alignment memory from wA so that the tW tool can use it (WordMAP)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-10-18 20:57] mannycolon commented on #5266
# Tasks

- [ ] [3] Debug problem w/ missing text warning not displayed in scripture pane
- [ ] [4] Fix problem w/ missing text warning not displayed in scripture pane
- [ ] [2] Write unit tests for missing text warning not displayed in scripture pane

[2018-10-18 20:58] mannycolon opened #5269 "[0] Debug problem w/ missing text warning not displayed in scripture pane"

[2018-10-18 20:59] mannycolon opened #5270 "[0] Fix problem w/ missing text warning not displayed in scripture pane"

[2018-10-18 20:59] mannycolon opened #5271 "[0] Write unit tests for missing text warning not displayed in scripture pane"

[2018-10-18 21:01] mannycolon commented on #5126
# Tasks

- [ ] [3] Debug Problem w/ Partially Missing Highlighting in Greek
- [ ] [3] Fix Problem w/ Partially Missing Highlighting in Greek
- [ ] [3] Write unit tests for Partially Missing Highlighting in Greek

[2018-10-18 21:02] mannycolon opened #5272 "[0] Debug Problem w/ Partially Missing Highlighting in Greek"

[2018-10-18 21:02] mannycolon opened #5274 "[3] Write unit tests for Partially Missing Highlighting in Greek"

[2018-10-18 21:13] #4638 closed, assigned to RoyalSix

[2018-10-18 21:28] cckozie commented on #4559
[49-GAL.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2493708/49-GAL.usfm.zip)

[2018-10-18 21:29] benjore commented on #5099
Superseded by #5260

[2018-10-18 21:29] #5099 closed, assigned to nobody

[2018-10-18 21:50] bspidel opened #5275 "Having loaded 7 projects from door43, all include tc_version: 6 in manifest."
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

When a project is imported, it is supposed to be migrated. Part of that should be marking the checking tool used to updat

[2018-10-18 21:55] bspidel opened #5276 "There should be a section in manifest for "checking_tool""
## Summary

The checking tool should add or update the manifest to include its name, version and build

## Motivation

Answers the question: What messed up my project?

## Specifications (If applicable)

checking_tools: [
   {
      name: tc,
      version: 1.0.2,
      build: 6ab77c0
   }
]

## Additional context

Add any other context or screenshots about the feature request here.

[2018-10-18 22:03] #5245 closed, assigned to bspidel

[2018-10-18 22:04] #5246 closed, assigned to bspidel

[2018-10-18 22:04] #5247 closed, assigned to bspidel

[2018-10-18 23:00] da1nerd commented on #5097
Oops. I missed a few of the requirements when I first start on this issue. Here's some updates https://github.com/translationCoreApps/tc-ui-toolkit/pull/72

[2018-10-18 23:08] da1nerd opened #5277 "Performance regression in wA"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

A performance regression was introduced to wA recently.
The effect is loading a project in wA takes a very long time when

[2018-10-18 23:09] #5152 closed, assigned to da1nerd

[2018-10-18 23:09] #5154 closed, assigned to da1nerd

[2018-10-18 23:09] #5153 closed, assigned to da1nerd

[2018-10-18 23:22] da1nerd commented on #5174
@cckozie while working on this I also discovered what I think accounts for roughly 75% of the tool loading time and could probably be removed. I'll open a new issue with details.

[2018-10-18 23:25] da1nerd commented on #5160
@RoyalSix those changes you mentioned above have negatively impacted the initial start up of tC e.g. the app is noticeably frozen for a few seconds after the welcome screen is displayed.

[2018-10-18 23:31] bspidel opened #5279 "[0] Identify cause of error for issue 4416"

[2018-10-18 23:31] bspidel opened #5280 "[0] Define solution for issue 4416"

[2018-10-18 23:31] bspidel opened #5281 "[0] Code changes for issue 4416"

[2018-10-18 23:31] bspidel opened #5282 "[0] Unit test for issue 4416"

[2018-10-18 23:31] bspidel opened #5283 "[0] PR Review for issue 4416"

[2018-10-18 23:48] da1nerd opened #5284 "Improve Tool Loading Performance"
## Story Explanation

Loading a tool is very slow. Make it fast!

### User Story

As a regular non-techy-user, I want tools to open quickly so that I can get things done.

### Features / Specifications
A large portion of the tool loading happens before the tools components even mount. And most of that time is spent re-rendering react components as state changes during the loading process. The prim

[2018-10-18 23:49] da1nerd commented on #5174
Here's a new issue describing how we should be able to greatly improve the performance of loading tools. As a side benefit this should also improve the performance of the application overall.
https://github.com/unfoldingWord-dev/translationCore/issues/5284

[2018-10-18 23:54] da1nerd commented on #5284
@jag3773 @benjore @cckozie  ^ I noticed this while improving the navigation performance.

Be warned the above would require touching probably almost **all** of the components/containers in tC. If we were to embark on this (which I think we should eventually) we should take it in stages to avoid a bottle neck.

[2018-10-19 00:00] da1nerd commented on #5093
FYI. This introduced a regression. I've reverted some changes in https://github.com/unfoldingWord-dev/translationCore/issues/5277

[2018-10-19 14:12] benjore opened #5285 "[0] SPIKE: Figure out a solution for our dependency on dependencies"
## Specs

- [ ] Figure out if there is a way that would assist in keeping track of dependencies and making sure they are all updated and consistent.
- [ ] Consider #3398

[2018-10-19 14:43] cckozie opened #5286 "1.0.1 Appears to lose text in the Check pane"
1.0.1 (4ad2f22)
This has been broken post 1.0.0
[57-TIT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2496271/57-TIT.usfm.zip)

1. Import this project and load it in tW
2. Go to verse 3:1 under authority
3. Double click individually on 'and' and 'authorities'
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/38b87bfb-7ced-48e6-8de1-93b3628c5cfc)
4. C

[2018-10-19 15:16] RoyalSix commented on #5160
@neutrinog  You are right. But it takes less time to do those operations at the start and it is also not something that can happen multiple times in one session. So I think it is still a performance enhancement.
The long-term solution would be to have the tools precompiled.

I would also be willing to try and find a better place for loading so that the user does not have to think the app is laggin

[2018-10-19 16:07] cckozie opened #5287 "ULB in scripture pane gets changed to ULT on tC restart"
1.0.0 (4bd6856)

1. Open a Titus project in wA and select verse 1:3
2. Configure the scripture pane to include the target, Greek, ULT, and UDB texts
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/96483160-1ad9-4dd4-9bae-959fcce19a28)
3. Notice that the text for the ULT and UDB is slightly different
4. Close tC
5. Restart tC
6. Open the Titus project in wA
Notice that th

[2018-10-19 16:12] #5272 closed, assigned to mannycolon

[2018-10-19 16:27] #5255 closed, assigned to mannycolon

[2018-10-19 16:27] #5256 closed, assigned to mannycolon

[2018-10-19 16:27] #5257 closed, assigned to mannycolon

[2018-10-19 16:27] #5239 closed, assigned to da1nerd

[2018-10-19 16:29] cckozie commented on #4960
@benjore Why does this have the 'Retest' label?

[2018-10-19 16:33] cckozie commented on #1142
Are we even still using Rollbar? If so, how can I verify if this is happening?

[2018-10-19 16:35] cckozie commented on #3477
Need to test with tstudio projects since usfm reimport is now supported.

[2018-10-19 16:40] cckozie commented on #4249
Nothing has been changed in terms of the size of the expanded scripture pane.

[2018-10-19 16:51] jobbyp opened #5288 "Hindi IRV -TIT"
The Hindi IRV has some missing sentences in a verse and the version that is on tC is not the checked and updated version. it cannot be used a reosurce. I did a through check in paratex with what I have and what is in tCore.

![image.png](https://images.zenhubusercontent.com/5bbcda0c3da0ca1ec7638ecf/3bf771cf-fd03-4855-9057-c91ab9d8a968)

[2018-10-19 17:34] jag3773 commented on #5288
@jobbyp Can you do a check against what is in https://git.door43.org/Door43-Catalog/hi_irv/src/branch/master/57-TIT.usfm#L98 ?  I think I see the correct text in verse 2 at that link, but can you confirm?

[2018-10-19 17:44] jobbyp commented on #5288
yes this is what should be there but it does not show in tC. Interesting!

[2018-10-19 19:44] cckozie commented on #5117
@PhotoNomad0 I'm assuming you meant to move this to In QA, not QA Done. Agree?

[2018-10-19 19:45] cckozie commented on #4938
@PhotoNomad0 Should this be In QA rather than QA Done?

[2018-10-19 19:46] PhotoNomad0 commented on #5117
@cckozie - sorry must have clicked too low on the drop down.

[2018-10-19 20:14] mannycolon commented on #5286
Verified on `macOS build 4ae68da (v1.0.1)`

[2018-10-19 20:14] mannycolon commented on #5286
@cckozie ^^

[2018-10-19 20:47] cckozie opened #5292 "1.0.1 Problems with basic MAP"
It looks like basic MAP is not included/enabled in 1.0.1 (4ae68da)
[en_ult_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2497296/en_ult_tit_book.zip)

This project is aligned except for verse 2:5
In 1.0.0 (4bd6856) these suggestion show:
![image](https://user-images.githubusercontent.com/8171759/47242782-804ef680-d3b5-11e8-8a80-a1cf20cd4cd9.png)

1.0.1 (4ae68da) there ar

[2018-10-19 21:14] da1nerd commented on #5160
@RoyalSix we'll be changing when/how tools are loaded in https://github.com/unfoldingWord-dev/translationCore/issues/4672

[2018-10-19 21:16] da1nerd commented on #4960
yeah I haven't merged anything in yet.

[2018-10-19 21:17] da1nerd commented on #4960
actually this issue is technically outdated since we'll be migrating to nodegit hopefully in 1.1

[2018-10-19 21:40] mannycolon commented on #5045
Verified on macOS build b67a48e (v1.0.2)

[2018-10-20 21:45] cckozie opened #5293 "Project name is not correctly displayed in export to usfm success alert"
The project name should appear in the alert rather than the file name appearing twice.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/6767032d-b5a4-48f0-a684-e02b0c32ab62)

The text should be '[project name] has been successfully exported to test.usfm'

[2018-10-22 16:12] RoyalSix opened #5294 "[0] Fix Tokenizer Not Working in ULT, UST, or word bank"

[2018-10-22 16:26] cckozie commented on #4954
This has been fixed in 1.0.2 (f005f02)

[2018-10-22 16:26] #4954 closed, assigned to nobody

[2018-10-22 16:32] cckozie commented on #5067
As of 1.0.2 (f005f02) :
Tool loading is ~7 seconds even with all available resources on on the machine.
Navigating within a tool is typically sub-second.

[2018-10-22 16:42] cckozie commented on #5160
1.0.2 (f005f02)
The tool loading is much better now, as on my Mac it is consistently ~7 seconds regardless of how many resources are loaded on the machine.
However, the 3+ seconds with a blank screen during the loading of the app is not acceptable. The Loading... message should not be dismissed until the Get started screen is displayed.
Also, the Get started button needs to be operational as soon

[2018-10-22 17:29] cckozie commented on #5237
@mannycolon Is there anyway for me to test this?

[2018-10-22 17:38] #5101 closed, assigned to richmahn

[2018-10-22 17:39] #5078 closed, assigned to richmahn

[2018-10-22 17:40] cckozie commented on #5036
@mannycolon - To try to test this I deleted the resources folder and then started tC.
In 1.0.2 (f005f02) it takes 78 seconds on my Mac which is exactly the same amount of time it takes when opening 1.0.0.
Is there another way to test this, or is it possible that the fix wasn't in the f005f02 build?

[2018-10-22 17:42] richmahn commented on #5133
Assigned to @PhotoNomad0 since he fixed it.

[2018-10-22 18:30] RoyalSix commented on #4559
@cckozie I believe the UST and ULT simply do not contain numbers in that verse. I was able to fix the word list

[2018-10-22 18:36] cckozie commented on #5237
No way to test directly.

[2018-10-22 20:54] #5294 closed, assigned to RoyalSix

[2018-10-22 20:56] #5229 closed, assigned to RoyalSix

[2018-10-22 23:13] cckozie opened #5298 "App hangs in wA"
1.0.0 (4bd6856)
This was reported by Larry. He was doing editing and aligning in Matthew. Per Larry, "I finished editing verse 7:11, and was waiting for it to let me go back to the alignment page. It hung waiting for the popup box telling me I had done edits and needed to realign. I waited about 30 seconds, and then closed tC. It hangs on me about every 12-15 verses when I am editing every verse o

[2018-10-23 14:38] cckozie commented on #5298
Ran this scripted test on 1.0.2 (f005f02) tracking the time for screen changes
1. Load Matthew project in wA
2. Align verse 15:1
3. Open expanded scripture pane
4. Change one word in verse 5:1 (I substitute 'some' and 'several' prior to 'Pharisees')
5. Align the changed word
6. Repeat steps 3-5
![image](https://user-images.githubusercontent.com/8171759/47569658-cba75e80-d8f9-11e8-9fee-0d74d6011c07

[2018-10-23 15:29] benjore opened #5300 "Create script to automatically tag all published NPM modules"
## Story Explanation
### User Story

As a Developer, I want npm modules automatically tagged with their version id at npm module build time so that I know what commit to include in tCore build.

### Features / Specifications

- [4] Figure out exhaustive list (11 modules)
- [1] Add script to each NPM module
- [10] Test build processing
- [1] PR Review

### Definition of Done

- [ ]
- [ ]
- [ ]

##

[2018-10-23 15:32] jobbyp opened #5301 "Uninstalling tC does not pop up warning window"
1. tC gets uninstalled even while the program is up and  running. Without any warning "You may loose your data or it can not uninstall because it is already running in the background", it just removes with a blink of an eye. The software instance that is already opened still remains on the same page, unchanged.
2. The file that the user is working on can be deleted even when tC is running without

[2018-10-23 15:54] benjore commented on #4884
Need more detail. What is the scope?

[2018-10-23 16:13] benjore opened #5302 "UI for Alignment Memory in tW tool"

[2018-10-23 16:19] benjore opened #5303 "Test that all functionality works with mock data (with exposed attributes)"
## Specs
- [ ]

[2018-10-23 16:20] benjore opened #5305 "Modify the import process to capture and expose the needed attributes"

[2018-10-23 16:21] #5305 closed, assigned to nobody

[2018-10-23 16:27] klappy commented on #5303
- Here is a Hindi USFM file that is aligned and has all x-verified attributes marked as false.
- Do a find-and-replace of the whole attribute key to turn them all true for further testing.
- Manually change some to true and false and observe the behavior.

[57-TIT-aligned.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2506964/57-TIT-aligned.usfm.zip)

[2018-10-23 17:37] cckozie commented on #5097
1.0.2 (a5a105b)
You missed the last requirement in the top comment. The popover background is not the same color as that of the Lexicon.
![image](https://user-images.githubusercontent.com/8171759/47379343-42591780-d6c0-11e8-95f2-50e0e2558c40.png)

![image](https://user-images.githubusercontent.com/8171759/47379355-4d13ac80-d6c0-11e8-9941-aa3f918b9f29.png)

[2018-10-23 17:55] #5269 closed, assigned to mannycolon

[2018-10-23 17:59] RoyalSix commented on #4559
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-macos-x64-1.0.2-a5a105b.dmg

[2018-10-23 17:59] cckozie opened #5306 "tW selections getting reset in error"
1.0.2 (a5a105b)

[53-1TH.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2507365/53-1TH.usfm.zip)

1. Import this project and load it in tW
2. Click on the group for Christ, Messiah
3. On each verse in the group, double click on 'Christ', click Save, then click Save & Continue
('Christ' does not appear in 2:7 because the verse is incomplete in the project)
4. Navigate back to

[2018-10-23 18:05] cckozie commented on #5292
We've decided to abandon 1.0.1

[2018-10-23 18:05] #5292 closed, assigned to nobody

[2018-10-23 18:24] da1nerd commented on #5298
[en_ult_mat_book_busted.zip](https://github.com/unfoldingWord-dev/translationCore/files/2507462/en_ult_mat_book_busted.zip)

[2018-10-23 18:31] #5137 closed, assigned to RoyalSix

[2018-10-23 18:31] #5156 closed, assigned to RoyalSix

[2018-10-23 18:32] da1nerd commented on #5097
Lines 48 and 52 in `src/GroupMenu/GroupMenu.styles.css` need to be updated to use the correct color.

[2018-10-23 19:01] da1nerd commented on #5097
Turns out I forgot to mark my styles changes as `!important` so they were not taking effect.

[2018-10-23 19:22] RoyalSix opened #5308 "[0] Optimize Tool View, and API Requires"

[2018-10-23 21:09] benjore commented on #5118
Yellow background or red?

Answer: orange... go figure

[2018-10-23 22:33] cckozie opened #5309 "App hangs or crashes when loading misidentified book in a tool"
1.0.2 (a5a105b)
Scenario A:
1. Import a Titus project
2. Click on the 3 dot menu for the imported project and select Edit Project Details
3. Change the book to Jude
4. Attempt to load the project in either wA or tW
App hangs with this error in the console:
![image](https://user-images.githubusercontent.com/8171759/47394790-ca9fe280-d6e9-11e8-861f-4895f07d8f9c.png)

Scenario B:
[53-1TH.usfm.zip](ht

[2018-10-23 22:48] cckozie commented on #5045
1.0.2 (a5a105b) - The rename workflow for the local project is triggered, but it is not triggered for the Door43 repo when projects from there are imported and the book is changed. (We probably do not need to be concerned about this. Checking with @benjore - He agrees)

[2018-10-24 12:52] cckozie commented on #5036
Tested with empty projects folder and no resources folder
1.0.0 (4bd6856) Time to Get Started - 87 seconds
1.0.2 (a18aef8) Time to blank screen - 83 seconds

[2018-10-24 13:42] PhotoNomad0 commented on #5097
@neutrinog  - I don't see a PR attached, so moving to in remediation.

[2018-10-24 14:00] PhotoNomad0 commented on #5140
@neutrinog - is not yet in the build.  You can either do a PR to tC, or wait for my PR to get merged which will include this tc-ui-toolkit fix.

[2018-10-24 14:11] #4943 closed, assigned to da1nerd

[2018-10-24 14:29] #5251 closed, assigned to PhotoNomad0

[2018-10-24 14:29] #5250 closed, assigned to PhotoNomad0

[2018-10-24 15:08] #5248 closed, assigned to bspidel

[2018-10-24 17:48] #5100 closed, assigned to richmahn

[2018-10-24 17:50] da1nerd commented on #5097
now connected!

[2018-10-24 17:57] da1nerd commented on #5140
@PhotoNomad0 it was brought into tC with this PR. see the attached builds. https://github.com/unfoldingWord-dev/translationCore/pull/5314

[2018-10-24 18:11] PhotoNomad0 commented on #5097
@cckozie - from @neutrinog  in PR

Here are the builds:

https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x32-1.0.2-a18aef8.setup.exe
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-a18aef8.setup.exe
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-macos-x64-1.0.2-a18aef8.dmg
https://tc-builds.door43.org/build/release-v1.0.2/tra

[2018-10-24 18:15] benjore commented on #5206
@cckozie This is the language code that caused this issue to be created `kan-x-palligaru`

[2018-10-24 18:19] PhotoNomad0 commented on #5140
@cckozie - Here are the builds:

https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x32-1.0.2-a18aef8.setup.exe
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-a18aef8.setup.exe
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-macos-x64-1.0.2-a18aef8.dmg
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-linux-x64-1

[2018-10-24 18:32] da1nerd commented on #5174
This is in the latest builds

https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x32-1.0.2-a18aef8.setup.exe
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-a18aef8.setup.exe
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-macos-x64-1.0.2-a18aef8.dmg
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-linux-x64-1.0.

[2018-10-24 21:41] benjore commented on #3195
Question: Should the button say `Refresh` or `Suggest`?

[2018-10-24 23:22] #5308 closed, assigned to RoyalSix

[2018-10-25 10:26] richmahn commented on #3087
- [ ] [1] Build word list in localization file
- [ ] [3] Write converter for Morphological string
- [ ] [3] Have lexicon card use morphological converter
- [ ] [2] Test case for Morphological converter and lexicon card
- [ ] [1] PR Review for #3087

[2018-10-25 10:27] richmahn opened #5320 "[0] Build word list in localization file"

[2018-10-25 10:27] richmahn opened #5321 "[0] Write converter for Morphological string"

[2018-10-25 10:27] richmahn opened #5322 "[0] Have lexicon card use morphological converter"

[2018-10-25 10:27] richmahn opened #5323 "[0] Test case for Morphological converter and lexicon card"

[2018-10-25 10:27] richmahn opened #5324 "[0] PR Review for #3087"

[2018-10-25 14:23] cckozie commented on #5140
Tested in 1.0.2 (b84794c) which is later than 1.0.2-a18aef8.deb.
Failure 1: The problem described in the top comment related to translationWords has not been fixed.
Failure 2: The fix appears to have broken the feature that closes the open group when the user clicks on the 'V' of the group name. Instead, it now leave the group open and activates the first element in the group. This is the case in

[2018-10-25 14:37] cckozie opened #5325 "Problems with scrolling the group menu when the cursor key are used to scroll it"
This problem was fixed in #5140 when using the menu scroll bar.
In Word Alignment tool:
1. Click on the bottom verse in the group menu (verse 17 on my Mac)
2. Click on the Alignment Complete switch
3. Click again on the bottom verse in the group men (to get focus on the menu)
4. Click the cursor down key
5. Click on the next verse (verse 18 on my Mac)
Notice that the active verse is now no longer

[2018-10-25 14:59] cckozie commented on #5097
In the latest build, 1.0.2 (b84794c), the popovers do not show at all.
Not sure what is happening here. I closed and reopened the project and now I see them. It appears that they do not appear for selections made during the current session of the project in tW.
After more testing I can't really find a pattern for when they show and when they don't.
![image](https://user-images.githubusercontent.co

[2018-10-25 15:24] cckozie opened #5326 "Check mark is not persisted for saved selections when there are multiple instances of check in same verse"
1.0.2 (b84794c)
This has been broken post the 1.0.0 release

[en_test_rom_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2515637/en_test_rom_book.zip)
1. Open the attached project in tW
2. Make selections for each of the verses under 'authority..' and click Save, then Save & Continue
3. Note that the check mark is displayed for each of the verses
4. Navigate back to the tools

[2018-10-25 16:07] cckozie commented on #5187
Test language code: kan-x-palligaru

[2018-10-25 17:06] RoyalSix commented on #5160
In build https://tc-builds.door43.org/build/release-v1.0.2/translationCore-macos-x64-1.0.2-b84794c.dmg

[2018-10-25 17:19] PhotoNomad0 commented on #5048
Verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-3943b93.setup.exe

[2018-10-25 17:22] PhotoNomad0 commented on #5233
Verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-3943b93.setup.exe

[2018-10-25 18:25] da1nerd commented on #5097
@cckozie those errors in the screenshot are unrelated to this popup. Also I tested the popup and could not replicate it not displaying. I used the same version of the application as you.
@neutrinog It may not be related, but every time the popups are not being displayed I see those error in the console.

[2018-10-25 18:40] PhotoNomad0 commented on #5097
@cckozie - Testing on windows, I Opened up the aligned EN ULT of Romans.  I am getting the error of the popup not showing Romans.  Using latest 1.0.2 (3943b93).  @neutrinog

[2018-10-25 19:01] PhotoNomad0 commented on #5097
@cckozie @neutrinog - testing on mac (same build 1.0.2 (3943b93)), the popups are working!  But not for WIndows.

[2018-10-25 19:28] #5270 closed, assigned to mannycolon

[2018-10-25 19:28] #5271 closed, assigned to mannycolon

[2018-10-25 19:30] cckozie commented on #5097
On Mac
1. Import this project [41-MAT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2516431/41-MAT.usfm.zip)
2. Open in tW
3. Navigate to and open the 'forgive...' group
4. Click on the first instance of 6:14 in the menu (do not select anything)
5. Click on the first instance of 6:15 in the menu
6. Drag to select the words 'not forgive their trespasses'
7. Click Save
8. Hove

[2018-10-25 19:42] PhotoNomad0 commented on #5097
@cckozie @neutrinog - But even in Titus on Mac, popups work initially and then stop working after moving around to different words.

[2018-10-25 20:33] jobbyp commented on #5219
![image](https://user-images.githubusercontent.com/38230054/47528688-d61f1500-d873-11e8-873a-3bca7efcc823.png)

This is the error that I am getting still

[2018-10-25 20:50] benjore commented on #5048
Is this the same as #5287?
Yes, I closed it.

[2018-10-25 20:56] jobbyp opened #5328 "translationCore multiple instances run simultaneously"
![image.png](https://images.zenhubusercontent.com/5bbcda0c3da0ca1ec7638ecf/4839e143-7143-4c77-8f94-1efed8b1cb76)

One can run as many tC instances at the same time without issuing any warning and I think it runs independently of each other. Not sure if you guys have come across this before

[2018-10-25 21:26] jobbyp opened #5329 "does not install 32 application in 64bit Processor"
![image.png](https://images.zenhubusercontent.com/5bbcda0c3da0ca1ec7638ecf/7b5c1fd6-8a99-4d3f-b6c1-ab811b23c0bd)

[2018-10-25 21:37] da1nerd commented on #5097
ok thanks. I was able to reproduce and fix it.

[2018-10-25 21:39] da1nerd commented on #5097
Rather than having multiple PRs I have a [single PR](https://github.com/translationCoreApps/tc-ui-toolkit/pull/87) addressing this issue and https://github.com/unfoldingWord-dev/translationCore/issues/5140

[2018-10-25 21:44] cckozie commented on #4688
Fixed in 1.0.2 (3943b93)

[2018-10-26 00:43] da1nerd commented on #5298
@cckozie could you run your test script again but this time copy **everything** from the console and post it here in a file? I need a log of all the actions that are being performed so I can determine if there is a race condition.

[2018-10-26 13:34] cckozie commented on #5298
@neutrinog With the current build there is nothing other than the usual 'unexpected file found in target' and 'checker is not a function' messages in the console when the app slows to a standstill running either of the scripts.
I'd suggest the best route may be to manually go through the steps outlined in the second comment above. On my Mac it seems to alway take about 21 iterations to get to a fa

[2018-10-26 14:42] benjore opened #5331 "Have tC open in the same dimensions it was closed"
## Story Explanation
### User Story

As a user, I want tC to open to the same size window I closed it in so that I don't have to waste time resizing it every time I open tC.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-10-26 14:43] PhotoNomad0 opened #5332 "Sometimes there is a missing chapter in WA tool"
## Story Explanation
### User Story
Larry would like to align all his EN ULT Mat chapters, but Chapter 11 was missing in WA tool.

- it would be good to not lose chapters.  _This may have been fixed in 1.0.2 (issue to prevent writing alignment data until all alignment data was loaded)._
- should warn user when chapter cannot be loaded in WA.

## Additional Context

Chapter 11 verses were present,

[2018-10-26 15:04] #5249 closed, assigned to bspidel

[2018-10-26 15:58] benjore opened #5334 "Update Statement of Faith"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Should be the same as https://unfoldingword.bible/faith/
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-10-26 16:45] #5240 closed, assigned to mannycolon

[2018-10-26 16:47] da1nerd commented on #5298
I did but was unable to reproduce it.

[2018-10-26 16:47] mannycolon commented on #5219
@jobbyp @cckozie That's a warning, not an error. Does the selection persist now without the problems reported above?

[2018-10-26 17:15] PhotoNomad0 commented on #5063
@cckozie -
Tested in:
https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-b2239db.setup.exe

Need to delete resources first before testing.

Check testing steps in https://github.com/unfoldingWord-dev/translationCore/pull/5307 to see what issues fixed and content issues not fixed by this PR.

[2018-10-26 18:23] jobbyp commented on #5219
Yes it does If you have fixed it I will go an recheck

On Fri, 26 Oct 2018 at 12:48, Manny Colon <notifications@github.com> wrote:

--
Jobby Prasannan

[2018-10-26 19:00] PhotoNomad0 opened #5335 "translationWords selections are not being saved to index files in v1.0.2"
## Story Explanation

this is blocking https://github.com/unfoldingWord-dev/translationCore/issues/4416

## QA
 ### Fails
 - [ ] progress on tW tool card no longer works - it reads selection status in tW index files and selection status is not being updated in the index files anymore.

## Additional Context

- this worked in v1.0.0 - maybe was broken during optimization?
- seems to be issue in sav

[2018-10-26 19:34] jag3773 commented on #5134
@benjore If possible, it would be much better to pull in https://github.com/eliranwong/unabridged-BDB-Hebrew-lexicon .

[2018-10-26 21:01] cckozie commented on #5298
@neutrinog I just reproduced it first try doing all of the work manually instead of my script and again it took 22 iterations for the app to become unusable (30+ to respond to clicks).
This is something that needs to be fixed for 1.0.2, so if you are not able to fix it, please pass along whatever thoughts you have to someone else on the team that you think is most capable of taking it on.

[2018-10-26 22:34] da1nerd commented on #5298
@cckozie ok I've identified it as being a memory leak. Still hunting down the source. Could be anywhere at this point.
The application was consuming 10GB of memory on my system after repeated edits.

[2018-10-26 22:53] da1nerd commented on #5298
I have simplified the reproduction of this issue. Simply repeatedly opening and closing the expanded scripture pane will cause the application to freeze after about 20 iterations.

I've replicated this in both wA and tW.

The top level function being called is `getBiblesWithHighlightedWords` inside `tc-ui-toolkit/src/ScripturePane/helpers/bibleHelpers.js`

[2018-10-26 23:43] da1nerd commented on #5298
Memory leak seems to be focused around the `verseArray` function.

[2018-10-27 00:43] da1nerd commented on #5298
I think I've narrowed it down to this.
For some reason jsx is not getting garbage collected when added to an array even when the array is thrown away.

e.g.
[code]

if I generate an array of say 50 jsx objects and then throw it away I obviously consume a certain amount of memory.
If I then perform the above operation 10000 times I "should" use about the same amount of memory (depending on when GC

[2018-10-29 12:05] PhotoNomad0 commented on #5140
@neutrinog - it looks like the tc-ui-toolkit is up to 0.11.4 in 1.0.2.  So this should be in.  Just need to verify in recent build.

[2018-10-29 12:07] PhotoNomad0 commented on #5097
@neutrinog - I think this is in 1.0.2 now - just needs to be verified that it is in the latest build.

[2018-10-29 12:46] cckozie commented on #5160
1.0.2 (8c6f266) App loads in 26 seconds. No blank screen displayed.

[2018-10-29 12:50] cckozie commented on #4559
Works in 1.0.2 (8c6f266) (ULT and UST are missing the number in their texts)

[2018-10-29 12:54] cckozie commented on #5219
Works in 1.0.2 (a5a105b). Not concerned about warning messages in console.

[2018-10-29 12:56] cckozie commented on #5228
Works in 1.0.2 (a5a105b)

[2018-10-29 12:57] cckozie commented on #4951
Works in 1.0.2 (f005f02)

[2018-10-29 12:59] cckozie commented on #4343
Works in 1.0.2 (a5a105b) 

[2018-10-29 13:00] cckozie commented on #5045
Works in 1.0.2 (a5a105b) 

[2018-10-29 13:01] cckozie commented on #4940
Works in 1.0.2 (f005f02) .

[2018-10-29 13:03] cckozie commented on #5187
Works in 1.0.2 (f005f02)

[2018-10-29 13:04] cckozie commented on #4263
Works in 1.0.2 (a18aef8)

[2018-10-29 13:05] cckozie commented on #4822
Works in 1.0.2 (f005f02)  for URLs referencing the USFM files. There is still a problem with the URL referenced in the first comment above.

[2018-10-29 13:07] cckozie commented on #5117
Works in 1.0.2 (f005f02)

[2018-10-29 13:09] cckozie commented on #5277
Works in 1.0.2 (f005f02)

[2018-10-29 13:09] cckozie commented on #5133
Works in 1.0.2 (b84794c)

[2018-10-29 13:12] cckozie commented on #5036
Works in 1.0.2 (f005f02)

[2018-10-29 13:27] cckozie commented on #5266
1.0.2 (8c6f266) The warning text now appears but is not italicized. There is an existing issue for this, #4920.

[2018-10-29 13:31] cckozie commented on #5286
Works in 1.0.2 (8c6f266)

[2018-10-29 13:31] PhotoNomad0 commented on #5298
@neutrinog - in other places we just store the text in an array, not the jsx.  Maybe we could make that change here?

[2018-10-29 13:35] cckozie commented on #5287
Dup of #5048

[2018-10-29 13:35] #5287 closed, assigned to nobody

[2018-10-29 13:36] cckozie commented on #5048
Works in 1.0.2 (8c6f266)

[2018-10-29 13:39] PhotoNomad0 commented on #5298
Also thinking adding the jsx in the array makes the array huge.

[2018-10-29 13:55] PhotoNomad0 commented on #5097
@cckozie - popups and truncation are working for me.  Tested windows build:

https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-8c6f266.setup.exe

[2018-10-29 13:57] PhotoNomad0 commented on #5140
@neutrinog @neutrinog - I tried to verify that this is in the current build, but didn't know how to test `Failure 1: The problem described in the top comment related to translationWords has not been fixed.` listed above

[2018-10-29 17:36] PhotoNomad0 commented on #5259
Checked with Tested with https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-0159185.setup.exe

[2018-10-29 17:59] #5102 closed, assigned to PhotoNomad0

[2018-10-29 18:01] RoyalSix opened #5338 "[0] Fix Tool Ordering"

[2018-10-29 18:21] PhotoNomad0 commented on #3087
Verified in build https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-5ebb84f.setup.exe

[2018-10-29 18:30] cckozie commented on #5140
I've consolidated the current issues here. Now testing with  1.0.2 (0159185)
Failure 1:
translationWords:
The same problem (selected element not in view) exists when the user clicks Save & Continue after making a selection on the last menu element on the screen.
In that case, the menu should be scrolled down just enough so that the selected check remains at the bottom of the visible menu.
After ma

[2018-10-29 18:32] PhotoNomad0 commented on #5335
@cckozie - verified in build https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-5ebb84f.setup.exe

For testing, you will have to open tw first before index files get updated from checkdata.  After that you should see progress on tw tool card for any selections that were made.

[2018-10-29 18:43] bspidel opened #5339 "Fix progress bar in word Alignment where "Alignment Complete" is used."
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

Word alignment progress indicator does not take "Alignment Complete" toggles into account.

### Steps to Reproduce

1. Im

[2018-10-29 19:03] bspidel commented on #4416
This bug is fixed as part of #5335 which is merged with 1.0.2

[2018-10-29 19:05] #5338 closed, assigned to RoyalSix

[2018-10-29 19:07] cckozie commented on #4416
The project attached to the first comment still shows 99% in 1.0.2 (5ebb84f)

[2018-10-29 19:48] RobH123 commented on #5051
Looking at http://ubsicap.github.io/usfm/milestones/index.html, it seems that the \zaln-s milestones outputted by tC should be self-closing, i.e., end with \\* like the \zaln-e milestones already do.

[2018-10-29 19:49] #5320 closed, assigned to richmahn

[2018-10-29 19:49] #5321 closed, assigned to richmahn

[2018-10-29 19:49] #5322 closed, assigned to richmahn

[2018-10-29 19:49] #5323 closed, assigned to richmahn

[2018-10-29 19:51] #5252 closed, assigned to richmahn

[2018-10-29 19:51] #5283 closed, assigned to bspidel

[2018-10-29 19:51] #5282 closed, assigned to bspidel

[2018-10-29 19:52] #5324 closed, assigned to PhotoNomad0

[2018-10-29 20:19] cckozie commented on #5174
It is either fixed or WAY better in 1.0.2 (5ebb84f)

[2018-10-29 20:25] cckozie commented on #5335
Works in 1.0.2 (5ebb84f)

[2018-10-29 20:33] cckozie commented on #5259
Works in 1.0.2 (5ebb84f)

[2018-10-29 20:45] cckozie commented on #5097
1.0.2 (5ebb84f)
I'm not sure that the popup should show when the selection has not been truncated, but since that was not clearly defined in the requirements I'm going to pass it anyway.

[2018-10-29 20:54] cckozie opened #5340 "In tW, the selected text displayed in the group menu does not use ellipsis to signify skipped words"
1.0.2 (5ebb84f)
In the check pane instructions, ellipses are used to denote missing words between selected words. They are not shown in the group menu. It seems like we should be consistent and add the ellipses to the group menu. Or would that be too confusing given that we use ellipsis to signify truncation?

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/44d4a568-ef77

[2018-10-29 23:58] cckozie commented on #5233
I assume Ben meant give it a transaction id of UST, not nickname.
Works in 1.0.2 (5ebb84f)

[2018-10-30 00:09] cckozie opened #5341 "Adding text to the end of a verse via editing in tW generates an alignments invalidated message"
1.0.2 (5ebb84f)
Add some text to the end of a partially aligned verse using the expanded scripture pane in tW. When the edit is saved notice that the alignments invalidated message is displayed.

[2018-10-30 00:24] cckozie opened #5342 "groupId, groupName, occurrence, and quote columns are all blank in the VerseEdits CSV export file"
1.0.2 (5ebb84f)
Is that the desired behavior?

[2018-10-30 10:13] PhotoNomad0 commented on #5140
@cckozie @benjore  - OK here is how I understand the group navigation should behave:

- on click of menu title:
  - if not the active group, select group and expand
  - if it is the active group, make sure it's expanded and select first element

- on click of the expand icon:
  - if not the active group, select group and expand group
  - if it is the active group, expand group

- on click of the c

[2018-10-30 11:49] cckozie commented on #5140
@PhotoNomad0 - There is one change to your description that will make it work as it did in the past: Whenever the user clicks on a group name, regardless of whether or not it is currently expanded, the first element of the group should be activated.

[2018-10-30 13:19] cckozie commented on #4779
@richmahn - Can you describe what the 'migration to update the gaps' does?
Does the app use Git to get visibility into external edits that were performed before the upgrade to 1.0.2? I don't believe I'm seeing any of those pre 1.0.2 edits getting logged to the CSV file.

[2018-10-30 13:50] cckozie commented on #3087
1.0.2 (5ebb84f)
There are missing translation keys
![image](https://user-images.githubusercontent.com/8171759/47722601-c8c1ac00-dc20-11e8-9c5f-e868d18f0795.png)

![image](https://user-images.githubusercontent.com/8171759/47722630-d4ad6e00-dc20-11e8-9da8-b15e25801f76.png)

[2018-10-30 14:11] PhotoNomad0 commented on #5140
@cckozie  - to clarify, if the current group is already expanded, when you click on the group title, you want the selected item to be changed to the first element?
@PhotoNomad0 - Yes. That is the way it worked in 1.0.0.

[2018-10-30 15:28] PhotoNomad0 commented on #5140
### Note
~Worked with Kos and made one difference from above.  Due to quirks in React scrollIntoView(), made change that when scrolling up will scroll item to top of screen instead of just at bottom of screen.~

Was able to get it to work - turned out it was not a react problem, but chromium problem that our older version of chromium does not support options in scrollIntoView() and was able to get

[2018-10-30 15:28] jobbyp opened #5343 "tC 32 bit Installer does not run on 64 bit processor"
![image](https://user-images.githubusercontent.com/38230054/47729756-23fe9900-dc37-11e8-89d9-54c511a32163.png)

The installer (translationCore-win-x32-1.0.2-0159185.setup) does not install the application in a 64 bit processor even with a 32bit OS.

_Originally posted by @jobbyp in https://github.com/unfoldingWord-dev/translationCore/issues/5130#issuecomment-434335955_

[2018-10-30 15:29] richmahn commented on #3087
Isn't this something for Crowdin to provide?

[2018-10-30 15:35] cckozie commented on #5130
Per Jobby it works in 1.0.2 (5ebb84f)). He's creating a separate issue for being unable to install 32 bit on 64 bit machine.

[2018-10-30 15:36] #5237 closed, assigned to mannycolon

[2018-10-30 15:40] #5228 closed, assigned to mannycolon

[2018-10-30 15:40] #4951 closed, assigned to PhotoNomad0

[2018-10-30 15:42] #5187 closed, assigned to da1nerd

[2018-10-30 15:43] #5277 closed, assigned to da1nerd

[2018-10-30 15:45] #5036 closed, assigned to mannycolon

[2018-10-30 15:46] #5266 closed, assigned to mannycolon

[2018-10-30 15:46] #5286 closed, assigned to mannycolon

[2018-10-30 15:47] #5335 closed, assigned to PhotoNomad0

[2018-10-30 15:49] #5130 closed, assigned to da1nerd

[2018-10-30 16:08] benjore opened #5344 "[0] SPIKE: optimize initial tC loading"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-10-30 16:56] jag3773 commented on #5202
Resource is available in the catalog (see https://git.door43.org/Door43-Catalog/hbo_uhb).  The subject is listed as `Hebrew Old Testament`, which is the subject endpoint that tC should look to.

[2018-10-30 17:35] PhotoNomad0 commented on #5051
@RobH123 @benjore @cckozie @jag3773  - Good catch, that should have been caught when we were in spec phase.  If implemented now, would be a bit painful.  We could maintain backwards compatibility on USFM3 import of older projects.  But it could break USFM3 imports of fixed format into older versions of tCore.

[2018-10-30 17:51] cckozie commented on #5043
1.0.2 (5ebb84f)
This was with a good Internet connection.
Started with only base resources. I did a download all and received the failure message. This was in the console. There were no gu resources in the resources folder. When I went back to the update content selection screen I see that both gu and ur-deva are still available for download.
![image](https://user-images.githubusercontent.com/8171

[2018-10-30 18:56] #5067 closed, assigned to nobody

[2018-10-30 18:56] #5093 closed, assigned to RoyalSix

[2018-10-30 18:56] #5160 closed, assigned to RoyalSix

[2018-10-30 18:56] #5206 closed, assigned to bspidel

[2018-10-30 18:56] #4559 closed, assigned to RoyalSix

[2018-10-30 18:57] #4343 closed, assigned to mannycolon

[2018-10-30 18:57] #5219 closed, assigned to mannycolon

[2018-10-30 18:57] #5045 closed, assigned to RoyalSix

[2018-10-30 18:57] #4940 closed, assigned to da1nerd

[2018-10-30 18:57] #5133 closed, assigned to PhotoNomad0

[2018-10-30 18:57] #5048 closed, assigned to PhotoNomad0

[2018-10-30 18:57] #5174 closed, assigned to da1nerd

[2018-10-30 18:58] #5259 closed, assigned to da1nerd

[2018-10-30 19:05] #4688 closed, assigned to PhotoNomad0

[2018-10-30 19:05] #5097 closed, assigned to da1nerd

[2018-10-30 19:05] #5117 closed, assigned to mannycolon

[2018-10-30 19:05] #5233 closed, assigned to bspidel

[2018-10-30 19:15] jag3773 commented on #5202
Available at https://api.door43.org/v3/subjects/Hebrew_Old_Testament.json .

[2018-10-30 19:16] #5202 closed, assigned to jag3773

[2018-10-30 19:18] jag3773 commented on #1717
Available at https://api.door43.org/v3/subjects/Hebrew_Old_Testament.json .

[2018-10-30 19:28] benjore opened #5347 "In the Verse Edit box, show USFM tags before (not after) the verse"
## Story Explanation
### User Story

As a verse editor, I want the USFM tags before the verse to show up in the verse so that the tags associated with that verse show up with the correct verse (not the preceding verse).

### Features / Specifications

- [ ] For USFM tags that tag up their own line (e.g. `\p`, `\s5` etc), the tags preceding the verse should be shown in the verse, and the tags follo

[2018-10-30 19:40] benjore opened #5348 "Update book name after editing project details to change book name"
Bug Report

## Situation

After editing the details of a project and changing the book, the file name and book code change, but the book name does not.

## Screenshot
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/e5fadd70-e68d-458a-83c1-20d2204335b5)
Notice: `(jas)` (for James) is correct, but the book name `Tite` is still the old book name (Titus, not James).

Using `

[2018-10-30 19:51] cckozie opened #5349 "Some of the performance improvements have been lost"
1.0.2 (5ebb84f)
Fully aligned Acts, minimum resources:
Load in wA - 10 seconds
Load in tW - 6 seconds

Fully aligned Acts, all resources:
Load in wA - 12 seconds
Load in tW - 13 seconds

Fully aligned Matthew, all resources:
Load in wA - 24 seconds
Load in tW - 28 seconds

In 1.0.2 (f005f02) tool loading was ~7 seconds even with all available resources on on the machine.
We are now short of our 7

[2018-10-30 20:07] cckozie commented on #4779
The new external verse edits are logs.
External edits made prior to 1.0.2 are not.

[2018-10-30 20:07] richmahn commented on #4779
Fail this. We didn't get the migrations in. My fault.

[2018-10-30 21:09] cckozie commented on #5063
1.0.2 (5ebb84f)
Tested per #5307. Mat 4:6 and 8:32 are now good.

[2018-10-31 10:44] PhotoNomad0 opened #5351 "Cannot persist selection for God in TW Mat 15:6"
## Story Explanation
### User Story

As a checker, I want to be able to save all my selections and have them persist.  But Mat 15:6 gets invalidated when I re-enter tW.

## Additional Context

To reproduce:
- load project `https://git.door43.org/lrsallee/en_ult_mat_book`
- open tW and select `God` and make selection for Mat 15:6 and click `save` and `save continue`
- exit tW and select a different

[2018-10-31 13:33] bspidel commented on #4416
The problem is not that the app cannot display 100%. The problem has two parts. First, There is an error in the ugnt in that in one version there were 2 keywords live and life but now there is a combined keyword containing life and live. There is no longer a separate article for live.

The second part of the problem is that some projects have an index that reflects the former version whose index c

[2018-10-31 13:33] #5279 closed, assigned to bspidel

[2018-10-31 18:02] #4822 closed, assigned to PhotoNomad0

[2018-10-31 18:35] #5281 closed, assigned to bspidel

[2018-10-31 18:36] #5280 closed, assigned to bspidel

[2018-10-31 18:44] bspidel opened #5354 "UGNT content change resulted in projects with invalid checks."
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

[In pursuit of #4416, it was discovered that while the progress bar can indicate 100%, some projects have a check that do

[2018-10-31 18:46] bspidel commented on #4416
Koz agreed to close this story as the problem is not the ability to indicate 100% progress. A new story #5354 has been issued to upgrade project migrations.

[2018-10-31 18:46] #4416 closed, assigned to bspidel

[2018-10-31 19:30] cckozie commented on #5051
Because of the volume of tags that need to be tested, I am writing up new issues to fix problems I'm finding rather than delay having the fixes worked on until I have tested it all to my satisfaction. I'll attach them as children to this issue.

[2018-10-31 19:43] cckozie opened #5356 "In some instances tC is incorrectly adding usfm closing tags, deleting opening tags, and deleting text"
1.0.2 (8af364e)
--Imported text A:
\im The most important document in the history of the English language is the \bk King James
Version\bk* of the Bible...
--Exported textA: (Notice extra \bk* tag)
\im The most important document in the history of the English language is the
\bk King James Version\bk*
\bk* of the Bible..

--Imported text B:
\ili 1 \k The Messiah\k* is the one promised by God, the

[2018-10-31 20:05] PhotoNomad0 commented on #5140
Tested in build: https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-f3e86ca.setup.exe

[2018-11-01 11:41] PhotoNomad0 commented on #5356
@cckozie - good test cases that expose the limitations of our method of saving headers in simplified format with each tag on a new line.  Putting these into our unit tests.

[2018-11-01 14:11] RoyalSix opened #5358 "[0] Fix Memory Leak"

[2018-11-01 14:43] #5358 closed, assigned to RoyalSix

[2018-11-01 15:57] richmahn commented on #3087
Ok, now has Hindi translations and the English substantive_adj key fixed.

[2018-11-01 15:58] #5329 closed, assigned to nobody

[2018-11-01 16:35] cckozie commented on #3087
1.0.2 (f3e86ca)
It looks like the translation key problem has been fixed.
However, when the user has wA open and then changes the locale, the language is changed in the Greek popup in the alignment area, but not in the scripture pane. If the project is reopened in the tool, then the proper language appears in the popups in both places.

![image](https://user-images.githubusercontent.com/8171759/47

[2018-11-01 17:01] cckozie commented on #5140
In wA it now scrolls the selected issue to the bottom when there should not be any scrolling. Per first comment above: 'When the user manually scrolls the menu, it should stay in that position until the user moves it.'
[scrolling wa.zip](https://github.com/unfoldingWord-dev/translationCore/files/2539350/scrolling.wa.zip)

[2018-11-01 18:19] PhotoNomad0 commented on #4263
@cckozie - broke verse edit in tW - new lines were being stripped out.

[2018-11-01 18:24] #5274 closed, assigned to mannycolon

[2018-11-01 18:36] cckozie commented on #3087
1.0.2 (f3e86ca)
It looks like the translation key problem has been fixed.
I am moving the problem in the previous comment to a new issue since it was an existing bug (#5361).

[2018-11-01 18:38] cckozie opened #5361 "The text on the Greek popups in the scripture pane do not get updated when the locale is changed"
1.0.2 (f3e86ca)

When the user has wA open and then changes the locale, the language is changed in the Greek popup in the alignment area, but not in the scripture pane. If the project is reopened in the tool, then the proper language appears in the popups in both places.

![image](https://user-images.githubusercontent.com/8171759/47865130-6821a300-ddc9-11e8-9f9b-c55bb68bd459.png)

![image](https:/

[2018-11-01 19:11] PhotoNomad0 commented on #4263
Verified fix in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-2950c03.setup.exe

[2018-11-02 18:30] PhotoNomad0 commented on #5140
@cckozie - Found that toggling the alignments complete button caused a screen redraw which in turn scrolls the selected item.  Didn't see an easy solution, so handed off to @mannycolon to see if he could find a solution.

[2018-11-02 20:34] richmahn commented on #4779
@cckozie When this is back in QA, see the PR test steps for what migration was possible, making sure at least any verseEdits were updated if existing verseEdits were out of sync with the current text: https://github.com/unfoldingWord-dev/translationCore/pull/5366

[2018-11-03 12:18] PhotoNomad0 commented on #5298
@cckozie - tested with https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-36c4430.setup.exe

Edited all of Mat 1, and didn't see any slowdowns.  But I'm sure you have better tests.

[2018-11-05 11:42] PhotoNomad0 commented on #5184
@benjore - at a minimum, we should update the release notes with above work-around.

Long term we have a couple of options:
- drop the suggestion of installing this other version of git altogether since not being used at all.  Instead we just give recommended steps to restore the git.  Unfortunately the second step requires having admin privileges.
- update the tCore build process to add the insta

[2018-11-05 11:50] PhotoNomad0 commented on #5184
@cckozie - any thoughts ^^^

[2018-11-05 12:02] PhotoNomad0 commented on #5356
@cckozie - verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-ac3d66a.setup.exe

[2018-11-05 14:58] PhotoNomad0 commented on #5285
@benjore - trying to remember the context of this.  Was this related to having multiple release branches and making sure we don't pull in updated dependencies that are for a newer release?

Also we have the challenge that often we get multiple versions of a dependency in tCore.  For example tCore may have multiple versions of usfm-js module in tCore - since tCore, tc-ui-toolkit, word-aligner, tc-s

[2018-11-05 15:21] PhotoNomad0 commented on #5285
One option for searching for duplicate packages:
- install tool using: `sudo npm install -g find-duplicate-dependencies`
- do `rm -rf node_modules` and `npm ci`
- run tool: `find-duplicate-dependencies`
- run `npm dedupe` (can be very slow)
- again run tool: `find-duplicate-dependencies`

Putting this in script

[2018-11-05 15:59] cckozie opened #5370 "% complete on word alignment card always shows 0%"
1.0.2 (36c4430)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/6fef17c2-8374-44e5-b767-65b7cd8079ac)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/af01cc71-b754-435e-8e15-f6a95ddbbf7c)

[2018-11-05 17:28] RoyalSix opened #5371 "[2] Trace Bug Cause"

[2018-11-05 17:29] RoyalSix opened #5372 "[0] Fix Progress Incorrect Value"

[2018-11-05 17:40] cckozie commented on #5298
1.0.2 (ac3d66a)
I'm not seeing any difference in this build.
With the project open and some alignments done, the highest memory usage of any of the translationCore helpers is 248MB. When the app appears to hang, it goes to 2.2GB.
Ignore the 'Reset time' in this list. It is 0 now that we have the check box to not show the invalidated alignments alert.
Note that the test process described to create

[2018-11-05 18:02] RoyalSix opened #5373 "Alignment Complete Toggle Does Not Always Work"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [X] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
The alignment complete toggle does not switch on.

### Steps to Reproduce

1. Load a fresh project, open wA
2. Use every w

[2018-11-05 18:14] RoyalSix commented on #5370
@cckozie I found there is an issue with counting "Alignment complete" toggled checks.
Do you know if these checks were completed by the toggle or they actually have the word list and every Greek word aligned?

[2018-11-05 18:20] cckozie opened #5374 "Scenarios where Alignment Complete fails to automatically get set"
1.0.2 (ac3d66a)
SCENARIO A:
1. Load a Matthew project and align verse 15:7 as shown here:
![image](https://user-images.githubusercontent.com/8171759/48017749-b6e67a00-e0f4-11e8-82a6-193e73c334e8.png)
2. Drag the word 'said' to the Greek word 'Ἠσαΐας'
3. Drag the word 'he' to the Greek word as shown below
Note that the alignment complete does not get set.
![image](https://user-images.githubusercont

[2018-11-05 18:26] cckozie commented on #5370
@RoyalSix As I mentioned on the tread about this in the channel, the % complete on the tool card is not related to the alignment complete switch or the check marks. It is the number of words in the book that are aligned compared to the total number of words in the book. (The number of words is the count of both target language and Greek words)

[2018-11-05 18:28] RoyalSix commented on #5370
@cckozie Ok. So theoretically if I went through and didn't align a single word but switched all the toggles to complete, then I should have 0% complete in the tool card?

[2018-11-05 18:55] cckozie commented on #5370
@RoyalSix Yes, that is correct. Weird, but correct:)

[2018-11-05 19:26] cckozie commented on #5373
This is the same issue as #5374 where there is a better description on how to replicate the problem. The steps outlined above do not always cause a failure.

[2018-11-05 19:26] #5373 closed, assigned to nobody

[2018-11-05 20:07] PhotoNomad0 commented on #5370
@cckozie - testing with https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-ac3d66a.setup.exe  on windows.

It has about 12 projects with some alignments, and all of those seem to be showing about the right progress on the wa toolcard.  Can you send me a broken project or information to reproduce?

[2018-11-05 20:11] PhotoNomad0 commented on #5370
Oops, posted wrong number above, fixing.

[2018-11-05 20:20] cckozie commented on #5356
Works in 1.0.2 (ac3d66a)

[2018-11-05 20:22] benjore commented on #2009
All from original description:

- [ ] translationNotes - Figures of Speech
- [ ] translationNotes - Grammar
- [ ] translationNotes - General

### What needs to be learned
- [ ] What to do when there is no tA article
- [ ] What to do with General Information & Connecting Statement checks
- [ ] What to do with links to [dead] cross references, links, blank articles

### Blocker
- [x] Need: Original

[2018-11-05 20:26] cckozie commented on #5370
@PhotoNomad0
[en_joel_mat_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2550477/en_joel_mat_book.zip)

[2018-11-05 20:33] cckozie commented on #5370
@PhotoNomad0 I also now tested with a new Titus project. I fully aligned 3 verses. Went to the Tools page and see 7% complete. Went back to the 3 verses and unaligned 1 word in each. Now seeing 0% on the wA tool card.

[2018-11-05 20:50] cckozie commented on #4263
No problems found in 1.0.2 (ac3d66a)

[2018-11-05 21:15] cckozie commented on #5370
Here's the one from the screenshot. Note that the difference may be that in the tool it counts it as aligned if the Alignment Complete switch is on. On the tool card it doesn't count those unless all the words are aligned.
[en_tttt_rom_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2550651/en_tttt_rom_book.zip)

[2018-11-05 21:39] PhotoNomad0 commented on #5370
On the WA toolcard progress, it currently counts verses as all aligned or nothing - this is how it has been for a long time.

Also it is not aware of the complete toggle - that was a later addition not yet factored in.

[2018-11-05 21:54] cckozie opened #5377 "Reference data missing in VerseEdits file of CSV export"
The following columns are blank in all cases (regardless of where the edit was made):
gateway Language Quote
groupId
groupName
occurence
quote

[2018-11-05 22:16] cckozie opened #5378 "Edits made outside of tC should not show a tool name for the edit in the CSV file"
It appears that they now all show 'wordAlignment' as the tool for edits made externally. The tool should probably be blank in those cases. We may want to add another column to indicate an external edit (or we could put something like 'external edit' in the tool column).

## Specs
- [ ] Show `[External edit]` in the tool column

[2018-11-05 22:17] cckozie commented on #4779
1.0.2 (ac3d66a)
Edits made in 1.0.0 are propagated to 1.0.2.
In 1.0.2, edits made external to the tool are logged when the project is reimported.

[2018-11-05 22:19] PhotoNomad0 commented on #5140
@cckozie - tested in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-7ccb0dc.setup.exe

Just a quick fix to scroll to the top of the screen when off the screen.  Seems to be better, but still scrolls sometimes when it should not.  At least now does not scroll to bottom of screen.

[2018-11-05 23:20] cckozie opened #5379 "In wA, when the user scrolls the group menu, the app should not automatically scroll it to another place."
This is a follow-on to #5140 which was passed without being completed in order to get 1.0.2 released.
When the user scrolls the group menu in word alignment, it the menu should not be moved/scrolled again until the user moves it. Currently it jumps around based on where it is set and what happens with the Alignment Complete switch.

[2018-11-05 23:22] cckozie commented on #5140
1.0.2 (7ccb0dc)
Scrolling in tW works ok.
Scrolling in wA still has issues. Created new issue #5379 for these problems and passing this one so that we don't hold 1.0.2.

[2018-11-06 16:25] #5371 closed, assigned to RoyalSix

[2018-11-06 16:59] mannycolon commented on #2009
Reference: https://github.com/translationCoreApps/tC_Resources/tree/master/resources/en/translationHelps/translationNotes/v0

## Index file sample (Previously used)

[code]

## Previous Group Data Item

[code]

[2018-11-06 17:54] cckozie opened #5380 "tC loses some data in usfm files if the line does not begin with a usfm tag"
1.0.2 (7ccb0dc)
**Input file text A:**
\s1 The Preaching of John the Baptist\x - \xo 3.0 \xta Compare with \xt Mk 1.1-8;
Lk 3.1-18; \xta and \xt Jn 1.19-28 \xta parallel passages.\x*
**Exported file textA:**
\s1 The Preaching of John the Baptist\x - \xo 3.0 \xta Compare with \xt Mk 1.1-8;
\xta and \xt Jn 1.19-28 \xta parallel passages.\x*

**Input file text B:**
\v 15 Adam \f + \fr 3.20: \fk Adam:

[2018-11-06 17:56] cckozie opened #5381 "tC removes spaces between adjoining usfm markers"
1.0.2 (7ccb0dc)

**Input file text A:**
\v 2-7 They presented their offerings in the following order:
\tr \th1 Day \th2 Tribe \th3 Leader
\tr \tcr1 1st \tc2 Judah \tc3 Nahshon son of Amminadab
\tr \tcr1 2nd \tc2 Issachar \tc3 Nethanel son of Zuar
\tr \tc1 Judah \tc2 Nahshon son of Amminadab \tcr3 74,600
\tr \tc1 Issachar \tc2 Nethanel son of Zuar \tcr3 54,400
**Exported file text A:**
\v 2-7 They

[2018-11-06 18:03] cckozie opened #5382 "tC removes keyword usfm markers"
1.0.2 (7ccb0dc)

**Input file text:**
\k keyword \k*

**Exported file text:**
\k*

input file: [usfm body testD.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2554426/usfm.body.testD.usfm.zip)

exported file: [57-TITd.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2554427/57-TITd.usfm.zip)

[2018-11-06 19:17] PhotoNomad0 commented on #5370
Covered In #4773

[2018-11-06 19:17] #5370 closed, assigned to PhotoNomad0

[2018-11-06 20:39] #5372 closed, assigned to nobody

[2018-11-06 20:53] PhotoNomad0 commented on #5382
Notes:

- seeing conflicts with our non-standard `\k-s` word marker
- verse spans not yet supported in tCore, we import them fine, but not displayed in app.

[2018-11-06 22:19] cckozie opened #5383 "Problem with usfm links"
1.0.2 (7ccb0dc)
input text:
\v 1 But you, speak what fits with faithful instruction.
The traditional translation of verse 1, as given in
\jmp RSV|link-href="prj:RSV52 GEN 1:1" link-title="Revised Standard Version"\jmp*,
may be appropriate.
Storehouses, as used here, refers to large buildings with walls and roof, where grain was
kept until needed. (See illustration: \jmp Storehouse|link-href="figur

[2018-11-07 01:01] mannycolon opened #5385 "Add latest Portuguese & Spanish locale strings"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-07 12:40] bspidel opened #5387 "Importing USFM with bad id does not report the cause of failure"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

When no user is selected, user step should be grey when Home is current step

### Steps to Reproduce

1. online import ht

[2018-11-07 14:17] cckozie opened #5388 "Always export all USFM3 tags except tags pertaining to Alignment Data, unless the user wants Alignment Data then export all"
## User Story

As a non-uW-ecosystem user, I want to be able to export my text which contains usfm3 markers regardless of whether or not I am exporting alignment data, so that I can import and export my project without losing data (USFM3 markers).

For reference: Koz, "The testing that I have done to date is only related to usfm2 exports. I have not yet tested to see if they are in the usfm3 expor

[2018-11-07 14:45] cckozie opened #5389 "tC adds extra closing \bk* markers"
[57-TIT-intro.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2557778/57-TIT-intro.usfm.zip)
1.0.2 (7ccb0dc)
Input file text:
\bk Mark\bk* the title is used of Jesus in three ways: the Son of Man acts with divine

Exported file text:
\bk Mark\bk* the title is used of Jesus in three ways: the Son of Man acts with divine\bk*

Imported file: [usfm intro test.usfm.zip](https://git

[2018-11-07 16:21] bspidel commented on #4865
More data:

I imported https://git.door43.org/tCore-test-data/English_tit into 1.0.2 (7ccb0dc)

- It said there were invalidations but wA tool card said 100%
- When I launched tool some broken links were shown
- When I clicked on them the link badge went away without me doing anything else
- When I exited the tool without any changes the wA tool card progress was 80%

[2018-11-07 18:55] cckozie opened #5391 "tC does not correctly handle verse spans during usfm imports"
'\v 1-2' results in tC thinking verses 1 and 2 are both missing
\v 4-5a' results in tC thinking that '-5a' is part of the text of verse 4
\v 5b' results in tC just dropping the 'b'

[2018-11-07 19:28] PhotoNomad0 commented on #5381
This should be fixed in PR https://github.com/unfoldingWord-dev/translationCore/pull/5390

[2018-11-07 19:30] PhotoNomad0 commented on #5381
This should be fixed in PR https://github.com/unfoldingWord-dev/translationCore/pull/5390

[2018-11-07 19:33] bspidel opened #5392 "Recently imported project crashes translationWords tool"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

Having just imported a test project: https://git.door43.org/tCore-test-data/am_1co_ulb launching tW crashes app.

### Ste

[2018-11-07 19:37] PhotoNomad0 commented on #5383
Tested with: [links.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2558898/links.usfm.zip)

[2018-11-07 19:37] PhotoNomad0 commented on #5383
This should be fixed in PR https://github.com/unfoldingWord-dev/translationCore/pull/5390

[2018-11-07 21:55] PhotoNomad0 commented on #5382
@cckozie - verified issue fixed in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-b2a7195.setup.exe

Note that we do not fully support verse spans in tCore.

[2018-11-07 21:56] PhotoNomad0 commented on #5380
@cckozie - verified issue fixed in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-b2a7195.setup.exe

[2018-11-07 21:57] PhotoNomad0 commented on #5383
@cckozie - verified issue fixed in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-b2a7195.setup.exe

[2018-11-07 21:58] PhotoNomad0 commented on #5381
@cckozie - verified issue fixed in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-b2a7195.setup.exe

[2018-11-07 22:00] PhotoNomad0 commented on #5389
Have a fix in the usfm-js module that will fix this specific issue.  But I notice that on import tCore itself strips out embedded word tags ('\w') as part of parsing out alignment.  But in the case there is no alignment, on export it does not restore the tags.

[2018-11-08 15:26] cckozie commented on #5382
Looks good in 1.0.2 (eb69ffb)

[2018-11-08 15:29] cckozie commented on #5381
Looks good in 1.0.2 (eb69ffb)

[2018-11-08 15:47] cckozie commented on #5380
Looks good in 1.0.2 (eb69ffb)

[2018-11-08 15:51] cckozie commented on #5383
Looks good in 1.0.2 (eb69ffb)

[2018-11-08 18:17] cckozie commented on #5298
1.0.2 (eb69ffb)
Ran some additional tests to try to see if it could be isolated to the scripture pane.
TEST A:
Modified the script to use the select pane editor in tW instead of the expanded scripture pane in wA. Did not experience the performance issues.
TEST B:
Modified the script from A to use the expanded scripture pane in tW for editing. Did not experience the performance issues.
TESTC:
Went

[2018-11-08 19:28] PhotoNomad0 commented on #5388
I notice that on import tCore itself strips out embedded word tags ('\w') as part of parsing out alignments.  But in the case there is no alignment, on export it does not restore the tags.

[2018-11-08 20:28] cckozie commented on #5298
Modified TEST A above to use a Matthew project. Did not experience the performance issue.
Modified TEST B above to use a Matthew project. The app did hang.
Pretty conclusive that the problem is in the expanded scripture pane.

[2018-11-08 21:36] PhotoNomad0 commented on #5389
@cckozie - verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-914876a.setup.exe

[2018-11-08 21:36] PhotoNomad0 commented on #5385
@cckozie - verified in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-914876a.setup.exe

[2018-11-08 22:31] cckozie opened #5397 "tC fails to display text in the scripture pane when it is preceded by the \qt marker"
1.0.2 (eb69ffb)
It does show correctly in the tW check pane and in the word bank

[55-1TI-qt.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2563838/55-1TI-qt.usfm.zip)

![image](https://user-images.githubusercontent.com/8171759/48231549-2027f080-e374-11e8-801a-f0c7eb28bec9.png)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/afac4d65-620a-4b94-90a0

[2018-11-09 15:06] cckozie commented on #5051
Documents:
USFM2 - http://paratext.org/system/files/usfmReference2_4.pdf
USFM3 - http://ubsicap.github.io/usfm/master/index.html
USFM3 Index - http://ubsicap.github.io/usfm/master/genindex.html

Here are the lists of the markers that have been tested for, and those that have not yet been addressed. Note that 'tested for' only means they are persisted into the export file and do not corrupt the dat

[2018-11-09 17:35] benjore opened #5399 "Localization of `Target Language`, `Original Language`, and `Gateway Language` in Scripture Pane"
## Story Explanation
### User Story

As a user who doesn't speak English, I want all of the app to be localized into my language so that I can understand everything on the screen.

### Features / Specifications

- [ ] Note: Right now `Target Language`, `Original Language`, and `Gateway Language` all come from the project/resource manifest. As such they are not localized.
- [ ] Make these strings l

[2018-11-09 18:06] PhotoNomad0 commented on #5397
Discovered that node_module dependencies are hard coded in tc-ui-toolkit, and dependency checkers don't alert you to that.  So it was locked to older usfm-js package.  updating tc-ui-toolkit, to fix.

[2018-11-09 19:06] PhotoNomad0 commented on #5397
Verified working in https://tc-builds.door43.org/build/release-v1.0.2/translationCore-win-x64-1.0.2-12d7d75.setup.exe

[2018-11-09 19:39] jag3773 commented on #5134
Note that entries from that BDB lexicon can be viewed using this tool https://marvel.bible/tool.php?bdb=H6 .

[2018-11-10 08:30] mannycolon commented on #5298
Before my last fix, tC used to hang on me about every 12-15 verses when I am editing every verse of a large book (Mat). After my fix it now takes 55-60 verses

[2018-11-10 20:51] bspidel opened #5400 "Verse overlaps chapter section header in verse check pane"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

When making keyword selection in Mat 24:15, The Ghotuo target language has section headers that when wrapping, overlap ve

[2018-11-12 17:27] cckozie commented on #5298
My results running the test in the second comment above on build 1.0.2 (1681fcf)
It appears that the actual memory consumption is still a problem, but I'm not seeing a significant slow down in using the app. It does occasionally 'stall' for a short time, but does seem to recover on it's own up until a point which is much later than it was in the past. I can now get about 100 iterations +- 10 befor

[2018-11-12 22:43] RoyalSix commented on #2010
@benjore On a high level how do we determine a Gateway Language does not have all the content for a specific checkbox (type of check)?

Do we have a master list of all the info supposed to be in a check such as the `Keyterms`?

@mannycolon @jag3773

[2018-11-12 22:44] RoyalSix opened #5402 "[0] Create the Checkbox functionality without any action logic"

[2018-11-12 23:19] mannycolon commented on #2010
@RoyalSix We could create the same list for tW as we mentioned for tN on #2009

[2018-11-12 23:22] mannycolon opened #5403 "Resolve remaining issues that are still causing some level of memory leak in the scripture pane"
## Story Explanation
### User Story

As a user, I want to be able to make multiple verse edits in the scripture pane without the app hanging so that I don't risk losing my work.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-13 03:29] bspidel opened #5405 "Selecting Hindi as Gateway language does not automatically display it in Scripture Pane"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

Having selecting Hindi as Gateway the language at tW launch does not automatically display Hindi as Gateway Language in S

[2018-11-13 13:52] jag3773 commented on #2009
I added some comments in the Questions section.

[2018-11-13 15:17] jag3773 commented on #2010
@benjore @RoyalSix I'd suggest that if the `other` or `names` **directories** *do not exist* in a GL that the checkboxes be disabled.  If those directories do exist, then enable the checkbox for that GL.

In conjunction, the tool should always fall back to the English tW entry if it missing in the GL.  Given that older versions of tW may be published in the catalog, they may not have all the same

[2018-11-13 16:40] #5381 closed, assigned to PhotoNomad0

[2018-11-13 16:40] #5380 closed, assigned to PhotoNomad0

[2018-11-13 16:40] #5383 closed, assigned to PhotoNomad0

[2018-11-13 16:43] #5397 closed, assigned to PhotoNomad0

[2018-11-13 16:47] cckozie commented on #4685
This is worse in some other languages. The field header should never be wrapped into the entry portion of the field.
On import:
![image](https://user-images.githubusercontent.com/8171759/48428849-7bb9fb80-e731-11e8-95d4-3d4b0c06011c.png)

In Edit details:
![image](https://user-images.githubusercontent.com/8171759/48433927-f6891380-e73d-11e8-820a-ad9ca1162900.png)

[2018-11-13 17:22] benjore commented on #5347
How do we define what should be displayed in the edit box? What about `\r (Luke 2.1-7)` or `\s1 The Birth of Jesus Christ`

[2018-11-13 19:54] #5063 closed, assigned to PhotoNomad0

[2018-11-13 19:54] #5060 closed, assigned to RoyalSix

[2018-11-13 19:54] #5356 closed, assigned to PhotoNomad0

[2018-11-13 19:54] #4263 closed, assigned to PhotoNomad0

[2018-11-13 19:54] #3087 closed, assigned to richmahn

[2018-11-13 19:55] #4779 closed, assigned to richmahn

[2018-11-13 19:55] #5140 closed, assigned to PhotoNomad0

[2018-11-13 19:55] #5382 closed, assigned to PhotoNomad0

[2018-11-13 19:55] #5298 closed, assigned to RoyalSix, mannycolon

[2018-11-13 19:55] #5385 closed, assigned to mannycolon

[2018-11-13 22:40] benjore opened #5406 "wA Edit/Comment/Bookmark: Title bar UI + Icons"
see UI design at https://github.com/unfoldingword/translationcore/issues/4538

[2018-11-13 22:40] benjore opened #5407 "wA Edit/Comment/Bookmark: Add VerseEditor UI and backend"

[2018-11-13 22:41] benjore opened #5408 "wA Edit/Comment/Bookmark: Connect Verse Edit modal back-end (reducers & actions)"

[2018-11-13 22:41] benjore opened #5409 "wA Edit/Comment/Bookmark: UI and back-end for Comments and Bookmarks"

[2018-11-13 22:41] benjore opened #5410 "wA Edit/Comment/Bookmark: Bookmark toggle back-end (reducers & actions)"

[2018-11-14 00:52] mannycolon opened #5411 "[9] SPIKE: Continue debugging to find problem"

[2018-11-14 01:04] bspidel commented on #5054
Workarounds:
- If you reload the project (having loaded another project) it comes back
- If you launch another tool it comes back

[2018-11-14 01:16] bspidel opened #5412 "Cannot load UGNT into scripture pane with "Add Resources" loader"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

Once it has been closed, A user cannot load UGNT into scripture pane with "Add Resources" loader. It shows up in dropdown

[2018-11-14 15:29] RoyalSix commented on #5192
- [ ] [4] Load group data from FS based on selection

[2018-11-14 15:29] RoyalSix opened #5413 "[0] Load group data from FS based on selection"

[2018-11-14 16:22] RoyalSix commented on #2010
@benjore Do we want anything checked by default?

[2018-11-14 18:04] RoyalSix commented on #5413
Modify reducers in order to accept data and filter array based on id name
dynamically retrieve available checks

[2018-11-14 19:16] PhotoNomad0 commented on #3663
Looks like most of the work here is to fix UI for online import of OT books.

[2018-11-14 19:32] cckozie opened #5414 "Problem with MAP automatically accepting suggestions"
## Story Explanation
1.0.2 (1681fcf)
Still a problem in 2.1.0 (7adcd44)
If there are two suggestions in an alignment box and one is dragged back to the word bank, the other suggestion in that alignment box is automatically accepted. That is not a desirable feature.
[map.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/2582316/map.mov.zip)

### User Story
As an aligner I do not w

[2018-11-14 19:42] PhotoNomad0 commented on #1717
#### Tasks
- [ ] [4] Fix source content updater - to download and parse UHB.
- [ ] [4] Fix scripture pane to display UHB for OT books.
- [ ] [10] Fix rendering of UHB - rtl issues, etc.

[2018-11-14 20:01] PhotoNomad0 opened #5415 "[4] Fix source content updater - to download and parse UHB"

[2018-11-14 20:01] PhotoNomad0 opened #5416 "[4] Fix scripture pane to display UHB for OT books"

[2018-11-14 20:01] PhotoNomad0 opened #5417 "[2] Fix rendering of UHB - rtl issues, etc."

[2018-11-14 20:02] PhotoNomad0 opened #5418 "[0] PR review of 1717"

[2018-11-14 21:02] da1nerd commented on #4960
Found a new git library https://github.com/isomorphic-git/isomorphic-git. This could be lighter than nodegit and be easier to compile (as in not at all). This would speed things up and potentially decrease the size of the builds. Might be worth investigating.

[2018-11-14 21:37] PhotoNomad0 commented on #3617
@benjore - looking at your screenshot, `1:1` is not clear on UHB which side the chapter number is on.  Typically in RTL support, the roman numerals are rendered in normal LTR within the overall RTL language.  For example this would be wrong in the case of UHB pane:

![screen shot 2018-11-14 at 4 30 56 pm](https://user-images.githubusercontent.com/14238574/48513838-e56a0080-e82a-11e8-9d11-6cf357273

[2018-11-14 21:40] benjore commented on #3617
That is correct. LTR or RTL references should appear the same way, e.g. 1:2. The mock-up is incorrect.

[2018-11-14 22:19] PhotoNomad0 opened #5422 "[1] Remove blocker for OT imports when not in develop mode"

[2018-11-14 22:20] PhotoNomad0 opened #5423 "[0] Review PR 4078"

[2018-11-14 23:06] RoyalSix commented on #2010
What I have implemented so far is that the check boxes will dynamically be searched for and if the directory is there then it will show or else it will not.

i.e. If I remove the Hindi key terms resource then it will only show Other and Names.

If that functionality is not preferred then I can make a static list "Key Terms, Other, and Names" and then since we know what to expect everytime I can ma

[2018-11-14 23:31] #5413 closed, assigned to RoyalSix

[2018-11-14 23:32] RoyalSix opened #5424 "[0] Generate Percentage Complete Based On Chosen Checks"

[2018-11-14 23:34] RoyalSix opened #5425 "[0] Generate Percentage Complete Based On Selected Checks"

[2018-11-15 00:03] RoyalSix commented on #5425
Check the greek to know which checks are available for that category.
Compare that to the groups data selection state

[2018-11-15 10:40] PhotoNomad0 commented on #1717
@benjore - is this sufficient for the UHB display in the scripture pane?

![screen shot 2018-11-15 at 5 37 25 am](https://user-images.githubusercontent.com/14238574/48547576-f5202e00-e898-11e8-94b6-ce614e429b32.png)

[2018-11-15 13:13] bspidel opened #5426 "[0] Figure out exhaustive list (11 modules) for 5300"
The following 11 packages are in: https://www.npmjs.com/settings/unfoldingword/packages

- string-punctuation-tokenizer: "0.9.1",
- tc-source-content-updater: "0.2.16",
- tc-tool: "^2.0.0-rc.1",
- tc-ui-toolkit: "0.10.14",
- usfm-js: "1.0.6",
- word-aligner: "^0.2.2",
- word-map-usfm: "",
- word-map: ""
- wordmap-lexer: "0.3.3",
- wordmap-usfm: "",
- wordmap: "0.4.1",

[2018-11-15 13:14] bspidel opened #5427 "[0] Add script to each NPM module for 5300"

[2018-11-15 13:14] bspidel opened #5428 "[0] Test build processing for 5300"

[2018-11-15 13:14] bspidel opened #5429 "[0] PR Review for 5300"

[2018-11-15 13:22] bspidel opened #5430 "[0] Write initial script for 5300"

[2018-11-15 14:48] benjore commented on #1717
For now that is great. There is an issue to deal with this comprehensively. This is fine for now.

[2018-11-15 17:14] richmahn opened #5434 "[0] Add OT to dropdown of Online Import from Door43"

[2018-11-15 17:14] richmahn opened #5435 "[0] Update test cases for Online Import for OT books"

[2018-11-15 17:14] richmahn opened #5436 "[0] PR review for #3663"

[2018-11-15 17:58] cckozie opened #5437 "tC's listing of languages on the resource selection page is case sensitive but should not be"
1.0.2 (1681fcf)

![urdu.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/7caac3a1-9a11-4d7c-a5fa-fa898cbffa33)

This causes tC some problems. If the user selects all (or both of them) to download, only the one with mixed case is downloaded and the other one still appears in the resource selection screen. When the all lower case one is then selected, the app shows the alert statin

[2018-11-15 19:10] #5415 closed, assigned to PhotoNomad0

[2018-11-15 19:14] RoyalSix opened #5439 "[0] Write Tests"

[2018-11-15 19:14] cckozie commented on #5412
Dup of #5119 ?

[2018-11-15 21:16] cckozie opened #5440 "Expand the width of the word card for extra long words"
![image](https://user-images.githubusercontent.com/8171759/48582175-64be0980-e8e9-11e8-9b0d-f75cc761fdfa.png)

- [ ] For extra long words, the word card should expand to encompass it all.
  -  [ ] Note: in 1.1.3, wA correctly adds a horizontal scroll bar.

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/dcc28de3-5343-47ba-934a-6adf6f7ba8b2)

## Notes:
- [ ] This works im

[2018-11-15 21:32] cckozie opened #5441 "Downloaded resources get deleted during app upgrade if the source-content-updater-manifest file is missing"
Start with a clean machine (no translationCore folders)
Install and start tC 1.0.0
Download all available resources
Delete the source-content-updater-manifest.json file in the resources folder
Install and start tC 1.0.2
Notice that all of the previously download resources are deleted and the new en, grc, and hi resources are added

Is this the desired behavior?

[2018-11-15 21:41] cckozie opened #5442 "App crash/hang"
1.0.2 (1681fcf)
This is related to issue #5441
This first time I noticed the issue described in 5441, when tC 1.0.2 opened the screen was completely blank with errors in the console. After close tC I was able to restart it.
I have not been able to reproduce this crash/hang.
![image](https://user-images.githubusercontent.com/8171759/48583505-e6fbfd00-e8ec-11e8-8cc0-a1fa34be10ef.png)

[2018-11-16 00:25] da1nerd commented on #5197
The word list and alignments parts are completed by https://github.com/translationCoreApps/wordAlignment/pull/104.

[2018-11-16 00:44] da1nerd commented on #3617
The rtl rendering is covered by https://github.com/unfoldingWord-dev/translationCore/issues/3655

[2018-11-16 00:46] da1nerd commented on #3617
@PhotoNomad0 aren't  you working on importing OT projects? Should this issue be assigned to you?

[2018-11-16 00:51] da1nerd commented on #4884
~I think this is mostly done by some cleanup work I had done in September.~

## Update
We still need to combine the logic in `ProjectLoadingActions.openProject` and `ProjectDataLoadingActions.loadProjectData`. The `openProject` method is already hooked up to the project selection.

This may involve refactoring the project reducers.

[2018-11-16 00:53] da1nerd commented on #4672
When a project is selected in tC the following must occur:
1. load the project meta data (already happening but will likely be streamlined)
2. Initialize the tool APIs (tw and wa).
3. Navigate to the tools page
4. Display correct progress and error information on each tool by reading from the tool api.
5. When a tool is selected it should open almost instantly because most of the project data will

[2018-11-16 00:55] da1nerd commented on #4672
Note: eventually we'll be able to utilized these now more accessible tool APIs when importing a project. e.g. to read alignment information, validate, etc. This will reduce duplicate code and ensure consistency.

[2018-11-16 01:29] #5416 closed, assigned to PhotoNomad0

[2018-11-16 12:35] PhotoNomad0 commented on #1717
Tested latest build for windows (https://tc-builds.door43.org/build/develop/translationCore-win-x64-1.1.0-d22908a.setup.exe) and it crashes when Expanded Scripture Pane is opened.  But Mac build works.  Moving this back in progress to fix.

[2018-11-16 13:24] PhotoNomad0 commented on #1717
Looks like a change to our build process caused the WA fixes to not be pulled in.

[2018-11-16 15:15] benjore opened #5444 "Add USFM Validation step to the Import Process"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-16 17:26] PhotoNomad0 commented on #1717
Tested in build https://tc-builds.door43.org/build/develop/translationCore-win-x64-1.1.0-f7160ac.setup.exe.

@cckozie - note for now you will need to download "Ancient Hebrew" resources (hbo) before WA will work on OT books.

[2018-11-16 18:11] #5417 closed, assigned to PhotoNomad0

[2018-11-16 18:23] PhotoNomad0 commented on #5437
@cckozie @benjore - in tCore we are treating language codes as just text.  That can cause a lot of problems in the app where we are bringing in resources from the catalog that have all different cases for the same language (and different language descriptions).  Maybe the quickest solution would be to convert every language code to lower case for use in the app.  It seems that allowing mixed case

[2018-11-16 18:44] PhotoNomad0 commented on #5388
@benjore - current state of tCore (with all the latest USFM updates) is that on import we only strip out the following USFM markers for alignment (all other markers are preserved):
1. `\zaln-s ... \zaln-e\*` - used for marking alignments
2. `\w ... \w*` - used for tagging words in alignment.

Case one is not a problem since that is the flag that there is alignment data, but case 2 is.  Probably ne

[2018-11-16 20:11] #5425 closed, assigned to RoyalSix

[2018-11-16 20:56] benjore opened #5448 "tN: Create the initial tN tool - tW tool with tN data (for testing SPIKES)"

[2018-11-16 21:00] benjore opened #5449 "tN: Parsing the TSV and generating the GroupIndex and GroupData (NPM Module)"

[2018-11-16 21:00] benjore opened #5450 "tN: Verify (& fix as needed) that tN data is loaded correctly"

[2018-11-16 21:01] benjore opened #5451 "tN: Create JSON file to handle parent and child categories for the tN tool card (include the hover-over description) - for each GL (part of NPM Module)"

[2018-11-16 21:01] benjore opened #5452 "tN: Create Tool Card UI"

[2018-11-16 21:01] benjore opened #5453 "tN: Add TSV parser to the Dynamic Content Update"

[2018-11-16 21:01] benjore opened #5454 "tN: Add the tN data to the build process (getting the latest data from the Catalog)"

[2018-11-16 21:01] benjore opened #5455 "[4] SPIKE: what else needs to be done for tN to work."

[2018-11-16 21:02] benjore opened #5456 "tN: Update the Smurf Bar to display data from new location (alignment data)"

[2018-11-16 21:02] benjore opened #5457 "[4] SPIKE: What needs to be done for tN quote highlight to show on the scripture pane."

[2018-11-16 23:04] da1nerd commented on #5267
There are two implementations of adding lemma to wordMAP

* alignment memory will be indexed on both the word and the lemma. Then when calculating confidence we can determine if a prediction matches alignment memory by reading the index for the word an lemma keys.
* then the statistical algorithms could be extended to use lemma by basically copy-pasting all the algorithms and changing the index lo

[2018-11-17 12:20] PhotoNomad0 commented on #3655
Verified in https://tc-builds.door43.org/build/feature-mcleanb-4078/translationCore-win-x64-1.1.0-f7ddd78.setup.exe

[2018-11-19 13:59] PhotoNomad0 commented on #5388
@benjore - does this look good for the dialog?

![screen shot 2018-11-19 at 8 57 38 am](https://user-images.githubusercontent.com/14238574/48711469-62a1c680-ebd9-11e8-9f97-e424a2fb6dfb.png)

[2018-11-19 14:02] benjore commented on #5388
Looks great!

[2018-11-19 18:55] #5430 closed, assigned to bspidel

[2018-11-19 19:20] da1nerd commented on #5403
This is related to https://github.com/unfoldingWord-dev/translationCore/issues/5298 though the situation has been greatly improved. Instead of freezing after reopening the scripture pane 13 times it takes 80-100 reopens.

[2018-11-19 20:17] PhotoNomad0 commented on #5134
@benjore @jag3773 - it looks like this repo has a lot of html to parse and remove.  Think I had a python script that did some of that for web converter.

[2018-11-20 00:03] #5418 closed, assigned to richmahn

[2018-11-20 11:46] #5439 closed, assigned to RoyalSix

[2018-11-20 11:54] PhotoNomad0 commented on #4078
verified in https://tc-builds.door43.org/build/develop/translationCore-win-x64-1.1.0-ecd6dc5.setup.exe

[2018-11-21 19:42] PhotoNomad0 commented on #5134
@benjore @jag3773 - have the Hebrew Lexicon working in the app now.  Where do I find the definitions for the missing Hebrew morphology?

[2018-11-21 19:44] RoyalSix commented on #5399
## Tasks
- [x] [3] Add localization to Scripture Pane

[2018-11-21 19:44] RoyalSix opened #5464 "[3] Add localization to Scripture Pane"

[2018-11-21 19:52] PhotoNomad0 commented on #5134
<img width="444" alt="screen shot 2018-11-21 at 11 51 20 am" src="https://user-images.githubusercontent.com/14238574/48865232-d7b0ff80-ed83-11e8-906b-c4d312ecdc4a.png">

@benjore - this is how it looks so far, but missing some morphology.

[2018-11-21 20:31] jag3773 commented on #5134
Morph codes at http://openscriptures.github.io/morphhb/parsing/HebrewMorphologyCodes.html .

[2018-11-21 20:39] #5427 closed, assigned to bspidel

[2018-11-21 20:39] #5428 closed, assigned to bspidel

[2018-11-21 20:40] #5429 closed, assigned to bspidel

[2018-11-21 20:40] #5426 closed, assigned to bspidel

[2018-11-21 21:02] bspidel opened #5465 "[0] Resolve questions for 5437"

[2018-11-21 21:03] bspidel opened #5466 "[0] Locate place for change for 5437"

[2018-11-21 21:03] bspidel opened #5467 "[0] Write code for 5437"

[2018-11-21 21:03] bspidel opened #5468 "[0] Write and execute unit test cases for 5437"

[2018-11-21 21:03] bspidel opened #5469 "[0] Manage PR for 5437"

[2018-11-23 16:36] PhotoNomad0 commented on #5134
<img width="440" alt="screen shot 2018-11-24 at 6 23 35 am" src="https://user-images.githubusercontent.com/14238574/48969302-e11faf00-efb1-11e8-854a-59bd4864984d.png">
<img width="436" alt="screen shot 2018-11-24 at 6 24 01 am" src="https://user-images.githubusercontent.com/14238574/48969304-e3820900-efb1-11e8-89dd-363fd241bb60.png">
<img width="434" alt="screen shot 2018-11-24 at 6 24 32 am" src=

[2018-11-23 18:15] PhotoNomad0 commented on #5388
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-77e70ed.dmg

[2018-11-24 14:29] PhotoNomad0 commented on #5134
@benjore - How does this look? ^^^

[2018-11-25 12:50] PhotoNomad0 commented on #5134
@benjore @jag3773 - also the first example of the three is a multipart word.  In the morphology, I just displayed the parts separated with colons as the both the Strong's and source morphology are.  Is that sufficient?  Should we use `/` as a delimiter as other references do?  Or maybe separate out the prefix as Biblearc does?

[2018-11-25 13:43] PhotoNomad0 commented on #5134
@jag3773 The current word popup only supports simple text.  Will look into how we can add html support so we can show the rich formatting like in the example at https://marvel.bible/tool.php?bdb=H6

[2018-11-26 13:35] PhotoNomad0 commented on #5134
<img width="432" alt="screen shot 2018-11-26 at 5 33 04 am" src="https://user-images.githubusercontent.com/14238574/49017139-efe69d00-f13c-11e8-8e78-82d6bcda9ff0.png">

@benjore @jag3773 - here is an alternate formatting option.

[2018-11-26 14:26] jag3773 commented on #5134
@PhotoNomad0 Ideally we could show a separate pop-up for each part of the word.  In your multipart word example, I would love to see 3 pop ups, each one giving the information relevant for that part of the word.

I like your formatting of the lexicon entry in the latest example.

[2018-11-26 16:42] PhotoNomad0 commented on #5134
OK, think I get it.

[2018-11-26 18:50] benjore opened #5473 "Add Mac development key into the draft & release build processes"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-26 19:28] benjore commented on #5437
@PhotoNomad0 That works for me.

[2018-11-26 21:35] #5411 closed, assigned to mannycolon

[2018-11-27 05:03] benjore opened #5475 "Bundle Hebrew Bible & Lexicon as a part of the build process"
## Story Explanation
### User Story

As a user, I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Create a new migration to add any bundled resource (e.g. the Hebrew Bible & Lexicon) if it is missing
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-27 18:51] benjore commented on #5344
#5234 is the story

[2018-11-27 20:02] #5285 closed, assigned to nobody

[2018-11-28 13:32] PhotoNomad0 commented on #5134
![screen shot 2018-11-28 at 8 29 06 am](https://user-images.githubusercontent.com/14238574/49154982-cf0e7b00-f2e7-11e8-8eb8-7ba44e53c0ff.png)

Here is an example from BibleArc - they are showing prefix info at the bottom.  It seems it would probably be easier for the user if we show all the parts in a single pop up rather than making the user have to click on a specific letter.

[2018-11-28 13:48] PhotoNomad0 commented on #5134
![screen shot 2018-11-28 at 8 54 01 am](https://user-images.githubusercontent.com/14238574/49156360-3679fa00-f2eb-11e8-874e-afe7054b0196.png)

@benjore @jag3773 - how about something like this?

[2018-11-28 14:07] jag3773 commented on #5134
Looking good.  I don't think there is a need for the "Strongs" line for the prefixes and suffixes -- looks like the morphology line is giving all that is needed.

I would prefer to put the main word information first and then the prefix and/or suffix information after that, like the Biblearc pop up does it.  That will front the most important information for the user.

[2018-11-28 14:34] PhotoNomad0 commented on #5134
@jag3773 - here is some content from uhb (Gen 41:8).  Is the format of the first word here correct?  I would expect the strongs to have two parts like the morph string and similar to the strongs in the second word below.

[code]

[2018-11-28 14:57] PhotoNomad0 commented on #5134
I wonder if it is just suffixes that are different in strongs?

[2018-11-28 15:16] jag3773 commented on #5134
Suffixes generally will not have Strongs numbers.

[2018-11-28 15:18] PhotoNomad0 commented on #5134
So prefixes are added to strongs numbers as in "c:H5608a", but not suffixes?

[2018-11-28 15:27] jag3773 commented on #5134
Yes, that's what I'm seeing.

[2018-11-28 17:08] PhotoNomad0 commented on #5134
Note:  @jag3773 suggested on a private channel:

- if we swapped a strongs number in for `d` or `c` would your code automatically pick up the lexicon entry for it @bruce.mc?

- need to add message "Morphology not found" when it is missing in UHB since it is not yet complete.

[2018-11-28 19:17] benjore opened #5476 "[2] 2018-11-30 Dev Development - Tools API"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-28 20:51] mannycolon opened #5477 "Put translationCore app on a diet with Electrino (If possible)"
## Story Explanation
### User Story

As a tC user, I want a smaller tc's bundle size so that I can have room for other apps on my computer and memory

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-28 21:08] mannycolon commented on #5344
On my Mac it takes tC 1 min 34s to start up

[2018-11-28 22:15] #5465 closed, assigned to bspidel

[2018-11-28 22:16] #5467 closed, assigned to bspidel

[2018-11-28 22:16] #5466 closed, assigned to bspidel

[2018-11-28 22:17] #5468 closed, assigned to bspidel

[2018-11-28 22:22] mannycolon commented on #5473
This might be helpful see [webtorrent-desktop example here](https://github.com/webtorrent/webtorrent-desktop/blob/12500dfb6415a665ea412319eef953d842dd2f04/bin/package.js#L250-L278) and [explanation here](https://blog.dcpos.ch/how-to-make-your-electron-app-sexy#posthaven_gallery[1068448])

[2018-11-28 22:28] bspidel opened #5481 "[0] Update unit test for 4901"

[2018-11-28 22:28] bspidel opened #5482 "[0] PR review for 4901"

[2018-11-28 22:36] bspidel opened #5483 "[0] Identify target of fix for 5377"

[2018-11-28 22:36] bspidel opened #5484 "[0] Code change for 5377"

[2018-11-28 22:36] bspidel opened #5485 "[0] Update unit test for 5377"

[2018-11-28 22:36] bspidel opened #5486 "[1] PR review for 5377"

[2018-11-28 22:50] richmahn commented on #4685
- [x] [4] Work on CSS for field labels for #4685
- [x] [1] PR Review for #4685

[2018-11-28 22:50] richmahn opened #5487 "[0] Work on CSS for field labels for #4685"

[2018-11-28 22:50] richmahn opened #5488 "[1] PR Review for #4685"

[2018-11-28 22:52] richmahn commented on #3398
- [ ] [6] Integrate Dependabot

[2018-11-28 22:52] richmahn opened #5489 "[0] Integrate Dependabot"

[2018-11-28 22:53] #5435 closed, assigned to richmahn

[2018-11-28 22:54] #5434 closed, assigned to richmahn

[2018-11-28 23:29] bspidel opened #5490 "[0] Identify target of fix for 5378"

[2018-11-28 23:30] bspidel opened #5491 "[0] Code change for 5378"

[2018-11-28 23:30] bspidel opened #5492 "[0] Update unit test for 5378"

[2018-11-28 23:30] bspidel opened #5493 "[1] PR review for 5378"

[2018-11-29 04:37] mannycolon commented on #5344
https://www.reddit.com/r/electronjs/comments/7fy05o/speed_up_electron_start_up/
https://blog.atom.io/2017/04/18/improving-startup-time.html
https://gist.github.com/paulcbetts/da85dd246db944c32427d72026192b41

[2018-11-29 07:35] RoyalSix commented on #4937
## Tasks
- [ ] [3] Write Helper Function To Ensure wA GL requirements
- [ ] [3] Write Tests For Helper Function

[2018-11-29 07:35] RoyalSix opened #5495 "[0] Write Helper Function To Ensure wA GL requirements"

[2018-11-29 07:35] RoyalSix opened #5496 "[0] Write Tests For Helper Function"

[2018-11-29 18:14] mannycolon opened #5497 "Reduce initial tC startup time"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-29 18:15] #5344 closed, assigned to mannycolon

[2018-11-29 18:15] #5497 closed, assigned to mannycolon

[2018-11-29 18:20] mannycolon commented on #5234
I was able to reduce the startup time from **~1m 08s - 1m 32s** to **~9s - 15s**

[2018-11-29 19:15] benjore opened #5499 "Create 1.0.2 Change Log"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications
- [x] Run the changelog generator script in translationCore root directory
- [x] Commit and push the updated CHANGELOG.md file to the branch.
- [ ] Merge the translationCore `release` branch into `master`.
- [ ] In project on github (https://github.com/unfoldingWord-de

[2018-11-29 19:26] #5424 closed, assigned to nobody

[2018-11-29 19:29] mannycolon opened #5500 "Update locales strings to latest translations"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-11-29 21:28] benjore opened #5502 "2018-12-07 Professional Development"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-12-03 14:48] PhotoNomad0 opened #5513 "Exporting Alignments with numbers fails"
## Story Explanation
### User Story
#### Larry's description of the problem:

Just loaded 1.0.2 and went back to Gal 3:17 in the ULT to finish aligning the number “430” that 1.0 could not display. Had checked off the “do not show” notification previously. After I finished aligning, I tried to upload to Door43. Get the broken alignment warning. Rechecked that all verses showed green checks. Uploade

[2018-12-03 14:48] PhotoNomad0 commented on #5513
Found that word-aligner merge was not accepting numbers as alignment words.

[2018-12-03 18:15] cckozie opened #5515 "Chapters are being sorted alphabetically in wA"
1.1.0 (e6a76d9)
This has been broken since 1.0.2.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/e9e553fb-bf15-4eff-bf80-5c9f4eef35b8)

[2018-12-03 18:23] cckozie commented on #3655
1.1.0 (e6a76d9)
The alignment boxes for Hebrew are being rendered as RTL, but it looks like line feeds are being inserted into the boxes when words are merged.

![image](https://user-images.githubusercontent.com/8171759/49392970-a4f8f680-f6f5-11e8-9251-deede894fa8a.png)

![image](https://user-images.githubusercontent.com/8171759/49393022-c2c65b80-f6f5-11e8-989a-d30161af76b7.png)

![image](https://

[2018-12-03 18:52] RoyalSix commented on #4918
## Tasks
- [ ] [2] Preserve Extra Book Name Information
- [ ] [4] Update Helper Methods to Handle New Data
- [ ] [3] Write Tests To Handle New ID Use Case

[2018-12-03 18:58] RoyalSix opened #5516 "[0] Preserve Extra Book Name Information"

[2018-12-03 18:58] RoyalSix opened #5517 "[0] Update Helper Methods to Handle New Data"

[2018-12-03 18:59] RoyalSix opened #5518 "[0] Write Tests To Handle New ID Use Case"

[2018-12-03 19:33] klappy opened #5519 "WordMAP suggestions break WordAlignment tool rendering"
### Prerequisites

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

After importing a Hindi project that is already aligned, WordMAP appears to be generating suggestions that break the Rendering of the Greek words in the main alignment workspace of the wA tool.

### Steps t

[2018-12-03 22:59] cckozie commented on #5191
1.1.0 (e6a76d9)
I cannot fully test this until #5326 is fixed.
However, there is currently a significant problem in that after opening a mostly completed (97%) project in tW and then returning to the Tools page, the % complete now shows 0%.
[en_tit (2).zip](https://github.com/unfoldingWord-dev/translationCore/files/2641604/en_tit.2.zip)
Before opening in tW:
![image](https://user-images.githubuser

[2018-12-04 14:11] PhotoNomad0 commented on #5513
Verified in translationCore-win-x64-1.0.3-0fa00d3.setup.exe

[2018-12-04 16:49] benjore opened #5520 "Remove Invalidation link only when Alignment Complete is toggled"
## Story Explanation
### User Story

As a curious checker, I want the invalidation link to stay on the verse (in wA) until the Alignment Complete toggle is turned on so that my workflow allows me to see what happened without forcing me to immediately fix the invalidation.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-12-04 18:51] RoyalSix commented on #5191
## Tasks
- [x] [3] Fix Bug In Initial Percent Calculation

[2018-12-04 18:52] RoyalSix opened #5521 "[0] Fix Bug In Initial Percent Calculation"

[2018-12-04 19:33] benjore opened #5522 "Pivot Alignment Data to Book-Chapter-Verse"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-12-04 20:34] benjore opened #5523 "Add project overwrite option for online imports"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] When reimporting from Door43, don't overwrite the project, but offer the option to archive the current and finish importing project from Door43.
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-12-04 21:26] #5476 closed, assigned to da1nerd

[2018-12-04 21:29] da1nerd commented on #4672
tools will actually be initialized before a project is selected.
The tools  apis will however be initialized when a project is selected.

[2018-12-05 13:35] benjore commented on #5523
Is this desirable? It is dangerous as data can be lost.

[2018-12-05 14:14] benjore opened #5527 "Display discontiguous selections correctly"
## Story Explanation
### User Story
Merge with #6301 if they are the same

As a tW checker, I want my multiple discontiguous selections to show correctly so that tC behaves as I expect.

### Features / Specifications

- [ ] Show all discontiguous selections in the "has been translated as:" part of the check card, each discontiguous section (separated by more than a space), connect them with a `...

[2018-12-05 15:55] cckozie commented on #5192
1.1.0 (413b11c)
Key terms: I see that in the UGNT kt data there is a separate group for both 'life' and 'live', but in the menu I see a single group for 'life, live, lived, lives, living, alive'. This group contains verses for only the Titus UGNT kt of 'life'. The verse and kt listed in the UGNT kt of 'live' does not appear anywhere in the menu. I've pinged Ben and Jesse about this.

[2018-12-05 16:53] cckozie commented on #5193
1.1.0 (413b11c)
Per requirements listed on #2010 the following are not completed:
- By default, all three checkboxes are preselected (Fixed in 1.1.0 (4d06842) )
- If the user unselects a a checkbox or two, save those settings (pegged to the project)
- If a Gateway Language does not have content for all the checkboxes, disable those. (I see that rather than be disabled, the option is not displayed.

[2018-12-05 17:50] cckozie commented on #1717
1.1.0 (413b11c)
I did see the crash when opening the scripture pane, but cannot reproduce the problem. Passing for now.

[2018-12-05 18:38] da1nerd commented on #3655
@cckozie how are you even loading Genesis? The tools won't allow me to open it.

[2018-12-05 18:52] cckozie commented on #3655
@neutrinog You need to download the Hebrew content. It is not yet bundled in the build.

[2018-12-05 18:54] cckozie commented on #4078
Works in  1.1.0 (413b11c) as long as the Hebrew content has been downloaded.

[2018-12-05 18:56] cckozie commented on #5500
I think this was for 1.0.2.

[2018-12-05 19:49] da1nerd commented on #3655
I added a fix for this in https://github.com/translationCoreApps/wordAlignment/pull/106

[2018-12-05 19:51] da1nerd commented on #3269
This is deprecated with the inclusion of #4960

[2018-12-05 21:52] cckozie commented on #4960
1.1.0 (8b1ff72)
Tested fine (at least for basic operations) on Windows 64.
I'm going to wait until after a decision on 1.0.3 before deleting git on my Mac. Putting the QA Hold label on until then.

[2018-12-05 22:17] cckozie commented on #1717
1.1.0 (8b1ff72)
After a clean install and then importing an OT book and opening it in wA, the UHB text is not displayed until the user changes verses (selects a different verse in the menu other than the one the project opened to). This does not happen with the UGNT for NT books.

[2018-12-05 22:30] cckozie commented on #5399
1.1.0 (8b1ff72)
Works for Hindi, but does not work for the other non-English languages. I assume that is because those translations have not been made and we are defaulting back to English.

[2018-12-05 22:40] cckozie opened #5530 "Resource name is unnecessarily truncated"
The resource name should not be truncated unless necessary. Currently it looks like it is hard coded to truncate after x characters, but the individual resource pane widths are dynamic.
![image](https://user-images.githubusercontent.com/8171759/49548805-7e30f080-f8ac-11e8-861a-65dc19a98346.png)

[2018-12-05 22:53] cckozie commented on #5437
1.1.0 (8b1ff72)
There is now only one of the two (Urdu Devanagari script (ur-Deva)) in the source content selection screen, but when it is selected and downloaded only the Bibles folder comes down. The translationHelps folder is not downloaded but should be.

[2018-12-05 22:56] cckozie commented on #5513
@PhotoNomad0 Should this be in the 1.1.0 build? It does not appear to be.

[2018-12-06 05:54] da1nerd opened #5532 "Renaming project does not work."
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
Renaming a project will not successfully rename the remote repository.

### Steps to Reproduce

1. Import a project from o

[2018-12-06 06:19] da1nerd opened #5533 "Redesign locale integration"
## Summary

The locale integration in the application has grown brittle. Our use of it has grown beyond what is was originally designed for, and changes in scope have deprecated certain design concerns. Therefore I suggest we rebuild the entire thing.

## Motivation

1. we have locale all over the place
2. It's difficult to keep locale in sync across tools

## Specifications (If applicable)

1. tC

[2018-12-06 14:57] cckozie opened #5534 "Upload to Door43 is broken"
1.1.0 (8b1ff72)
[en_ult_tit_book 2.zip](https://github.com/unfoldingWord-dev/translationCore/files/2654474/en_ult_tit_book.2.zip)

I'm getting this message on any upload to Door43
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/cb0c74ce-f26a-4d8e-9c22-7a933b515066)

[2018-12-06 15:45] cckozie commented on #5389
Works in 1.1.0 (8b1ff72)

[2018-12-06 16:12] cckozie commented on #5388
1.1.0 (8b1ff72)
The good news is, to the best of my knowledge I have now tested all of the USFM2 and USFM3 markers. Just a couple of problems noted here. Issue A is not really a USFM3 problem, so I can move it to another issue if you prefer.

Issue A: [Still seeing in 1.1.0 (2ba28f8)] [Works in 1.1.0 (ac75c11)]
The \p marker is being stripped out if there is a blank line between it and a preceding

[2018-12-06 18:20] da1nerd commented on #5534
@cckozie can you provide the project  you were using?
If possible I'd like to have the entire directory not just the exported usfm.

[2018-12-06 19:06] benjore opened #5536 "Add an outline to a project or tool card when clicked on"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] (Jobby suggestion)
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-12-06 19:48] PhotoNomad0 commented on #5513
@cckozie - Not yet, but good reminder.  Will make a PR.

[2018-12-06 20:28] da1nerd commented on #5534
This was an easy fix. Projects that had not been initialized for git were failing to upload. Now all projects are initialized before performing git operations.

[2018-12-06 21:30] #5521 closed, assigned to RoyalSix

[2018-12-06 22:32] #5436 closed, assigned to PhotoNomad0

[2018-12-07 00:12] da1nerd commented on #4884
note to self.
Project and tool loading have been separated into `openProject` and `openTool`.

[2018-12-07 12:22] PhotoNomad0 commented on #5513
@cckozie - verified in https://tc-builds.door43.org/build/develop/translationCore-win-x64-1.1.0-d7708ab.setup.exe - do not get error when I exported aligned Gal 3:17

[2018-12-07 20:27] da1nerd commented on #1717
moving this to the QA Fail column

[2018-12-08 22:53] #5516 closed, assigned to RoyalSix

[2018-12-08 23:34] #5517 closed, assigned to RoyalSix

[2018-12-10 14:40] cckozie opened #5542 "Cannot import from Door43"
1.1.0 (c6414a7)
![image](https://user-images.githubusercontent.com/8171759/49739303-2a7d2900-fc57-11e8-856e-723dded01b2b.png)
https://git.door43.org/qa99/en_ulb_gal_book
This is a recently uploaded project.

[2018-12-10 15:47] cckozie opened #5543 "No translationCore default tools found error"
1.1.0 (c6414a7)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/03f1da8d-3979-424c-a673-7a99879a954a)
https://git.door43.org/qa99/en_test_gen_book

Actually receiving this error on any book.

[2018-12-10 15:53] cckozie commented on #5234
1.1.0 (c6414a7)
On my Mac:
Opening on clean install: 63 seconds
 Subsequent to initial install: 6 seconds

Previous build 1.1.0 (5b1d1cc):
Opening on clean install: 1:16 seconds
Subsequent to initial install: 20 seconds

[2018-12-10 15:59] PhotoNomad0 opened #5544 "Update the en Hebrew lexicon to use BDB as source"
## Story Explanation
### User Story

As an Aligner, I always want the best Lexicon so that I can do the most excellent work.

This is related to https://github.com/unfoldingword-dev/translationcore/issues/5134 which was implemented using open scriptures since the BDB was difficult to parse by removal of unneeded html and arrays.  We currenty have working Strongs lexicon, but with significant effor

[2018-12-10 16:26] cckozie commented on #5513
1.1.0 (c6414a7)
This appears to be fixed, but I had to load an old version in order to do the alignments. Need to retest when #5543 is fixed.

[2018-12-10 16:27] cckozie commented on #5267
Can't test until #5543 is fixed.

[2018-12-10 16:28] cckozie commented on #3655
Can't test until #5543 is fixed.

[2018-12-10 16:29] cckozie commented on #5534
Appears to be fixed in 1.1.0 (c6414a7).
Can't fully test until #5543 is fixed.

[2018-12-10 16:30] cckozie commented on #5475
Can't fully test until #5543 is fixed.

[2018-12-10 16:30] cckozie commented on #5134
Can't fully test until #5543 is fixed.

[2018-12-10 16:33] cckozie commented on #3269
Now N/A

[2018-12-10 16:33] #3269 closed, assigned to da1nerd

[2018-12-10 16:35] cckozie commented on #3558
Still a problem in 1.1.0 (c6414a7)

[2018-12-10 16:41] cckozie commented on #3560
It's now about 1 second. That may be acceptable, but it's not as good as users would expect. Assuming very few will have such a slow machine, I'll deem it acceptable.

[2018-12-10 16:42] #3560 closed, assigned to nobody

[2018-12-10 16:44] cckozie commented on #3671
1.1.0 (c6414a7)
This is now sufficient fast so a processing indicator is not really needed.

[2018-12-10 16:45] #3671 closed, assigned to nobody

[2018-12-10 16:45] cckozie commented on #3844
1.1.0 (c6414a7)
This should now be N/A.

[2018-12-10 16:45] #3844 closed, assigned to nobody

[2018-12-10 16:48] cckozie commented on #4427
1.1.0 (c6414a7)
THis is now N/A

[2018-12-10 16:48] #4427 closed, assigned to nobody

[2018-12-10 16:49] cckozie commented on #4704
This is now N/A

[2018-12-10 16:49] #4704 closed, assigned to nobody

[2018-12-10 16:51] cckozie commented on #3522
Still fails in 1.1.0 (c6414a7)

[2018-12-10 16:53] cckozie commented on #4249
There are still no changes to its size in 1.1.0 (c6414a7)

[2018-12-10 16:54] #1142 closed, assigned to nobody

[2018-12-10 20:36] da1nerd commented on #5543
I discovered the root cause of the issue is that `fs.access` does not work on directories within an asar file. See this related issue https://github.com/electron/electron/issues/6555. Strangely this was supposed to have been fixed several years ago, but perhaps just not for directories?

At any rate I've updated the tool loading code to not use `fs.access` either directly or indirectly.

[2018-12-10 20:39] #5496 closed, assigned to RoyalSix

[2018-12-10 20:40] #5495 closed, assigned to RoyalSix

[2018-12-10 20:45] #5518 closed, assigned to RoyalSix

[2018-12-10 20:47] RoyalSix commented on #5378
@cckozie Do you have a project with edits made externally? If not how would I replicate that?

[2018-12-10 20:56] cckozie commented on #5378
@RoyalSix The best way to test this is to do a usfm2 export of a project, make some changes in the exported file, then reimport that file. That way you'll know which edits were make outside of tC.
BTW: I'm also reopening this issue

[2018-12-10 21:16] RoyalSix commented on #5378
@cckozie thanks somehow I closed accidentally

[2018-12-10 21:26] da1nerd commented on #5542
@cckozie the import failed because there's nothing in that project. Open https://git.door43.org/qa99/en_ulb_gal_book in your browser. There's no code and no branches.

[2018-12-10 21:27] da1nerd commented on #5542
If there is a bug it's with uploading projects. Can you test uploading some projects and make sure the content actually get's there?

[2018-12-10 22:01] #5481 closed, assigned to bspidel

[2018-12-10 23:34] cckozie opened #5550 "Delay in upload to Door43 but not in export to USFM"
1.1.0 (4d06842)
[en_ulb_gen_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2665354/en_ulb_gen_book.zip)
This project does not have any alignments, thus when exporting to USFM the user is not given the option to include alignments. However, when uploading to Doo43, the app appears to hang for about 6 seconds (on my Mac). I assume this 'hang' time is due to the app thinking tha

[2018-12-10 23:37] cckozie commented on #5534
Fixed in 1.1.0 (4d06842)

[2018-12-10 23:39] cckozie commented on #5513
Works in 1.1.0 (4d06842)

[2018-12-10 23:49] cckozie opened #5551 "tW and wA no longer load a project to the point where it was last used"
1.1.0 (4d06842)
In previous versions of tC, when the user loaded a project in one of the tools, it opened to where it was last being worked on. Now it loads to the first verse in wA and the first check in tW.
I assume this was broken in one of the issues for refactoring tool loading, but neither of them are in QA yet.

[2018-12-10 23:58] cckozie commented on #3655
Works in 1.1.0 (4d06842)

[2018-12-11 00:05] cckozie commented on #5193
These problems still exist in 1.1.0 (4d06842):
- If the user unselects a a checkbox or two, save those settings (pegged to the project)
Now it does save the setting, but it is not pegged to the project. It is used for all projects until changed again.
- If a Gateway Language does not have content for all the checkboxes, disable those. (I see that rather than be disabled, the option is not displaye

[2018-12-11 00:11] da1nerd commented on #5551
yeah a lot of code has gone in for the tool loading, but no new functionality has been added yet so they haven't been moved into QA.
I'll investigate this.

[2018-12-11 01:20] da1nerd commented on #5551
After digging around I discovered this bug was introduced on [this line](https://github.com/unfoldingWord-dev/translationCore/blob/develop/src/js/actions/ContextIdActions.js#L141) on November 14th.

@RoyalSix it looks like you accidentally used `indexOf` instead of `map`.

This line
[code]

should instead be written like
[code]
Just a minor typo :)

Fix is in https://github.com/unfoldingWord-dev/t

[2018-12-11 01:24] da1nerd commented on #4672
This is basically done. Just waiting for the other pieces to get finished.

[2018-12-11 01:27] da1nerd commented on #4884
This is just about finished. There's a bit of temporary hacky code, but I want to get the current changes in first to avoid too many merge conflicts.

Once #5541 is merged in we'll be ready to tidy things up and then start working on #3562

[2018-12-11 14:52] cckozie commented on #5191
Fixed in 1.1.0 (4d06842)

[2018-12-11 15:37] cckozie opened #5553 "Problems with original language source content updater"
1.1.0 (4d06842)
There is a problem in the source content updater for the original languages.

Greek is not an option shown on the source content update selection screen. Thus, newer versions of the Greek text or changes to the translationHelps will not be available for downloading.

For Hebrew, the app appears to only be looking for a new(er) version of the Hebrew text and not the translationHelps

[2018-12-11 15:41] cckozie commented on #1717
1.1.0 (4d06842)
The requirements in the first comment have been mostly met, but there is a problem with the source content updater which I've described in issue #5553. Since similar problems exist for the Greek, I've written it up there instead of failing this issue.

[2018-12-11 15:46] cckozie commented on #5134
Works as best I can tell in 1.1.0 (4d06842). Really need someone with Hebrew expertise to verify. I assume that any issues will be exposed and raised by the aligners.

[2018-12-11 15:47] cckozie commented on #5475
Works in 1.1.0 (4d06842)

[2018-12-11 16:01] cckozie commented on #5267
Appears to work in 1.1.0 (4d06842) . Only did spot testing of a few cases.

[2018-12-11 16:03] cckozie opened #5554 "Anomalies in wordMap"
1.1.0 (4d06842)
[en_ult_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2668301/en_ult_tit_book.zip)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a8cfaf6b-5fbe-49f4-aee0-83a8eaa4d602)

[2018-12-11 16:20] PhotoNomad0 commented on #4151
### Notes from Klappy:

- add column to CSV with reference in "JAS001002".

#### examples:
##### **USFM**
[code]

##### **JSON**
[code]

[2018-12-11 16:41] #4932 closed, assigned to mannycolon

[2018-12-11 16:42] #5300 closed, assigned to bspidel

[2018-12-11 16:43] #5389 closed, assigned to PhotoNomad0

[2018-12-11 16:43] #5534 closed, assigned to da1nerd

[2018-12-11 16:44] #5191 closed, assigned to RoyalSix

[2018-12-11 16:45] #5542 closed, assigned to da1nerd

[2018-12-11 17:09] mannycolon commented on #5351
Maybe caused by the unfiltered text being used in the selection process. Fixed may be as simple as using the filter target language string instead of the unfiltered text.

[2018-12-11 17:10] benjore commented on #5158
I think this will be covered by #4858

[2018-12-11 19:57] #3663 closed, assigned to richmahn

[2018-12-11 19:57] #4078 closed, assigned to PhotoNomad0

[2018-12-11 19:57] #5192 closed, assigned to RoyalSix

[2018-12-11 19:57] #5234 closed, assigned to mannycolon

[2018-12-11 19:57] #5500 closed, assigned to mannycolon

[2018-12-11 19:57] #1717 closed, assigned to PhotoNomad0

[2018-12-11 19:57] #3655 closed, assigned to da1nerd

[2018-12-11 19:57] #5134 closed, assigned to PhotoNomad0

[2018-12-11 19:57] #5267 closed, assigned to da1nerd

[2018-12-11 19:57] #5399 closed, assigned to RoyalSix

[2018-12-11 19:57] #5475 closed, assigned to mannycolon

[2018-12-11 20:29] benjore opened #5559 "2018-12-15 Professional Development"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-12-11 20:29] benjore opened #5560 "2018-12-22 Professional Development"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2018-12-11 20:30] cckozie opened #5561 "The UHB is not automatically loaded in the scripture pane for OT books"
Should it be auto-loaded in both tW and wA? Both (but currently only wA is supported). If you can easily implement for tW as well, do it.

[2018-12-11 20:36] benjore commented on #5561
This may be fixed. Doublecheck before implementation.

[2018-12-11 20:42] #5561 closed, assigned to nobody

[2018-12-11 20:49] #5499 closed, assigned to richmahn

[2018-12-12 14:59] PhotoNomad0 commented on #4151
### tasks
- [ ] write sharable methods to convert between x-reference format and reference object format
- [ ] add column to CSV export for reference in x-reference format if present in alignment
- [ ] on USFM3 import convert x-reference to reference object in alignment object
- [ ] on USFM3 export convert reference object in alignment object to x-reference format

#### also note
- there are some

[2018-12-12 15:08] PhotoNomad0 commented on #5388
#### Tasks
- [ ] [2] Fix missing paragraph markers
- [ ] [8] Fix missing white space in inline quotes
- [ ] [8] Fix USFM word tag parameters when not part of alignment
- [ ] [2] PR reviews for 5388 in usfm-js and tCore

[2018-12-12 15:10] PhotoNomad0 opened #5565 "[2] Fix missing paragraph markers"

[2018-12-12 15:11] PhotoNomad0 opened #5566 "[8] Fix missing white space in inline quotes"

[2018-12-12 15:11] PhotoNomad0 opened #5567 "[8] Fix USFM word tag parameters when not part of alignment"

[2018-12-12 15:11] PhotoNomad0 opened #5568 "[2] PR reviews for 5388 in usfm-js and tCore"

[2018-12-12 18:16] #5483 closed, assigned to RoyalSix

[2018-12-12 18:17] #5484 closed, assigned to RoyalSix

[2018-12-12 18:19] cckozie commented on #3617
Tested in child issues

[2018-12-12 18:19] #3617 closed, assigned to nobody

[2018-12-12 18:36] cckozie commented on #5551
1.1.0 (0179053)
[en_ulb_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2673096/en_ulb_tit_book.zip)

In wA it correctly loads/scrolls to the point it was last used.
In tW it loads to the proper check in the select pane, but it does not scroll the menu to where that check is visible there. The menu remains scrolled to the top.

[2018-12-12 19:12] mannycolon opened #5570 "[2] Prepare Dependabot presentation"

[2018-12-12 19:16] mannycolon opened #5571 "[0] look up how the items are being sorted in the menu"

[2018-12-12 19:17] mannycolon opened #5572 "[0] fix sorting to sort the menu items by chapter numbers"

[2018-12-12 19:19] da1nerd commented on #3989
@richmahn there is that `getSelectedToolName` selector that you can use to fetch the current tool name.

[2018-12-12 19:21] cckozie commented on #4685
I'm not seeing any change in 1.1.0 (0179053)
![image](https://user-images.githubusercontent.com/8171759/49893348-c605c980-fe10-11e8-9046-d88f8dbc54e0.png)

[2018-12-12 21:58] bspidel opened #5573 "[10] Refactor to use modal Alert instead of basic dialog for 4290"

[2018-12-12 21:58] bspidel opened #5574 "[6] Add unit tests for 4290"

[2018-12-12 21:58] bspidel opened #5575 "[2] Manage PR for 4290"

[2018-12-13 13:08] PhotoNomad0 commented on #5437
@bspidel - I think these changes in tc-source-content-updater only:

#### Convert languageID to lower case
- https://github.com/translationCoreApps/tc-source-content-updater/blob/develop/src/helpers/parseHelpers.js#L207

#### Do case insensitive compare of languageID
- https://github.com/translationCoreApps/tc-source-content-updater/blob/develop/src/helpers/parseHelpers.js#L129

[2018-12-13 14:13] PhotoNomad0 commented on #3739
### Notes from Klappy:

- add column to CSV with reference in "JAS001002".

#### examples:
##### **USFM**
[code]

##### **JSON**
[code]

[2018-12-13 14:44] PhotoNomad0 commented on #3739
### Tasks:

#### WA:
- update drop word (Original Language - OrigL) object to include reference - S
- update Target Language (TL) drop method -L
  - when dropping on alignment - add reference in alignment if OrigL is different than TL current verse  - S
  - when dropping on wordbank (unaligning) - add to wordbank of TL verse it came from and update progress for that verse.  If TL word was not from

[2018-12-13 14:45] PhotoNomad0 commented on #3739
@benjore @neutrinog - Any comments?

[2018-12-13 16:43] cckozie commented on #4918
Works in 1.1.0 (4f79403)

[2018-12-13 16:58] richmahn commented on #4290
Just to leave my observation on this, having just talked to @bspidel about this and reviewed the code, a content update can fail for many reasons: zip file corrupt, content file not found, remote web server not responding, or, as in Koz's case, computer not connected to the Internet. Yet when we show the dialog box that pops up whether it the update finished or not, but change the message based on

[2018-12-13 18:47] da1nerd commented on #3739
That looks like a decent overview.

One point to add would be to finalize an official spec for the alignment output from wordMAP. We have a working spec but I'd like to see it reviewed, documented, tagged, and published some place before we formally migrate to it. @klappy has there been any feedback on adjustments that might need to be made to that spec?

Under the optional section, note that the

[2018-12-13 18:56] richmahn commented on #4685
@cckozie Before that red asterisk would be covering the the text field. Since it is a span tag in html, it always wraps, but before you couldn't even see the text below the label.

[2018-12-13 18:58] richmahn commented on #3989
- [ ] [2] Make it so the selected tool name shows in stepper
- [ ] [1] Tests for the stepper
- [ ] [1] PR review for #3989

[2018-12-13 18:58] richmahn opened #5582 "[2] Make it so the selected tool name shows in stepper"

[2018-12-13 18:58] richmahn opened #5583 "[1] Tests for the stepper"

[2018-12-13 18:58] richmahn opened #5584 "[1] PR review for #3989"

[2018-12-13 18:59] mannycolon opened #5585 "[0] Change Scripture Pane to no longer use hard coded ULT or ULB for gateway bible"

[2018-12-13 19:07] #4151 closed, assigned to PhotoNomad0

[2018-12-13 19:09] richmahn commented on #5351
- [ ] [4] Research why selections are not persisting
- [ ] [4] Implement fix
- [ ] [2] Tests for #5351
- [ ] [2] PR review #5351

[2018-12-13 19:10] richmahn opened #5586 "[4] Research why selections are not persisting"

[2018-12-13 19:11] richmahn opened #5587 "[4] Implement fix for selections not persisting"

[2018-12-13 19:11] richmahn opened #5588 "[2] Tests for #5351"

[2018-12-13 19:11] richmahn opened #5589 "[2] PR review #5351"

[2018-12-13 19:14] #5423 closed, assigned to richmahn

[2018-12-13 19:14] #5489 closed, assigned to richmahn

[2018-12-13 19:14] #5487 closed, assigned to richmahn

[2018-12-13 20:17] cckozie commented on #4685
@richmahn A couple things:
A) There must be something a little strange going on with this dialog since the problem only occurs the first time the dialog is displayed after starting up tC. As long as I don't restart, I won't see it again.
B) There is nothing in my past experiences with programming that helps me relate to how this can be unfixable or even very difficult to fix. I don't believe I hav

[2018-12-13 20:37] richmahn commented on #4685
I actually changed how the whole layout works, but let me look at it again. And see if I can make it work a little better and use up the whole area without too much white space.

[2018-12-14 00:49] da1nerd commented on #4443
are the comments and bookmarks shared between tools or are they separate?
For now the are separate.

[2018-12-14 03:06] #5482 closed, assigned to bspidel

[2018-12-14 15:14] benjore opened #5591 "Typo: "Does not exists" -> "Does not exist""
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] I'm not sure where this shows up in the UI. A translator on CrowdIn found it and notified us.
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups
![Image from iOS.jpg](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f

[2018-12-14 22:09] #5559 closed, assigned to da1nerd

[2018-12-14 22:42] #4986 closed, assigned to nobody

[2018-12-15 00:03] da1nerd opened #5592 "verse alignment completion state needs to be written to timestamped files to avoid merge conflicts."
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

While adding the completion switch to the wA tool I neglected to save the state in timestamped files as in `[timestamp].j

[2018-12-15 00:04] da1nerd commented on #5592
@benjore I just realized this was a potential issue. I suggest putting it higher up in the priority queue since it is a bug waiting to happen.

[2018-12-15 00:10] da1nerd commented on #4443
Discovered this bug waiting to happen while investigating the menu update. https://github.com/unfoldingWord-dev/translationCore/issues/5592

[2018-12-15 00:11] da1nerd commented on #4443
Here is a proposal to make the menu more modular and easier for tools to manage https://codesandbox.io/s/xvq9zx3pyw

[2018-12-15 00:38] da1nerd commented on #4443
It took some digging but I finally discovered that the group menu items are receiving their filter booleans within `js/actions/GroupsDataActions.js` in the `verifyGroupDataMatchesWithFs` method.

It will be complicated to add support for wA filtering here because wA is managing a lot of it's own state. There are a number of different filtering keys with differentiating logic that will need to be a

[2018-12-15 01:05] da1nerd commented on #4443
@benjore thoughts on the above :point_up:

It may seem ironic but I promise I'm not purposely trying to refactor all-the-things. :smile:

[2018-12-17 15:08] #5422 closed, assigned to PhotoNomad0

[2018-12-17 15:54] #5485 closed, assigned to RoyalSix

[2018-12-17 16:00] RoyalSix commented on #5193
## Tasks
- [ ] [0] Persist Category Settings To User Project
- [ ] [2] Disable Checkboxes Instead of Having Them Removed
- [ ] [1] Change Sequence of Checkboxes

[2018-12-17 16:00] RoyalSix opened #5595 "[2] Disable Checkboxes Instead of Having Them Removed"

[2018-12-17 16:00] RoyalSix opened #5596 "[0] Change Sequence of Checkboxes"

[2018-12-17 16:01] #5402 closed, assigned to RoyalSix

[2018-12-17 16:17] RoyalSix commented on #5193
@benjore In order to meet the requirement `If a Gateway Language does not have content for all the checkboxes, disable those.`

That means we have to have a predefined set of checks, and if we wanted to add anymore they would have to hardcoded in. Is that OK? lmk

[2018-12-17 19:18] benjore commented on #5193
CHANGE OF REQUIREMENTS: If the content is there, show the checkbox, if the content is not there, don't show anything (instead of showing a disabled checkbox).

[2018-12-17 21:47] da1nerd opened #5598 "Add progress and invalid check count APIs to wA tool"

[2018-12-17 21:48] da1nerd opened #5599 "Add progress and invalid check count APIs to tW tool"

[2018-12-17 21:54] da1nerd commented on #4884
In order to complete #5599 we will need to load the groups data when the project is selected as well.

initializing project groups will be split into two independent functions
1) copy group data from resources to the project. For when a project is selected so the tools can calculate things for display on the page listing the tools. And
2) load the group data from the project and store it in redux.

[2018-12-17 23:28] #5571 closed, assigned to mannycolon

[2018-12-17 23:28] #5572 closed, assigned to mannycolon

[2018-12-18 15:07] benjore opened #5601 "[60] Rework tW Check Card UI/UX, Contextual menu bar"
## Story Explanation
### User Story

As a checker, I want tW to force me to assess my selection so that I don't blindly "align" the tW checks without ever stopping to consider if the meaning is retained.

### Features / Specifications

- [ ] Add to UI (ToolKit)
  - [ ] (M) Create Contextual Menu bar with support for icons required
  - [ ] (M) Add support for each 3 subsection (contextual menu)
  -

[2018-12-18 18:45] RoyalSix commented on #5595
- [ ]

[2018-12-18 18:45] #5595 closed, assigned to RoyalSix

[2018-12-18 18:45] #5596 closed, assigned to RoyalSix

[2018-12-18 19:29] RoyalSix commented on #5378
@cckozie I am still having trouble replicating this issue. It does not show verse edit changes at all for me

[2018-12-18 20:23] #5568 closed, assigned to richmahn

[2018-12-18 20:28] cckozie commented on #4685
I noticed today that there is another problem, when the language fields are empty, the horizontal alignment of the fields is now off too.
![image](https://user-images.githubusercontent.com/8171759/50181115-2b563080-02d1-11e9-9a92-7702c49972c2.png)

[2018-12-18 20:52] da1nerd opened #5603 "Copy groups data into project when project is selected."
Currently the groups data is being copied and loaded at the same time when a tool is opened. However, in order to support the features in https://github.com/unfoldingWord-dev/translationCore/issues/3562 the groups data must be copied when a project is selected and loaded into tc when the tool is opened.

This will require some refactoring to separate the groups data loading into two independent ac

[2018-12-18 21:15] da1nerd commented on #5603
this is a duplicate.

[2018-12-18 21:15] #5603 closed, assigned to da1nerd

[2018-12-19 15:36] PhotoNomad0 opened #5618 "Opening old project with in tCore the rename prompt is automatically dismissed"
## Story Explanation
### User Story

As a user, when I open old projects I don't want to have to rename prompt to just flash on screen, but to wait until I click on it.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
- can reproduce problem with this project: [es-419_tit_no_git.zip](https://github.com/unfoldingWord-dev/translation

[2018-12-19 16:28] cckozie commented on #5378
@RoyalSix In 1.1.0 (4f79403) I am seeing the edits, but they still show up as having been made in Word Alignment. In this project I used a text editor to change a word in verse 1, delete verse 2, and add a word in verse 3. They all show in the csv file.
[VerseEdits.csv.zip](https://github.com/unfoldingWord-dev/translationCore/files/2695694/VerseEdits.csv.zip)

[2018-12-19 19:06] benjore commented on #4443
I'm neither for or against. My concern is that it works properly when it's done. How you do it is between you and the rest of the team. I'm all for sustainable code.

[2018-12-19 19:09] cckozie commented on #5378
1. Import a project
2. Export the project to USFM2 (no alignments)
3. Edit the exported file to make changes to the verse texts
4. Save the edited USFM file
5. Import the edited file using the same translation id as the original and choose the overwrite options
6. Export the file to CSV
7. Examine the VerseEdits CSV file

[2018-12-19 20:11] #5490 closed, assigned to RoyalSix

[2018-12-19 20:12] #5491 closed, assigned to RoyalSix

[2018-12-19 20:31] #5469 closed, assigned to bspidel

[2018-12-19 20:47] #5492 closed, assigned to RoyalSix

[2018-12-19 22:19] cckozie commented on #2010
1.1.0 (42d80de)
[en_ulb_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2696690/en_ulb_tit_book.zip)

This happens when I load the project in tW with only Key Terms checked.
![image](https://user-images.githubusercontent.com/8171759/50251233-d259cb80-03a8-11e9-90fe-44345bcc9192.png)

[2018-12-19 22:29] da1nerd commented on #5618
@PhotoNomad0 see attached PR for a fix.

[2018-12-19 22:36] cckozie commented on #5193
1.1.0 (2ba28f8)
It looks like the checkbox settings are being saved by book (or maybe book/language), not by project. I have an English Titus ULB and an English Titus UDB. When I change the boxes checked on one of them it also sets them the same for the other.

[2018-12-19 22:39] cckozie commented on #5515
Works in 1.1.0 (2ba28f8)

[2018-12-20 00:55] da1nerd commented on #4884
This is a rough outline of what's currently happening with the groups data

## Loading groups index
* look for tool translationHelps in the selected gateway language (this will need to be triggered any time the gateway language changes)
* find the most recent version of the translationHelps

* inside each category is an index.json file which contains a list of ids and names
* the index.json file i

[2018-12-20 13:52] cckozie commented on #5377
1.1.0 (2ba28f8)
1. The gateway Language Quote field shows the group Name, not the GL quote.
2. The gateway Language Quote, groupId, groupName, occurance, and quote should all be blank when the edit was performed external to tC.

[2018-12-20 14:35] cckozie commented on #5598
@neutrinog Is there anything I can test for this issue?

[2018-12-20 14:45] cckozie commented on #5437
Workds in 1.1.0 (2ba28f8)

[2018-12-20 15:13] cckozie commented on #5051
Wait now on #5388

[2018-12-20 18:57] RoyalSix commented on #5193
Can you provide the exact steps you did to recreate this problem? I am not seeing it. @cckozie

[2018-12-20 19:55] cckozie commented on #5193
@RoyalSix I saw it one time again didn't write down the steps, and now I am not able to able to reproduce it again. I'm moving it back to In QA.

[2018-12-20 20:06] cckozie commented on #5193
@RoyalSix But now I found other issues when some resources are not available.
1. If Key Terms are not available, the options are again shown in the wrong order
![image](https://user-images.githubusercontent.com/8171759/50308094-e8769300-045f-11e9-852d-094711afd9ce.png)
2. If there is no checked box displayed, the Launch button should be disabled.
![image](https://user-images.githubusercontent.com/

[2018-12-20 20:30] cckozie opened #5623 "VerseEdits.csv has some extra data and some wrong data"
1.1.0 (2ba28f8)
1. When the edit is performed in the tW expanded scripture pane, the following fields should be populated by the data from the current check, not the verse being edited (unless they are the same verse):
activeBook, activeChapter, activeVerse, gateway Language Quote, groupId, groupName, occurrence, quote

2. When the edit is performed in wA, the following fields should be populated

[2018-12-21 00:02] da1nerd commented on #5598
not really. Once https://github.com/unfoldingWord-dev/translationCore/pull/5612 is merged in wA will be completely hooked up to display the invalid checks and the progress.

[2018-12-21 16:36] #5515 closed, assigned to mannycolon

[2018-12-21 16:36] #3398 closed, assigned to mannycolon

[2018-12-21 16:36] #5543 closed, assigned to da1nerd

[2018-12-21 19:02] RoyalSix commented on #5377
I believe the first issue is in #4901
I can fix the second issue.

[2018-12-21 19:24] #4918 closed, assigned to RoyalSix

[2018-12-21 19:24] #5437 closed, assigned to bspidel

[2018-12-22 10:17] PhotoNomad0 commented on #5388
#### Changes Made:
- fix issue that \p marker lost when newline after verse marker
- fix problems with inline markers such as quotes and formatting
- fix to preserve attributes on word marker that are different than how we use them

[2018-12-26 14:56] cckozie commented on #4960
Test on Yosemite with 1.1.0 (2ba28f8) and it looks good on Mac too.

[2018-12-26 15:20] cckozie commented on #5378
Works in 1.1.0 (773355b)

[2018-12-26 17:41] cckozie opened #5630 "Problems with reset alignments in projects with missing verses"
1.1.0 (773355b)
I put the critical tag on it because this problem has broken a lot of my scripts.
[en_act.T.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2713153/en_act.T.usfm.zip)

Issue 1:
1. Import the attached project and note that the alignment reset alert is not displayed during project validation (DO NOT LOAD THE PROJECT IN A TOOL).
2. Return to the projects page
3. S

[2018-12-26 23:32] da1nerd commented on #4884
Right now when loading the groups index for chapter-based checks the name of the chapter is being localized directly and stored in the groups index. This is an unnecessary step and only serves to couple data loading with locale. This indirectly influences the usage of the group index when generating csv.

If the menu were to perform the localization directly we could simplify the index loading and

[2018-12-26 23:54] da1nerd commented on #4884
I see that the group index in the resources contain localized names for all of the indices based on the gateway language. So not localizing the chapter-based group index departs from that common structure and could introduce confusion. Perhaps instead of representing two forms of the index we could simply not generate a chapter-based index and instead use the target book chapters as the basis for

[2018-12-27 13:51] RoyalSix opened #5632 "Project Opens To Blank Screen"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
The following  [usfm](https://github.com/unfoldingWord-dev/translationCore/files/2712535/57-TIT.usfm.zip) project does not

[2018-12-27 14:02] RoyalSix commented on #4884
@neutrinog I think that is a good idea. Maybe something that should be done after decoupling the groups data/index more.

[2018-12-27 15:10] RoyalSix commented on #5632
I think I found this cause of this issue.
Not sure why it wasn't showing in the past. But basically, I traced it down to simply the tool not rendering.

It doesn't even enter the component will mount. This section is returning false when I believe it should be returning true https://github.com/translationCoreApps/tc-tool/pull/20

@neutrinog

[2018-12-27 21:01] da1nerd commented on #5632
ok I discovered the root of the bugs. There are 2.

1. the new method to open projects is not being called during an import
2. there was a bug in one of the reducers.

[2018-12-27 21:04] da1nerd commented on #5632
This has been fixed in https://github.com/unfoldingWord-dev/translationCore/pull/5612

[2018-12-31 17:20] cckozie opened #5635 "Bugs in displaying of Greek info"
1.1.0 (dcbcbb1)
https://git.door43.org/tc_help/hi_ulb_2co_book

Issue 1:
The Greek info is displayed correctly when triggered in the scripture pane, but not when triggered in the alignment area.

Issue 2:
When the morphology is not found, none of the other Greek info is displayed either.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/9b498523-67a3-4e39-93b8-e01b0a2cd8e

[2018-12-31 18:49] da1nerd commented on #4672
This is currently testable with wA. tW will be testable after #4884 is completed.

[2019-01-01 18:26] #5632 closed, assigned to RoyalSix

[2019-01-01 18:46] RoyalSix commented on #2010
Fixed in 8586b02

[2019-01-02 14:22] PhotoNomad0 commented on #5630
@cckozie - testing with the latest develop build https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-b287d3d.dmg:
Both issues now seem to be fixed already.

[2019-01-02 14:35] PhotoNomad0 commented on #5214
@benjore  @cckozie - looks like word split is in our resources and in the catalog.  It looks like IRV needs to be re-exported to the catalog with the latest tCore release.  Then we can update it in tCore

[2019-01-02 14:42] #5565 closed, assigned to PhotoNomad0

[2019-01-02 14:42] #5566 closed, assigned to PhotoNomad0

[2019-01-02 14:42] #5567 closed, assigned to PhotoNomad0

[2019-01-02 15:19] PhotoNomad0 commented on #5351
It looks like this is because the project also has "of God" in a footnote which is not being stripped out before checking.

[2019-01-02 15:43] #5586 closed, assigned to PhotoNomad0

[2019-01-02 16:23] cckozie commented on #5630
Issue #2 has been fixed in 1.1.0 (b287d3d).
There is still a problem related to issue #1. (Should this actually be in #5598?
 The reset alignments are still handled differently when the project is imported and immediately loaded vs when it is selected and then loaded starting on the projects page.
Also, although the wA tool card shows 2 reset alignments, I can only find one in the project. That on

[2019-01-02 17:10] cckozie opened #5639 "Chapter 1 is displayed twice in word alignment tool"
1.1.0 (b287d3d)
[en_load_act_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2721372/en_load_act_book.zip)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a4ba0b96-a591-4651-b676-642506b4b0c7)

After reopening it, it's even worse. It looks like every time it is reopened it adds another duplicate unless another project is opened in between.
![image](

[2019-01-02 17:28] cckozie commented on #5551
1.1.0 (b287d3d)
wA now opens to 1:1 and then scrolls visibly to where it was last used. It would be better to work the way it used to, just load to the last used verse rather than display the scrolling. This may confuse the user. I'm checking with @benjore to see if this is acceptable.

tW still opens scrolled to the top check even though the last viewed check is active. I see that this appears to

[2019-01-02 18:49] cckozie commented on #5618
Works in 1.1.0 (b287d3d)

[2019-01-02 18:56] cckozie opened #5640 "tC should not consider missing verses as having reset alignments"
1.1.0 (b287d3d)
[en_act.T.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2721619/en_act.T.usfm.zip)

Verse 19:41 is missing in the attached project. tC is counting that as a reset alignment and displays the broken link icon by it in wA.

[2019-01-02 18:58] cckozie commented on #4672
1.1.0 (b287d3d)
The reset alignments are handled differently when the project is imported and immediately loaded vs when it is selected and then loaded starting on the projects page.

Also, although the wA tool card shows 2 reset alignments, I can only find one in the project. That one is at verse 19:41, the missing verse. (I may have missed it when scrolling through the book in wA. Can you point

[2019-01-02 19:14] cckozie commented on #5630
I moved the issue #1 problems to #4672

[2019-01-02 19:31] cckozie commented on #2010
1.1.0 (b287d3d)
[fr_ulb_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/2721815/fr_ulb_tit_book.zip)

Still seeing problems when loading with only Key Terms selected. This does not always happen. I'm working on getting the sequence of events to reproduce. This appears to show the problem:
1.Shut down tD
2. Unzip the attached project into the projects folder
3. Start tC and

[2019-01-02 19:55] cckozie opened #5641 "Support exporting projects to CSV even if they have not been opened in a tool"
## Story Explanation
Currently the user is presented with an alert that states "Export failed with error No tools have loaded for this project.." when a CSV export is attempted on a project that has not been opened in a tool.

### User Story
As a user I would like to be able to export a project to CSV even before I've opened it in a tool so that I can see the checks that will be performed in the t

[2019-01-03 00:17] da1nerd commented on #4672
The problem with the invalid checks count not being displayed after an import has been fixed in https://github.com/unfoldingWord-dev/translationCore/pull/5636

As for your missing invalid verse, I can't help you with that without your project. I've tested opening projects with invalidations and have confirmed the count is reliable. Finishing https://github.com/unfoldingWord-dev/translationCore/iss

[2019-01-03 15:25] cckozie commented on #5618
1.1.0 (9e93ea9)
The project (re)named alert is now not being displayed at all.

[2019-01-03 16:08] #5583 closed, assigned to richmahn

[2019-01-03 16:09] #5588 closed, assigned to PhotoNomad0

[2019-01-03 16:09] #5582 closed, assigned to PhotoNomad0

[2019-01-03 16:27] PhotoNomad0 commented on #5193
Verified in https://tc-builds.door43.org/build/develop/translationCore-win-x64-1.1.0-9e93ea9.setup.exe

[2019-01-03 17:11] PhotoNomad0 commented on #5377
Seeing errors  on CSV export.  Paths are wrong.

<img width="910" alt="screen shot 2019-01-03 at 12 09 11 pm" src="https://user-images.githubusercontent.com/14238574/50651185-99952700-0f50-11e9-8c49-ff0163b4fe81.png">

testing on build https://tc-builds.door43.org/build/bugfix-mcleanb-3989/translationCore-macos-x64-1.1.0-8720d95.dmg

[2019-01-03 17:20] PhotoNomad0 commented on #5377
@RoyalSix - is this because I opened the WA tool before CSV export?

[2019-01-03 18:20] RoyalSix commented on #5377
@PhotoNomad0 How come you are testing on a build from your branch?
Can you try on the develop build and provide exact steps to repeat.

[2019-01-03 18:56] RoyalSix commented on #5623
@cckozie Should I keep the `tool` field as `[External Edit]` like it says here #5378 or should I change it to `N/A`

[2019-01-03 19:06] cckozie commented on #5623
@RoyalSix Leave it as [External Edit]. I'll change the comment above.

[2019-01-03 19:07] PhotoNomad0 commented on #5635
@cckozie - this is very strange - see this problem with your Hindi project, but not with Larry's ULB.

[2019-01-03 19:14] PhotoNomad0 commented on #5377
@RoyalSix - sorry pasted wrong link.  Testing with https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-9e93ea9.dmg

Double checked and still see the problem.

[2019-01-03 21:11] PhotoNomad0 commented on #5377
@RoyalSix - Issue seems to be pre-existing.

[2019-01-03 21:12] PhotoNomad0 commented on #5377
verified with https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-9e93ea9.dmg

[2019-01-04 16:39] RoyalSix opened #5643 "[0] Write Tests"

[2019-01-04 17:45] #5643 closed, assigned to RoyalSix

[2019-01-07 17:49] cckozie commented on #5193
Works in 1.1.0 (442929d)

[2019-01-07 19:40] cckozie commented on #5623
Works in 1.1.0 (442929d)

[2019-01-07 20:42] PhotoNomad0 commented on #3989
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-1968c66.dmg

[2019-01-07 21:47] RoyalSix commented on #2010
@cckozie Having trouble recreating this. Going to investigate the error further.

[2019-01-07 22:23] cckozie commented on #2010
@RoyalSix I've been unable to reproduce this in the latest builds, so don't spend much time on it if the error doesn't tell you much.

[2019-01-08 11:55] PhotoNomad0 commented on #5388
@cckozie
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-ac75c11.dmg.

[2019-01-08 18:02] PhotoNomad0 opened #5647 "When doing USFM import, no longer get project renamed dialog after import"
## Story Explanation
### User Story

Import a USFM file that does not have name matching spec, and user does not get warning dialog that project was renamed.

https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-ac75c11.dmg

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-08 18:53] cckozie commented on #3989
Works in 1.1.0 (ac75c11)

[2019-01-08 19:00] cckozie commented on #5351
Works in 1.1.0 (ac75c11)

[2019-01-08 19:23] da1nerd commented on #5647
@PhotoNomad0 can you attach a sample usfm file?

[2019-01-08 19:29] cckozie commented on #5388
The issues are fixed in 1.1.0 (ac75c11). See note above about line feeds being deleted.

[2019-01-08 19:31] cckozie commented on #5051
All related child issues have been passed as of 1.1.0 (ac75c11)

[2019-01-08 20:18] richmahn commented on #4685
@cckozie I finally figured out that as you said, the asterisk moving to the next line, no matter how big the window is, was due to the info icon next to it, not rendering properly the first time opened, but did so all other times. I found the easiest (and only) fix was to move the info icon to the end.

I also fixed the language fields getting off if not populated.

[2019-01-08 20:19] cckozie commented on #5513
This is broken again in 1.1.0 (ac75c11)
[49-GAL.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/2738343/49-GAL.usfm.zip)

1. Import the attached project
2. Load in wA
3. Align the number 430 in verse 3:17
![image](https://user-images.githubusercontent.com/8171759/50857005-eb272280-1351-11e9-899f-736f2b051017.png)
4. Upload the project to Door43. Note that the alignments reset

[2019-01-08 22:44] cckozie opened #5649 "tC hangs when importing "bad" projects from Door43"
1.1.0 (ac75c11)
This has been broken since the release of 1.0.2
Try to import from https://git.door43.org/richmahn/en_tn_mat.git and https://git.door43.org/uday/en_tw.git
App hangs. Nothing in the console.

[2019-01-09 14:11] PhotoNomad0 commented on #5513
@cckozie - on step 4 above, did select cancel or export at the alignments reset prompt?

[2019-01-09 14:32] cckozie commented on #5513
@PhotoNomad0 Export

[2019-01-09 14:48] PhotoNomad0 commented on #5513
@cckozie - found that fix for 1.0.3 was not in 1.1.0

[2019-01-09 18:27] RoyalSix commented on #2010
@cckozie Yea no luck for me. I guess I'll just put QA Retest on this one? Or should we close it

[2019-01-09 19:00] cckozie opened #5651 "Discrepancies again between % complete displayed on Home screen and on Tools card"
1.1.0 (ac75c11)
1. Import https://git.door43.org/tc02/English_tit from Door43
2. Notice that the wA shows 0% complete
3. Load the project in wA
4. Navigate to verse 1:6 and drag the word 'without' back to the word bank
5. Click the Home icon in the menu bar
6. Notice that the Home screen shows the project 78% complete
7. Click on the Tools icon in the stepper bar
8. Notice that the wA tool card st

[2019-01-09 19:10] benjore opened #5652 "Remove "(Part 1)" from the "tW tool""
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-09 19:27] PhotoNomad0 commented on #4884
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-ac75c11.dmg

[2019-01-09 19:44] richmahn opened #5653 "Project Details Book selector doesn't let you re-select the original book"
### Description

If you open the project details of an existing project and change the book, you can't change it back to what it was originally. I believe because it pops up a dialog when you try to change a book to make sure you really want to do this, it doesn't open it for the original book name, yet that also keeps it from changing to that book name.

### Steps to Reproduce

1. Go to the proje

[2019-01-09 19:49] da1nerd commented on #5618
I think this has been corrected in the latest code.

[2019-01-09 19:50] da1nerd commented on #5551
This ~may~ will be handled in #4443

[2019-01-09 19:56] cckozie opened #5654 "Checkmark is not cleared in tW when selections are reset because of verse edits"
1. Open a project in tW
2. Make a selection in any verse
3. Save the selection
4. Edit the verse in such as was as to invalidate the selection
5. Save the edit
6. Notice the the selections no longer valid alert is displayed, but that the checkmark on the check is not removed, and both the checkmark and the edit icon are displayed when hovering on the verse.

The problem gets fixed when the tool is

[2019-01-09 21:00] PhotoNomad0 commented on #4685
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-3306aa7.dmg

[2019-01-09 22:17] cckozie commented on #2010
@RoyalSix Moving it to QA

[2019-01-10 05:10] da1nerd commented on #3562
Hooked up the progress and invalidation to the tW api.

![peek 2019-01-09 21-09](https://user-images.githubusercontent.com/166412/50947387-ed24da80-1452-11e9-80d7-13ac11f01099.gif)

[2019-01-10 15:35] cckozie commented on #2010
All child issues have passed.

[2019-01-10 15:37] cckozie commented on #4685
Looks good in  1.1.0 (3e1d1ee)

[2019-01-10 15:43] cckozie commented on #5618
1.1.0 (3e1d1ee)
The project named alert is not being displayed when projects are imported.
The alert is only being displayed when a project is actually renamed because of editing project details.

[2019-01-10 15:49] cckozie opened #5656 ""Unlocked Insecure Open Stuff" popup displayed when hovering on the project name in the menu bars"
1.1.0 (3e1d1ee)
Happens on both the stepper bar and menu bar
![image](https://user-images.githubusercontent.com/8171759/50979842-fa76af00-14bc-11e9-9abd-ddb060091b54.png)

[2019-01-10 17:55] da1nerd commented on #5618
I see. You **want** the renamed alert to be displayed after the initial import no matter what. And it's currently only being displayed after an explicit rename. Is that right?

[2019-01-10 18:29] #5587 closed, assigned to PhotoNomad0

[2019-01-10 18:35] PhotoNomad0 commented on #5513
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-b47c7fb.dmg

[2019-01-10 19:13] benjore opened #5657 "Deselect Project when project details edited"
## Story Explanation
### User Story

As a user, I want a project that has been selected and then the project details are edited to be deselected so that tC doesn't get confused.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-10 19:22] da1nerd commented on #5618
During import if a project has been been renamed display the alert.
This is basically always true for usfm imports and some times true for projects.

[2019-01-10 19:22] PhotoNomad0 commented on #5652
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-7c2a84b.dmg

[2019-01-10 19:29] PhotoNomad0 commented on #3562
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-7c2a84b.dmg

[2019-01-10 20:46] cckozie opened #5658 "'The alignments for this chapter could not be loaded...' verbiage is confusing"
1.1.0 (7c2a84b)
The verbiage should either refer to a book, or the chapter number(s) should be specified in it.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/4d0e5c25-7de6-4abe-8897-16b8cbf9ed24)

[2019-01-10 20:47] cckozie commented on #5652
Works in 1.1.0 (7c2a84b)

[2019-01-10 20:52] cckozie commented on #5513
Works in 1.1.0 (7c2a84b)

[2019-01-10 20:57] cckozie commented on #3562
1.1.0 (7c2a84b)
I suspect that it's more of a problem of this not being finished (at least in the case of tW) rather than it has bugs, but since it was in QA I am failing it.
## Specs

- [ ] Each tool card has a badge with the number of invalidated checks. This updates every time the user navigates to the tools page.
- [ ] Definition of "invalidation"
  - [ ] For the tW tool, if something is chang

[2019-01-10 21:38] cckozie commented on #4884
Holding all of these until I can verify both tools end to end.

[2019-01-10 21:39] cckozie commented on #4672
Holding all of these until I can verify both tools end to end.

[2019-01-10 21:39] cckozie commented on #5598
Holding all of these until I can verify both tools end to end.

[2019-01-10 21:40] cckozie commented on #3662
I'm closing this until there is evidence that we need 32 bit support

[2019-01-10 21:40] #3662 closed, assigned to da1nerd

[2019-01-11 16:03] #5560 closed, assigned to mannycolon

[2019-01-11 16:18] PhotoNomad0 commented on #5618
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-326e9df.dmg

[2019-01-11 16:35] #5630 closed, assigned to PhotoNomad0

[2019-01-11 16:35] #5193 closed, assigned to RoyalSix

[2019-01-11 16:37] #5639 closed, assigned to nobody

[2019-01-11 16:37] #5652 closed, assigned to RoyalSix

[2019-01-11 17:15] benjore opened #5662 "WordMAP Integration: Consume whole language (per identifier)"
## Story Explanation
### User Story

As an aligner, I want tC to make suggestions based off of my work on other books so that I can save time and effort.

### Features / Specifications

- [ ] Alignment Memory will be based on the language + identifier (for instance, alignment memory from John English ULT would be used to populate suggestions in Acts English ULT, but NOT in Acts English UST)
- [ ]

[2019-01-11 18:51] #5589 closed, assigned to RoyalSix

[2019-01-11 18:52] #5488 closed, assigned to RoyalSix

[2019-01-11 20:12] benjore opened #5663 "Create Release 1.1 Branch"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-14 19:07] cckozie commented on #5618
Works in 1.1.0 (326e9df)

[2019-01-14 19:15] #5573 closed, assigned to bspidel

[2019-01-14 19:15] #5574 closed, assigned to bspidel

[2019-01-14 19:15] #5575 closed, assigned to bspidel

[2019-01-14 19:15] #5502 closed, assigned to nobody

[2019-01-14 19:16] #5493 closed, assigned to nobody

[2019-01-14 19:16] #5486 closed, assigned to bspidel

[2019-01-14 19:16] #5464 closed, assigned to nobody

[2019-01-14 19:16] #5584 closed, assigned to nobody

[2019-01-15 09:15] RoyalSix opened #5668 "Word Alignment Does Not Cache Last Check"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [X] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
Open any project in the word alignment tool click on any check. Reload tC and the last check place does not show back up u

[2019-01-15 15:56] PhotoNomad0 commented on #4901
Verified in https://tc-builds.door43.org/build/develop/translationCore-macos-x64-1.1.0-1034612.dmg

[2019-01-15 16:33] cckozie opened #5669 "Change non-standard colors to standard colors"
1.1.0 (326e9df)
![image](https://user-images.githubusercontent.com/8171759/51194583-f37ee080-18b0-11e9-80b5-8c2c0cfd132a.png)

- [x] Toggle should be the tC dark blue **Fixed in 1.2.0 (3ae9fb5)**

![image](https://user-images.githubusercontent.com/13352518/56607737-de5fcf00-65ce-11e9-9647-8ceb19941368.png)
- [x] The `1` and `2` circles should be dark blue **Fixed in 1.2.0 (3ae9fb5)**
- [x] The che

[2019-01-15 18:15] cckozie commented on #4901
Works in 1.1.0 (1034612)

[2019-01-15 18:17] cckozie commented on #4672
Don't see an problems in 1.1.0 (1034612)

[2019-01-15 18:18] cckozie commented on #4884
Don't see an problems in 1.1.0 (1034612)

[2019-01-15 18:20] cckozie commented on #5551
1.1.0 (b287d3d)
wA now opens to 1:1 and then scrolls visibly to where it was last used. It would be better to work the way it used to, just load to the last used verse rather than display the scrolling. This may confuse the user. I'm checking with @benjore to see if this is acceptable.

tW still opens to the top check even though the last viewed check is active.

[2019-01-15 18:23] cckozie commented on #5551
1.1.0 (1034612)
tW is now scrolling to the last active check, but wA is again always opening to verse 1:1

[2019-01-15 18:26] RoyalSix opened #5670 "Verse Edit Box Height Flex"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [X] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
Verse Edit Box does not expand vertically correctly

### Steps to Reproduce

1. Open tC
2. Go to any project
3. Open tW, a

[2019-01-15 18:32] RoyalSix opened #5671 "tW Group Scroll Not Working After First Open"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [X] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
After opening tW the previous group menu item is scrolled to but after selecting another check it no longer scrolls

### S

[2019-01-15 18:41] richmahn commented on #5656
@cckozie You had a project opened that is actually titled “Unlocked Insecure Open Stuff” (“id”:“algn”,“name”:“Unlocked Insecure Open Stuff”, https://git.door43.org/tc01/aig_algn_gal_book/src/branch/master/manifest.json). What should it say instead with a mouse over?

[2019-01-15 18:46] richmahn commented on #5656
Moved to "In QA" as I assume you thought this text was coming from some code rather than the project's name.

[2019-01-15 19:19] cckozie commented on #5656
Rich is right. It is the project's nickname. (Project came from  McLean's repo

[2019-01-15 19:37] benjore opened #5672 "Create 1.1 Release Notes"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-15 19:37] benjore opened #5673 "Create 1.1 ChangeLog"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-15 19:38] benjore opened #5674 "Create 1.1 Release for Mac (.dmg) on a Mac"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-15 19:45] bspidel opened #5675 "Selection effects the display of the target language in the Scripture Pane"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
When adding or clearing selections, the visibility of the target language in the scripture pane toggles on and off.

### S

[2019-01-15 20:07] da1nerd commented on #5675
Some additional notes. Here's a diff between the previous commit https://github.com/unfoldingWord-dev/translationCore/commit/bca11e182620b31be29422355afbfa4deeb98961 and the commit with the error https://github.com/unfoldingWord-dev/translationCore/commit/773355bd149682a586cd562249244a74e47b0c1f (the very next commit)

Here's the file diff

[code]

[2019-01-15 20:16] da1nerd commented on #5675
@bspidel @PhotoNomad0 fyi I could not reproduce this error on linux. Running the latest commit on develop with a fresh node_modules and the latest version of the tools.

[2019-01-15 21:19] cckozie commented on #3562
THREE NEW ISSUES WERE CREATED TO HANDLE THESE 3 PROBLEMS SO THAT THE ISSUE COULD BE APPROVED FOR 1.1 (#5685, #5686, #5687)
1.1.0 (1034612)
Scenario A: (still testing other scenarios)
App indicates reset alignments when edits are done that do not actually affect alignments
1. Import https://git.door43.org/qa99/en_full_tit_book
2. Load the project in wA
3. Unalign some of the words as shown here:
![

[2019-01-15 21:36] cckozie opened #5676 "Verse edit is broken in wA"
1.1.0 (1034612)
Edits made in wA are not saved.
1. Open a project in wA
2. Open the expanded scripture pane
3. Edit some text in the verse
4. Add a reason
5. Click Save
Note that neither the text in the scripture pane or in the word bank has been changed per the edit.

[2019-01-16 01:35] da1nerd commented on #3562
I've confirmed that wA is inaccurately indicating alignments have changed due to the propagating effect of word occurrences.
e.g. Since there were other `the`s aligned in the verse their occurrence number changed which invalidated the alignment.

Resolving this is tricky because we need to make sure that rearranging words still causes an invalidation. Instead of doing a straight diff on the two al

[2019-01-16 16:38] PhotoNomad0 opened #5678 "See Problem that Scripture Pane in wA shows last selection made in tW"
## Story Explanation

### Definition of Done

## Additional Context

see in https://tc-builds.door43.org/build/release-v1.1.0/translationCore-macos-x64-1.1.0-91c4488.dmg

![Screen Shot 2019-01-16 at 11.34.04 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/47feb0cd-a48b-4756-921f-b4417a7917b6)

### Mockups

[2019-01-16 16:38] benjore opened #5679 "Handle Importing and Exporting of Verse Bridges"
## Story Explanation
### User Story

As an aligner of the UST, I want tC to correctly handle verse bridges on import and export so that it doesn't add in extra verse tags that I have manually delete.

### Features / Specifications

- [ ] Retain verse bridge annotation (e.g. `\v 13-14`
- [ ] Do not add additional USFM codes (e.g. `\v 13` and `\v 14`)

## Tasks
-  Handle empty verse tag removal on e

[2019-01-16 16:38] PhotoNomad0 commented on #5675
Verified in https://tc-builds.door43.org/build/release-v1.1.0/translationCore-macos-x64-1.1.0-91c4488.dmg

[2019-01-16 16:43] cckozie opened #5680 "Chapter does not open when clicked on in wA menu"
1.1.0 (91c4488)
Open a project in wA
Close the selected chapter
Click on a different chapter. Note that the chapter does not open to display the verses.
The only way to open the chapter now is to click on the > symbol (twice is the target chapter is not selected)
![image](https://user-images.githubusercontent.com/8171759/51264466-2c37bc00-197c-11e9-9448-72ecea3927a5.png)

[2019-01-16 17:18] benjore opened #5681 "Verbiage Update: what books are supported"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/88f20cff-d8df-4dc7-bac2-74e465483fd4)
![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/aecf317b-e73f-4ec2-af8a-51f3eacbb11d)
- [ ] "In this version of translationCore,

[2019-01-16 17:58] PhotoNomad0 commented on #5680
Fixed by @richmahn in https://github.com/unfoldingWord-dev/translationCore/pull/5682

[2019-01-16 17:59] PhotoNomad0 commented on #5678
Looks like this was fixed in https://github.com/unfoldingWord-dev/translationCore/pull/5682

[2019-01-16 18:13] #5668 closed, assigned to nobody

[2019-01-16 18:40] cckozie opened #5683 "Last open timestamp on project card is reset when new version of app is started"
1.1.0 (63dffc7)
After upgrading to the latest build of the app, the timestamps on all of the project cards are the same.
After tC sitting all night (with the Mac going to sleep), the timestamps all indicated 'an hour ago'. Then after clicking the Go to User then Go to Projects button, the projects all indicate 'a few seconds ago'.

[2019-01-16 18:43] RoyalSix opened #5684 "Greek Showing In Selection Pane Instead Of GL"
### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [X] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
The greek word is being displayed instead of the GL word in the selection instructions.
i.e. `Please select the translatio

[2019-01-16 18:51] cckozie commented on #5675
Works in 1.1.0 (63dffc7)

[2019-01-16 18:52] cckozie commented on #5680
Works in 1.1.0 (63dffc7)

[2019-01-16 18:54] cckozie commented on #5678
Works in 1.1.0 (63dffc7)

[2019-01-16 18:55] cckozie commented on #5676
Works in 1.1.0 (63dffc7)

[2019-01-16 19:23] #5663 closed, assigned to PhotoNomad0

[2019-01-16 19:25] cckozie opened #5685 "App indicates reset alignments when edits are done that do not actually affect alignments"
1.1.0 (1034612)

App indicates reset alignments when edits are done that do not actually affect alignments
1. Import https://git.door43.org/qa99/en_full_tit_book
2. Load the project in wA
3. Unalign some of the words as shown here:
![image](https://user-images.githubusercontent.com/8171759/51210178-bbd75f00-18d7-11e9-9251-05be8cc4e723.png)
4. Load the project in tW
5. In verse 1:1 under 'apostle',

[2019-01-16 19:27] cckozie opened #5686 "Edits made external to tC that invalidate selections are not caught until the project is opened in tW"
1.1.0 (1034612)
Scenario B:
When a project is edited external to tC and then reimported, broken alignments are handled properly (the alignments invalidated alert it issues during the import and the broken link number is correct on the tool card). Edits that affect tW selections are not caught until the user navigates to the check that has been invalidated. (The alert is not displayed and the broke

[2019-01-16 19:30] cckozie opened #5687 "The user is not warned that edits made in wA have invalidated tW selections until the project is opened in tW"
1.1.0 (1034612)
Scenario A:
When edits are made in wA that affect tW selections, the selections invalidated alert is not displayed until the user opens the project in tW. The broken link number on the tW card is set correctly.

[2019-01-16 19:33] benjore commented on #5654
May be fixed when the menu in #4443 is brought into tW. (#5688)

[2019-01-16 19:37] benjore opened #5688 "Add new menu to tc-ui-toolkit and hook it up to tW"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-01-16 19:41] cckozie commented on #5685
I've confirmed that wA is inaccurately indicating alignments have changed due to the propagating effect of word occurrences.
e.g. Since there were other `the`s aligned in the verse their occurrence number changed which invalidated the alignment.

Resolving this is tricky because we need to make sure that rearranging words still causes an invalidation. Instead of doing a straight diff on the two al

[2019-01-16 22:55] bspidel opened #5689 "Source Content Update Downloads Fail Frequently"
- [x] Stop the frequent download failures
- [ ] Optimize the process to improve time to update content.

Related to #4998

### Prerequisites

* Put an X between the brackets on this line if you have done all of the following:

- [x] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description

[2019-01-17 01:35] cckozie opened #5690 "Radio buttons on merge conflicts page change color when clicked"
1.1.0 (63dffc7)
The radio buttons used to always be black both when cleared and checked
![image](https://user-images.githubusercontent.com/8171759/51289457-e30c5a00-19c5-11e9-8955-7dd6f64b162d.png)

[2019-01-17 14:53] cckozie opened #5691 "Wrong/unclear message when online repo cannot be imported"
1.1.0 (63dffc7)
This message is incomplete and does not help the user understand why the import failed.
https://git.door43.org/Danjuma_Alfred_H/sw_tit_text_ulb
https://git.door43.org/uday/en_tw.git
https://git.door43.org/richmahn/en_tn_mat.git

![image](https://user-images.githubusercontent.com/8171759/56855490-7c280680-690d-11e9-9d33-2033d79f8455.png)

![image](https://user-images.githubuserconte

[2019-01-17 15:44] cckozie opened #5692 "Alignment completions are not maintained in USFM3 exports"
1.1.0 (63dffc7)
When fully aligned USFM3 projects are imported, tC indicates 0% complete. On the Home page it indicates 100%.
This is a change from 1.0.2 where it indicated 100% on both the tool card and Home page. A project that shows 100% on the wA card in 1.0.2 shows 0% on the wA card after upgrading to 1.1.0.
The Alignment complete status is not maintained in USFM3 files.
1. Import this projec

[2019-01-17 16:15] cckozie opened #5694 "Alignments % complete do not match on Tools page and Home page"
1.1.0 (63dffc7)
See steps to replicate in #5692, although I think the problem will exists in many other cases.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/76d60e73-fc00-42b5-8c27-78cb4c02308e)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/f8cf96ae-61c8-496b-917c-3b95b4f4645b)