[2019-08-01 15:41] cckozie opened #6314 "% complete not working on tN tools card"
2.0.0 (8f84296) (This was broken fairly recently)
I opened this project in tN and completed all of the checks. When I returned to the Tools page, I see the % complete on the tN card still at 0%

Before tN checks: [en_ult_3jn_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3457532/en_ult_3jn_book.zip)

After tN checks: [en_ult_3jn_book 2.zip](https://github.com/unfoldingWord-de

[2019-08-01 16:21] PhotoNomad0 commented on #6181
When I open this project: [en_ult_3jn_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3457705/en_ult_3jn_book.zip), I see 0% on tW.

It looks like the project selections folder has the data, but the group data has the selections false.  We used to check for this on project open.  Let me check.

[2019-08-01 16:33] elsylambert commented on #6181
Not seeing issue with the 3Jn project in my machine.
![image](https://user-images.githubusercontent.com/51806180/62310936-9f0c0e80-b458-11e9-80ee-78aec5be462b.png)

[2019-08-01 16:46] RoyalSix commented on #5686
@elsylambert When I test the last case (edits made outside the selection string)
What is the expected behavior? Shouldn't it not show an invalidation in tN because you are not invalidating anything in tN? Only wA?
When testing the last case and going back to open the tool I am seeing two icons on the menu:

- edited
- selection made

[2019-08-01 16:47] PhotoNomad0 commented on #6181
Sorry, I put this on wrong issue ^^^

[2019-08-01 17:31] elsylambert commented on #5686
@RoyalSix : Please refer to the Video shots for better understanding:
Within the Selection String:
[External edits-inside the selection string.zip](https://github.com/unfoldingWord-dev/translationCore/files/3457996/External.edits-inside.the.selection.string.zip)

At one point the Alert was not shown untill I was in the tN tool and the verse showed Broken link.
Outside of the selection String:
[Ext

[2019-08-01 18:27] benjore commented on #5832
- [ ] On Tool Launch, throw a warning that there are invalidations (reuse the verbiage that is already used). Use the message that is specific/correct for each tool.
- [ ] No need to throw another warning when the verse/check with an invalidation is actually opened.

[2019-08-01 18:40] elsylambert opened #6317 "Edits performed externally on text that appears in a completed check are not properly handled in tN or tW"
Outside of the selection String:
- make selection in tN or tW.(e.g Fruitful)
- export the project to USFM
- edit the same verse in USFM that had selection in tN/tW- ( e.g fruitful to fruitfulness).
- after Project Import with overwrite, in tN/tW it showed the edited verse as fruitfulness but the selection was only highlighted for fruitful.
[External edits-outside selection String.zip](https://gith

[2019-08-01 18:49] cckozie commented on #5930
Needs regression

[2019-08-01 20:16] elsylambert commented on #5686
Scope of this issue: the invalidated icon is not showing after an external edit and the fix would be to show that on tN tool card

Separated Issue with Edits outside the selection strings in #6317

[2019-08-01 21:17] elsylambert commented on #6222
Verified in 2.0.0 (8f84296).  Ellipsis character is working fine for tN. Checked in NT Book- PHM and OT book- RUT.

[2019-08-02 16:00] RoyalSix commented on #5686
Steps to replicate:
- Get [this project](https://github.com/unfoldingWord-dev/translationCore/files/3468587/en_test_tit_book.2.zip)
- Export project to USFM2. Restart tC.
- Open the new saved USFM file. Remove the word "and" from "Grace and peace". Save. Close editor.
- Open tC
- Overwrite the project given with the new USFM file
- The broken link icon is not showing on the tool card
- Click "Laun

[2019-08-02 19:27] cckozie commented on #6192
In 2.0.0 (8bd068d) the Feedback dialog is hidden behind the problem with content dialog if the next check also has a content problem.
https://git.door43.org/TC_SAVE/en_ust_rut_book
Open 1:16 under Assumed knowledge and click Send Feedback
![image](https://user-images.githubusercontent.com/8171759/62393980-77d54000-b531-11e9-8131-fb3ed149e6e1.png)

[2019-08-02 21:45] mannycolon commented on #6226
Verified on 7a21601

[2019-08-05 13:13] benjore commented on #6304
@elsylambert this is taken care of in CrowdIn. This would be the responsibility of the GL team, in this case Russ.

[2019-08-05 14:09] elsylambert commented on #6197
Not seeing this issue in 2.0.0 (71e7de6) .

[2019-08-05 14:09] #6197 closed, assigned to nobody

[2019-08-05 14:27] elsylambert commented on #6226
Looks good in 2.0.0 (71e7de6). Alignment Complete and Bookmark Toggle buttons have same Colours for On/Off Switch. And the Light blue colour has been changed to Dark blue at the import window, tool card and User interface language window.

[2019-08-05 16:10] mannycolon commented on #6256
Verified on 71e7de6

[2019-08-05 16:14] cckozie commented on #6226
2.0.0 (71e7de6)
The lines on the GL and Locale dropdowns were not blue on the Mac.
There are actually slight color differences on the switch in the tools, both when the switches are on and off, although the differences are not very noticeable to the naked eye. I do wonder why we do not have our standard colors defined and then used for all UI elements. Passing anyway.a

[2019-08-05 16:35] cckozie commented on #6256
2.0.0 (71e7de6)
The button text is Return Home, but when clicked, the user is returned to the Projects page, not the Home page.

Is this to be expected at this point?
![image](https://user-images.githubusercontent.com/8171759/62483781-1c4bc200-b77e-11e9-993f-5f78696fab2b.png)

(Button text is Return Home vs. Return to Home as in the included mockup. This was approved by @benjore in a slack thread,

[2019-08-05 16:56] PhotoNomad0 commented on #5832
@benjore - I thought we decided this warning would be when tool is launched.

[2019-08-05 17:36] cckozie commented on #5960
Should be fixed by #6256

[2019-08-05 18:36] benjore commented on #6256
Go back to Projects instead of Home screen. Change verbiage to "Go to Projects"

[2019-08-05 18:48] RoyalSix commented on #6282
#5991

[2019-08-05 18:55] mannycolon commented on #6309
Verified on 13c98cd

[2019-08-05 20:04] cckozie commented on #5662
2.0.0 (71e7de6)
Passed the following tests for English NT and OT with translation id matches:
- Exact word matches appear as suggestions
- Lemma matches appear as suggestions
- Suggestions are removed when the project from which they came has its translation id changed.

[2019-08-05 20:20] cckozie commented on #6309
Works as expected after cancelling in 2.0.0 (13c98cd).

[2019-08-05 21:11] cckozie opened #6325 "tHelps pane sometimes gets truncated in tN main window"
2.0.0 (13c98cd)
![Screen Shot 2019-08-05 at 4.06.01 PM.jpg](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/e34c6ff4-f568-485c-aebe-f18e9fcc3101)

Even when scrolled all the way to the right, the icon to expand the helps pane is truncated and there is no margin right of the text.
![Screen Shot 2019-08-05 at 4.10.02 PM.jpg](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5

[2019-08-05 23:53] RoyalSix commented on #5686
Should be fixed by #6321 @elsylambert

[2019-08-06 11:18] PhotoNomad0 commented on #6192
@cckozie - I think I have a fix that will not move to next verse until after you exit the feedback.  This should address the problem you saw.

But I cannot reproduce your problem above on my system using your project since 1:16 check and 2:18 check are both good.  How did you create the failures in the first place?  did you edit the json files?

[2019-08-06 11:47] PhotoNomad0 commented on #6192
We currently keep tN checks up to date in project, so about the only way to break a project would be to break the glQuotes in en tN helps file.

[2019-08-06 12:10] PhotoNomad0 commented on #6192
Modifying `resources⁩ ▸ ⁨en⁩ ▸ ⁨translationHelps⁩ ▸ ⁨translationNotes⁩ ▸ ⁨v16⁩ ▸ ⁨culture⁩ ▸ ⁨groups⁩ ▸ ⁨rut⁩ ▸ figs-explicit.json` for testing.

[2019-08-06 13:26] cckozie commented on #6192
@PhotoNomad0 - No, I do not believe I modified any files. I checked the timestamps on all of the relevant files and they all are the same as the surrounding ones. I am not seeing English or Hebrew in the available source content updates.
In the project I do not see any highlights in the scripture pane, either in the UHB or ULT on those verses. Does that indicate that they aren't aligned?

[2019-08-06 14:09] elsylambert opened #6327 "Selections are not saved when GL is switched in tN"
2.0.0 (78cd497).

Steps to replicate:
- Make few selections in tN with English as GL and save.
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/1044d7cb-e538-460c-8fa0-8aeb9fc27e4d)
- Switch the GL to Hindi and Launch again.
- Note that the selections are missing(e.g Phm 1:10) and some selections are saved but the green check mark is missing.
![image](https://user-images.

[2019-08-06 14:49] elsylambert commented on #6309
Verified in 2.0.0 (78cd497). Cancelling Export to USFM window works as expected.

[2019-08-06 14:51] elsylambert commented on #6270
This is fixed in 2.0.0 (78cd497) and verified in  #6309

[2019-08-06 14:51] #6270 closed, assigned to nobody

[2019-08-06 15:10] PhotoNomad0 commented on #6192
Verified in Version 2.0.0 (9f5e506)

[2019-08-06 15:13] PhotoNomad0 commented on #6192
@cckozie - don't worry about it - came up with an alternate way to reproduce the bug you saw.  With latest fix will not change to next verse until after feedback is exited.

[2019-08-06 15:26] PhotoNomad0 commented on #6314
@cckozie - verified in translationCore 2.0.0 (03081b5).

Just a note that if you open a project that was opened in the previous broken build, the tN progress may not be updated until the first time you open tN.  After that it should work fine.

[2019-08-06 15:32] PhotoNomad0 commented on #6256
~verified in translationCore 2.0.0 (03081b5)~

[2019-08-06 15:42] PhotoNomad0 commented on #6256
Oops, moved this to QA too soon.  Merged new locale strings and waiting for new dev build.

[2019-08-06 15:59] elsylambert opened #6328 "Import Project with Overwrite fails when tC is running"
2.0.0 (78cd497) . Tested on windows machine.
Follow steps to import a project locally:
- Downloaded a project from Door43 fully aligned(Import Online Project). https://git.door43.org/lrsallee/en_ult_heb_book
- Exported the Project to USFM without alignments.
- Imported the Project locally with same translation ID, so did an overwrite.
- Cannot Open the project, gives error that "Cannot convert und

[2019-08-06 16:25] cckozie commented on #6328
Is this possibly a race condition? I am not seeing the problem with the specified project on either my Mac or Windows machine.

[2019-08-06 16:35] elsylambert commented on #5662
Verified in 2.0.0 (78cd497) .
Tested for English and Hindi Projects in NT and OT. Exact word matches and Lemma matches are showing up in suggestions from Projects with same translation id.
Needs regression

[2019-08-06 16:36] PhotoNomad0 commented on #6256
Verified in translationCore 2.0.0 (61fec46) with hi locale

[2019-08-06 17:02] cckozie commented on #6314
2.0.0 (03081b5)
Works as expected on newly checked projects, and after the first open on older ones.
Needs regression

[2019-08-06 17:09] cckozie commented on #6192
Works correctly in 2.0.0 (61fec46)
Needs regression

[2019-08-06 18:40] PhotoNomad0 opened #6329 "tCore crashes after opening a project with invalid project name"
## Story Explanation
### User Story

To reproduce, rename a project (outside of tC using Explorer or Finder) to be invalid.  When you select project, it will open the project details page.  Click save changes.  Then should see alert that project renamed  After clicking OK will see crash.

![Screen Shot 2019-08-06 at 2.32.29 PM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/f43b

[2019-08-06 19:02] RoyalSix commented on #6297
https://github.com/unfoldingWord-dev/translationCore/blob/develop/src/js/helpers/gatewayLanguageHelpers.js#L49

[2019-08-06 19:05] mannycolon commented on #5832
Verified on 1ad7e00

[2019-08-06 19:17] PhotoNomad0 commented on #6327
@elsylambert @cckozie @benjore - in the latest build `translationCore 2.0.0 (61fec46)` the behavior is better in that the selections are not lost.  ~Unfortunately it does mark all verses as edited once the GL is changed~ (the verse edits were already in the project from 2/18/2019) :
![Screen Shot 2019-08-06 at 3 13 36 PM](https://user-images.githubusercontent.com/14238574/62570076-488a4000-b85d-11

[2019-08-06 19:29] PhotoNomad0 commented on #6327
Notes about keeping GL checks separated by language for tN:
* save groupData in GL subfolders?  when loading checkData, we filter data loaded by GL?
* migrate existing projects
* ~need to load specific UGNT/UHB version needed for checks when bibles are loaded~ already implemented according to Manny
* ~do not default GL for tN to English.~ in different issue

[2019-08-06 19:47] mannycolon commented on #6327
@PhotoNomad0

Should be done with the tsv relation field in the project manifest

Its part of #4102

[2019-08-06 21:58] cckozie commented on #5832
ISSUE A:
If multiple checks have been reset do to edits in another tool, the reset selections alert is displayed multiple times when the project is loaded in the affected tool. (Actually, the first time it is displayed there is no Cancel button on it, and the second time there is a Cancel button)
This project has 3 reset checks in both tN and tW. When loaded in either of those tools, the reset sel

[2019-08-06 22:04] mannycolon commented on #6327
@PhotoNomad0

I just verified that this is already happening

[2019-08-07 11:07] PhotoNomad0 commented on #6327
@benjore @elsylambert @cckozie - It seems that now:
- the above issue fixed about not displaying all the selections on GL change
- @mannycolon has made a fix to persist the GL selections
- @mannycolon has verified we are loading the correct version of the OrigLang for the tsv

I don't think we should try to separate checks, since there is not a scenario that we would loose data, just may not be di

[2019-08-07 12:44] PhotoNomad0 commented on #4102
@mannycolon - was waiting for locale strings, but even after merging concourse didn't build.  Is it ignoring crowdin Merges?

[2019-08-07 13:09] PhotoNomad0 commented on #6328
Hmm...not seeing the problem on my old Windows 10, 64 bit machine running version translationCore 2.0.0 (92b46cf).  Also it worked on old WIndows laptop with Hard Drive - very slow.

[2019-08-07 13:23] PhotoNomad0 commented on #6328
Don't see anything in the log that hints why overwrite may have failed.

[2019-08-07 13:30] PhotoNomad0 commented on #6328
@elsylambert - the screen capture of the error looks like a missing locale string.  What was your locale setting?

[2019-08-07 13:33] PhotoNomad0 commented on #6328
@elsylambert - can you try to recreate this error with latest build and capture a video of the process?

[2019-08-07 14:27] elsylambert commented on #6327
Verified in 2.0.0 (92b46cf). Selections are not lost when GLs are switched and also the Green check mark is displayed.
Needs regression.

[2019-08-07 14:38] elsylambert commented on #6256
Looks good in 2.0.0 (92b46cf).

[2019-08-07 14:42] elsylambert commented on #6192
Verified in 2.0.0 (92b46cf). Working fine.

[2019-08-07 14:42] PhotoNomad0 commented on #6327
It was decided to not save checks separately based on GL, so no more dev work needed on this.

[2019-08-07 14:55] elsylambert commented on #6328
Tested in 2.0.0 (92b46cf).
Please see the screen capture:
[2.0.0(92b46cf)reimport.zip](https://github.com/unfoldingWord-dev/translationCore/files/3477580/2.0.0.92b46cf.reimport.zip)

[2019-08-07 15:01] PhotoNomad0 commented on #4102
Verified in build translationCore 2.0.0 (3fe9fe0) with locale strings.

[2019-08-07 15:32] PhotoNomad0 commented on #6328
@elsylambert - I can recreate the problem - if I click more than once on the “Overwrite Project” button on the alert.  Glad your video had sound so I could hear the second click!

[2019-08-07 15:38] PhotoNomad0 commented on #6328
Working on fix to prevent this since this is always a temptation to click again if you don't see something happening.

[2019-08-07 15:42] cckozie opened #6335 "When the locale is changed when on the tools page, the localized text on the tool cards does not change until the user changes something on the card"
2.0.0 (3fe9fe0)
Go to the Tools page
Change the locale
Notice that the text in the instructions pane is updated to the new locale, but nothing on any of the tool cards changes.
Uncheck one of the checkboxes or change the GL on one of the tools and notice that the tool cards text is now displayed in the correct locale.

[2019-08-07 15:47] cckozie opened #6336 "Automatically select English as the GL for the wA tool"
2.0.0 (3fe9fe0)
Since English is currently the only available GL for word alignment, select it automatically instead of making the user make the selection.

[2019-08-07 15:47] cckozie commented on #4102
2.0.0 (3fe9fe0)
The specs have been implemented.
While testing I created 2 new issues that would improve the user experience while on the Tools page. (#6335 and #6336)

[2019-08-07 16:48] elsylambert commented on #4102
New feature Looks good in 2.0.0 (3fe9fe0).

Needs improvements with Hindi as Locale : the String has mistakes.
![image](https://user-images.githubusercontent.com/51806180/62711264-b736dd00-b9c6-11e9-8bd5-27a16ebe5b9d.png)

[2019-08-07 16:54] cckozie commented on #6327
2.0.0 (3fe9fe0)
There are 2 issues that need to be discussed:
ISSUE 1. After a GL (GL1) is selected, tC will ignore checks in a different GL (GL2) that do not exist in GL1.
Checks in English include Abstract Nouns (top category in screenshot)
![image](https://user-images.githubusercontent.com/8171759/62641612-95c3eb80-b909-11e9-9a6f-ef499351e624.png)

After switching to Hindi, for which I have del

[2019-08-07 17:57] mannycolon opened #6338 "Disable the primary button on alert dialogs when clicked the first time to avoid the user thinking the first click did not work"
## Story Explanation
### User Story

As a tC user, I want the dialog alert buttons to be disabled when clicked so that I don't get confused thinking that the first time I clicked the button did not work and making me click it a second time and potentially braking tC.

### Features / Specifications

- [ ] On click, disable all buttons on a dialog
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [

[2019-08-07 18:25] cckozie opened #6340 "For all tools, if there is only one GL available, default to that GL rather than display "Select Gateway Languge""
If there is only one GL available I think it makes more sense to just display it rather than force the user to select it.

[2019-08-07 19:43] mannycolon commented on #6328
Verified on 8b118f2

[2019-08-07 20:50] cckozie commented on #6328
2.0.0 (3256e93)
Unable to cause a failure even by clicking on the Overwrite button multiple times.

[2019-08-07 22:01] cckozie commented on #5832
@PhotoNomad0 - FYI:  I found the cause of the two alerts, one shows when I load the tool, and the second shows if it opens to a check that was edited outside of the tool.

ISSUE B:
I'm sometimes seeing the alert anytime I navigate to an edited verse, regardless of whether or that it had a selection reset or even has a selection.

ISSUE C:
In tN only, I'm seeing the reset selections alert when I na

[2019-08-08 03:58] elsylambert commented on #6328
Not seeing any issues with Import overwrite in 2.0.0 (3256e93).

[2019-08-08 04:16] elsylambert commented on #5686
Working fine in 2.0.0 (3256e93). Invalidations are shown on tN tool card for the edits made externally.

[2019-08-08 04:28] elsylambert commented on #6314
Works fine in 2.0.0 (3256e93).
Needs regression

[2019-08-08 12:21] PhotoNomad0 commented on #6297
Verified in translationCore 2.0.0 (b5c5fee)

[2019-08-08 14:23] elsylambert commented on #6297
Works as expected in 2.0.0 (b5c5fee). GL is selected as English for wA as currently we have Lexicon in only En.

[2019-08-08 15:35] cckozie commented on #5832
Here are the steps to replicate the last problem mentioned in ISSUE E above:
1. Import https://git.door43.org/TC_SAVE/en_new_phm_book
2. Load the project in wA
3. Edit verse 1:13 to change "gospel" to "good new"
4. Choose a reason code and click Save
5. Return to the Tools page
6. Load the project in tN
7. Open the Assume Knowledge... group
8. Note that the checkmark and selection is still on the

[2019-08-08 15:48] PhotoNomad0 commented on #5832
You were correct, there were two alerts stacked.

[2019-08-08 15:52] cckozie commented on #6327
@benjore agrees with ISSUE 1 above.
Import a project that has more defined English tN checks than defined Hindi tN checks
Open the project in English and complete a check that is not defined for Hindi
Return to the tools page, choose Hindi as the GL for tN, and load the project in tN
Return to the tools page, choose English as the GL for tN, and load the project in tN
Note that the completed check

[2019-08-08 18:21] mannycolon commented on #6282
Sorry put the comment in a PR issue instead of on here.

Verified on 486c932

[2019-08-08 18:21] benjore opened #6346 "Create Release Branch for 2.0 & Change Log (after last issue is in)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-08-08 18:32] cckozie opened #6347 "Critical error screen after changing GL's in tN, then opening a category"
2.0.0 (b5c5fee)
Delete the figs-abstractnouns.json under grammar in the Hind translationNotes folder
Select a Titus project
Set the tN GL to English and launch it
Make a selection in the Abstract nouns group
Return to the Tools page
Select Hindi as the GL for tN and launch it
Return to the Tools page
Select English as the GL for tN
Click on the "V" to open the Grammar category
The Critical error s

[2019-08-08 18:55] mannycolon commented on #6282
Also verified on 70943af

[2019-08-08 20:12] cckozie commented on #6327
Turns out the missing check problem is really the fact that the sub-category gets unchecked on the tools card. When checked again, the check does show up in English GL.
Wrote up #6347 to deal with the critical error issue.

[2019-08-08 21:29] cckozie commented on #6297
2.0.0 (2c07d1c)
English is auto-selected for wA if it has the only lexicon available.
I see that now the GLs for both tN and tW are also auto-selected if there is only one available.

[2019-08-08 21:46] cckozie opened #6350 "tC hangs with "Checking if this edit conflicts with saved selections and alignments" alert displayed"
I was running my script to test performance
![image](https://user-images.githubusercontent.com/8171759/62739947-dd2aa480-b9fb-11e9-98e9-5d115a537bc0.png)

[2019-08-08 23:33] cckozie commented on #6282
I'm not seeing any noticeable improvements in the latest build, 2.0.0 (2c07d1c)
Not seeing any in 2.0.0 (70943af) either.
Timings here: [tC_performance.csv 3.zip](https://github.com/unfoldingWord-dev/translationCore/files/3484115/tC_performance.csv.3.zip)

[2019-08-09 15:35] benjore opened #6351 "Correctly handle tA links"
This is a follow-up on #6296. Because the way we were detecting links broke on non-English GL's, we chose just not displaying the links as a temporary "fix" to that issue.
See example problems in #6621

## User story

As a speaker of any GL, I want the links to tA articles to work in my GL so that I can learn better translation practices.

## Specs

- [x] Show all tA links in the Smurf bar as hype

[2019-08-09 16:00] PhotoNomad0 commented on #5832
Verified in translationCore 2.0.0 (6da74a1)

[2019-08-09 16:20] elsylambert commented on #4102
Passing this issue. Will take the crowding issue with GL Team separately.

[2019-08-09 16:24] elsylambert commented on #6297
Working fine in  2.0.0 (6da74a1). English is selected as GL for wA by default. Also for tN English is selected by default when no other resources are available.

[2019-08-09 16:59] PhotoNomad0 commented on #6303
Fixed in PR https://github.com/unfoldingword-dev/translationcore/pull/6353

[2019-08-09 17:34] #6303 closed, assigned to nobody

[2019-08-09 18:28] benjore commented on #6282
It appears that the code @RoyalSix did is in the build, but the speed improvements in develop did not translate to performance enhancements in production build. I'll pull this out of the Sprint for now as we need to get to code freeze.

[2019-08-09 18:30] RoyalSix commented on #6282
Potential performance improvement in batching localization actions
check https://github.com/translationCoreApps/tc-tool/compare/feature-jay-6282?expand=1

[2019-08-09 18:36] richmahn commented on #6296
Verified in translationCore 2.0.0 (a49ad2d)

[2019-08-09 20:50] cckozie commented on #5832
2.0.0 (aca7a85)
I broke out the separate problems noted in the comments above.
ISSUE A has been fixed
ISSUE B has been fixed
ISSUE C is still a problem
ISSUE D has been fixed
ISSUE E is still a problem

[2019-08-10 15:59] cckozie opened #6359 "Problems with UGNT and tN versioning"
2.0.0 (aca7a85)
ISSUE A:
When attempting to load a project in tN that requires an older version of the UGNT, the user is prompted to download it. When the download is complete and the user clicks on the the tN Launch button, the alert indicating that a different version of the UGNT is required again. The user needs to return to the Projects page and then go back to the Tools page in order to get t

[2019-08-10 16:16] cckozie opened #6360 "Older versions of the UGNT are deleted when tC is started"
2.0.0 (aca7a85)
1. Edit the manifest.json file for a project so that it requires and older version of the UGNT (v0.7)
2. Attempt to launch that project in tN
3. When alerted that a different version of the UGNT is needed, click the Download button
4. After the download completes, go back to the Projects page (this step is needed because of a bug written up in #6359)
5. Go the Tools page and launch

[2019-08-12 01:47] richmahn commented on #6296
@cckozie @elsylambert This also fixes Bible links in Hindi GL, such as in the Translation Note of Personification for Titus 2:12 (references Titus 2:11). Mousing over that scripture reference will now pop up the verse. Currently all references to TA and TW are stripped from the occurrence note in the smurf bar.

[2019-08-12 11:45] PhotoNomad0 commented on #5832
Hmm...how did this come back?  It is now showing the edit, but not the invalidate.  looking...

[2019-08-12 12:41] PhotoNomad0 commented on #5832
Still a mystery how the checker and I both saw this as working, but likely due to version of tN we had loaded at time.  But looks like the cause of E is where the project had been worked on in a previous unreleased build with older tN resources (have had a few format changes in 1.2.0 to 2.0.0).  Making a fix since this could be an issue in future releases.

[2019-08-12 13:51] elsylambert opened #6363 "GL is not available for selection in tW."
2.0.0 (a49ad2d)
For the projects which were having En/Hi as GL, now showing as None Available for tW.
![image](https://user-images.githubusercontent.com/51806180/62869999-e3b06900-bce6-11e9-8e3d-56dec3cd0962.png)

[2019-08-12 14:27] PhotoNomad0 opened #6364 "Need to fix several bugs in source-content-update script"
## Story Explanation
### User Story

When you run the `update-resources` script in tCore there are several problems that need to be addressed:
- [ ] does not report error when content is not zipped in tHelps - not sure if this was caused by a zip error or ...
- [ ] in tcResources if the el-x-koine tWords folder is deleted, the update script does not update the tWords - this may be because the tW a

[2019-08-12 15:39] PhotoNomad0 commented on #6363
@elsylambert - this is due to broken bundled resources.  It should be fixed in the PR https://github.com/unfoldingWord-dev/translationCore/pull/6365.  Will verify when latest build comes through.

[2019-08-12 15:53] PhotoNomad0 commented on #6363
Verified in translationCore 2.0.0 (8c6ecbb)

[2019-08-12 15:53] richmahn commented on #6363
Fixed in the #6296 build

[2019-08-12 15:55] PhotoNomad0 commented on #6296
Verified in translationCore 2.0.0 (8c6ecbb)

[2019-08-12 15:56] richmahn commented on #6363
Verified in Build (8c6ecbb)

[2019-08-12 16:39] PhotoNomad0 commented on #5832
Verified in translationCore 2.0.0 (52eff0d)

[2019-08-12 17:12] elsylambert commented on #6296
Looks good in 2.0.0 (52eff0d). Occurrence Notes are showing in Hindi for a Hindi Project.

[2019-08-12 17:28] elsylambert commented on #5832
2.0.0 (52eff0d). Issue E is fixed. Edit made in wA which invalidated selections in tN are indicated on the Tool card. It displays Alert message that Some Selections are invalidated when tN is loaded and shows a broken link icon on the verse.

Issue C is fixed. The Alert for Invalid Selections is displayed once when tN is loaded.

[2019-08-12 17:28] elsylambert commented on #5832
Not seeing Issue A, B and D.
Needs regression

[2019-08-12 17:39] elsylambert commented on #6363
Not seeing the issue in  2.0.0 (52eff0d)

[2019-08-12 18:01] #6296 closed, assigned to richmahn

[2019-08-12 18:25] richmahn commented on #6285
I believe you wrote it up in #6310

[2019-08-12 19:57] cckozie opened #6367 "Enhance resource updates feature to allow users to see optional resources and choose whether or not to include them in the download"
Currently all resources are downloaded as a group based on the language. If there is an optional resource in the language group, e.g. t4t, and that resource is not on the user's system, English will show as a language that has updates even if every other English resource is up to date on the user's system.
This has several negative effects:
1. The user may think there are updates to resources alre

[2019-08-12 20:20] cckozie commented on #6363
Works correctly in 2.0.0 (a4d181d)

[2019-08-12 21:43] cckozie commented on #5832
All issues fixed in 2.0.0 (a4d181d)

[2019-08-13 13:01] PhotoNomad0 opened #6369 "Cleanup toolsReducer"
## Story Explanation
### User Story

in Console log getting lots of messages that toolsReducer is Deprecated - need to clean up code.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-08-13 13:06] PhotoNomad0 opened #6370 "Cleanup log entries about Alignment Memory - creating large log files"
## Story Explanation
### User Story

Getting lots of log entries such as:
Target Alignment Memory "n:the:servant:who:had:received:two:talents" exceeds maximum n-gram length of 5 and may be ignored.

This is creating large log files that are hard to sift through.  This is only useful for the developer trying to optimize alignment memory.  Should we remove?  should we just log a summary count?

###

[2019-08-13 13:09] PhotoNomad0 opened #6371 "Log files can grow to fill up the disk - need way to control size."
## Story Explanation
### User Story

may be dup of https://github.com/unfoldingWord-dev/translationCore/issues/6185

Log files can grow to fill up the disk - need way to control size.
- do we just keep the last N log files?

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-08-13 13:54] PhotoNomad0 commented on #5151
@cckozie @benjore - ~the bug is that the entry in the translationDatabase (langnames.json) has "हिन्दी, हिन्दी" as the localized language name.~

[2019-08-13 15:24] PhotoNomad0 commented on #5151
@cckozie @benjore - looking closer this language name is not a repeat or duplicate.   The hi entry in the translationDatabase (langnames.json) has "हिन्दी, हिंदी" as the localized language name.  Looks like there are two alternate spellings or names.  @elsylambert - does this look right to you?

[2019-08-13 15:38] #6174 closed, assigned to PhotoNomad0, elsylambert

[2019-08-13 15:38] #6289 closed, assigned to PhotoNomad0

[2019-08-13 15:39] #6177 closed, assigned to cckozie

[2019-08-13 15:40] #6295 closed, assigned to RoyalSix

[2019-08-13 15:40] #6181 closed, assigned to RoyalSix

[2019-08-13 15:40] #5996 closed, assigned to RoyalSix, mannycolon

[2019-08-13 15:41] #6285 closed, assigned to richmahn

[2019-08-13 15:42] #6309 closed, assigned to mannycolon

[2019-08-13 15:45] #6328 closed, assigned to PhotoNomad0

[2019-08-13 15:46] elsylambert commented on #6256
Steps to bring up the Critical Error screen:
- Log in as a user that has some projects on Door43.
- Import one of those projects, but change the translation id when you get to the project details screen.
- When the alert comes up asking whether you want to rename the repo or create a new one, click the X on the alert instead of one of the buttons.
- If the new project does not appear on the Projec

[2019-08-13 15:46] #5686 closed, assigned to RoyalSix

[2019-08-13 15:46] #6314 closed, assigned to PhotoNomad0

[2019-08-13 15:46] #6327 closed, assigned to PhotoNomad0

[2019-08-13 15:48] #6363 closed, assigned to nobody

[2019-08-13 15:48] #5832 closed, assigned to PhotoNomad0

[2019-08-13 17:00] PhotoNomad0 commented on #5990
This was mistakenly closed.

[2019-08-13 17:03] PhotoNomad0 commented on #6185
@cckozie @benjore - maybe change this to keep the most recent 7 log files (a log file per day).  I'm concerned that if someone comes back from vacation, it would wipe out everything.

[2019-08-13 18:32] #4102 closed, assigned to mannycolon

[2019-08-13 18:32] #5662 closed, assigned to da1nerd, RoyalSix

[2019-08-13 18:32] #6192 closed, assigned to PhotoNomad0

[2019-08-13 18:32] #6222 closed, assigned to mannycolon, elsylambert

[2019-08-13 18:32] #6256 closed, assigned to mannycolon

[2019-08-13 18:32] #6226 closed, assigned to mannycolon

[2019-08-13 18:32] #6275 closed, assigned to PhotoNomad0

[2019-08-13 18:32] #6297 closed, assigned to mannycolon

[2019-08-13 19:16] #5991 closed, assigned to nobody

[2019-08-13 19:31] benjore opened #6373 "Spec out rebuilding tC on Electronite"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Give a Best case, Worst case, and Expected case estimates
- [ ] Suggested workflow
- [ ] Any assumptions (e.g. the Windows build is working, etc.)

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-08-13 19:41] benjore opened #6374 "Save Category & Subcategory selections by GL + Project"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Selections of Subcategories & Categories are saved for each project on a per GL basis
- [ ] When going to a new tool or new GL that has not been opened before, default to all subcategories & categories being selected
- [ ] (For tN & tW & any other future tool wi

[2019-08-13 20:08] mannycolon opened #6375 "English is showing for a translationWord check on the menu when only Hindi text should be rendered."
#  Story Explanation
### User Story

As a tC user, I want only Hindi text to show on the menu when I select Hindi as a GL so that I can consistently work on a Hindi project without being confused why English text is found in the check.

Project used: [hi_aaa_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3498671/hi_aaa_tit_book.zip)

### Features / Specifications

- [ ]
-

[2019-08-13 20:51] PhotoNomad0 commented on #6360
@cckozie - I talked with @mannycolon and want to suggest a better test procedure than editing the project manifest.json.

1. edit hi tN manifest.json to change dependency to ugnt v0.7
1. in tCore, select a project that we have alignments in hi (I used phm)
1. change tN GL to hi which will update the project manifest
1. click launch and get prompt to download.
1. click to download
1. go back to the

[2019-08-14 12:33] PhotoNomad0 commented on #3579
**Note:**
- it seems that when the context changes we are waiting for everything to re-render - group menu, scripture pane, alignment area, etc.   Also have background git commit and wordmap running.
- maybe we can minimize logging (e.g. "DEPRECATED: toolsReducer is deprecated" and "Alignment Memory "n:the:servant...") on context change all these file appends are expensive.  It looks like logging

[2019-08-14 14:09] cckozie commented on #6360
The old version of the UGNT is not deleted when the above steps are followed.

@PhotoNomad0 @mannycolon @benjore - So is there an assumption that the same version of the original language will be used for all corresponding translation notes for a specific GL?
If so, is that a valid assumption.?

[2019-08-14 14:22] elsylambert commented on #5175
Verified in 2.0.0 (8a6a8c5). Not seeing any issues. The Selected words in the word bank gets deselected when navigated to another verse or edit in Scripture pane.

[2019-08-14 14:41] elsylambert commented on #5990
Working fine in 2.0.0 (8a6a8c5).

[2019-08-14 16:13] cckozie opened #6377 "Broken links value on wA tool card is not in sync with percent complete after reimport with overwrite"
2.0.0 (8a6a8c5)
These steps lead to the reported problem every time that they are executed by my automation script, but I do not see the problem when performing the same steps manually. Maybe a race condition somewhere along the way? (The broken links do not get updated regardless of how long I stay on the tools page)
Movie at https://drive.google.com/open?id=1OGq8DOVC9oMiWD6wBDx7jDMTNGBk_HVM

[57

[2019-08-14 16:44] cckozie opened #6378 "The previously selected GL is not persisted for tN and tW when the user performs an reimport of a project"
2.0.0 (8a6a8c5)
Select a project and set the GL for it to English for both tN and tW
Export the project to usfm without alignments
Import the exported usfm giving it the same translation id as the original
Click the Overwrite button on the project details screen and the alert
When the tools page is displayed, note that both tN and tW no longer have English selected as the GL

[2019-08-14 17:35] benjore commented on #6360
~~We need to be able to handle the situation where the tN in a GL are pegged to one version of the UGNT for one book and another version of the UGNT for another book.~~

The current structure of the tN manifest only supports the granularity of one version of the UGNT per GL. Unless/until the manifest changes, tC only needs to support on version of the UGNT per GL.

[2019-08-14 17:40] mannycolon commented on #6360
What @benjore said is whats happening now

[2019-08-14 17:41] mannycolon commented on #6360
@cckozie

Yes

[2019-08-14 19:53] mannycolon commented on #6373
# tC with Electronite

## Steps

1. Get translationCore working with Electron version 6 **(1 week)**
    - In my findings to upgrade tC from Electron version 3-4 to version 6+, we would need to bundle the code using Webpack. (I've already proven this assumption is possible see: [electron-react-webpack-boilerplate](https://github.com/mannycolon/electron-react-webpack-boilerplate))
    - There are a

[2019-08-14 20:54] cckozie commented on #6360
2.0.0 (8a6a8c5) - The older ugnt is not deleted when McLeans steps above are followed.

[2019-08-14 20:59] cckozie commented on #5175
Yes, #5930 is actually a dup of this one. It should have just been closed.

[2019-08-14 20:59] #5175 closed, assigned to nobody

[2019-08-14 21:10] elsylambert opened #6380 "Alignment memory not shown for an existing project"
2.0.0 (8a6a8c5) .
Here is the project:
[en_new_heb_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3503373/en_new_heb_book.zip)

Import this project with same Translation ID as one of your aligned projects. This project does not show word suggestions from the aligned project.
Steps to Replicate:
Just dropped the project into the projects folder, then imported an aligned Matthe

[2019-08-15 12:39] PhotoNomad0 commented on #6380
@benjore @elsylambert @RoyalSix - The problem is due to the selections made in tN in this Hebrews project.

To recreate this in another project, just make a selection in tN for a check that has multiple words in the original language (probably would have same problem in tW).

**Developer Troubleshooting Notes:**
In WA initMAP() during startup, there is an exception being thrown that is breaking wo

[2019-08-15 13:01] PhotoNomad0 commented on #6380
Here is a check in Hebrews that would cause wordmap error if selection is made:

{
  "contextId": {
    "occurrenceNote": "“40 years” (See: [Numbers](rc://en/ta/man/translate/translate-numbers))",
    "reference": {
      "bookId": "heb",
      "chapter": 3,
      "verse": 10
    },
    "tool": "translationNotes",
    "groupId": "translate-numbers",
    "quote": [
      {
        "word": "τεσσεράκ

[2019-08-15 13:12] PhotoNomad0 commented on #6380
To "fix" this project - in tN for this project, removed selections for numbers, pronouns 5:11, pronouns 9:5.  And in tW remove selection for zion.  WordMap will start working.

**Summary:** Either tN or tW selections where there are multiple words in the Original Language can break word suggestions in the project.

[2019-08-15 15:24] PhotoNomad0 commented on #6380
[41-MAT-aligned.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3506072/41-MAT-aligned.usfm.zip)

[2019-08-15 15:36] elsylambert commented on #6360
2.0.0 (94d3a74) - The older version of UGNT is not deleted from the resources.

[2019-08-15 15:50] elsylambert commented on #6359
Adding my findings in 2.0.0 (94d3a74). Issue A:
 I followed through these steps:
1. edit hi tN manifest.json to change dependency to ugnt v0.7
2. in tCore, select a project that we have alignments in hi (I used phm)
3. change tN GL to hi which will update the project manifest
4. click launch and get prompt to download.
5. click to download
6. go back to the Projects page
7. Go the Tools page and l

[2019-08-15 16:14] cckozie commented on #5990
2.0.0 (8a6a8c5)
After performing other tests this morning I tried testing this. The log.zip file did show up in the Forum, but the log.txt file was empty.
[log (1).zip](https://github.com/unfoldingWord-dev/translationCore/files/3506312/log.1.zip)
![image](https://user-images.githubusercontent.com/8171759/63109182-35a6f800-bf4e-11e9-8a32-0cf480f487ce.png)

I have not been able to replicate the prob

[2019-08-15 17:57] PhotoNomad0 commented on #6380
Verified in translationCore 2.0.0 (af07d31)

[2019-08-16 04:18] mannycolon opened #6383 "Epic - Rebuild tC on Electronite"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-08-16 04:19] mannycolon commented on #6383
# tC with Electronite

## Steps

1. Get translationCore working with Electron version 6 **(1 week)**
    - In my findings to upgrade tC from Electron version 3-4 to version 6+, we would need to bundle the code using Webpack. (I've already proven this assumption is possible see: [electron-react-webpack-boilerplate](https://github.com/mannycolon/electron-react-webpack-boilerplate))
    - There are a

[2019-08-16 14:00] elsylambert commented on #6380
Not seeing the issue in 2.0.0 (ade72a0). Word map suggestions are showing up in wA when there are two or more Original language selections in tN and tW.

Needs regression.

[2019-08-16 18:14] elsylambert commented on #6335
This is similar to #6306

[2019-08-16 19:56] richmahn commented on #5201
Seems it wasn't a delay in rendering as it clearly renders to a blue button even when you try to drag and can't. For some reason there is no delay if you start to drag an unselected word (when other buttons are selected) and it becomes blue, the event continues to go smoothly. Yet seems like when you click a word, the event listener get removed and then added again to all the items, causing the de

[2019-08-16 20:51] PhotoNomad0 commented on #3579
Note: looks like we are doing a revalidation of the whole book on each contextId change at about 1/2 second on fast PC.

[2019-08-16 23:36] mannycolon commented on #5201
Verified on 2d82863

[2019-08-17 06:41] mannycolon commented on #6359
Verified on cb75770

[2019-08-19 13:12] PhotoNomad0 commented on #3579
Note: The big delay in switching verses in WA seems to be re-rendering of the groupMenu which is doing file storage calls on each item to get latest state.

[2019-08-19 13:37] cckozie opened #6388 "Problems with messages when sending feedback with no Internet connection"
2.0.0 (d443ae8)

When attempting to check for software or content updates when there is not Internet connection, an alert is displayed with the text "Unable to connect to the server. Please check your Internet connection."
In the past, that same alert was issued when attempting to send feedback when there is no internet connection.
Instead now when the user attempts to send feedback the following

[2019-08-19 15:45] elsylambert opened #6389 "Wrong Selection text and Green check displayed in tN for a verse that has two checks."
2.0.0 (cb75770).
Here is the project:
[en_new_1ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3516616/en_new_1ti_book.zip)

Steps to replicate:
1. In tN. make selection for a verse that has two checks. For e.g. In this project,  1ti 6:13 there are two checks in tN under category "Assumed Knowledge..."
2. Make selection for both the verses and save.
3. Selections seems fine

[2019-08-19 16:26] #2016 closed, assigned to nobody

[2019-08-19 16:26] benjore opened #6390 "Make the X for suggestions in wA tool larger (too small)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] make the X bigger
- [ ] Add some padding around the X that functions the same when clicked as if the X itself were clicked.
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-08-19 19:13] mannycolon commented on #5937
Added indicator of processing & Improved performance on saving changes from `2mins 10sec` to `15sec` on my computer

[2019-08-19 20:52] mannycolon commented on #5937
@cckozie @elsylambert

This issue was addressed/fixed long time ago and I thought it was actually referring to the delay when only opening the project's project details screen.

Therefore I used the following steps:

-  Import this project: https://git.door43.org/lrsallee/en_ult_act_book using the online import dialog.
- After being taken to the tools page go to the home page and click the three d

[2019-08-19 20:58] mannycolon commented on #5937
@cckozie @elsylambert  So I would suggest testing both functionalities

[2019-08-20 13:29] PhotoNomad0 commented on #6389
@elsylambert - In the first case, I only see this error when I exit tN and then open wA and then go back to tN.  Just relaunching tN does not cause this.  And going from tN to tW to tN does not cause it.  It also looks like it is a transient error since if I open a different project and return, the problem clears.

[2019-08-20 13:35] PhotoNomad0 commented on #6389
@elsylambert - In the second case, if I go into WA and back to tN, I see both items have checkmarks even though only one has selections.
![Screen Shot 2019-08-20 at 9 35 12 AM](https://user-images.githubusercontent.com/14238574/63351780-e2f28500-c32d-11e9-8f78-d9dd6081e775.png)

[2019-08-20 18:24] benjore commented on #6347
Need to investigate if this is an real-life issue (since this list is created dynamically). Can it be tested on a category that is not native in the GL.

[2019-08-20 18:27] benjore commented on #6070
Let this sit for a couple sprints.

[2019-08-20 18:40] benjore commented on #6294
@mannycolon Can you add to this the versions of each you are proposing we update to?

[2019-08-20 18:43] benjore commented on #6293
Probably could use a spike to figure out the best, most likely processes that should be added first.

[2019-08-20 18:54] benjore commented on #6335
May be fixed with #5937.

[2019-08-20 18:56] mannycolon commented on #5937
Verified on 9972d1a

[2019-08-20 18:57] benjore commented on #6306
Same area of code as #4927

[2019-08-21 00:30] cckozie opened #6398 "tW GL dropdown list appears in the wrong place on the screen"
2.0.0 (d443ae8)
Movie here: [issue 6398.mp4.zip](https://github.com/unfoldingWord-dev/translationCore/files/3523098/issue.6398.mp4.zip)
Problem occurs about 3 minutes into the movie. It happens every time when running a script. I have not recreated manually.
![Screen Shot 2019-08-20 at 12 33 23 PM](https://user-images.githubusercontent.com/8171759/63393606-6f7a6300-c381-11e9-869d-8d2de8ff7ac5.jpg)

[2019-08-21 14:39] cckozie opened #6401 "Errors in console after successful resources download"
2.0.0 (d443ae8)
I did a download of all available resources. I received the Successful alert, but see these errors in the console. (It took 18 minutes on a 70Mbps link)
[Wed Aug 21 2019.log.zip](https://github.com/unfoldingWord-dev/translationCore/files/3525849/Wed.Aug.21.2019.log.zip)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/3c5be25c-c48b-4422-a9ef-e439420d3270)

[2019-08-21 17:29] richmahn commented on #4927
@benjore @cckozie We will have a last opened time stamp in a settings file. Yet before a project is open, what should I go by to show its last opened/access date in the projects page? Should I go by what we were using, the last ACCESS time of <projectdir>/.apps/translationCore (which often gets accessed when you start tC) or should it be just by the last modification date of manifest.json, or some

[2019-08-21 17:42] richmahn commented on #6306
This will be fixed when #4927 is merged in.

[2019-08-21 18:12] richmahn commented on #4927
Been decided by @benjore that we show "Never Opened" (in the selected locale) if the user has never opened this project with my settings.json feature.

[2019-08-21 18:20] RoyalSix commented on #4362
This has already been done.

[2019-08-21 18:23] PhotoNomad0 commented on #3579
Note: the big delay in switching checks in tW seems to be due to file system reads being triggered in contextId changes (loading into reducer current data for selections, comments, invalidations, reminders).  These are running very slow (about 1 second apiece) which seems to be due to data writes that are triggered on reducer changes.

[2019-08-21 21:33] RoyalSix opened #6402 "Create 2.0.0 Release"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-08-21 23:17] jag3773 commented on #6237
Here is an example from Zec 1:4 in tC  2.0.0 (8a6a8c5) <img width="752" alt="Screen Shot 2019-08-21 at 7 07 05 PM" src="https://user-images.githubusercontent.com/107731/63474725-26d9ad00-c448-11e9-9eda-b9c000427b42.png">

[2019-08-22 13:27] cckozie opened #6404 "Single tW category gets reset after loading project then returning to Tools page"
2.0.0 (d443ae8)
[en_ult_1jn_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3530314/en_ult_1jn_book.zip)
[6404.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3530318/6404.mov.zip)
This may have to do with the fact that there is only one check in the Names category. If either of the other 2 categories is singularly selected, the checkmark does not get clear

[2019-08-22 13:27] #4243 closed, assigned to nobody

[2019-08-22 13:29] benjore opened #6405 "Bug: Target words are duplicated in wA"
Robert reported this bug using https://tc-builds.door43.org/build/release-v2.0.0/translationCore-linux-x64-2.0.0-ade72a0.deb (Linux build)

![image.png](https://images.zenhubusercontent.com/55e5f3984f7a08fbb7f4a658/e7881eab-7320-4962-9a64-f327edb07b56)

"Look at the last two sets of words. My two last steps were: 1/ drag 'about' into 'thirty', 2/ combine the last two Heb words."

Project:
[en_ust_

[2019-08-22 15:26] PhotoNomad0 commented on #3579
Note: the next big delay in switching checks in tW seems to be due to CHANGE_CURRENT_CONTEXT_ID kicking off some more actions that take a couple seconds.  One event seems to be ADD_TRANSLATIONHELPS_ARTICLE and then there is a 2 second delay after that.  Looks like componentWillReceiveProps() is being re-triggered by resource loading. Probably should not be changing state within componentWillReceiv

[2019-08-22 18:04] #6308 closed, assigned to mannycolon

[2019-08-22 20:35] cckozie opened #6407 "In older projects, wordMap is not making suggestions in the same project until the project is reloaded"
2.0.0 (d443ae8)
[es-419_tit.zip](https://github.com/unfoldingWord-dev/translationCore/files/3531842/es-419_tit.zip)
This is a project from 0.8.1. Same is true with 0.9.1 projects. It looks like the problem disappears in 0.10 and later.
Load it in wA and in verse 1:1 align God as in this screenshot.
Notice that in the next verses, wordMap has not made suggestions for either an exact match or lemma

[2019-08-22 22:03] cckozie opened #6408 "Repo already exists error when uploading to Door43"
2.0.0 (d443ae8)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c33dc7d3-deb9-42a7-8fd7-f4b7fce85f90)

Import search screen shows no repos for the user
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/17164ce6-ccbb-45e4-8d9c-87724bfa6c45)

Door43 shows no repos for user
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/

[2019-08-22 22:30] cckozie commented on #6389
@mannycolon
I have now seen the same or similar behavior in tW.
Screenshot after completing both checks for the same verse:
![image](https://user-images.githubusercontent.com/8171759/63554207-754b8200-c502-11e9-9cdd-cf338600c98b.png)

Screenshot after loading the project in wA and then returning to tW:
![image](https://user-images.githubusercontent.com/8171759/63554234-8a281580-c502-11e9-8916-06c6

[2019-08-22 22:38] cckozie opened #6409 "Text for some locales overflows buttons"
2.0.0 (d443ae8)
This is locale te_IN

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/ce077fbe-a2eb-4c0b-ba10-ccd0e35e242e)

[2019-08-23 10:59] richmahn commented on #4927
Verified in build 5a65c0e

[2019-08-23 11:00] richmahn commented on #6306
Verified in build 5a65c0e

[2019-08-27 16:54] benjore opened #6413 "Disable Discontiguous Merge"
- [ ] This feature needs to be limited. Until the rules are able to be fully defined, this feature should be commented out.
- [ ] ~~Continue correctly displaying imported discontiguous merges, (just don't enable adding new ones)~~

[2019-08-27 17:51] benjore commented on #6246
With discontiguous merging, this can give misleading information and so will not be done. Showing alignments in the Scripture Pane supercedes this.

[2019-08-27 17:51] #6246 closed, assigned to nobody

[2019-08-27 18:00] benjore commented on #5734
Superseded by #6265

[2019-08-27 18:00] #5734 closed, assigned to nobody

[2019-09-02 01:00] PhotoNomad0 commented on #3579
Note: it isn't necessary to validate verse in tools other than current verse.  Next, do we really need to validate the whole verse for tW context changes?  Probably not, but doesn't seem like it would speed things up that much?

[2019-09-03 13:51] PhotoNomad0 commented on #6389
@mannycolon - I found the cause for the leakage of selections.  My fault.  To fix need to change in GroupsDataActions:
[code]

I have a PR that will be ready soon and can fix it there if you want.

[2019-09-03 14:04] PhotoNomad0 commented on #6389
Hmm...looks like it is not the only problem.

[2019-09-03 14:50] cckozie commented on #6306
Works in 2.0.0 (3727b58)

[2019-09-03 14:52] elsylambert commented on #6306
Verified in 2.0.0 (3727b58). Working fine.

[2019-09-03 14:53] elsylambert commented on #4927
Works fine in 2.0.0 (3727b58).

[2019-09-03 15:26] cckozie opened #6417 "There should be more consistency in user experience of exporting a project and uploading it to Door43"
2.0.0 (3727b58)
The alert displayed prior to the file naming dialog suggests that the project is being exported, but this cannot be accurate since the user has not yet specified a file name or location.
When uploading to Door43 the alert text is "Loading project data". I wonder if "Preparing project data" would not be better for both.
Problem with dimmed/inactive exporting project alert has been m

[2019-09-03 15:35] #6307 closed, assigned to bspidel

[2019-09-03 15:35] #6373 closed, assigned to mannycolon

[2019-09-03 15:35] #6360 closed, assigned to PhotoNomad0

[2019-09-03 15:36] #6346 closed, assigned to RoyalSix

[2019-09-03 15:46] benjore commented on #6237
Suggestion: SPIKE it out to figure out how to address.

[2019-09-03 15:47] benjore opened #6418 "SPIKE: #6237 Display duplicate words in order"
## Story Explanation
### User Story

see https://github.com/unfoldingWord-dev/translationCore/issues/6237

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-09-03 16:20] cckozie commented on #4362
This does work in 2.0.0 (3727b58), but is not consistent with uploading to Door43. Wrote up #6417 to deal with that.

[2019-09-03 17:01] elsylambert commented on #4362
Have similar observations as in #6417.
2.0.0 (3727b58)-The spinner works fine while exporting to Door43 and USFM export.

[2019-09-03 17:57] cckozie opened #6419 "The "time ago" field does not default to English if there is not a translation for the selected locale"
2.0.0 (3727b58)
The "time ago" text reverts to the previously used language instead of en if moment.js does not support the selected locale. e.g. nag_IN

[2019-09-03 17:58] mannycolon commented on #6419
See: https://momentjs.com/docs/#/i18n/adding-locale/

[2019-09-03 20:14] cckozie opened #6420 "Need indicator of processing after the Verses Missing screen when selecting an existing project"
2.0.0 (3727b58)
1. Import a project that has missing verses.
2. Note that after clicking Continue on the missing verses page, the Preparing project data alert is displayed.
3. Return to the projects page
4. Select a different project
5. Return to the projects page
6. Select the project imported in 1. above
7. Note that after clicking Continue on the missing verses page, no alert indicating process

[2019-09-03 20:14] cckozie commented on #5937
2.0.0 (3727b58)
The problem described in the first comment in the issue has been fixed. I was hoping this would also fix the problem of selecting a project that has missing verses, but unfortunately it didn't. I wrote that up as issue #6420.
The problem Manny described has also been fixed.

[2019-09-03 20:21] cckozie commented on #5990
2.0.0 (3727b58)
I still have not been able to replicate the problem of the log file being empty, so I'm passing it.

[2019-09-03 20:26] cckozie commented on #5201
2.0.0 (3727b58)
A spinner is now displayed when any word in the word bank is clicked, and the words can be dragged when the spinner stops.
This is less than an ideal solution since the spinner is displayed after every click on a word in the word bank indicating that the app is busy and user input will be ignored. That is really not the case since the user can select words in the word bank without

[2019-09-03 20:49] cckozie commented on #6380
Looks good in 2.0.0 (3727b58)

[2019-09-04 14:09] elsylambert commented on #5201
2.0.0 (aa663e3). Able to drag multiple words after the spinner stops. Spinner is shown on every single word selection from the word bank. Unselected words are immediately draggable.

[2019-09-04 14:34] elsylambert commented on #5937
2.0.0 (aa663e3) .
While importing the Project from Door43, it asked for rename of Translation ID (I had the same project on my system). After I renamed, it saved the changes and displayed the below shown Alert message:
![image](https://user-images.githubusercontent.com/51806180/64264427-46201200-ceff-11e9-876a-cae285d1d41b.png)

Similarly, editing the project from the Projects page(three dots), it

[2019-09-04 15:34] cckozie commented on #4927
Looks good in  2.0.0 (3727b58)

[2019-09-04 15:35] elsylambert commented on #6335
Not seeing this issue in 2.0.0 (aa663e3)

[2019-09-04 15:50] cckozie commented on #6359
2.0.0 (3727b58)
The problems described in ISSUE A and in Elsy's comment have been fixed.
Needs regression

[2019-09-04 16:42] cckozie commented on #3579
Build | Open Group tW | Open Check tW | Open Verse wA | Open Chapter tW | Open Group tN | Open Check tN
-- | -- | -- | -- | -- | -- | --
Average of   previous builds | 3.82 | 3.66 | 1.70 | 3.26 | 1.93 | 1.88
Minimum of   previous builds | 3.08 | 3.23 | 1.41 | 3 | 1.64 | 1.66
Maximum of   previous builds | 5.04 | 4.14 | 2.23 | 3.84 | 2.33 | 2.73
  |   |   |   |   |   |  
2.0.0   (b7e74cd) | 4.05 |

[2019-09-04 16:42] cckozie commented on #3579
Above are the results of my performance script as relating to the time it takes to open menu items in each of the tools. All timings are in seconds and are the average of 3 times running the script starting with importing a fully aligned Matthew project with no completed checks.

[2019-09-04 17:15] elsylambert commented on #6359
Not seeing the issue in versioning of UGNT and tN in 2.0.0 (aa663e3)

[2019-09-04 17:17] PhotoNomad0 commented on #3579
Hmm...It looks like for tW and tN opening groups is slower.  Interesting.

[2019-09-04 18:32] deferredreward commented on #6405
This also occasionally happens after editing the target text. I'll update attachments if I encounter again.

[2019-09-04 18:35] deferredreward commented on #6370
I've just loaded several extra projects in order to benefit from cross-project suggested alignments. Currently generating 3,000 lines of log every time I change verses.

[2019-09-04 18:58] deferredreward commented on #6370
Sorry to comment twice, but I'm not sure if I should open a second ticket for this:

Windows Defender slows down the log write so much that it's taken over 20 minutes (before I gave up) to load another verse while I have 15 projects downloaded. In order to load another verse I had to exclude the log file from Windows Defender. (I was going to do another ticket because I didn't know why Windows Def

[2019-09-04 23:19] cckozie commented on #3579
Windows 10 slow machine

Build | tW Group | tW Check | wA Chapter | wA Verse | tN Group | tN Check
-- | -- | -- | -- | -- | -- | --
2.0.0   (3256e93) | 14.00 | 13.73 | 6.31 | 6.77 | 6.65 | 5.86
2.0.0   (b7e74cd) | 12.38 | 7.98 | 2.55 | 3.78 | 5.22 | 3.09
Change | -12% | -42% | -60% | -44% | -21% | -47%

[2019-09-05 15:52] elsylambert commented on #6347
Not seeing this issue in 2.0.0 (ca6c273)

[2019-09-05 15:59] cckozie commented on #6347
Was informed by devs that this was not a legitimate test. I was unable to find another way to test it since it appears Hindi and English are the only GL's that have updated tN's and they have identical checks. Even though the test may not be legitimate, the problem no longer exists in 2.0.0 (ca6c273).

[2019-09-05 18:38] cckozie commented on #6282
Build | Open tC | Import Aliged   Matthew | Load tW | Open Scripture tW | Test Resets   Scripture tW | Test Resets Check   tW | Load wA | Open Scripture wA | Test Resets   Scripture wA | Load tN | Open Scripture tN | Test Resets   Scripture tN | Test Resets Check   tN
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
Average of   previous 2.0 builds | 21.31 | 52.21 | 15.15 | 2.25

[2019-09-05 18:53] cckozie commented on #6282
Observations concerning above timings which were captured on my Mac.
On the positive side:
1. There was a significant improvement in testing for resets after an edit is performed in the expanded scripture pane of wA.
2. There was a slight improvement in opening tC
3. There was a slight improvement in loading the tW and tN tools
4. There was a slight improvement in testing for resets after an edit

[2019-09-05 19:10] #6139 closed, assigned to nobody

[2019-09-05 21:36] cckozie commented on #5354
Looking for this to be fixed by #4416

[2019-09-05 21:36] #5354 closed, assigned to nobody

[2019-09-05 21:44] cckozie opened #6421 "tHelps pane is empty in tN and tW"
2.0.0 (ca6c273)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/77911d74-93c5-4074-aa50-45694be6193b)

[2019-09-05 21:59] cckozie commented on #5670
2.0.0 (ca6c273)
This is ok now. On my Mac full screen there are 6 lines viewable in the edit box. With the window minimized there are now 5 lines viewable in the edit box.

[2019-09-05 21:59] #5670 closed, assigned to nobody

[2019-09-05 22:01] cckozie commented on #5671
Not a problem in 2.0.0 (ca6c273)

[2019-09-05 22:01] #5671 closed, assigned to nobody

[2019-09-05 22:05] cckozie commented on #5702
Still an issue in 2.0.0 (ca6c273)

[2019-09-05 22:28] cckozie commented on #5813
This is still a problem in  2.0.0 (ca6c273)
There are 67 checks for Names in tW. After invalidating one of them in by editing it in wA, the tW tool card indicates 1 broken check but still 100% complete.
[en_ult_rut_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3581425/en_ult_rut_book.zip)

Additional testing reveals that the % complete on the tW card does not get updated unt

[2019-09-05 22:37] cckozie commented on #5960
Retested in  2.0.0 (ca6c273), but now there is a bug that does not display the Rename alert.

[2019-09-09 14:28] elsylambert commented on #6388
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-09 14:52] elsylambert commented on #6070
Retested on 2.0.0 (ca6c273). Seems to be working fine.
In tW and tN, These are the observations. Edited the verse in Select pane and invalidation indication was thrown as in the snapshot:
![image](https://user-images.githubusercontent.com/51806180/64541163-6a109880-d2ef-11e9-8155-c81d523c956f.png)
- If you "Save and Continue" without making a selection, you get the following Alert:
![image](https:

[2019-09-09 15:03] cckozie commented on #5971
In 2.0.0 (ca6c273) the referenced problem selections do not exists since many of the ellipsis have been removed.
I expect that the underlying problem will likely be fixed in issue #6301.

[2019-09-09 15:13] elsylambert opened #6423 "Alert Message content showing up HTML Tags/codes"
2.0.0 (ca6c273).
Some of the Alert messages are showing Tags/codes in the Message content:
- Alert message for content errors.
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/2b3777d1-902a-44cb-81b8-2c3cd3ff7b9a).

- Alert message for Creating new repository.
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/75b953b1-63f0-423d-9d09-935c072b5799)

[2019-09-09 15:14] elsylambert commented on #5937
The issue with the alert message has been written up in #6423
Seems that Alert message is not just related to this issue.
I am passing this issue.

[2019-09-09 15:45] cckozie commented on #5979
No longer seeing this problem in 2.0.0 (ca6c273). Ran 3 more iterations than the failure noted above.

[2019-09-09 15:45] #5979 closed, assigned to nobody

[2019-09-09 15:51] cckozie commented on #6057
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 15:51] cckozie commented on #6075
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 15:56] cckozie commented on #6116
Same results in 2.0.0 (ca6c273)

[2019-09-09 15:57] elsylambert commented on #6157
Not an issue in 2.0.0 (ca6c273).

[2019-09-09 15:57] #6157 closed, assigned to nobody

[2019-09-09 16:00] cckozie commented on #6118
No longer a problem in 2.0.0 (ca6c273)

[2019-09-09 16:00] #6118 closed, assigned to nobody

[2019-09-09 16:02] cckozie commented on #6119
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 16:04] cckozie commented on #6123
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 16:05] elsylambert commented on #6025
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-09 16:06] cckozie commented on #6137
No longer an issue in 2.0.0 (ca6c273)

[2019-09-09 16:06] #6137 closed, assigned to nobody

[2019-09-09 16:15] elsylambert commented on #6389
Tested on 2.0.0 (ca6c273).
Made selection for a verse 2Timothy 1:5, but the green check mark was not displayed.
Later found that 2Timothy 1:5 had content error in a different category.
![image](https://user-images.githubusercontent.com/51806180/64547751-4d7a5d80-d2fb-11e9-8011-58c671cae63c.png)

[2019-09-09 16:20] elsylambert commented on #6421
Found that the help pane shows up when the Category is selected on the Menu.
-When tC is opened, Help pane is blank.
- Click on the Second category on the Left Menu. Help Pane shows up.
- Go back to the first Category, You can see the Article which was not showing earlier.
- Restart tC. Help pane is Blank again.
Here is a Video snapshot:
[Help pane.zip](https://github.com/unfoldingWord-dev/transla

[2019-09-09 16:28] cckozie opened #6424 "Checkmark persists on checks in tN after edits have invalidated the check"
2.0.0 (ca6c273)
This problem was previously written up and fixed on #6001, but it is broken again. It appears to only be a problem in tN.
[57-TIT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3591552/57-TIT.usfm.zip)
1. Import this fully aligned Titus project
2. Load it in tN
3. Make the suggest selection in 2:2 under Abstract Nouns
![image](https://user-images.githubusercon

[2019-09-09 16:32] elsylambert commented on #6247
Retested on 2.0.0 (ca6c273). Not seeing any delay in lexicon pop-up.
[Hebrew-lexicon-pop-up.zip](https://github.com/unfoldingWord-dev/translationCore/files/3591598/Hebrew-lexicon-pop-up.zip)

[2019-09-09 16:42] cckozie commented on #6146
Problem still exists in 2.0.0 (ca6c273) when using the usfm file to overwrite the zipped project
[en_test_1ti_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3591761/en_test_1ti_book.zip)
[55-1TI.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3591763/55-1TI.usfm.zip)

[2019-09-09 16:43] cckozie commented on #6147
Still an issue in 2.0.0 (ca6c273)

[2019-09-09 16:54] elsylambert commented on #6151
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-09 16:54] #6151 closed, assigned to nobody

[2019-09-09 16:58] elsylambert commented on #6099
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-09 17:00] cckozie commented on #6164
No longer seeing this problem in 2.0.0 (ca6c273) even on my slow Windows machine.

[2019-09-09 17:00] #6164 closed, assigned to nobody

[2019-09-09 17:05] cckozie commented on #6165
This appears to be fixed in 2.0.0 (ca6c273)

[2019-09-09 17:05] #6165 closed, assigned to nobody

[2019-09-09 17:07] cckozie commented on #6188
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 17:07] cckozie commented on #6189
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 17:11] cckozie commented on #6211
No longer a problem in 2.0.0 (ca6c273)

[2019-09-09 17:11] #6211 closed, assigned to nobody

[2019-09-09 17:43] elsylambert commented on #5309
Not seeing the errors or tC crashing in 2.0.0 (ca6c273). However, the corrupted projects cannot be opened, a message is displayed "Cannot read property of "1" undefined" and "Cannot convert undefined or null to Object".
@cckozie :what is the expected behaviour?
In my opinion, the option to change the book should be disabled while editing project details.

[2019-09-09 18:27] cckozie commented on #6220
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 18:37] cckozie commented on #6221
Not seeing the problem in 2.0.0 (ca6c273)

[2019-09-09 18:37] #6221 closed, assigned to nobody

[2019-09-09 18:39] cckozie commented on #6223
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 18:42] cckozie commented on #6227
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 18:45] cckozie commented on #6232
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 18:45] cckozie commented on #6235
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 18:57] cckozie commented on #6251
Still a problem in 2.0.0 (ca6c273)
17:21 is not fully aligned in this project, yet the wA tool card shows 100%
[en_ult_mat_book 2.zip](https://github.com/unfoldingWord-dev/translationCore/files/3592125/en_ult_mat_book.2.zip)

[2019-09-09 19:05] cckozie opened #6425 "Completely aligned verses sometimes show when the Unaligned words filter is selected in wA"
2.0.0 (ca6c273)
[en_ult_mat_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3592149/en_ult_mat_book.zip)

17:21 and 18:24 show as having unaligned words but are both completely aligned.
[image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/b316773a-a44d-4210-ad69-1ebf38036a92)

[2019-09-09 20:56] cckozie commented on #6231
No longer appears to be a problem in 2.0.0 (ca6c273)

[2019-09-09 20:56] #6231 closed, assigned to nobody

[2019-09-09 21:03] cckozie commented on #6258
No longer a problem in 2.0.0 (ca6c273)

[2019-09-09 21:03] #6258 closed, assigned to nobody

[2019-09-09 21:09] cckozie commented on #6271
Not seeing a problem in the selections.csv file in 2.0.0 (ca6c273)

[2019-09-09 21:09] #6271 closed, assigned to nobody

[2019-09-09 21:10] cckozie commented on #6273
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 21:24] cckozie commented on #6310
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 21:28] cckozie commented on #6313
No longer showing 0% in 2.0.0 (ca6c273)

[2019-09-09 21:28] #6313 closed, assigned to nobody

[2019-09-09 21:34] cckozie commented on #6317
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 21:37] cckozie commented on #6325
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 21:39] cckozie commented on #6329
Not able to reproduce in 2.0.0 (ca6c273).

[2019-09-09 21:40] cckozie commented on #6336
No longer a problem in 2.0.0 (ca6c273)

[2019-09-09 21:40] #6336 closed, assigned to nobody

[2019-09-09 21:40] cckozie commented on #6340
No longer a problem in 2.0.0 (ca6c273)

[2019-09-09 21:41] #6340 closed, assigned to nobody

[2019-09-09 21:45] cckozie commented on #6375
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 21:46] cckozie commented on #6378
Still a problem in 2.0.0 (ca6c273)

[2019-09-09 21:50] cckozie commented on #6404
Still a problem in 2.0.0 (ca6c273). May only occur if there is a single check in the category.

[2019-09-10 14:33] elsylambert commented on #6304
Forwarded the correction request to Russ. Will close this issue as soon as I get the confirmation.

[2019-09-10 14:53] elsylambert commented on #5875
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-10 14:53] #5875 closed, assigned to nobody

[2019-09-10 15:01] elsylambert commented on #5865
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-10 15:03] elsylambert commented on #5707
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-10 15:06] elsylambert commented on #5705
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-10 15:08] elsylambert commented on #5691
Retested on 2.0.0 (ca6c273). Unable to get the error while importing online.

[2019-09-10 15:10] elsylambert commented on #3315
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-10 15:10] #3315 closed, assigned to nobody

[2019-09-10 15:14] elsylambert commented on #5653
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-10 15:17] elsylambert commented on #5647
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-10 15:17] #5647 closed, assigned to nobody

[2019-09-10 15:44] elsylambert commented on #5214
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-10 15:44] #5214 closed, assigned to nobody

[2019-09-10 15:53] elsylambert commented on #5703
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-10 15:53] #5703 closed, assigned to nobody

[2019-09-10 16:04] elsylambert commented on #5635
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-10 16:15] elsylambert commented on #5550
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-10 16:15] #5550 closed, assigned to nobody

[2019-09-10 16:19] elsylambert commented on #5532
Retested on 2.0.0 (ca6c273). Not seeing the error while renaming Repo,

[2019-09-10 16:26] elsylambert commented on #5530
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-10 17:00] elsylambert commented on #5519
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-10 17:02] elsylambert commented on #5442
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-11 15:09] elsylambert commented on #5400
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-11 15:09] #5400 closed, assigned to nobody

[2019-09-11 15:20] elsylambert commented on #5379
Unable to replicate in 2.0.0 (ca6c273).

[2019-09-11 17:36] elsylambert commented on #4290
Retested on 2.0.0 (ca6c273). Issue still exists.

[2019-09-11 17:53] elsylambert commented on #5374
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-11 17:53] #5374 closed, assigned to nobody

[2019-09-11 17:54] elsylambert commented on #5361
Retested on 2.0.0 (ca6c273). Not seeing this issue.

[2019-09-11 17:54] #5361 closed, assigned to nobody

[2019-09-11 20:40] cckozie opened #6427 "Consider changing the Skip check attention dialog to look like our standard alert"
Changing this would add to UI consistency.
The skip check attention alert looks different than our standard alerts:
![image](https://user-images.githubusercontent.com/8171759/64733413-565d6180-d4aa-11e9-8f2c-290bf478e5b8.png)

Our "standard" alert with 2 buttons looks like this:
![image](https://user-images.githubusercontent.com/8171759/64733292-139b8980-d4aa-11e9-8d8a-b92dff753c7e.png)

[2019-09-11 20:41] cckozie commented on #6070
Added #6427 to deal with UI consistency for the Attention box.

[2019-09-11 20:42] cckozie commented on #6070
Still need to address the thought about ensuring the same code is used for invalidation checking regardless of where the edits are performed.

[2019-09-11 21:35] cckozie commented on #6247
In 2.0 the time to pop up the lexicon is about 1 second on my slow Windows machine and virtually the same in any book, either OT or NT.
Should this be closed or followed up on with Russ?

[2019-09-11 21:39] cckozie commented on #5309
A more user friendly message should be displayed.

[2019-09-11 21:51] cckozie commented on #5691
In 2.0.0 (3727b58):
https://git.door43.org/Danjuma_Alfred_H/sw_tit_text_ulb appears to be a tS project and causes error:
**This is no longer a problem in 2.2.0 (2375ae5)**
![image](https://user-images.githubusercontent.com/8171759/64737825-6299ec80-d4b3-11e9-94f8-888ef70eae1f.png)

**This is still a problem in 2.2.0 (2375ae5)**
https://git.door43.org/uday/en_tw.git is tW, not a project. The alert

[2019-09-11 22:07] cckozie commented on #5635
Still seeing the problem in 2.0.0 (15e3755)

[2019-09-11 22:21] cckozie commented on #5532
This is partially fixed in 2.0.0 (15e3755). The project does now get renamed as requested, but if the renamed project (repo) is imported again, the project details screen shows that the translation id is the old one and does not reflect the project's name.
Original project imported from Door43 was en_ulb_tit_book
After import the translation id was changed to ulbx, so the project was renamed to en

[2019-09-12 13:27] cckozie commented on #5519
We need to decide what/if we want to do about the "problems" noted above.

[2019-09-12 13:51] cckozie commented on #5441
2.0.0 (15e3755)
Deleted both translationCore folders
Started tC
Downloaded all source contents
Stopped tC
Deleted source-content-updater-manifest.json
Started tC
source-content-updater-manifest.json was added by tC
tC then quit, no message

[2019-09-12 13:52] #5442 closed, assigned to nobody

[2019-09-12 13:59] #5379 closed, assigned to nobody

[2019-09-12 14:25] cckozie commented on #5739
Is this request to change the name of the csv file from reminders to bookmarks?

[2019-09-12 14:45] elsylambert commented on #5340
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-12 14:48] elsylambert commented on #5947
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-12 14:52] elsylambert commented on #4249
Retested in 2.0.0 (4b3ebee). Expanded scripture pane comes up as a popup screen in the centre. Unable to compare with the previous window size.

[2019-09-12 15:00] elsylambert commented on #3558
Retested in 2.0.0 (4b3ebee). Not seeing this issue. When UN/Pwd is blank, hitting Enter button brings Incorrect Username alert. After entering UN and Pwd, login button is enabled and Enter button works too.

[2019-09-12 15:11] elsylambert commented on #5288
Retested in 2.0.0 (4b3ebee). Not seeing this issue. IRV resources seems updated and are same as in https://git.door43.org/Door43-Catalog/hi_irv/src/branch/master/57-TIT.usfm#L98
![image](https://user-images.githubusercontent.com/51806180/64796584-e99ba300-d54d-11e9-9029-a0b2573707b9.png)

[2019-09-12 15:11] #5288 closed, assigned to jobbyp

[2019-09-12 15:18] elsylambert commented on #4912
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-12 15:18] #4912 closed, assigned to nobody

[2019-09-12 15:25] cckozie commented on #6149
Still a problem in 2.0.0 (15e3755)

[2019-09-12 15:28] cckozie commented on #6228
Still a problem in 2.0.0 (15e3755)

[2019-09-12 15:33] cckozie opened #6429 ""No selection needed" texts have not been translated to Hindi"
2.0.0 (15e3755)
![Screen Shot 2019-09-12 at 10.30.33 AM.jpg](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2456cf7a-3c40-4ed4-a707-3b07ca1c9fd0)

[2019-09-12 15:43] cckozie commented on #5898
2.0.0 (15e3755)
Issue 1 above has been fixed.
Issue 2 is worse. Now everything in tW, except for the menu bar, stays in Hindi. It is broken the same way in all of the tools.
![Screen Shot 2019-09-12 at 10 41 23 AM](https://user-images.githubusercontent.com/8171759/64799335-29f92200-d54a-11e9-8a41-efd3ea0d1f1b.jpg)

[2019-09-12 15:47] elsylambert commented on #5115
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-12 15:51] cckozie commented on #5748
This has been fixed 2.0.0 (15e3755)

[2019-09-12 15:51] #5748 closed, assigned to nobody

[2019-09-12 15:54] cckozie commented on #5690
Still a problem in 2.0.0 (15e3755)
[en-x-demo1_php_text_ulb_mc2.tstudio.zip](https://github.com/unfoldingWord-dev/translationCore/files/3606390/en-x-demo1_php_text_ulb_mc2.tstudio.zip)

[2019-09-12 15:57] elsylambert commented on #5778
Retested in 2.0.0 (4b3ebee). Lemma Fallback is working fine.

[2019-09-12 15:57] #5778 closed, assigned to nobody

[2019-09-12 16:08] cckozie commented on #5683
Still a problem in 2.0.0 (4b3ebee)
In 1.1.4:
![image](https://user-images.githubusercontent.com/8171759/64801093-68441080-d54d-11e9-9cc9-ea95ee90b2bd.png)

After upgrade to 2.0.0 (4b3ebee):
![image](https://user-images.githubusercontent.com/8171759/64801145-87db3900-d54d-11e9-8769-1a90545bf48d.png)

[2019-09-12 16:08] elsylambert commented on #5158
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-12 16:08] #5158 closed, assigned to nobody

[2019-09-12 16:09] elsylambert commented on #4216
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-12 16:09] #4216 closed, assigned to nobody

[2019-09-12 16:10] cckozie commented on #5658
2.0.0 (4b3ebee) Not sure how to test this without help from the devs to see when this alert is displayed.

[2019-09-12 16:11] elsylambert commented on #5348
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-12 16:13] cckozie commented on #5931
2.0.0 (4b3ebee)
Not able to replicate on Mac. Words dropped onto white space, menu, or scripture pane always return to where they were dragged from.

[2019-09-12 16:27] cckozie commented on #2262
Still exists in 2.0.0 (4b3ebee)

[2019-09-12 16:37] cckozie commented on #2829
2.0.0 (4b3ebee)
The problem noted above no longer exists, but the following links generate a 404 Error:
babel-plugin-transform-class-properties
babel-plugin-transform-object-rest-spread
babel-preset-es2015
react-redux

This one links to a strange place:
redux-subscriptions

[2019-09-12 16:37] elsylambert commented on #4775
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-12 16:37] #4775 closed, assigned to nobody

[2019-09-12 16:40] cckozie commented on #2935
Still an issue in 2.0.0 (4b3ebee)

[2019-09-12 16:42] cckozie commented on #5184
2.0.0 (4b3ebee)
Not sure how to test or what (if anything) to do about it.

[2019-09-12 16:44] elsylambert commented on #5347
Retested in 2.0.0 (4b3ebee)

[2019-09-12 16:48] cckozie commented on #5157
Still a problem in 2.0.0 (4b3ebee)

[2019-09-12 16:50] cckozie commented on #5122
Not seeing the problem in 2.0.0 (4b3ebee)

[2019-09-12 16:50] #5122 closed, assigned to nobody

[2019-09-12 16:55] cckozie commented on #5120
This is not a bug.
Badge hints on mouse-over are only supposed to be displayed when more than 1 badge (icon) is related to the verse/check.

[2019-09-12 16:55] #5120 closed, assigned to nobody

[2019-09-12 16:57] cckozie commented on #5109
Is this really a bug?

[2019-09-12 17:00] cckozie commented on #5059
Still a problem in 2.0.0 (4b3ebee) and 2.2.0 (2375ae5)
May want to combine with #5969

[2019-09-12 17:07] cckozie commented on #5055
No longer an issue in 2.0.0 (4b3ebee)

[2019-09-12 17:08] #5055 closed, assigned to nobody

[2019-09-12 17:12] cckozie commented on #5049
All of the links on the CC0 See more page go to the appropriate CC pages, either the actual license or the FAQ.

[2019-09-12 17:12] #5049 closed, assigned to nobody

[2019-09-12 17:14] cckozie commented on #5046
Still an issue in 2.0.0 (4b3ebee) and 2.2.0 (2375ae5)

[2019-09-12 17:15] cckozie commented on #5043
2.0.0 (4b3ebee)
Failures are now very infrequent, but more information in the alert would still be helpful.

[2019-09-12 17:17] cckozie commented on #5039
Not a bug. Blue indicates that it is clickable.

[2019-09-12 17:17] #5039 closed, assigned to nobody

[2019-09-12 17:45] cckozie commented on #4942
Not seeing the alignments reset message in 2.0.0 (4b3ebee)

[2019-09-12 17:45] #4942 closed, assigned to nobody

[2019-09-12 17:51] cckozie commented on #4923
No longer a problem in 2.0.0 (4b3ebee)

[2019-09-12 17:51] #4923 closed, assigned to nobody

[2019-09-12 17:58] cckozie commented on #4913
2.0.0 (4b3ebee)
In wA it appears that the check mark and % complete are determined by the state of the Alignment Complete switch.
On the wA tools card it appears that the % complete is determined by how many verses have no words in the word bank and no unaligned original language words

[2019-09-12 18:26] cckozie commented on #6421
Looks good in 2.0.0 (4b3ebee)

[2019-09-12 18:30] cckozie commented on #4865
2.0.0 (4b3ebee)
After importing the reference file:
wA tool card shows 80% and invalidations
All of the invalidated verses have one or two words in the word bank, assumed because of changes to the UGNT
I think this is now working as expected.

[2019-09-12 18:30] #4865 closed, assigned to nobody

[2019-09-12 18:52] cckozie commented on #4798
There is still a problem in 2.0.0 (4b3ebee) when using the external display on my Mac as described by Spidel and the tC window is maximized there. Otherwise I am not seeing the problem. (It looks like at that resolution in the portrait mode, the screen width is less than tC's minimum screen width.
This screenshot was take with the monitor at 1152 x 2048 which was the closest I had to the 1920x1080

[2019-09-12 19:02] cckozie commented on #4782
No longer a problem in 2.0.0 (4b3ebee)

[2019-09-12 19:02] #4782 closed, assigned to nobody

[2019-09-12 19:23] cckozie commented on #4757
The newly created repo is empty in 2.0.0 (4b3ebee)

[2019-09-12 19:23] #4757 closed, assigned to nobody

[2019-09-12 19:42] cckozie opened #6430 "User is not warned when Create New Repo or Rename repo functions fail"
2.0.0 (4b3ebee)
ISSUE A: If the Internet connection is lost during a repo create or rename event, no alert is displayed even though the repo is not renamed or created
1. Stop and restart tC (or log out and back in) to reset the Internet will be used flag
2. Click the FAB on the Projects page and choose Import Online Project
3. Click the Access Internet button on the alert (DO NOT CHECK THE BOX)
4.

[2019-09-12 19:57] cckozie commented on #4755
2.0.0 (4b3ebee)
Could not find a way to make the create or rename process fail. Probably due to the bug described in #6430.

[2019-09-12 19:59] cckozie commented on #4754
May be fixed in #6430

[2019-09-12 20:00] cckozie commented on #4746
Still an issue in 2.0.0 (4b3ebee)

[2019-09-12 20:02] cckozie commented on #4745
Still a problem in 2.0.0 (4b3ebee)
Log out
Stop and restart tC
Open console

[2019-09-12 20:14] cckozie commented on #4722
Still a problem in 2.0.0 (4b3ebee)
However, I think it is a low priority because the installer informs the user that it was unable to kill the processes and it recommends that the user stop the application and retry. After stopping tC and clicking Retry, the install continues and works.

[2019-09-12 20:14] cckozie commented on #4744
?????

[2019-09-12 20:17] cckozie commented on #4696
No longer a problem in 2.0.0 (4b3ebee)

[2019-09-12 20:17] #4696 closed, assigned to nobody

[2019-09-12 20:18] elsylambert commented on #5332
Retested in 2.0.0 (4b3ebee). With the attached project, I am seeing chapter 11 in wA tool.

[2019-09-12 20:27] elsylambert commented on #5236
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-12 20:27] #5236 closed, assigned to nobody

[2019-09-12 20:30] cckozie commented on #4749
2.0.0 (4b3ebee)
It is different now but still needs fixing. Alerts are now loaded behind each other.
The invalidated alignments alert should be combined with the reset checks alert.

[4749.mov.zip](https://github.com/unfoldingWord-dev/translationCore/files/3607325/4749.mov.zip)

[2019-09-12 20:30] elsylambert commented on #4806
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-12 20:36] elsylambert commented on #5151
@PhotoNomad0 you are right. Hindi can be written in both of those spellings. however, हिन्दी is the one most commonly written. We can stick to one spelling.

[2019-09-12 20:37] cckozie commented on #4743
Not seeing the problem in  2.0.0 (4b3ebee)

[2019-09-12 20:37] #4743 closed, assigned to nobody

[2019-09-12 20:39] cckozie opened #6432 "Menu verse in wA indicates an edit on a freshly imported usfm2 file"
2.0.0 (4b3ebee)
Never had a similarly named project since clean install.
[57-TIT.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3607337/57-TIT.usfm.zip)
[en_two_tit_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3607350/en_two_tit_book.zip)

![image](https://user-images.githubusercontent.com/8171759/64819023-ef57af80-d572-11e9-970c-f74187f5f220.png)

[2019-09-12 20:41] cckozie commented on #4709
No longer a problem in  2.0.0 (4b3ebee)

[2019-09-12 20:41] #4709 closed, assigned to nobody

[2019-09-12 20:45] cckozie commented on #4578
this appears to have been fixed  2.0.0 (4b3ebee)

[2019-09-12 20:45] #4578 closed, assigned to nobody

[2019-09-12 20:50] cckozie commented on #4515
2.0.0 (4b3ebee) No longer seeing the invalidated check errors in the log

[2019-09-12 20:50] #4515 closed, assigned to nobody

[2019-09-12 20:59] cckozie commented on #4501
Looks good in 2.0.0 (4b3ebee)

[2019-09-12 20:59] #4501 closed, assigned to nobody

[2019-09-12 21:09] cckozie opened #6433 "wA "remembers" menu verse icons from previous project"
2.0.0 (4b3ebee)
[57-TIT.usfm 2.zip](https://github.com/unfoldingWord-dev/translationCore/files/3607458/57-TIT.usfm.2.zip)

Import this usfm2 project (no alignments)
Load it in wA
Set the alignment complete switch on 1:1
Make an edit in 1:2
Import the usfm2 file again giving it a different translation id
Load it in wA
Note that the checkmark appears on 1:1, and the edit icon appears on 1:2

wA "rem

[2019-09-14 19:21] elsylambert commented on #4241
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-14 19:28] elsylambert commented on #5029
Retested in 2.0.0 (4b3ebee). Issue still exists. Not seeing the any crashing errors but expand button  in scripture pane does not work. Click on Expand button does nothing.

[2019-09-14 19:30] elsylambert commented on #3411
Retested in 2.0.0 (4b3ebee). Not seeing this issue. Tested with some newer projects.

[2019-09-14 19:35] elsylambert commented on #4768
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-14 19:35] #4768 closed, assigned to nobody

[2019-09-14 19:40] elsylambert commented on #5387
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-14 19:47] elsylambert commented on #3616
Retested in 2.0.0 (4b3ebee). similar to #5387 Error message does not show the reason of failure. Not seeing a blank screen Alert screen.

[2019-09-14 19:47] #3616 closed, assigned to nobody

[2019-09-14 19:48] elsylambert commented on #3893
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-14 19:48] #3893 closed, assigned to nobody

[2019-09-14 19:49] elsylambert commented on #4142
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-14 19:57] elsylambert commented on #4188
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-14 19:57] #4188 closed, assigned to nobody

[2019-09-14 19:58] elsylambert commented on #4225
Retested in 2.0.0 (4b3ebee). Not seeing this issue.

[2019-09-14 19:58] #4225 closed, assigned to nobody

[2019-09-14 20:03] elsylambert commented on #4258
Retested in 2.0.0 (4b3ebee). Needs decision on this one.

[2019-09-14 20:04] elsylambert commented on #4262
Need more info for this issue.

[2019-09-14 20:05] elsylambert commented on #4259
Retested in 2.0.0 (4b3ebee). Needs decision on this one.

[2019-09-14 20:10] elsylambert commented on #4239
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-14 20:14] elsylambert commented on #3646
Retested in 2.0.0 (4b3ebee). This is the Alert displayed:
![image](https://user-images.githubusercontent.com/51806180/64913259-bc482400-d70a-11e9-9460-cd9a078ed345.png)

[2019-09-14 20:23] elsylambert commented on #6421
Working fine in 2.0.0 (4b3ebee)

[2019-09-15 22:40] mannycolon commented on #5739
@cckozie Yes.

[2019-09-16 13:15] jag3773 commented on #4259
FWIW, that is what I would expect it to look like.

[2019-09-16 14:05] cckozie commented on #4495
Not a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:05] #4495 closed, assigned to nobody

[2019-09-16 14:06] cckozie opened #6434 "Need indication of processing after repo rename/create alert"
2.0.0 (4b3ebee)
After clicking either the Rename Repo or Create Repo buttons, the app appears to be frozen.

[2019-09-16 14:09] cckozie commented on #4488
Still a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:11] cckozie commented on #4487
Still a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:17] cckozie commented on #1578
Still a problem in 2.0.0 (4b3ebee)
In addition, if the Internet connection is restored after a couple of minutes, the import does not continue to completion. Eventually an alert with the text "An unknown problem occurred during import" is displayed.

[2019-09-16 14:20] cckozie commented on #3860
Sill a problem in 2.0.0 (4b3ebee). May be related to #1578.

[2019-09-16 14:25] cckozie commented on #3683
Still a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:27] cckozie commented on #3673
Sill a problem in 2.0.0 (4b3ebee). Related to #3683

[2019-09-16 14:29] cckozie commented on #3621
Still a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:31] cckozie commented on #4412
No longer a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:31] #4412 closed, assigned to nobody

[2019-09-16 14:31] elsylambert commented on #3926
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-16 14:35] cckozie commented on #4409
Still a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:35] cckozie commented on #4415
Still a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:38] cckozie commented on #4394
No longer a problem in 2.0.0 (4b3ebee)

[2019-09-16 14:38] #4394 closed, assigned to nobody

[2019-09-16 14:38] elsylambert commented on #3732
Retested in 2.0.0 (4b3ebee). Not seeing this issue. Step 4. after import file, License screen comes up followed by Merge conflicts screen. Not seeing missing verses.

[2019-09-16 14:38] #3732 closed, assigned to nobody

[2019-09-16 14:41] elsylambert commented on #3506
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-16 14:45] cckozie commented on #4331
This has changed in 2.0.0 (4b3ebee)
Now "Mga" and "Taga" are on separate lines. Should show ellipsis and support hover over when at the end of the second line for all fields on the card.
![image](https://user-images.githubusercontent.com/8171759/64967778-bb2c0980-d866-11e9-86aa-2abaddf5d501.png)

[2019-09-16 14:49] cckozie commented on #4018
In 2.0.0 (4b3ebee), the "Warning: A critical error has occurred!" page is displayed after the Project Details screen, so I cannot test the issue as stated.
Added #6435

[2019-09-16 14:52] cckozie opened #6435 "Warning: A critical error has occurred! page is displayed after import of tS project"
2.0.0 (4b3ebee)
This project imported without errors in 0.8.1
[lno_tit_reg.zip](https://github.com/unfoldingWord-dev/translationCore/files/3616810/lno_tit_reg.zip)
[ino_tit_text_reg.tstudio.zip](https://github.com/unfoldingWord/translationCore/files/4616246/ino_tit_text_reg.tstudio.zip)

[2019-09-16 14:55] cckozie commented on #4252
This is mostly fixed in 2.0.0 (4b3ebee)

[2019-09-16 14:55] #4252 closed, assigned to nobody

[2019-09-16 15:10] elsylambert commented on #2292
Retested in 2.0.0 (4b3ebee). Not seeing this issue. Scroll bars appears when there are long texts.

[2019-09-16 15:10] #2292 closed, assigned to nobody

[2019-09-16 15:21] cckozie commented on #4245
No longer a problem since we now support reimports.

[2019-09-16 15:21] #4245 closed, assigned to nobody

[2019-09-16 15:24] cckozie commented on #4249
Still an issue in 2.0.0 (4b3ebee)

[2019-09-16 15:28] cckozie commented on #3558
The Login button should not be enabled until there is text in both the Username and Password fields.

[2019-09-16 15:31] cckozie commented on #5784
Still an issue in 2.0.0 (4b3ebee)

[2019-09-16 15:32] #5332 closed, assigned to nobody

[2019-09-16 15:37] elsylambert opened #6436 "Unable to display es as GL in tW. Spanish(es-149) resources needs a name fix"
2.0.0 (4b3ebee)

I downloaded the resources for Spanish ( es-419). After the download, the resources folder shows up as es-149 as in the snapshot:
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/6fe7f9e1-1a3f-40af-b4f2-e54f98f16673)

![image](https://user-images.githubusercontent.com/8171759/65884749-fe09d900-e35e-11e9-9c47-9f804cbc9658.png)

Due to this, Es is not avail

[2019-09-16 15:41] elsylambert commented on #3546
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-16 15:42] cckozie commented on #4758
No longer a problem in 2.0.0 (4b3ebee)

[2019-09-16 15:42] #4758 closed, assigned to nobody

[2019-09-16 15:44] elsylambert commented on #4036
Retested in 2.0.0 (4b3ebee). Not seeing this issue. Got the missing verse 1:1 warning.

[2019-09-16 15:46] cckozie commented on #3411
Migration of referenced project is still not supported in  2.0.0 (4b3ebee). "Book not supported" message is displayed.

[2019-09-16 15:49] cckozie commented on #4997
All of the wrong verse count warnings continue to be issued in 2.0.0 (4b3ebee).
Not seeing any errors.

[2019-09-16 15:51] cckozie commented on #3608
Still a problem in 2.0.0 (4b3ebee)

[2019-09-16 15:55] elsylambert commented on #3857
Retested in 2.0.0 (4b3ebee). Missing verses screen is skipped.

[2019-09-16 15:57] elsylambert commented on #3664
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-16 15:57] cckozie commented on #4491
"Book not supported" message is being displayed in 2.0.0 (4b3ebee).

[2019-09-16 16:03] cckozie commented on #4262
2.0.0 (4b3ebee)
Locale was set to Hindi.
![Screen Shot 2019-09-16 at 11 02 33 AM](https://user-images.githubusercontent.com/8171759/64973976-98ebb900-d871-11e9-8f78-b6ac36eddd23.jpg)

[2019-09-16 16:12] cckozie commented on #4721
Dup of #4578

[2019-09-16 16:13] #4721 closed, assigned to nobody

[2019-09-16 16:13] elsylambert commented on #4139
@cckozie Do you have a Project with Missing Verses?

[2019-09-16 16:16] elsylambert commented on #4630
Retested in 2.0.0 (4b3ebee). Issue still exists.

[2019-09-16 16:37] cckozie commented on #4718
Can import referenced project and load in all tools in 2.0.0 (4b3ebee)

[2019-09-16 16:37] #4718 closed, assigned to nobody

[2019-09-16 16:43] cckozie commented on #4217
I think this is as expected now in 2.0.0 (4b3ebee)
![image](https://user-images.githubusercontent.com/8171759/64976534-21208d00-d877-11e9-99b2-e36a053ddc88.png)

[2019-09-16 17:47] PhotoNomad0 commented on #6433
Oops - big goof here.

[2019-09-16 19:44] PhotoNomad0 commented on #3579
Note: stubbling out the TranslationHelpsWrapper pane reduces render from 3.44s to 1.66s in profiler

[2019-09-17 14:46] cckozie commented on #6367
From Tim:
 It may be planned already, but it would be helpful to novice tC users (like me) to have a "Looking for more resources? Click here!" notice on the resource selection dialog, thus connecting the user directly to the language they may be missing.

[2019-09-17 15:51] PhotoNomad0 commented on #6433
Verified in translationCore 2.0.0 (a282c74)

[2019-09-17 15:55] PhotoNomad0 commented on #3579
Note: rework of TWH with lazy load of helps article has sped up transitions, but still have additional delay in tW over tN.

[2019-09-17 20:32] cckozie opened #6438 "Existing checks in tN do not show as completed after import from Door43"
2.0.0 (a282c74)
https://git.door43.org/TC_SAVE/en_ult_3jn_book
This project was full aligned and all checks completed in tW and tN in 2.0.
When it is downloaded now, wA and tW tools cards show 100%, but tN shows 0%.
When opened in tN, the checks do show the highlighted selections, however, most do not show the check mark in the menu.

The tN checks do show properly when imported into 2.0.0 (ade72a

[2019-09-17 20:41] cckozie opened #6439 "tN does not update the % complete on the tools cards until after the tool is loaded"
2.0.0 (ade72a0)
Import this completed project https://git.door43.org/TC_SAVE/en_ult_3jn_book
Note that the wA and tW tool cards show 100%, but the tN tool card shows 0%
Load the project in tN
Note that the checks are all completed
Return to the Tools page
Note that the tN card now indicates 100%

[2019-09-17 20:50] cckozie opened #6440 "The previously selected GL for tN and tW is not set as the default when projects are imported from Door43"
2.0.0 (ade72a0)
Select any project that has more than 1 GL available for tN and tW
Select a GL for and then load the project in both tN and tW
Upload the project to Door43
Delete the project from the projects folder
Import the project from Door43
Note that the GL is not selected/defaulted for either tN or tW
May want to work on in conjunction with #6378

[2019-09-18 19:15] mannycolon opened #6443 "Change VerseCheckWrapper to use react hooks API"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-09-18 19:15] mannycolon opened #6444 "Change TranslationHelpsWrapper to use react hooks API"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-09-18 19:17] mannycolon opened #6445 "Change CheckInfoCardWrapper to use react hooks API"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-09-18 19:17] mannycolon opened #6446 "Change ScripturePaneWrapper to use react hooks API"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-09-18 19:18] mannycolon opened #6447 "Change GroupMenuWrapper to use react hooks API"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-09-18 19:26] mannycolon opened #6448 "Move tc-tool redux support to checking-tool-wrapper"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-09-18 20:33] cckozie opened #6449 "Inconsistent use of "..." and "Please wait" on alerts"
2.0.0 (a282c74)
The verbiage should be more consistent.
The exporting alert should not be dimmed. (See #6417)
![Screen Shot 2019-09-18 at 3 29 31 PM](https://user-images.githubusercontent.com/8171759/65183732-acda1b00-da29-11e9-972c-1f951d8c5d95.jpg)
![Screen Shot 2019-09-18 at 3 26 12 PM](https://user-images.githubusercontent.com/8171759/65183733-acda1b00-da29-11e9-8a46-7881eba0b0bf.jpg)
![Screen

[2019-09-19 16:13] cckozie opened #6451 "Resource download hangs even though resources were downloaded (Field reported)"
Reported by Russ Perry from the field in India
I'm trying to do a content update for Malayalam and Gujarati and it's just been spinning for about 10 min or so. They should only have 2jn and 3jn for `ml` and 3jn for `gu`. Could someone check it out there? I don't know if it's an Internet issue or what, but otherwise, my Internet seems to be fine here in India.

I killed the task and went to do the

[2019-09-20 14:49] elsylambert commented on #6304
2.0.0 (ac461b4). Correction has been made for Hindi locale.

[2019-09-20 14:49] #6304 closed, assigned to elsylambert

[2019-09-20 17:19] PhotoNomad0 commented on #6282
Notes:
time Importing an aligned MAT:
- import operation 0:25 - most of time is in validation (UI interations)
- open project 1:55
  - init tN 0:25
  - init tW 1:25
  - init wA 0:03

The major part of init of the tools is the validation step in the tool.  Not sure why tW takes so long to validate since there are no selections yet on a USFM import.

[2019-09-23 14:06] PhotoNomad0 commented on #6282
@RoyalSix - see above, it looks like the major part of the import time is in the project open, and the major part of that time is init of the tools, which primarily runs validation on the whole book.  Looks like we will have to optimize the tW validation.  So strange that it is slow in tW since on a USFM import there are no verse edits, selections, etc.

[2019-09-23 15:10] elsylambert commented on #6433
Working fine in 2.0.0 (bbd777c).

[2019-09-24 16:01] #6402 closed, assigned to RoyalSix

[2019-09-24 16:04] #6359 closed, assigned to mannycolon

[2019-09-24 16:04] #6347 closed, assigned to nobody

[2019-09-24 16:06] #6335 closed, assigned to nobody

[2019-09-24 16:06] #6421 closed, assigned to PhotoNomad0

[2019-09-24 16:06] #6433 closed, assigned to PhotoNomad0

[2019-09-24 17:38] #6306 closed, assigned to richmahn

[2019-09-24 17:42] #5990 closed, assigned to cckozie, PhotoNomad0

[2019-09-24 17:54] mannycolon commented on #5937
https://git.door43.org/lrsallee/en_ust_tit_book

[2019-09-24 17:59] cckozie opened #6456 "Problem with timestamps on Projects page after loading a new build."
2.0.0 (bbd777c)
I have 3 projects. Two were last used yesterday, the third was used about an hour ago. The time-ago fields were showing as correct.
I then reinstalled the same build. (Just drug the dmg into apps folder, did not delete anything first)
Now all 3 projects show as last opened yesterday.

I have also seen it reset the projects to Never Opened when I've done other upgrades with 2.0 buil

[2019-09-24 18:56] #4362 closed, assigned to RoyalSix

[2019-09-24 18:56] #4927 closed, assigned to richmahn

[2019-09-24 18:56] #5201 closed, assigned to richmahn

[2019-09-24 18:56] #5937 closed, assigned to mannycolon

[2019-09-24 18:56] #6380 closed, assigned to PhotoNomad0

[2019-09-24 23:26] PhotoNomad0 commented on #6282
Verified project open speedup in translationCore 2.0.0 (d0b5fa1).

[2019-09-25 15:37] elsylambert opened #6462 "Fatal error warning while opening a project"
Here is the Philippians project:
[en_test_php_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3653432/en_test_php_book.zip)
 which was showing as opened 9 days ago.
Today when I tried to open it, it gave a Fatal error warning and then opening the Project info screen as it does while import.
Please see the video of the issue:
[Fatal error warning.zip](https://github.com/unfoldi

[2019-09-25 15:45] cckozie opened #6463 "The popup message on the Launch button should be more descriptive when no GL's are available for a book"
2.0.0 (d0b5fa1)
Currently this is what shows when a GL is not available:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/d0d7410d-40e2-418d-9ea6-f034d5600045)

It would be better to indicate why there is no GL is available; i.e. no checks are defined, or the book has not been aligned, or both.

[2019-09-25 17:09] elsylambert opened #6465 "Genesis project shows usfm3 tags in the Expanded Scripture Pane edit window"
Here is the project:
[en_ulb_gen_book.zip](https://github.com/unfoldingWord-dev/translationCore/files/3653817/en_ulb_gen_book.zip)
- Load wA tool.
- Open expanded scripture pane and edit a verse.
- Note that usfm3 tags are shown in the window.

[2019-09-25 19:47] PhotoNomad0 commented on #6462
This project isn’t actually invalid, likely from an old version of tCore which allowed import without requiring user to resolve merge conflicts.  The popup alert is correct that this project cannot be opened. Probably should discuss as a team what we should do going forward, since it would be a significant effort to present the merge conflict dialog for this.  Certainly should fix so that the proj

[2019-09-25 20:19] PhotoNomad0 commented on #6462
After even making that “small” fix will require some refactoring to project open stepper.  Maybe this should be done later after more critical fixes.

[2019-09-26 13:56] PhotoNomad0 commented on #6423
Verified in translationCore 2.0.0 (e8a2e7c)

[2019-09-26 14:53] elsylambert commented on #6423
Looks good in 2.0.0 (e8a2e7c).

[2019-09-27 19:28] cckozie commented on #6282
In this csv I've split the import process into 3 pieces and added them in columns w, x, and y; Importing Data (elapsed time when "Importing local data" is displayed)
Preparing Data (elapsed time when "Preparing project data" is displayed)
Loading Data (elapsed time when "Loading project data" is displayed)
[tC_performance.csv 3.zip](https://github.com/unfoldingWord-dev/translationCore/files/366426

[2019-09-30 13:14] cckozie commented on #6423
Not seeing problems in 2.0.0 (e8a2e7c)

[2019-09-30 14:00] cckozie commented on #6436
The problem is actually in the resource's manifest in the catalog where the identifier is wrong in https://git.door43.org/Door43-Catalog/es-419_tw/src/branch/master/manifest.yaml

<img width="593" alt="es-149" src="https://user-images.githubusercontent.com/8171759/65885565-8046cd00-e360-11e9-85fd-defbfc920f6a.png">

[2019-09-30 14:17] cckozie commented on #6420
2.0.0 (e8a2e7c) - This has been fixed.

[2019-10-01 15:48] elsylambert commented on #6420
Seeing this issue happening in 2.0.0 (cac1580). The screen hung for 30 seconds before it opened the tools page.  The Project has a lot of missing verses.
The amount of time the screen is hung is directly proportional to the number of missing verses.

[2019-10-01 16:37] cckozie commented on #6420
2.0.0 (cac1580)
When a project with missing verses is imported, there really isn't a problem because the Preparing project data, Project named, etc. alerts are displayed.
But when selecting a previously imported project that has missing verses, no alerts are displayed between the time the user clicks Continue on the Missing Verses page and when the Tools page is displayed.

[2019-10-01 18:08] mannycolon commented on #6424
Verified on 399c030

[2019-10-02 16:57] elsylambert commented on #6424
Looks good in 2.0.0 (399c030). Check mark has been removed and a broken link is displayed when the selections are invalidated after the edit in another tool (wA)

[2019-10-03 14:26] cckozie opened #6471 "Need indicator of processing after reselecting a tool"
2.0.0 (13f0735)
This process was performed on my slow Windows machine.
1. Select a Matthew project
2. Load the project in tW
3. Return to the Tools page
4. Click the Launch button on the tW tool card
5. The Loading tool data alert is not displayed and it takes 13 seconds until the tool is opened. There is no indication of processing during that time.

[2019-10-03 16:53] RoyalSix opened #6472 "Verse Edit Checking Performance"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-10-03 16:54] RoyalSix opened #6473 "tC Performance Changes After Research"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-10-04 15:21] mannycolon commented on #6471
It shouldn't take more than one second to make that screen switch it makes me think something is wrong somewhere. Maybe we should also include researching what causes it to take so long to change the screen as part of the story?

[2019-10-04 15:21] mannycolon commented on #6471
@cckozie ^

[2019-10-07 15:44] cckozie commented on #6424
Works correctly in 2.0.0 (399c030). Needs regression since this has now been fixed twice.

[2019-10-07 16:25] cckozie commented on #6282
Here are the timings of the 2.0 release build and the latest build on my slow Windows machine. Note that there have been several significant improvements, and one with a significant decrease in performance.
[tC_performance.csv.zip](https://github.com/unfoldingWord-dev/translationCore/files/3698420/tC_performance.csv.zip)
However, I am still curious as to why the test for resets timings are so diff

[2019-10-07 19:16] mannycolon commented on #6447
Verified on 45a45e2

[2019-10-07 19:16] mannycolon commented on #6443
Verified on 45a45e2

[2019-10-07 19:17] mannycolon commented on #6446
Verified on 45a45e2

[2019-10-07 19:17] mannycolon commented on #6444
Verified on 546b9ed

[2019-10-08 17:56] PhotoNomad0 opened #6477 "Seeing repeated font warnings in console."
## Story Explanation
### User Story

Seeing repeated font warnings in console - this is not visible to end user, but is a concern.  Here are the warnings:

![Screen Shot 2019-10-07 at 12.02.23 PM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/b01d7760-c73f-43c5-bff5-6cc9d740ee28)

Initial investigation with @mannycolon shows that this is not a big performance hit, and likely du

[2019-10-08 18:57] mannycolon commented on #6445
Verified on c29b900

[2019-10-08 20:53] jobbyp opened #6478 "Hindi IRV missing certain words in Titus 3:14"
![tC screenshot for Titus 3.png](https://images.zenhubusercontent.com/5bbcda0c3da0ca1ec7638ecf/860ac092-f409-48a6-b1cc-9b70f1976ad4)
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-10-08 20:58] jobbyp opened #6479 "Hindi IRV missing text in Titus 2:3"
![Titus 2.png](https://images.zenhubusercontent.com/5bbcda0c3da0ca1ec7638ecf/90752d35-5a5f-4a16-86a8-0c04cdfa4f58)## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-10-08 22:45] cckozie commented on #6479
The problem appears to be that when a user upgrades to 2.0, tC doesn't realize that there is a newer version of the IRV available (packaged with the app). It also does not show Hindi on the resources download screen.
I deleted the Hindi folder in resources and restarted tC. That fixes the problem.
It is not a problem if the user does a clean install of tC (no translationCore folder).
This possibly

[2019-10-09 20:14] elsylambert commented on #3914
Issue still exists in 2.0.0 (ade72a0).

[2019-10-09 20:17] elsylambert commented on #4036
Issue exist in 2.0.0 (ade72a0). Missing Verses warning was not given

[2019-10-09 20:21] elsylambert commented on #4216
Duplicate Issue

[2019-10-10 13:44] PhotoNomad0 commented on #6472
**Notes:**

Builds:
- Jay's changes, build 420bda8:
- Latest develop,  28ba6a8 build

Testing in tW, `amazed` using [ULT Mat](https://github.com/unfoldingWord-dev/translationCore/files/3709325/en_ult_mrk_book.zip)

**Timing of edit and validation checking:**

Mac:
- **Jays changes:** check edit - Mk 1:27 - 3 sec, SP edit - Mk 2:12 - 3 s
- **develop branch:** check edit - Mk 1:27 - 5 sec, SP edit -

[2019-10-10 14:00] PhotoNomad0 commented on #6472
Checked in build translationCore 2.0.0 (1654f9b).  Found problem with check edits that you cannot unselect reasons once they have been selected (selection works fine, but unselection does not work):

![Screen Shot 2019-10-10 at 9 55 54 AM](https://user-images.githubusercontent.com/14238574/66575778-88fb8800-eb44-11e9-8306-32a59816726a.png)

Also see problem when you exit tool and re-enter the same

[2019-10-10 14:33] elsylambert opened #6481 "Refining Accessing Internet Warning Alert message"
From Robert Hunt:   "You are about to transmit data over the Internet... Do not show this warning again." You can click on the D (of Do not) to toggle this, but not on the rest of the text.
Please make "Internet" as "internet" in the alert message.
![image](https://user-images.githubusercontent.com/51806180/66578587-5f912b00-eb49-11e9-9971-16c87c423a12.png)

[2019-10-10 20:21] mannycolon commented on #6438
Verified on 28ba6a8

[2019-10-11 18:19] cckozie commented on #6438
All looks good, including the % on the tools card, in 2.0.0 (1654f9b)
Needs regression

[2019-10-11 18:20] cckozie commented on #6439
This was fixed in #6438

[2019-10-11 18:20] #6439 closed, assigned to nobody

[2019-10-14 18:18] #6473 closed, assigned to nobody

[2019-10-14 20:45] cckozie commented on #6472
2.0.0 (9ef4802)
See all timings in attached spreadsheet. There are several significant improvements compared to the 2.0 release. Improvements > 30% highlighted in green, greater than 20% highlighted in blue.
It is still taking twice as long to check for resets when editing a verse in the scripture pane of tW as compared to editing it in the scripture pane of wA. tN falls in between the two.

Time

[2019-10-14 20:47] cckozie commented on #6282
2.0.0 (9ef4802)
See all timings in attached spreadsheet. There are several significant improvements compared to the 2.0 release. Improvements > 30% highlighted in green, greater than 20% highlighted in blue.
It is still taking twice as long to check for resets when editing a verse in the scripture pane of tW as compared to editing it in the scripture pane of wA. tN falls in between the two.

Time

[2019-10-15 14:52] elsylambert commented on #6472
Tested in 2.0.0 (9ef4802). Significant speed up for Verse Edit checking Performance compared to 2.0 Release.
Here are the timings on Win 64:
Edits in scripture pane: tW-5.50
Edits in scripture pane: tN: 4.32
Edits in scripture pane::tW: 5.30

50-60% time-drop in Saving selections and navigating between checks in tW:
[tC_Performance Improvements in tW (2).zip](https://github.com/unfoldingWord-dev/t

[2019-10-15 15:06] elsylambert commented on #6438
Looks good in 2.0.0 (9ef4802).
tW and wA shows 100%, tN shows 0% but after selecting the GL option it shows 100%. Is this the expected behaviour that tool card % would show up after GL is selected?@mannycolon @cckozie

[2019-10-15 15:25] cckozie commented on #6438
@elsylambert - Yes, that is the expected behavior. In tW, all of the checks are based on the original language, so the selected GL has no impact on the % complete.
In tN, the checks are not pegged directly to the original language, so it is possible that the number of checks will vary between GL's. Thus we can't calculate the % complete until we know the GL.

[2019-10-16 13:36] jag3773 commented on #6413
It was determined that disabling this would affect teams using it (including English content team) so it would be better to wait until we can refine it's usage instead of disabling

[2019-10-16 13:36] #6413 closed, assigned to nobody

[2019-10-16 15:27] cckozie opened #6487 "No Selection Needed value is not saved"
2.0.0 (9e1bc7a)
Open a project in tW.
Click on the No Selection Needed Checkbox
Click Save
Click Save & Continue
Go back to the previous check
Note that the No Selection Needed checkbox is not checked
This worked in 2.0.0 (9ef4802) from 10/12

[2019-10-16 15:29] da1nerd commented on #6237
@jag3773 @RobH123 Has this only been seen in Hebrew text? And are the suggestions always sequential but reversed?
My hunch is this has something to do with Hebrew being RTL instead of LTR. wordMAP doesn't have any notion of language direction, so this is probably what's causing the reversed suggestion order.

[2019-10-17 07:54] da1nerd commented on #6237
I've identified three different areas where this bug could be coming from. And a separate bug all together. The problem is related to alignment memory and how it is used to score predictions..

1. lemma ngram frequency algorithm
2. ngram frequency algorithm
3. alignment memory weighting.

I also saw that the corpus index is not using the user-defined maximum n-gram length. This isn't likely to be

[2019-10-17 14:22] PhotoNomad0 commented on #6430
Notes:
- on Issue A it looks like the retry dialog is being shown on screen, but program is not waiting for the response before continuing as if everything is fine.

[2019-10-17 14:42] PhotoNomad0 commented on #4414
Addressed in https://github.com/unfoldingWord-dev/translationCore/pull/6489

[2019-10-17 15:22] PhotoNomad0 commented on #6251
Verified in translationCore 2.0.0 (697040c)

[2019-10-17 15:22] PhotoNomad0 commented on #4414
Verified in Verified in translationCore 2.0.0 (697040c)

[2019-10-17 15:38] da1nerd commented on #6237
@RobH123 do you happen to have a sample project where this issue shows up? If so could you share it here?

[2019-10-17 17:44] PhotoNomad0 commented on #6487
Verified in translationCore 2.0.0 (f5ff634)

[2019-10-17 19:17] cckozie opened #6490 ""No selection" menu filter not working correctly"
2.0.0 (f5ff634)
https://git.door43.org/tcsave/en_ult_luk_book
This was not working in the 2.0 release.
This project has all tW checks completed, shows 100% on the tW tools card, but has many groups and checks showing in the menu when filtered for "No selection".

[2019-10-17 19:36] cckozie commented on #6471
On this project, it takes 3+ seconds on my fastest computer.
https://git.door43.org/tcsave/en_ult_luk_book

[2019-10-17 20:01] cckozie opened #6491 "Project with 100% complete tW checks shows reset checks when imported or reselected"
2.0.0 (f5ff634)
This problem existed in the 2.0 release.
https://git.door43.org/tcsave/en_ult_luk_book
This project has 100% complete alignments and 100% complete tW checks.
When it is imported, the tW card indicates 2 reset selections.
After loading the project in tW and re-completing those reset selections, the tool card again shows 100% and 0 broken links.
![image](https://user-images.githubuse

[2019-10-17 22:46] cckozie opened #6492 "Need performance improvements on loading highly edited aligned projects with many completed checks"
https://git.door43.org/tcsave/en_ult_luk_book
This project is fully aligned and nearly every tW check completed. It takes more than 7 minutes on my fastest machine to import it and then load it in tW in the latest build (2.0.0 (f5ff634)).
The column labeled "Return to tools" in the csv file is the time it takes from clicking the Tools icon in the menu bar of tW until the 2 reset selections are ind

[2019-10-17 23:33] RobH123 commented on #6237
It may be correct that it's only in Hebrew? (Haven't been in the NT lately.) Not completely sure what I can give you @neutrinog. I'm aligning UST 1 Samuel and I have lots of other projects loaded in tCore 2.0 as recommended by Larry Sallee to give extra context. It occurs frequently, more likely of course in longer verses. Are you after a Book/Chapter/Verse reference or a zip file or what? I just

[2019-10-17 23:38] cckozie opened #6493 "tW reports invalidated selections when clicking Save after highlighting"
2.0.0 (9ef4802)
[43-LUK.usfm.zip](https://github.com/unfoldingWord-dev/translationCore/files/3741659/43-LUK.usfm.zip)

Import the attached project
Load it in tW
Navigate to verse 13:9 in the group "bear"
Double click the space between the words "indeed" and "it", and then double click the word "bears" as in this screenshot
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/

[2019-10-18 01:13] da1nerd commented on #6237
@RobH123 a zip like the above, yes. But also a chapter/verse where you see this issue in the book.

[2019-10-18 02:21] RobH123 commented on #6237
1 Sam 14:32 suggests they2 but not they1. v34 suggests to2 and to3 but not to1. v36 suggests soldiers3 but not soldiers1 or soldiers2. v39 suggests execute2 before execute1. v52 suggests Saul2 before Saul1.

[2019-10-18 04:10] da1nerd commented on #6237
ok I think I've discovered the problem here.
@klappy we have algorithms for alignment occurrence and alignment position, however we do not take into account relative occurrence. That is, the commonality of the source and target token's occurrence within the sentence. Right now the alignment position is winning over tokens that occur later in the sentence.

For example. Let's say we have the follow

[2019-10-18 08:20] da1nerd commented on #6237
# Alignment Relative Occurrence
Here's my thought for an algorithm.

* Given the total occurrences of a token within the target sentence  `Tx` and the total occurrences of a token within the source sentence `Ty`.
* And given we want to determine the relative occurrence of token `y` and token `x`.

Sample data:
[code]

Our known points of equivalence are `(1,1)` and `(3, 5)`. These two points repre

[2019-10-21 04:36] da1nerd commented on #6237
The above should actually be performed on n-grams. A uni-gram would cover the single token case.
This would require some updates to a few other algorithms so I'll restrict this to just uni-grams for now so we can quickly test if this solves the problem.

[2019-10-21 04:41] mannycolon opened #6495 "Move contextIdReducer & action creators to tools"

[2019-10-21 04:41] mannycolon opened #6496 "Move commentsReducer & action creators to tools"

[2019-10-21 04:41] mannycolon opened #6497 "Move selectionsReducer & action creators to tools"

[2019-10-21 04:41] mannycolon opened #6498 "Move verseEditReducer & action creators to tools"

[2019-10-21 04:41] mannycolon opened #6499 "Move bookmarksReducer (Formerly remindersReducer) & action creators to tools"

[2019-10-21 04:41] mannycolon opened #6500 "Move groupMenuReducer & action creators to tools"

[2019-10-21 04:42] mannycolon opened #6501 "Move reducers only used by tools to the tools’ codebase"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-10-21 09:08] da1nerd commented on #6237
Ok here are the results!
This new algorithm doesn't add anything to to the total prediction score. It's only used to balance out the alignment position score.

Click on the images to see closer.

Before. Notice "with":
![before](https://user-images.githubusercontent.com/166412/67191897-b1289800-f41c-11e9-8125-3b0a57ad57f0.png)

After:
![after-wordMAP-update](https://user-images.githubusercontent.c

[2019-10-21 14:00] cckozie commented on #6251
Looks good in 2.0.0 (f5ff634)

[2019-10-21 14:01] cckozie commented on #4414
Looks good in 2.0.0 (f5ff634)

[2019-10-21 14:04] cckozie commented on #6487
Looks good in 2.0.0 (f5ff634)

[2019-10-21 16:21] cckozie commented on #5960
Retested in 2.0.0 (52c56f7) (a test build), and now the Warning: A critical error has occurred! screen is displayed.
1. Import a project from your repo
2. On the details screen, change the translation id to something else
3. When the Project renamed alert is displayed, click on the X to close the alert
4. Click on the Go to User button
5. Click on the Go to Projects
6. Click on the Tool icon in th

[2019-10-22 16:01] cckozie opened #6504 "[0] SPIKE: Need performance improvements when editing verses in the scripture pane and check pane"
2.0.0 (9ef4802)
See all timings in attached spreadsheet. There are several significant improvements compared to the 2.0 release. Improvements > 30% highlighted in green, greater than 20% highlighted in blue.
It is still taking twice as long to check for resets when editing a verse in the scripture pane of tW as compared to editing it in the scripture pane of wA. tN falls in between the two.

Time

[2019-10-22 20:50] cckozie opened #6508 "When user selects to rename the repo on a Door43 import, the repo gets renamed but the manifest doesn't get updated"
2.0.0 (f5ff634)
I think this has been a problem for a long time.
1. Download a project from your own D43 repo
2. On the project details screen, change the translation id
3. When the copy or rename repo alert is displayed, choose Rename
4. Look at the renamed repo on Door43. Note that the manifest file still indicates the original translation id
5. Import the renamed project. Note that on the proje

[2019-10-22 20:53] cckozie commented on #5532
Issue noted in last comment is now on #6508

[2019-10-22 20:53] #5532 closed, assigned to nobody

[2019-10-22 20:55] cckozie opened #6510 "Need an indicator of processing after the user clicks Rename Repo during Door43 import"
1. Import a project from the signed in user
2. On the project details screen change the translation id
3. On the Create New or Rename repo alert, choose Rename
4. Note that there is a long pause after the alert is dismissed and the Loading project data alert is displayed.

[2019-10-22 20:57] cckozie commented on #6510
Dupe of #6434

[2019-10-22 20:57] #6510 closed, assigned to nobody

[2019-10-23 02:48] da1nerd commented on #4659
I think this can be closed now.

[2019-10-23 19:47] PhotoNomad0 commented on #6430
Verified in tCore 2.1.0 (3091b6e)

[2019-10-24 20:54] cckozie opened #6513 "The alert indicating content problems on tN checks is no longer being displayed"
2.1.0 (3091b6e)
https://git.door43.org/TC_SAVE/en_ust_rut_book
Import this file
Load in tN
Navigate to 1:16 under Assumed Knowledge
Note that the alert is not displayed
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/e7ff053c-d5d0-4cf9-bf97-04220b32ce28)

In  the 2.0 release this alert is displayed on 1:16 and 2:18 in that group
![image.png](https://images.zenhubusercont

[2019-10-28 15:00] PhotoNomad0 commented on #6220
**Notes:**

From Julip consensus, making the following changes to csv export:
- change Selections.csv to just have the most recent selections for a check - and only if selection is not empty
- change Reminders.csv to only have the most recent reminder state for a check - and only if enabled

[2019-10-28 15:51] cckozie commented on #6430
2.1.0 (3091b6e)
Testing of Issue B has revealed two problems. To replicate follow these steps as recording in the video [6430A.mp4.zip](https://github.com/unfoldingWord/translationCore/files/3779505/6430A.mp4.zip)

1. Start with two projects with the same language and book and different translation id's in a Door43 repo as in
<img width="221" alt="6430A-1" src="https://user-images.githubuserconten

[2019-10-28 18:36] PhotoNomad0 commented on #6430
@cckozie
OK - think I found the problem.  After the user changes the translation ID in the project details, tCore was going back to retry the rename.  Unfortunately it was leaving the DCS rename prompt on the screen and not showing that it was doing actually doing a DCS rename.  That Is easy enough to fix.

[2019-10-28 18:45] PhotoNomad0 commented on #6430
@cckozie - after the user changes translation ID in the project details, should we re-prompt if they want to rename repo or create new repo?  Currently we just go with previous choice.

[2019-10-28 20:02] cckozie commented on #6430
@PhotoNomad0 Good question! I think we can just go with their previous choice.

[2019-10-28 20:17] PhotoNomad0 commented on #6237
Verified in translationCore 2.1.0 (36a0501)

[2019-10-28 20:24] PhotoNomad0 commented on #6430
~@cckozie - have a test build for you to try: https://tc-builds.door43.org/build/release-v2.1.0-test.2/translationCore-macos-x64-2.1.0-dd991d3.dmg~

[2019-10-29 08:42] da1nerd commented on #6237
Update: I've fixed a lot of bugs in wordMAP and am closing in on the ones presented in this issue. I expect to finish in a day or two.

[2019-10-29 12:56] PhotoNomad0 commented on #6430
@cckozie - another try here - have a new test build https://tc-builds.door43.org/build/release-v2.1.0-test.3/translationCore-macos-x64-2.1.0-af36189.dmg

this should also fix the problem of deleting any projects with the temporary translation IDs

[2019-10-29 13:02] cckozie commented on #6430
@PhotoNomad0 "this should also fix the problem of deleting any projects with the temporary translation IDs" I don't know what that means:)

[2019-10-29 13:10] PhotoNomad0 commented on #6430
@cckozie - when you change to a translation id that is already used on DCS - that is the temporary one if  you then chose to change to another translation id (rename local).

[2019-10-29 13:18] PhotoNomad0 commented on #6508
@cckozie - it is looking like the manifest in the project is being updated on the local PC, but we are not automatically pushing the latest change up to D43.  Looking into fixing that.

[2019-10-29 14:18] cckozie commented on #6430
@PhotoNomad0 Following the steps in my comment yesterday, in steps 6 and 7 I'm still seeing the Your project has been renamed alert briefly appear. It feels weird to see an alert that has option buttons being automatically dismissed. How hard would it be to hide that alert when it is going to automatically be dismissed?
The improper deleting of Door43 repos has been fixed.

[6430B.mp4.zip](https:/

[2019-10-29 15:01] PhotoNomad0 commented on #6430
@cckozie - thanks will try again.   I agree it shouldn't be that hard, but it always seems to be difficult to synchronize async events.  Do you have the log file?

[2019-10-29 15:05] cckozie commented on #6430
@PhotoNomad0
[Tue Oct 29 2019.log.zip](https://github.com/unfoldingWord/translationCore/files/3784242/Tue.Oct.29.2019.log.zip)

[2019-10-29 15:43] cckozie commented on #6430
@PhotoNomad0 I'm having second thoughts about my suggestion that we should use the user's original response to rename the Door43 repo. In the process of testing now I've found myself surprised when my repo "disappeared" cuz I had kind of forgotten I first selected the Rename Repo option, and then on the last alert I responded to I chose the Rename Local Project option. I think the word "Local" the

[2019-10-29 19:38] cckozie opened #6516 "Problems after upgrading from 1.1.4"
2.1.0 (af36189)
[08-RUT.usfm.zip](https://github.com/unfoldingWord/translationCore/files/3790468/08-RUT.usfm.zip)

These problems also occur if I test it now using the 2.0 release build.
However, I have a script log from 9/30/19 that shows it did not find the problems running
build 2.0.0 (e8a2e7c).
Might the problem be that the hbo has been updated since then and that is what broke it? The problem

[2019-10-30 10:48] PhotoNomad0 commented on #6430
@cckozie - OK found the place where the spurious repo renamed dialog was being generated.  Also changed to return  to DCS create/rename prompt after changing translation ID.  Have new build to test:  https://tc-builds.door43.org/build/release-v2.1.0-test.4/translationCore-macos-x64-2.1.0-27a1ce3.dmg

This should also update manifest on DCS with new translation ID after rename/create new.

[2019-10-30 10:58] PhotoNomad0 commented on #6220
Verified in translationCore 2.1.0 (605b3a6)

[2019-10-30 11:58] PhotoNomad0 commented on #6508
This will be fixed in https://github.com/unfoldingWord/translationCore/pull/6514

[2019-10-30 13:34] PhotoNomad0 commented on #6490
@cckozie - it's looking like the problem is that checks with `no selection needed` are showing up in the `no selection` filter.  Technically there is no selection for these checks.  I can make the logic change if that is what we want.

[2019-10-30 14:55] PhotoNomad0 commented on #6490
@cckozie - it also looks like selected filter does not include items with `no selection needed`.  Should that be changed as well?

[2019-10-30 15:06] cckozie commented on #6490
@PhotoNomad0 Yes. I think the typical user will use those filter options to easily find completed and more often incomplete checks. So from that perspective, "No selection needed" is the same as "Selection complete" as indicated by the check mark.

[2019-10-30 15:29] cckozie commented on #6430
@PhotoNomad0 Yes, I like that behavior much better!

[2019-10-30 18:48] PhotoNomad0 commented on #6516
@cckozie - Nuts, cannot reproduce what you saw with the crash - the project opens fine for me after the upgrade.  Also Having trouble reconciling the console log screenshot with the log file: the error in the screenshot is not in the attached log file.

Can you try again using latest build https://tc-builds.door43.org/build/release-v2.1.0/translationCore-macos-x64-2.1.0-605b3a6.dmg?  And maybe a v

[2019-10-30 18:51] cckozie opened #6518 "Verbiage on the Your project has been renamed alert is insufficient"
2.1.0 (27a1ce3)
![image](https://user-images.githubusercontent.com/8171759/67888534-47df0e00-fb1b-11e9-8bfa-8a8c911e62af.png)

This alert was displayed when I chose to change the translation id of the imported en_hhhh_tit_book project.
The verbiage should specify the name of the repo being asked about.

Suggested verbiage for the question:
What would you like to do with this project's existing Doo

[2019-10-30 19:03] cckozie commented on #6516
@PhotoNomad0 I'm seeing the same behavior (both failures) using 2.1.0 (605b3a6)
[logs.zip](https://github.com/unfoldingWord/translationCore/files/3790725/logs.zip)

[6516.mp4.zip](https://github.com/unfoldingWord/translationCore/files/3790757/6516.mp4.zip)
Project before opening in 2.1 - [en_ult_rut_book.zip](https://github.com/unfoldingWord/translationCore/files/3790758/en_ult_rut_book.zip)
Proje

[2019-10-30 19:32] PhotoNomad0 commented on #6516
@cckozie  - it looks like there is a logic error.  1.1.4 didn't care about hbo versions, so when you upgrade hbo resources, it deletes 2.1.7 and replaces it with 2.1.8.  Then after the upgrade to 2.1.0, tC sees a dependency on 2.1.7, but not for 2.1.8, so it gets deleted since it not bundled, but 2.1.7 is not getting restored.  ~Then later when loading the project, there is a bug that can't handle

[2019-10-31 16:21] PhotoNomad0 commented on #6491
@cckozie - interesting bug here - it looks like there is a space added to some selections - and this is not valid.  Looking to see how it can be fixed.

[2019-10-31 17:12] PhotoNomad0 commented on #6491
@cckozie Here is an example of the invalid selections: https://git.door43.org/tcsave/en_ult_luk_book/src/branch/master/.apps/translationCore/checkData/selections/luk/2/9/2019-10-16T21_45_55.916Z.json

But the current tCore still adds space under some conditions - investigating.

[2019-10-31 19:16] PhotoNomad0 commented on #6491
**Note**
found bug in getSelectionsFromChapterAndVerseCombo() in checking_tool_wrapper that it does not compare the occurrence.  This is called on invalidation so that the wrong occurrence may be invalidated.

[2019-10-31 20:15] PhotoNomad0 commented on #6491
@cckozie - I found two problems:
- when there are multiple checks in a verse (e.g. `Lord` in Luke 2:9), invalidation would sometimes invalidate the wrong occurrence.  That took a few hours to track down, but an easy fix.
- the selection tool lets you select space between words.  Then later when the book is revalidated, it doesn't like one of the selections being just space and not actually a word

[2019-10-31 20:44] cckozie commented on #6220
@PhotoNomad0 I suspect this problem was not caused by the work you did here, but in my testing I discovered that edits performed in wA are written twice to the verseEdits file. Interestingly, the timestamp on the writes are 3-4 seconds apart, so it look like some code is running twice.
Do you want me to write up a new issue for that, or should we expand the already expanded scope of this one?

[2019-11-04 13:46] birchamp opened #6520 "Cypress UI Tests for GRT's Styleguide."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-04 13:47] #6520 closed, assigned to nobody

[2019-11-04 13:49] birchamp commented on #6520
Issue moved to [unfoldingWord/gitea-react-toolkit #8](https://github.com/unfoldingWord/gitea-react-toolkit/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2019-11-04 15:22] PhotoNomad0 commented on #6220
@cckozie - would prefer new issue since the title of this issue is for selections.

[2019-11-04 15:28] cckozie opened #6521 "Edits performed in wA are written twice to the verseEdits.csv file"
2.1.0 (605b3a6)
Interestingly, the timestamp on the writes are 3-4 seconds apart, so it looks like some code is running twice.
Load a project in  wA
Edit a verse in the expanded scripture pane
Export the project to CSV
Open the verseEdits.csv file and note that there are two rows for the edit with different timestamps

[2019-11-04 15:31] cckozie commented on #6220
2.1.0 (605b3a6)
Selections.csv now only has the most recent selections for a check - and only if selection is not empty
Reminders.csv now has only the most recent reminder state for a check - and only if the bookmark switch in set to On

[2019-11-04 16:42] cckozie opened #6522 ".git project showing up on Projects page"
2.1.0 (605b3a6)
This has happen several times, but not every time, when testing issue #6434
I am starting with a project named en_aaaa_tit_book on my Mac. That same project, as well as one named en_bbbb_tit_book, are in the tC user's repo on Door43.
I run a script that performs the following:
1. Imports en_aaaa_tit_book from Door43 giving it the tid of bbbb on the project details screen.
2. On the

[2019-11-04 19:11] cckozie opened #6523 "Received Warning: A critical error has occurred! message during import from Door43"
2.1.0 (605b3a6)

<img width="1438" alt="critical error" src="https://user-images.githubusercontent.com/8171759/68150578-a0d8e880-ff05-11e9-9572-4784b14eae18.png">

Same scenario as in #6522
This has happen a few times, but not every time, when testing issue #6434
I am starting with a project named en_aaaa_tit_book on my Mac. That same project, as well as one named en_bbbb_tit_book, are in the tC u

[2019-11-04 22:38] cckozie opened #6526 "Downloaded resources do not appear as available for a GL when they are downloaded on the Tools page"
2.0
Reported from the field.
[57-TIT.kn.usfm.zip](https://github.com/unfoldingWord/translationCore/files/3806379/57-TIT.kn.usfm.zip)
1. Import this project
2. While on the Tools page, note that (kn) is not available as a GL for tW
3. While still on the Tools page download the (kn) resources
4. When the download finishes, note that (kn) is still not available as a GL for tW
5. Go to the Projects pa

[2019-11-05 18:22] PhotoNomad0 commented on #6491
**Note:**
From wg-tc discussion, fixes to be made as part of this issue:
- Remove selections that are only space(s)
- Trimming leading and trailing spaces on each selection.
- Merge selections that are only separated by space (including unicode spaces)
- fix issue that edits sometimes invalidated the wrong check if there was more than one in the same verse having the same groupId

[2019-11-05 18:28] cckozie opened #6527 "Critical error message after selecting a project"
2.1.0 (27a1ce3) This is a test build

Start with at least one existing project in tC
1. Import a project
2. When the import completes on the Tools page, return  to the Projects page
3. Upload a project OTHER THAN THE ONE JUST IMPORTED to Door43
4. Select the project that was just uploaded
Note that you get the Critical error screen
In  previous builds, anytime an activity from the 3-dot menu was c

[2019-11-05 19:25] PhotoNomad0 commented on #6490
Verified in translationCore 2.1.0 (1a3811f)

[2019-11-05 21:02] PhotoNomad0 commented on #6008
@cckozie - I think I have a fix for the two cases listed - basically I'm adding support for the USFM markers that span (i.e. they have an end tag).  But I want to make sure that I am not breaking other cases with punctuation.  Do you know of some verses that we have had problems with the formatting in the past?  Such as punctuation, Greek with punctuation, and inline USFM markers?

[2019-11-05 22:08] cckozie commented on #6008
@PhotoNomad0 Nothing really comes to mind. These issues had to do with problem rendering punctation. Not sure if that relates to what you're working on or not. #6036, #6027, #5982, #5063, #4126
I'll make sure to do some tests with in-line USFM markers when it gets to QA.

[2019-11-06 13:59] PhotoNomad0 commented on #6527
@cckozie - may need more detail here - like maybe a video or log.  Having trouble reproducing it with this test build.

[2019-11-06 14:05] PhotoNomad0 commented on #6527
@cckozie - I'm going to create a test build with the fix to close open projects before upload to see if that helps.

[2019-11-06 15:10] PhotoNomad0 commented on #6527
@cckozie - A test build to try:

From the `release-v2.1.0-test.4` branch:
[Linux build 2.1.0 (ec9b8f4)](https://tc-builds.door43.org/build/release-v2.1.0-test.4/translationCore-linux-x64-2.1.0-ec9b8f4.deb) is ready for download.
[macOS build 2.1.0 (ec9b8f4)](https://tc-builds.door43.org/build/release-v2.1.0-test.4/translationCore-macos-x64-2.1.0-ec9b8f4.dmg) is ready for download.
[Windows x64 bui

[2019-11-06 15:50] cckozie commented on #6527
@PhotoNomad0 Test build looks good. I've been unable to recreate the problem with it.

[2019-11-06 16:00] PhotoNomad0 commented on #6008
@cckozie Thanks, https://github.com/unfoldingWord/translationCore/issues/5063 was particularly helpful.  It doesn't look like this will fix anything new (such as extra spaces issues), but it doesn't seem to break the punctuation spacing.

[2019-11-06 19:22] PhotoNomad0 commented on #6491
Verified in translationCore 2.1.0 (9bdeb06) invalidation issue should be fixed as well as selection fixes/changes.

[2019-11-07 13:50] PhotoNomad0 commented on #6430
@cckozie - working on fix for case that Rich saw in testing:
[code]

[2019-11-07 17:44] cckozie commented on #6490
2.1.0 (49499fd)
The menu filtering is now working correctly.

[2019-11-07 18:42] cckozie commented on #6491
Looks good in 2.1.0 (49499fd). Spaces cannot be selected. Adjacent selected words are merged in single selection. Punctuation can be selected. Adjacent words separated by punctuation are not merged.

[2019-11-07 20:02] PhotoNomad0 commented on #6430
@cckozie - have a test build to try:

From the `release-v2.1.0-test.4` branch:
[Linux build 2.1.0 (22ab4ef)](https://tc-builds.door43.org/build/release-v2.1.0-test.4/translationCore-linux-x64-2.1.0-22ab4ef.deb) is ready for download.
[macOS build 2.1.0 (22ab4ef)](https://tc-builds.door43.org/build/release-v2.1.0-test.4/translationCore-macos-x64-2.1.0-22ab4ef.dmg) is ready for download.
[Windows x6

[2019-11-07 20:36] cckozie opened #6530 ""Cannot read property 'quote' from undefined" message when selecting a project"
2.1.0 (49499fd)
I don't know how long this problem has existed. I know it also gave the error in 2.0. The referenced project is about 1 year old.
https://git.door43.org/qa99/en_prct_tit_book
1. Import the reference project
2. Return to Projects page
3. Select a different project
4. Return to Projects page
5. Select the imported en_prct_tit_book project
Note the error message
![image](https://user-

[2019-11-08 18:39] PhotoNomad0 commented on #6516
Verified in translationCore 2.1.0 (ddad4a)

[2019-11-08 18:47] PhotoNomad0 commented on #6008
Verified in translationCore 2.1.0 (ddad4a)

[2019-11-11 16:11] cckozie commented on #6516
Looks good in  2.1.0 (ddad4a7)
Not seeing any of the problems. UHB 2.1.7 and 2.1.8 both on system after upgrade to 2.0.

[2019-11-11 17:04] cckozie commented on #6008
2.1.0 (ddad4a7)
It looks like the two cases noted have been fixed, but I'm seeing other discrepancies when comparing the rendered text against previous builds. Specifically:
1. It looks like we're now preventing line breaks/wrapping when a word is followed by the \add marker
2. It looks like were now inserting an extra space when there is a \p marker within a verse (The purple box is the same size

[2019-11-11 18:58] PhotoNomad0 commented on #6418
Spike was completed

[2019-11-11 18:58] #6418 closed, assigned to da1nerd

[2019-11-11 19:52] cckozie commented on #6237
2.1.0 (d45bc64)
[6237.zip](https://github.com/unfoldingWord/translationCore/files/3832977/6237.zip)
I'm still seeing wrong occurrence suggestions. These examples were taken with only the attached two projects in tC. (Moving this scenario to a new issue)
![image](https://user-images.githubusercontent.com/8171759/68616075-ece9d700-0489-11ea-8c45-1057ad9483b2.png)

![image](https://user-images.github

[2019-11-11 19:55] cckozie opened #6534 "WordMAP should not treat the translation identifier as being case sensitive"
2.1.0 (d45bc64)
[6534.zip](https://github.com/unfoldingWord/translationCore/files/3833006/6534.zip)
1. Start with an empty projects folder
2. Drop the two projects from the zip file above into an empty projects folder
3. Start tC
4. Import this USFM file [38-ZEC.usfm.zip](https://github.com/unfoldingWord/translationCore/files/3833011/38-ZEC.usfm.zip) as English with translation ID of 'ust'
5. Load

[2019-11-11 20:01] PhotoNomad0 commented on #6430
Verified that Changes are in translationCore 2.1.0 (d8f36fe)

[2019-11-11 20:02] PhotoNomad0 commented on #6508
Verified that Changes are in translationCore 2.1.0 (d8f36fe)

[2019-11-11 20:04] PhotoNomad0 commented on #6513
Verified in translationCore 2.1.0 (d8f36fe)

[2019-11-11 20:24] mannycolon opened #6535 "Add Webpack code bundling to tC"
## Story Explanation
### User Story

As a tC developer, I want to setup code bunking so that we can have and add the latest access to the latest versions of Javascript and add tree shaking.

### Features / Specifications

- [ ] Upgrade to latest version of babel.
- [ ] Upgrade to latest version of electron.
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-11 20:30] mannycolon opened #6536 "Add Cypress e2e integration to tC"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-11 21:58] PhotoNomad0 commented on #6149
Note: suspecting the original git history is not copied into final merged project.

[2019-11-11 22:27] cckozie commented on #6534
The real problem here is that the wordMAP is treating the translation identifier as being case sensitive in determining language and translation identifier matches.
When tC is validating the uniqueness of language/book/translation id, it treats the tid as not being case sensitive. tC always displays the tid in lower case on the projects page.
For consistency, I believe it would be better to always

[2019-11-11 22:53] cckozie commented on #6513
Looks good in  2.1.0 (d8f36fe)

[2019-11-11 23:19] cckozie commented on #6389
Not seeing any of the documented problems in 2.1.0 (d8f36fe)

[2019-11-11 23:19] #6389 closed, assigned to mannycolon

[2019-11-12 01:59] da1nerd commented on #6237
@cckozie the first screenshot should be a valid suggestion. Notice the paired suggestion `they did`. The reason we see the second occurrence of `did` and not the first is because only the second occurrence has an adjacent `they`. Right now wordMAP only supports suggesting alignments of contiguous tokens (contiguous in the alignment, not the entire set of suggestions). If it is desirable to support

[2019-11-12 14:33] cckozie commented on #6237
@neutrinog OK, thanks. I understand that scenario 1 is working as designed even though it does not comply with the stated requirement in the first comment above. And to the average user it will most likely appear to be a bug (as it did to me:). I will write up a new issue for that scenario for future consideration.

[2019-11-12 14:39] cckozie opened #6538 "WordMAP design sometimes causes suggestions to appear in wrong occurrence order"
2.1.0 (d45bc64)
[6237.zip](https://github.com/unfoldingWord/translationCore/files/3832977/6237.zip)
This is working by design but it does not conform to the requirement in #6237. (See that issue for details on design)
This example was observed with only the attached two projects in tC.
![image](https://user-images.githubusercontent.com/8171759/68616075-ece9d700-0489-11ea-8c45-1057ad9483b2.png)

[2019-11-12 15:04] cckozie commented on #6508
2.1.0 (d8f36fe)
When I follow the first 3 steps in the first comment I always receive the "The Door43 repository was not renamed." alert. The requested repo name does not exists on D43.
If I choose the Create New Repository option on the project renamed alert, I always receive the "The Door43 repository could not be created." alert. The requested repo name does not exists on D43.

[2019-11-12 15:06] cckozie commented on #6430
Waiting on fix for #6508 in order to test this one.
Also need to test #6523 to see if it is also fixed by this one.

[2019-11-12 15:19] cckozie commented on #6530
2.1.0 (d8f36fe)
[Tue Nov 12 2019.log.zip](https://github.com/unfoldingWord/translationCore/files/3836796/Tue.Nov.12.2019.log.zip)

![image](https://user-images.githubusercontent.com/8171759/68684022-65ee3a80-052d-11ea-8ea5-8760f9ab4963.png)

[2019-11-12 15:25] cckozie opened #6539 "Received the "Your login has become invalid. Please log out and log back in." alert when attempting to upload to Door43"
2.1.0 (d8f36fe)
[Tue Nov 12 2019.log 2.zip](https://github.com/unfoldingWord/translationCore/files/3836823/Tue.Nov.12.2019.log.2.zip)
Imported a usfm file
Returned to projects page
Selected to upload a different project to Door43
Received the referenced alert.
Attempted upload of other projects. Same result.
Ended and restarted tC
Attempted upload, still fails
Logged out and back in with same user

[2019-11-12 15:31] cckozie commented on #6527
Not seeing the problem in 2.1.0 (d8f36fe)

[2019-11-12 15:35] cckozie commented on #6522
I think this will be fixed by work on #6430

[2019-11-12 15:42] cckozie commented on #4036
Still a problem in  2.1.0 (d8f36fe)

[2019-11-12 16:50] PhotoNomad0 commented on #6526
Verified in translationCore 2.1.0 (22cd49a)

[2019-11-12 19:00] PhotoNomad0 commented on #4036
@cckozie @elsylambert - tested above project in 2.1.0 (22cd49a)  and it worked fine for me - saw missing verse indication both on first import and then later when I select to open the project.  Retried many times on opening project.

[2019-11-12 19:22] PhotoNomad0 commented on #4036
@cckozie @elsylambert - tried with old windows laptop - it is very slow but seeing the missing verses alert every time.  Not sure how to proceed with this?  Bug you to retry QA test?

[2019-11-12 19:24] elsylambert commented on #4036
@PhotoNomad0 I am testing it on the latest build b775824.

[2019-11-12 19:26] cckozie opened #6541 "Links in tW and tA articles bring up window with message "Cannot find an article for...""
2.1.0 (22cd49a)
Clicking a link in the tW helps pane brings up a window with the error message "Cannot find an article for..."
Clicking the same link a second time does cause the article to be properly displayed.
This appears to be the case on all links regardless of the GL selected
[tW links.mp4.zip](https://github.com/unfoldingWord/translationCore/files/3837852/tW.links.mp4.zip)

In the tN helps

[2019-11-12 19:42] PhotoNomad0 commented on #6436
Created a PR against catalog https://git.door43.org/STR/es-419_tw/pulls/1

[2019-11-12 19:50] mannycolon opened #6543 "Finish implementing selector functions in tCore codebase to get the desired portion of the state object"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-12 19:51] cckozie commented on #4036
@PhotoNomad0 Fails for me on this file running 2.1.0 (22cd49a)
[55-1TI.usfm.zip](https://github.com/unfoldingWord/translationCore/files/3837938/55-1TI.usfm.zip)
BTW: The missing verses screen is not displayed either during the import or when reselecting the project.

[2019-11-12 19:51] mannycolon opened #6544 "Refactor the remaining containers to properly connect components with the state tree"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-12 19:52] mannycolon commented on #6544
In other words, remove redux from “containers” that don’t really need to be connected to the state. We should also have more containers than we currently have so that we connect the components more directly to the state it uses. And disconnect other containers and components from state they don’t really care about. This will solve our rerender perf problems.

[2019-11-12 19:53] cckozie commented on #6526
Works in 2.1.0 (22cd49a)

[2019-11-12 19:56] mannycolon opened #6545 "Setup up multithreading on electron (server/client separation in child processes)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Move bundle resources copying into server process
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-12 19:57] mannycolon opened #6546 "Look into moving WORDMAP into server process"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-12 19:59] mannycolon opened #6547 "EPIC: React Hooks conversion"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-12 20:04] cckozie commented on #6420
Works in 2.1.0 (b775824)

[2019-11-12 20:07] PhotoNomad0 commented on #6530
@cckozie - have a suspicion this was some test project for when we were developing tN:  in en_prct_tit_book/.apps/translationCore/checkData/invalidated/tit/2019-11-12T19_51_22.468Z.json here is the data:

{"invalidated":true,"selections":[],"userName":"photonomad1","modifiedTimestamp":"2019-11-12T19:51:22.468Z"}

Looks like it is a project I worked on during development (since I'm photonomad1) and

[2019-11-12 20:08] PhotoNomad0 commented on #6541
@cckozie - I'm thinking this breakage is from the hooks refactor.

[2019-11-12 20:18] cckozie commented on #6541
@PhotoNomad0 Seems likely since this worked correctly in 2.0

[2019-11-12 20:25] cckozie commented on #6530
@PhotoNomad0 That being the case I am removing the Hotfix candidate label.
We can reevaluate later.

[2019-11-12 20:37] elsylambert commented on #4036
Verified in 2.1.0 (b775824). Failed with 55-1TI.usfm.zip file but not with 57-TIT2.usfm.zip file. With 57-TIT2.usfm.zip file import, I got Missing verses 1:1 screen. Wondering why different behaviour with different usfm files.

[2019-11-12 20:48] elsylambert commented on #6541
Similarly, clicking the links within the translation helps window shows "cannot find an article.." and clicking on it the second time brings up the article.

[2019-11-12 23:50] PhotoNomad0 commented on #6436
@cckozie PR has been merged.  Now need to wait for the Door43  catalog to be updated.  Could this go in QA watch?

[2019-11-13 04:04] cckozie commented on #6436
@PhotoNomad0 - I'll move to In QA and put a hold on it.

[2019-11-13 04:04] cckozie commented on #6436
Waiting for catalog to be updated.

[2019-11-13 10:57] PhotoNomad0 commented on #4036
@cckozie @elsylambert - the 57-TIT2.usfm file has verse that is truly empty.  The 55-1TI.usfm file is technically not empty.  The HTML:

![Screen Shot 2019-11-13 at 5 46 24 AM](https://user-images.githubusercontent.com/14238574/68757045-414f9c80-05d9-11ea-859c-4d00d8e42331.png)

Which results in this verse content:

![Screen Shot 2019-11-13 at 5 45 56 AM](https://user-images.githubusercontent.com/

[2019-11-13 11:41] PhotoNomad0 commented on #6508
@cckozie - having trouble reproducing this one.  Do you have a log file I can look at?

[2019-11-13 11:46] PhotoNomad0 commented on #6508
@cckozie - I did find that it was doing a double push to DCS - certainly inefficient, but not seeing the error.

[2019-11-13 16:07] jag3773 commented on #6436
Catalog should be updated at this point.

[2019-11-13 16:23] cckozie commented on #6508
@PhotoNomad0 Here's a video and log
[Tue Nov 12 2019.log.zip](https://github.com/unfoldingWord/translationCore/files/3842262/Tue.Nov.12.2019.log.zip)
[6508.mp4.zip](https://github.com/unfoldingWord/translationCore/files/3842268/6508.mp4.zip)

[2019-11-13 16:23] PhotoNomad0 commented on #6508
@cckozie - I know I should wait for more info, but I have a test build to try. Has cleanup of double push to DCS, also fix to cases where DCS did not have updated manifest contents.

From the `release-vx2.1.0-test` branch:
[Linux build 2.1.0 (34acf40)](https://tc-builds.door43.org/build/release-vx2.1.0-test/translationCore-linux-x64-2.1.0-34acf40.deb) is ready for download.
[macOS build 2.1.0 (34a

[2019-11-13 16:29] mannycolon opened #6550 "Move invalidatedReducer & action creators to tools"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-13 16:34] mannycolon opened #6551 "Move groupsDataReducer & action creators to tools"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-13 16:48] cckozie commented on #4036
@PhotoNomad0 - Oops! Yes you are correct. However, upon further testing I've found that if the line with the verse marker only contains the \v x, and it is followed by a line feed and otherwise empty line, tC does not catch it as a missing verse. Then when loaded into a tool, tC reports the verse as not containing any text. We should probably ignore the line feed when there is no other text, but w

[2019-11-13 17:01] cckozie commented on #6508
@PhotoNomad0 I'm seeing the same problems in 2.1.0 (34acf40)
Oh wait! Thinking through why it might always fail for me but not for you, was reminded of my "Login become invalid message". So I tried an upload to Door43 and got that message. Logged out and back in, now the upload succeeds, and the repo rename also succeeds.
Maybe we should try to figure out the invalid login thing, or present that m

[2019-11-13 17:18] cckozie commented on #6436
This problem was fixed by the catalog update.

[2019-11-13 17:21] PhotoNomad0 commented on #6508
@cckozie - I was going to ask you about the login because of 401 error in the log file.  I haven't seen the invalid login very much - but usually seems to happen when I accidentally run to instances of tC at the same time (have the built app still running when I launch tC from developers environment).  THe other time was testing Rich's development server.

Maybe we recheck the credentials before d

[2019-11-13 17:24] PhotoNomad0 commented on #6508
@cckozie - will also need to check login when user renames the project.

[2019-11-13 19:44] mannycolon opened #6552 "Move groupsIndexReducer & action creators to tools"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-13 19:45] mannycolon opened #6553 "Move groupsDataReducer & action creators to tools"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-13 19:46] #6553 closed, assigned to nobody

[2019-11-13 20:38] PhotoNomad0 commented on #6008
@cckozie - have a test build for you to try.  Tried different spacing approach.

From the `release-vx2.1.0-test.2` branch:
[Linux build 2.1.0 (99ddffe)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-linux-x64-2.1.0-99ddffe.deb) is ready for download.
[macOS build 2.1.0 (99ddffe)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-macos-x64-2.1.0-9

[2019-11-13 21:58] cckozie commented on #6008
@PhotoNomad0 This now looks good, at least for the 4 problems noted in this issue. I did not observe any other obvious rendering problems.

[2019-11-13 22:16] cckozie opened #6554 "tC hangs for two minutes after navigating to a verse in wA"
2.1.0 (b775824)
[projects.zip](https://github.com/unfoldingWord/translationCore/files/3843727/projects.zip)
 (I'm not sure if steps 1-6 are necessary or not)
1. Download the latest English, Greek, and Hebrew resources
2. Import the John project giving it translation identifier ult
3. Load it in wA
4. I added the t4t to the scripture pan
5. Open the expanded scripture pane
6. Return the the Project

[2019-11-14 04:03] da1nerd commented on #6554
Only steps 7-10 are necessary. I ran the code at commit b77582416.

With this particular verse wordMAP is having a difficult time generating suggestions that contain the proper order of occurrence. To get the proper occurrence order it will throw away suggestions until it finds the right one (or runs out of permutations). Normally wordMAP will need to throw away just a few suggestions, but in this

[2019-11-14 04:31] da1nerd commented on #6538
To elaborate on my comment in https://github.com/unfoldingWord/translationCore/issues/6237#issuecomment-552699174. If we use the first "did" in the example above, then we would have to also discard the first "they" since wordMAP only supports n-grams with contiguous tokens.

e.g. the phrase `they(1) did(1)` is invalid because their appearance in the target text is discontinuous:
[code]
However, ju

[2019-11-14 17:47] PhotoNomad0 commented on #6508
Verified in translationCore 2.1.0 (c06cc80)

[2019-11-14 17:49] cckozie commented on #6508
Works in 2.1.0 (c06cc80)

[2019-11-14 17:52] PhotoNomad0 commented on #6008
Verified in translationCore 2.1.0 (ff63bfd)

[2019-11-14 17:56] cckozie commented on #6523
No longer a problem in 2.1.0 (c06cc80)

[2019-11-14 17:56] #6523 closed, assigned to nobody

[2019-11-14 17:57] cckozie commented on #6522
No longer a problem in 2.1.0 (c06cc80)

[2019-11-14 17:57] #6522 closed, assigned to nobody

[2019-11-14 19:33] PhotoNomad0 commented on #6149
Note:
Found that USFM import creates a new git history, so made fix to make sure this is overwritten by existing project so we preserve the git history of the project.

[2019-11-14 20:18] PhotoNomad0 commented on #6149
@cckozie - have a test build for this if you want to check it:

From the `release-vx2.1.0-test` branch:
[Linux build 2.1.0 (8221c56)](https://tc-builds.door43.org/build/release-vx2.1.0-test/translationCore-linux-x64-2.1.0-8221c56.deb) is ready for download.
[macOS build 2.1.0 (8221c56)](https://tc-builds.door43.org/build/release-vx2.1.0-test/translationCore-macos-x64-2.1.0-8221c56.dmg) is ready fo

[2019-11-14 20:59] cckozie commented on #6149
@PhotoNomad0 Looks good in the test build.

[2019-11-15 04:16] da1nerd commented on #6554
while investigating this I discovered a bug that is likely causing the second problem in https://github.com/unfoldingWord/translationCore/issues/6237#issuecomment-552589121

[2019-11-15 04:48] da1nerd commented on #6554
ok I've isolated this particular corner case. The problem arises when alignment memory associates source and target n-grams that occur on opposite sides of the verse. Or more specifically, the alignment memory pulls a target n-gram out of it's occurrence order. An illustration will make this easier to understand.

Take for instance, the following translations.
[code]

If wordMAP receives an alignm

[2019-11-15 11:35] da1nerd commented on #6237
I suspect the issue in this screenshot could be influenced by adjusting the "reduction factor" for later occurrences in the `AlignmentPosition` algorithm. I need to refactor wordMAP to provide a better interface for composing algorithms and weighting them differently depending on the type of text and language.

![image](https://user-images.githubusercontent.com/8171759/68616168-1c98df00-048a-11ea-

[2019-11-15 15:55] PhotoNomad0 commented on #6541
@cckozie @elsylambert - have a test build to try out here:

From the `release-vx2.1.0-test.2` branch:
[Linux build 2.1.0 (a95e6be)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-linux-x64-2.1.0-a95e6be.deb) is ready for download.
[macOS build 2.1.0 (a95e6be)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-macos-x64-2.1.0-a95e6be.dmg) is ready

[2019-11-15 16:57] elsylambert commented on #6541
Verified in 2.1.0 (a95e6be). Links in tW help articles works fine and are getting loaded the very first time. However, there is a 1 second delay in loading of Help pane article itself when navigated from one article to another.
Links in tN help pane are not working at all. Clicking on it even multiple times, does not bring up any results.
Also, tA links within translation help window, do not work.

[2019-11-15 17:44] PhotoNomad0 commented on #6541
@elsylambert - thanks for feedback.

[2019-11-15 18:57] PhotoNomad0 commented on #6541
@elsylambert - found a logic error I introduced.  This should work better:

From the `release-vx2.1.0-test.2` branch:
[Linux build 2.1.0 (fa6cd3b)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-linux-x64-2.1.0-fa6cd3b.deb) is ready for download.
[macOS build 2.1.0 (fa6cd3b)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-macos-x64-2.1.0-fa6cd3

[2019-11-15 19:54] PhotoNomad0 commented on #6534
@cckozie - here is a test build to try with Alignment memory using lower case translation ids:

From the `release-vx2.1.0-test.2` branch:
[Linux build 2.1.0 (fcfdbfb)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-linux-x64-2.1.0-fcfdbfb.deb) is ready for download.
[macOS build 2.1.0 (fcfdbfb)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-ma

[2019-11-16 07:21] birchamp opened #6559 "Content update fails when file doesn't exist"
### Prerequisites

- [X] I have searched the [issues](https://github.com/unfoldingWord-dev/translationCore/issues) of this repository and believe that this is not a duplicate.

### Description
Attempt to update English content resulted in Failure to update dialog.  The log showed:
`Error getting https://cdn.door43.org/en/tn/v18/tn.zip: Unable to download resources: Error: ENOENT: no such file or d

[2019-11-16 15:30] PhotoNomad0 opened #6560 "Update resources and localization for 2.1.0 Release"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-18 12:25] cckozie commented on #6559
Also fails on Mac on 2.0 - [Mon Nov 18 2019.2.0.log.zip](https://github.com/unfoldingWord/translationCore/files/3858557/Mon.Nov.18.2019.2.0.log.zip)

Also fails on Mac on 2.1.0 (ff63bfd) - [Mon Nov 18 2019.2.1.log.zip](https://github.com/unfoldingWord/translationCore/files/3858577/Mon.Nov.18.2019.2.1.log.zip)

[2019-11-18 15:03] elsylambert commented on #6541
Looks good in 2.1.0 (fa6cd3b). The links for tA are working fine in both tW and tN within help pane  and in translationHelps window.

[2019-11-18 15:11] elsylambert commented on #6559
"Fails to download source content update"
2.1.0 (fa6cd3b)- Verified on Windows.
[Mon Nov 18 2019.zip](https://github.com/unfoldingWord/translationCore/files/3859274/Mon.Nov.18.2019.zip)

[2019-11-18 15:52] PhotoNomad0 commented on #6559
@cckozie @birchamp @elsylambert - I found two bad links in latest en tn in the catalog:

10:42:28 GMT-0500 (Eastern Standard Time) ERROR: v2.1.0 (92d743b): convertLinkToMarkdownLink() - invalid link: **[[rc://en/ta/translate/writing-newevent]]**, resourcesPath: /Users/blm/translationCore/resources, langId: en,{}
10:42:34 GMT-0500 (Eastern Standard Time) ERROR: v2.1.0 (92d743b): cleanOccurrenceNote

[2019-11-18 17:31] cckozie opened #6562 "tC does not properly handle usfm qm1 markers"
This was a problem in the 2.0 release and is still a problem in 2.1.0 (eb708bf)
The text get truncated when the \qm1 marker is encountered.
![image](https://user-images.githubusercontent.com/8171759/69075627-66884480-09f7-11ea-9974-de3fd3a3d3a9.png)

This verse (II Chron 1:8) is from a usfm3 test project made up of a variety of verses from different books taken as samples from the usfm3 docs.
[usf

[2019-11-18 17:59] cckozie opened #6563 "The text within usfm verse spans is not visible in tC"
2.1.0 (eb708bf)
I think it would be better to allow the user to see the text in verse spans when editing (probably the first) verse of the span.

See the verse span for chapter 3:6-9 in this project
[usfm body testC.usfm.zip](https://github.com/unfoldingWord/translationCore/files/3859988/usfm.body.testC.usfm.zip)

[2019-11-18 18:20] PhotoNomad0 commented on #6559
**Notes:**
- have PR for content problems: https://git.door43.org/unfoldingWord/en_tn/pulls/1307
- making changes to tC to do better logging of link parsing errors.

[2019-11-18 19:33] cckozie commented on #6534
@PhotoNomad0 Looks good in the test build

[2019-11-18 21:35] cckozie opened #6564 "tC should not display the text between \k and \k* markers"
2.1.0 (eb708bf) May want to combine with #6565
![image](https://user-images.githubusercontent.com/8171759/69095938-f7bbe300-0a18-11ea-83a6-9fb3221fb900.png)
[usfm body testD.usfm.zip](https://github.com/unfoldingWord/translationCore/files/3860829/usfm.body.testD.usfm.zip)

[2019-11-18 21:40] cckozie opened #6565 "tC should not display Liturgical notes/comments specified by the \lit marker"
2.1.0 (eb708bf)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/9aa49e5e-461e-44db-9ddb-d48f1b5ca1c9)

[usfm body testD.usfm.zip](https://github.com/unfoldingWord/translationCore/files/3860827/usfm.body.testD.usfm.zip)

[2019-11-18 21:53] cckozie opened #6566 "tC should ignore line feeds in the usfm when rendering text in the edit dialogs"
2.1.0 (eb708bf)
![6008.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/92e0c606-5040-41ee-8a55-5cafd83f24f2)

![image](https://user-images.githubusercontent.com/8171759/69097820-01dfe080-0a1d-11ea-89fb-39836b719193.png)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2cfafadc-d378-4605-a7ed-af12e7bc4160)

[usfm body testD.usfm.zip](https://github.com/

[2019-11-18 22:12] cckozie opened #6567 "Should tC render the Greek and Hebrew word lists delineated by the \wg and \wh markers?"
![image](https://user-images.githubusercontent.com/8171759/69098435-33a57700-0a1e-11ea-8df2-e6e6aed4d6b2.png)
[usfm body testE.usfm.zip](https://github.com/unfoldingWord/translationCore/files/3860958/usfm.body.testE.usfm.zip)

[2019-11-18 22:45] cckozie commented on #3926
Issue still exists in 2.1.0 (eb708bf)

[2019-11-18 22:57] cckozie commented on #6008
Looks good in 2.1.0 (eb708bf)

[2019-11-19 11:49] PhotoNomad0 opened #6568 "tCore sometimes gets stuck at invalid login."
## Story Explanation
### User Story

From Perry:
_  is trying to upload his alignment of Exodus, but he gets this message each time: "Your login has become invalid. Please log out and log back in." He has done that, closed and reopened tC, but no change.

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-19 12:33] PhotoNomad0 commented on #6554
In translationCore 2.1.0 (2216ef6)

[2019-11-19 12:37] PhotoNomad0 commented on #6559
@cckozie - Have logging fix in translationCore 2.1.0 (2216ef6) - it adds details to the log about the link errors that cause the import to fail.

Still need to wait for links to be fixed in Catalog, @jag3773 is scheduled to update the catalog Wednesday.

[2019-11-19 12:40] PhotoNomad0 commented on #6541
Verified in translationCore 2.1.0 (2216ef6)

[2019-11-19 12:43] PhotoNomad0 commented on #6149
Verified in translationCore 2.1.0 (2216ef6)

[2019-11-19 14:48] PhotoNomad0 commented on #6534
Verified in translationCore 2.1.0 (8b531e4)

[2019-11-19 16:03] cckozie commented on #6541
Looks good in 2.1.0 (8b531e4)

[2019-11-19 16:18] cckozie commented on #6149
Works in 2.1.0 (8b531e4)

[2019-11-19 16:27] cckozie commented on #6534
Works correctly in 2.1.0 (8b531e4)

[2019-11-19 16:38] jag3773 commented on #6567
Yes, I believe so.  I think those are related to the https://ubsicap.github.io/usfm/characters/index.html#w-w marker.  The idea is to mark certain words in your text that should appear in a glossary as well.

@RobH123 is that how you understand it?

[2019-11-19 16:55] cckozie commented on #6554
2.1.0 (8b531e4)
[projects2.zip](https://github.com/unfoldingWord/translationCore/files/3865053/projects2.zip)

Import the John project in the zip file
Import the Matthew project in the zip file giving it the same translation ID as the John project
Load the Matthew project in wA
Navigate to 8:32
On my fastest Mac it now takes about 10 seconds to show the suggestions. In 2.0 it took less than 3 seco

[2019-11-19 17:44] cckozie commented on #6559
Waiting for the catalog update

[2019-11-19 20:08] PhotoNomad0 commented on #5705
Verified now using locale in dialog to add resources to the scripture pane in translationCore 2.1.0 (6e8eecc) .  The close button looks like it has been localized in most languages, but the load button defaults to English (except for hi which has a preliminary translation)

[2019-11-19 20:34] PhotoNomad0 commented on #5705
Seeing problems with setting locale in tools:

It looks like the "dialog to add resources to the scripture pane" does not consistently remember the latest locale when moving from tool to tool. Have you seen this?

Bruce McLean: If I set the locale from English to Spanish on the projects page and then open tN, then the tool page comes up in English. Then I go to tW and see the tool page come up in

[2019-11-19 22:47] RobH123 commented on #6567
I'm not completely aware of the context here but I think you're correct. I don't find the USFM3 spec totally clear here, but certainly words surrounded by /w ... /w* are considered part of the actual Biblical text. I assume that the contents of \wg and \wh marker sets are not.

But no! https://github.com/ubsicap/usfm/blob/master/sty/usfm.sty#L2590 shows all those styles as PUBLISHABLE VERNACULAR,

[2019-11-20 11:00] PhotoNomad0 commented on #5705
@cckozie - OK, looks like the problems setting locale where pre-existing.  So the PR here fixes the stated problem on the issue - moving into QA:

**Verified in build:** now using locale in dialog to add resources to the scripture pane in **translationCore 2.1.0 (6e8eecc)** . The close button looks like it has been localized in most languages, but the load button defaults to English (except for hi

[2019-11-20 11:33] PhotoNomad0 commented on #6568
**NOTE:**
After looking into the problems reported.  I see the presenting problem here is that the user gets the error message that login in invalid when they try to upload their project.  In the code, we present that error when the user token is empty (even though the user has logged in).  The only path I see that the user token can be empty is when the user logs in we check DCS for pre-existing

[2019-11-20 11:39] PhotoNomad0 commented on #6568
@cckozie - the current release-v2.1.0 build should already address this problem.  Maybe this should go in QA watch?

[2019-11-20 13:12] PhotoNomad0 commented on #6292
@cckozie - the problem here is that these strings have not been translated to hi on crowdin (currently 67% complete).  I added some preliminary machine translations on crowdin.

[2019-11-20 16:08] cckozie commented on #6559
@PhotoNomad0 - How much work would it be to change the download failure dialog to include a reason (if we know it)? In this case, add something like " because of content problem in translationNotes". If the effort is significant I'll just add an issue to the backlog.

[2019-11-20 16:16] cckozie commented on #5705
The text on the Close button is localized in 2.1.0 (5980326).

[2019-11-20 16:18] cckozie commented on #6568
I don't have anyway to test this, so moving to QA Watch List for now,.

[2019-11-20 16:34] PhotoNomad0 commented on #6554
Should be in https://tc-builds.door43.org/build/release-v2.1.0/translationCore-macos-x64-2.1.0-5980326.dmg

[2019-11-20 16:53] cckozie opened #6572 "Revert WordMAP code back to what it was in the 2.0 release"
The fixes made to prevent suggestions from being out of order has degraded the performance significantly. In the interest of getting the 2.1 release out on schedule, we should revert those changes.
See #6554

[2019-11-20 17:13] cckozie commented on #6572
Looks good in 2.1.0 (5980326)

[2019-11-20 17:15] cckozie commented on #6554
Added #6572 to revert wordMAP back to the 2.0 code for the 2.1 release.

[2019-11-21 18:32] PhotoNomad0 commented on #6560
@cckozie - have a  build with minimal bundled resources:

From the `release-vx2.1.0-test.2` branch:
[Linux build 2.1.0 (3775a82)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-linux-x64-2.1.0-3775a82.deb) is ready for download.
[macOS build 2.1.0 (3775a82)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-macos-x64-2.1.0-3775a82.dmg) is ready fo

[2019-11-21 18:57] cckozie opened #6574 "Make the alert indicating resource download failures more informational"
When we  can determine why a resource download failed we should include that information in a user friendly way in the alert text.

[2019-11-21 19:22] PhotoNomad0 commented on #6560
@cckozie - And the maximal build here:

From the `release-vx2.1.0-test.3` branch:
[Linux build 2.1.0 (49a287a)](https://tc-builds.door43.org/build/release-vx2.1.0-test.3/translationCore-linux-x64-2.1.0-49a287a.deb) is ready for download.
[macOS build 2.1.0 (49a287a)](https://tc-builds.door43.org/build/release-vx2.1.0-test.3/translationCore-macos-x64-2.1.0-49a287a.dmg) is ready for download.
[Windo

[2019-11-21 19:37] PhotoNomad0 commented on #6559
@cckozie - best to add an issue.  Could be a bit involved to propagate the error from source updater module up to tCore and present it as a much simpler summary in tCore.

[2019-11-21 19:53] cckozie commented on #6559
Added #6574 to address the lack of clarity in the failure notification.

[2019-11-21 22:08] elsylambert opened #6575 "Incomplete suggestions for wordmap when Translation Identifier are in different cases"
While testing for #6534, noticed that when importing a project with a different case of Translation Identifier, some of the suggestions do not show up.
Projects-
[hi_reg_luk_book.zip](https://github.com/unfoldingWord/translationCore/files/3876988/hi_reg_luk_book.zip) TI as- REG - not all suggestions show up
[hi_reg_eph_book.zip](https://github.com/unfoldingWord/translationCore/files/3876989/hi_reg

[2019-11-22 12:43] PhotoNomad0 commented on #6560
@cckozie - Zulip is down for me, but this looks good.  There is no code differences here.  Just wanted the numbers (size, speed, etc.) as talking points.  But It would be good if you did some update testing on the minimal build to see if there are problems.

[2019-11-22 16:42] cckozie commented on #6575
2.1.0 (5980326)
It looks to me like the noted problem is not related to the case of the translation ID. I'm seeing the same suggestions in a Luke project with a translation ID that matches that of the aligned book, and a Luke project with a case difference in the translation ID.

Upon further investigation I noticed that there was a slight difference in the Hindi word for God from the alignment in

[2019-11-22 18:38] elsylambert commented on #6560
Tested on 64-bit windows machine with a hard disk
For the minimal build Time to open- 8:41
For the maximal build time to open- 11:32

[2019-11-22 20:39] cckozie commented on #6560
@PhotoNomad0 - I tested download of all resources and basic functionality of minimal build and did not see any issues.

[2019-11-22 20:52] PhotoNomad0 commented on #6559
Have additional error logging in translationCore 2.1.0 (e624b3b)

[2019-11-22 20:53] PhotoNomad0 commented on #6560
Verified minimum build in translationCore 2.1.0 (e624b3b)

[2019-11-22 20:55] PhotoNomad0 commented on #6025
Note: have fix now for WA, but other tools still have some failure scenarios.

[2019-11-23 13:52] PhotoNomad0 commented on #6025
@cckozie, @elsylambert - think I have this fixed now along with other misc. locale change quirks.  Here is a test build to try.

From the `release-vx2.1.0-test` branch:
[Linux build 2.1.0 (6b29bff)](https://tc-builds.door43.org/build/release-vx2.1.0-test/translationCore-linux-x64-2.1.0-6b29bff.deb) is ready for download.
[macOS build 2.1.0 (6b29bff)](https://tc-builds.door43.org/build/release-vx2.

[2019-11-25 11:58] PhotoNomad0 commented on #6025
@cckozie @elsylambert  - Have this item working in `translationCore 2.1.0 (d77535b)`

Notice that "No Selection Needed" checkbox still always stays in English, even though the help text changes language.  Looking into it.

[2019-11-25 13:49] PhotoNomad0 commented on #6025
@cckozie @elsylambert - have a PR in process to fix localization for "No Selection Needed" checkbox

[2019-11-25 17:54] PhotoNomad0 commented on #6025
@elsylambert @cckozie - verified in translationCore 2.1.0 (0a80f05)

[2019-11-25 17:59] PhotoNomad0 commented on #6292
This should be working in translationCore 2.1.0 (0a80f05).

[2019-11-25 18:08] PhotoNomad0 commented on #5898
This is working now for me in translationCore 2.1.0 (0a80f05).

[2019-11-26 11:05] PhotoNomad0 commented on #5959
@cckozie - it looks like this was fixed a long time ago.

[2019-11-26 11:14] PhotoNomad0 commented on #5943
Note:
- this would ~greatly~ slow the build process.
  - _Edit: I measure about 4 minutes on my PC to update everything vs about 1.5 minutes for moderate resource update - so I estimate between 2 to 8 minutes on concourse to a process that is currently about 20 minutes long.  Not sure what the hard limit is concourse builds._
- we could do this for each release build only
- since the catalog relea

[2019-11-26 11:19] PhotoNomad0 commented on #4769
@cckozie - it looks like this has been fixed

[2019-11-26 19:32] cckozie commented on #5898
Issues 1 and 2 appear to both be fixed in 2.1.0 (0a80f05)

[2019-11-26 20:42] cckozie commented on #6292
Not seeing any of the noted problems in 2.1.0 (0a80f05)

[2019-11-26 21:03] cckozie commented on #6559
Not seeing any failures when downloading resources in 2.1.0 (0a80f05)
Program gracefully recovers from loss of Internet connection after it is restored

[2019-11-26 21:05] cckozie commented on #6560
Looks good in 2.1.0 (0a80f05)

[2019-11-26 21:11] cckozie commented on #6025
Not seeing any of the noted problems in 2.1.0 (0a80f05)

[2019-11-26 21:23] cckozie commented on #5959
After importing the attached projects in 1.1.2 and then upgrading to 2.1.0 (0a80f05), both projects are still showing all of the asterisks in the scripture pane.
![image](https://user-images.githubusercontent.com/8171759/69673727-9ae7aa80-1060-11ea-975b-b5fcd13f6c2e.png)

[2019-11-26 21:41] cckozie commented on #4769
The referenced alerts are displayed as expected in 2.1.0 (0a80f05)

[2019-11-26 22:38] cckozie commented on #5813
Retested in 2.1.0 (0a80f05).
Edits made in wA that invalidate tN and/or tW checks do not affect the tool card % complete until the project is again loaded in that tool.
1. Import https://git.door43.org/TC_SAVE/en_ult_3jn_book (all alignments and checks are complete)
2. Load it in wA
3. Edit 1:12 to change "borne witness" to "true witness", and change "testimony is true" to "testimony is right".
4.

[2019-11-26 22:51] cckozie opened #6583 "It appears that some invalidations caused by editing occur because of the intended selections rather than the user's selections"
2.1.0 (0a80f05).
Edits made in wA that invalidate tW checks sometimes show incorrect invalidations when  a single verse contains multiple checks and the user's selections do not match the suggested selections.
1. Import https://git.door43.org/TC_SAVE/en_ult_3jn_book (all alignments and checks are complete)
2. Load it in tW and note the three existing checks and selections for 1:12 under testimony.

[2019-11-26 22:56] PhotoNomad0 commented on #5959
Will double check. But I think those USFM Projects were broken.

Sent from my iPhone

[2019-11-27 12:50] PhotoNomad0 commented on #5959
@cckozie - OK now I remember the problem, the projects are correct in the valid USFM3 syntax (our original syntax was not valid USFM3).  The problem is that 1.1.2 is not forward compatible with the corrected USFM3 syntax that we use for alignments.  There is not a way to fix 1.1.2.  The only way to handle the path you suggest is to do a migration.  But there is not an easy way to do this detection

[2019-11-27 13:11] PhotoNomad0 opened #6585 "Update Change Log for 2.1.0 once testing has completed and issues closed"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-11-27 16:44] cckozie opened #6586 "Door43 import fails with Cannot read property 'occurrence' of undefined error in console"
2.1.0 (0a80f05)
This is not a problem in 2.0.
https://git.door43.org/lrsallee/en_ult_rut_book
The import fails to get to the tools page.
An alert is issued but is automatically dismissed.
The project does show on the projects page
When selected, the Loading project data alert is displayed momentarily, but app remains on the project page.

The project imports fine in 2.0, but after upgrading to 2.1

[2019-11-28 14:25] PhotoNomad0 commented on #6586
@cckozie - interesting problem here.  It's looking like some of the checks had group IDs changed.  May be a nasty one to resolve:

[code]

[2019-11-29 16:27] PhotoNomad0 commented on #6586
Note:
Selections not found:
[code]

[2019-11-29 16:35] cckozie opened #6587 "Upgrading to 2.1 causes logins to become invalid"
2.1.0 (0a80f05)
1. Delete the translationCore folders
2. Install 1.14 or 2.0
3. Start tC
4. Login to a Door43 account that had been used in 2.1
5. Import a project
6. Upgrade to 2.1
7. Attempt to upload the project to Door43
8. Note the "Your login has become invalid..." alert
This should either be fixed for the 2.1 release or the problem and workaround noted/highlighted in the release notes

[2019-11-29 19:24] PhotoNomad0 commented on #6586
Note:
It looks like the 1:12 that the versification changed to move check to 1:13.

[2019-12-01 01:22] cckozie opened #6589 "Cannot return to Tools page after uploading an only project"
2.1.0 (0a80f05)
This has been broken after 2.0
The tool icon in stepper is disabled after uploading a project to Door43. (The tool name by the icon is also erased)
1. Delete all projects in the project folder
2. Import a USFM project
3. Return to the projects page
4. Click on the Tool icon in the stepper
5. Note that the user is taken to the Tools page
6. Return to the Projects page
7. Upload the

[2019-12-01 05:42] cckozie opened #6590 "tC finds and imports Door43 projects with partial matches of URL"
There is not a project at https://git.door43.org/Danjuma_Alfred_H/sw_tit_text_ulb, but there are couple similar ones:
![image](https://user-images.githubusercontent.com/8171759/69910027-1da69780-13ca-11ea-92fc-0edacc5b9fa0.png)

When that URL is entered into the Door43 import search page, tC imports the project at https://git.door43.org/Danjuma_Alfred_H/sw_tit_text_ulb_L3

[2019-12-01 06:28] cckozie opened #6591 "Cannot import from Door43 if logged in as a guest and there are no repos for the guest's username"
2.1.0 (0a80f05)
1. Stop and restart tC
2. Log in as a guest with user name of "me"
3. Click on the FAB
4. Click on Import from Door43
5. Click the Access Internet button
6. Notice bad things as in the video [guest login.mp4.zip](https://github.com/unfoldingWord/translationCore/files/3907883/guest.login.mp4.zip)
If there are repos on Door43 for a user name the same as the guest's name, the problem

[2019-12-02 15:42] elsylambert commented on #6575
Looks good in 2.1.0 (6cf4a04). The words for God in Hindi has slight difference in the text which made the suggestions not to appear for one of them.

[2019-12-02 15:42] #6575 closed, assigned to nobody

[2019-12-02 17:15] cckozie commented on #6586
2.1.0 (ecdb97d)
Looks good both importing directly into 2.1 and importing into 2.0 and then upgrading.

[2019-12-02 19:38] cckozie commented on #6591
Looks good in 2.1.0 (ecdb97d)

[2019-12-03 13:31] PhotoNomad0 commented on #6589
@cckozie - strange situation - it seems that the projects page is caching the selection state and not updating when it has changed...gives me an idea.

[2019-12-03 14:57] cckozie commented on #6589
@PhotoNomad0 - In 2.0, the last used tool for the project did not get reset and the Tools icon remained enabled after an upload to Door43 was performed.

[2019-12-03 15:37] elsylambert commented on #6591
Verified in 2.1.0 (6cf4a04) . Not seeing any issue with the guest login.

[2019-12-03 15:44] elsylambert commented on #6586
Looks good in 2.1.0 (d0a11e7). The project import is fine.

[2019-12-03 15:52] elsylambert commented on #6560
Looks good in 2.1.0 (d0a11e7).

[2019-12-03 16:03] elsylambert commented on #6025
Verified in 2.1.0 (d0a11e7). Changing locale affects all string including the "No selection needed".

[2019-12-03 16:07] elsylambert commented on #5898
Looks good in 2.1.0 (d0a11e7)

[2019-12-03 16:10] elsylambert commented on #4769
The alert is displayed in wA for invalidation in 2.1.0 (d0a11e7).

[2019-12-03 16:19] elsylambert commented on #6292
Looks good in 2.1.0 (d0a11e7).

[2019-12-03 16:53] elsylambert commented on #6559
Looks good in  2.1.0 (d0a11e7).

[2019-12-03 17:01] cckozie commented on #6589
In 2.1.0 (d0a11e7) I'm seeing the project's Select button being enabled now after an upload to Door43. That is different behavior than we saw in 2.0, but I think it is acceptable as it does fix the noted problem.

[2019-12-04 11:42] PhotoNomad0 commented on #6587
@cckozie - could not reproduce this starting with 2.0.0 and upgrading to 2.1.0.

[2019-12-04 11:55] PhotoNomad0 commented on #6587
@cckozie - could not reproduce this starting with 1.1.4 and upgrading to 2.1.0.  Perhaps a video will help since there seems to be something we are doing differently?

[2019-12-04 13:08] PhotoNomad0 commented on #6589
@cckozie - I could try to get back the 2.0 behavior - the current solution was the safest with minimal code changes.

[2019-12-04 15:28] cckozie commented on #6587
@PhotoNomad0 Here's a video: [loginn.mov.zip](https://github.com/unfoldingWord/translationCore/files/3922603/loginn.mov.zip)

[2019-12-04 15:43] elsylambert commented on #6589
Verified in 2.1.0 (d0a11e7). After upload to Door43, the select button for the project is enabled, tools  is not. Tools gets enabled only after when I select a Gateway language selection.

[2019-12-04 16:10] elsylambert commented on #4414
Verified in  2.1.0 (d0a11e7) for regression testing. Looks good.

[2019-12-04 16:37] elsylambert commented on #6487
Looks good in  2.1.0 (d0a11e7).

[2019-12-04 17:54] cckozie opened #6594 "The "Unaligned words" filter on the menu in wA does not work correctly"
2.1.0 (d0a11e7)
https://git.door43.org/TC_SAVE/en_ult_3jn_book
1. Load the project in wA
2. Unalign the first word "The" in verse 1:1
3. Open the menu filter and choose Unaligned words
Note that no verses are shown in the filtered data
4. Open the expanded scripture pane
5. Delete the word "beloved" in verse 1:1
6. Note that 1:1 now does appear in the menu with the Unaligned words filter
**[The pr

[2019-12-04 20:44] cckozie commented on #6587
There were two tokens for tC for the user. I deleted them both.
I logged in to 2.0 as that user. Project uploaded without problems.
I upgraded to 2.1. Project uploaded without problems.
I logged out and back in as the same user. Project uploaded without problems.
I deleted the tC folders and restarted tC 2.0.
I logged in as the same user, imported a project, and got the login invalidated error whe

[2019-12-05 15:33] elsylambert opened #6595 "Field reported - Error message "Cannot read property 'quote' of undefined" while opening an aligned OT project"
Reported by Joel Ruark (v2.0): I just finished reviewing and editing the ULT for Jonah, but I hadn't uploaded to Door43 yet. I went to the UST for a minute, then was trying to come back and reload the ULT for Jonah, and I got this error message.
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/96779adf-3de3-4d9e-ad00-83684f1a12b3)
Here are the project files:
[en_ult_jon_b

[2019-12-05 15:52] cckozie opened #6596 "wA reports invalidated alignments when a word is deleted that does not affect alignments"
2.1.0 (d0a11e7)  (The same behavior existed in 2.0)
https://git.door43.org/TC_SAVE/en_ult_3jn_book
1. Load the project from the URL in wA
2. Open the expanded scripture pane
3. Edit verse 1:1 to delete the word "to"
4. Note that the alert warns the user that alignments have been invalidated even though the verse is still fully aligned
5. Also note that the Alignment Complete switch has been set to