[2019-12-05 15:59] PhotoNomad0 commented on #6587
@cckozie - I see from video that you are doing a local import, where I was doing an online import.  Checking to see if that makes a difference.

[2019-12-05 16:31] PhotoNomad0 commented on #6587
@cckozie - OK, was able to reproduce the login invalid warning.  It looks like it requires that there is already a tCore application token on D43.  Then when you login with 2.0.0 it sees that there is already a token on D43 and uses that.  Unfortunately the new version of D43 returns all the tokens as having a sha1 (the actual D43 application token) as an empty string.  This empty string gets save

[2019-12-05 16:59] cckozie opened #6597 "tC opens with blank screen when upgrading from 2.0"
2.1.0 (d0a11e7)
Restarting tC does not fix the problem.
Deleting the projects and restarting does not fix the problem.
Deleting the resources folder and restarting did fix the problem.
It continues to work after adding the projects back into the projects folder.
![image](https://user-images.githubusercontent.com/8171759/70256370-f9421680-174d-11ea-8438-3e5ef875e69f.png)
[logs.zip](https://github.c

[2019-12-05 17:18] cckozie commented on #6595
Could not replicate the problem in  2.1.0 (d0a11e7)
Replicated the problem in 2.0. The UST project opens fine. The ULT project throws the error.
After upgrading to 2.1 it works fine.
![image](https://user-images.githubusercontent.com/8171759/70258512-fa754280-1751-11ea-82e1-729b0501e2fe.png)

[2019-12-05 17:45] PhotoNomad0 commented on #6587
@cckozie - also we should tweak the upload error message for when the token has been deleted.  Currently just get  the generic `Unable to connect to the server. Please check your Internet connection.`  It looks like we could map the 401 status code to the login is no longer valid message.

[2019-12-05 19:57] PhotoNomad0 commented on #6595
I think this is related to updating resources with breaking changes (primarily OT changes).  In this case it seems that it was the en tN and tA relating to Jonah.  Fixed in 2.1.0 as part of working on https://github.com/unfoldingWord/translationCore/issues/6586 and https://github.com/unfoldingword/translationcore/issues/6559

[2019-12-05 20:01] PhotoNomad0 commented on #6587
@cckozie @elsylambert Have a test build that should address this:

From the `release-vx2.1.0-test.1` branch:
[Linux build 2.1.0 (6ecdeec)](https://tc-builds.door43.org/build/release-vx2.1.0-test.1/translationCore-linux-x64-2.1.0-6ecdeec.deb) is ready for download.
[macOS build 2.1.0 (6ecdeec)](https://tc-builds.door43.org/build/release-vx2.1.0-test.1/translationCore-macos-x64-2.1.0-6ecdeec.dmg) is

[2019-12-05 20:22] PhotoNomad0 commented on #6597
@cckozie See if this build fixes the problem. I've seen this error sometimes when a bible resource is empty.

From the `release-vx2.1.0-test.2` branch:
[Linux build 2.1.0 (52f1f34)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/translationCore-linux-x64-2.1.0-52f1f34.deb) is ready for download.
[macOS build 2.1.0 (52f1f34)](https://tc-builds.door43.org/build/release-vx2.1.0-test.2/tran

[2019-12-05 22:43] cckozie commented on #6587
@PhotoNomad0 - The test build correctly prompts when the user upgrades and the login is invalid. Looks good.

[2019-12-05 23:17] cckozie commented on #6597
@PhotoNomad0 I'm not seeing the failure in the test build. Looks good.

[2019-12-05 23:43] elsylambert commented on #6587
@PhotoNomad0 Verified in  2.1.0 (6ecdeec). Got the prompt for login invalid after upgrade from 2.0. Looks good.

[2019-12-06 16:00] PhotoNomad0 commented on #6587
Verified in translationCore 2.1.0 (19c6637)

[2019-12-06 16:21] elsylambert opened #6600 "Markdown shown in the tN smurf bar"
This was fine in 2.0.
Shows up markdown in 2.1: Hyperbole, Abstract Noun and few other examples.
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/159b5d80-205b-45d4-b971-33f53a4d1b85)

[2019-12-06 16:43] cckozie opened #6601 "Loading verse edits alert is sometimes displayed when selecting a GL for tN"
2.1.0 (19c6637)
I don't remember ever seeing this before and am wondering why we're showing it sometimes and why when the GL is selected.
https://git.door43.org/tc01/en_ult_tit_book
[loading verse edits.mov.zip](https://github.com/unfoldingWord/translationCore/files/3933143/loading.verse.edits.mov.zip)

[2019-12-06 17:04] cckozie commented on #6587
2.1.0 (19c6637)
Prompts for re-login immediately when starting 2.1 with invalid token
Prompts for re-login when uploading if user bypasses prompt during startup
Prompts for re-login when uploading after tokens have been deleted
Does not prompt for re-login immediately when starting 2.1 when tokens have been deleted. (I missed this test last night. I don't think it's worth messing with now)

[2019-12-06 17:57] PhotoNomad0 commented on #6595
Here are the users log files:

[Fri Dec 06 2019.log.zip](https://github.com/unfoldingWord/translationCore/files/3933372/Fri.Dec.06.2019.log.zip)
[Thu Dec 05 2019.log.zip](https://github.com/unfoldingWord/translationCore/files/3933373/Thu.Dec.05.2019.log.zip)
[Mon Dec 02 2019.log.zip](https://github.com/unfoldingWord/translationCore/files/3933374/Mon.Dec.02.2019.log.zip)

[2019-12-06 18:17] PhotoNomad0 commented on #6595
Notes: This is the first attempt to recover project using resources in tC 2.0.0: https://git.door43.org/photonomad1/en_ult_jon_book

[2019-12-06 18:31] cckozie commented on #6587
@PhotoNomad0
2.1.0 (19c6637)
Oops! Just noticed that if the user is logged in as a guest, the re-login prompt is displayed each time tC is started.

[2019-12-06 19:47] PhotoNomad0 commented on #6600
@elsylambert - Thanks, this looks like a bug introduced with the conversion to react hooks.

[2019-12-06 20:13] PhotoNomad0 commented on #6600
@elsylambert - ~looks like it is a bug when migrating from 2.0.0.  If I import a usfm titus project into 2.1.0, the quotes look fine - no markdown.~

[2019-12-06 20:53] PhotoNomad0 commented on #6600
@elsylambert - looks like a resource change, they started using markdown in occurrenceNote.  For example in the old resource file at `translationCore/resources/en/translationHelps/translationNotes/v17/figures/groups/tit/figs-hyperbole.json` we have:
[code]

But in `/Users/blm/translationCore/resources/en/translationHelps/translationNotes/v21/figures/groups/tit/figs-hyperbole.json` we have:
[code]

[2019-12-07 13:46] PhotoNomad0 commented on #6597
Verified fix in translationCore 2.1.0 (2123be4)

[2019-12-09 14:35] cckozie opened #6604 "Provide more details and suggested next steps when user receives the Download failed alert when updating resources"
The user currently does not receive any information of value besides being notified that the download (actually, some element of it) has failed to successfully complete. The user typically then just retries a number of times before giving up and contacting someone for help. Following are some suggestions for enhancing this process:
1. As best we can, describe what actually failed; e.g. did some of

[2019-12-09 14:44] cckozie opened #6605 "Cannot successfully update Hindi content (Field report)"
Field report from Russ Perry
I repeatedly am getting this error trying to download the Hindi content via content update in tC 2.0.0 on Win 10. After several failed attempts, I exited tC and removed the `hi` folder in `resources` then restarted tC and tried again. It still failed, although the `hi` folder reappeared and it appears the content successfully downloaded.
[pasted image](/user_uploads/15

[2019-12-09 14:47] cckozie commented on #6574
Replaced by #6604

[2019-12-09 14:47] #6574 closed, assigned to nobody

[2019-12-09 15:47] PhotoNomad0 commented on #6587
@cckozie - local user fix verified in translationCore 2.1.0 (7adcd44)

[2019-12-09 15:55] PhotoNomad0 commented on #6586
Made change to protect from tN crashes when trying to open a project from 2.1.0 in 2.0.0.  Now when project is opened in 2.1.0, it sets the minimum compatible tC version to 2.1.0.  Verified in  translationCore 2.1.0 (7adcd44)

[2019-12-09 16:17] PhotoNomad0 commented on #6605
**Note** - when I try to download latest hi in 2.1.0, It pulls down `https://cdn.door43.org/hi/tn/v13.7/tn.zip` and I see error `generateGroupsIndex() - error processing entry: bookid: col, groupDataFile: figs-abstractnoun.json, taArticleCategory: translate, groupName: null`

There may be more errors, but the import module will stop at the first.

It looks like hi_tn v13.7 was released on 12-5 and

[2019-12-09 16:48] PhotoNomad0 commented on #6604
Notes:
- to address item 1, we probably need to distinguish between download errors and parsing errors.
- for item 2:
  - if download error, we recommend retry
  - for resource parsing error, we recommend sending feedback.  The attached error log will tell which resource had the problem and what the parsing error was.
- for item 3:
  - bible resource parsing errors are safe to continue since old v

[2019-12-09 17:07] PhotoNomad0 commented on #6605
It looks like we are missing `/Users/blm/translationCore/resources/hi/translationHelps/translationAcademy/v10.4/translate/figs-abstractnoun.md`

[2019-12-09 17:28] elsylambert commented on #6587
Looks good in 2.1.0 (7adcd44).
-Getting prompt for re-login after upgrade from 2.0 to 2.1.
-Unless user does re-login, the prompt comes back when the user tries to upload the project to D43.
- Working fine for Guest login as well.

[2019-12-09 17:29] elsylambert commented on #6597
Not seeing this issue in 2.1.0 (7adcd44) in my windows machine while upgrading from 2.0 to 2.1

[2019-12-09 19:36] PhotoNomad0 commented on #6605
Note: that should be **figs-abstractnouns**

[2019-12-09 19:51] PhotoNomad0 commented on #6605
~Created PR to fix content bug: https://git.door43.org/STR/hi_tn/pulls/1~

[2019-12-09 20:36] cckozie commented on #6597
Looks good in 2.1.0 (7adcd44)
tC opens properly after the upgrade and all projects open in all tools

[2019-12-09 20:47] cckozie commented on #6587
2.1.0 (7adcd44)
Works as expected with both Door43 and guest logins

[2019-12-09 21:11] cckozie commented on #6586
2.1.0 (7adcd44) Works as expected.
When running 2.0, user is prevented from importing 2.1 projects.
When running 2.0, user is prevented from opening 2.1 projects that were dropped into the projects folder.

[2019-12-10 16:33] PhotoNomad0 commented on #6605
Updated PR to fix content bug: https://git.door43.org/STR/hi_tn/pulls/2

[2019-12-11 15:54] elsylambert commented on #6586
Verified in 2.1.0 (7adcd44). 2.1 Projects cannot be opened in 2.0.0. tC prompts that the project is edited in a higher version and that tC requires an upgrade.
Working as expected.

[2019-12-11 17:33] cckozie opened #6606 ""Project contains data from an old version..." alert is sometimes automatically dismissed"
2.1.0 (7adcd44)
Upzip the project into the projects folder, then select the project.
[rmr-x-bsa_tit_text_ulb.zip](https://github.com/unfoldingWord/translationCore/files/3951762/rmr-x-bsa_tit_text_ulb.zip)
[dismissed alert.mp4.zip](https://github.com/unfoldingWord/translationCore/files/3951765/dismissed.alert.mp4.zip)

[2019-12-11 19:19] cckozie commented on #5961
I am not seeing this problem in 2.1.0 (7adcd44).
Check with Larry after he upgrades.

[2019-12-11 19:37] cckozie commented on #6036
In 2.1.0 (7adcd44) there's an extra space after the (
![image](https://user-images.githubusercontent.com/8171759/70654085-437a3a80-1c1b-11ea-88fc-957fb3d1356c.png)
![image](https://user-images.githubusercontent.com/8171759/70654151-5a209180-1c1b-11ea-8d14-c65fbb1dfaa6.png)

[2019-12-11 19:38] PhotoNomad0 commented on #6600
@elsylambert @cckozie - have a test build here to see if this fixes the markdown issue:

[Linux build 2.1.0 (9582c1f)](https://tc-builds.door43.org/build/feature-mcleanb-6600/translationCore-linux-x64-2.1.0-9582c1f.deb) is ready for download.
[macOS build 2.1.0 (9582c1f)](https://tc-builds.door43.org/build/feature-mcleanb-6600/translationCore-macos-x64-2.1.0-9582c1f.dmg) is ready for download.
[Wi

[2019-12-11 19:51] cckozie commented on #1590
In 2.1 the selections are merged so the problem no longer exists.

[2019-12-11 19:51] #1590 closed, assigned to nobody

[2019-12-11 19:57] cckozie commented on #3753
No longer a problem in 2.1.0 (7adcd44)

[2019-12-11 19:57] #3753 closed, assigned to nobody

[2019-12-11 20:30] elsylambert commented on #6600
@PhotoNomad0 2.1.0 (9582c1f). It shows html tags:
![image](https://user-images.githubusercontent.com/51806180/70657936-dff80900-1c2a-11ea-9eed-f4075f16a45a.png)
![image](https://user-images.githubusercontent.com/51806180/70657969-f9995080-1c2a-11ea-8a25-b8b9ec4dbe12.png)

[2019-12-11 20:43] PhotoNomad0 commented on #6600
@elsylambert - Sorry, my goof. Didn't have everything in the build.  I started checking and got distracted.  Starting a rebuild now.

[2019-12-11 21:20] PhotoNomad0 commented on #6600
@elsylambert - Second attempt here:

[Linux build 2.1.0 (e7d4a0e)](https://tc-builds.door43.org/build/feature-mcleanb-6600/translationCore-linux-x64-2.1.0-e7d4a0e.deb) is ready for download.
[macOS build 2.1.0 (e7d4a0e)](https://tc-builds.door43.org/build/feature-mcleanb-6600/translationCore-macos-x64-2.1.0-e7d4a0e.dmg) is ready for download.
[Windows x64 build 2.1.0 (e7d4a0e)](https://tc-builds.d

[2019-12-11 21:40] elsylambert commented on #6600
@PhotoNomad0 It has been fixed in all the places where it showed Markdown except I see it in one place in a Titus project:
![image](https://user-images.githubusercontent.com/51806180/70662736-dbd0e900-1c34-11ea-8b37-6888652a2574.png)

[2019-12-11 23:17] PhotoNomad0 commented on #6600
@elsylambert - thanks, that looks like a content mistake - has quote at beginning and ends with ***.

[2019-12-12 00:27] PhotoNomad0 commented on #6600
created a PR for content errors: https://git.door43.org/unfoldingWord/en_tn/pulls/1324

[2019-12-12 14:57] elsylambert commented on #6438
Regression for 2.1.0. Working fine.

[2019-12-12 15:06] elsylambert commented on #6424
Works fine in  2.1.0 (7adcd44). Broken link is displayed in tN and checkmark removed when a check is invalidated after an edit in another tool.

[2019-12-12 16:27] elsylambert commented on #6513
Verified in 2.1.0 (7adcd44). Alert is displayed for content problems.

[2019-12-12 16:48] elsylambert commented on #6526
Working fine in 2.1.0 (7adcd44)

[2019-12-12 16:48] elsylambert commented on #6491
Verified in 2.1.0 (7adcd44). Selections are working as expected.

[2019-12-12 23:15] PhotoNomad0 commented on #5520
Verified in Develop build translationCore 2.1.0 (3d944e3) _**this is not in release v2.1.0 **_
Develop builds here: http://tc-builds.door43.org.s3-website-us-west-2.amazonaws.com/build/develop/

[2019-12-12 23:17] PhotoNomad0 commented on #6600
Verified in Develop build translationCore 2.1.0 (3d944e3) _**this is not in release v2.1.0 **_
Develop builds here: http://tc-builds.door43.org.s3-website-us-west-2.amazonaws.com/build/develop/

[2019-12-12 23:23] PhotoNomad0 commented on #6605
@elsylambert - hi_tn has been fixed in catalog - new version v13.8 downloads and installs in 2.1.0.

[2019-12-13 12:53] PhotoNomad0 commented on #5440
Question: do we want to put a sanity limit on the size of the unaligned word box and constrain the word to the box with ellipsis?

[2019-12-13 15:37] #5527 closed, assigned to PhotoNomad0

[2019-12-13 15:51] elsylambert commented on #6605
New hi resources are available to download and was able to download the resources successfully in  2.1.0 (7adcd44).

[2019-12-13 15:51] #6605 closed, assigned to PhotoNomad0

[2019-12-13 16:37] PhotoNomad0 commented on #5440
Note: discovered that wordbank width is hard coded to 160 pixels - this makes size of word cards within a fixed width.

[2019-12-13 20:23] PhotoNomad0 commented on #5440
@elsylambert @cckozie - have Test build for review and feedback with these changes to WA:
- changed wordbank width to be variable from 100 to 400px (previously was fixed at 160px).
- changed word cards so text will show ellipsis instead of overflowing card

[Linux build 2.1.0 (a95d810)](https://tc-builds.door43.org/build/feature-mcleanb-5440/translationCore-linux-x64-2.1.0-a95d810.deb) is ready fo

[2019-12-16 14:27] PhotoNomad0 opened #6612 "To help with data recovery, make sure git save is run before any changes to data (project or resource)"
## Story Explanation
### User Story

We have risk of project data corruption due to changes in resource data, and other unforeseen events.  To be better able to protect user against data loss and make it more possible to recover data, we should run git save before any operation that can change data.  Need to add git save to following operations:
- when user goes back to selection tool page from to

[2019-12-16 15:29] mannycolon opened #6613 "Move resources copying feature into server process"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2019-12-16 17:15] elsylambert commented on #6149
Works in  2.1.0 (7adcd44).

[2019-12-16 18:01] PhotoNomad0 commented on #6294
@mannycolon - looks like we need to update npm to at least v6.13.4 to fix a security bug: https://www.zdnet.com/article/npm-team-warns-of-new-binary-planting-bug/?ftag=TREc64629f&bhid=20703265992580265961698294056831

[2019-12-16 18:09] PhotoNomad0 commented on #6462
@cckozie @elsylambert  @birchamp -  If I remember correctly this is an old test project and this is not an issue that we would see in the field.

[2019-12-16 19:52] PhotoNomad0 commented on #5943
Note:

Steps to be done:
- currently get an error when maj-rp and tisch Greek bibles are updated (don't get the error when we build all).  This needs to be fixed first.
- need to update the source content updater script to return error/success flag to support use in build scripts.
- update concourse build scripts to call the resource updater script - add option to disable this through change to tC

[2019-12-16 21:02] mannycolon commented on #6294
Lets go ahead and do that @PhotoNomad0

[2019-12-16 21:46] PhotoNomad0 commented on #5440
Verified in develop build translationCore 2.1.0 (ed1c32c)

[2019-12-16 21:48] PhotoNomad0 commented on #5640
Verified in develop build translationCore 2.1.0 (ed1c32c)

[2019-12-17 12:35] PhotoNomad0 commented on #6604
Note: depends on changes to source content updater to better track error status - will be done in https://github.com/unfoldingword/translationcore/issues/5943

[2019-12-19 19:45] cckozie opened #6616 "Double check marks are displayed on tN and tW checks when No Selection Needed is checked"
2.1.0 (7adcd44)
Check the No selection needed checkbox on any check in tN or tW
![image](https://user-images.githubusercontent.com/8171759/71204427-b875f180-2265-11ea-903c-1f11b8c95099.png)

[2019-12-19 20:29] #6586 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6587 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6589 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6597 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6559 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #5898 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6423 closed, assigned to RoyalSix

[2019-12-19 20:29] #6424 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6438 closed, assigned to RoyalSix

[2019-12-19 20:29] #6282 closed, assigned to RoyalSix

[2019-12-19 20:29] #6472 closed, assigned to RoyalSix

[2019-12-19 20:29] #4414 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6487 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6251 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6220 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6491 closed, assigned to PhotoNomad0

[2019-12-19 20:29] #6516 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6513 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6527 closed, assigned to nobody

[2019-12-19 20:30] #6526 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6420 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6436 closed, assigned to nobody

[2019-12-19 20:30] #6430 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6508 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6434 closed, assigned to nobody

[2019-12-19 20:30] #6008 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6541 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6149 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6534 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #5705 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6572 closed, assigned to nobody

[2019-12-19 20:30] #6591 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6560 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #6025 closed, assigned to PhotoNomad0

[2019-12-19 20:30] #4769 closed, assigned to nobody

[2019-12-19 23:01] cckozie commented on #6539
Fixed as best we can in #6587

[2019-12-19 23:02] #6539 closed, assigned to nobody

[2019-12-20 13:08] PhotoNomad0 commented on #5943
@cckozie @elsylambert - Here is a test build where the bundled resources where updated solely by script.  I have not done any manual removal of bibles we don't normally include in a release.  There probably should be an issue for how we determine what to include or exclude.  Are there any tests you can run to see how well tCore does with updating resources on projects?  It is a complicated issue t

[2019-12-24 18:13] PhotoNomad0 commented on #5414
Note:
- on dragging suggestion to wordbank, get WA::UNALIGN_RENDERED_TARGET_TOKEN.  Calls down to renderedAlignment?

[2019-12-25 13:28] PhotoNomad0 commented on #5866
@cckozie - do you have an example of a Bible that I could test this with?  Maybe a bible book that has verse counts that are different between ugnt and en_ult?  Or maybe a project that has verses not in en_ult or ugnt?

[2019-12-26 14:54] cckozie commented on #5866
@PhotoNomad0 - Unfortunately I don't have any examples but suspect Larry would know of some.

[2019-12-26 15:19] cckozie commented on #5943
@PhotoNomad0 Rudimentary tests work when doing a clean install.
When opened after an upgrade from 2.1 I get a blank screen.
[Thu Dec 26 2019.log.zip](https://github.com/unfoldingWord/translationCore/files/4002851/Thu.Dec.26.2019.log.zip)

![image](https://user-images.githubusercontent.com/8171759/71480491-f7a0c700-27be-11ea-9ea1-c066cb230639.png)

[2019-12-26 15:29] cckozie commented on #6490
@PhotoNomad0 Do you recall why this was moved from QA Done to Watch List?

[2019-12-26 15:30] cckozie commented on #6292
@PhotoNomad0 Do you recall why this was moved from QA Done to Watch List?

[2019-12-26 15:31] #6443 closed, assigned to mannycolon

[2019-12-26 15:31] #6444 closed, assigned to richmahn

[2019-12-26 15:31] #6445 closed, assigned to richmahn

[2019-12-26 15:31] #6446 closed, assigned to mannycolon

[2019-12-26 15:31] #6447 closed, assigned to mannycolon

[2019-12-26 15:31] #6448 closed, assigned to mannycolon

[2019-12-26 15:46] cckozie commented on #5520
Works in 2.1.0 (ed1c32c)

[2019-12-26 16:10] cckozie opened #6621 "Improper handling of links in tN smurf bar"
2.1.0 (ed1c32c)
Issue A: Most of the links are not displayed at all

Issue B: Some just show the raw "text"
![image](https://user-images.githubusercontent.com/8171759/71482777-02ad2480-27ca-11ea-8359-e15e4ac3b69e.png)

Issue C: This is different format of raw "text"
This check does not exist in 2.1 so I could not verify whether it is a new bug or not.
![image.png](https://images.zenhubusercontent.

[2019-12-26 16:22] cckozie commented on #6600
2.1.0 (ed1c32c)
Most problems displaying markdown have been fixed, but this one remains. (Maybe cuz the closing tag is at the end?)

![image](https://user-images.githubusercontent.com/8171759/71482514-8b2ac580-27c8-11ea-9209-7d31c5f05e51.png)

From the catalog
![image](https://user-images.githubusercontent.com/8171759/71482535-aeee0b80-27c8-11ea-877c-1ae52524a269.png)

[2019-12-26 16:42] cckozie commented on #5440
2.1.0 (ed1c32c)
@PhotoNomad0 Is 400 pixels the correct limit?
Do we want to supply a hover over to show the entire word? OR
Should we provide the scroll bar if there is overflow?
![image](https://user-images.githubusercontent.com/8171759/71483210-5caee980-27cc-11ea-97b3-d7e9f9451f00.png)

It is acceptable as is for now. Moved these questions to #6627

[2019-12-26 16:50] cckozie commented on #5640
Not seeing the problem in 2.1.0 (ed1c32c)

[2019-12-27 13:57] #6585 closed, assigned to PhotoNomad0

[2019-12-27 14:44] PhotoNomad0 commented on #5943
@cckozie - thanks, oops, good catch.

[2019-12-27 15:45] PhotoNomad0 commented on #5943
@cckozie @elsylambert - have a fixed test build:

[Linux build 2.1.0 (c6f260b)](https://tc-builds.door43.org/build/feature-mcleanb-5943/translationCore-linux-x64-2.1.0-c6f260b.deb) is ready for download.
[macOS build 2.1.0 (c6f260b)](https://tc-builds.door43.org/build/feature-mcleanb-5943/translationCore-macos-x64-2.1.0-c6f260b.dmg) is ready for download.
[Windows x64 build 2.1.0 (c6f260b)](https:

[2019-12-27 16:42] elsylambert commented on #5520
Looks good in 2.1.0 (ed1c32c)

[2019-12-27 16:49] elsylambert commented on #5640
Looks good in 2.1.0 (ed1c32c)

[2019-12-27 17:17] elsylambert commented on #5943
@PhotoNomad0  Upgrade to 2.1.0 (c6f260b)  is giving a blank white screen at first. Closed tC and restarted , got this error before it opened tC.
![image](https://user-images.githubusercontent.com/51806180/71526046-cdc0d080-28a2-11ea-8bca-ecfc6e0b422e.png)

[2019-12-27 19:07] PhotoNomad0 commented on #5943
@elsylambert - sorry, I tested on windows, but did not see this error.

[2019-12-27 22:15] cckozie commented on #5943
@PhotoNomad0
2.1.0 (c6f260b)
I did not see any problems when upgrading from 2.1.0 (7adcd44) or 2.1.0 (ed1c32c) (on Mac)
After doing a clean install, I see this problem when adding resources to the scripture pane. Sometimes I see it and sometimes it works correctly. Can't seem to find the pattern.
![image](https://user-images.githubusercontent.com/8171759/71534376-091fc700-28c4-11ea-882a-697bf7c2c8

[2019-12-27 22:32] cckozie commented on #6568
I believe this was fixed in 2.1.

[2019-12-27 22:32] #6568 closed, assigned to PhotoNomad0

[2019-12-28 11:14] PhotoNomad0 commented on #6600
@cckozie - this is strange, we had fixed the content for that check and Elsy verified.  But when I check on my projects, I have one that is right:

![Screen Shot 2019-12-28 at 5 54 19 AM](https://user-images.githubusercontent.com/14238574/71542664-1aee8200-2937-11ea-87f1-6ab27de966c7.png)

and two that don't even have the check:

![Screen Shot 2019-12-28 at 5 55 32 AM](https://user-images.githubus

[2019-12-28 11:47] PhotoNomad0 commented on #6600
@cckozie - OK found a logic error that projects don't always copy the latest tn checks into project.  Not related to what you saw, but a serious bug.

[2019-12-30 12:04] PhotoNomad0 commented on #6600
@cckozie @elsylambert - to recreate the problem I see, update to the latest en and hi resources. then open this project: [en_alcz_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4009665/en_alcz_tit_book.zip).
This project only has titus 3:14 under `Double Negatives`, but latest resources have 4 verse.  On the tN card, deselect everything but `Figures of Speech/Double Negatives

[2019-12-30 15:04] cckozie opened #6625 "translationCore quit unexpectedly error"
2.1.0 (ed1c32c)
I've seen this error occasionally over the past few releases. This time I captured the log.
[Mon Dec 30 2019.log.zip](https://github.com/unfoldingWord/translationCore/files/4010094/Mon.Dec.30.2019.log.zip)

[2019-12-30 16:35] elsylambert commented on #6600
@PhotoNomad0 with the given project and the latest resources, I saw only one verse for Double negatives tit3:14, where as there are three other verses in tN.
This is written up  as a separate issue #6626

[2019-12-30 16:50] elsylambert opened #6626 "Projects are missing the latest tN checks in the project."
#6600
 To recreate the problem, update to the latest en and hi resources. then open this project:
[en_alcz_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4010404/en_alcz_tit_book.zip)

This project only has titus 3:14 under Double Negatives, but latest resources have 4 verse. On the tN card, deselect everything but Figures of Speech/Double Negatives. When you launch with en G

[2019-12-30 17:03] elsylambert commented on #6600
@PhotoNomad0 In my comment I had mentioned the same Category "Double negatives" showing markdown in the end as pointed out by @cckozie .
2.1.0 (c6f260b)  I do not see Markdown anymore

[2019-12-30 18:28] PhotoNomad0 commented on #6490
@cckozie - no, I do not remember now.  I Put it back.

[2019-12-30 18:43] PhotoNomad0 commented on #5866
**Note:** putting this on hold till we determine if this is needed at this time or should be reduced in scope to only dealing with extra verses in target language.

[2019-12-30 20:39] PhotoNomad0 commented on #6600
Should not see error with latest en resources.  Working on PR for issue @elsylambert created.

[2019-12-30 20:48] PhotoNomad0 commented on #5406
@benjore @cckozie - trying to find the UI mockup for this, but without luck.

[2019-12-30 21:36] cckozie commented on #4538
UI Mockups - Title Bar:
<img width="779" alt="Title bar" src="https://user-images.githubusercontent.com/8171759/71601671-1df59800-2b1a-11ea-9a53-e2337dfda4dd.png">

[2019-12-30 21:36] PhotoNomad0 commented on #5414
@neutrinog - I think you are more easily able to trace down the cause of this...

[2019-12-30 21:37] cckozie commented on #4538
UI Mockups - Edit
<img width="782" alt="Edit 1" src="https://user-images.githubusercontent.com/8171759/71601693-32d22b80-2b1a-11ea-9e76-3fda6cd4cc2e.png">

<img width="785" alt="Edit 2" src="https://user-images.githubusercontent.com/8171759/71601704-3e255700-2b1a-11ea-8457-06bbd002d9b2.png">

<img width="784" alt="Edit 3" src="https://user-images.githubusercontent.com/8171759/71601716-4c737300-2b1

[2019-12-30 21:39] cckozie commented on #4538
UI Mockups - Comments
<img width="779" alt="Comment 1" src="https://user-images.githubusercontent.com/8171759/71601754-6f9e2280-2b1a-11ea-94d2-4983bb0930a9.png">

<img width="785" alt="Comment 2" src="https://user-images.githubusercontent.com/8171759/71601756-788ef400-2b1a-11ea-83e5-b8e35cfad9df.png">

<img width="770" alt="Comment 3" src="https://user-images.githubusercontent.com/8171759/71601761

[2019-12-30 21:39] cckozie commented on #4538
UI Mockups - Bookmark
<img width="775" alt="Bookmark" src="https://user-images.githubusercontent.com/8171759/71601782-9e1bfd80-2b1a-11ea-9fe5-b9bb1f95d875.png">

[2019-12-30 21:59] cckozie commented on #6124
Still seeing problems in 2.1.0 (ed1c32c)
\c 4
\p
\v 1 \zaln-s | x-strong="c:H7489a" x-lemma="רָעַע" x-morph="He,C:Vqw3ms" x-occurrence="1" x-occurrences="1" x-content="וַ⁠יֵּ֥רַע"\*\w But|x-occurrence="1" x-occurrences="1"\w*
\w this|x-occurrence="1" x-occurrences="1"\w*
\w displeased|x-occurrence="1" x-occurrences="1"\w*\zaln-e\*
\zaln-s | x-strong="H0413" x-lemma="אֵל" x-morph="He,R" x-occurrenc

[2019-12-30 22:15] cckozie opened #6627 "Improve the handling of long words in word bank"
2.1.0 (ed1c32c)
The maximum card size is now set to 400 pixels. Is that the correct limit?
When we truncate the word because it's too long, do we want to supply a hover over to show the entire word? OR
Should we provide the scroll bar if there is overflow?
![image](https://user-images.githubusercontent.com/8171759/71483210-5caee980-27cc-11ea-97b3-d7e9f9451f00.png)

[2019-12-30 23:22] cckozie commented on #6600
2.1.0 (ed1c32c)
After downloading the latest en resources, I'm no longer seeing the problem in 2:15 under double negatives, but I am now seeing these two issues both of which appear to be content problems.
![image](https://user-images.githubusercontent.com/8171759/71604484-f0afe680-2b27-11ea-8c46-d5cfa09145e8.png)
![image](https://user-images.githubusercontent.com/8171759/71604924-df1c0e00-2b2a-11

[2019-12-31 03:47] cckozie opened #6628 "Performance degradation in starting tC"
2.1.0 (ed1c32c) takes about 30% longer to start tC than it did in 2.0. (~30 seconds vs. ~20 seconds)

[2019-12-31 11:12] PhotoNomad0 commented on #6626
Verified in translationCore 2.1.0 (46a3795)

[2019-12-31 11:21] PhotoNomad0 commented on #5943
Verified in translationCore 2.1.0 (46a3795).  Builds now contain all the latest en, Greek, hbo and hi bibles.

Haven't been able to reproduce the problem above.

[2019-12-31 16:06] jag3773 commented on #5866
Long term we need a general way to handle different versification systems.  Moving from the ULT to the UHB and UGNT is a step in the right direction, but it does not achieve the bigger picture by itself.  Currently all of our resources are using the exact same versification system, this was the simplest way to ensure there weren't discrepancies, so the ULT matches what our UHB and UGNT have.

Pres

[2019-12-31 16:20] cckozie commented on #6626
Looks good in 2.1.0 (46a3795)
Able to switch back and forth between en and hi as GL. The correct checks are displayed in each case.

[2019-12-31 16:22] elsylambert commented on #6626
Works fine in 2.1.0 (46a3795). Switching between GLs does not effect the tN checks. Checks are displaying fine.

[2019-12-31 16:41] cckozie commented on #5943
Looks good in 2.1.0 (46a3795). I am no longer seeing the problem on the Load resource button.

[2019-12-31 16:54] jag3773 commented on #2280
Is this still relevant @mannycolon or @PhotoNomad0 ?  If not, please close it.

[2019-12-31 16:58] jag3773 opened #6629 "Lexical and Morph For other Greek Texts"
Other Greek texts use different lexical and/or morphological tagging systems than our UGNT text does.  Currently we have two other Greek NTs in our catalog that are using a different parsing scheme:

* https://git.door43.org/Door43-Catalog/el-x-koine_tisch
* https://git.door43.org/Door43-Catalog/el-x-koine_maj-rp

Ideally, tC could support these other schemes so the lexical pop ups in tC work for

[2019-12-31 17:10] cckozie opened #6630 "Percent complete on tW card is incorrect after import from Door43"
2.1.0 (46a3795)
https://git.door43.org/tcsave/en_ult_luk_book
tW cards shows 100% complete, but also shows 2 reset selections. Those 2 data points cannot both be true at the same time.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/7d2585c0-c7f4-43b3-ab87-2bfbbcdce6ea)

After loading the project in tW and returning to the tools page, the data is corrected. 99% complete

[2020-01-01 03:46] da1nerd commented on #5414
That was an unfortunate solution we had to implement in order to keep the file formats used at the time and avoid introducing additional data files in the project folder.

The feature desired here could be thought of as a form of negative alignment memory that's specific to the current verse, though technically this all happens outside of wordMAP so it's not actually alignment memory. In order for

[2020-01-01 13:32] PhotoNomad0 commented on #4538
@birchamp @cckozie - do we need a story for csv exporting the WA comments, bookmarks?

[2020-01-02 10:41] PhotoNomad0 commented on #5406
@birchamp @cckozie @elsylambert - have a test build for this issue:

[Linux build 2.1.0 (5ffddb9)](https://tc-builds.door43.org/build/feature-mcleanb-5406/translationCore-linux-x64-2.1.0-5ffddb9.deb) is ready for download.
[macOS build 2.1.0 (5ffddb9)](https://tc-builds.door43.org/build/feature-mcleanb-5406/translationCore-macos-x64-2.1.0-5ffddb9.dmg) is ready for download.
[Windows x64 build 2.1.

[2020-01-02 15:15] PhotoNomad0 commented on #6629
@jag3773 - This effort would need to include Strong's numbering differences (I think we add a 0 to the end in the ugnt, and I think one bible doesn't have 'G' before Greek Strongs numbers).  What other differences do we need to support?

Do we have documentation of the mapping for the morphology from these Bibles to the ugnt?

It seems that rather than updating tCore to handle these variations, ma

[2020-01-02 15:18] PhotoNomad0 commented on #2280
@jag3773 @mannycolon - I vote no.  Manny If you feel differently you can reopen.

[2020-01-02 15:18] #2280 closed, assigned to nobody

[2020-01-02 15:23] PhotoNomad0 commented on #6600
@cckozie - did you pass these last to items on to the content team?

[2020-01-02 15:32] PhotoNomad0 commented on #6124
@cckozie - How is problem this created in the first place?  And is this a workflow that we want to support?

How do we fix this in a way that won't cause significant effort, slow down or side effects?

[2020-01-02 15:35] PhotoNomad0 commented on #6625
Hmm - not any big clues from the log file.

[2020-01-02 15:36] cckozie commented on #6124
@PhotoNomad0 et al - I don't know the answer to any of those questions.

[2020-01-02 15:50] cckozie opened #6632 "Add checkmark to wA icon bar?"
We should consider whether or not we want to add the checkmark to the icon bar in wA to make is more consistent with the other tools.
Part of that consideration is whether we would then make it active so that it parallels the function of the Alignment Complete switch.

[2020-01-02 16:07] cckozie opened #6633 "wA word bank temporarily resizes when a word is beginning to be dragged to the alignment area"
2.1.0 (46a3795)
[6633.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4016483/6633.mp4.zip)

I should have caught this when testing #5440. The screen changes as a word is picked up for alignment and then moved out of the word bank is very distracting to the user.

[2020-01-02 16:16] cckozie commented on #5406
@PhotoNomad0 Test build looks good to me.

[2020-01-03 13:45] jag3773 commented on #6629
The Strong's numbers would be easy enough to handle with a mapping.

However, the morphology is not a simple 1:1 mapping.  Different texts have different schemes when it comes to the details, so it's more likely that we'll need to be able to interpret multiple schemes.  For these texts, I think the readme on those repos have the interpretation information.

Also, I don't really know the priority o

[2020-01-03 15:38] elsylambert opened #6634 "Reported from the Field: Word order of Aligned words do not change after the verse edit"
tC 2.1.0
From Robert Hunt: In WA tool, Completely aligned a verse. Then realised I wanted to swap the order of two (unique) words in English so I edited the verse. The two words were in the gloss of one Heb word. Back to WA, the words were still displayed in the original order. Went to another verse and back, and it still displayed in the combined gloss in the original now-wrong order. I didn't do

[2020-01-03 19:05] PhotoNomad0 commented on #4538
@birchamp @cckozie - the current Verse Edit dialog is a stepper dialog that looks like:

![Screen Shot 2020-01-03 at 2 01 29 PM](https://user-images.githubusercontent.com/14238574/71743160-d16bce80-2e31-11ea-93ae-1d86e998778f.png)

I am updating it to look like in the mock up above.  But just note that this will also change how it looks in the Enhanced Scripture Pane.

[2020-01-03 19:28] RobH123 commented on #6634
Thanks @elsylambert -- that was exactly what I observed. What's most interesting is the data file that's produced. If the data file is wrong, it's a reasonably serious bug. If it makes no difference to the produced data, then it's only a very minor display artifact bug. I didn't take the time to check that. I guess the easiest way is to do your first steps above, then save the file. Then realign a

[2020-01-04 11:12] PhotoNomad0 commented on #6124
@cckozie @birchamp - my guess is they did an overwrite merge using USFM that had alignments - so the issue is not about the USFM3 per se, but about the alignment markers in the updated source.

We can probably remove the word and alignment spans in the case of overwrite merge, but it will be significant effort.  As Ben would say, "is the juice worth the squeeze?"

[2020-01-06 16:13] cckozie commented on #6405
This is still a problem in 2.1.0 (46a3795)
Import this file:
[07-JDG.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4026873/07-JDG.usfm.zip)
Load the project in wA
Navigate to verse 20:31
Drag "about" into the tile containing "thirty"
Combine the last two Hebrew words

[2020-01-06 16:13] PhotoNomad0 commented on #5406
@cckozie - Ready for more tire kicking.  Verified in translationCore 2.1.0 (9782150).

Should soon have a version with actionable icons.

[2020-01-06 16:56] cckozie commented on #5406
The horizontal sizing of the alignment area has changed a little from the previous build. The vertical scroll bar for the alignment area is no longer directly against the word bank as it was previously. (@birchamp - Do we care about this?)
Then in 2.1.0 (46a3795)
<img width="1440" alt="align" src="https://user-images.githubusercontent.com/8171759/71832753-33664700-3071-11ea-8750-203f5ffd2859.png">

[2020-01-06 18:58] cckozie commented on #5406
2.1.0 (9782150)
Decided horizontal sizing was fine as is.

[2020-01-06 21:11] birchamp commented on #4538
Per @jag3773 - I think the expectation is that the same info that already gets exported from these features will also get exported when used in the wA tool, at least for starters.

[2020-01-06 21:19] cckozie commented on #4538
Since it was decided to not include the last 3 features under "Breakdown" above, we will need issues to cover adding those features.

[2020-01-06 22:58] birchamp commented on #6027
@cckozie it looks like this is fixed in 2.1 - ![Screenshot from 2020-01-06 17-52-31.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/5050dd49-20d4-4975-8efb-756dda13a3e3)

[2020-01-06 23:14] birchamp opened #6636 "Logging in after incorrect password error shows the error popup even if the correct password is entered."
Linux only

## Story Explanation
### User Story
User attempts to log in to door43 from the login screen, but enters the wrong password. The user receives the error message and enters the correct password. The "Incorrect Password" popup is displayed again.

### Definition of Done
Changing to the correct password and clicking the log in button should log in immediately.

[2020-01-07 01:29] birchamp commented on #6636
@cckozie can you confirm this?

[2020-01-07 01:32] birchamp commented on #6124
@PhotoNomad0 when you say "overwrite merge" is that something that could be done from within tC? Or is it something done by hand?

[2020-01-07 01:36] birchamp commented on #6462
@PhotoNomad0 @cckozie Is there any way to confirm that? I'm ready to close this, but I just need some confirmation that this doesn't happen in the field.

[2020-01-07 02:08] birchamp opened #6637 "Change fonts and store settings with project"
## Story Explanation
### User Story

As a tC user, I want to change font size so that it's easier to see or fit more on the screen.

### Features / Specifications
Font actions UI + actions + 3-dot menu button

- [ ] Save font size as project-tool settings (so if I return to the project, my font sizes persist)
- [ ]  Add projectsettings.json, capture data here
               QUESTION - what do we w

[2020-01-07 02:14] birchamp opened #6638 "Toggle WordAlignment suggestions"
## Story Explanation
### User Story
The user finds the WordMAP suggestions unnecessary for a number of potential reasons. He toggles WordMAP suggestions in the WA tool forcing the suggestions not to display and removing the need for associated buttons.

### Features / Specifications
- [ ] "Display suggestions" UI + actions
- [ ] Save "display suggestions" as project setting
- [ ] If suggestions ar

[2020-01-07 02:32] birchamp opened #6639 "Change WordAlignment workflow to use previous and next buttons to navigate verses"
## Story Explanation
### User Story

As an aligner, I want previous and next buttons so that navigation verse to verse is easier and more consistent with other tC tools.
### Features / Specifications

- [ ] "Alignment Complete" toggle actions + Previous & Next buttons
 When alignment complete is toggled on:
 - [ ] Accept all suggestions
 - [ ] Remove the WordMAP buttons & info button and display t

[2020-01-07 02:34] birchamp commented on #4538
Removed toggle WordAlignment suggestions from breakdown and created issue:
[Toggle WordAlignment suggestions#6638](https://app.zenhub.com/workspaces/uw---all-57a4b0551bff6d0c6f35e8eb/issues/unfoldingword/translationcore/6638)

Removed font settings from breakdown and created issue:
[Change fonts and store settings with project #6637](https://app.zenhub.com/workspaces/uw---all-57a4b0551bff6d0c6f35e

[2020-01-07 14:44] birchamp opened #6640 "Entering wrong password on log in doesn't show error after internet access dialog"
Linux only.

## Story Explanation
### User Story
Log out of Door43.
Click log in button
enter username
enter WRONG password
click Log in button
Receive Internet access prompt - Click ok
No "incorrect password" error is shown

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-01-07 14:50] cckozie commented on #6036
Still a problem in 2.1.0 (9782150)

[2020-01-07 14:52] cckozie commented on #6027
Looks good in 2.1.0 (9782150)

[2020-01-07 14:52] #6027 closed, assigned to nobody

[2020-01-07 14:57] cckozie commented on #6636
@birchamp - I tried multiple scenarios and was unable to reproduce this problem.

[2020-01-07 15:10] PhotoNomad0 commented on #5407
@cckozie - here is a test build to kick the tires.  Reset button is still missing text when you open verse editor from Enhanced Scripture Pane in tN and tW.  But otherwise it should be fully functional in all tools. wA icons should now be actionable and reflect state.

[Linux build 2.1.0 (25adf7a)](https://tc-builds.door43.org/build/feature-mcleanb-5407/translationCore-linux-x64-2.1.0-25adf7a.deb)

[2020-01-07 15:36] cckozie commented on #6462
1. From the time I started working on tC, it has always required resolving merge conflicts during project imports. That being said, its ability to deal with complex merge conflicts was significantly less than that of tS. tC could not deal with nested conflicts.
2. The fact that this project has a name formatted to our current spec indicates that it is really not all that old, or it has gone throug

[2020-01-07 16:27] cckozie commented on #5407
@PhotoNomad0
1. The text on the edit modal should not be bolded.
2. The Save button on the comment modal should not be active until some text is entered.

@birchamp - For discusion:
A. The comment box is quite a bit larger than in the mockups. Is that desirable?
B. Suggested text for the icon hover overs:
- Edit this verse / This verse has been edited
- Add a comment on this alignment / Comments h

[2020-01-07 16:45] PhotoNomad0 commented on #5407
@cckozie - thanks for feedback.  Will continue to tweak.

[2020-01-07 18:29] birchamp opened #6641 "[6]SPIKE: Determine list of components that need to be converted to react hooks."
document:
 - [ ] components need to be converted
 - [ ] components that need to upgraded to use the new lifecycle methods.
    - https://github.com/microsoft/reactxp/issues/1039
    - https://hackernoon.com/problematic-react-lifecycle-methods-are-going-away-in-react-17-4216acc7d58b
   - https://scotch.io/bar-talk/whats-new-in-react-169
 - [ ] components that don't need to be converted

[2020-01-07 19:41] birchamp commented on #6293
Duplicate with #6536

[2020-01-07 19:41] #6293 closed, assigned to nobody

[2020-01-08 03:32] da1nerd commented on #5414
# Proposal

The wordAlignment tool needs to allow users to manually discard suggestions produced by wordMAP. We will call this process **hinting**.

* **hint** a piece of data that tells the wordAlignment tool not to suggest aligning certain words (tokens).

There are four important steps to implement hints:

1. collecting hints
2. storing hints
3. maintaining hints
4. using hints.

## <a name="co

[2020-01-08 14:37] PhotoNomad0 commented on #5407
@cckozie - have another test build for you to eval:

[Linux build 2.1.0 (a1cd196)](https://tc-builds.door43.org/build/feature-mcleanb-5407/translationCore-linux-x64-2.1.0-a1cd196.deb) is ready for download.
[macOS build 2.1.0 (a1cd196)](https://tc-builds.door43.org/build/feature-mcleanb-5407/translationCore-macos-x64-2.1.0-a1cd196.dmg) is ready for download.
[Windows x64 build 2.1.0 (a1cd196)](htt

[2020-01-08 15:27] birchamp commented on #5407
@PhotoNomad0 I like the smaller dialog.  I know the dialog is modal, but can it be draggable?   The user is going to want to see what's in the alignment pane as they make the comment.  In the other tools, because the comment is beside the check, so it doesn't cover anything that the user is doing.

[2020-01-08 16:41] cckozie commented on #5407
@PhotoNomad0 - It's looking good. I agree that it would be good to make the comment dialog draggable even tho it technically is scope creep. (I think the mockups were done prior to the changes to make the edit dialog draggable)

[2020-01-08 16:49] cckozie commented on #5777
This is no longer a problem in 2.1

[2020-01-08 16:49] #5777 closed, assigned to nobody

[2020-01-08 16:55] birchamp commented on #6637
After discussing this feature with the GL team, this is a low/medium priority until we hear otherwise.

[2020-01-08 21:10] birchamp opened #6643 "Greek words with initial or ending punctuation aren't considered words"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-01-08 21:11] #6643 closed, assigned to nobody

[2020-01-09 01:25] cckozie opened #6644 "Do not update the .../projects/[project name]/[book].usfm file when importing with overwrite"
2.1
It looks like we write that file anytime we import a usfm file. That should not be done if the file being imported is being used to overwrite the text of an existing project.

[2020-01-15 16:57] cckozie opened #6646 "Alignments are not deleted on verses that were deleted during a project overwrite"
2.1.0 (0906494)
This is a change from the behavior in previous releases (2.1 and earlier)
1. Import a fully aligned project
2. Export the project to usfm without alignments
3. Delete a verse from the exported file
4. Import the edited file choosing the Overwrite options
5. Load the project in wA
Note that the alignments are still in tact for the deleted verse, but that the verse contains no text

[2020-01-16 03:51] da1nerd commented on #6554
I've opened a PR (#6647) which should resolve the performance issues described above. I'm also investigating wrapping wordMAP inside of a web worker which could further improve UI performance.

[2020-01-16 05:08] da1nerd opened #6648 "macOS build consistently fails on new Github Actions."
[code]
See for example https://github.com/unfoldingWord/translationCore/runs/382578484

[2020-01-16 09:16] da1nerd opened #6650 "windows builds fail to clone repository"
I believe we are encountering the same issue as described in https://github.com/civetweb/civetweb/issues/812

The clone fails with this error on the windows environment

[code]
The problem seems to stem from changes in git `2.24.0`. This is the version installed on the virtual environment.

See the following from the [Git 2.25 Release Notes](https://raw.githubusercontent.com/git/git/master/Documen

[2020-01-16 09:44] da1nerd commented on #6650
I've opened an issue to update the version of git installed on windows environments https://github.com/actions/virtual-environments/issues/278

[2020-01-16 09:54] da1nerd commented on #6648
As a temporary fix I'm running the mac builds on the linux environment. The downside is the generated artifacts will be a bit larger since linux can't do the same dmg compression as macos.

[2020-01-16 10:04] da1nerd commented on #6648
Switching to a linux environment didn't fix the issue. So there must be a dependency somewhere that changed.

[2020-01-16 10:14] da1nerd commented on #6650
I've circumvented this problem by following the directions in https://github.com/actions/checkout/issues/116#issuecomment-574673160.

This checks out the first commit which is faster and avoids the history that's breaking git.

[2020-01-16 10:15] da1nerd commented on #6650
Now we're getting the same error as in #6648

[2020-01-16 11:01] da1nerd commented on #6383
Here's a custom template I built back when we were creating electronite. It's a fusion of [create-react-app](https://github.com/facebook/create-react-app) and electron so you get all the bells and whistles of create-react-app without having to "ejecting" the application. I used this template to test building an application with electronite.

Hope it helps.
https://github.com/neutrinog/react-app-el

[2020-01-16 11:26] da1nerd commented on #6546
Additionally I have an experiment with moving wordMAP into a web worker. See this branch here https://github.com/unfoldingWord/wordAlignment/tree/wordmap-web-worker/src/utils/wordmapWorker

It's currently not any faster, hence "experiment", but what I learn from this may help with other tasks.
Right now the biggest overhead I'm experiencing is communicating between threads. I think we'll encounter

[2020-01-16 11:31] da1nerd commented on #6202
See this comment https://github.com/unfoldingWord/translationCore/issues/6546#issuecomment-575108685 for potential pitfalls with moving code to the main thread.

[2020-01-16 11:34] da1nerd commented on #6294
FYI concourse and now github actions are both using node 8.16.1 and npm 6.4.1. I would suggest keeping what we use in CI and what we use locally in sync. So updating one should mean we update the other as well.

[2020-01-16 11:44] da1nerd commented on #6535
Issue https://github.com/unfoldingWord/translationCore/issues/6383 contains links to some sample projects using webpack. Adding it here as a reference.

[2020-01-16 11:46] da1nerd commented on #6405
Do those words also get duplicated in the wordbank on the left?

[2020-01-16 11:49] da1nerd commented on #6627
@cckozie I actually just noticed and fixed that issue when fixing #6633. My solution was to support breaking the word and wrapping it so it fits within the wordbank. See https://github.com/unfoldingWord/wordAlignment/pull/239.

Here's a preview:
![image](https://user-images.githubusercontent.com/166412/72522947-5b378500-3891-11ea-8fd7-2aa40afb2d88.png)

[2020-01-16 15:29] deferredreward commented on #6405
Not when I was observing it, that was before the latest update.

[2020-01-17 12:45] mannycolon commented on #6383
@neutrinog That link looks like is for electron not `electronite`. Did you mistakenly wrote `electronite` instead of `electron`?

[2020-01-17 15:02] da1nerd commented on #6383
sorry, my comment wasn't very clear. You are correct that's just an electron project template. What I did was build the app and then swap out the electron binary with electronite. Doing so worked for testing, but obviously that would need to be streamlined.

The part I thought was especially handy is it's using create-react-app with minimal configuration tweaks, so it has hot reloading, webpack, t

[2020-01-21 13:51] da1nerd commented on #6650
This was fixed in https://github.com/unfoldingWord/translationCore/pull/6649

[2020-01-21 15:25] da1nerd commented on #6237
The remaining bug here (see previous comment) has been resolved in https://github.com/unfoldingword/translationcore/issues/6647.

Note: since we are basically brute forcing the occurrence order, I left a few escape hatches to prevent it from killing performance in rare situations. In these corner cases wordMAP will slowly become less strict when checking the occurrence order. I've simulated some o

[2020-01-23 01:17] birchamp commented on #6627
@neutrinog I'm sorry, I didn't get to specify this. This should really be a hover over instead of a word wrap.

[2020-01-23 01:54] da1nerd commented on #6627
@birchamp no problem. To clarify, when you hover over the word do you want a tooltip to be displayed?

[2020-01-23 03:42] birchamp commented on #6627
Yes, the tooltip should only happen if the word is too long for the word bank width.  @cckozie aren't there other places where we're doing this?

[2020-01-23 14:12] mannycolon opened #6651 "Add the groupsDataReducer to the wA tool codebase and stop using it from tC"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-01-23 14:12] mannycolon opened #6652 "Add the groupsIndexReducer to the wA tool codebase and stop using it from tC"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-01-23 19:10] PhotoNomad0 commented on #6383
@neutrinog - can you show us how you swapped in the electronite binary?  Was it a manual copy?

[2020-01-23 21:24] mannycolon commented on #4490
This is why this issue is blocked

[2020-01-24 07:02] da1nerd commented on #6383
At the time yes, it was a manual copy.

[2020-01-24 15:03] mannycolon opened #6653 "Change the function name of toggleReminder to toggleBookmark in tc-ui-toolkit & Make handleModalOpen not required"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Also make sure that handleModalOpen is not required in the tc-ui-toolkit as it is not always needed.
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-01-24 16:05] mannycolon opened #6654 "Add contextIdReducer & respective redux actions to wA tool"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-01-24 18:29] cckozie commented on #5961
Larry is not seeing the problem any longer in 2.1

[2020-01-24 18:29] #5961 closed, assigned to nobody

[2020-01-28 13:09] birchamp commented on #6383
I know I've mentioned this already, but I want it documented here. @neutrinog @mannycolon Dan Dennison mentioned that the early builds might be missing some UI elements.

[2020-01-28 14:38] cckozie commented on #6587
Video for deleting user tokens at https://forum.door43.org/t/problems-uploading-tc-or-ts/508
zulip stream at https://unfoldingword.zulipchat.com/#narrow/stream/207526-wg-tools/topic/General/near/183170106

[2020-01-28 21:31] mannycolon opened #6655 "Abstract GitApi & Repo.js from tools to a NPM module"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-01-29 05:36] da1nerd commented on #6383
@birchamp I'm not sure what you are referring to. Could you elaborate?

[2020-01-29 14:41] mannycolon opened #6656 "Selection invalidations doesn't always work"

[2020-01-29 14:45] birchamp opened #6657 "[48] SPIKE: Electronite planning"

[2020-01-29 14:56] birchamp commented on #5408
This is a duplicate of #5410

[2020-01-29 14:57] #5408 closed, assigned to nobody

[2020-01-29 17:36] birchamp commented on #6383
@neutrinog Dan Dennison said that "Autographa claims the ui elements went missing on the build they tried." That's all I really know.  We just need to be on the lookout for it.

[2020-01-29 20:51] PhotoNomad0 commented on #6237
@cckozie - Joel's fixes are here: https://github.com/unfoldingWord/translationCore/actions/runs/32631095

I only verified the performance issue on the Mac build.

[2020-01-29 20:52] PhotoNomad0 commented on #6650
Looking good

[2020-01-29 20:52] #6650 closed, assigned to da1nerd

[2020-01-29 20:52] PhotoNomad0 commented on #6554
Verified in build at https://github.com/unfoldingWord/translationCore/actions/runs/32631095

[2020-01-29 20:53] PhotoNomad0 commented on #6648
Looking good now

[2020-01-29 20:53] #6648 closed, assigned to da1nerd

[2020-01-29 22:57] cckozie commented on #6237
2.1.0 (228ed0f)
Judges 7:9 now looks good, but Judges 6:27 now does not show any suggestions:

[2020-01-29 23:07] cckozie opened #6659 "The latest base resources are no longer in the latest build"
#6943 provided for the latest base resources to be in all builds. That feature has been broken in 2.1.0 (228ed0f)

[2020-01-29 23:34] cckozie commented on #6554
2.1.0 (228ed0f)
I'm again seeing ~3 seconds to display the suggestions in 8:32.

[2020-01-30 13:54] birchamp opened #6660 "Windows Electronite build"

[2020-01-30 13:55] birchamp opened #6661 "Electronite for NPM"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-01-30 14:22] PhotoNomad0 commented on #6633
Verified in translationCore 2.1.0 (9be0e63)

Builds are here: https://github.com/unfoldingWord/translationCore/actions/runs/32942120

[2020-01-30 14:27] PhotoNomad0 commented on #5409
This should make Comments and Bookmarks fully functional in WA tool (Verse Edit is still pending).

Verified in translationCore 2.1.0 (9be0e63)

Builds are here: https://github.com/unfoldingWord/translationCore/actions/runs/32942120

[2020-01-30 14:53] PhotoNomad0 commented on #6659
I was able to reproduce this in the latest tCore build 2.1.0 (9be0e63).  Investigating...

[2020-01-30 15:11] PhotoNomad0 commented on #6659
It looks like the language and resource update scripts are not even being run on the develop builds.  for example https://github.com/unfoldingWord/translationCore/runs/416927577

![Screen Shot 2020-01-30 at 10 10 23 AM](https://user-images.githubusercontent.com/14238574/73461843-d6487300-4348-11ea-844f-cabc6ca2ffcc.png)

[2020-01-30 15:16] PhotoNomad0 commented on #6659
It looks like it is due to a recent change in build system since older develop builds had this.  For example: https://github.com/unfoldingWord/translationCore/runs/382578484?check_suite_focus=true

[2020-01-30 15:29] da1nerd commented on #6659
Oops I forgot I disabled those so testing would be faster. UPDATE_RESOURCES needs to be set to true. I'll update that now.

[2020-01-30 15:33] PhotoNomad0 commented on #6659
@neutrinog - yes I just saw that in main.yml.  Do you set that in `.env` or is it a github setting?

[2020-01-30 15:35] da1nerd commented on #6659
well... at the time I was thinking it would be something configurable at the repo level, but it's not. So I just edited the file and opened a PR. https://github.com/unfoldingWord/translationCore/pull/6662

[2020-01-30 15:37] PhotoNomad0 commented on #6659
@neutrinog - I see it is working now.  Merged your PR.

[2020-01-30 15:37] da1nerd commented on #6659
glad you caught that before I went to bed for reals!

[2020-01-30 15:38] PhotoNomad0 commented on #6659
Thank @cckozie for catching it.

[2020-01-30 15:43] cckozie commented on #6633
2.1.0 (9be0e63)
It is true that the word bank no longer resizes when words are being dragged, but that appears to be because the enhancements made in #5440 have been removed. It appears that the width of the word bank is again fixed and no longer dependent on the length of the words in it.

[2020-01-30 16:02] PhotoNomad0 commented on #6659
Working in translationCore 2.1.0 (c42350b)

Builds here:
https://github.com/unfoldingWord/translationCore/actions/runs/33041887

[2020-01-30 16:19] elsylambert opened #6664 "Version Number missing from the Win-64 Build"
Version Number missing from Windows-64 build for the latest v 2.1.0(c42350b).
![image](https://user-images.githubusercontent.com/51806180/73468337-a00ff100-4352-11ea-8281-5396d2f152fb.png)
![image](https://user-images.githubusercontent.com/51806180/73468439-cd5c9f00-4352-11ea-97a2-28504bc2eae6.png)

[2020-01-30 16:39] elsylambert commented on #5409
Verified in v2.1.0(c42350b). Saved comment and the bookmark on a verse is lost when switch to next verse.
- Saved comment on Tit 1:2 and added the bookmark.
- Move to 1:3.
- Switch back to 1:2 and the comment and bookmark are not there. However the left side menu shows the Comment and bookmark Icon.
![image](https://user-images.githubusercontent.com/51806180/73469925-1ada0b80-4355-11ea-99a2-a52f83

[2020-01-30 17:08] PhotoNomad0 commented on #5409
@elsylambert - having trouble reproducing the problem you are seeing on Mac - translationCore 2.1.0 (c42350b). Will take a look at windows

[2020-01-30 17:31] PhotoNomad0 commented on #5409
@elsylambert - I'm seeing this problem on Windows only...very strange.

[2020-01-30 21:19] PhotoNomad0 commented on #5409
Verified latest windows build b3e4a9d. builds at:  https://github.com/unfoldingWord/translationCore/actions/runs/33124141

[2020-01-31 10:14] da1nerd commented on #6633
If the width of the wordbank should depend on the length of the words then why do we have #6627?
or do you want the wordbank to be flexible up to a maximum width and then use a tooltip for anything larger?

[2020-01-31 13:00] da1nerd commented on #6660
Here's my visual studio configuration

![Screenshot from 2020-01-31 14-15-14](https://user-images.githubusercontent.com/166412/73541105-31bb5380-4464-11ea-93b2-173262109dab.png)
![Screenshot from 2020-01-31 19-56-57](https://user-images.githubusercontent.com/166412/73541106-31bb5380-4464-11ea-810e-316d90185276.png)
![Screenshot from 2020-01-31 19-57-51](https://user-images.githubusercontent.com/16

[2020-01-31 16:37] elsylambert commented on #5409
Verified in 2.1.0(b3e4a9d). Issue with the Comments and bookmark data being lost has been resolved in Windows.

[2020-02-01 06:24] da1nerd commented on #6660
second attempt failed. I forgot it needed to download a different version of chromium and I didn't have my fast network connected to my computer (mobile phone). So I'll need to start again with my mobile hotspot to avoid timeouts.

[2020-02-03 07:45] da1nerd commented on #6660
# Electronite Build Instructions for Windows

These are notes I collected while compiling on my machine.

## Preparation
Install needed dependencies and configure appropriate system variables.
You will download about 16 gb of source code, so get a decent internet connection.

# Terminal Commands
The following commands must be ran in the windows command prompt.

## Fetch Code
Create working directo

[2020-02-03 07:47] da1nerd commented on #6660
I was able to compile electronite 6.0.7 and upload it to https://github.com/unfoldingWord-dev/electronite/releases/tag/v6.0.7-graphite

[2020-02-03 13:58] cckozie commented on #5409
Looks good in 2.1.0 (aed42f3) on Mac.

[2020-02-03 16:11] cckozie opened #6669 "Mac builds from github actions are bloated"
2.1.0 (e61795c) from github actions mac app is 761MB
2.1.0 (aed42f3) from concourse mac app is 499MB

[2020-02-03 16:14] cckozie commented on #6659
Latest base resources (el-x-koine, en, hbo, hi) are in both 2.1.0 (e61795c) from github actions and 2.1.0 (aed42f3) from concourse.

[2020-02-03 22:58] PhotoNomad0 commented on #6669
@cckozie - Looking at latest develop build on github (https://github.com/unfoldingWord/translationCore/actions/runs/34215452).  I see it at 289MB.  Where are you looking?

[2020-02-03 23:23] cckozie commented on #6669
@PhotoNomad0 I'm looking at the size of the actual app in that Applications folder (translationCore.app).

[2020-02-04 13:27] elsylambert commented on #6659
Base resources are available with the latest build 2.1.0(aed42f3)

[2020-02-04 13:37] PhotoNomad0 commented on #6669
@neutrinog - in comparing the same commit build (e61795c) between github and concourse:

| Build System        | Build Size           | Installed App Size           | app.asar size  | extracted app.asar size  |
| ------------- |-------------:|-------------:| -----:|-----:|
| concourse    | 476MB | 476MB | 375MB | 373MB |
| github actions      | 289MB      | 763MB      |   639MB|  636MB|

Looks lik

[2020-02-04 13:41] PhotoNomad0 commented on #6669
@neutrinog - In checking the disk usage of the unpacked app.asar files, it looks like we are including the `/node_modules/electron-prebuilt-compile` directory in the github actions build which is not in the concourse build:

[code]

[2020-02-04 13:54] PhotoNomad0 commented on #6669
@neutrinog -  It looks like the node_modules directory is 369MB for concourse but 632MB for github actions build.  Maybe the dev dependencies are not being trimmed out?

[2020-02-04 14:15] cckozie opened #6671 "Make the Edit and Comments dialogs in wA draggable"
As and aligner I would like both the Edit and Comments dialogs to be draggable so that I can easily move them to see what they are hiding, and to make it more consistent with editing in the expanded scripture pane.

[2020-02-04 19:03] cckozie commented on #6633
@neutrinog Yes, the previously referenced #5440 was done to allow the word bank to expand in width, but it did not deal with words that were longer than the maximum width.
This issue was written to prevent the temporary resizing as words are selected and drug out of the word bank.

[2020-02-04 19:44] cckozie commented on #6405
@neutrinog No, the words are not duplicated in the word bank, just in the alignment area.

I am unable to duplicate this problem in 2.1.0 (e61795c). There have been many changes to the hbo which cause changes to suggestions. There may be other factors involved as well.
It can still be duplicated using the build, project, and steps in my previous comment.

[2020-02-04 21:00] PhotoNomad0 commented on #6657
**Notes:**
Items learned in getting to build/run:
- File system:
    - imports and require()'s still use relative paths based on source folder.  Restrictions on importing from files below src/.  There seems to be an exception for package.json, but that may be because the start script copies package.json to build directory.
    - You can only use string constants as parameter to require().  If you

[2020-02-05 05:27] da1nerd commented on #6237
@cckozie 6:27 doesn't show any suggestions now because it cannot satisfy the stricter occurrence rules.

In this case it only had one suggested use of the word "did" (the second occurrence) e.g. "they did(2)". However, since suggested words are now required to begin with the first occurrence (see https://github.com/unfoldingWord/translationCore/issues/6237#issuecomment-554326998), there was no val

[2020-02-05 07:29] da1nerd commented on #6661
It appears that we will need to create a fork of electron-packager and edit this file https://github.com/electron/electron-packager/blob/master/src/download.js to re-configure `downloadArtifact`.

We should still be able to use `@electron/get` since it can be reconfigured to use a mirror. We would simply point it to our electronite. See https://www.npmjs.com/package/@electron/get

All of the above

[2020-02-05 07:51] da1nerd commented on #6661
Now I just need to figure out how we can easily use electronite without having to install electron. I'd like to be able to simply install `electronite` and `electronite-packager`, however I do not want to re-build the entire infrastructure for caching, downloading, js apis, etc.

For now, an easily solution might be to make an `electronite` package that imports `electron` internally and exposes it

[2020-02-05 08:28] da1nerd commented on #6669
I'm not certain this has anything to do with concourse or github actions. I ran the build on my mac and it's producing large builds as well.

[2020-02-05 09:41] da1nerd commented on #6661
Here's my first attempt at an `electronite` package. So far so good.
![Screenshot from 2020-02-05 16-36-02](https://user-images.githubusercontent.com/166412/73829850-3a31d680-4836-11ea-8e64-5c7605e3c947.png)

[2020-02-05 10:08] da1nerd commented on #6661
not able to get the js api working yet though. not sure what's wrong.

[2020-02-05 12:37] PhotoNomad0 commented on #6664
Verified in Version 2.1.0 (656673d) Win 64 build:

https://github.com/unfoldingWord/translationCore/actions/runs/35030841

[2020-02-05 13:07] cckozie commented on #6237
@neutrinog - I think #3 looks like a good option for now. @birchamp - What say you?

[2020-02-05 13:57] birchamp commented on #6237
I'll take what's behind door #3. @cckozie @neutrinog since it looks like option #3 needs to be implemented, let's go with that.  It follows what we're already doing. tC is only making "suggestions", and we've given users a clear path to reject them.

[2020-02-05 14:10] elsylambert commented on #6664
Not seeing this issue in v2.1.0.(656673d). Version number is available for the build.

[2020-02-05 14:25] cckozie commented on #6638
Design for this is included in https://drive.google.com/file/d/1bx5usUxqfv7GSRssJmhcOTPMGIeboMDe/view

[2020-02-06 06:44] da1nerd commented on #6661
I've published a new npm package https://www.npmjs.com/package/electronite.
Only one package left to build!

[2020-02-06 13:04] jag3773 commented on #6629
Here is a JS library that one of our friends put together, https://github.com/javascripture/morphgnt.

[2020-02-06 18:41] cckozie opened #6672 "The exporting project alert should not be dimmed/disabled."
The project exporting alert is dimmed (inactive) but should not be. If the export succeeds, there isn't a problem. But if the invalidated alignments alert is displayed, the user is prevented from responding to the alert and must close tC to proceed. At that point the only way to get the project exported to usfm is to check the Do not show again checkbox when it is displayed somewhere else.
Alert a

[2020-02-07 00:59] mannycolon commented on #6627
Verified on 537283a

[2020-02-07 00:59] mannycolon commented on #6633
Verified on 537283a

[2020-02-10 14:42] elsylambert commented on #6633
Not seeing the issue in 2.1.0 (fbe92ce).  Word Bank expands for lengthy words. Not seeing resizing issue when the word is moved out of the word bank for alignment.

[2020-02-10 14:51] elsylambert commented on #6627
Verified in  2.1.0 (fbe92ce) . Tool tip works fine for longer words when hover-over.
But the hover over stays even when the word is dragged out of the word bank for alignment and overlaps. Can hardly see the word upon dragging. See the snapshot.
![image](https://user-images.githubusercontent.com/51806180/74160094-dec36800-4bea-11ea-9262-630b4a2a5dbc.png)

[2020-02-10 15:44] cckozie commented on #6633
Fixed in 2.1.0 (537283a)

[2020-02-10 15:57] cckozie commented on #6627
2.1.0 (537283a)
ISSUE A:
On Mac, the hover over still shows after dropping the word. It doesn't disappear until the cursor is then moved. (See Elsy's comment above as it is probably worse on Windows since it appears to the right of the word rather than below it)
If possible, the hover over should disappear when the word is selected for dragging. (@neutrinog - Is that possible?)
![Screen Shot 2020-

[2020-02-11 14:10] #6292 closed, assigned to PhotoNomad0

[2020-02-11 14:11] #5640 closed, assigned to PhotoNomad0

[2020-02-11 14:12] #6490 closed, assigned to PhotoNomad0

[2020-02-11 14:13] #5440 closed, assigned to PhotoNomad0

[2020-02-11 14:14] #6626 closed, assigned to PhotoNomad0

[2020-02-11 14:15] #6554 closed, assigned to da1nerd

[2020-02-11 14:15] #5406 closed, assigned to PhotoNomad0

[2020-02-11 14:16] #6659 closed, assigned to da1nerd

[2020-02-11 14:16] #6664 closed, assigned to da1nerd

[2020-02-11 14:16] #6633 closed, assigned to da1nerd

[2020-02-11 22:50] cckozie opened #6675 "Edit icons are no longer displayed on verses in wA when the edits are performed in tN or tW."
2.1.0 (537283a)
When edits are performed in wA or performed externally using import with overwrite, the edit icon is shown correctly on the verse in the menu. But when edits are performed in tN or tW (either in the scripture pane or check pane) the edit icon is not displayed in wA.
This was broken sometime between 2.1.0 (228ed0f) from 01/29 and 2.1.0 (e61795c) from 02/01.
To replicate:
Open a proj

[2020-02-11 23:47] cckozie commented on #4538
Watch for:
Missing translation key when editing in scripture pane of tN or tW
![image](https://user-images.githubusercontent.com/8171759/74290158-9beeb680-4cf6-11ea-824a-136ebc0d2ca5.png)

[2020-02-12 15:48] PhotoNomad0 opened #6676 "Error loading tW selections when checks in catalog have changed"
## Story Explanation
### User Story

See this error in console:
![Screen Shot 2020-02-12 at 9 49 45 AM](https://user-images.githubusercontent.com/14238574/74346094-0e09de80-4d7d-11ea-9131-849d5ad412c1.png)

This happens when I select an affected project.  And the result in this case is that the category `pure, purify...` does not show up in tW.

Looks like a problem in tC getGroupsData() when chec

[2020-02-13 16:01] PhotoNomad0 commented on #6501
@verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 16:07] PhotoNomad0 opened #6678 "Verse Edit indications not persisted in tW in case of multiple checks in verse"
## Story Explanation
### User Story

If I edit Tit 1:15 I will immediately see verse edit indication:

![Screen Shot 2020-02-13 at 11.03.31 AM.png](https://images.zenhubusercontent.com/564e463c638e718c995eb353/6bfe8e3d-3544-41e0-9ff2-96d7ef61d4f1)

But when I change to another project and then change back to original project, the verse edit indication is gone:

![Screen Shot 2020-02-13 at 11.04.16

[2020-02-13 19:02] cckozie opened #6679 "New performance problems and inconsistencies when checking for invalidated alignments and reset selections after verse edits"
2.2.0 (c65f647)
All performance timings in 2.2.0 are similar to the latest builds in 2.1.0 except for checking for invalidated alignments and reset selections after edits are performed in tW.
When editing in the tW scripture pane, the test now takes about 4 times as long as it did in the last 2.1 build.
When editing in the tW check pane, the test now takes about 3 times as long as it did in the la

[2020-02-13 20:20] mannycolon commented on #6497
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:20] mannycolon commented on #6500
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:20] mannycolon commented on #6495
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:21] mannycolon commented on #6551
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:21] mannycolon commented on #6552
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:22] mannycolon commented on #6498
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:22] mannycolon commented on #6654
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:22] mannycolon commented on #6651
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:22] mannycolon commented on #6652
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:22] mannycolon commented on #6656
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:23] mannycolon commented on #6496
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:23] mannycolon commented on #6550
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 20:23] mannycolon commented on #6499
Verified in translationCore 2.2.0 (c65f647)

https://github.com/unfoldingWord/translationCore/actions/runs/38810905

[2020-02-13 22:27] cckozie opened #6681 "Critical errors when opening a tStudio project that has merge conflicts and one that doesn't have conflicts"
2.2.0 (c65f647)
<img width="1440" alt="critical error" src="https://user-images.githubusercontent.com/8171759/74488927-4c8cbf80-4e89-11ea-8b83-775288906ff6.png">
[Thu Feb 13 2020.log.zip](https://github.com/unfoldingWord/translationCore/files/4202001/Thu.Feb.13.2020.log.zip)

To replicate:
1. Import [en-x-demo1_php_text_ulb.tstudio.zip](https://github.com/unfoldingWord/translationCore/files/420199

[2020-02-13 23:21] cckozie opened #6682 "Critical error when opening a project from Door43"
2.2.0 (c65f647)
<img width="1440" alt="critical error2" src="https://user-images.githubusercontent.com/8171759/74487664-af7c5780-4e85-11ea-8a3d-49d755bb39c4.png">
[Thu Feb 13 2020.log 2.zip](https://github.com/unfoldingWord/translationCore/files/4201926/Thu.Feb.13.2020.log.2.zip)

To replicate:
1. Import https://git.door43.org/qa99/abu_tit_reg
2. Load the project in tW
Critical error screen in dis

[2020-02-14 12:20] PhotoNomad0 commented on #6676
Verified in translationCore 2.2.0 (f898237)

[2020-02-14 22:59] cckozie commented on #6682
2.2.0 (f898237)
Here is a similar problem:
[projects.zip](https://github.com/unfoldingWord/translationCore/files/4207226/projects.zip)
1. Unzip the projects into the projects folder
2. Restart tC
3. Select the Acts project and load it into wA
4. Return to the Projects screen
5. Select the Titus project and load it into wA
Note the Critical error screen. The Titus project will correctly load in wA

[2020-02-17 16:52] elsylambert opened #6684 "Reported by Larry: Alignments in wA invalidated after tN invalidation fixes"
2.1.0 (7adcd44)
Here is the Project:
[en_ult_rut_book.zip](https://github.com/unfoldingWord/translationCore/files/4215138/en_ult_rut_book.zip)

Copy the Ruth ULT project in Projects Folder. It shows one invalidated alignment in the WA tool, and a bunch in the tN and tW tools. I opened the WA tool and checked the one broken alignment. Everything was OK. I did my 'normal fix' of dragging a word back

[2020-02-17 17:18] elsylambert commented on #6684
To Replicate this issue:
1. Install the Release Version 2.1.0 (7adcd44).
2. Check the Resources, if they are latest (I checked with UHB 2.1.10)
3. Copy the project in Projects folder.
4.  Open the Project and note that the wA shows 100% and 1 Invalidation link on the tool card. There are a few invalidation on tW and tN as well.
5.  Open wA, Fix the invalidation by dragging a word back to the EN li

[2020-02-17 17:24] elsylambert opened #6685 "tW tool card showing wrong results"
2.1.0 (7adcd44)

[en_ult_rut_book.zip](https://github.com/unfoldingWord/translationCore/files/4215247/en_ult_rut_book.zip)
This is the second part of #6684.

After the Project is opened, it shows 82% on the tool card with no checks selected.
- select the checks and then un-select all the three checks, it changes to 0%.
<img width="610" alt="Screen Shot 2020-02-17 at 10 40 04 AM" src="https://user-

[2020-02-17 17:30] elsylambert commented on #6684
Able to Replicate in Windows-64 build as well. Need to restart tC after the Resources are updated to the latest to replicate this issue.

[2020-02-17 18:38] cckozie commented on #6684
After several attempts I am unable to replicate the problem on 2.1 either on my Mac or Windows machines. However, I can replicate it on my Mac in 2.2.0 (f898237). On 2.2 when the project is first opened it shows all of the alignment resets, but the wA card continues to show 100% even after opening the project in the other tools and making changes there.
Based on that I'm guessing that it may be a

[2020-02-17 20:54] cckozie commented on #6672
[Luke.zip](https://github.com/unfoldingWord/translationCore/files/4216090/Luke.zip)
To replicate this problem:
1. Import the luke.usfm file in the attached zip
2. Import the Re-Import_Luke.USFM file in the attached zip giving it the same language code (hi) and the same translation id of the original project and choosing the Overwrite options.
(This reimport takes a long time)
DO NOT CHECK THE "DO

[2020-02-18 15:02] elsylambert opened #6686 "Code displayed in the Selection pane in tN for a Hindi Project"
This has resurfaced in 2.2.0 (f898237).
Here is the Project:
[hi_irv_act_book.zip](https://github.com/unfoldingWord/translationCore/files/4219874/hi_irv_act_book.zip)

1. [objet].[Object]... shown in the "Please Select translation for:"
![Screen Shot 2020-02-18 at 9.54.34 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/1e0debec-a12a-4b1e-9971-976598e580ea)
2. Help article lin

[2020-02-18 15:12] elsylambert opened #6687 "Link is displayed in the smurf bar in tN"
1. For Hindi Project as reported in #6686
2. In a Titus Project, under abstract Noun. See below.
![Screen Shot 2020-02-18 at 10.12.04 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/759655ed-1921-42b9-ba7e-c96901c61aad)

[2020-02-18 20:33] cckozie commented on #6687
@elsylambert - I think this is the same problem as in Issue C on #6621. If you agree, please reference this one there and then label this as a duplicate and close it.

[2020-02-18 21:23] elsylambert commented on #6687
Duplicate of #6621

[2020-02-18 21:23] #6687 closed, assigned to nobody

[2020-02-18 21:43] PhotoNomad0 commented on #6672
verified in translationCore 2.1.0 (8bc3450)

Find under concourse release-v2.1.1 builds

[2020-02-19 12:38] PhotoNomad0 commented on #6684
Updating of the en tn helps causes the project to update to using the latest Orig Language version in the tn checks (this only happens when the tn tool is opened). This causes the grief since the wa and tw are just using the last version in the directory list returned by the file system. Since these were not sorted by semantic version rules, v2.1.8 could be used as the most recent and not v2.1.10(

[2020-02-19 13:59] cckozie opened #6689 "Duplicated and invalidated checks in tW"
From Larry: (2.1.0 release)
Any idea why I still have three invalidated tW checks in the Titus ULT project? They are doubled, and won't let me select anything. All the files appear to be right, but I can't make these work.

[en_ult_tit_book.zip](/user_uploads/15437/iqzfxgLD7NGCnDELkxl5Llk0/en_ult_tit_book.zip)

After doing some research on this I discovered that there were duplicate checks in the

[2020-02-19 14:02] PhotoNomad0 commented on #6684
It is a very quick fix to use the latest version of the Orig language for wa and tw. And then we would not see this issue as long as the GL helps are in sync with latest original language.

But this doesn't fix the issue for other GLs such as Hindi that often are based on older Orig lang versions.

It seems to be a ticking time bomb - hopefully we don't see as dramatic changes to the Orig Language

[2020-02-19 15:48] PhotoNomad0 commented on #6684
Suggested items to fix in 2.1.1 release:

- [x] fix sorting of versions so WA and TW will be using the latest original languages
- [x] add versions of resources being used in tools to log file
- [x] add resource versions used for tool checks/alignments to project manifest
- [x] warning dialog on launch of tN when using older version of original language than the other tools are using.

[2020-02-19 17:52] elsylambert commented on #6600
Seeing this issue in 2.1.0 Release in a Titus Project.

[2020-02-19 17:53] elsylambert commented on #6621
2.1.0(7adcd44)

<img width="1781" alt="Screen Shot 2020-02-19 at 12 49 11 PM" src="https://user-images.githubusercontent.com/51806180/74860555-df5cac80-5316-11ea-9ea7-a5b6c2d0b2c2.png">

[2020-02-19 19:15] cckozie opened #6692 "The 2.1.1 builds are still showing 2.1.0 in the install files and the running app"
Concourse: From the release-v2.1.1 branch:
Linux build 2.1.0 (8bc3450) is ready for download.
macOS build 2.1.0 (8bc3450) is ready for download.
Windows x64 build 2.1.0 (8bc3450) is ready for download.
Windows x32 build 2.1.0 (8bc3450) is ready for download.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2baf111e-5d21-4151-bcfc-8b7125c65733)

[2020-02-19 19:27] cckozie commented on #6672
Looks good in 2.1.0 (8bc3450)

[2020-02-19 19:38] PhotoNomad0 commented on #6684
**Current Problems dealing with catalog changes:**
- tN checks are specific to a GL and tied to specific original language version, but may not be updated at same time as the original language updates (e.g. hi tN checks may lag).
- the checkers and aligners have no visual indication of what versions of the original language they are currently using.
- we hope that future original language changes

[2020-02-19 23:54] cckozie commented on #6681
Not seeing the problem in preliminary build 2.2.0 (b8a147d)

[2020-02-19 23:58] cckozie commented on #6682
Not seeing the problem in preliminary build 2.2.0 (b8a147d)

[2020-02-20 14:09] mannycolon commented on #6681
Verified on d2b808b.

[2020-02-20 14:10] mannycolon commented on #6682
Verified on d2b808b.

[2020-02-20 14:20] birchamp commented on #6600
Doublet -Titus 2:8 - TN shows This word ** has the same basic meaning as **uncorrupted** in 2:7. In 2:7, Paul states the meaning negatively: **uncorrupted**, meaning, **without error**, and in 2:8 he states the meaning positively: **sound, whole**, meaning **correct**. Both terms refer to Titus’s teaching. Use either positive or negative terms in the target language, or use one term with this mean

[2020-02-20 15:10] cckozie opened #6693 "[ ] Spike: Determine why tN is reporting content problems on some checks in tN"
2.1.0 (7adcd44)
Delete or rename the main translationCore folder to start with a clean install of 2.1

1. Import this project [57-TIT.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4231456/57-TIT.usfm.zip)
2. Load the project in tN
3. Navigate to the Doublet group
4. Note that the content problem dialog is displayed on the first check for verse 1:8 and the check on verse 2:8
5. N

[2020-02-20 15:29] cckozie commented on #6600
From Larry:
@**Birch** I noticed a minor issue with tC while working on Titus today. The smurf bar in the tN tool does not handle the new bold formattting (and I assume, the bold-italics) in the notes.
![pasted_image](https://user-images.githubusercontent.com/8171759/75051360-5c149580-5493-11ea-9344-53e8e68344e7.png)

[2020-02-20 16:18] elsylambert commented on #6672
Looks good in 2.1.0 (8bc3450)

[2020-02-20 16:22] birchamp commented on #6684
@PhotoNomad0 @cckozie
**Alert text for launching tN:**
Opening this tool could reset/undo/break some of your work. Are you sure that you want to continue?

The Gateway Language that you have chosen for translationNotes uses a previous version of the original  (Hebrew or Greek) language text.   Launching this tool may reset some of the checks that have been completed in the other tools.  The checks

[2020-02-20 16:33] elsylambert commented on #6682
Looks good in 2.2.0 (d2b808b). Not seeing the Critical error screens.

[2020-02-20 17:10] cckozie commented on #6682
2.2.0 (b6b7099) Not seeing any problems in either of the 2 described scenarios.

[2020-02-20 17:13] #5409 closed, assigned to PhotoNomad0

[2020-02-20 17:13] #5943 closed, assigned to PhotoNomad0

[2020-02-20 17:57] cckozie commented on #6684
@birchamp @elsylambert @PhotoNomad0
My thoughts/edits: (Some changes made because we should not assume that the current user is the one who did the existing work, some to add clarity in my view, and I did not think the last sentence about updating was pertinent)

Opening a project in translationNotes could invalidate some work previously completed on it. Are you sure you want to continue?

The Gat

[2020-02-20 18:07] cckozie commented on #6676
In 2.2.0 (c65f647), a previous build, I do see the error in the console and do not see the pure, purify... group in tW.
In 2.2.0 (b6b7099) I do not see the console error and do see the pure, purity... group in tW.
However, I am still seeing these console errors.
@PhotoNomad0 Is this something that needs to be fixed?
![image](https://user-images.githubusercontent.com/8171759/74964740-886bdb80-53d9-

[2020-02-20 20:13] cckozie opened #6695 "tN is reporting content problems on checks that contain ellipsis"
2.1.0 (7adcd44)
To replicate:
Delete or rename the main translationCore folder to start with a clean install of 2.1
1. Import this project [57-TIT.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4231456/57-TIT.usfm.zip)
2. Load the project in tN
3. Navigate to the Doublet group
4. Note that the content problem dialog is displayed on the first check for verse 1:8 and the check on v

[2020-02-20 20:59] jag3773 opened #6696 "UGNT required for checking OT book"
Similar to #6359...

I imported a Ruth (OT) project and clicked on the tN tool and got this message:
![Screen Shot 2020-02-20 at 3 54 35 PM](https://user-images.githubusercontent.com/107731/74977869-8dd91e00-53f9-11ea-8439-56fa782ae815.png)

Of course, that doesn't make any sense because Ruth is an OT book, so it should be looking only at the UHB version number.  After downloading the specific UGN

[2020-02-20 21:10] jag3773 commented on #6696
Note it might also be that the code logic is correct but the warning message says UGNT when it really means UHB ?  Seems like the code did download a previous version of the UHB into my resources directory.

[2020-02-20 22:26] elsylambert commented on #6684
Sounds good.

[2020-02-20 23:54] PhotoNomad0 commented on #6696
@jag3773 - the text on the message is just a locale string hard-coded to UGNT.  Need to add logic to add UHB support on prompt.

[2020-02-21 16:11] elsylambert commented on #6681
2.2.0 (d2b808b)
The project opens fine in wA and tW. when I opened it in tN and navigated through the categories, I found the critical error screen in one of the category.
<img width="1792" alt="Screen Shot 2020-02-21 at 10 58 31 AM" src="https://user-images.githubusercontent.com/51806180/75050850-d1d02f80-549a-11ea-88c3-5ab32467f355.png">

[2020-02-21 16:19] cckozie commented on #6600
This looks to be fixed in 2.2.0 (b6b7099)
![image](https://user-images.githubusercontent.com/8171759/75051484-954d0580-5493-11ea-8fa2-b489e6b2042e.png)

![image](https://user-images.githubusercontent.com/8171759/75051301-3dae9a00-5493-11ea-8f3c-e70e1a779ec0.png)

[2020-02-21 16:21] elsylambert commented on #6600
<img width="1472" alt="Screen Shot 2020-02-21 at 11 20 37 AM" src="https://user-images.githubusercontent.com/51806180/75051675-50799c80-549c-11ea-813e-764b06d0de80.png">
@cckozie Are you able to see this in titus project in 2.2?
Markdown seems to be working fine in 2.2.

[2020-02-21 16:29] cckozie commented on #6600
@elsylambert - That one is actually a content error. Here is that check in the catalog:
TIT	2	1	tpi2	figs-explicit	σὺ δὲ λάλει ἃ πρέπει	1	But you, speak what fits	q
It has been fixed in the latest catalog updates.

[2020-02-21 20:24] PhotoNomad0 commented on #5407
build process for tools is currently broken, so waiting for that to resolve.

[2020-02-21 20:58] cckozie commented on #6600
Since these problems appear to be fixed in 2.2 I am closing this issue and will add regression scripts to test for them.

[2020-02-21 20:58] #6600 closed, assigned to PhotoNomad0

[2020-02-21 22:05] cckozie opened #6699 "[ ] SPIKE: Determine the effort required to properly display markdown text in the smurf bar"
In #6600 fixes were made to properly display markdown text in the smurf bar. Adding that fix to the hotfix is being considered, but only if it is small effort.
We need to have a pretty clear understanding of the amount of work that would be required to add it to the hotfix, and whether or not code changes would be very localized or across multiple 'modules'.

[2020-02-22 12:07] PhotoNomad0 commented on #5407
Verified in translationCore 2.2.0 (35226ce)

[2020-02-22 12:07] PhotoNomad0 commented on #6671
Verified in translationCore 2.2.0 (35226ce)

[2020-02-22 14:22] PhotoNomad0 commented on #6684
Verified in translationCore 2.1.1 (f4b4b6c)

[2020-02-24 14:43] PhotoNomad0 commented on #6686
This is the check that is causing problems:
[code]

[2020-02-24 15:29] PhotoNomad0 commented on #6686
@elsylambert  - think I found the problem - the original language words for the check are not all tagged in the hi bibles for that verse ("irv", "ulb", "udb"), then tCore is falling back to display the original language quote instead (which is an array in this case and shows up as an array of objects).  It should be giving a content error message instead.

[2020-02-24 15:56] elsylambert commented on #6672
Regression on 2.1.1 (f4b4b6c). Looks good.

[2020-02-24 16:03] elsylambert commented on #6684
I opened the Ruth Project in  2.1.1 (f4b4b6c) and got critical error warning message after the tools page was loaded.
<img width="1792" alt="Screen Shot 2020-02-24 at 11 00 39 AM" src="https://user-images.githubusercontent.com/51806180/75168624-34bd0300-56f5-11ea-941f-6c6b22938e21.png">
(From Koz) I believe this was a process error and not a problem in tC.

[2020-02-24 16:22] cckozie commented on #6681
I see the error in 2.2.0 (d2b808b), but I am not seeing the error when running the latest, 2.2.0 (a121e92)

[2020-02-24 16:22] elsylambert commented on #6684
[Mon Feb 24 2020.log.zip](https://github.com/unfoldingWord/translationCore/files/4245706/Mon.Feb.24.2020.log.zip)

[en_ult_rut_book (1).zip](https://github.com/unfoldingWord/translationCore/files/4245533/en_ult_rut_book.1.zip)
- Got 3 Invalidations in wA. I corrected the invalidations in wA and made alignments complete.
- Then Opened the tool tN and got the warning message as intended. I clicked o

[2020-02-24 16:53] cckozie commented on #6684
The 2.1.1 (f4b4b6c) build includes both hbo v2.1.8 and v2.1.11.
The 2.1.1 (f4b4b6c) build includes both ugnt v0.9 and v0.12.
The manifest on the Ruth project attached to this issue shows the tsv relation is to hbo 2.1.10.
The user is not prompted to download v2.1.10 as I would expect.

[2020-02-24 16:54] PhotoNomad0 commented on #6675
Verified in translationCore 2.2.0 (7de0e97)

[2020-02-24 18:25] cckozie commented on #6684
User is warned about the potential of invalidations even if the project has never been previously opened in tN.
1. Import this project and resolve the merge conflicts [en-x-demo1_php_text_ulb.tstudio.zip](https://github.com/unfoldingWord/translationCore/files/4246102/en-x-demo1_php_text_ulb.tstudio.zip)
2. Open it in wA but don't make any alignments
3. Open it in tN and note the warning.
This does

[2020-02-24 18:37] PhotoNomad0 commented on #6684
@cckozie  - up to now we only put up the warning in tN if you are opening it with original language version that is older than the latest on the system.  Do you want to add conditions?  And what would they be?

[2020-02-24 18:42] PhotoNomad0 commented on #6684
I could see adding a check for existing alignments and tW checks as a precondition for the warning.

[2020-02-24 18:48] birchamp commented on #6684
I'm assuming that checking for broken alignments will take too much processing time, and that checking if there are existing alignments and tW checks won't take very much.  Is that correct?

[2020-02-24 18:53] cckozie commented on #6684
@birchamp @PhotoNomad0
Since I'm viewing this as a stop-gap measure and not the long-term solution, I don't think it's worth the effort to test for those things. If there are no alignments, there is nothing to do in tW.
The only condition I think we should test for is that if tN has not been used on the project with an older version of the gl (a project not previously checked intN) then we shouldn

[2020-02-24 19:47] PhotoNomad0 commented on #6684
@cckozie - unfortunately that is not straight forward.  We are just now starting to record last gl and original language version used for checks in manifest.  The tsv_relations in the project manifest is also not updated after project import.

Just checking for the presence of alignments or selections would be very fast since we already have tool progress displayed.

[2020-02-24 19:53] birchamp commented on #6684
@PhotoNomad0 Can we check if the version of the biblical languages that's being used by the GL TN is different from what's selected for the WA or TW?

[2020-02-24 19:56] PhotoNomad0 commented on #6684
@birchamp we already do that.  That is the only condition we currently have to show the warning.

[2020-02-24 19:56] cckozie commented on #6684
@PhotoNomad0 - In 1.2.0 (issue #6184) we started tracking the gl and original used in tN, so can't we easily determine if that's not older than the latest? Aren't we already doing that to see if we need to prompt the user to download an older source?

[2020-02-24 20:18] PhotoNomad0 commented on #6684
@cckozie - I don't think that will make any difference with your tStudio project above.  On import, tCore is initializing the tsv_relation to the manifest to ugnt v0.9 even before the project is opened, which is older than my most recent ugnt on my system.  So I would still get the warning.

[2020-02-24 20:34] PhotoNomad0 commented on #6684
@cckozie - I don't see the tsv_relation initialized for USFM imports however...

[2020-02-24 20:46] PhotoNomad0 commented on #6684
@cckozie - ~still seems to be problem that tsv_relation is not being updated in project manifest.  I will check into that.~

I does get updated, but just not if resource is updated when project is open.  In that case it gets updated the next time you open project.

[2020-02-25 12:34] PhotoNomad0 commented on #6686
Verified in translationCore 2.2.0 (36e5ecd)

[2020-02-25 15:24] cckozie commented on #6684
Tests run and results on previous older original language needed alert and new invalidations warning. All results were as expected.

Clean install of   1.1.4
Single version of ugnt and uhb installed
Import OT and NT books and open in tN
tsv relation not stored in manifest
Save projects
Clean install of 2.0.0
Single version of ugnt and uhb installed
Load projects in tN
tsv relation not added to Tit

[2020-02-25 15:58] cckozie opened #6703 "User always receives the potential invalidations warning when opening tN on an imported .tstudio project"
2.1.1 (f4b4b6c)
User is warned about the potential of invalidations when doing a tstudio import when the message is not displayed for the same scenario of a usfm import of the same project.

1. Import this project and resolve the merge conflicts [en-x-demo1_php_text_ulb.tstudio.zip](https://github.com/unfoldingWord/translationCore/files/4246102/en-x-demo1_php_text_ulb.tstudio.zip)
2. Open it in wA

[2020-02-25 22:17] elsylambert commented on #6684
2.1.1 (f4b4b6c). Getting warning Alert when tN is opened and alignments are reset in wA , as implemented for this release.

[2020-02-26 01:26] PhotoNomad0 opened #6706 "Re-enable resource update in build before merging release-v2.1.1 into develop branch"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-02-26 20:45] cckozie opened #6709 "Begin using updated resources on a project before having to load a different project or restart tC"
Currently tC is using cached resources until a different project is loaded or tC is restarted.

[2020-02-27 01:42] cckozie commented on #6695
@mannycolon
In the latest, 2.1.1(17b9e26), I'm seeing ugnt versions 0.8 and 0.12. The released version of 2.1.0 (and the previous build, 2.1.1 (5ff4779)) both have ugnt version 0.9 bundled in them.
(UPDATE: 0.8 is needed by Hindi tN and 0.12 for English tN. 0.9 should not be needed, or if used, should remain on the system after the upgrade)

[2020-02-27 14:04] mannycolon commented on #6695
Verified on 17b9e26

[2020-02-27 14:21] #6693 closed, assigned to mannycolon

[2020-02-27 14:29] cckozie commented on #6692
Looks correct in 2.1.1 (17b9e26)

[2020-02-27 15:54] elsylambert commented on #6692
Working fine. 2.1.1 (17b9e26)

[2020-02-27 17:46] cckozie opened #6713 "Verses appear out of sequence in the menu in tN"
2.1.1 (17b9e26) - The same problem exists in 2.1.0 with the latest resources
1. Import the project from https://git.door43.org/TC_SAVE/en_ust_rut_book
2. Load it in tN
3. Navigate to the Assumed Knowledge group
4. Note that the first verse in the list is out of chapter/verse sequence.
5. Also note that it shows a checkmark in the menu, but not the selected text.

![image](https://user-images.githu

[2020-02-27 21:07] elsylambert commented on #6695
Looks good in 2.1.1 (17b9e26).

[2020-02-27 21:11] elsylambert commented on #6684
Looks good in 2.1.1 (17b9e26).

[2020-03-02 12:29] PhotoNomad0 commented on #5410
This was handled in same PR as COmments.

[2020-03-02 12:29] #5410 closed, assigned to PhotoNomad0

[2020-03-02 14:21] PhotoNomad0 opened #6714 "Release v2.1.1 Sign Off"
## Story Explanation
### User Story

Release Steps SIgn Off

### Features / Specifications

### Definition of Done

- [x] QA signs off on specific build in regression testing: current for v2.1.1, enter build number here: 17b9e26
- [x] Update changelog
- [x] Update Release Notes
- [ ] ~Update language database in tCore (Note: this has not been updated this for 2.1.1 and is probably not necessary fo

[2020-03-02 15:47] PhotoNomad0 commented on #6714
**Extra change log data:**
Saving this for later since I don't know if it will be picked up in later change logs.
[code]

[2020-03-03 13:05] PhotoNomad0 commented on #6678
Note:

found two issues:

- changes to group menu state are not saved
- on context ID change, should update group menu verse edit and other states from file system

[2020-03-03 15:01] cckozie opened #6717 "Improper handling of multiple tW checks on the same verse"
2.1.1 (17b9e26)
This is a project from 1.1.4 in the projects folder when upgraded to 2.1.1.
[fr_ulb_tit_book.b4upgrade.zip](https://github.com/unfoldingWord/translationCore/files/4281932/fr_ulb_tit_book.b4upgrade.zip)
To replicate:
1. Unzip the project into your projects folder
2. Select the project
3. Select English as the GL for tW
4. Load the project in tW
5. Navigate to and open the God menu g

[2020-03-03 16:43] cckozie opened #6718 "Need to update copyright notice on the Windows installer"
The installer shows 2017-2018. It should be 2017-2020
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/7f4fe806-2065-49d6-8582-d0cc41dd9459)

[2020-03-03 17:01] cckozie commented on #6713
This is how it was in 2.0.0 (ade72a0)
![image](https://user-images.githubusercontent.com/8171759/75799834-44b09480-5d3e-11ea-9536-c537ac7d078e.png)

[2020-03-03 17:47] cckozie commented on #6686
I'm seeing the content error message on this check in 2.2.0 (a121e92)

[2020-03-03 18:08] cckozie opened #6719 "tC reports reset selections after editing a verse that has no selections"
2.2.0 (a121e92)
Import a project that has no alignments and no checks
Open the project in any tool
Make an edit to a verse
Note that the "Some selections are no longer valid..." message is displayed

[2020-03-03 18:23] mannycolon commented on #6653
Verified on a121e92

[2020-03-03 18:32] cckozie commented on #6675
2.2.0 (a121e92)
1. The edit icon now appears in wA when the edit is performed in the check pane of tN or tW, but it is still not displayed if the edit is performed in the scripture pane of tN or tW.
2. When the edit is performed in wA, the edit icon is not displayed in tN and tW.

[2020-03-03 18:44] birchamp opened #6721 "[6] SPIKE: Ruth tN "problem with content" errors"
Possibly normalizing the string to NFC prior to the text comparison could resolve the issue.
The UNICODE report may be of some value: https://unicode.org/reports/tr15/#Canonical_Equivalence

Reported by Jobby: https://unfoldingword.zulipchat.com/#narrow/stream/207545-wg-gl/topic/Hindi.20BPF.20process/near/188980789

tNotes →Assumed Knowledge and Implicit Information
Ruth 1:16
Ruth 2:18
Ruth 3:13
R

[2020-03-03 18:45] cckozie commented on #5407
2.2.0 (a121e92)
The edit works as expected, but there is a problem with the edit icons showing in the other tools. I added that to the QA Fail on #6675.

[2020-03-03 19:28] #6699 closed, assigned to nobody

[2020-03-03 19:46] cckozie commented on #6717
I am not seeing this problem in 2.2.0 (a121e92)

[2020-03-03 23:18] cckozie commented on #6656
2.2.0 (a121e92)
"Some selections are no longer valid..." alert is issued every time edits are done even if the project does not have any existing selections.

1. Import a project that has no alignments and no checks
2. Open the project in any tool
3. Make an edit to a verse
Note that the "Some selections are no longer valid..." message is displayed even though there are no selections in the projec

[2020-03-03 23:21] cckozie commented on #6719
Wrote this up as a QA Fail on #6656

[2020-03-03 23:21] #6719 closed, assigned to nobody

[2020-03-04 13:40] cckozie commented on #6713
Not seeing this problem in 2.2.0 (a121e92)

[2020-03-04 13:40] #6713 closed, assigned to nobody

[2020-03-04 13:42] cckozie commented on #6703
Not seeing this problem in 2.2.0 (a121e92)

[2020-03-04 13:42] #6703 closed, assigned to nobody

[2020-03-04 13:51] elsylambert commented on #6686
Not seeing the issue in 2.2.0 (a121e92). Getting content error message for the check.

[2020-03-04 13:56] #6495 closed, assigned to mannycolon

[2020-03-04 13:56] #6497 closed, assigned to mannycolon

[2020-03-04 13:56] #6552 closed, assigned to mannycolon

[2020-03-04 13:56] #6672 closed, assigned to mannycolon

[2020-03-04 13:56] #6684 closed, assigned to PhotoNomad0

[2020-03-04 13:56] #6692 closed, assigned to nobody

[2020-03-04 13:56] #6498 closed, assigned to mannycolon

[2020-03-04 13:56] #6500 closed, assigned to mannycolon

[2020-03-04 13:56] #6651 closed, assigned to mannycolon

[2020-03-04 13:56] #6496 closed, assigned to mannycolon

[2020-03-04 13:56] #6550 closed, assigned to mannycolon

[2020-03-04 13:56] #6652 closed, assigned to mannycolon

[2020-03-04 13:56] #6654 closed, assigned to mannycolon

[2020-03-04 13:56] #6695 closed, assigned to mannycolon

[2020-03-04 13:56] #6499 closed, assigned to mannycolon

[2020-03-04 13:56] #6501 closed, assigned to mannycolon

[2020-03-04 13:56] #6551 closed, assigned to mannycolon

[2020-03-04 13:56] #6653 closed, assigned to mannycolon

[2020-03-04 13:56] #6682 closed, assigned to mannycolon

[2020-03-04 13:56] #6686 closed, assigned to PhotoNomad0

[2020-03-04 14:24] elsylambert commented on #5407
2.2.0 (a121e92).
Edit window looks good and is draggable.

[2020-03-04 14:25] elsylambert commented on #6671
Looks good in 2.2.0 (a121e92).

[2020-03-04 14:30] elsylambert commented on #6681
Not seeing the critical error message in  2.2.0 (a121e92) .

[2020-03-04 15:49] PhotoNomad0 commented on #6675
@cckozie - I think I see the trigger for the problem in item 1 - when you edit a verse different than the current verse, it was validating the wrong verse.

[2020-03-04 16:21] elsylambert commented on #6676
Verified in  2.2.0 (a121e92). able to see the group- Pure, purify, purification. Not seeing the console errors.

[2020-03-04 21:22] jag3773 opened #6722 "Migrate t-core-submodule-updater to Github Actions"
We should possibly migration t-core-submodule-updater to Github Actions so our whole build process is unified on one architecture (which also happens to be free :) ).

[2020-03-05 13:47] mannycolon opened #6723 "Create a tiny POC app using Electronite"

[2020-03-05 14:18] mannycolon opened #6724 "SPIKE [0]: Make sure that all electron APIs being used in tC all work correctly after integrating Electronite"

[2020-03-05 14:21] #6714 closed, assigned to nobody

[2020-03-05 14:35] mannycolon opened #6725 "SPIKE [12]:Figure out if any of the electron related libraries/dependencies would need to be changed or removed and make the necessary changes"
Notes:
- in main.js, `ipcMain.on('load-local'...`:  dialog.showOpenDialog is now named dialog.showOpenDialogSync.
- in main.js, `ipcMain.on('save-as'...`:  dialog.showSaveDialog is now named dialog.showSaveDialogSync
- fix tCore app accessing `.env` data - looks like a security issue, fixed initialization in main.js and added API for tCore to query electron for .env data
- ospath - home() and data

[2020-03-05 14:35] mannycolon opened #6726 "Adjust tC build process to electronite"
We need to adjust the tCore build scripts to work with the `sandbox-electronite` branch.

**Note:** this is for **building** only, unit tests are a separate issue.

**Current State:**
If I add the script back into package.json `"release-osx": "npm i && gulp clean && npm i && npm run load-apps && gulp build --osx && gulp release --osx",` I get the following error:

[code]

[2020-03-05 14:46] PhotoNomad0 opened #6727 "Fix startup splash screen"

[2020-03-05 14:47] PhotoNomad0 opened #6728 "Fix build scripts for github actions, etc."

[2020-03-05 14:47] PhotoNomad0 opened #6729 "Get unit tests running"
Currently see error running tests (see below).  Maybe a configuration issue in the craco environment?
[code]

[2020-03-05 14:48] PhotoNomad0 opened #6730 "Fix display of stepper, images, build number and assets in tCore"
Some images still need to be loaded into tC:

- [x] Tool card badges
- [x] Door 43 Logo
- [x] Copyright card
- [x] CriticalError
- [x] wordAlignment drag preview
- [x] Fix display of copyright assets
- [x] Fix display of build version

[2020-03-05 14:48] PhotoNomad0 opened #6731 "Fix layout in Tools"
~How to get css to load in tools?~
~Seems to be working in tC, but not seeing CSS in tools?~

The layout is off for all tools.  But in Chrome Developer tools it looks like the styles are loaded.  What is really surprising is that tW and tN are different.  Due to rendering differences in newer Chromium?  It seems suspicious that the locations with rendering problems are using flex.

- wA - alignmen

[2020-03-05 14:48] PhotoNomad0 opened #6732 "Need to find fix for redux-logger crashing app"
Need to find fix for redux-logger crashing app when enabled. Initially thought it may be a deep-diff bug, but seems to crash even with diff disabled.  May be related to logging tools reducer?

[2020-03-05 14:49] PhotoNomad0 opened #6733 "Resolve various console warnings/errors"
Resolve warnings in console:

- DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
- that react life cycle methods are deprecated.

[2020-03-05 15:01] PhotoNomad0 opened #6734 "Improve performance of loading tCore Locales (In other words, make tC startup time faster)"
**Note:** Only seeing seeing the slow performance when redux-logger is enabled.

Loading locales is much slower in latest electron when redux-logger is enabled. Need to determine cause.

~Seems to be due to using requires() to load `nonTranslatable.js`.  The requires() seems to be very slow compared to reading a json file.  Maybe either convert to json file or do an import.~ <= this fix was made f

[2020-03-05 15:10] mannycolon commented on #6678
Verified on a84ebd0.

[2020-03-05 15:16] jag3773 opened #6735 "SPIKE: Sign Mac Builds"
So that our users don't have to keep going into security settings to allow launching of tC, it would be quite nice if we signed our builds that we distribute for Mac.

[2020-03-05 18:49] mannycolon opened #6736 "Dev Professional Development Meeting Preparation (March 19, React Lifecycle Deprecation)"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] https://reactjs.org/blog/2019/08/08/react-v16.9.0.html
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-03-06 21:17] PhotoNomad0 commented on #6675
Verified in translationCore 2.2.0 (69c6077)

[2020-03-09 12:26] PhotoNomad0 commented on #6729
Found a thread that may be helpful: https://github.com/facebook/create-react-app/issues/6891

a couple of work-arounds suggested including switching to installing npm packages using yarn which makes sense, since react create uses yarn.

Versions:
electron 6.0.7
chrome 76.0.3809.139
node 12.4.0

[2020-03-09 12:42] PhotoNomad0 commented on #6729
Tried:
[code]
 and got error:
[code]
 Currently have node: v8.16.1

Installed same node version as electron 6.0.7:
[code]

[2020-03-09 12:52] PhotoNomad0 commented on #6729
Now can run unit tests. To set up, need to first install Node.js v12.4.0 and then do:
[code]

`yarn` takes the place of `npm i`.

Now can run unit tests by doing `yarn test`

Note: currently have yarn v1.9.4 on PC

[2020-03-09 13:12] PhotoNomad0 commented on #6729
Unfortunately now the app will throw errors when I try to do npm start:
[code]

[2020-03-09 13:48] PhotoNomad0 commented on #6729
Upgraded to `react-scripts@3.4.0` and no longer seeing the errors on yarn start, but now seeing tCore start to empty screen - nothing is running.

[2020-03-09 14:05] elsylambert commented on #6678
Not seeing the issue in 2.2.0 (a84ebd0).  Verse edit indications are persisted in multiple checks in verse.

[2020-03-09 14:15] PhotoNomad0 commented on #6729
Tried various node versions on PC
- node-v11.15.0 & cross-env@7.0.2 - no Tc, yarn tests run.
- node-v8.16.1 & cross-env@v6.0.3 & react-scripts@3.3.1 - no longer runs. turned out package-lock.json was missing an entry.  Now have running again when I reset package.json and package-lock.json to original and do npm ci (looks like packages are being automatically promoted that cause breakage).
  - was

[2020-03-09 14:22] elsylambert commented on #6675
2.2.0 (a84ebd0).
1. Edit icon now appears in wA when the edit is performed in the check pane or scripture pane of tN or tW.
2. When edit is done in wA, the edit icon does not appear in tN or in tW.

[2020-03-09 14:22] elsylambert commented on #6675
This issue still exists in  2.2.0 (a84ebd0)..When edit is done in wA, the edit icon does not appear in tN or in tW.

[2020-03-09 15:24] cckozie opened #6739 "The "There is a problem with the content for this check" alert is wrongly displayed when loading a project in tW"
2.2.0 (69c6077)
[projects.zip](https://github.com/unfoldingWord/translationCore/files/4307492/projects.zip)
[6739.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4307499/6739.mp4.zip)
1. Unzip the projects.zip file into your projects folder
2. Load the Titus project in tW
3. Navigate to verse 1:15 in the group "pure"
4. Navigate to verse 2:5 in the group "pure"
5. Return to the Pro

[2020-03-09 15:59] cckozie commented on #6678
Looks good in 2.2.0 (69c6077)

[2020-03-09 16:09] cckozie commented on #6676
Not seeing the original problem or the "check data could not be loaded" error in 2.2.0 (69c6077)

[2020-03-09 16:14] cckozie commented on #4538
All child projects have passed QA.

[2020-03-09 18:25] cckozie opened #6740 "Remove the X on the alert dialog(s) header bar"
We should always force the user to choose from the options on the available buttons. The user will have no way of knowing what will happen if he dismisses the dialog by clicking the X.

[2020-03-09 19:48] PhotoNomad0 commented on #6729
~**Note:** for now, found a test work-around to get unit tests to run:  stick with using `npm ci` to install packages and then delete fsevents from node_modules - looks like it is pulled in by react-scripts.~

[2020-03-09 21:14] cckozie opened #6742 "Alignment percentage shows 100% after import with overwrite has invalidated alignments"
2.2.0 (69c6077)
[projects.zip](https://github.com/unfoldingWord/translationCore/files/4308955/projects.zip)

1. Unzip the projects.zip file on your local drive
2. Import the 57-TIT3full.usfm project
3. Note that the wA tool card indicates that it is 100% aligned and has no invalidations
4. Import the 57-TIT.usfm project giving it the same language and translation id as in step 2
5. Choose the Over

[2020-03-10 11:51] PhotoNomad0 commented on #6675
@elsylambert - It looks like you are using an older build than  2.2.0 (69c6077).  That was the build I verified it in, and it is the latest.  I'll double check that it is working.

[2020-03-10 13:00] elsylambert commented on #6675
Verified in 2.2.0 (69c6077). Not seeing the mentioned issue. Edits icons are seen in tN and tW after the edits are made in wA.

[2020-03-10 14:12] PhotoNomad0 commented on #6657
**Note:**
moving current work into sandbox-electronite branch

[2020-03-10 14:14] PhotoNomad0 commented on #6732
Seeing crash once user has been set. Seems to be crashing in `redux-logger`. Can get to work by setting diff to false in options. Log:
[code]

[2020-03-10 15:56] cckozie opened #6743 "Edit icons are not always displayed on edited verses"
2.2.0 (69c6077)
SCENARIO A: Edit icons are not displayed on verses in tN when edits are made in the check pane of tW
1. Load a project in tW (I used a Titus project)
2. Edit a non-edited verse in the check pane (I edited 1:6 in the 'accuse' group)
3. Note that the edit icon does appear on the verse
4. Load the project in wA
5. Note that edit icon does appear on the verse
6. Load the project in tN

[2020-03-10 16:00] cckozie commented on #6675
2.2.0 (69c6077)

Edit icons are not being displayed in tN when edits are performed in tW, and vice versa. Wrote this up in a new issue #6743

[2020-03-10 16:29] cckozie opened #6744 "Verse edits are not persisted when performed in the scripture pane of tN or tW and not on the verse in the selected check"
2.2.0 (69c6077)
1. Load a project with no edits in tN or tW
2. Open the expanded scripture pane
3. Edit a verse that is not the one selected in the check
4. Select a reason code and click Save
5. Note that the edit is not persisted in the expanded scripture pane
6. Navigate to a check that includes the edited verse
7. Note that the edit icon is displayed on the check, but the edit is missing

[2020-03-10 16:55] cckozie commented on #6675
2.2.0 (69c6077)
Verse edits now are not persisted when the edit is performed in the scripture pane of tN or tW, and the verse being edited is not the one that is in the selected check. I believe this broken by this fix because it was working properly in the 2.2.0 (a84ebd0) build.
1. Load a project with no edits in tN or tW
2. Open the expanded scripture pane
3. Edit a verse that is not the one sel

[2020-03-10 16:59] cckozie commented on #6744
Wrote this up as a failure on #6675 since it was broken by that fix.

[2020-03-10 16:59] #6744 closed, assigned to nobody

[2020-03-10 17:40] birchamp opened #6746 "Ignore non-Bible book USFM files"
Extra files, such as front matter, like A0-FRT.usfm (https://git.door43.org/unfoldingWord/hbo_uhb), should be ignored by tC.

See discussion: https://unfoldingword.zulipchat.com/#narrow/stream/212547-SOFTWARE.2FtC/topic/tc-source-content-updater.20breakage

[2020-03-10 18:41] PhotoNomad0 commented on #6732
Note: Error is happening after first tool (tN) is added.  If I disable load of tN, then app continues until call to open option dialog.

[2020-03-10 19:33] RobH123 commented on #6746
Ideally it should handle book codes in https://ubsicap.github.io/usfm/master/identification/books.html differently from those that are not in there, i.e., ignore unneeded but valid book codes, but flag wrong book codes.

[2020-03-10 20:33] mannycolon commented on #6656
Alert message

"Changes have been detected in your project which have invalidated some selections and some alignments. These verses display an icon of a broken chain next to the reference in the side menu."

[2020-03-11 09:20] da1nerd commented on #6237
ok I've implemented number 3. See this PR https://github.com/unfoldingWord/translationCore/pull/6748

[2020-03-11 13:30] PhotoNomad0 commented on #6669
@neutrinog What size did you see after you installed the build on your Mac?

[2020-03-11 14:58] elsylambert opened #6750 "Edits done outside the verse markers are not saved"
If the edit is done after the verse markers like "\s5" , "\s5 test edit", it does not save the edit but only when done within the marker.
But in some cases like "\p", it saves the edit when done after the verse marker "\p test edit".

We should save any edits done after those markers so that it could be properly rendered in other app that support usfm.

[2020-03-11 15:51] PhotoNomad0 commented on #6656
verified in translationCore 2.2.0 (7c41d6c)

[2020-03-11 15:52] PhotoNomad0 commented on #6675
Looks like it was applying the edit to the current verse, not the edited verse.

Verified fix in translationCore 2.2.0 (7c41d6c)

[2020-03-11 15:54] PhotoNomad0 commented on #6709
Verified in translationCore 2.2.0 (7c41d6c)

[2020-03-11 16:45] elsylambert commented on #6675
2.2.0 (7c41d6c).
Edit Icon not persisted in tN when edit is made in tW and vice-versa, either from scripture pane or check pane.  However, the edited text is saved.
<img width="1486" alt="Screen Shot 2020-03-11 at 12 28 43 PM" src="https://user-images.githubusercontent.com/51806180/76441682-34c82e80-6396-11ea-84ce-b89d98473dae.png">

[2020-03-11 16:54] PhotoNomad0 commented on #6675
@elsylambert -  I think what you are seeing is the same as the issue that @cckozie opened - edits between TN and TW - https://github.com/unfoldingWord/translationCore/issues/6743

[2020-03-11 17:05] elsylambert commented on #6675
2.2.0 (7c41d6c). The issue as mentioned in the last comment from koz is not happening. The edited texts are saved when edits are performed in scripture pane and  edits are persistent in the scripture pane and check pane.

[2020-03-11 17:36] elsylambert commented on #6656
2.2.0 (7c41d6c). Not seeing the issue regarding the Selection Invalidation alert popping up when no selection has been invalidated.

But, when the selection is invalidated, there is no Invalidation Icon on the invalidated verse.
- Open the tW tool, make a selection for a check and save.
- Open tN tool, edit the same verse , changing the text which was selected in step 1.
- Open tW, we get the sele

[2020-03-11 18:58] mannycolon opened #6751 "Change from yarn back to NPM on the Electronite sandbox"

[2020-03-11 19:01] mannycolon commented on #6656
@elsylambert Isn't this related to #6675?

[2020-03-11 19:05] PhotoNomad0 opened #6752 "Update sandbox-electronite with latest changes from develop branch"

[2020-03-11 19:07] PhotoNomad0 opened #6753 "SPIKE []: Need long term solution for dynamically loading tools."
For webpack, made change to use hardcoded paths for loading tools.  May need to find better long-term solution.

[2020-03-11 19:14] PhotoNomad0 commented on #6732
Note:

For now have work-around in configureStore.js:
[code]

[2020-03-11 19:17] PhotoNomad0 commented on #6728
This is duplicate of https://github.com/unfoldingword/translationcore/issues/6726

[2020-03-11 19:17] #6728 closed, assigned to nobody

[2020-03-11 19:23] elsylambert commented on #6656
@mannycolon #6675 was about edit icons. For this issue, tested that when there are no invalidations there should not be the alert popping up, which is working fine.
But when there are invalidations, the alert should be displayed (this is working fine)and the invalidation icon should appear on the verse(This is not working).

[2020-03-11 19:27] cckozie commented on #6675
Edits are persisted in 2.2.0 (7c41d6c), but the original problem with the edit icons is only half fixed.
The edit icon is now displayed in wA when edits are performed in the check pane of either tN or tW.
When edits are performed in the scripture pane of tN or tW on a verse that is not the selected verse in the check, the edit icon is not being displayed in wA.

[2020-03-11 21:01] mannycolon commented on #6729
Notes:

- https://www.npmjs.com/package/@craco/craco
- https://medium.com/@andrew.rapo/using-create-react-app-craco-to-build-apps-for-both-the-web-and-electron-8f4ab827877f
- https://dev.to/loribbaum/converting-a-create-react-app-using-craco-to-typescript-53b0

[2020-03-11 21:02] mannycolon commented on #6751
Notes:

- https://www.npmjs.com/package/@craco/craco
- https://medium.com/@andrew.rapo/using-create-react-app-craco-to-build-apps-for-both-the-web-and-electron-8f4ab827877f
- https://dev.to/loribbaum/converting-a-create-react-app-using-craco-to-typescript-53b0

[2020-03-12 08:44] da1nerd commented on #6627
I've fixed the two issues described above in this PR https://github.com/unfoldingWord/wordAlignment/pull/254

[2020-03-12 11:16] PhotoNomad0 commented on #6732
Note:

The work-around failed when I selected an app.  Turning off for now - will need to fix later.

![Screen Shot 2020-03-12 at 7 14 21 AM](https://user-images.githubusercontent.com/14238574/76516198-5e826380-6431-11ea-8425-cfdc4fa738ff.png)

[2020-03-12 11:26] PhotoNomad0 commented on #6724
**Note:**

Fixes needed:
- [x] file system dialog not showing up on USFM export and import local project.
...

[2020-03-12 11:54] da1nerd commented on #6661
Made some progress on a packager package. Repo at https://github.com/unfoldingWord-box3/electronite-packager.
It's correctly using electronite, but I'm receiving some errors after building (can't find electronite). It seems that for some reason the electronite package is not being included in the build even though it's in the dependencies and not devDependencies.

[2020-03-12 12:47] cckozie opened #6756 "Need performance enhancement when importing with overwrite"
[Luke.zip](https://github.com/unfoldingWord/translationCore/files/4216090/Luke.zip)
1. Import the luke.usfm file in the attached zip
2. Import the Re-Import_Luke.USFM file in the attached zip giving it the same language code (hi) and the same translation id of the original project and choosing the Overwrite options.
This reimport takes a really long time

[2020-03-12 14:39] cckozie opened #6757 "Problems with edit and broken link icons being displayed after verse edits"
Every time a verse is edited, the edit icon needs to be displayed on the verse in every tool.
Every time a verse edit invalidates an alignment, the broken link icon needs to be displayed on the verse in wA.
Every time a verse edit resets a selection, the broken link icon needs to be displayed on the verse in tN and/or tW.
Each of these requirements needs to be met regardless of where the edit occu

[2020-03-12 16:32] cckozie opened #6758 "Critical error screen when opening project in wA"
2.2.0 (7c41d6c)
SEE ALSO: #5960 and #6435
SCENARIO 1:
[projects.zip](https://github.com/unfoldingWord/translationCore/files/4325345/projects.zip)
1. Unzip the attached file into the projects folder
2. Select the Acts project and load it in wA
3. Navigate to verse 19:41
4. Return to the projects page
5. Select the Titus project and load it in wA
Note the critical errors screen
[Thu Mar 12 2020.log.

[2020-03-13 07:07] da1nerd commented on #6661
I think the problem is that my demo application does not run the main.js through webpack, so it's not resolving the electronite import to the node module.

[2020-03-13 12:16] PhotoNomad0 commented on #6752
finished

[2020-03-13 12:16] #6752 closed, assigned to PhotoNomad0

[2020-03-13 13:22] PhotoNomad0 commented on #6723
~@mannycolon @birchamp - Don't think this is needed anymore - we are past this.~

according to @mannycolon this is still needed.

[2020-03-13 14:35] PhotoNomad0 opened #6762 "Current verse failure switching between books"
## Story Explanation
### User Story

See this error in develop after I open en_ust_jdg_book, launch WA, edit 6:27, Then open a Titus project and launch WA.  It looks like the current verse (contextId) is not being updated (or maybe not soon enough) when project changes, so it was trying to open chapter 6:27 in Titus.

![Screen Shot 2020-03-13 at 10 05 37 AM](https://user-images.githubusercontent.c

[2020-03-13 14:39] PhotoNomad0 commented on #6627
Verified in 2.2.0 (5170810)

[2020-03-13 14:39] PhotoNomad0 commented on #6237
Verified in Verified in 2.2.0 (5170810)

[2020-03-15 14:18] da1nerd commented on #6726
fyi I'm currently working on an `electronite-packager` that will replace our use of `electron-packager`. So there might need to be a dependency link with issue #6661

[2020-03-16 11:29] elsylambert commented on #6627
2.2.0 (2375ae5).
Issue A: is resolved: Hover-over a long word does not overlap the other words and goes away when the word is dragged for alignment.
Issue B-is resolved: The spaces between the Words in word bank looks fine.

[2020-03-16 12:01] PhotoNomad0 commented on #6725
Process environment variables not visible in development mode.  On windows and Mac only see `process.env:  {"NODE_ENV":"development","PUBLIC_URL":""}`

One effect of this is that we are getting an error running on windows. ospath.data() resolves to `path.resolve(process.env.APPDATA)` on WIndows, and APPDATA is undefined.

Runtime Error seen on windows:
[code]

[2020-03-16 13:36] elsylambert opened #6764 "Hover over is not shown on long words in wA immediately after creating them by edits made in Scripture pane"
When a verse is edited from the scripture pane, the extra long words do not show the hover -over until the word is dragged to the alignment area and then dragged back to the word bank.
However, When the verse is edited(added an extra long word) from another tool, the hover over shows up and works as expected. Only when it is added from wA, it does not show at first.

Steps to replicate:
1. Open wA

[2020-03-16 16:13] cckozie commented on #6709
@PhotoNomad0 - I had trouble trying to figure out a legitimate test for this. Here's what I tried and the results I found:
1. Deleted the translationCore folder
2. Started tC 2.1
3. Ended tC
4. Copied off the resources/en folder
5. Started 2.2.0 (2375ae5)
6. Imported an aligned Titus project
7. Without ending tC, I replaced the resources/en folder with the one from 2.1
8. Opened the Titus project

[2020-03-16 16:28] cckozie commented on #6627
2.2.0 (2375ae5)
Both issues have been resolved. Related issue written up in #6764

[2020-03-16 17:57] cckozie commented on #6237
2.2.0 (2375ae5)
Seeing suggestions in 6:27 now, and it looks like they're all in the correct order.
![image](https://user-images.githubusercontent.com/8171759/76799990-ab9f6600-67a0-11ea-8928-0f9793fc0334.png)

[07-JDG.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4340415/07-JDG.usfm.zip)
7:9 has the third occurrence of "that" and "to" suggested instead of the second occurrences

[2020-03-16 20:48] cckozie commented on #6709
Per Bruce: It does look like it needs more work - I think I had tunnel vision and was only working on making sure the original language resources were updated.
Failing this based on the above. Moving it out of the sprint for now.

[2020-03-16 21:16] cckozie commented on #6237
@neutrinog - Are the wrong order occurrences in 7:9 above expected?

[2020-03-17 09:27] da1nerd commented on #6237
@cckozie nope that's definitely due to a bug in the code. It took awhile to track down, but now that I've found it, it should be pretty easy to fix.

[2020-03-17 12:24] da1nerd commented on #6237
well.. I was able to fix the problem. Strangely enough, I was able to recreate the problem in a unit test and have fixed it there, but when I use the update in translationCore there's no difference. At least now the logs tell you want's going on. I'll try sleeping on it.

[2020-03-17 12:55] cckozie commented on #6762
Added this as a scenario on #6758

[2020-03-17 12:55] #6762 closed, assigned to nobody

[2020-03-17 13:55] PhotoNomad0 opened #6765 "Later cleanup tasks"
- review main.js commented sections to see if still needed.
- in main.js, `ipcMain.on('open-helper'...` for showing URL -- determine if it works or is even still used.
- currently using patch file `ospath-extra` need to investigate if there is a better approach.
- look for other usage of process.env in tCore to see if they need to use remote process.env.

[2020-03-17 13:59] PhotoNomad0 opened #6766 "Need to fix use of ospath in tools"
ospath makes use of environment variables that are no longer defined in process.env at client level.  tCore has fix now,  but still need to fix tools.  They probably shouldn't be using ospath since all their access should be relative to project path.  Need to fix:
- [ ] WA
- [ ] checking-tool-wrapper

[2020-03-17 19:05] #5407 closed, assigned to PhotoNomad0

[2020-03-17 19:05] #6671 closed, assigned to PhotoNomad0

[2020-03-17 19:06] #6678 closed, assigned to PhotoNomad0

[2020-03-17 19:06] #6676 closed, assigned to PhotoNomad0

[2020-03-17 19:06] #4538 closed, assigned to nobody

[2020-03-17 19:07] #6681 closed, assigned to mannycolon

[2020-03-17 21:40] PhotoNomad0 commented on #6732
Tried limiting depth of logging, but still crashed at ADD_NEW_BIBLE_TO_RESOURCES with ult, but it didn't crash with adding tools.

Hard to debug redux-logger module since it is web-packed, so checking out the source for the module and stepping through it.  It does seem to be crashing on printing the action.  Maybe need to limit the action object?

[2020-03-18 11:53] PhotoNomad0 commented on #6726
@neutrinog - I tried doing build using new script `npm run build` (see sandbox-electronite branch) and it failed with javascript out of heap memory.  Then I ran again after setting environment variable: `export NODE_OPTIONS=--max-old-space-size=4096` and it completed creating a translationCore.app.  When I ran this app I got an error:
[code]

It looks like we might be quite close.

[2020-03-18 12:32] da1nerd commented on #6661
for posterity here's my error.

[code]

Since everything under `./public` is copied into `./build` and not ran through webpack, it's missing the npm dependencies.

[2020-03-18 12:33] da1nerd commented on #6726
This is the same thing that's currently blocking me from finishing #6661.
We need to get main.js to be processed by webpack in order for it to pull in all of the dependencies. See https://github.com/unfoldingWord/translationCore/issues/6661#issuecomment-600595316 it's the same error, just different module since I'm using a bare project template.

I'm not sure what's up with your heap memory though

[2020-03-18 12:52] PhotoNomad0 commented on #6732
If I use an actionTransformer and stateTransformer in redux-logger to limit depth level to 6 - not seeing a crash.  But if I set to 7, see a crash on adding tools.  Doesn't seem like runaway recursion as far as redux logger is concerned.  So it looks like this is only masking the problem.

[2020-03-18 13:37] mannycolon opened #6768 "Make eslint work with craco"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-03-18 13:38] mannycolon commented on #6768
https://github.com/gsoft-inc/craco/tree/master/recipes/use-an-eslintrc-config-file

[2020-03-18 13:38] birchamp opened #6769 "Adjust tC build process for Electron 6.0.7"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-03-18 13:58] mannycolon commented on #6769
We need to adjust the tCore build scripts to work with the `sandbox-electronite` branch.

**Note:** this is for **building** only, unit tests are a separate issue.

**Current State:**
If I add the script back into package.json `"release-osx": "npm i && gulp clean && npm i && npm run load-apps && gulp build --osx && gulp release --osx",` I get the following error:

[code]

[2020-03-18 14:01] PhotoNomad0 commented on #6769
@neutrinog - I tried doing build using new script `npm run build` (see sandbox-electronite branch) and it failed with javascript out of heap memory.  Then I ran again after setting environment variable: `export NODE_OPTIONS=--max-old-space-size=4096` and it completed creating a translationCore.app.  When I ran this app I got an error:
[code]

It looks like we might be quite close.

[2020-03-18 14:04] mannycolon opened #6770 "Configure craco to allow better Webpack code mapping"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-03-18 14:12] PhotoNomad0 commented on #6769
Feedback from Joel:

ah I know what the problem is. I'm actually trying to solve the same problem. Right now main.js isn't processed with webpack. So none of the dependencies get sucked in.

I first discovered that problem when building with my unpublished version of electronite-packager. Everything works except that none of the node module dependencies used in main.js are packaged.
I'm currently

[2020-03-18 14:15] PhotoNomad0 opened #6771 "Remove webpack from modules to improve debugging"
Currently debugging is very slow in checking-tool-wrapper and tc-ui-toolkit due to webpack.

Now that all of tCore will be webpack'd, we no longer need the above modules to be webpacked.  So it would be good to update the scripts to no longer run webpack before publishing the checking-tool-wrapper and tc-ui-toolkit.

[2020-03-18 19:53] PhotoNomad0 commented on #6732
Notes:
- There seems to be several problems that cause the crash:

  1. circular references in reducers
  2. deeply nested objects that causes problems with chromium console.
  3. opening large projects like acts cause low memory warning in chromium.

[2020-03-18 22:10] elsylambert commented on #5276
This feature is yet to be implemented.

[2020-03-18 22:13] elsylambert commented on #5328
Not seeing this issue in Mac machine.
This happens in Windows Build  2.2.0 (2375ae5).

[2020-03-18 22:22] elsylambert commented on #5301
2.2.0 (2375ae5).
Steps to replicate:
1. open a project in tC.
2. from the tC folder, delete the project file.
3. tC still shows the deleted project in the Project Page, but user cannot launch the project. The error message comes and goes away "cannot convert undefined object to null".

There should be a warning message when a Project file in-use is deleted.

[2020-03-19 12:31] PhotoNomad0 commented on #6731
Notes:
- wA:
  - alignment area height of 100% is trumping flex layout
  - fix scrollbar for scripture pane (default behavior is different between mac and windows)

[2020-03-20 10:17] da1nerd commented on #6661
I've managed get main.js to compile with webpack so that electronite get's bundled.

Here's basically what the file structure looks like. `src` and `electron` get compiled independently before we finally compile the full application.
![image](https://user-images.githubusercontent.com/166412/77154153-bbcf8200-6acd-11ea-8ccf-75e444ae726b.png)

However, I don't like having the extra webpack.config.js

[2020-03-20 12:26] jag3773 commented on #5276
It is still true that as we move to Catalog Next and SB integration the metadata will include this information.  Note the [`generator` and `uploader` sections](https://github.com/bible-technology/scripture-burrito/blob/develop/docs/examples/artifacts/textTranslation.json#L6-L16).

cc @richmahn

[2020-03-20 16:51] #6736 closed, assigned to mannycolon

[2020-03-20 17:44] mannycolon opened #6777 "Make prettier work with craco"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-03-23 17:26] elsylambert commented on #5702
Not an Issue in 2.2.0 (2375ae5).

[2020-03-24 09:20] da1nerd commented on #6661
I've finished creating the electronite packages. https://www.npmjs.com/package/electronite and https://www.npmjs.com/package/electronite-packager.

The complications with properly compiling the electron main.js file have been resolved and placed into this template repo https://github.com/neutrinog/react-app-electron-template. That will also help with problems in #6726

[2020-03-24 10:21] da1nerd commented on #6237
I went ahead and put in a PR for this at https://github.com/unfoldingWord/translationCore/pull/6784.

Through some painful debugging and manually constructing input data I was able to discover and fix some more bugs in wordMAP. However, the issue above still remains.
I've gotten to the point where I need to replicate the wordMAP environment as seen in production. But that's not sustainable unless

[2020-03-24 19:47] elsylambert commented on #5343
Issue still exists in 2.2.0 (2375ae5).

[2020-03-24 19:48] #5702 closed, assigned to nobody

[2020-03-24 20:07] elsylambert opened #6785 "Selection Invalidation Link icon is missing on the invalidated verse"
2.2.0 (2375ae5).
when the selection is invalidated, there is no Invalidation Icon on the invalidated verse.

- Open the tW tool, make a selection for a check and save.
- Open tN tool, edit the same verse , changing the text which was selected in step 1.
- Open tW, we get the selection invalidation alert, but cannot find the invalidated icon on the verse. As a result of the icon not displayed, the

[2020-03-24 20:10] elsylambert commented on #6656
Separating the findings on Selection invalidation to #6785.

The issue regarding the selection Invalidation alert has been resolved.

[2020-03-24 20:15] elsylambert commented on #5813
Issue regarding the Tool card %  after the edits still exists in 2.2.0 (2375ae5). Should be fixed with #6785.

[2020-03-24 21:28] PhotoNomad0 commented on #5343
So the question is for how the developers to reproduce.

[2020-03-24 22:03] cckozie commented on #6717
No longer seeing 2 checks for 3:18 under God in 2.2.0 (2375ae5) . Closing this issue.

[2020-03-24 22:03] #6717 closed, assigned to nobody

[2020-03-24 22:27] cckozie opened #6786 "Two checkmarks are added to tN and tW menu tiles when 'No selection needed' checkbox is checked"
2.2.0 (2375ae5)

1. Open any project in tN or tW
2. Select a check and click on the 'No selection needed' checkbox
3. Click the Save button
4. Note that the checkmark is added to the check, and when hovered over, the tooltip shows 2 checkmarks

[2020-03-24 22:30] cckozie commented on #6785
Adding this to the edit and broken link icons epic.

[2020-03-24 22:35] cckozie commented on #5683
No longer a problem in 2.2.0 (2375ae5)

[2020-03-24 22:35] #5683 closed, assigned to nobody

[2020-03-24 22:38] cckozie commented on #2262
Still exists in 2.2.0 (2375ae5)

[2020-03-24 22:40] cckozie commented on #2829
Problem still exists in 2.2.0 (2375ae5)

[2020-03-24 22:42] cckozie commented on #2935
Fixed in x2.2.0 (2375ae5)

[2020-03-24 22:42] #2935 closed, assigned to nobody

[2020-03-24 22:50] cckozie commented on #5157
Still exists in 2.2.0 (2375ae5)
![image](https://user-images.githubusercontent.com/8171759/77484185-e3895780-6df7-11ea-9596-ff0a5bedbcdc.png)

[2020-03-24 23:13] cckozie commented on #5043
No change in 2.2.0 (2375ae5)

[2020-03-24 23:17] cckozie commented on #4913
No change in  2.2.0 (2375ae5)

[2020-03-24 23:24] cckozie commented on #4798
No change in 2.2.0 (2375ae5)

[2020-03-25 13:16] PhotoNomad0 commented on #6724
Waiting for electronite

[2020-03-25 13:17] birchamp opened #6787 "Integrate Electronite into tC"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-03-25 13:19] PhotoNomad0 commented on #6734
Blocked by #6732

[2020-03-25 13:27] #6657 closed, assigned to nobody

[2020-03-25 13:42] birchamp commented on #6723
This POC is needed because tC is so complex and this allows us to isolate the specific Electron features so you can see if that is what is breaking. It will allow us to test Electron features without questioning if it's something else in tC.  Therefore the additions should be done incrementally to confirm that they work as they are added.

- The POC should test:
- [x] Splash screen
- [x] import/ex

[2020-03-25 13:45] birchamp opened #6788 "Validate rendering of complex scripts"
Burmese and the MENA region have been identified as needing complex script support in tC.
For reference see #6879 and [SIL's Graphite demo page](https://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_fontdemo)

For Burmese/Myanmar:
 - [Font files](https://software.sil.org/padauk/download/)
- [test project ](https://git.door43.org/birch/my_jud_tit_book), USFM file: [57-TIT_m

[2020-03-25 16:31] cckozie commented on #6685
The problems have changed in 2.2.0 (2375ae5)
When the attached project is selected, the Names category now shows as being checked on the tW tool card, and the % complete shows 41% with 41 invalidations.
When all categories on the tW tool card are all unchecked, the % complete now shows 40% with 39 invalidations
![image](https://user-images.githubusercontent.com/8171759/77560968-19781b80-6e8c-11ea-

[2020-03-25 16:44] cckozie commented on #6405
Unable to duplicate in 2.2.0 (2375ae5), but am leaving it open in case the problem is reported again.

[2020-03-25 16:52] elsylambert commented on #5960
Still an issue in 2.2.0 (2375ae5)

[2020-03-25 17:01] cckozie commented on #6646
No longer a problem in 2.2.0 (2375ae5)

[2020-03-25 17:04] cckozie commented on #6462
Still a problem in 2.2.0 (2375ae5)

[2020-03-25 17:09] elsylambert commented on #5969
Not seeing this issue in 2.2.0 (2375ae5).
@cckozie do you have a project with footnote in UGNT?

[2020-03-25 17:13] elsylambert opened #6790 "Critical Error screen when working on wA tool"
2.2.0 (2375ae5).
Got two critical error screens on two different projects, both while moving down the chapters in wA.
Here is the project:
[hi_irv_act_book.zip](https://github.com/unfoldingWord/translationCore/files/4382399/hi_irv_act_book.zip)

<img width="1792" alt="Screen Shot 2020-03-25 at 1 05 18 PM" src="https://user-images.githubusercontent.com/51806180/77565636-e7ba8100-6e9a-11ea-9c48-8a4d

[2020-03-25 17:38] elsylambert commented on #6790
Here is the log file:
[Wed Mar 25 2020.log.zip](https://github.com/unfoldingWord/translationCore/files/4382493/Wed.Mar.25.2020.log.zip)

[2020-03-25 18:12] cckozie commented on #5969
@elsylambert - John 5:3 and 5:4 both have footnotes in the UGNT (not displayed in tC), but since we are now include the texts for the disputed verses, the UGNT pane is no longer blank.
I think we can close this since we will probably not run into the situations described in the original comment any more.

[2020-03-25 18:18] cckozie commented on #6644
Same behavior in 2.2.0 (2375ae5)

[2020-03-25 18:23] cckozie commented on #6036
The problem still exists in the UGNT and ULT panes in 2.2.0 (2375ae5)

[2020-03-25 18:30] cckozie commented on #6634
Still a problem in  2.2.0 (2375ae5)

[2020-03-25 18:52] cckozie commented on #6630
Not seeing the problem in 2.2.0 (2375ae5)

[2020-03-25 18:52] #6630 closed, assigned to nobody

[2020-03-25 18:59] cckozie commented on #4783
In 2.2.0 (2375ae5), importing https://git.door43.org/tcsave/en_ult_luk_book takes 3:20 to import.

[2020-03-25 19:01] cckozie commented on #6625
I have seen it a couple times in 2.2.0 (2375ae5)

[2020-03-25 19:04] cckozie commented on #6786
Dup of #6616

[2020-03-25 19:04] #6786 closed, assigned to nobody

[2020-03-25 19:05] cckozie commented on #6616
Still a problem in 2.2.0 (2375ae5)

1. Open any project in tN or tW
2. Select a check and click on the 'No selection needed' checkbox
3. Click the Save button
4. Note that the checkmark is added to the check, and when hovered over, the tooltip shows 2 checkmarks

[2020-03-25 19:07] cckozie commented on #6606
Still a problem in 2.2.0 (2375ae5)

[2020-03-25 19:09] cckozie commented on #6601
Not seeing this in 2.2.0 (2375ae5)

[2020-03-25 19:09] #6601 closed, assigned to nobody

[2020-03-25 19:11] cckozie commented on #6596
Still a problem in 2.2.0 (2375ae5)

[2020-03-25 19:30] #5969 closed, assigned to nobody

[2020-03-25 19:31] elsylambert commented on #5971
Closing this issue. Not seeing in 2.2.0 (2375ae5).

[2020-03-25 19:31] #5971 closed, assigned to nobody

[2020-03-25 19:41] elsylambert commented on #6075
Still a problem in 2.2.0 (2375ae5).

[2020-03-26 03:09] da1nerd commented on #6351
Two link formats need to be supported.

* RC links `[Metaphor](rc://en/ta/man/translate/figs-metaphor)`
* Markdown links `[Titus 1:13](../01/13/je3r)`

[2020-03-26 12:11] PhotoNomad0 commented on #6732
Note:

This may be caused by REACT_DEVELOPER_TOOLS.  When redux-logger has objects below certain depth get message that `devtools was disconnected from the page`.

[2020-03-26 12:27] PhotoNomad0 commented on #6727
**Note:** Partially completed

Working now in developer mode for:
- WIndows 10
- MacOS (pre Catalina - splash screen not shown because it depends on opening bowser)
- Linux Mint
- Kubuntu

Still need to do:

- [ ] make sure splash screen works in production builds.
- [ ] Add correct font to startup screen.

[2020-03-26 17:38] cckozie commented on #6656
2.2.0 (2375ae5) Not seeing invalidations message when no invalidations occurred.

[2020-03-26 19:24] cckozie opened #6791 "2.2.0 loses existing tN selections on projects imported from Door43"
2.2.0 (2375ae5)
https://git.door43.org/TC_SAVE/en_ult_3jn_book
When the above project is imported into tC 2.1.0 the tN card shows 100% complete(which is accurate. All checks are completed)
When that 2.1.0 environment is upgraded to 2.2.0, the tN card shows 61% (which is accurate, some completions do not show, but there are no invalidations)
When the project is imported into 2.2.0, the tN card show

[2020-03-26 20:37] cckozie commented on #6583
Cannot test in 2.2.0 (2375ae5) because of bugs related to #6757

[2020-03-26 20:40] cckozie commented on #5959
I'm closing this based on McLeans comment and the fact that we've had no field reports of the problem.

[2020-03-26 20:40] #5959 closed, assigned to nobody

[2020-03-26 20:44] cckozie commented on #6566
Problem still exists in 2.2.0 (2375ae5)

[2020-03-26 20:45] cckozie commented on #6565
Still a problem in 2.2.0 (2375ae5)

[2020-03-26 20:47] cckozie commented on #6564
Still a problem in 2.2.0 (2375ae5)

[2020-03-26 20:51] cckozie commented on #6562
Still a problem in 2.2.0 (2375ae5)

[2020-03-26 20:55] cckozie commented on #6530
May help in resolving #6595
In testing on 2.2.0 (2375ae5):
The project imports fine and I can load it in tN and wA
Attempting to load in tW caused the Critical Errors screen
After closing and restarting tC I am able to now load it in tW too.

[2020-03-26 21:04] cckozie commented on #6521
The problem still exists in 2.2.0 (2375ae5), however the timestamp on both edits is the same now.

[2020-03-26 21:05] cckozie commented on #6518
No change in 2.2.0 (2375ae5)

[2020-03-26 21:24] cckozie commented on #6504
Performance is worse in 2.2.0 (2375ae5)
[tC_performance.csv 4.zip](https://github.com/unfoldingWord/translationCore/files/4390019/tC_performance.csv.4.zip)

[2020-03-26 21:30] cckozie commented on #6493
In 2.2.0 (2375ae5) can no longer select just a space between words so I am no longer seeing this problem.

[2020-03-26 21:30] #6493 closed, assigned to nobody

[2020-03-26 22:09] cckozie opened #6792 "[12]SPIKE: Performance improvements when saving tW selections"
2.2.0 (2375ae5)
[43-LUK.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4390259/43-LUK.usfm.zip)

This test was run in tW on verse 3:9 in the 'bear' group saving the selection of the word 'were'
In 2.1 the average time to save was ~2.5 seconds
In 2.2 the average time to save was ~4.5 seconds

It appears to be a problem in tW only. In 2.2 the average time to save a check in tN was

[2020-03-27 07:17] da1nerd commented on #6351
It appears that the packages involved are [checking-tool-wrapper](https://github.com/unfoldingWord/checking-tool-wrapper), [tc-source-content-updater](https://github.com/unfoldingWord/tc-source-content-updater) and [tsv-groupdata-parser](https://github.com/unfoldingWord/tsv-groupdata-parser). I'm not certain which one of these has the main portion of code, but I would get the tsv-groupdata-parser.

[2020-03-27 07:18] da1nerd commented on #6351
Based on a conversation with Rich, it sounds like there are two issues that need to be resolved.
* Displaying the links properly
* Getting links to play nicely with the other UI components (e.g. opening up the resource when clicking a link).

[2020-03-27 14:41] cckozie commented on #6492
It's quite a bit better in 2.2.0 (2375ae5), but still pretty slow. It now takes 3 minutes and 40 seconds to import.

[2020-03-27 15:58] cckozie commented on #6481
No change in 2.2.0 (2375ae5)

[2020-03-27 16:07] cckozie commented on #4036
tC correctly reports verse with only a line feed, or white space and a line feed, as missing in 2.2.0 (2375ae5)

[2020-03-27 16:07] #4036 closed, assigned to nobody

[2020-03-27 16:11] cckozie opened #6793 "[2] SPIKE: Investigate why tC shows no GL available for tN in Jonah using latest resources"
Reported by Jesse.
Problem exists in 2.1, 2.1.1 and 2.2. English was available as a GL prior to downloading the latest en resources. I do not see anything in the Jonah tsv that is obviously bad.
![errors.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/acd474ec-087a-476a-85ab-effcbe00d02f)

[2020-03-29 22:22] elsylambert commented on #6116
Not seeing this issue in 2.2.0 (2375ae5). wA shows <1% when 2:1 is aligned and goes to 0% when the Alignment complete button is togged off.

[2020-03-29 22:22] #6116 closed, assigned to nobody

[2020-03-29 22:26] elsylambert commented on #6030
@PhotoNomad0 Is this still relevant?

[2020-03-29 22:33] elsylambert commented on #6057
Still a problem in 2.2.0 (2375ae5).

[2020-03-29 22:35] elsylambert commented on #6106
Not seeing this issue in 2.2.0 (2375ae5).

[2020-03-29 22:35] #6106 closed, assigned to nobody

[2020-03-29 22:37] elsylambert commented on #6119
Not seeing the in 2.2.0 (2375ae5).

[2020-03-29 22:37] #6119 closed, assigned to nobody

[2020-03-29 22:40] elsylambert commented on #6140
Not seeing this issue in 2.2.0 (2375ae5).

[2020-03-29 22:40] #6140 closed, assigned to nobody

[2020-03-29 22:48] elsylambert commented on #6146
2.2.0 (2375ae5).
Saw Alert Overlap while overwriting the Project for the duration of 2 Seconds.

[2020-03-29 23:02] elsylambert commented on #6189
Still an issue in 2.2.0 (2375ae5).

[2020-03-29 23:04] elsylambert commented on #6214
Not seeing this issue in 2.2.0 (2375ae5).

[2020-03-29 23:04] #6214 closed, assigned to nobody

[2020-03-30 13:19] PhotoNomad0 commented on #6732
Note:

Tried upgrading electron to 6.0.12 but same error, and then tried 6.1.9 which also gave an error.

[2020-03-30 15:15] cckozie commented on #6793
The problem was a missing book name in line 174 of the tsv in the catalog.
[en_tn_32-JON.tsv.zip](https://github.com/unfoldingWord/translationCore/files/4403770/en_tn_32-JON.tsv.zip)

[2020-03-30 15:24] cckozie opened #6795 "Provide pertinent user feedback in an alert when the resource download abends because of missing data element(s) in the tN tsv file."
See #6793 as an example.

[2020-03-30 15:30] cckozie commented on #3857
Problem still exists in 2.2.0 (2375ae5)

[2020-03-30 15:34] cckozie commented on #3914
Not seeing the same problem in 2.2.0 (2375ae5).
The 1tI project correctly does not show missing verses on import now.
When tested using the described process and replacing the 1TI project with one that does actually have missing verses, the missing verses screen is always displayed when the user selects to use the missing verses project.
However, when importing this project the missing verses scre

[2020-03-30 15:49] cckozie commented on #6471
In 2.2.0 (2375ae5) I am not seeing the Loading tool data alert even on the initial import. I think it may be related to the apparent processing being done behind the scenes (maybe updating the tool percentages and broken links?).
I will write up a new issue to deal with that background processing that is causing multiple problems in these large projects.

[2020-03-30 16:02] cckozie opened #6796 "Long delays to user activities on the tools page when using a large project"
2.2.0 (2375ae5)
1. Import this project https://git.door43.org/tcsave/en_ult_luk_book
2. When taken to the Tools page, immediately select English as the GL in tW and click its Launch button
3. Note that there is a significant delay before there is any indication of anything happening in the program.
(On my fastest Mac machine, the Loading tool data alert was not displayed)
4. After the project is l

[2020-03-30 16:17] cckozie commented on #6465
Still seeing this in 2.2.0 (2375ae5)
![image](https://user-images.githubusercontent.com/8171759/77936101-03959c80-7278-11ea-9fc5-a60f7596351f.png)

[2020-03-30 16:18] cckozie commented on #6463
No change in 2.2.0 (2375ae5)

[2020-03-30 16:24] cckozie commented on #6456
This appears to be fixed in 2.2.0 (2375ae5)

[2020-03-30 16:24] #6456 closed, assigned to nobody

[2020-03-30 16:26] cckozie commented on #6449
No change in 2.2.0 (2375ae5)

[2020-03-30 16:36] cckozie commented on #6440
Fixed in 2.2.0 (2375ae5)

[2020-03-30 16:36] #6440 closed, assigned to nobody

[2020-03-30 16:42] cckozie opened #6797 "Critical errors screen epic"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-03-30 16:54] cckozie commented on #6432
Not seeing this problem in 2.2.0 (2375ae5)

[2020-03-30 16:54] #6432 closed, assigned to nobody

[2020-03-30 16:56] cckozie commented on #6429
Not a problem in 2.2.0 (2375ae5)

[2020-03-30 16:57] #6429 closed, assigned to nobody

[2020-03-30 17:06] cckozie commented on #6425
Not seeing this problem in 2.2.0 (2375ae5)

[2020-03-30 17:06] #6425 closed, assigned to nobody

[2020-03-30 21:13] cckozie commented on #6419
Still a problem in 2.2.0 (2375ae5)
To recreate:
Set the locale to Portuguese, Brazilian and note the text in the time ago fields
Set the locale to Naga Pidgin and note that the text in the time ago fields is still the same

[2020-03-30 21:29] cckozie opened #6798 "tC sometimes appears to lose Greek words when unmerging them"
This is a problem in both 2.1.1 and 2.2
This was reported by Larry at https://unfoldingword.zulipchat.com/#narrow/stream/207527-wg-tc/topic/Small.20bugs/near/192317140

[45-ACT.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4405646/45-ACT.usfm.zip)

[issue 6798.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4405647/issue.6798.mp4.zip)

![image.png](https://images

[2020-03-30 22:01] cckozie opened #6799 "The wA % complete of a project is potentially incorrect when importing an USFM file with alignments"
2.2.0 (2375ae5)
[en_ult_act_book 2.zip](https://github.com/unfoldingWord/translationCore/files/4405695/en_ult_act_book.2.zip)
This project shows 99% complete on the wA tool card.

This is the file of the exported project including alignments, and it shows 79% complete on the wA tool card.
[45-ACT.usfm.zip](https://github.com/unfoldingWord/translationCore/files/4405699/45-ACT.usfm.zip)

The wA % co

[2020-03-31 03:04] elsylambert commented on #6219
Still an issue in 2.2.0 (2375ae5).

[2020-03-31 03:09] elsylambert commented on #6223
Still an issue in 2.2.0 (2375ae5).

[2020-03-31 09:48] da1nerd commented on #6351
So far I have made links visible again, added a click handler that passes the event up.

@benjore can you confirm how you want the article displayed? Do you want the sidebar to open  and display the article or do you want the dialog to pop up with the article?

If we display the article in the sidebar how do you want to go back to viewing the original article? On that note, I've only seen one link

[2020-03-31 14:43] cckozie opened #6800 "Project import and selection fail with alert that auto-dismisses"
2.2.0 (2375ae5)
https://git.door43.org/tc02/en_ultd_rev_book
The importing of this project ends before progressing to the Tools page. The "Cannot read property 'replace' of undefined" alert is displayed for less than 1 second before automatically being dismissed and the user returned to the projects page. The same thing happens when selecting the project after the import. No relevant console error

[2020-03-31 15:24] cckozie commented on #6401
2.2.0 (2375ae5)
Downloaded all resources with no console errors other than a single socket timeout.

[2020-03-31 15:24] #6401 closed, assigned to nobody

[2020-03-31 15:25] cckozie commented on #6398
Still seeing this on various project in  2.2.0 (2375ae5)

[2020-03-31 15:33] cckozie commented on #6377
2.2.0 (2375ae5)
The problem still exists but is a little different. Now after the import of the second file the wA card shows 100% complete and 16 broken links.

[2020-03-31 15:46] cckozie commented on #6375
This is a content problem. I notified Russ Perry.
![image](https://user-images.githubusercontent.com/8171759/78046521-dfe85a00-733c-11ea-9e49-f00932c66bfb.png)

[2020-03-31 15:53] cckozie commented on #6350
I don't know how to replicate.

[2020-03-31 16:09] cckozie commented on #6329
In 2.2.0 (2375ae5) it now displays the Critical Errors screen.

[2020-03-31 16:24] cckozie commented on #6317
Still a problem, but different, in  2.2.0 (2375ae5). In this case I made a selection in tW,  changed the text in the text I made from 'were' to 'was' in the exported usfm file, then imported the edited usfm file using the overwrite options.
Now the edit does show as expected, the tool card shows a broken link as expected, but the checkmark remains on the check, the previously selected text is show

[2020-03-31 16:59] cckozie opened #6801 "The (te) resource still shows in the update resource selection screen even after it has been downloaded"
2.2.0 (2375ae5)
Clear the messages in the console log
Open the source content selection screen
Click on the "Select All" option
Verify that all of the resource checkboxes are actually checked
Click the Download button
Wait for the download to complete successfully
Note that there are no errors in the console log other than possibly a socket timeout
Go back to the content download selection screen

[2020-03-31 17:01] cckozie commented on #6281
I did not see this problem in 2.2.0 (2375ae5)

[2020-03-31 17:36] jag3773 opened #6802 "Jonah 4:2 Highlighting Issue"
Using tC 2.1.1 and the latest content as of today (UTN v28) I see in the tN tool for Jonah that there is an incomplete highlight of the snippet.  I'm not sure if this is a bug in the code, or some sort of unseen snippet mismatch?

The oddity is that only *part of the snippet* is being highlighted.  In other snippet problems usually there is a content warning dialog that is shown but in this case t

[2020-03-31 19:38] cckozie opened #6803 "Unexpected result when selecting to download resources after tC upgrade."
2.2.0 (2375ae5)
I was running 2.1.1 and downloaded the latest en, es-419, and pt-br resources
I then upgraded to 2.2.0 (2375ae5)
When viewing the resource download screen I am seeing all 3 of the above languages as well as hbo as having upgrades available for download.
None of those languages display a date for the local version of the language
![image.png](https://images.zenhubusercontent.com/56e

[2020-03-31 19:42] cckozie commented on #6281
Seeing something similar (I think) in 2.2.0 (2375ae5).
See #6803

[2020-03-31 19:43] cckozie commented on #6235
Closing this since we no longer delete resources that will not be replaced during the upgrade.

[2020-03-31 19:43] #6235 closed, assigned to nobody

[2020-03-31 19:44] cckozie commented on #6367
Accidentally closed. This is still a desired feature.

[2020-03-31 21:06] #6375 closed, assigned to nobody

[2020-03-31 21:12] cckozie commented on #6179
Loading this project in tW is much faster in 2.2

[2020-03-31 21:12] #6179 closed, assigned to nobody

[2020-03-31 21:19] cckozie commented on #6123
Still a problem in 2.2.0 (2375ae5)

[2020-03-31 21:21] cckozie commented on #6070
Should be considered when working on the performance of editing.

[2020-03-31 21:25] cckozie commented on #6388
Still a problem in 2.2.0 (2375ae5)

[2020-03-31 21:30] cckozie commented on #6247
2.2.0 (2375ae5) Still not seeing any difference of OT vs NT, or even on size of project. Closing.

[2020-03-31 21:30] #6247 closed, assigned to nobody

[2020-03-31 21:38] cckozie commented on #5309
Problem as noted by Elsy above still exists in 2.2.0 (2375ae5).
There should be a user friendly message indicating something like the book designation does not match the contents

[2020-03-31 21:45] cckozie commented on #5865
Still a problem in 2.2.0 (2375ae5)

[2020-03-31 21:46] cckozie commented on #5707
Still a problem in 2.2.0 (2375ae5)

[2020-03-31 22:26] cckozie commented on #5653
This is still a problem in 2.2.0 (2375ae5)

[2020-03-31 22:28] cckozie commented on #5635
This is still a problem in 2.2.0 (2375ae5)

[2020-03-31 22:31] cckozie commented on #5530
Still a problem in 2.2.0 (2375ae5)

[2020-03-31 22:34] cckozie commented on #5519
Because we have had no other reported incidents of similar behavior, I'm closing this issue.

[2020-03-31 22:34] #5519 closed, assigned to nobody

[2020-03-31 22:40] cckozie commented on #4290
Stil a problem in 2.2.0 (2375ae5)

[2020-03-31 22:42] cckozie commented on #5340
Still a problem in 2.2.0 (2375ae5)

[2020-03-31 22:43] cckozie commented on #5947
Still a problem in 2.2.0 (2375ae5)

[2020-03-31 22:44] cckozie commented on #4249
Still the same in 2.2.0 (2375ae5)

[2020-03-31 22:45] cckozie commented on #3558
Still the same in 2.2.0 (2375ae5)

[2020-03-31 22:48] cckozie commented on #5784
Still an issue in 2.2.0 (2375ae5)

[2020-03-31 22:52] cckozie commented on #5242
In 2.2.0 (2375ae5), the "Unable to connect to the server. Please check your Internet connection." message has been fixed. Unable to test the others because of others because of bugs that cause the wrong message to be displayed.

[2020-03-31 22:54] cckozie commented on #5115
Still the same in 2.2.0 (2375ae5)

[2020-03-31 22:57] cckozie commented on #5348
Still a problem in 2.2.0 (2375ae5)

[2020-03-31 22:58] cckozie commented on #5347
No change in 2.2.0 (2375ae5)

[2020-03-31 22:59] cckozie commented on #4566
No change in 2.2.0 (2375ae5)

[2020-03-31 23:00] cckozie commented on #4806
Still the same in 2.2.0 (2375ae5)

[2020-04-01 14:25] mannycolon opened #6804 "Bring back logger to electron-main"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ] Discuss if this is even needed.
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-01 15:59] mannycolon opened #6805 "Use Webpack CSS loaders to load CSS files instead of importing in the code."
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-01 16:01] mannycolon opened #6806 "Use Webpack's file loaders to load fonts"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-01 16:17] cckozie commented on #5128
The last plan (which was a long time ago) was to have the percent complete on the wA tools card represent the percentage of words that have been aligned, not the percentage of verses. This was considered a better measure since some verses may be fully aligned except for a couple of words waiting on feedback. If every verse was in that state, the wA card would show 0% even though most of the work h

[2020-04-01 16:22] cckozie commented on #5151
Do we want to change this so that it's consistent everywhere?

[2020-04-01 16:25] cckozie commented on #4241
No change in 2.2.0 (2375ae5)

[2020-04-01 16:32] cckozie commented on #5029
This has been fixed in 2.2.0 (2375ae5)

[2020-04-01 16:32] #5029 closed, assigned to nobody

[2020-04-01 16:36] cckozie commented on #3411
Migration of referenced project is still not supported in  2.2.0 (2375ae5). "Book not supported" message is displayed. Should be fixed by #4491.

[2020-04-01 16:38] cckozie commented on #4997
No change in 2.2.0 (2375ae5)

[2020-04-01 16:39] cckozie commented on #3608
In 2.2.0 (2375ae5) user receives the alert of Book not supported.
If we don't want to implement the suggestion in my first comment, I think it would be better to inform the user that the book is not identified in the usfm file rather than it is not supported.

[2020-04-01 16:45] cckozie commented on #5387
In 2.2.0 (2375ae5) the alert Book not supported is shown. Something like Unknown book might be better.

[2020-04-01 17:06] cckozie commented on #4624
In 2.2.0 (2375ae5) it looks like the messaging is consistent.

[2020-04-01 17:06] #4624 closed, assigned to nobody

[2020-04-01 17:22] cckozie commented on #4630
No longer seeing the problems in 2.2.0 (2375ae5)

[2020-04-01 17:22] #4630 closed, assigned to nobody

[2020-04-01 17:22] cckozie commented on #4139
This has been fixed in 2.2.0 (2375ae5)

[2020-04-01 17:22] #4139 closed, assigned to nobody

[2020-04-01 17:30] cckozie commented on #3664
Tested in 2.2.0 (2375ae5) and modified first comment based on findings.

[2020-04-01 17:31] cckozie commented on #3546
Still an issue in (2375ae5)

[2020-04-01 17:33] cckozie commented on #3506
Still a problem in 2.2.0 (2375ae5)

[2020-04-01 17:39] cckozie commented on #6228
Still a problem in 2.2.0 (2375ae5)

[2020-04-01 17:41] cckozie commented on #3646
Per above comment, this has been fixed and is still fixed in 2.2.0 (2375ae5)

[2020-04-01 17:41] #3646 closed, assigned to nobody

[2020-04-01 17:44] cckozie commented on #3926
Still exists in 2.2.0 (2375ae5)

[2020-04-01 17:47] cckozie commented on #6417
The remaining part of this will be handled by #4142

[2020-04-01 17:47] #6417 closed, assigned to nobody

[2020-04-01 17:48] cckozie commented on #4142
Still exists in 2.2.0 (2375ae5)

[2020-04-01 19:05] cckozie commented on #4217
The pages is the same in 2.2.0 (2375ae5) as in the above comment. I'm thinking there must be two different blue close buttons, this one and the one used to close the expanded scripture pane. That one is localized, so this screen should use the same button so we don't need two localizations for the same string.

[2020-04-01 19:07] cckozie commented on #4258
Same in  in  2.2.0 (2375ae5)

[2020-04-01 19:09] cckozie commented on #4262
Remains the same in 2.2.0 (2375ae5)

[2020-04-01 19:09] cckozie commented on #4259
Closing based on Jesse's comment.

[2020-04-01 19:09] #4259 closed, assigned to nobody

[2020-04-01 19:11] cckozie commented on #4239
Remains the same in 2.2.0 (2375ae5)

[2020-04-01 19:15] cckozie commented on #4168
Remains the same in all tools in 2.2.0 (2375ae5)

[2020-04-01 19:24] cckozie commented on #4331
No change in 2.2.0 (2375ae5)

[2020-04-01 19:28] cckozie commented on #4409
No longer a problem in 2.2.0 (2375ae5) since we now highlight spaces between adjacent highlighted words.

[2020-04-01 19:28] #4409 closed, assigned to nobody

[2020-04-01 19:31] cckozie commented on #3621
Same in 2.2.0 (2375ae5)

[2020-04-01 19:32] cckozie commented on #3673
Same in 2.2.0 (2375ae5)

[2020-04-01 19:36] cckozie commented on #3683
No change in 2.2.0 (2375ae5)

[2020-04-01 19:37] cckozie commented on #3860
Still a problem in 2.2.0 (2375ae5)

[2020-04-01 19:40] cckozie commented on #6099
This is a dup or #4487

[2020-04-01 19:40] #6099 closed, assigned to nobody

[2020-04-01 19:41] cckozie commented on #4487
Still a problem in 2.2.0 (2375ae5)

[2020-04-01 19:43] cckozie commented on #4488
Still a problem in 2.2.0 (2375ae5)

[2020-04-01 19:48] cckozie commented on #4749
In 2.2.0 (2375ae5) both problems are part of the same alert as they should be.

[2020-04-01 19:48] #4749 closed, assigned to nobody

[2020-04-01 19:51] cckozie commented on #4745
Still exists in 2.2.0 (2375ae5)

[2020-04-01 19:53] cckozie commented on #4746
Not seeing this error in 2.2.0 (2375ae5). There are other errors that should get caught based on #6733

[2020-04-01 19:54] #4746 closed, assigned to nobody

[2020-04-01 21:54] elsylambert commented on #6621
Not seeing Issue A and B in 2.2.0 (2375ae5) but still seeing Issue C.

[2020-04-01 21:59] elsylambert commented on #5977
Not seeing this issue in 2.2.0 (2375ae5).

[2020-04-01 21:59] #5977 closed, assigned to nobody

[2020-04-01 22:11] elsylambert commented on #5993
Not seeing this issue with updated ugnt bundled with the app in  2.2.0 (2375ae5).

[2020-04-01 22:11] #5993 closed, assigned to nobody

[2020-04-01 22:24] elsylambert commented on #6232
Not an issue in  2.2.0 (2375ae5).

[2020-04-01 22:33] elsylambert commented on #6408
@cckozie Do you still have this project with you?

[2020-04-01 22:40] elsylambert commented on #6478
Not seeing this issue in  2.2.0 (2375ae5).

[2020-04-01 22:40] #6478 closed, assigned to nobody

[2020-04-01 22:43] elsylambert commented on #6479
Not seeing this issue in  2.2.0 (2375ae5).

[2020-04-01 22:43] #6479 closed, assigned to nobody

[2020-04-01 23:39] cckozie commented on #6408
@elsylambert - I'm closing this issue since there really is no way to test it now that the username and associated repos no longer exists on Door43. I don't think it's something we need to worry about in the future.

[2020-04-01 23:39] #6408 closed, assigned to nobody

[2020-04-02 00:05] cckozie opened #6807 "Encountered "Unable to finish checking for source content updates." error when checkinjg for updated resources"
2.2.0 (2375ae5)
Imported Jonah ULT usfm project
Loaded in tN and navigated to 1:6 under Assumed knowledge
Clicked the Actions button
Clicked the Check for content updates option
Received the error
Returned to Projects page and attempted the update from there. Same result.
Closed and reopened tC
Tried again from the projects page with the same result.
![Screen Shot 2020-04-01 at 7 04 13 PM](https:/

[2020-04-02 00:08] cckozie commented on #6807
This was caused by having a zipped file in the en resources. My bad.

[2020-04-02 00:08] #6807 closed, assigned to nobody

[2020-04-02 12:57] PhotoNomad0 commented on #6732
Note:

- was able to get redux-logger to run using state transformers - but very slow compared to older electron version we were using and with large book like acts it takes a very long time and start running into out-of-memory warnings.
- tried electron 7.2.1 and redux-logger did not crash, but it also runs slower than v3.x, still see low memory crashes.
- tried electron 8.2.0 and see crash quick

[2020-04-02 16:47] PhotoNomad0 commented on #6721
@cckozie @birchamp - there is not much to go on here.  What version of tCore?  What version of resources?  If he was using 2.1.1 a log file or or zipped project give tell us some details.

[2020-04-02 17:15] cckozie commented on #6721
@PhotoNomad0
Here is a log from 2.1.1 using the latest resources and accessing the checks in question.
tC indicated a problem with each of the checks except for 4:19 in How to translate names.
[Thu Apr 02 2020.log.zip](https://github.com/unfoldingWord/translationCore/files/4422505/Thu.Apr.02.2020.log.zip)
I imported and used this project:
[08-RUT.usfm.zip](https://github.com/unfoldingWord/translat

[2020-04-02 21:14] cckozie commented on #6802
In looking at the referenced snippet, the OrigQuote contains the character \u05be, but I'm not seeing that character in the en ULT alignments for Jonah 4:2. Is it breaking when we try to highlight the ULT and can't find that character there?
Whatever the case, we should either highlight properly or display the content problem with check alert

[2020-04-03 12:35] PhotoNomad0 commented on #6721
@cckozie @birchamp - it looks like tsv-groupdata-parser is calling the string-punctuation-tokenizer, and it is splitting words at a Word Joiner (U+2060).  It looks like we haven't added support for the Word Joiner since we switched the uhb from using ZERO WIDTH JOINER.

This would also impact exports with alignments.

The fix is trivial in string-punctuation-tokenizer, then a little work adding so

[2020-04-03 13:07] mannycolon opened #6810 "Add app icon back to tC builds"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-03 13:16] mannycolon opened #6811 "Builds are now missing commit hash"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-03 15:52] cckozie opened #6812 "tW logo not showing on tW card"
![image](https://user-images.githubusercontent.com/8171759/78380230-2803b880-7599-11ea-9715-6883a11b97a1.png)

[2020-04-03 16:00] cckozie opened #6813 "No indicator of processing during export to csv"
[6813.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4428473/6813.mp4.zip)

[2020-04-03 16:12] cckozie opened #6814 "Wrong message when 'reimporting' from D43"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-03 16:14] cckozie opened #6815 ""See more" links on licenses page do not work"

[2020-04-03 16:28] cckozie opened #6816 "Licenses pages is displayed after selecting a previous imported project"
Import a couple projects
Select a different project than the previously selected one
Note that the licenses page is displayed even though a license was previously assigned

[2020-04-03 18:13] cckozie opened #6817 "Thinner fonts on primary buttons, dialog title bars, tool menus, and pretty much all text."
The primary buttons and dialog title bars (both are elements of white text on blue background) now have what appear to be thinner fonts. Possibly they were bolded in the previous builds?
Here are two comparison examples:
In 2.1.1
![Access Inet 2.1.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/aa0b0910-7aba-4d9a-abc3-2e67f3b51f91)

In Electronite
![Access internet.png](https://

[2020-04-03 18:32] cckozie commented on #6817
Need feedback from @birchamp on these:
To my eye, the scripture pane text is slightly thinner in the Electronite build. Do we want to change it? (Is the font in 2.2.1 just a darker color?)
in 2.2.1
<img width="762" alt="hebrew 2 1" src="https://user-images.githubusercontent.com/8171759/78393480-8176e200-75af-11ea-9d7a-f782f5a7c78d.png">

In Electronite
<img width="774" alt="hebrew" src="https://us

[2020-04-04 03:41] cckozie commented on #6669
2.1.1 was 685 MB
Electronite is 324MB, smaller than any previous release since 0.9.1.

[2020-04-04 17:35] PhotoNomad0 commented on #6721
@cckozie @birchamp - an update here:  @klappy already had a fix for string-punctuation-tokenizer, but it had not made it all the way through publishing as an official npm package.  We worked together to publish this as version 2.0.0.  Now it looks like all that is needed is to integrate it into tC - 4 or more PRs.

This sprint is completed now.  Just need decision on when to pull this in.

[2020-04-06 13:42] elsylambert opened #6819 "wA in existing projects throwing critical error screen"
2.2 electonite build c0805a9.

Opened the Previously opened projects in wordAlignment tool. For most of the projects, I am getting critical error screen.
<img width="1904" alt="Screen Shot 2020-04-06 at 9 36 28 AM" src="https://user-images.githubusercontent.com/51806180/78564827-0568de00-77eb-11ea-840a-af436ef5dc7d.png">
Here is the log file:
[Mon Apr 06 2020.log.zip](https://github.com/unfoldingW

[2020-04-06 13:45] elsylambert opened #6820 "Header missing in wordAlignment Tool"
Please see the snapshot below:

<img width="1904" alt="Screen Shot 2020-04-06 at 9 37 41 AM" src="https://user-images.githubusercontent.com/51806180/78565111-6c869280-77eb-11ea-99bd-673f847e9f17.png">

Not able to go back the stepper as the header/stepper part is not seen.
This is happening with some Projects, here are two sample projects:
[hi_irv_act_book.zip](https://github.com/unfoldingWord/tra

[2020-04-06 14:50] elsylambert opened #6822 "Export to CSV failing for some projects"
Export to CSV failing for some projects, here :
[en_newl_rev_book.zip](https://github.com/unfoldingWord/translationCore/files/4439085/en_newl_rev_book.zip)
[en_prct_tit_book.zip](https://github.com/unfoldingWord/translationCore/files/4439087/en_prct_tit_book.zip)
<img width="1904" alt="Screen Shot 2020-04-06 at 10 48 33 AM" src="https://user-images.githubusercontent.com/51806180/78571732-8aa4c080-

[2020-04-06 16:23] cckozie opened #6823 "tC rearranges the resources in the scripture pane after stopping and restarting"
1. Start by deleting both translationCore folders
2. Import a usfm project
3. Load the project in tW
4. Rearrange the scripture pane to include the resources in this order: current project, UGNT, ULT
5. Return to the projects page
6. Close and reopen tC
7. Import a usfm project
8. Load the new project in tW
9. Note the the scripture pane now shows left to right the ULT  and the current project onl

[2020-04-06 18:15] cckozie opened #6824 "Change in initial cursor location when editing a verse"
In all previous versions of tC, when a user opens an edit dialog the cursor is set to the end of the verse text.
In the electronite builds, the cursor is set to the beginning of the text. This may not be a defect, but the change in behavior could prove confusing/frustrating for existing users.

[2020-04-06 21:51] mannycolon commented on #6769
Verified on c0805a9

[2020-04-07 03:28] RobH123 commented on #6802
Ok @cckozie @jag3773, **maqaf** is common Heb punctuation. UHB Jonah contains 104 of them but they're ALL between \w words \w*. (Some maqafs DO occur INSIDE words in about half of the OT books, but not in Jonah.)

tX only compares UTN quotes with Heb/Grk. It currently doesn't look at ULT/UST alignments. But those alignments don't include interword punctuation anyway (ULT Jonah correctly contains z

[2020-04-07 07:33] da1nerd commented on #6351
in order to display the correct title we'll need to add a callback to the tc-ui-toolkit. Something like `onRenderRCLink`. This should give the current link and give the developer an opportunity to rewrite either the title or the href

[2020-04-07 08:30] da1nerd commented on #6621
for issue C what is the link `../01/13/je3r` referring to?

[2020-04-07 11:12] PhotoNomad0 commented on #6811
Verified in translationCore 2.2.0 (3e29140)

[2020-04-07 12:00] cckozie commented on #6820
On my Mac it looks like it's a positioning problem, not that it's missing
![Screen Shot 2020-04-07 at 6 59 56 AM](https://user-images.githubusercontent.com/8171759/78666769-749f0a80-789d-11ea-8281-9270f94aab8f.jpg)

[2020-04-07 12:02] cckozie commented on #6819
I'm not seeing this one on my Mac.

[2020-04-07 12:04] cckozie commented on #6822
Not seeing this on my Mac using the Revelation project, but I do see it with the Titus one.

[2020-04-07 12:51] cckozie commented on #6769
Looks good in 2.2.0 (3e29140)

[2020-04-07 12:52] cckozie commented on #6811
Seeing the hash in 2.2.0 (3e29140)

[2020-04-07 14:25] cckozie opened #6826 "Different font is used on tC startup screen"
2.1.1
![Screen Shot 2020-04-07 at 9.22.16 AM.jpg](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c93eea39-b2cf-47f1-ae16-535fd1773ccc)

2.2.0 (3e29140)
![Screen Shot 2020-04-07 at 9.19.49 AM.jpg](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/8cd3ece0-ed21-4610-9816-87c0d04c4947)

[2020-04-07 14:42] jag3773 commented on #6802
I think #6721 has the fix for this?

[2020-04-07 15:55] PhotoNomad0 commented on #6806
Note: tried using tips in https://stackoverflow.com/questions/37671342/how-to-load-image-files-with-webpack-file-loader, but does not seem to be working in craco environment.

[2020-04-07 17:28] cckozie opened #6827 "Performance issues"
2.2.0 (3e29140)
[tC_performance-el.xls.zip](https://github.com/unfoldingWord/translationCore/files/4446128/tC_performance-el.xls.zip)

There have been some significant performance improvements in the Electronite builds, but also some areas that have seen significant performance degradations.
These comparisons were made to the average of all timings made during the development and release of 2.1.0.

[2020-04-07 19:07] #6627 closed, assigned to da1nerd

[2020-04-07 19:07] #6656 closed, assigned to mannycolon

[2020-04-07 19:07] #6793 closed, assigned to nobody

[2020-04-07 19:07] #6669 closed, assigned to da1nerd

[2020-04-07 19:08] #6777 closed, assigned to mannycolon

[2020-04-07 19:09] #6751 closed, assigned to mannycolon

[2020-04-07 19:09] #6768 closed, assigned to mannycolon

[2020-04-07 19:09] #6729 closed, assigned to mannycolon

[2020-04-07 19:10] #6730 closed, assigned to PhotoNomad0

[2020-04-07 19:11] #6660 closed, assigned to da1nerd

[2020-04-07 19:12] #6535 closed, assigned to PhotoNomad0

[2020-04-07 19:12] #6731 closed, assigned to PhotoNomad0

[2020-04-07 19:12] #6766 closed, assigned to PhotoNomad0

[2020-04-07 19:15] birchamp opened #6829 "Merge Sandbox Electronite into Develop branch"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-07 19:32] birchamp opened #6830 "Need to find fix for redux-logger crashing app"
see #6732

[2020-04-07 20:07] birchamp commented on #6788
@jag3773 do you have contacts that can verify complex script rendering?

[2020-04-07 20:31] birchamp opened #6831 "Ruth tN "problem with content" error"
This is the issue that was produced from the Spike #6721

[2020-04-08 11:25] PhotoNomad0 commented on #6831
**Steps to be done:**

string-punctuation-tokenizer v2.0.0 has some API changes.

Modules that will have to be updated with string-punctuation-tokenizer v2.0.0:

1. word-aligner v0.2.15 - update dependencies:
    - [x] string-punctuation-tokenizer

2. wordmap-lexer v0.3.5 - update dependencies:
    - [x] string-punctuation-tokenizer

3. tsv-groupdata-parser v0.9.15 - update dependencies:
    - [x]

[2020-04-08 11:31] PhotoNomad0 commented on #6732
Note:

Maybe crashes due to increased js memory consumption of electron/chrome.  Could start by comparing amount of free memory between old electron and new electron in tCore.

[2020-04-08 13:06] #6721 closed, assigned to PhotoNomad0

[2020-04-08 13:07] #6732 closed, assigned to PhotoNomad0, mannycolon

[2020-04-08 13:13] cckozie commented on #6817
Should be fixed by #6805 or #6832

[2020-04-08 13:20] birchamp opened #6832 "Use Webpack's file loaders to load images"
## Story Explanation
### User Story

As a [type of user], I want [some goal] so that [some reason].

### Features / Specifications

- [ ]
- [ ]
- [ ]

### Definition of Done

- [ ]
- [ ]
- [ ]

## Additional Context
### Mockups

[2020-04-08 13:30] birchamp opened #6833 "2.1.2 hotfix release"
Release Steps Sign Off

### Features / Specifications

### Definition of Done

- [x] QA signs off on specific build in regression testing: current for v2.1.2, enter build number here: 44c92e9
- [x] Update changelog
- [x] Update Release Notes - add release notes here: https://github.com/unfoldingWord/translationCore/releases
- [x] Update language database in tCore ~(Note: this has not been updated

[2020-04-08 13:54] elsylambert commented on #6811
Looks good in 2.2.0 (3e29140).

[2020-04-08 13:55] elsylambert commented on #6769
Looks good in 2.2.0 (3e29140).

[2020-04-08 13:59] birchamp commented on #6831
DoD: All tN checks will open without error for the book of Ruth unless there are actual content problems.

[2020-04-08 14:10] birchamp commented on #6805
DoD: CSS stylings on tC work.
#6820 Menu bar/header
background colors

[2020-04-08 14:11] birchamp commented on #6823
~~DoD: Scripture pane configuration remains the same after restarting tC.~~
DoD: Scripture pane configuration is as it was in previous releases: i.e. target language, original language, others as the user had configured them.

[2020-04-08 14:11] birchamp commented on #6833
DoD: 2.1.2 hotfix is published.

[2020-04-08 14:39] da1nerd commented on #6351
the code part here is basically done. I just need to figure out what version to tag them as and then publish the npm modules.

[2020-04-08 15:34] PhotoNomad0 commented on #6823
Notes:

Defining the problem.  Observations:
- settings path is `~/Library/Application Support/translationCore/settings.json`.  The path looks good.
- see problem that when the app restarts, the tool toolsSettings gets cleared - ~suspect a race condition is happening~.  Confirmed that tCore is writing default settings to file on startup.  It should not be saving until after current settings have b

[2020-04-08 20:20] PhotoNomad0 commented on #6831
Found more items that are breakages not due to word joiner:

- it looks like we are not splitting words on `Hebrew Punctuation Maqaf U+05BE`
![Screen Shot 2020-04-08 at 4 11 51 PM](https://user-images.githubusercontent.com/14238574/78829644-b8d0fe80-79b4-11ea-807d-253b3015d3fa.png)

- the quote string is `אֶת־דָּוִֽד` - it looks like we are not splitting words on `Hebrew Punctuation Maqaf U+05BE`

[2020-04-08 23:50] joeldruark opened #6834 "problem in tW tool [Jonah]"
See also #6802

### Prerequisites
I have not looked through all the whole issue queue to see if this is a duplicate.

### Description
In Jonah 1:2, the TW tool is not finding/showing the link to kt/call
In Jonah 2:8, the TW tool is finding/showing a link to kt/falsegod that has been removed and should not be there.
In Jonah 4:3 –– the TW tool is not finding/showing two different links to kt/life i

[2020-04-09 04:56] mannycolon commented on #6805
https://create-react-app.dev/docs/using-the-public-folder

[2020-04-09 04:56] mannycolon commented on #6806
https://create-react-app.dev/docs/using-the-public-folder

[2020-04-09 14:59] elsylambert opened #6837 "wordAlignment - the occurrence number is missing when there is a punctuation"
Please see the snapshot below: wordAlignment - the occurrence number is missing at one instance while it appear correctly at two other places in the same verse.
![Screen Shot 2020-04-09 at 10.44.44 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/a339d139-444b-4a52-ba52-675ece28906c)
Jehoshaphat: has same lemma and strong number
This is happening in Mathew chapter 1 and verses

[2020-04-09 15:15] cckozie opened #6838 "Starting tC on a clean machine is very slow"
2.2.0 (eb84081) (Electronite) takes 206 seconds to open
2.2.0 (2375ae5) (non-Electronite) takes 239 seconds to open
2.1.1 (17b9e26) takes 208 seconds to open

[2020-04-13 12:50] jag3773 commented on #4401
Assuming the LICENSE file is included in the resource downloads, an informational pop up message could show the contents of that file for any resource in the app.

[2020-04-13 13:20] birchamp commented on #978
How will the case for restoring over an existing project be handled? Will this take them to the stepper and detect a conflict.

 1. Overwrite, or cancel

[2020-04-13 13:24] birchamp opened #6840 "Add Graphite to Electron v 7 for a new version of Electronite"
The steps for building with a new version of Electron should be well documented.

[2020-04-13 15:38] PhotoNomad0 commented on #6831
Verified in translationCore 2.1.2 (44c92e9)  - can open all ruth checks in tN.

[2020-04-13 16:24] PhotoNomad0 commented on #6351
Verified in translationCore 2.2.0 (d5cfaa9)

[2020-04-13 17:51] jag3773 commented on #6788
First test should be run against https://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_fontdemo but If that passes I can send a screenshot for expert review.

[2020-04-13 20:02] cckozie commented on #6802
Moving this to In QA since we believe the 2.1.2 hotfix will resolve this issue too.

[2020-04-13 21:37] elsylambert commented on #6831
2.1.2 (44c92e9). Not seeing content error message in the tN Checks for Ruth.

[2020-04-13 23:16] mannycolon commented on #6812
Will be address by https://github.com/unfoldingWord/translationCore/pull/6842

[2020-04-14 03:39] da1nerd commented on #6840
Once the patch is ready, here are the build instructions for windows https://github.com/unfoldingWord/translationCore/issues/6660#issuecomment-581279916.

[2020-04-14 11:15] PhotoNomad0 opened #6843 "Build number is not shown on Linux local builds"
The build number is not shown on Linux (shows as undefined) in local build.  Tested on Linux Mate - local build (both develop and production).  See warning that dotenv failed.

Sidenote - github actions build does show build number.  So this may not be important to fix now.

[2020-04-14 12:02] cckozie commented on #6802
The problem noted in verse 4:2 is now fixed in 2.1.2 (44c92e9)
tC reporting content problem in the second check on 1:2 under Metonymy. Need to check further.
Unicode characters in the resources:
ult:
u'"content": "\u05dc\u05b0\u2060\u05e4\u05b8\u05e0\u05b8\u05bd\u2060\u05d9",\n'
hbo:
u'"text": "\u05dc\u05b0\u2060\u05e4\u05b8\u05e0\u05b8\u05bd\u2060\u05d9",\n'
tN:
u'"quote": " \u05dc\u05b0\u2060\u0

[2020-04-14 12:04] cckozie commented on #6831
2.1.2 (44c92e9)
No content errors reported in tN for Ruth.

[2020-04-14 13:40] PhotoNomad0 commented on #6802
@cckozie

the tN check is ` לְ⁠פָנָֽ⁠`, but the UHB has `לְ⁠פָנָֽ⁠י`.  It looks like the Hebrew Letter Yod (U+05D9) is missing at the end.  As well as an extra space in the check.

[2020-04-14 15:06] jag3773 commented on #5866
@birchamp I do think that adding support for https://github.com/Copenhagen-Alliance/versification-specification/tree/master/versification-mappings is the right direction to go.

I think that the user story here needs defined well.  e.g. as it is titled there isn't really any benefit to the user, it's just a technical swap with no value.  If this issue is to support any versification system so that

[2020-04-14 20:43] PhotoNomad0 commented on #6823
Verified in translationCore 2.2.0 (46f316b)

[2020-04-14 21:11] cckozie opened #6845 "No indicator of processing after alignments invalidated message when uploading to Door43"
2.2.0 (ba86e6a)  and 2.1.1
Project at https://drive.google.com/open?id=1nkSWNnvqHw_QVDaU5dIzNf9GZetrEB4Y

[upload Luke.mp4.zip](https://github.com/unfoldingWord/translationCore/files/4477925/upload.Luke.mp4.zip)

This project came from the field in India. I'm not sure when it was started, but it did get migrated to 2.1.0 and then to 2.1.1. (The screen recording was made using 2.1.1, but it looks t

[2020-04-14 21:17] cckozie opened #6846 ""No translationCore default tools found." error message after selecting a project"
2.2.0 (ba86e6a)
This worked correctly in 2.2.0 (a9c8b0c)
Select an existing project or import a usfm project. No tools displayed on the tools page.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/016750ea-1715-4428-b533-fe80c26b0678)